{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Frame.io v4 Universal API",
    "version": "0.0.9",
    "description": "Review, share, and manage media projects and files"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/frameioV4/latest/actions/copy-file": {
      "post": {
        "operationId": "frameioV4.copy-file",
        "summary": "Copy File",
        "description": "Copies a file in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/copy-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "fileId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string"
                  },
                  "copyMetadata": {
                    "type": "boolean"
                  },
                  "copyComments": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "File size in bytes"
                          },
                          "id": {
                            "type": "string",
                            "description": "File, Folder, or Version Stack ID"
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "File media type"
                          },
                          "name": {
                            "type": "string",
                            "description": "File or folder Name"
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent Folder or Version Stack ID"
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Project ID"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          },
                          "viewUrl": {
                            "type": "string",
                            "description": "URL to view the asset in the Frame.io web application"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/copy-folder": {
      "post": {
        "operationId": "frameioV4.copy-folder",
        "summary": "Copy Folder",
        "description": "Copies a folder in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/copy-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "folderId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "folderId": {
                    "type": "string"
                  },
                  "copyMetadata": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coverFileId": {
                            "type": "string",
                            "description": "Cover asset ID"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "string",
                            "description": "File, Folder, or Version Stack ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "File or folder Name"
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent Folder or Version Stack ID"
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Project ID"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          },
                          "viewUrl": {
                            "type": "string",
                            "description": "URL to view the asset in the Frame.io web application"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/copy-version-stack": {
      "post": {
        "operationId": "frameioV4.copy-version-stack",
        "summary": "Copy Version Stack",
        "description": "Copies a version stack in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/copy-version-stack"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "versionStackId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "versionStackId": {
                    "type": "string"
                  },
                  "copyMetadata": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "headVersion": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp"
                              },
                              "fileSize": {
                                "type": "number",
                                "description": "File size in bytes"
                              },
                              "id": {
                                "type": "string",
                                "description": "File, Folder, or Version Stack ID"
                              },
                              "mediaType": {
                                "type": "string",
                                "description": "File media type"
                              },
                              "name": {
                                "type": "string",
                                "description": "File or folder Name"
                              },
                              "parentId": {
                                "type": "string",
                                "description": "Parent Folder or Version Stack ID"
                              },
                              "projectId": {
                                "type": "string",
                                "description": "Project ID"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Update timestamp"
                              },
                              "viewUrl": {
                                "type": "string",
                                "description": "URL to view the asset in the Frame.io web application"
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "File, Folder, or Version Stack ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "File or folder Name"
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent Folder or Version Stack ID"
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Project ID"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          },
                          "viewUrl": {
                            "type": "string",
                            "description": "URL to view the asset in the Frame.io web application"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/create-comment": {
      "post": {
        "operationId": "frameioV4.create-comment",
        "summary": "Create Comment",
        "description": "Creates a new comment in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "fileId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string"
                  },
                  "timestampAsTimecode": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "annotation": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Completion timestamp"
                          },
                          "completerId": {
                            "type": "string",
                            "description": "ID of user who marked the comment as completed"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "fileId": {
                            "type": "string",
                            "description": "File ID"
                          },
                          "id": {
                            "type": "string",
                            "description": "Comment ID"
                          },
                          "page": {
                            "type": "number",
                            "description": "Document page"
                          },
                          "text": {
                            "type": "string",
                            "description": "Comment text"
                          },
                          "textEditedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Text edited timestamp"
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Comment timecode in media. Only allowed when file type is 'audio', 'stream', or 'video'."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/create-file-local-upload": {
      "post": {
        "operationId": "frameioV4.create-file-local-upload",
        "summary": "Create File Local Upload",
        "description": "Creates a new file via local upload in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/create-file-local-upload"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "folderId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "folderId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "File size in bytes"
                          },
                          "id": {
                            "type": "string",
                            "description": "File, Folder, or Version Stack ID"
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "File media type"
                          },
                          "name": {
                            "type": "string",
                            "description": "File or folder Name"
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent Folder or Version Stack ID"
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Project ID"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          },
                          "uploadUrls": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "size": {
                                  "type": "number",
                                  "description": "Upload chunk size"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "S3 presigned URL. Client should make a PUT request to this URL that includes the \"x-amz-acl: private\" header along with the file or file chunk data."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "viewUrl": {
                            "type": "string",
                            "description": "URL to view the asset in the Frame.io web application"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/create-file-remote-upload": {
      "post": {
        "operationId": "frameioV4.create-file-remote-upload",
        "summary": "Create File Remote Upload",
        "description": "Creates a new file via remote upload in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/create-file-remote-upload"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "folderId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "folderId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "File size in bytes"
                          },
                          "id": {
                            "type": "string",
                            "description": "File, Folder, or Version Stack ID"
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "File media type"
                          },
                          "name": {
                            "type": "string",
                            "description": "File or folder Name"
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent Folder or Version Stack ID"
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Project ID"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          },
                          "viewUrl": {
                            "type": "string",
                            "description": "URL to view the asset in the Frame.io web application"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/create-folder": {
      "post": {
        "operationId": "frameioV4.create-folder",
        "summary": "Create Folder",
        "description": "Creates a new subfolder in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "folderId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "folderId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coverFileId": {
                            "type": "string",
                            "description": "Cover asset ID"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "string",
                            "description": "File, Folder, or Version Stack ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "File or folder Name"
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent Folder or Version Stack ID"
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Project ID"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          },
                          "viewUrl": {
                            "type": "string",
                            "description": "URL to view the asset in the Frame.io web application"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/create-project": {
      "post": {
        "operationId": "frameioV4.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "workspaceId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Created Timestamp"
                          },
                          "id": {
                            "type": "string",
                            "description": "Project ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Project Name"
                          },
                          "restricted": {
                            "type": "boolean",
                            "description": "Whether the project is restricted or not"
                          },
                          "rootFolderId": {
                            "type": "string",
                            "description": "Root Folder ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "Project Status"
                          },
                          "storage": {
                            "type": "number",
                            "description": "Storage Usage"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Updated Timestamp"
                          },
                          "viewUrl": {
                            "type": "string",
                            "description": "URL to view the project in the Frame.io web application"
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "Workspace ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/create-share": {
      "post": {
        "operationId": "frameioV4.create-share",
        "summary": "Create Share",
        "description": "Creates a new share in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/create-share"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "projectId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access": {
                            "type": "string"
                          },
                          "collectionId": {
                            "type": "string",
                            "description": "Collection ID"
                          },
                          "commentingEnabled": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Share description"
                          },
                          "downloadingEnabled": {
                            "type": "boolean"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "expiration": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp"
                          },
                          "id": {
                            "type": "string",
                            "description": "Share ID"
                          },
                          "lastViewedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last viewed timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Share name"
                          },
                          "passphrase": {
                            "type": "string",
                            "description": "Passphrase to access share, if passphrase is required and not given it will be generated"
                          },
                          "shortUrl": {
                            "type": "string",
                            "description": "Share URL"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/frameioV4/latest/actions/create-version-stack": {
      "post": {
        "operationId": "frameioV4.create-version-stack",
        "summary": "Create Version Stack",
        "description": "Creates a new version stack in Frame.io v4.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/frameioV4/latest/actions/create-version-stack"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "folderId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "folderId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "creator": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "User details",
                            "properties": {
                              "active": {
                                "type": "boolean",
                                "description": "User active status"
                              },
                              "adobeUserId": {
                                "type": "string",
                                "description": "Adobe user ID"
                              },
                              "avatarUrl": {
                                "type": "string",
                                "description": "User avatar image url"
                              },
                              "email": {
                                "type": "string",
                                "description": "User email"
                              },
                              "id": {
                                "type": "string",
                                "description": "User ID - can be null for invited users with no frame account"
                              },
                              "name": {
                                "type": "string",
                                "description": "User name"
                              }
                            }
                          },
                          "headVersion": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp"
                              },
                              "creator": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "User details",
                                "properties": {
                                  "active": {
                                    "type": "boolean",
                                    "description": "User active status"
                                  },
                                  "adobeUserId": {
                                    "type": "string",
                                    "description": "Adobe user ID"
                                  },
                                  "avatarUrl": {
                                    "type": "string",
                                    "description": "User avatar image url"
                                  },
                                  "email": {
                                    "type": "string",
                                    "description": "User email"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "User ID - can be null for invited users with no frame account"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "User name"
                                  }
                                }
                              },
                              "fileSize": {
                                "type": "number",
                                "description": "File size in bytes"
                              },
                              "id": {
                                "type": "string",
                                "description": "File, Folder, or Version Stack ID"
                              },
                              "mediaLinks": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "efficient": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "downloadUrl": {
                                        "type": "string",
                                        "description": "URL to download the media file.<br/>\nHTTP response headers will include Content-Disposition = 'attachment;filename=<filename>'.<br/>\nWatermarks may be applied for transcode links as per Account settings and User permissions.<br/>"
                                      }
                                    }
                                  },
                                  "highQuality": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "downloadUrl": {
                                        "type": "string",
                                        "description": "URL to download the media file.<br/>\nHTTP response headers will include Content-Disposition = 'attachment;filename=<filename>'.<br/>\nWatermarks may be applied for transcode links as per Account settings and User permissions.<br/>"
                                      }
                                    }
                                  },
                                  "original": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "downloadUrl": {
                                        "type": "string",
                                        "description": "URL to download the media file.<br/>\nHTTP response headers will include Content-Disposition = 'attachment;filename=<filename>'.<br/>\nWatermarks may be applied for transcode links as per Account settings and User permissions.<br/>"
                                      },
                                      "inlineUrl": {
                                        "type": "string",
                                        "description": "URL to view the media file in a web browser in its original resolution and media type.<br/>\nHTTP response headers will include Content-Disposition = 'inline;filename=<filename>'.<br/>"
                                      }
                                    }
                                  },
                                  "scrubSheet": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "downloadUrl": {
                                        "type": "string",
                                        "description": "URL to download the media file.<br/>\nHTTP response headers will include Content-Disposition = 'attachment;filename=<filename>'.<br/>\nWatermarks may be applied for transcode links as per Account settings and User permissions.<br/>"
                                      },
                                      "url": {
                                        "type": "string",
                                        "description": "URL to transcoded media that won't include any Content-Disposition header in the response.<br/>\nWatermarks may be applied as per Account settings and User permissions.<br/>\nMedia content may be streamed (e.g. when watermarks are required). Clients may issue a\nHEAD request to determine whether Content-Length and/or Accept-Ranges headers are present in order\nto determine whether the content can be downloaded in parallel chunks."
                                      }
                                    }
                                  },
                                  "thumbnail": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "downloadUrl": {
                                        "type": "string",
                                        "description": "URL to download the media file.<br/>\nHTTP response headers will include Content-Disposition = 'attachment;filename=<filename>'.<br/>\nWatermarks may be applied for transcode links as per Account settings and User permissions.<br/>"
                                      },
                                      "url": {
                                        "type": "string",
                                        "description": "URL to transcoded media that won't include any Content-Disposition header in the response.<br/>\nWatermarks may be applied as per Account settings and User permissions.<br/>\nMedia content may be streamed (e.g. when watermarks are required). Clients may issue a\nHEAD request to determine whether Content-Length and/or Accept-Ranges headers are present in order\nto determine whether the content can be downloaded in parallel chunks."
                                      }
                                    }
                                  },
                                  "thumbnailHighQuality": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "downloadUrl": {
                                        "type": "string",
                                        "description": "URL to download the media file.<br/>\nHTTP response headers will include Content-Disposition = 'attachment;filename=<filename>'.<br/>\nWatermarks may be applied for transcode links as per Account settings and User permissions.<br/>"
                                      },
                                      "url": {
                                        "type": "string",
                                        "description": "URL to transcoded media that won't include any Content-Disposition header in the response.<br/>\nWatermarks may be applied as per Account settings and User permissions.<br/>\nMedia content may be streamed (e.g. when watermarks are required). Clients may issue a\nHEAD request to determine whether Content-Length and/or Accept-Ranges headers are present in order\nto determine whether the content can be downloaded in parallel chunks."
                                      }
                                    }
                                  },
                                  "videoH264180": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "downloadUrl": {
                                        "type": "string",
                                        "description": "URL to download the media file.<br/>\nHTTP response headers will include Content-Disposition = 'attachment;filename=<filename>'.<br/>\nWatermarks may be applied for transcode links as per Account settings and User permissions.<br/>"
                                      },
                                      "url": {
                                        "type": "string",
                                        "description": "URL to transcoded media that won't include any Content-Disposition header in the response.<br/>\nWatermarks may be applied as per Account settings and User permissions.<br/>\nMedia content may be streamed (e.g. when watermarks are required). Clients may issue a\nHEAD request to determine whether Content-Length and/or Accept-Ranges headers are present in order\nto determine whether the content can be downloaded in parallel chunks."
                                      }
                                    }
                                  }
                                }
                              },
                              "mediaType": {
                                "type": "string",
                                "description": "File media type"
                              },
                              "metadata": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "customMembers": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "User Id or Account User Group Id"
                                          },
                                          "type": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "fieldDefinitionId": {
                                      "type": "string",
                                      "description": "Field definition ID"
                                    },
                                    "fieldDefinitionName": {
                                      "type": "string",
                                      "description": "Field definition name"
                                    },
                                    "fieldOptions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "displayName": {
                                            "type": "string",
                                            "description": "Option display name"
                                          },
                                          "id": {
                                            "type": "string",
                                            "description": "Option ID"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "fieldType": {
                                      "type": "string",
                                      "description": "Field type"
                                    },
                                    "memberOptionsType": {
                                      "type": "string"
                                    },
                                    "mutable": {
                                      "type": "boolean",
                                      "description": "Metadata mutability. System field values cannot be updated."
                                    },
                                    "value": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "User Id or Account User Group Id"
                                          },
                                          "type": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "name": {
                                "type": "string",
                                "description": "File or Folder Name"
                              },
                              "parentId": {
                                "type": "string",
                                "description": "Parent Folder or Version Stack ID"
                              },
                              "project": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Frame.io Project",
                                "properties": {
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Created Timestamp"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Project Description"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Project ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Project Name"
                                  },
                                  "owner": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "User details",
                                    "properties": {
                                      "active": {
                                        "type": "boolean",
                                        "description": "User active status"
                                      },
                                      "adobeUserId": {
                                        "type": "string",
                                        "description": "Adobe user ID"
                                      },
                                      "avatarUrl": {
                                        "type": "string",
                                        "description": "User avatar image url"
                                      },
                                      "email": {
                                        "type": "string",
                                        "description": "User email"
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "User ID - can be null for invited users with no frame account"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "User name"
                                      }
                                    }
                                  },
                                  "restricted": {
                                    "type": "boolean",
                                    "description": "Whether the project is restricted or not"
                                  },
                                  "rootFolderId": {
                                    "type": "string",
                                    "description": "Root Folder ID"
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "Project Status"
                                  },
                                  "storage": {
                                    "type": "number",
                                    "description": "Storage Usage"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Updated Timestamp"
                                  },
                                  "viewUrl": {
                                    "type": "string",
                                    "description": "URL to view the project in the Frame.io web application"
                                  },
                                  "workspaceId": {
                                    "type": "string",
                                    "description": "Workspace ID"
                                  }
                                }
                              },
                              "projectId": {
                                "type": "string",
                                "description": "Project ID"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Update timestamp"
                              },
                              "viewUrl": {
                                "type": "string",
                                "description": "URL to view the asset in the Frame.io web application"
                              }
                            }
[...]
