{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Dandelion Universal API",
    "version": "0.0.7",
    "description": "Dandelion: Analyze text for language, entities, sentiment, similarity, and Wikipedia matches"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dandelion/latest/actions/analyze-sentiment-from-html-fragment-get": {
      "get": {
        "operationId": "dandelion.analyze-sentiment-from-html-fragment-get",
        "summary": "Analyze Sentiment From HTML Fragment via HTTP GET",
        "description": "Retrieves sentiment from an HTML fragment in Dandelion via HTTP GET.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/analyze-sentiment-from-html-fragment-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "htmlFragment",
            "in": "query",
            "required": true,
            "description": "HTML Fragment to analyze.",
            "schema": {
              "type": "string",
              "description": "HTML Fragment to analyze."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code to force sentiment analysis language.",
            "schema": {
              "type": "string",
              "description": "Language code to force sentiment analysis language."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "sentiment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/analyze-sentiment-from-html-fragment-post": {
      "get": {
        "operationId": "dandelion.analyze-sentiment-from-html-fragment-post",
        "summary": "Analyze Sentiment From HTML Fragment via HTTP POST",
        "description": "Retrieves sentiment from an HTML fragment in Dandelion via HTTP POST.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/analyze-sentiment-from-html-fragment-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "htmlFragment",
            "in": "query",
            "required": true,
            "description": "HTML Fragment to analyze.",
            "schema": {
              "type": "string",
              "description": "HTML Fragment to analyze."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code to force sentiment analysis language.",
            "schema": {
              "type": "string",
              "description": "Language code to force sentiment analysis language."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "sentiment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/analyze-sentiment-from-html-get": {
      "get": {
        "operationId": "dandelion.analyze-sentiment-from-html-get",
        "summary": "Analyze Sentiment From HTML via HTTP GET",
        "description": "Retrieves sentiment from HTML in Dandelion via HTTP GET.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/analyze-sentiment-from-html-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "html",
            "in": "query",
            "required": true,
            "description": "HTML to analyze.",
            "schema": {
              "type": "string",
              "description": "HTML to analyze."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code to force sentiment analysis language.",
            "schema": {
              "type": "string",
              "description": "Language code to force sentiment analysis language."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "sentiment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "text": {
                            "type": "string"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/analyze-sentiment-from-html-post": {
      "get": {
        "operationId": "dandelion.analyze-sentiment-from-html-post",
        "summary": "Analyze Sentiment From HTML via HTTP POST",
        "description": "Retrieves sentiment from HTML in Dandelion via HTTP POST.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/analyze-sentiment-from-html-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "html",
            "in": "query",
            "required": true,
            "description": "HTML to analyze.",
            "schema": {
              "type": "string",
              "description": "HTML to analyze."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code to force sentiment analysis language.",
            "schema": {
              "type": "string",
              "description": "Language code to force sentiment analysis language."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "sentiment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "text": {
                            "type": "string"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/analyze-sentiment-from-text-get": {
      "get": {
        "operationId": "dandelion.analyze-sentiment-from-text-get",
        "summary": "Analyze Sentiment From Text via HTTP GET",
        "description": "Retrieves sentiment from text in Dandelion via HTTP GET.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/analyze-sentiment-from-text-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to analyze.",
            "schema": {
              "type": "string",
              "description": "Text to analyze."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code to force sentiment analysis language.",
            "schema": {
              "type": "string",
              "description": "Language code to force sentiment analysis language."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "sentiment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/analyze-sentiment-from-text-post": {
      "get": {
        "operationId": "dandelion.analyze-sentiment-from-text-post",
        "summary": "Analyze Sentiment From Text via HTTP POST",
        "description": "Retrieves sentiment from text in Dandelion via HTTP POST.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/analyze-sentiment-from-text-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to analyze.",
            "schema": {
              "type": "string",
              "description": "Text to analyze."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code to force sentiment analysis language.",
            "schema": {
              "type": "string",
              "description": "Language code to force sentiment analysis language."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "sentiment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/autocomplete-wikipedia-entities-get": {
      "get": {
        "operationId": "dandelion.autocomplete-wikipedia-entities-get",
        "summary": "Autocomplete Wikipedia Entities via HTTP GET",
        "description": "Autocompletes Wikipedia entities in Dandelion via HTTP GET.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/autocomplete-wikipedia-entities-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Search text to autocomplete against Wikipedia.",
            "schema": {
              "type": "string",
              "description": "Search text to autocomplete against Wikipedia."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "description": "Language of the input text.",
            "schema": {
              "type": "string",
              "description": "Language of the input text."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Restrict results to the first N matches.",
            "schema": {
              "type": "number",
              "description": "Restrict results to the first N matches."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Start listing results from this index.",
            "schema": {
              "type": "number",
              "description": "Start listing results from this index."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of extra entity fields to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of extra entity fields to include."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "entities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "lang": {
                            "type": "string"
                          },
                          "query": {
                            "type": "string"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/autocomplete-wikipedia-entities-post": {
      "get": {
        "operationId": "dandelion.autocomplete-wikipedia-entities-post",
        "summary": "Autocomplete Wikipedia Entities via HTTP POST",
        "description": "Autocompletes Wikipedia entities in Dandelion via HTTP POST.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/autocomplete-wikipedia-entities-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Search text to autocomplete against Wikipedia.",
            "schema": {
              "type": "string",
              "description": "Search text to autocomplete against Wikipedia."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "description": "Language of the input text.",
            "schema": {
              "type": "string",
              "description": "Language of the input text."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Restrict results to the first N matches.",
            "schema": {
              "type": "number",
              "description": "Restrict results to the first N matches."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Start listing results from this index.",
            "schema": {
              "type": "number",
              "description": "Start listing results from this index."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of extra entity fields to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of extra entity fields to include."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "entities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "lang": {
                            "type": "string"
                          },
                          "query": {
                            "type": "string"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/compare-html-fragment-similarity-get": {
      "get": {
        "operationId": "dandelion.compare-html-fragment-similarity-get",
        "summary": "Compare HTML Fragment Similarity via HTTP GET",
        "description": "Retrieves HTML fragment similarity from Dandelion via HTTP GET.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/compare-html-fragment-similarity-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "htmlFragment1",
            "in": "query",
            "required": true,
            "description": "First HTML fragment to compare.",
            "schema": {
              "type": "string",
              "description": "First HTML fragment to compare."
            }
          },
          {
            "name": "htmlFragment2",
            "in": "query",
            "required": true,
            "description": "Second HTML fragment to compare.",
            "schema": {
              "type": "string",
              "description": "Second HTML fragment to compare."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code or auto-detect.",
            "schema": {
              "type": "string",
              "description": "Language code or auto-detect."
            }
          },
          {
            "name": "bow",
            "in": "query",
            "required": false,
            "description": "Fallback strategy: never, both_empty, one_empty, or always.",
            "schema": {
              "type": "string",
              "description": "Fallback strategy: never, both_empty, one_empty, or always."
            }
          },
          {
            "name": "nex.minConfidence",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.topEntities",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.include",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction include values as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction include values as a comma-separated list."
            }
          },
          {
            "name": "nex.extraTypes",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction extra types as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction extra types as a comma-separated list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "similarity": {
                            "type": "number"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/compare-html-fragment-similarity-post": {
      "get": {
        "operationId": "dandelion.compare-html-fragment-similarity-post",
        "summary": "Compare HTML Fragment Similarity via HTTP POST",
        "description": "Retrieves HTML fragment similarity from Dandelion via HTTP POST.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/compare-html-fragment-similarity-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "htmlFragment1",
            "in": "query",
            "required": true,
            "description": "First HTML fragment to compare.",
            "schema": {
              "type": "string",
              "description": "First HTML fragment to compare."
            }
          },
          {
            "name": "htmlFragment2",
            "in": "query",
            "required": true,
            "description": "Second HTML fragment to compare.",
            "schema": {
              "type": "string",
              "description": "Second HTML fragment to compare."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code or auto-detect.",
            "schema": {
              "type": "string",
              "description": "Language code or auto-detect."
            }
          },
          {
            "name": "bow",
            "in": "query",
            "required": false,
            "description": "Fallback strategy: never, both_empty, one_empty, or always.",
            "schema": {
              "type": "string",
              "description": "Fallback strategy: never, both_empty, one_empty, or always."
            }
          },
          {
            "name": "nex.minConfidence",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.topEntities",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.include",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction include values as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction include values as a comma-separated list."
            }
          },
          {
            "name": "nex.extraTypes",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction extra types as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction extra types as a comma-separated list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "similarity": {
                            "type": "number"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/compare-html-similarity-get": {
      "get": {
        "operationId": "dandelion.compare-html-similarity-get",
        "summary": "Compare HTML Similarity via HTTP GET",
        "description": "Retrieves HTML similarity from Dandelion via HTTP GET.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/compare-html-similarity-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "html1",
            "in": "query",
            "required": true,
            "description": "First HTML document to compare.",
            "schema": {
              "type": "string",
              "description": "First HTML document to compare."
            }
          },
          {
            "name": "html2",
            "in": "query",
            "required": true,
            "description": "Second HTML document to compare.",
            "schema": {
              "type": "string",
              "description": "Second HTML document to compare."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code or auto-detect.",
            "schema": {
              "type": "string",
              "description": "Language code or auto-detect."
            }
          },
          {
            "name": "bow",
            "in": "query",
            "required": false,
            "description": "Fallback strategy: never, both_empty, one_empty, or always.",
            "schema": {
              "type": "string",
              "description": "Fallback strategy: never, both_empty, one_empty, or always."
            }
          },
          {
            "name": "nex.minConfidence",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.topEntities",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.include",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction include values as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction include values as a comma-separated list."
            }
          },
          {
            "name": "nex.extraTypes",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction extra types as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction extra types as a comma-separated list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "similarity": {
                            "type": "number"
                          },
                          "text1": {
                            "type": "string"
                          },
                          "text2": {
                            "type": "string"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/compare-html-similarity-post": {
      "get": {
        "operationId": "dandelion.compare-html-similarity-post",
        "summary": "Compare HTML Similarity via HTTP POST",
        "description": "Retrieves HTML similarity from Dandelion via HTTP POST.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/compare-html-similarity-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "html1",
            "in": "query",
            "required": true,
            "description": "First HTML document to compare.",
            "schema": {
              "type": "string",
              "description": "First HTML document to compare."
            }
          },
          {
            "name": "html2",
            "in": "query",
            "required": true,
            "description": "Second HTML document to compare.",
            "schema": {
              "type": "string",
              "description": "Second HTML document to compare."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code or auto-detect.",
            "schema": {
              "type": "string",
              "description": "Language code or auto-detect."
            }
          },
          {
            "name": "bow",
            "in": "query",
            "required": false,
            "description": "Fallback strategy: never, both_empty, one_empty, or always.",
            "schema": {
              "type": "string",
              "description": "Fallback strategy: never, both_empty, one_empty, or always."
            }
          },
          {
            "name": "nex.minConfidence",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.topEntities",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.include",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction include values as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction include values as a comma-separated list."
            }
          },
          {
            "name": "nex.extraTypes",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction extra types as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction extra types as a comma-separated list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "similarity": {
                            "type": "number"
                          },
                          "text1": {
                            "type": "string"
                          },
                          "text2": {
                            "type": "string"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dandelion/latest/actions/compare-text-similarity-get": {
      "get": {
        "operationId": "dandelion.compare-text-similarity-get",
        "summary": "Compare Text Similarity via HTTP GET",
        "description": "Retrieves text similarity from Dandelion via HTTP GET.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dandelion/latest/actions/compare-text-similarity-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text1",
            "in": "query",
            "required": true,
            "description": "First text to compare.",
            "schema": {
              "type": "string",
              "description": "First text to compare."
            }
          },
          {
            "name": "text2",
            "in": "query",
            "required": true,
            "description": "Second text to compare.",
            "schema": {
              "type": "string",
              "description": "Second text to compare."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code or auto-detect.",
            "schema": {
              "type": "string",
              "description": "Language code or auto-detect."
            }
          },
          {
            "name": "bow",
            "in": "query",
            "required": false,
            "description": "Fallback strategy: never, both_empty, one_empty, or always.",
            "schema": {
              "type": "string",
              "description": "Fallback strategy: never, both_empty, one_empty, or always."
            }
          },
          {
            "name": "nex.minConfidence",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.topEntities",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction parameter.",
            "schema": {
              "type": "number",
              "description": "Optional prefixed Entity Extraction parameter."
            }
          },
          {
            "name": "nex.include",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction include values as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction include values as a comma-separated list."
            }
          },
          {
            "name": "nex.extraTypes",
            "in": "query",
            "required": false,
            "description": "Optional prefixed Entity Extraction extra types as a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Optional prefixed Entity Extraction extra types as a comma-separated list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string"
                          },
                          "langConfidence": {
                            "type": "number"
                          },
                          "similarity": {
                            "type": "number"
                          },
                          "time": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
[...]
