{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Nimble Universal API",
    "version": "0.0.4",
    "description": "Manage Nimble contacts, leads, deals, pipelines, notes, and draft messages."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nimble/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nimble/latest/actions/assign-tags-to-contact": {
      "put": {
        "operationId": "nimble.assign-tags-to-contact",
        "summary": "Assign Tags to Contact",
        "description": "Updates tags for a contact in Nimble.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nimble/latest/actions/assign-tags-to-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactId",
                  "tags[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "Nimble contact_id path parameter."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string"
                          },
                          "children": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "companyLastContacted": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "in": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "out": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "contexts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "context": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contextKey": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "created": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "employersInfo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatarUrl": {
                                  "type": "string"
                                },
                                "companyName": {
                                  "type": "string"
                                },
                                "contactId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "address": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "contactEmployment": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "extraValue": {
                                      "type": "string"
                                    },
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "description": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "discoveredEducation": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "email": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "facebook": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "firstName": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "lastName": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "linkedin": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "parentCompany": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "extraValue": {
                                      "type": "string"
                                    },
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "title": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "twitter": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "url": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "files": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "isImportant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastContacted": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "deletionTstamp": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "objectId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tstamp": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "userId": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "lastContactedUser": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "objectType": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "edit": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "read": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "recordType": {
                            "type": "string"
                          },
                          "reminder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminders": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stagesInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "tag": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "tags2": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "updated": {
                            "type": "string"
                          },
                          "updater": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nimble/latest/actions/create-contact": {
      "post": {
        "operationId": "nimble.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Nimble.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nimble/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fields"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "recordType": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "isImportant": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string"
                          },
                          "children": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "companyLastContacted": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "in": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "out": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "contexts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "context": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contextKey": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "created": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "employersInfo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatarUrl": {
                                  "type": "string"
                                },
                                "companyName": {
                                  "type": "string"
                                },
                                "contactId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "address": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "contactEmployment": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "extraValue": {
                                      "type": "string"
                                    },
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "description": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "discoveredEducation": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "email": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "facebook": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "firstName": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "lastName": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "linkedin": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "parentCompany": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "extraValue": {
                                      "type": "string"
                                    },
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "title": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "twitter": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "url": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "modifier": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "files": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "isImportant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastContacted": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "deletionTstamp": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "objectId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tstamp": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "userId": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "lastContactedUser": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "objectType": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "edit": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "read": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "recordType": {
                            "type": "string"
                          },
                          "reminder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminders": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stagesInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "tag": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "tags2": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "updated": {
                            "type": "string"
                          },
                          "updater": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nimble/latest/actions/create-contact-note": {
      "post": {
        "operationId": "nimble.create-contact-note",
        "summary": "Create Contact Note",
        "description": "Creates a note for one or more Nimble contacts.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nimble/latest/actions/create-contact-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactIds[]",
                  "note",
                  "notePreview"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "note": {
                    "type": "string"
                  },
                  "notePreview": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorName": {
                            "type": "string"
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatarUrl": {
                                  "type": "string"
                                },
                                "contactType": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isViewable": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "phones": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "created": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "notePreview": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              }
                            }
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nimble/latest/actions/create-deal": {
      "post": {
        "operationId": "nimble.create-deal",
        "summary": "Create Deal",
        "description": "Creates a new deal in Nimble.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nimble/latest/actions/create-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pipelineId",
                  "stageId",
                  "fieldsValues"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pipelineId": {
                    "type": "string"
                  },
                  "stageId": {
                    "type": "string"
                  },
                  "fieldsValues": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ageInDays": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "avatarUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              }
                            }
                          },
                          "currency": {
                            "type": "string"
                          },
                          "dealId": {
                            "type": "string"
                          },
                          "dealNumber": {
                            "type": "number"
                          },
                          "fieldsValues": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "69bc532677d905125927a649": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "69bc532677d905125927a64a": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "69bc532677d905125927a64b": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "69bc532677d905125927a64c": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "69bc532677d905125927a64e": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "69bc532e8dd409a6ff02aba3": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "69bc532e8dd409a6ff02aba4": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "69bc532e8dd409a6ff02aba6": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "fieldsValuesWithNames": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "3HolePunched": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "amount": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "boxes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "description": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "expectedCloseDate": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "name": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "probability": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "type": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isPrimary": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fileId": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "fileSize": {
                                  "type": "number"
                                },
                                "metadata": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "fileUrl": {
                                      "type": "string"
                                    },
                                    "iconUrl": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "source": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "mimeType": {
                                  "type": "string"
                                },
                                "uploadedAt": {
                                  "type": "string"
                                },
                                "uploader": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "avatarUrl": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "email": {
                                      "type": "string"
                                    },
                                    "isActive": {
                                      "type": "boolean"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "userId": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "finalProbability": {
                            "type": "number"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "avatarUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              }
                            }
                          },
                          "pipelineName": {
                            "type": "string"
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "edit": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "groupIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "userIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "read": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "groupIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "userIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "relatedContacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "contact": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "avatarUrl": {
                                      "type": "string"
                                    },
                                    "contactType": {
                                      "type": "string"
                                    },
                                    "email": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "employment": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "companyName": {
                                          "type": "object",
                                          "additionalProperties": true
                                        },
                                        "title": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "isViewable": {
                                      "type": "boolean"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "phones": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "subtitle": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "employments": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "note": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "relatedExternalContacts": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "stage": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "archivedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "created": {
                                "type": "string"
                              },
                              "creator": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "avatarUrl": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "isActive": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "userId": {
                                    "type": "string"
                                  }
                                }
                              },
                              "defaultProbability": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "expectedDays": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "pipelineId": {
                                "type": "string"
                              },
                              "role": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "isFinal": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              },
                              "stageId": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "string"
                              }
                            }
                          },
                          "stageTransitions": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "beforeFinalStage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEnteredDate": {
                                "type": "string"
                              },
                              "pipelineColor": {
                                "type": "string"
                              },
                              "pipelineId": {
                                "type": "string"
                              },
                              "pipelineName": {
                                "type": "string"
                              },
                              "transitions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "fromStage": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "lostReason": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "notes": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "toStage": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "archivedAt": {
                                          "type": "object",
                                          "additionalProperties": true
                                        },
                                        "created": {
                                          "type": "string"
                                        },
                                        "creator": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "avatarUrl": {
                                              "type": "object",
                                              "additionalProperties": true
                                            },
                                            "email": {
                                              "type": "string"
                                            },
                                            "isActive": {
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "userId": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "defaultProbability": {
                                          "type": "number"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "expectedDays": {
                                          "type": "number"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "pipelineId": {
                                          "type": "string"
                                        },
                                        "role": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "isFinal": {
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "stageId": {
                                          "type": "string"
                                        },
                                        "updated": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "when": {
                                      "type": "string"
                                    },
                                    "who": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "avatarUrl": {
                                          "type": "object",
                                          "additionalProperties": true
                                        },
                                        "email": {
                                          "type": "string"
                                        },
                                        "isActive": {
                                          "type": "boolean"
                                        },
                                        "name": {
                                          "type": "string"
[...]
