{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Sellfy Universal API",
    "version": "0.0.4",
    "description": "Embed Sellfy stores and products on your website"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sellfy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sellfy/latest/actions/get-oembed": {
      "get": {
        "operationId": "sellfy.get-oembed",
        "summary": "Get oEmbed",
        "description": "Retrieves oEmbed data from Sellfy for a store or product URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sellfy/latest/actions/get-oembed"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The product or store page URL to convert into oEmbed data.",
            "schema": {
              "type": "string",
              "description": "The product or store page URL to convert into oEmbed data.",
              "example": "https://demo.sellfy.store/p/bottle-mockup/"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorName": {
                            "type": "string",
                            "description": "Name of the Sellfy store that owns the embedded resource."
                          },
                          "authorUrl": {
                            "type": "string",
                            "description": "Store URL for the embedded resource."
                          },
                          "html": {
                            "type": "string",
                            "description": "Embed HTML returned by Sellfy."
                          },
                          "id": {
                            "type": "string",
                            "description": "Sellfy product identifier when the URL points to a product."
                          },
                          "providerName": {
                            "type": "string",
                            "description": "Resource provider name."
                          },
                          "providerUrl": {
                            "type": "string",
                            "description": "Resource provider URL."
                          },
                          "thumbnailHeight": {
                            "type": "number",
                            "description": "Thumbnail height for product embeds when provided."
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Thumbnail image URL for product embeds when provided."
                          },
                          "thumbnailWidth": {
                            "type": "number",
                            "description": "Thumbnail width for product embeds when provided."
                          },
                          "title": {
                            "type": "string",
                            "description": "Product or store title."
                          },
                          "type": {
                            "type": "string",
                            "description": "Embedded resource type, such as product or store."
                          },
                          "version": {
                            "type": "string",
                            "description": "oEmbed version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
