{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Checkout Page Universal API",
    "version": "0.0.6",
    "description": "Manage checkout pages, forms, events, customers, payments, subscriptions, coupons, products, and ticket operations in Checkout Page."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/checkoutPage/latest/actions/archive-checkout-page": {
      "delete": {
        "operationId": "checkoutPage.archive-checkout-page",
        "summary": "Archive Checkout Page",
        "description": "Archives a checkout page in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/archive-checkout-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "required": true,
            "description": "Unique identifier. Must be in BSON ObjectId format.",
            "schema": {
              "type": "string",
              "description": "Unique identifier. Must be in BSON ObjectId format."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "afterPaymentAction": {
                            "type": "string",
                            "description": "Behavior after checkout."
                          },
                          "allowDynamicDescription": {
                            "type": "boolean",
                            "description": "Whether the description can be set dynamically via URL parameters."
                          },
                          "allowDynamicDiscountedFromPrice": {
                            "type": "boolean",
                            "description": "Whether the discounted from price can be set dynamically via URL parameters."
                          },
                          "allowDynamicPlanIterations": {
                            "type": "boolean",
                            "description": "Whether subscription plan iterations can be set dynamically via URL parameters."
                          },
                          "allowDynamicPrice": {
                            "type": "boolean",
                            "description": "Whether the price can be set dynamically via URL parameters."
                          },
                          "allowDynamicRedirectUrl": {
                            "type": "boolean",
                            "description": "Whether the redirect URL can be set dynamically via URL parameters."
                          },
                          "allowDynamicTitle": {
                            "type": "boolean",
                            "description": "Whether the title can be set dynamically via URL parameters."
                          },
                          "checkoutAbandonment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Checkout abandonment email reminder settings."
                          },
                          "closePopupOnClickOutside": {
                            "type": "boolean",
                            "description": "Whether a popup embed closes when clicking outside the container."
                          },
                          "confirmationCheckoutMessage": {
                            "type": "string",
                            "description": "Confirmation page message."
                          },
                          "confirmationCheckoutTitle": {
                            "type": "string",
                            "description": "Confirmation page title."
                          },
                          "confirmationEmailMessage": {
                            "type": "string",
                            "description": "Custom confirmation email message."
                          },
                          "confirmationEmailShowLogo": {
                            "type": "boolean",
                            "description": "Show store logo in confirmation email."
                          },
                          "confirmationEmailShowStoreName": {
                            "type": "boolean",
                            "description": "Show store name in confirmation email."
                          },
                          "confirmationEmailSubject": {
                            "type": "string",
                            "description": "Custom confirmation email subject."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the page was created."
                          },
                          "customizeCheckoutConfirmation": {
                            "type": "boolean",
                            "description": "If set to true `confirmationCheckoutMessage` and `confirmationCheckoutTitle` will be displayed on the confirmation page. Defaults to `false`."
                          },
                          "customizeEmailConfirmation": {
                            "type": "boolean",
                            "description": "Use a custom email confirmation template."
                          },
                          "enableFileAccessForInactiveSubscriptions": {
                            "type": "boolean",
                            "description": "Whether customers with inactive subscriptions can still access digital files."
                          },
                          "fees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Extra fees applied at checkout."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom form fields on the page."
                          },
                          "funnelSteps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ordered funnel steps for this page. The response uses the same public structure as the input schema, including `pageId` and `redirectPageId` field names."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier. Must be in BSON ObjectId format."
                          },
                          "name": {
                            "type": "string",
                            "description": "Internal name of the page."
                          },
                          "sellerId": {
                            "type": "string",
                            "description": "Unique identifier. Must be in BSON ObjectId format."
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL slug for the page."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status of the page."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of page."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the page was last updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "Full URL to the hosted page."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkoutPage/latest/actions/create-checkout-page": {
      "post": {
        "operationId": "checkoutPage.create-checkout-page",
        "summary": "Create Checkout Page",
        "description": "Creates a checkout page in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/create-checkout-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Internal page name used in your dashboard and API responses."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Page URL slug. For events and forms the slug defaults to the slugified version of your `title`. For checkouts the slug defaults to the slugified version of your `productData.title`."
                  },
                  "status": {
                    "type": "string",
                    "description": "Initial publication status. Defaults to \"published\" if not provided."
                  },
                  "productData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Product configuration for checkout pages.\n\nUse this object to define pricing mode, subscription/payment plan behavior, inventory, variants, and conditional variant visibility.\n\nCommon setup patterns:\n- Standard one-time checkout: set `price.amount`, `price.currency`, and keep `price.pricingType` as `single`.\n- Variant-driven pricing: set `price.pricingType` to `multiple`, then define `variants` and per-option `additionalChargeAmount`.\n- Subscriptions (recurring): configure `price.recurring`.\n- Payment plans (fixed installments): configure `price.paymentPlan` with `planIterations`.\n\nImportant rules:\n- You cannot set both `price.recurring` and `price.paymentPlan`.\n- `price.payWhatYouWant` cannot be used with subscriptions or payment plans.\n- `trialPeriodDays` and `startDate` are mutually exclusive within `recurring` and `paymentPlan`.\n- For conditional variant logic (`showHideLogic`) or `preselect`, set a `key` on variants/options to enable cross-references. Keys are not persisted."
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom checkout fields to create. If one of your fields must be an `email` element and `required` must be true. Defaults to a name and email field if none are set."
                  },
                  "locale": {
                    "type": "string",
                    "description": "Locale code."
                  },
                  "customizeCheckoutConfirmation": {
                    "type": "boolean",
                    "description": "If set to true `confirmationCheckoutMessage` and `confirmationCheckoutTitle` will be displayed on the confirmation page. Defaults to `false`."
                  },
                  "allowDynamicTitle": {
                    "type": "boolean",
                    "description": "Allow page title to be overridden via URL query parameters."
                  },
                  "allowDynamicDescription": {
                    "type": "boolean",
                    "description": "Allow page description to be overridden via URL query parameters."
                  },
                  "closePopupOnClickOutside": {
                    "type": "boolean",
                    "description": "Whether a popup embed closes when clicking outside the container. Defaults to `false`."
                  },
                  "redirect": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "If enabled, redirects the customer to the specified URL before the page loads."
                  },
                  "afterPaymentAction": {
                    "type": "string",
                    "description": "Behavior after checkout. `confirmation` shows the confirmation page. `checkout` redirects to `redirectPageId`. `redirect` sends the customer to `redirectUrl`. Defaults to `confirmation`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "afterPaymentAction": {
                            "type": "string",
                            "description": "Behavior after checkout."
                          },
                          "allowDynamicDescription": {
                            "type": "boolean",
                            "description": "Whether the description can be set dynamically via URL parameters."
                          },
                          "allowDynamicDiscountedFromPrice": {
                            "type": "boolean",
                            "description": "Whether the discounted from price can be set dynamically via URL parameters."
                          },
                          "allowDynamicPlanIterations": {
                            "type": "boolean",
                            "description": "Whether subscription plan iterations can be set dynamically via URL parameters."
                          },
                          "allowDynamicPrice": {
                            "type": "boolean",
                            "description": "Whether the price can be set dynamically via URL parameters."
                          },
                          "allowDynamicRedirectUrl": {
                            "type": "boolean",
                            "description": "Whether the redirect URL can be set dynamically via URL parameters."
                          },
                          "allowDynamicTitle": {
                            "type": "boolean",
                            "description": "Whether the title can be set dynamically via URL parameters."
                          },
                          "checkoutAbandonment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Checkout abandonment email reminder settings."
                          },
                          "closePopupOnClickOutside": {
                            "type": "boolean",
                            "description": "Whether a popup embed closes when clicking outside the container."
                          },
                          "confirmationCheckoutMessage": {
                            "type": "string",
                            "description": "Confirmation page message."
                          },
                          "confirmationCheckoutTitle": {
                            "type": "string",
                            "description": "Confirmation page title."
                          },
                          "confirmationEmailMessage": {
                            "type": "string",
                            "description": "Custom confirmation email message."
                          },
                          "confirmationEmailShowLogo": {
                            "type": "boolean",
                            "description": "Show store logo in confirmation email."
                          },
                          "confirmationEmailShowStoreName": {
                            "type": "boolean",
                            "description": "Show store name in confirmation email."
                          },
                          "confirmationEmailSubject": {
                            "type": "string",
                            "description": "Custom confirmation email subject."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the page was created."
                          },
                          "customizeCheckoutConfirmation": {
                            "type": "boolean",
                            "description": "If set to true `confirmationCheckoutMessage` and `confirmationCheckoutTitle` will be displayed on the confirmation page. Defaults to `false`."
                          },
                          "customizeEmailConfirmation": {
                            "type": "boolean",
                            "description": "Use a custom email confirmation template."
                          },
                          "enableFileAccessForInactiveSubscriptions": {
                            "type": "boolean",
                            "description": "Whether customers with inactive subscriptions can still access digital files."
                          },
                          "fees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Extra fees applied at checkout."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom form fields on the page."
                          },
                          "funnelSteps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ordered funnel steps for this page. The response uses the same public structure as the input schema, including `pageId` and `redirectPageId` field names."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier. Must be in BSON ObjectId format."
                          },
                          "name": {
                            "type": "string",
                            "description": "Internal name of the page."
                          },
                          "sellerId": {
                            "type": "string",
                            "description": "Unique identifier. Must be in BSON ObjectId format."
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL slug for the page."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status of the page."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of page."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the page was last updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "Full URL to the hosted page."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkoutPage/latest/actions/create-coupon": {
      "post": {
        "operationId": "checkoutPage.create-coupon",
        "summary": "Create Coupon",
        "description": "Creates a coupon in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/create-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "label",
                  "code",
                  "duration"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "label": {
                    "type": "string",
                    "description": "Internal name for the coupon."
                  },
                  "code": {
                    "type": "string",
                    "description": "The coupon code a customer enters."
                  },
                  "amountOff": {
                    "type": "number",
                    "description": "A positive integer representing the amount to subtract from an invoice total (required if `percentOff` is not passed)."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Three-letter ISO code for the currency of the amountOff parameter (required if `amountOff` is passed)."
                  },
                  "duration": {
                    "type": "string"
                  },
                  "durationInMonths": {
                    "type": "number",
                    "description": "A positive integer representing the number of months the coupon applies for (required if `duration === repeating`)"
                  },
                  "percentOff": {
                    "type": "number",
                    "description": "A positive float larger than 0, and smaller or equal to 100, that represents the discount the coupon will apply (required if `amountOff` is not passed)."
                  },
                  "appliesToSetupFee": {
                    "type": "boolean",
                    "description": "When enabled, applies this coupon discount to the setup fee."
                  },
                  "pageIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of pageIds that this coupon can be used within."
                  },
                  "ticketTypeIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of ticket type IDs that this coupon can be used with. Ticket ticket ids must belong to a page specified in the `pageIds` array."
                  },
                  "maxRedemptions": {
                    "type": "number",
                    "description": "The total amount of times this coupon can be used. Doesn't limit a single customer from redeeming multiple times."
                  },
                  "redeemBy": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The ISO datetime that this coupon must be used before."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountOff": {
                            "type": "number",
                            "description": "Flat discount amount in the specified `currency`. Only set if `percentOff` is not used."
                          },
                          "appliesToSetupFee": {
                            "type": "boolean",
                            "description": "When enabled, applies this coupon discount to the setup fee."
                          },
                          "code": {
                            "type": "string",
                            "description": "The coupon code a customer enters."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Three-letter ISO code for the `currency` (required when `amountOff` is set). Examples: usd, eur, gbp."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "If true, this coupon will be soft deleted. It is no longer usable but data is retained."
                          },
                          "duration": {
                            "type": "string",
                            "description": "How long the discount applies: once (single payment), repeating (specified months), or forever (all future payments)."
                          },
                          "durationInMonths": {
                            "type": "number",
                            "description": "If `duration` is `repeating`, the number of months the coupon applies. Null if coupon `duration` is forever or once."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the object."
                          },
                          "label": {
                            "type": "string",
                            "description": "Internal name for the coupon."
                          },
                          "maxRedemptions": {
                            "type": "number",
                            "description": "Maximum number of times this coupon can be redeemed globally. A single customer may redeem it multiple times."
                          },
                          "pageIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "percentOff": {
                            "type": "number",
                            "description": "Percentage discount (0-100) applied to payments using this coupon. Example: 50 applies 50% off ($100 payment becomes $50). Only set if `amountOff` is not used."
                          },
                          "redeemBy": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The ISO datetime that this coupon must be used before."
                          },
                          "sellerId": {
                            "type": "string"
                          },
                          "stripeCouponId": {
                            "type": "string",
                            "description": "The unique identifier of the stripe coupon that was created with this coupon."
                          },
                          "ticketTypeIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of ticket type IDs that this coupon can be used with."
                          },
                          "timesRedeemed": {
                            "type": "number",
                            "description": "The number of times this coupon has been redeemed."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkoutPage/latest/actions/create-event": {
      "post": {
        "operationId": "checkoutPage.create-event",
        "summary": "Create Event",
        "description": "Creates a event in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Internal page name used in your dashboard and API responses."
                  },
                  "title": {
                    "type": "string",
                    "description": "Public title shown to customers on the page."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Page URL slug. For events and forms the slug defaults to the slugified version of your `title`. For checkouts the slug defaults to the slugified version of your `productData.title`."
                  },
                  "description": {
                    "type": "string",
                    "description": "Page description shown to customers. Accepts HTML or plain text."
                  },
                  "status": {
                    "type": "string",
                    "description": "Initial publication status. Defaults to \"published\" if not provided."
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom checkout fields to create. If one of your fields must be an `email` element and `required` must be true. Defaults to a name and email field if none are set."
                  },
                  "locale": {
                    "type": "string",
                    "description": "Locale code."
                  },
                  "customizeCheckoutConfirmation": {
                    "type": "boolean",
                    "description": "If set to true `confirmationCheckoutMessage` and `confirmationCheckoutTitle` will be displayed on the confirmation page. Defaults to `false`."
                  },
                  "allowDynamicTitle": {
                    "type": "boolean",
                    "description": "Allow page title to be overridden via URL query parameters."
                  },
                  "allowDynamicDescription": {
                    "type": "boolean",
                    "description": "Allow page description to be overridden via URL query parameters."
                  },
                  "closePopupOnClickOutside": {
                    "type": "boolean",
                    "description": "Whether a popup embed closes when clicking outside the container. Defaults to `false`."
                  },
                  "redirect": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "If enabled, redirects the customer to the specified URL before the page loads."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "afterPaymentAction": {
                            "type": "string",
                            "description": "Behavior after checkout."
                          },
                          "allowDynamicDescription": {
                            "type": "boolean",
                            "description": "Whether the description can be overridden via URL query parameters."
                          },
                          "allowDynamicDiscountedFromPrice": {
                            "type": "boolean",
                            "description": "Whether the compare-at price can be overridden via URL query parameters."
                          },
                          "allowDynamicPrice": {
                            "type": "boolean",
                            "description": "Whether the price can be overridden via URL query parameters."
                          },
                          "allowDynamicRedirectUrl": {
                            "type": "boolean",
                            "description": "Whether the redirect URL can be overridden via URL query parameters."
                          },
                          "allowDynamicTitle": {
                            "type": "boolean",
                            "description": "Whether the title can be overridden via URL query parameters."
                          },
                          "checkoutAbandonment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Checkout abandonment email reminder settings."
                          },
                          "closePopupOnClickOutside": {
                            "type": "boolean",
                            "description": "Whether a popup embed closes when clicking outside the container."
                          },
                          "confirmationCheckoutMessage": {
                            "type": "string",
                            "description": "Confirmation page message."
                          },
                          "confirmationCheckoutTitle": {
                            "type": "string",
                            "description": "Confirmation page title."
                          },
                          "confirmationEmailMessage": {
                            "type": "string",
                            "description": "Custom confirmation email message."
                          },
                          "confirmationEmailShowLogo": {
                            "type": "boolean",
                            "description": "Show store logo in confirmation email."
                          },
                          "confirmationEmailShowStoreName": {
                            "type": "boolean",
                            "description": "Show store name in confirmation email."
                          },
                          "confirmationEmailSubject": {
                            "type": "string",
                            "description": "Custom confirmation email subject."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the page was created."
                          },
                          "customizeCheckoutConfirmation": {
                            "type": "boolean",
                            "description": "If set to true `confirmationCheckoutMessage` and `confirmationCheckoutTitle` will be displayed on the confirmation page. Defaults to `false`."
                          },
                          "customizeEmailConfirmation": {
                            "type": "boolean",
                            "description": "Use a custom email confirmation template."
                          },
                          "description": {
                            "type": "string",
                            "description": "Page description stored as Lexical rich text JSON."
                          },
                          "descriptionHtml": {
                            "type": "string",
                            "description": "HTML description of the page."
                          },
                          "eventDetails": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Event-specific details."
                          },
                          "fees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Extra fees applied at checkout."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier. Must be in BSON ObjectId format."
                          },
                          "name": {
                            "type": "string",
                            "description": "Internal name of the page."
                          },
                          "sellerId": {
                            "type": "string",
                            "description": "Unique identifier. Must be in BSON ObjectId format."
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL slug for the page."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status of the page."
                          },
                          "title": {
                            "type": "string",
                            "description": "Display title shown on the page."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of page."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the page was last updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "Full URL to the hosted page."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkoutPage/latest/actions/create-field-for-checkout-page": {
      "post": {
        "operationId": "checkoutPage.create-field-for-checkout-page",
        "summary": "Create Field For Checkout Page",
        "description": "Creates a field for a checkout page in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/create-field-for-checkout-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pageId",
                  "label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pageId": {
                    "type": "string",
                    "description": "Unique identifier. Must be in BSON ObjectId format."
                  },
                  "label": {
                    "type": "string",
                    "description": "Form label for the input element."
                  },
                  "type": {
                    "type": "string",
                    "description": "Used to store field data in a predictable manner. Please note that you must use Customer Name and Shipping Address if you wish to use any of the shipping address data types."
                  },
                  "placeholder": {
                    "type": "string",
                    "description": "Specifies a short hint that describes the expected value of an input element"
                  },
                  "element": {
                    "type": "string",
                    "description": "Input control used to render this field in checkout. Defaults to `text`."
                  },
                  "options[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Selectable options. Applies to `select` and `multiple-choice` elements."
                  },
                  "required": {
                    "type": "boolean",
                    "description": "Whether this field must be completed before checkout can continue."
                  },
                  "reference": {
                    "type": "string",
                    "description": "External reference ID for integration purposes."
                  },
                  "hidden": {
                    "type": "boolean",
                    "description": "Whether this field is hidden from customers at checkout."
                  },
                  "defaultValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Default value settings for the field."
                  },
                  "showHideLogic": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conditional visibility rules for this field."
                  },
                  "minValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Minimum allowed value settings for this field."
                  },
                  "maxValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Maximum allowed value settings for this field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "ISO-8601 timestamp for when the field was created."
                          },
                          "defaultValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Default value settings for the field."
                          },
                          "element": {
                            "type": "string",
                            "description": "Input control used to render this field at checkout."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether this field is hidden from customers at checkout."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the field."
                          },
                          "label": {
                            "type": "string",
                            "description": "Display label shown to customers for this field."
                          },
                          "limitAllowedCountries": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Country restriction settings for fields that collect country data."
                          },
                          "maxValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Maximum allowed value rules for this field."
                          },
                          "minValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Minimum allowed value rules for this field."
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Selectable options. Applies to `select` and `multiple-choice` elements."
                          },
                          "order": {
                            "type": "number",
                            "description": "Display order of the field within the form."
                          },
                          "placeholder": {
                            "type": "string",
                            "description": "Placeholder hint shown inside the input before a value is entered."
                          },
                          "reference": {
                            "type": "string",
                            "description": "External reference ID for mapping this field in downstream systems."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether this field must be completed before checkout can continue."
                          },
                          "showHideLogic": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Conditional visibility rules for this field."
                          },
                          "showSelectedDialCode": {
                            "type": "boolean",
                            "description": "Whether to display the selected international dial code in phone inputs."
                          },
                          "type": {
                            "type": "string",
                            "description": "Used to store field data in a predictable manner. Please note that you must use Customer Name and Shipping Address if you wish to use any of the shipping address data types."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO-8601 timestamp for when the field was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkoutPage/latest/actions/create-field-for-event": {
      "post": {
        "operationId": "checkoutPage.create-field-for-event",
        "summary": "Create Field For Event",
        "description": "Creates a field for an event in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/create-field-for-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pageId",
                  "label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pageId": {
                    "type": "string",
                    "description": "Unique identifier. Must be in BSON ObjectId format."
                  },
                  "label": {
                    "type": "string",
                    "description": "Form label for the input element."
                  },
                  "type": {
                    "type": "string",
                    "description": "Used to store field data in a predictable manner. Please note that you must use Customer Name and Shipping Address if you wish to use any of the shipping address data types."
                  },
                  "placeholder": {
                    "type": "string",
                    "description": "Specifies a short hint that describes the expected value of an input element"
                  },
                  "element": {
                    "type": "string",
                    "description": "Input control used to render this field in checkout. Defaults to `text`."
                  },
                  "options[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Selectable options. Applies to `select` and `multiple-choice` elements."
                  },
                  "required": {
                    "type": "boolean",
                    "description": "Whether this field must be completed before checkout can continue."
                  },
                  "reference": {
                    "type": "string",
                    "description": "External reference ID for integration purposes."
                  },
                  "hidden": {
                    "type": "boolean",
                    "description": "Whether this field is hidden from customers at checkout."
                  },
                  "defaultValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Default value settings for the field."
                  },
                  "showHideLogic": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conditional visibility rules for this field."
                  },
                  "minValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Minimum allowed value settings for this field."
                  },
                  "maxValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Maximum allowed value settings for this field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "ISO-8601 timestamp for when the field was created."
                          },
                          "defaultValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Default value settings for the field."
                          },
                          "element": {
                            "type": "string",
                            "description": "Input control used to render this field at checkout."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether this field is hidden from customers at checkout."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the field."
                          },
                          "label": {
                            "type": "string",
                            "description": "Display label shown to customers for this field."
                          },
                          "limitAllowedCountries": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Country restriction settings for fields that collect country data."
                          },
                          "maxValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Maximum allowed value rules for this field."
                          },
                          "minValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Minimum allowed value rules for this field."
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Selectable options. Applies to `select` and `multiple-choice` elements."
                          },
                          "order": {
                            "type": "number",
                            "description": "Display order of the field within the form."
                          },
                          "placeholder": {
                            "type": "string",
                            "description": "Placeholder hint shown inside the input before a value is entered."
                          },
                          "reference": {
                            "type": "string",
                            "description": "External reference ID for mapping this field in downstream systems."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether this field must be completed before checkout can continue."
                          },
                          "showHideLogic": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Conditional visibility rules for this field."
                          },
                          "showSelectedDialCode": {
                            "type": "boolean",
                            "description": "Whether to display the selected international dial code in phone inputs."
                          },
                          "type": {
                            "type": "string",
                            "description": "Used to store field data in a predictable manner. Please note that you must use Customer Name and Shipping Address if you wish to use any of the shipping address data types."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO-8601 timestamp for when the field was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkoutPage/latest/actions/create-field-for-form": {
      "post": {
        "operationId": "checkoutPage.create-field-for-form",
        "summary": "Create Field For Form",
        "description": "Creates a field for a form in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/create-field-for-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pageId",
                  "label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pageId": {
                    "type": "string",
                    "description": "Unique identifier. Must be in BSON ObjectId format."
                  },
                  "label": {
                    "type": "string",
                    "description": "Form label for the input element."
                  },
                  "type": {
                    "type": "string",
                    "description": "Used to store field data in a predictable manner. Please note that you must use Customer Name and Shipping Address if you wish to use any of the shipping address data types."
                  },
                  "placeholder": {
                    "type": "string",
                    "description": "Specifies a short hint that describes the expected value of an input element"
                  },
                  "element": {
                    "type": "string",
                    "description": "Input control used to render this field in checkout. Defaults to `text`."
                  },
                  "options[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Selectable options. Applies to `select` and `multiple-choice` elements."
                  },
                  "required": {
                    "type": "boolean",
                    "description": "Whether this field must be completed before checkout can continue."
                  },
                  "reference": {
                    "type": "string",
                    "description": "External reference ID for integration purposes."
                  },
                  "hidden": {
                    "type": "boolean",
                    "description": "Whether this field is hidden from customers at checkout."
                  },
                  "defaultValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Default value settings for the field."
                  },
                  "showHideLogic": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conditional visibility rules for this field."
                  },
                  "minValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Minimum allowed value settings for this field."
                  },
                  "maxValue": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Maximum allowed value settings for this field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "ISO-8601 timestamp for when the field was created."
                          },
                          "defaultValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Default value settings for the field."
                          },
                          "element": {
                            "type": "string",
                            "description": "Input control used to render this field at checkout."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether this field is hidden from customers at checkout."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the field."
                          },
                          "label": {
                            "type": "string",
                            "description": "Display label shown to customers for this field."
                          },
                          "limitAllowedCountries": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Country restriction settings for fields that collect country data."
                          },
                          "maxValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Maximum allowed value rules for this field."
                          },
                          "minValue": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Minimum allowed value rules for this field."
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Selectable options. Applies to `select` and `multiple-choice` elements."
                          },
                          "order": {
                            "type": "number",
                            "description": "Display order of the field within the form."
                          },
                          "placeholder": {
                            "type": "string",
                            "description": "Placeholder hint shown inside the input before a value is entered."
                          },
                          "reference": {
                            "type": "string",
                            "description": "External reference ID for mapping this field in downstream systems."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether this field must be completed before checkout can continue."
                          },
                          "showHideLogic": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Conditional visibility rules for this field."
                          },
                          "showSelectedDialCode": {
                            "type": "boolean",
                            "description": "Whether to display the selected international dial code in phone inputs."
                          },
                          "type": {
                            "type": "string",
                            "description": "Used to store field data in a predictable manner. Please note that you must use Customer Name and Shipping Address if you wish to use any of the shipping address data types."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO-8601 timestamp for when the field was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkoutPage/latest/actions/create-form": {
      "post": {
        "operationId": "checkoutPage.create-form",
        "summary": "Create Form",
        "description": "Creates a form in Checkout Page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkoutPage/latest/actions/create-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Internal page name used in your dashboard and API responses."
                  },
                  "title": {
                    "type": "string",
                    "description": "Public title shown to customers on the page."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Page URL slug. For events and forms the slug defaults to the slugified version of your `title`. For checkouts the slug defaults to the slugified version of your `productData.title`."
                  },
                  "description": {
                    "type": "string",
                    "description": "Page description shown to customers. Accepts HTML or plain text."
                  },
                  "status": {
                    "type": "string",
                    "description": "Initial publication status. Defaults to \"published\" if not provided."
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom checkout fields to create. If one of your fields must be an `email` element and `required` must be true. Defaults to a name and email field if none are set."
                  },
                  "locale": {
                    "type": "string",
                    "description": "Locale code."
                  },
                  "customizeCheckoutConfirmation": {
                    "type": "boolean",
                    "description": "If set to true `confirmationCheckoutMessage` and `confirmationCheckoutTitle` will be displayed on the confirmation page. Defaults to `false`."
                  },
                  "allowDynamicTitle": {
[...]
