{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Speech is Cheap Universal API",
    "version": "0.0.2",
    "description": "Speech is Cheap provides low-cost speech-to-text transcription jobs for publicly accessible audio and video files, with optional speaker, word, language, privacy, and webhook controls."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/speechIsCheap/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/speechIsCheap/latest/actions/cancel-transcription-job": {
      "delete": {
        "operationId": "speechIsCheap.cancel-transcription-job",
        "summary": "Cancel Transcription Job",
        "description": "Deletes a pending transcription job from Speech is Cheap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/speechIsCheap/latest/actions/cancel-transcription-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "Speech is Cheap transcription job ID to cancel.",
            "schema": {
              "type": "string",
              "description": "Speech is Cheap transcription job ID to cancel.",
              "example": "00000000-1111-7222-b333-444444444444-sic"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Plain-text cancellation response. Runtime value was OK."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/speechIsCheap/latest/actions/create-transcription-job": {
      "post": {
        "operationId": "speechIsCheap.create-transcription-job",
        "summary": "Create Transcription Job",
        "description": "Creates a new transcription job in Speech is Cheap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/speechIsCheap/latest/actions/create-transcription-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "inputUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "inputUrl": {
                    "type": "string",
                    "description": "Publicly accessible audio or video file URL to transcribe.",
                    "example": "https://example.com/audio-file.mp3"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "Optional URL where Speech is Cheap may POST transcription results.",
                    "example": "https://your-domain.com/webhook"
                  },
                  "language": {
                    "type": "string",
                    "description": "Optional two-letter ISO 639-1 language code, such as en or es. Omit for auto-detection.",
                    "example": "en"
                  },
                  "canLabelAudio": {
                    "type": "boolean",
                    "description": "When enabled, includes audio classification labels in transcription output.",
                    "x-mindcloud-advanced": true
                  },
                  "canParseSpeakers": {
                    "type": "boolean",
                    "description": "When enabled, includes speaker_id on each segment.",
                    "x-mindcloud-advanced": true
                  },
                  "canParseWords": {
                    "type": "boolean",
                    "description": "When enabled, includes timestamps for each word.",
                    "x-mindcloud-advanced": true
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "When enabled, redacts the original input_url and deletes segments after 12 hours.",
                    "x-mindcloud-advanced": true
                  },
                  "minimumConfidence": {
                    "type": "number",
                    "description": "Filters out segments below this confidence threshold. Defaults to 0.5.",
                    "example": 0.5,
                    "x-mindcloud-advanced": true
                  },
                  "segmentDuration": {
                    "type": "number",
                    "description": "Transcription segment duration in seconds. Must be between 6 and 30.",
                    "example": 30,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Speech is Cheap transcription job identifier."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Job output object. It is empty when an asynchronous job is first accepted."
                          },
                          "status": {
                            "type": "string",
                            "description": "Job status returned after creation, such as PENDING."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/speechIsCheap/latest/actions/get-api-health": {
      "get": {
        "operationId": "speechIsCheap.get-api-health",
        "summary": "Get API Health",
        "description": "Retrieves Speech is Cheap API health status.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/speechIsCheap/latest/actions/get-api-health"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Plain-text health response from the API. Runtime value was Healthy."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/speechIsCheap/latest/actions/get-transcription-job": {
      "get": {
        "operationId": "speechIsCheap.get-transcription-job",
        "summary": "Get Transcription Job",
        "description": "Retrieves a transcription job from Speech is Cheap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/speechIsCheap/latest/actions/get-transcription-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "Speech is Cheap transcription job ID.",
            "schema": {
              "type": "string",
              "description": "Speech is Cheap transcription job ID.",
              "example": "00000000-1111-7222-b333-444444444444-sic"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Speech is Cheap transcription job identifier."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Transcription output object. It is empty for pending or canceled jobs.",
                            "properties": {
                              "error": {
                                "type": "string",
                                "description": "Failure message when the job fails."
                              },
                              "segments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "confidence": {
                                      "type": "number",
                                      "description": "Transcription or label confidence when returned."
                                    },
                                    "end": {
                                      "type": "number",
                                      "description": "Segment end time in seconds."
                                    },
                                    "id": {
                                      "type": "number",
                                      "description": "Segment identifier."
                                    },
                                    "label": {
                                      "type": "string",
                                      "description": "Audio label when label-audio is enabled."
                                    },
                                    "language": {
                                      "type": "string",
                                      "description": "Detected segment language when returned."
                                    },
                                    "processingDurationInS": {
                                      "type": "number",
                                      "description": "Segment processing duration in seconds when returned."
                                    },
                                    "seek": {
                                      "type": "number",
                                      "description": "Segment seek offset when returned."
                                    },
                                    "speakerId": {
                                      "type": "string",
                                      "description": "Speaker label when speaker parsing is enabled."
                                    },
                                    "start": {
                                      "type": "number",
                                      "description": "Segment start time in seconds."
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "Transcribed segment text."
                                    },
                                    "words": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "end": {
                                            "type": "number",
                                            "description": "Word end time in seconds."
                                          },
                                          "start": {
                                            "type": "number",
                                            "description": "Word start time in seconds."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "Recognized word text."
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "description": "Job status, such as PENDING, COMPLETED, CANCELED, or FAILED."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
