{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Botsonic Universal API",
    "version": "0.0.3",
    "description": "Botsonic is Writesonic's AI chatbot platform for generating bot responses and managing chatbot knowledge, conversations, FAQs, starter questions, and bots through REST APIs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/botsonic/latest/actions/bulk-upload-urls": {
      "post": {
        "operationId": "botsonic.bulk-upload-urls",
        "summary": "Bulk Upload URLs",
        "description": "Uploads multiple URLs as bot data in Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/bulk-upload-urls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "urls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "urls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URLs to upload or upsert for bot training."
                  },
                  "sitemapId": {
                    "type": "string",
                    "description": "Optional sitemap identifier.",
                    "example": "sitemap_123",
                    "x-mindcloud-advanced": true
                  },
                  "isSitemap": {
                    "type": "boolean",
                    "description": "Whether the uploaded URLs represent a sitemap.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "sitemapRoot": {
                    "type": "string",
                    "description": "Optional sitemap root URL.",
                    "example": "https://example.com/sitemap.xml",
                    "x-mindcloud-advanced": true
                  },
                  "abilityId": {
                    "type": "string",
                    "description": "Optional ability identifier.",
                    "example": "ability_123",
                    "x-mindcloud-advanced": true
                  },
                  "isCrawled": {
                    "type": "boolean",
                    "description": "Whether the URLs have already been crawled.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/create-bot": {
      "post": {
        "operationId": "botsonic.create-bot",
        "summary": "Create Bot",
        "description": "Creates a new bot in Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/create-bot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspaceId": {
                    "type": "string",
                    "description": "Optional workspace identifier.",
                    "example": "workspace_123",
                    "x-mindcloud-advanced": true
                  },
                  "id": {
                    "type": "string",
                    "description": "Optional bot identifier.",
                    "example": "bot_123",
                    "x-mindcloud-advanced": true
                  },
                  "botName": {
                    "type": "string",
                    "description": "Bot name.",
                    "example": "Support Bot"
                  },
                  "bodyWorkspaceId": {
                    "type": "string",
                    "description": "Optional workspace_id in the create bot request body.",
                    "example": "workspace_123",
                    "x-mindcloud-advanced": true
                  },
                  "utmParams": {
                    "type": "string",
                    "description": "Optional UTM parameters.",
                    "example": "source=api",
                    "x-mindcloud-advanced": true
                  },
                  "botTemplateId": {
                    "type": "string",
                    "description": "Bot template identifier.",
                    "example": "customer_support",
                    "x-mindcloud-advanced": true
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model for the bot.",
                    "example": "gpt-4o-mini",
                    "x-mindcloud-advanced": true
                  },
                  "isShared": {
                    "type": "boolean",
                    "description": "Whether the bot is shared.",
                    "x-mindcloud-advanced": true
                  },
                  "botAvatarIcon": {
                    "type": "string",
                    "description": "Optional bot avatar icon.",
                    "example": "https://example.com/avatar.png",
                    "x-mindcloud-advanced": true
                  },
                  "companyLogo": {
                    "type": "string",
                    "description": "Optional company logo.",
                    "example": "https://example.com/logo.png",
                    "x-mindcloud-advanced": true
                  },
                  "isSampleBot": {
                    "type": "boolean",
                    "description": "Whether the bot is a sample bot.",
                    "x-mindcloud-advanced": true
                  },
                  "vectorPrefix": {
                    "type": "string",
                    "description": "Optional vector prefix.",
                    "example": "support",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bot_info_config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Bot information configuration."
                          },
                          "bot_prompt_config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Bot prompt configuration."
                          },
                          "bot_template_id": {
                            "type": "string",
                            "description": "Bot template identifier."
                          },
                          "corresponding_cloned_bot_with_free_credits": {
                            "type": "string",
                            "description": "Free-credit cloned bot identifier."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deletion_datetime": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Bot identifier."
                          },
                          "is_cloned_for_free": {
                            "type": "boolean",
                            "description": "Whether the bot is cloned for free."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the bot is deleted."
                          },
                          "is_sample_bot": {
                            "type": "boolean",
                            "description": "Whether the bot is a sample bot."
                          },
                          "is_shared": {
                            "type": "boolean",
                            "description": "Whether the bot is shared."
                          },
                          "migration_status": {
                            "type": "string",
                            "description": "Migration status."
                          },
                          "owner_id": {
                            "type": "string",
                            "description": "Owner identifier."
                          },
                          "pinecone_index_config": {
                            "type": "string",
                            "description": "Pinecone index configuration."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "vectorstore": {
                            "type": "string",
                            "description": "Vector store provider."
                          },
                          "vectorstore_index_id": {
                            "type": "string",
                            "description": "Vector store index identifier."
                          },
                          "workspace_id": {
                            "type": "string",
                            "description": "Workspace identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/create-faq": {
      "post": {
        "operationId": "botsonic.create-faq",
        "summary": "Create FAQ",
        "description": "Creates a new FAQ in Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/create-faq"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "question",
                  "answer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "question": {
                    "type": "string",
                    "description": "FAQ question.",
                    "example": "What is Botsonic?"
                  },
                  "answer": {
                    "type": "string",
                    "description": "FAQ answer.",
                    "example": "Botsonic is an AI chatbot platform."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "FAQ answer."
                          },
                          "bot_id": {
                            "type": "string",
                            "description": "Bot identifier."
                          },
                          "characters": {
                            "type": "number",
                            "description": "Character count."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "error_reason": {
                            "type": "string",
                            "description": "Processing error reason."
                          },
                          "id": {
                            "type": "string",
                            "description": "FAQ identifier."
                          },
                          "migration_status": {
                            "type": "string",
                            "description": "Migration status."
                          },
                          "question": {
                            "type": "string",
                            "description": "FAQ question."
                          },
                          "status": {
                            "type": "string",
                            "description": "FAQ processing status."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/create-starter-question": {
      "post": {
        "operationId": "botsonic.create-starter-question",
        "summary": "Create Starter Question",
        "description": "Creates a new starter question in Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/create-starter-question"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "question",
                  "answer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "question": {
                    "type": "string",
                    "description": "Starter question text.",
                    "example": "What can you help with?"
                  },
                  "answer": {
                    "type": "string",
                    "description": "Answer shown for the starter question.",
                    "example": "I can answer questions about this business."
                  },
                  "order": {
                    "type": "number",
                    "description": "Display order.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "Starter question answer."
                          },
                          "bot_id": {
                            "type": "string",
                            "description": "Bot identifier."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Starter question identifier."
                          },
                          "order": {
                            "type": "number",
                            "description": "Display order."
                          },
                          "question": {
                            "type": "string",
                            "description": "Starter question text."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/delete-bot": {
      "delete": {
        "operationId": "botsonic.delete-bot",
        "summary": "Delete Bot",
        "description": "Deletes an existing bot from Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/delete-bot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botId",
            "in": "query",
            "required": true,
            "description": "bot_id of the bot to delete.",
            "schema": {
              "type": "string",
              "description": "bot_id of the bot to delete.",
              "example": "bot_123"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Optional workspace identifier.",
            "schema": {
              "type": "string",
              "description": "Optional workspace identifier.",
              "example": "workspace_123",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bot_info_config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Bot information configuration."
                          },
                          "bot_prompt_config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Bot prompt configuration."
                          },
                          "bot_template_id": {
                            "type": "string",
                            "description": "Bot template identifier."
                          },
                          "corresponding_cloned_bot_with_free_credits": {
                            "type": "string",
                            "description": "Free-credit cloned bot identifier."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deletion_datetime": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Bot identifier."
                          },
                          "is_cloned_for_free": {
                            "type": "boolean",
                            "description": "Whether the bot is cloned for free."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the bot is deleted."
                          },
                          "is_sample_bot": {
                            "type": "boolean",
                            "description": "Whether the bot is a sample bot."
                          },
                          "is_shared": {
                            "type": "boolean",
                            "description": "Whether the bot is shared."
                          },
                          "migration_status": {
                            "type": "string",
                            "description": "Migration status."
                          },
                          "owner_id": {
                            "type": "string",
                            "description": "Owner identifier."
                          },
                          "pinecone_index_config": {
                            "type": "string",
                            "description": "Pinecone index configuration."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "vectorstore": {
                            "type": "string",
                            "description": "Vector store provider."
                          },
                          "vectorstore_index_id": {
                            "type": "string",
                            "description": "Vector store index identifier."
                          },
                          "workspace_id": {
                            "type": "string",
                            "description": "Workspace identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/delete-bot-data": {
      "delete": {
        "operationId": "botsonic.delete-bot-data",
        "summary": "Delete Bot Data",
        "description": "Deletes existing bot data from Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/delete-bot-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataId",
            "in": "query",
            "required": true,
            "description": "data_id of the bot data item.",
            "schema": {
              "type": "string",
              "description": "data_id of the bot data item.",
              "example": "data_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bot_id": {
                            "type": "string",
                            "description": "Bot identifier."
                          },
                          "characters": {
                            "type": "number",
                            "description": "Character count."
                          },
                          "container_id": {
                            "type": "string",
                            "description": "Container identifier."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "error_reason": {
                            "type": "string",
                            "description": "Processing error reason."
                          },
                          "file_type": {
                            "type": "string",
                            "description": "File type."
                          },
                          "id": {
                            "type": "string",
                            "description": "Bot data identifier."
                          },
                          "integration_id": {
                            "type": "string",
                            "description": "Integration identifier."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the data item is deleted."
                          },
                          "is_paused": {
                            "type": "boolean",
                            "description": "Whether source sync is paused."
                          },
                          "is_private": {
                            "type": "boolean",
                            "description": "Whether the source is private."
                          },
                          "last_trained_at": {
                            "type": "string",
                            "description": "Last trained timestamp."
                          },
                          "migration_status": {
                            "type": "string",
                            "description": "Migration status."
                          },
                          "num_timed_out": {
                            "type": "number",
                            "description": "Timed-out record count."
                          },
                          "resync_job_id": {
                            "type": "string",
                            "description": "Resync job identifier."
                          },
                          "sitemap_id": {
                            "type": "string",
                            "description": "Sitemap identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Processing status."
                          },
                          "storage_account_id": {
                            "type": "string",
                            "description": "Storage account identifier."
                          },
                          "third_party_id": {
                            "type": "string",
                            "description": "Third-party source identifier."
                          },
                          "title": {
                            "type": "string",
                            "description": "Source title."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Source URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/delete-faq": {
      "delete": {
        "operationId": "botsonic.delete-faq",
        "summary": "Delete FAQ",
        "description": "Deletes an existing FAQ from Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/delete-faq"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "faqId",
            "in": "query",
            "required": true,
            "description": "FAQ identifier to delete.",
            "schema": {
              "type": "string",
              "description": "FAQ identifier to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/delete-starter-question": {
      "delete": {
        "operationId": "botsonic.delete-starter-question",
        "summary": "Delete Starter Question",
        "description": "Deletes an existing starter question from Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/delete-starter-question"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starterQuestionId",
            "in": "query",
            "required": true,
            "description": "starter_question_id of the starter question.",
            "schema": {
              "type": "string",
              "description": "starter_question_id of the starter question.",
              "example": "starter_question_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/end-chat": {
      "put": {
        "operationId": "botsonic.end-chat",
        "summary": "End Chat",
        "description": "Ends a chat conversation in Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/end-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chatId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chatId": {
                    "type": "string",
                    "description": "chat_id of the conversation to end.",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "status": {
                    "type": "string",
                    "description": "Feedback status for the ended chat.",
                    "example": "none",
                    "default": "none"
                  },
                  "feedback": {
                    "type": "string",
                    "description": "Optional feedback for the chat.",
                    "example": "Conversation resolved successfully.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/generate-business-response": {
      "post": {
        "operationId": "botsonic.generate-business-response",
        "summary": "Generate Business Response",
        "description": "Generates a business chatbot response in Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/generate-business-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "inputText",
                  "chatId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "inputText": {
                    "type": "string",
                    "description": "User question for the bot.",
                    "example": "How do I reset my password?"
                  },
                  "chatId": {
                    "type": "string",
                    "description": "Chat identifier for the conversation.",
                    "example": "customer-chat-123"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Set true to stream data; false for standard retrieval.",
                    "x-mindcloud-advanced": true
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional sources for the bot to reference.",
                    "x-mindcloud-advanced": true
                  },
                  "starterQuestionId": {
                    "type": "string",
                    "description": "Starter question identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "isBusinessApiRequest": {
                    "type": "boolean",
                    "description": "Whether this is a business API request.",
                    "x-mindcloud-advanced": true
                  },
                  "isIntegrationRequest": {
                    "type": "boolean",
                    "description": "Whether this is an integration request.",
                    "x-mindcloud-advanced": true
                  },
                  "integrationUserIdentifier": {
                    "type": "string",
                    "description": "Integration user unique identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "userUniqueIdentifier": {
                    "type": "string",
                    "description": "Additional user identifier stored with the inbox conversation.",
                    "x-mindcloud-advanced": true
                  },
                  "chatHistory[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Previous chat history for reference.",
                    "x-mindcloud-advanced": true
                  },
                  "chatUserId": {
                    "type": "string",
                    "description": "Chat user identifier linked with existing user data.",
                    "x-mindcloud-advanced": true
                  },
                  "extraMetadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional metadata for the chat.",
                    "x-mindcloud-advanced": true
                  },
                  "fullHistory": {
                    "type": "boolean",
                    "description": "Return the full chat history when true.",
                    "x-mindcloud-advanced": true
                  },
                  "messageId": {
                    "type": "string",
                    "description": "Message identifier used to resolve handoff.",
                    "x-mindcloud-advanced": true
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Maximum seconds to keep the connection open while generating a response.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "Generated answer text."
                          },
                          "chat_ended": {
                            "type": "boolean",
                            "description": "Whether the chat has ended."
                          },
                          "chat_history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Full chat history returned by Botsonic."
                          },
                          "end_chat_feedback": {
                            "type": "string",
                            "description": "End chat feedback text."
                          },
                          "follow_up_questions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Suggested follow-up questions."
                          },
                          "generated_images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Generated image URLs or identifiers."
                          },
                          "human_handoff_status": {
                            "type": "boolean",
                            "description": "Whether human handoff is active."
                          },
                          "message_id": {
                            "type": "string",
                            "description": "Generated response message identifier."
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Sources used by the answer."
                          },
                          "user_options": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "User options returned by Botsonic."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/generate-response": {
      "post": {
        "operationId": "botsonic.generate-response",
        "summary": "Generate Response",
        "description": "Generates a chatbot response in Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/generate-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "inputText",
                  "chatId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "inputText": {
                    "type": "string",
                    "description": "User question for the bot.",
                    "example": "How do I reset my password?"
                  },
                  "chatId": {
                    "type": "string",
                    "description": "Chat identifier for the conversation.",
                    "example": "customer-chat-123"
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional sources for the bot to reference.",
                    "x-mindcloud-advanced": true
                  },
                  "starterQuestionId": {
                    "type": "string",
                    "description": "Starter question identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "isBusinessApiRequest": {
                    "type": "boolean",
                    "description": "Whether this is a business API request.",
                    "x-mindcloud-advanced": true
                  },
                  "isIntegrationRequest": {
                    "type": "boolean",
                    "description": "Whether this is an integration request.",
                    "x-mindcloud-advanced": true
                  },
                  "integrationUserIdentifier": {
                    "type": "string",
                    "description": "Integration user unique identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "userUniqueIdentifier": {
                    "type": "string",
                    "description": "Additional user identifier stored with the inbox conversation.",
                    "x-mindcloud-advanced": true
                  },
                  "chatHistory[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Previous chat history for reference.",
                    "x-mindcloud-advanced": true
                  },
                  "chatUserId": {
                    "type": "string",
                    "description": "Chat user identifier linked with existing user data.",
                    "x-mindcloud-advanced": true
                  },
                  "extraMetadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional metadata for the chat.",
                    "x-mindcloud-advanced": true
                  },
                  "fullHistory": {
                    "type": "boolean",
                    "description": "Return the full chat history when true.",
                    "x-mindcloud-advanced": true
                  },
                  "messageId": {
                    "type": "string",
                    "description": "Message identifier used to resolve handoff.",
                    "x-mindcloud-advanced": true
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Maximum seconds to keep the connection open while generating a response.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "Generated answer text."
                          },
                          "chat_ended": {
                            "type": "boolean",
                            "description": "Whether the chat has ended."
                          },
                          "chat_history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Full chat history returned by Botsonic."
                          },
                          "end_chat_feedback": {
                            "type": "string",
                            "description": "End chat feedback text."
                          },
                          "follow_up_questions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Suggested follow-up questions."
                          },
                          "generated_images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Generated image URLs or identifiers."
                          },
                          "human_handoff_status": {
                            "type": "boolean",
                            "description": "Whether human handoff is active."
                          },
                          "message_id": {
                            "type": "string",
                            "description": "Generated response message identifier."
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Sources used by the answer."
                          },
                          "user_options": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "User options returned by Botsonic."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botsonic/latest/actions/get-bot": {
      "get": {
        "operationId": "botsonic.get-bot",
        "summary": "Get Bot",
        "description": "Retrieves a specific bot from Botsonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botsonic/latest/actions/get-bot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botId",
            "in": "query",
            "required": true,
            "description": "bot_id of the bot.",
            "schema": {
              "type": "string",
              "description": "bot_id of the bot.",
              "example": "bot_123"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Optional workspace identifier.",
            "schema": {
              "type": "string",
              "description": "Optional workspace identifier.",
              "example": "workspace_123",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bot_info_config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Bot information configuration."
                          },
                          "bot_prompt_config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Bot prompt configuration."
                          },
                          "bot_template_id": {
                            "type": "string",
                            "description": "Bot template identifier."
                          },
                          "corresponding_cloned_bot_with_free_credits": {
                            "type": "string",
                            "description": "Free-credit cloned bot identifier."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deletion_datetime": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Bot identifier."
                          },
                          "is_cloned_for_free": {
                            "type": "boolean",
                            "description": "Whether the bot is cloned for free."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the bot is deleted."
                          },
                          "is_sample_bot": {
                            "type": "boolean",
                            "description": "Whether the bot is a sample bot."
                          },
                          "is_shared": {
                            "type": "boolean",
                            "description": "Whether the bot is shared."
                          },
                          "migration_status": {
                            "type": "string",
                            "description": "Migration status."
                          },
                          "owner_id": {
                            "type": "string",
                            "description": "Owner identifier."
                          },
                          "pinecone_index_config": {
[...]
