{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Finmo Universal API",
    "version": "0.0.9",
    "description": "Manage wallets, customers, payins, payouts, and refunds"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/finmo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/finmo/latest/actions/create-customer": {
      "post": {
        "operationId": "finmo.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Finmo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finmo/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "accountUsagePurpose"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description about the customer."
                  },
                  "type": {
                    "type": "string",
                    "description": "Customer type: company or individual."
                  },
                  "organizationReferenceId": {
                    "type": "string",
                    "description": "Organization reference identifier for the customer."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata object."
                  },
                  "accountUsagePurpose": {
                    "type": "string",
                    "description": "Purpose of opening the account."
                  },
                  "company": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Company payload when the customer type is company."
                  },
                  "individual": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Individual payload when the customer type is individual."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "accountUsagePurpose": {
                                "type": "string"
                              },
                              "companyDomain": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "createdBy": {
                                "type": "string"
                              },
                              "customerHostedUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "gcaActivatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "gcaActivationStatus": {
                                "type": "string"
                              },
                              "individual": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "addressCity": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressCountry": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressLine1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressLine2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressProofDocumentId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressState": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressZipCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "countryOfResidence": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "dob": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "identificationCustomType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "identificationDocumentId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "identificationType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "identificationValue": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "nationality": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneCountryCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneNumber": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneNumberE164": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "isEnabled": {
                                "type": "boolean"
                              },
                              "isGcaEnabled": {
                                "type": "boolean"
                              },
                              "isSenderValidationEnabled": {
                                "type": "boolean"
                              },
                              "isUrlExpired": {
                                "type": "boolean"
                              },
                              "isWalletReady": {
                                "type": "boolean"
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "source": {
                                    "type": "string"
                                  },
                                  "testRun": {
                                    "type": "string"
                                  }
                                }
                              },
                              "organizationReferenceId": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "payinSenderIdList": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "webhookUrl": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "requestTime": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          },
                          "statusText": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finmo/latest/actions/create-payin": {
      "post": {
        "operationId": "finmo.create-payin",
        "summary": "Create Payin",
        "description": "Creates a new payin in Finmo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finmo/latest/actions/create-payin"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "currency",
                  "payinMethodName",
                  "payinMethodParam"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "payinMethodName": {
                    "type": "string"
                  },
                  "payinMethodParam": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "redirectUrl": {
                    "type": "string"
                  },
                  "advancedRedirectUrl": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "feesWalletId": {
                    "type": "string"
                  },
                  "creditWalletId": {
                    "type": "string"
                  },
                  "payinType": {
                    "type": "string"
                  },
                  "receiptEmail": {
                    "type": "string"
                  },
                  "checkoutId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "organizationReferenceId": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "expireAt": {
                    "type": "number"
                  },
                  "webhookUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "accountReceivableId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "additionalData": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "advancedRedirectUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "amount": {
                                "type": "number"
                              },
                              "cancelledAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "checkoutId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "creditWalletId": {
                                "type": "string"
                              },
                              "creditWalletTransactionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "currency": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "expireAt": {
                                "type": "string"
                              },
                              "expiredAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "feesCurrency": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "feesIncludingTax": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "feesWalletId": {
                                "type": "string"
                              },
                              "feesWalletTransactionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "feesWithoutTax": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isCancellable": {
                                "type": "boolean"
                              },
                              "isChargeable": {
                                "type": "boolean"
                              },
                              "isCompletelyRefunded": {
                                "type": "boolean"
                              },
                              "isFeesCharged": {
                                "type": "boolean"
                              },
                              "isMultipleRefundAllowed": {
                                "type": "boolean"
                              },
                              "isOverRefundable": {
                                "type": "boolean"
                              },
                              "isPaid": {
                                "type": "boolean"
                              },
                              "isPartiallyPaid": {
                                "type": "boolean"
                              },
                              "isPartiallyRefundable": {
                                "type": "boolean"
                              },
                              "isReconciled": {
                                "type": "boolean"
                              },
                              "isRefundable": {
                                "type": "boolean"
                              },
                              "isRefundInitiated": {
                                "type": "boolean"
                              },
                              "isSenderValidationEnabled": {
                                "type": "boolean"
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "source": {
                                    "type": "string"
                                  },
                                  "testRun": {
                                    "type": "string"
                                  }
                                }
                              },
                              "organizationReferenceId": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "paidAmount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paidAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paidCurrency": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payCode": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              },
                              "payinId": {
                                "type": "string"
                              },
                              "payinMethodCategory": {
                                "type": "string"
                              },
                              "payinMethodDescription": {
                                "type": "string"
                              },
                              "payinMethodName": {
                                "type": "string"
                              },
                              "payinMethodParam": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "payidReference": {
                                    "type": "string"
                                  }
                                }
                              },
                              "payinSenderIdList": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payinType": {
                                "type": "string"
                              },
                              "pricingEventData": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receiptEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "redirectUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundAmountCompleted": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundAmountRequested": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundCurrencyCompleted": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundCurrencyRequested": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundStatus": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "senderPartyDetail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "taxOnFees": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "transactionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "virtualAccountId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "webhookUrl": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "requestTime": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          },
                          "statusText": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finmo/latest/actions/create-payout": {
      "post": {
        "operationId": "finmo.create-payout",
        "summary": "Create Payout",
        "description": "Creates a new payout in Finmo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finmo/latest/actions/create-payout"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "senderAmount",
                  "senderCurrency",
                  "beneficiaryAmount",
                  "beneficiaryCurrency",
                  "payoutMethodName",
                  "purposeCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "senderAmount": {
                    "type": "number"
                  },
                  "senderCurrency": {
                    "type": "string"
                  },
                  "senderCountry": {
                    "type": "string"
                  },
                  "beneficiaryAmount": {
                    "type": "number"
                  },
                  "beneficiaryCurrency": {
                    "type": "string"
                  },
                  "beneficiaryCountry": {
                    "type": "string"
                  },
                  "payoutMethodName": {
                    "type": "string"
                  },
                  "fxRateId": {
                    "type": "string"
                  },
                  "debitWalletId": {
                    "type": "string"
                  },
                  "feesWalletId": {
                    "type": "string"
                  },
                  "organizationReferenceId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "payoutMethodParam": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "payoutBeneficiaryParam": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "payoutControls": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "payoutBeneficiaryId": {
                    "type": "string"
                  },
                  "payoutSenderId": {
                    "type": "string"
                  },
                  "payoutSenderParam": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "purposeCode": {
                    "type": "string"
                  },
                  "receiptEmail": {
                    "type": "string"
                  },
                  "payoutReference": {
                    "type": "string"
                  },
                  "webhookUrl": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "accountPayableId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "additionalData": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "beneficiaryAmount": {
                                "type": "number"
                              },
                              "beneficiaryCountry": {
                                "type": "string"
                              },
                              "beneficiaryCurrency": {
                                "type": "string"
                              },
                              "bulkPayoutId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "debitWalletId": {
                                "type": "string"
                              },
                              "debitWalletTransactionId": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "estimatedDeliveryAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "feesCurrency": {
                                "type": "string"
                              },
                              "feesIncludingTax": {
                                "type": "number"
                              },
                              "feesWalletId": {
                                "type": "string"
                              },
                              "feesWalletTransactionId": {
                                "type": "string"
                              },
                              "feesWithoutTax": {
                                "type": "number"
                              },
                              "fxConversionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fxRate": {
                                "type": "number"
                              },
                              "fxRateId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isChargeable": {
                                "type": "boolean"
                              },
                              "isFeesCharged": {
                                "type": "boolean"
                              },
                              "isPaid": {
                                "type": "boolean"
                              },
                              "isReconciled": {
                                "type": "boolean"
                              },
                              "isReturnable": {
                                "type": "boolean"
                              },
                              "isReturned": {
                                "type": "boolean"
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "source": {
                                    "type": "string"
                                  },
                                  "testRun": {
                                    "type": "string"
                                  }
                                }
                              },
                              "organizationReferenceId": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "paidAmount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paidAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paidCurrency": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutBeneficiaryId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutBeneficiaryParam": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "bankCountry": {
                                    "type": "string"
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "individual": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "firstName": {
                                        "type": "string"
                                      },
                                      "lastName": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "payId": {
                                    "type": "string"
                                  },
                                  "payIdType": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "payoutChargeBearer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutId": {
                                "type": "string"
                              },
                              "payoutMethodName": {
                                "type": "string"
                              },
                              "payoutMethodParam": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutReference": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutReturnedTransactionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutReturnedWalletId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutReturnedWalletTransactionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutSenderId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutSenderParam": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutType": {
                                "type": "string"
                              },
                              "pricingEventData": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "pAYOUTCOMPLETED": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "feesCurrency": {
                                        "type": "string"
                                      },
                                      "feesIncludingTax": {
                                        "type": "number"
                                      },
                                      "feesWithoutTax": {
                                        "type": "number"
                                      },
                                      "taxOnFees": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "total": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "aggregatedFeesCurrency": {
                                        "type": "string"
                                      },
                                      "aggregatedFeesIncludingTax": {
                                        "type": "number"
                                      },
                                      "aggregatedFeesWithoutTax": {
                                        "type": "number"
                                      },
                                      "aggregatedTaxOnFees": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              },
                              "purposeCode": {
                                "type": "string"
                              },
                              "reasonForFailure": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "reasonForReturn": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receiptEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "releasedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "returnedAmount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "returnedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "returnedCurrency": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "scope": {
                                "type": "string"
                              },
                              "senderAmount": {
                                "type": "number"
                              },
                              "senderCountry": {
                                "type": "string"
                              },
                              "senderCurrency": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "taxOnFees": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "transactionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "webhookUrl": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "requestTime": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          },
                          "statusText": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finmo/latest/actions/create-payout-beneficiary": {
      "post": {
        "operationId": "finmo.create-payout-beneficiary",
        "summary": "Create Payout Beneficiary",
        "description": "Creates a new payout beneficiary in Finmo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finmo/latest/actions/create-payout-beneficiary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "beneficiaryName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "type": {
                    "type": "string"
                  },
                  "beneficiaryName": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "company": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "individual": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": {
                    "type": "string"
                  },
                  "bankCountry": {
                    "type": "string"
                  },
                  "bankName": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "bsb": {
                    "type": "string"
                  },
                  "bicSwift": {
                    "type": "string"
                  },
                  "intermediaryBicSwift": {
                    "type": "string"
                  },
                  "iban": {
                    "type": "string"
                  },
                  "aba": {
                    "type": "string"
                  },
                  "sortCode": {
                    "type": "string"
                  },
                  "payId": {
                    "type": "string"
                  },
                  "payIdType": {
                    "type": "string"
                  },
                  "ifsc": {
                    "type": "string"
                  },
                  "branchCode": {
                    "type": "string"
                  },
                  "bankCode": {
                    "type": "string"
                  },
                  "organizationReferenceId": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "proxyType": {
                    "type": "string"
                  },
                  "proxyValue": {
                    "type": "string"
                  },
                  "payoutBeneficiaryControls": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "aba": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "accountNumber": {
                                "type": "string"
                              },
                              "accountType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "additionalData": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bankCity": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bankCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bankCountry": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bankName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bankState": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "beneficiaryName": {
                                "type": "string"
                              },
                              "bicSwift": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "billerCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "branchCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bsb": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "createdBy": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "customerReferenceNumber": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "duitnowProxyType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "duitnowProxyValue": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fpsProxyType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fpsProxyValue": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "iban": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "ifsc": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "individual": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "addressCity": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressCountry": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressLine1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressLine2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressState": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressZipCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "countryOfResidence": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "dob": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "identificationCustomType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "identificationType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "identificationValue": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "nationality": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneCountryCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneNumber": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneNumberE164": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "registrationNumber": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "interacEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "intermediaryBicSwift": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "source": {
                                    "type": "string"
                                  },
                                  "testRun": {
                                    "type": "string"
                                  }
                                }
                              },
                              "nickname": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "organizationReferenceId": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "payId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payIdType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "payoutBeneficiaryId": {
                                "type": "string"
                              },
                              "proxyType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "proxyValue": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sortCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "upiId": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "requestTime": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          },
                          "statusText": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finmo/latest/actions/create-payout-sender": {
      "post": {
        "operationId": "finmo.create-payout-sender",
        "summary": "Create Payout Sender",
        "description": "Creates a new payout sender in Finmo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finmo/latest/actions/create-payout-sender"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "senderName",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "senderName": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "email": {
                    "type": "string"
                  },
                  "organizationReferenceId": {
                    "type": "string"
                  },
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "addressCity": {
                    "type": "string"
                  },
                  "addressState": {
                    "type": "string"
                  },
                  "addressCountry": {
                    "type": "string"
                  },
                  "addressZipCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "phoneCountryCode": {
                    "type": "string"
                  },
                  "phoneNumberE164": {
                    "type": "string"
                  },
                  "individual": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "company": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "individual": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "payoutSenderId": {
                            "type": "string"
                          },
                          "senderName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finmo/latest/actions/create-refund": {
      "post": {
        "operationId": "finmo.create-refund",
        "summary": "Create Refund",
        "description": "Creates a new refund in Finmo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finmo/latest/actions/create-refund"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "payinId",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "payinId": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "organizationReferenceId": {
                    "type": "string"
                  },
                  "webhookUrl": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "debitWalletId": {
                                "type": "string"
                              },
                              "debitWalletTransactionId": {
                                "type": "string"
                              },
                              "description": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "feesCurrency": {
                                "type": "string"
                              },
                              "feesIncludingTax": {
                                "type": "number"
                              },
                              "feesWalletId": {
                                "type": "string"
                              },
                              "feesWalletTransactionId": {
                                "type": "string"
                              },
                              "feesWithoutTax": {
                                "type": "number"
                              },
                              "isFeesCharged": {
                                "type": "boolean"
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "source": {
                                    "type": "string"
                                  },
                                  "testRun": {
                                    "type": "string"
                                  }
                                }
                              },
                              "organizationReferenceId": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "payinId": {
                                "type": "string"
                              },
                              "payinMethodName": {
                                "type": "string"
                              },
                              "reasonForFailure": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receiptEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundId": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "taxOnFees": {
                                "type": "number"
                              },
                              "transactionId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "webhookUrl": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "requestTime": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          },
                          "statusText": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finmo/latest/actions/create-virtual-account": {
      "post": {
        "operationId": "finmo.create-virtual-account",
        "summary": "Create Virtual Account",
        "description": "Creates a new virtual account in Finmo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finmo/latest/actions/create-virtual-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "currency",
                  "customerId",
                  "payinMethodName"
                ],
                "properties": {
[...]
