{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Buy Me a Coffee Universal API",
    "version": "0.0.9",
    "description": "Read your Buy Me a Coffee memberships, supporters, and extras purchases using a personal access token."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/buyMeACoffee/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/buyMeACoffee/latest/actions/get-extra-purchase": {
      "get": {
        "operationId": "buyMeACoffee.get-extra-purchase",
        "summary": "Get Extra Purchase",
        "description": "Retrieves an extra purchase from Buy Me a Coffee by purchase ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buyMeACoffee/latest/actions/get-extra-purchase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique ID of the extra purchase returned by the list extras purchases action.",
            "schema": {
              "type": "number",
              "description": "The unique ID of the extra purchase returned by the list extras purchases action.",
              "example": 2621
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "extra": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "rewardCoffeePrice": {
                                "type": "string"
                              },
                              "rewardConfirmationMessage": {
                                "type": "string"
                              },
                              "rewardCreatedOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "rewardDeletedOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "rewardDescription": {
                                "type": "string"
                              },
                              "rewardId": {
                                "type": "number"
                              },
                              "rewardImage": {
                                "type": "string"
                              },
                              "rewardIsActive": {
                                "type": "number"
                              },
                              "rewardOrder": {
                                "type": "number"
                              },
                              "rewardQuestion": {
                                "type": "string"
                              },
                              "rewardSlots": {
                                "type": "number"
                              },
                              "rewardTitle": {
                                "type": "string"
                              },
                              "rewardUpdatedOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "rewardUsed": {
                                "type": "number"
                              }
                            }
                          },
                          "payerEmail": {
                            "type": "string"
                          },
                          "payerName": {
                            "type": "string"
                          },
                          "purchaseAmount": {
                            "type": "string"
                          },
                          "purchaseCurrency": {
                            "type": "string"
                          },
                          "purchasedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purchaseId": {
                            "type": "number"
                          },
                          "purchaseIsRevoked": {
                            "type": "number"
                          },
                          "purchaseQuestion": {
                            "type": "string"
                          },
                          "purchaseUpdatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buyMeACoffee/latest/actions/get-member": {
      "get": {
        "operationId": "buyMeACoffee.get-member",
        "summary": "Get Member",
        "description": "Retrieves a member from Buy Me a Coffee by membership ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buyMeACoffee/latest/actions/get-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique ID of the membership returned by the list memberships action.",
            "schema": {
              "type": "number",
              "description": "The unique ID of the membership returned by the list memberships action.",
              "example": 7979
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "messageVisibility": {
                            "type": "number"
                          },
                          "payerEmail": {
                            "type": "string"
                          },
                          "payerName": {
                            "type": "string"
                          },
                          "referer": {
                            "type": "string"
                          },
                          "subscriptionCancelledOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "subscriptionCoffeeNum": {
                            "type": "number"
                          },
                          "subscriptionCoffeePrice": {
                            "type": "string"
                          },
                          "subscriptionCreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "subscriptionCurrency": {
                            "type": "string"
                          },
                          "subscriptionCurrentPeriodEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "subscriptionCurrentPeriodStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "subscriptionDurationType": {
                            "type": "string"
                          },
                          "subscriptionId": {
                            "type": "number"
                          },
                          "subscriptionIsCancelled": {
                            "type": "boolean"
                          },
                          "subscriptionIsCancelledAtPeriodEnd": {
                            "type": "boolean"
                          },
                          "subscriptionMessage": {
                            "type": "string"
                          },
                          "subscriptionUpdatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "transactionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buyMeACoffee/latest/actions/get-onetime-supporter": {
      "get": {
        "operationId": "buyMeACoffee.get-onetime-supporter",
        "summary": "Get Onetime Supporter",
        "description": "Retrieves one-time supporter details from Buy Me a Coffee by supporter ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buyMeACoffee/latest/actions/get-onetime-supporter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique ID of the supporter returned by the list supporters action.",
            "schema": {
              "type": "number",
              "description": "The unique ID of the supporter returned by the list supporters action.",
              "example": 76789
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "isRefunded": {
                            "type": "boolean"
                          },
                          "payerEmail": {
                            "type": "string"
                          },
                          "payerName": {
                            "type": "string"
                          },
                          "paymentPlatform": {
                            "type": "string"
                          },
                          "referer": {
                            "type": "string"
                          },
                          "supportCoffeePrice": {
                            "type": "string"
                          },
                          "supportCoffees": {
                            "type": "number"
                          },
                          "supportCreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "supportCurrency": {
                            "type": "string"
                          },
                          "supportEmail": {
                            "type": "string"
                          },
                          "supporterName": {
                            "type": "string"
                          },
                          "supportId": {
                            "type": "number"
                          },
                          "supportNote": {
                            "type": "string"
                          },
                          "supportNotePinned": {
                            "type": "number"
                          },
                          "supportUpdatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "supportVisibility": {
                            "type": "number"
                          },
                          "transactionId": {
                            "type": "string"
                          },
                          "transferId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buyMeACoffee/latest/actions/list-extra-purchases": {
      "get": {
        "operationId": "buyMeACoffee.list-extra-purchases",
        "summary": "List Extra Purchases",
        "description": "Retrieves extra purchases from Buy Me a Coffee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buyMeACoffee/latest/actions/list-extra-purchases"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentPage": {
                            "type": "number"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "extra": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "rewardCoffeePrice": {
                                      "type": "string"
                                    },
                                    "rewardConfirmationMessage": {
                                      "type": "string"
                                    },
                                    "rewardCreatedOn": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "rewardDeletedOn": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "rewardDescription": {
                                      "type": "string"
                                    },
                                    "rewardId": {
                                      "type": "number"
                                    },
                                    "rewardImage": {
                                      "type": "string"
                                    },
                                    "rewardIsActive": {
                                      "type": "number"
                                    },
                                    "rewardOrder": {
                                      "type": "number"
                                    },
                                    "rewardQuestion": {
                                      "type": "string"
                                    },
                                    "rewardSlots": {
                                      "type": "number"
                                    },
                                    "rewardTitle": {
                                      "type": "string"
                                    },
                                    "rewardUpdatedOn": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "rewardUsed": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "payerEmail": {
                                  "type": "string"
                                },
                                "payerName": {
                                  "type": "string"
                                },
                                "purchaseAmount": {
                                  "type": "string"
                                },
                                "purchaseCurrency": {
                                  "type": "string"
                                },
                                "purchasedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "purchaseId": {
                                  "type": "number"
                                },
                                "purchaseIsRevoked": {
                                  "type": "number"
                                },
                                "purchaseQuestion": {
                                  "type": "string"
                                },
                                "purchaseUpdatedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "totalPaidAmount": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "firstPageUrl": {
                            "type": "string"
                          },
                          "from": {
                            "type": "number"
                          },
                          "lastPage": {
                            "type": "number"
                          },
                          "lastPageUrl": {
                            "type": "string"
                          },
                          "nextPageUrl": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "perPage": {
                            "type": "number"
                          },
                          "prevPageUrl": {
                            "type": "string"
                          },
                          "to": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buyMeACoffee/latest/actions/list-members": {
      "get": {
        "operationId": "buyMeACoffee.list-members",
        "summary": "List Members",
        "description": "Retrieves members from Buy Me a Coffee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buyMeACoffee/latest/actions/list-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "Filter memberships by status. Official docs allow active, inactive, or all.",
            "schema": {
              "type": "string",
              "description": "Filter memberships by status. Official docs allow active, inactive, or all.",
              "default": "all"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentPage": {
                            "type": "number"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "messageVisibility": {
                                  "type": "number"
                                },
                                "payerEmail": {
                                  "type": "string"
                                },
                                "payerName": {
                                  "type": "string"
                                },
                                "referer": {
                                  "type": "string"
                                },
                                "subscriptionCancelledOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "subscriptionCoffeeNum": {
                                  "type": "number"
                                },
                                "subscriptionCoffeePrice": {
                                  "type": "string"
                                },
                                "subscriptionCreatedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "subscriptionCurrency": {
                                  "type": "string"
                                },
                                "subscriptionCurrentPeriodEnd": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "subscriptionCurrentPeriodStart": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "subscriptionDurationType": {
                                  "type": "string"
                                },
                                "subscriptionId": {
                                  "type": "number"
                                },
                                "subscriptionIsCancelled": {
                                  "type": "boolean"
                                },
                                "subscriptionIsCancelledAtPeriodEnd": {
                                  "type": "boolean"
                                },
                                "subscriptionMessage": {
                                  "type": "string"
                                },
                                "subscriptionUpdatedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "transactionId": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "firstPageUrl": {
                            "type": "string"
                          },
                          "from": {
                            "type": "number"
                          },
                          "lastPage": {
                            "type": "number"
                          },
                          "lastPageUrl": {
                            "type": "string"
                          },
                          "nextPageUrl": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "perPage": {
                            "type": "number"
                          },
                          "prevPageUrl": {
                            "type": "string"
                          },
                          "to": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buyMeACoffee/latest/actions/list-onetime-supporters": {
      "get": {
        "operationId": "buyMeACoffee.list-onetime-supporters",
        "summary": "List Onetime Supporters",
        "description": "Retrieves onetime supporters from Buy Me a Coffee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buyMeACoffee/latest/actions/list-onetime-supporters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentPage": {
                            "type": "number"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "isRefunded": {
                                  "type": "boolean"
                                },
                                "payerEmail": {
                                  "type": "string"
                                },
                                "payerName": {
                                  "type": "string"
                                },
                                "paymentPlatform": {
                                  "type": "string"
                                },
                                "referer": {
                                  "type": "string"
                                },
                                "supportCoffeePrice": {
                                  "type": "string"
                                },
                                "supportCoffees": {
                                  "type": "number"
                                },
                                "supportCreatedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "supportCurrency": {
                                  "type": "string"
                                },
                                "supportEmail": {
                                  "type": "string"
                                },
                                "supporterName": {
                                  "type": "string"
                                },
                                "supportId": {
                                  "type": "number"
                                },
                                "supportNote": {
                                  "type": "string"
                                },
                                "supportNotePinned": {
                                  "type": "number"
                                },
                                "supportUpdatedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "supportVisibility": {
                                  "type": "number"
                                },
                                "transactionId": {
                                  "type": "string"
                                },
                                "transferId": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "firstPageUrl": {
                            "type": "string"
                          },
                          "from": {
                            "type": "number"
                          },
                          "lastPage": {
                            "type": "number"
                          },
                          "lastPageUrl": {
                            "type": "string"
                          },
                          "nextPageUrl": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "perPage": {
                            "type": "number"
                          },
                          "prevPageUrl": {
                            "type": "string"
                          },
                          "to": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
