{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Sheet Universal API",
    "version": "0.0.6",
    "description": "Create and manage Zoho Sheet workbooks, worksheets, tables, and spreadsheet content."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoSheet/latest/actions/add-records-to-table": {
      "post": {
        "operationId": "zohoSheet.add-records-to-table",
        "summary": "Add Records to Table",
        "description": "Adds records to a table in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/add-records-to-table"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "resourceId",
                  "tableName",
                  "jsonData"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "resourceId": {
                    "type": "string",
                    "description": "The workbook resource ID."
                  },
                  "tableName": {
                    "type": "string",
                    "description": "Name of the table"
                  },
                  "tableId": {
                    "type": "string",
                    "description": "Alternatively table_id can be used instead of table_name",
                    "x-mindcloud-advanced": true
                  },
                  "insertAtTop": {
                    "type": "boolean",
                    "description": "Optional parameter. Can be set as true to add records at the top. By default it is false."
                  },
                  "jsonData": {
                    "type": "string",
                    "description": "JSON Array. Example : [{\"Name\":\"Joe\",\"Region\":\"South\",\"Units\":284},{\"Name\":\"Beth\",\"Region\":\"East\",\"Units\":290}]. \"Name\", \"Region\", and \"Units\" are the table headers. Provide this value as a valid JSON string."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/add-records-to-worksheet": {
      "post": {
        "operationId": "zohoSheet.add-records-to-worksheet",
        "summary": "Add Records to Worksheet",
        "description": "Adds records to a worksheet in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/add-records-to-worksheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "resourceId",
                  "worksheetName",
                  "jsonData"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "resourceId": {
                    "type": "string",
                    "description": "The workbook resource ID."
                  },
                  "worksheetName": {
                    "type": "string",
                    "description": "Name of the worksheet"
                  },
                  "worksheetId": {
                    "type": "string",
                    "description": "Alternatively worksheet_id can be used instead of worksheet_name",
                    "x-mindcloud-advanced": true
                  },
                  "headerRow": {
                    "type": "number",
                    "description": "Optional parameter. Default value is 1. This can be mentioned if the table header is not in the first row of the worksheet."
                  },
                  "jsonData": {
                    "type": "string",
                    "description": "JSON Array. Example : [{\"Name\":\"Joe\",\"Region\":\"South\",\"Units\":284},{\"Name\":\"Beth\",\"Region\":\"East\",\"Units\":290}]. \"Name\", \"Region\", and \"Units\" are the table headers. Provide this value as a valid JSON string."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endColumn": {
                            "type": "number"
                          },
                          "endRow": {
                            "type": "number"
                          },
                          "method": {
                            "type": "string"
                          },
                          "sheetName": {
                            "type": "string"
                          },
                          "startColumn": {
                            "type": "number"
                          },
                          "startRow": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/copy-workbook": {
      "post": {
        "operationId": "zohoSheet.copy-workbook",
        "summary": "Copy Workbook",
        "description": "Creates a copy of a workbook in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/copy-workbook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "resourceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "resourceId": {
                    "type": "string",
                    "description": "The resource id of the workbook that needs to be copied"
                  },
                  "workbookName": {
                    "type": "string",
                    "description": "Optional parameter. Name of the copied workbook"
                  },
                  "parentId": {
                    "type": "string",
                    "description": "Optional parameter. The unique ID of the destination folder. By default My Folder of Zoho Workdrive is the destination folder."
                  },
                  "copyLockSettings": {
                    "type": "boolean",
                    "description": "Optional parameter. Default value is true. If set to false the range/worksheet lock settings from the parent document will not be copied."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "resourceId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "workbookName": {
                            "type": "string"
                          },
                          "workbookUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/create-table": {
      "post": {
        "operationId": "zohoSheet.create-table",
        "summary": "Create Table",
        "description": "Creates a new table in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/create-table"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "resourceId",
                  "worksheetName",
                  "startRow",
                  "startColumn",
                  "endRow",
                  "endColumn"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "resourceId": {
                    "type": "string",
                    "description": "The workbook resource ID."
                  },
                  "worksheetName": {
                    "type": "string",
                    "description": "Name of the worksheet"
                  },
                  "worksheetId": {
                    "type": "string",
                    "description": "Alternatively worksheet_id can be used instead of worksheet_name",
                    "x-mindcloud-advanced": true
                  },
                  "startRow": {
                    "type": "number",
                    "description": "start row index of the table"
                  },
                  "startColumn": {
                    "type": "number",
                    "description": "start column index of the table"
                  },
                  "endRow": {
                    "type": "number",
                    "description": "end row index of the table"
                  },
                  "endColumn": {
                    "type": "number",
                    "description": "end column index of the table"
                  },
                  "containsHeader": {
                    "type": "boolean",
                    "description": "Optional parameter. The default value is true. If set to false, the header row will be inserted at the top as an additional row to the selected range."
                  },
                  "headerNames": {
                    "type": "string",
                    "description": "Optional parameter. Array of header values for the created table. The header_names must be unique. For example : [\"country\",\"region\"]. The length of header_names and column length of the table must be equal. Provide this value as a valid JSON string."
                  },
                  "tableStyle": {
                    "type": "string",
                    "description": "Optional parameter. A json array of styles and properties for table. The template and color values correspond to the options provided in the spreadsheet. Instead of the predefined color options (Accent1 to Accent6), hex color codes can also be used. Example: {\"template\":\"light1\", \"color\":\"#FF5733\", \"properties\" : {\"first_column\":true, \"last_column\":true, \"banded_rows\":true, \"banded_columns\":false, \"total_row\":false}}. The default table_styles for a table is {\"template\":\"Medium1\", \"color\":\"Accent1\", \"properties\": {\"first_column\":false, \"last_column\":false, \"banded_rows\":true, \"banded_columns\":false, \"total_row\":false}} Provide this value as a valid JSON string."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tableId": {
                            "type": "number"
                          },
                          "tableName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/create-workbook": {
      "post": {
        "operationId": "zohoSheet.create-workbook",
        "summary": "Create Workbook",
        "description": "Creates a new workbook in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/create-workbook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workbookName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workbookName": {
                    "type": "string",
                    "description": "Name of the new workbook"
                  },
                  "parentId": {
                    "type": "string",
                    "description": "Optional parameter. The unique ID of the destination folder. By default My Folder of Zoho Workdrive is the destination folder."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "resourceId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "workbookName": {
                            "type": "string"
                          },
                          "workbookUrl": {
                            "type": "string"
                          },
                          "worksheetId": {
                            "type": "string"
                          },
                          "worksheetName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/create-worksheet": {
      "post": {
        "operationId": "zohoSheet.create-worksheet",
        "summary": "Create Worksheet",
        "description": "Creates a new worksheet in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/create-worksheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "resourceId",
                  "worksheetName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "resourceId": {
                    "type": "string",
                    "description": "The workbook resource ID."
                  },
                  "worksheetName": {
                    "type": "string",
                    "description": "Name of the new worksheet"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "newWorksheetName": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "worksheetNames": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "worksheetId": {
                                  "type": "string"
                                },
                                "worksheetName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/delete-records-from-table": {
      "delete": {
        "operationId": "zohoSheet.delete-records-from-table",
        "summary": "Delete Records from Table",
        "description": "Deletes records from a table in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/delete-records-from-table"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "The workbook resource ID.",
            "schema": {
              "type": "string",
              "description": "The workbook resource ID."
            }
          },
          {
            "name": "tableName",
            "in": "query",
            "required": true,
            "description": "Name of the table whose records needs to be deleted",
            "schema": {
              "type": "string",
              "description": "Name of the table whose records needs to be deleted"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": false,
            "description": "Alternatively table_id can be used instead of table_name",
            "schema": {
              "type": "string",
              "description": "Alternatively table_id can be used instead of table_name",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "criteriaJson",
            "in": "query",
            "required": false,
            "description": "Optional parameter. Can be used to filter records. Provide this value as a valid JSON string.",
            "schema": {
              "type": "string",
              "description": "Optional parameter. Can be used to filter records. Provide this value as a valid JSON string."
            }
          },
          {
            "name": "criteriaPattern",
            "in": "query",
            "required": false,
            "description": "Required when more than 1 criteria is available under criteria_json",
            "schema": {
              "type": "string",
              "description": "Required when more than 1 criteria is available under criteria_json"
            }
          },
          {
            "name": "firstMatchOnly",
            "in": "query",
            "required": false,
            "description": "Optional parameter. If true and if there are multiple records on the specified criteria, records will be updated for first match alone. Otherwise, all the matched records will be updated.",
            "schema": {
              "type": "boolean",
              "description": "Optional parameter. If true and if there are multiple records on the specified criteria, records will be updated for first match alone. Otherwise, all the matched records will be updated."
            }
          },
          {
            "name": "isCaseSensitive",
            "in": "query",
            "required": false,
            "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search.",
            "schema": {
              "type": "boolean",
              "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "noOfRowsDeleted": {
                            "type": "number"
                          },
                          "noOfRowsRemaining": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/delete-records-from-worksheet": {
      "delete": {
        "operationId": "zohoSheet.delete-records-from-worksheet",
        "summary": "Delete Records from Worksheet",
        "description": "Deletes records from a worksheet in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/delete-records-from-worksheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "The workbook resource ID.",
            "schema": {
              "type": "string",
              "description": "The workbook resource ID."
            }
          },
          {
            "name": "worksheetName",
            "in": "query",
            "required": true,
            "description": "Name of the worksheet whose records needs to be deleted",
            "schema": {
              "type": "string",
              "description": "Name of the worksheet whose records needs to be deleted"
            }
          },
          {
            "name": "worksheetId",
            "in": "query",
            "required": false,
            "description": "Alternatively worksheet_id can be used instead of worksheet_name",
            "schema": {
              "type": "string",
              "description": "Alternatively worksheet_id can be used instead of worksheet_name",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "headerRow",
            "in": "query",
            "required": false,
            "description": "Optional parameter. By default, first row of the worksheet is considered as header row. This can be used if tabular data starts from any row other than the first row.",
            "schema": {
              "type": "number",
              "description": "Optional parameter. By default, first row of the worksheet is considered as header row. This can be used if tabular data starts from any row other than the first row."
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "description": "Mention the criteria as described above.",
            "schema": {
              "type": "string",
              "description": "Mention the criteria as described above."
            }
          },
          {
            "name": "rowArray",
            "in": "query",
            "required": false,
            "description": "Array of row indexes that need to be deleted. Provide this value as a valid JSON array string such as [4].",
            "schema": {
              "type": "string",
              "description": "Array of row indexes that need to be deleted. Provide this value as a valid JSON array string such as [4]."
            }
          },
          {
            "name": "firstMatchOnly",
            "in": "query",
            "required": false,
            "description": "Optional parameter. If true and if there are multiple records on the specified criteria, records will be deleted for first match alone. Otherwise, all the matched records will be deleted. This parameter will be ignored if criteria is not mentioned.",
            "schema": {
              "type": "boolean",
              "description": "Optional parameter. If true and if there are multiple records on the specified criteria, records will be deleted for first match alone. Otherwise, all the matched records will be deleted. This parameter will be ignored if criteria is not mentioned."
            }
          },
          {
            "name": "isCaseSensitive",
            "in": "query",
            "required": false,
            "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search.",
            "schema": {
              "type": "boolean",
              "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search."
            }
          },
          {
            "name": "deleteRows",
            "in": "query",
            "required": false,
            "description": "Optional parameter and by default it is false. If true it will delete the rows completely, otherwise the records are only erased by default.",
            "schema": {
              "type": "boolean",
              "description": "Optional parameter and by default it is false. If true it will delete the rows completely, otherwise the records are only erased by default."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "noOfRowsDeleted": {
                            "type": "number"
                          },
                          "noOfRowsRemaining": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/delete-worksheet": {
      "delete": {
        "operationId": "zohoSheet.delete-worksheet",
        "summary": "Delete Worksheet",
        "description": "Deletes an existing worksheet from Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/delete-worksheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "The workbook resource ID.",
            "schema": {
              "type": "string",
              "description": "The workbook resource ID."
            }
          },
          {
            "name": "worksheetName",
            "in": "query",
            "required": true,
            "description": "Name of the worksheet that needs to be deleted",
            "schema": {
              "type": "string",
              "description": "Name of the worksheet that needs to be deleted"
            }
          },
          {
            "name": "worksheetId",
            "in": "query",
            "required": false,
            "description": "Alternatively worksheet_id can be used instead of worksheet_name",
            "schema": {
              "type": "string",
              "description": "Alternatively worksheet_id can be used instead of worksheet_name",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "worksheetNames": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "worksheetId": {
                                  "type": "string"
                                },
                                "worksheetName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/fetch-records-from-table": {
      "get": {
        "operationId": "zohoSheet.fetch-records-from-table",
        "summary": "Fetch Records from Table",
        "description": "Retrieves records from a table in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/fetch-records-from-table"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "The workbook resource ID.",
            "schema": {
              "type": "string",
              "description": "The workbook resource ID."
            }
          },
          {
            "name": "tableName",
            "in": "query",
            "required": true,
            "description": "Name of the table whose records needs to be fetched",
            "schema": {
              "type": "string",
              "description": "Name of the table whose records needs to be fetched"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": false,
            "description": "Alternatively table_id can be used instead of table_name",
            "schema": {
              "type": "string",
              "description": "Alternatively table_id can be used instead of table_name",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "criteriaJson",
            "in": "query",
            "required": false,
            "description": "Optional parameter. Can be used to filter records. Provide this value as a valid JSON string.",
            "schema": {
              "type": "string",
              "description": "Optional parameter. Can be used to filter records. Provide this value as a valid JSON string."
            }
          },
          {
            "name": "criteriaPattern",
            "in": "query",
            "required": false,
            "description": "Required when more than 1 criteria is available under criteria_json",
            "schema": {
              "type": "string",
              "description": "Required when more than 1 criteria is available under criteria_json"
            }
          },
          {
            "name": "columnNames",
            "in": "query",
            "required": false,
            "description": "Optional parameter. Can be used to read particular columns data. By default all the columns data will be available in response. Multiple column names must be separated by comma.",
            "schema": {
              "type": "string",
              "description": "Optional parameter. Can be used to read particular columns data. By default all the columns data will be available in response. Multiple column names must be separated by comma."
            }
          },
          {
            "name": "renderOption",
            "in": "query",
            "required": false,
            "description": "Optional parameter. It defines how the value should be rendered. Possible options are formatted, unformatted, and formula.",
            "schema": {
              "type": "string",
              "description": "Optional parameter. It defines how the value should be rendered. Possible options are formatted, unformatted, and formula."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Optional parameter. It denotes the number of records.",
            "schema": {
              "type": "number",
              "description": "Optional parameter. It denotes the number of records."
            }
          },
          {
            "name": "isCaseSensitive",
            "in": "query",
            "required": false,
            "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search.",
            "schema": {
              "type": "boolean",
              "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "qty": {
                                  "type": "number"
                                },
                                "rowIndex": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "recordsCount": {
                            "type": "number"
                          },
                          "recordsEndIndex": {
                            "type": "number"
                          },
                          "recordsStartIndex": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/fetch-records-from-worksheet": {
      "get": {
        "operationId": "zohoSheet.fetch-records-from-worksheet",
        "summary": "Fetch Records from Worksheet",
        "description": "Retrieves records from a worksheet in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/fetch-records-from-worksheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "The workbook resource ID.",
            "schema": {
              "type": "string",
              "description": "The workbook resource ID."
            }
          },
          {
            "name": "worksheetName",
            "in": "query",
            "required": true,
            "description": "Name of the worksheet whose records needs to be fetched",
            "schema": {
              "type": "string",
              "description": "Name of the worksheet whose records needs to be fetched"
            }
          },
          {
            "name": "worksheetId",
            "in": "query",
            "required": false,
            "description": "Alternatively worksheet_id can be used instead of worksheet_name",
            "schema": {
              "type": "string",
              "description": "Alternatively worksheet_id can be used instead of worksheet_name",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "headerRow",
            "in": "query",
            "required": false,
            "description": "Optional parameter. By default, first row of the worksheet is considered as header row. This can be used if tabular data starts from any row other than the first row.",
            "schema": {
              "type": "number",
              "description": "Optional parameter. By default, first row of the worksheet is considered as header row. This can be used if tabular data starts from any row other than the first row."
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "description": "Optional parameter. Can be used to filter records.",
            "schema": {
              "type": "string",
              "description": "Optional parameter. Can be used to filter records."
            }
          },
          {
            "name": "columnNames",
            "in": "query",
            "required": false,
            "description": "Optional parameter. Can be used to read particular column's data. By default all the column data will be available in response. Multiple column names must be separated by comma.",
            "schema": {
              "type": "string",
              "description": "Optional parameter. Can be used to read particular column's data. By default all the column data will be available in response. Multiple column names must be separated by comma."
            }
          },
          {
            "name": "renderOption",
            "in": "query",
            "required": false,
            "description": "Optional parameter. It defines how the value should be rendered. Possible options are formatted, unformatted, and formula.",
            "schema": {
              "type": "string",
              "description": "Optional parameter. It defines how the value should be rendered. Possible options are formatted, unformatted, and formula."
            }
          },
          {
            "name": "recordsStartIndex",
            "in": "query",
            "required": false,
            "description": "Optional parameter. This parameter can be used to get a few resources if there are too many.",
            "schema": {
              "type": "number",
              "description": "Optional parameter. This parameter can be used to get a few resources if there are too many."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Optional parameter. It denotes the number of records.",
            "schema": {
              "type": "number",
              "description": "Optional parameter. It denotes the number of records."
            }
          },
          {
            "name": "isCaseSensitive",
            "in": "query",
            "required": false,
            "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search.",
            "schema": {
              "type": "boolean",
              "description": "Optional parameter. By default it is true. Can be set as false for case insensitive search."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "qty": {
                                  "type": "number"
                                },
                                "rowIndex": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "recordsCount": {
                            "type": "number"
                          },
                          "recordsEndIndex": {
                            "type": "number"
                          },
                          "recordsStartIndex": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoSheet/latest/actions/find": {
      "get": {
        "operationId": "zohoSheet.find",
        "summary": "Find",
        "description": "Finds matching content in Zoho Sheet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoSheet/latest/actions/find"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "The workbook resource ID.",
            "schema": {
              "type": "string",
              "description": "The workbook resource ID."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "The string that needs to be searched",
            "schema": {
              "type": "string",
              "description": "The string that needs to be searched"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "description": "workbook | worksheet | row | column",
            "schema": {
              "type": "string",
              "description": "workbook | worksheet | row | column"
            }
          },
          {
            "name": "worksheetName",
            "in": "query",
            "required": false,
            "description": "Name of the worksheet if scope is either worksheet, or row, or column",
            "schema": {
              "type": "string",
              "description": "Name of the worksheet if scope is either worksheet, or row, or column"
            }
          },
          {
            "name": "worksheetId",
            "in": "query",
            "required": false,
            "description": "Alternatively worksheet_id can be used instead of worksheet_name",
            "schema": {
              "type": "string",
              "description": "Alternatively worksheet_id can be used instead of worksheet_name",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "row",
            "in": "query",
            "required": false,
            "description": "Required if the scope is row",
            "schema": {
              "type": "number",
              "description": "Required if the scope is row"
            }
          },
          {
            "name": "column",
            "in": "query",
            "required": false,
            "description": "Required if the scope is column",
            "schema": {
              "type": "number",
              "description": "Required if the scope is column"
            }
          },
          {
            "name": "isCaseSensitive",
            "in": "query",
            "required": false,
            "description": "If set to true upper case and lower case characters will be different during search. By default it is false",
            "schema": {
              "type": "boolean",
              "description": "If set to true upper case and lower case characters will be different during search. By default it is false"
            }
          },
          {
            "name": "isExactMatch",
            "in": "query",
            "required": false,
            "description": "If set to true the search will match with the full content of the cell.",
            "schema": {
              "type": "boolean",
              "description": "If set to true the search will match with the full content of the cell."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cells": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "columnIndex": {
                                  "type": "number"
                                },
                                "content": {
                                  "type": "string"
                                },
                                "rowIndex": {
                                  "type": "number"
                                },
                                "worksheetId": {
                                  "type": "string"
                                },
                                "worksheetName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "matchesFound": {
                            "type": "number"
                          },
                          "method": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
[...]
