{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Microsoft Teams Universal API",
    "version": "0.0.4",
    "description": "Access Microsoft Teams collaboration data and actions through Microsoft Graph, including teams, channels, chats, messages, tabs, files folders, and installed apps. This app uses delegated Microsoft Entra OAuth2 for work or school accounts."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/microsoftTeams/latest/actions/create-channel": {
      "post": {
        "operationId": "microsoftTeams.create-channel",
        "summary": "Create Channel",
        "description": "Creates a new channel in Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/create-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "teamId",
                  "displayName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "teamId": {
                    "type": "string",
                    "description": "Microsoft Graph team ID."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Channel display name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional channel description."
                  },
                  "membershipType": {
                    "type": "string",
                    "description": "Channel membership type. Use standard, private, or shared.",
                    "default": "standard"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Read-only timestamp at which the channel was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional textual description for the channel."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Channel name as it appears in Microsoft Teams."
                          },
                          "email": {
                            "type": "string",
                            "description": "Read-only email address for sending messages to the channel."
                          },
                          "id": {
                            "type": "string",
                            "description": "Read-only unique identifier for the channel."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the channel is archived."
                          },
                          "isFavoriteByDefault": {
                            "type": "boolean",
                            "description": "Whether the channel is recommended by default."
                          },
                          "membershipType": {
                            "type": "string",
                            "description": "Type of channel membership."
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "Microsoft Entra tenant identifier."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Opaque Microsoft Teams client URL for the channel."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/create-chat": {
      "post": {
        "operationId": "microsoftTeams.create-chat",
        "summary": "Create Chat",
        "description": "Creates a new chat in Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/create-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chatType",
                  "members[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chatType": {
                    "type": "string",
                    "description": "Chat type, for example oneOnOne or group."
                  },
                  "members[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of conversation member objects. Include every participant, including the initiating user. Each item should include @odata.type, roles, and user@odata.bind per Microsoft Graph create chat docs."
                  },
                  "topic": {
                    "type": "string",
                    "description": "Topic for group chats."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chatType": {
                            "type": "string",
                            "description": "Type of chat."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the chat was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the chat."
                          },
                          "lastUpdatedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the chat was last updated."
                          },
                          "onlineMeetingInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Meeting information associated with the chat, when present."
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "Microsoft Entra tenant identifier."
                          },
                          "topic": {
                            "type": "string",
                            "description": "Chat title or topic."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "URL for the chat in Microsoft Teams."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/get-channel": {
      "get": {
        "operationId": "microsoftTeams.get-channel",
        "summary": "Get Channel",
        "description": "Retrieves a channel from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/get-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph channel ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph channel ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Read-only timestamp at which the channel was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional textual description for the channel."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Channel name as it appears in Microsoft Teams."
                          },
                          "email": {
                            "type": "string",
                            "description": "Read-only email address for sending messages to the channel."
                          },
                          "id": {
                            "type": "string",
                            "description": "Read-only unique identifier for the channel."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the channel is archived."
                          },
                          "isFavoriteByDefault": {
                            "type": "boolean",
                            "description": "Whether the channel is recommended by default."
                          },
                          "membershipType": {
                            "type": "string",
                            "description": "Type of channel membership."
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "Microsoft Entra tenant identifier."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Opaque Microsoft Teams client URL for the channel."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/get-channel-files-folder": {
      "get": {
        "operationId": "microsoftTeams.get-channel-files-folder",
        "summary": "Get Channel Files Folder",
        "description": "Retrieves a channel's files folder from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/get-channel-files-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph channel ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph channel ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Identity set for the creator."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the item was created."
                          },
                          "eTag": {
                            "type": "string",
                            "description": "ETag for the item metadata and content."
                          },
                          "folder": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Folder facet when the item is a folder."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the drive item."
                          },
                          "lastModifiedBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Identity set for the last modifier."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the item was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the folder or item."
                          },
                          "parentReference": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Reference to the parent item."
                          },
                          "size": {
                            "type": "number",
                            "description": "Size of the item in bytes."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Browser URL for the drive item."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/get-chat": {
      "get": {
        "operationId": "microsoftTeams.get-chat",
        "summary": "Get Chat",
        "description": "Retrieves a chat from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/get-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph chat ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph chat ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chatType": {
                            "type": "string",
                            "description": "Type of chat."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the chat was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the chat."
                          },
                          "lastUpdatedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the chat was last updated."
                          },
                          "onlineMeetingInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Meeting information associated with the chat, when present."
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "Microsoft Entra tenant identifier."
                          },
                          "topic": {
                            "type": "string",
                            "description": "Chat title or topic."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "URL for the chat in Microsoft Teams."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/get-team": {
      "get": {
        "operationId": "microsoftTeams.get-team",
        "summary": "Get Team",
        "description": "Retrieves a team from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/get-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string",
                            "description": "Optional sensitivity or business classification label."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the team was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional description for the team."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Name of the team."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the team."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the team is archived."
                          },
                          "specialization": {
                            "type": "string",
                            "description": "Team specialization value."
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "Microsoft Entra tenant identifier."
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Visibility of the team."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Opaque Microsoft Teams client URL for the team."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/get-team-primary-channel": {
      "get": {
        "operationId": "microsoftTeams.get-team-primary-channel",
        "summary": "Get Team Primary Channel",
        "description": "Retrieves a team's primary channel from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/get-team-primary-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Read-only timestamp at which the channel was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional textual description for the channel."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Channel name as it appears in Microsoft Teams."
                          },
                          "email": {
                            "type": "string",
                            "description": "Read-only email address for sending messages to the channel."
                          },
                          "id": {
                            "type": "string",
                            "description": "Read-only unique identifier for the channel."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the channel is archived."
                          },
                          "isFavoriteByDefault": {
                            "type": "boolean",
                            "description": "Whether the channel is recommended by default."
                          },
                          "membershipType": {
                            "type": "string",
                            "description": "Type of channel membership."
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "Microsoft Entra tenant identifier."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Opaque Microsoft Teams client URL for the channel."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/list-all-team-channels": {
      "get": {
        "operationId": "microsoftTeams.list-all-team-channels",
        "summary": "List All Team Channels",
        "description": "Retrieves all team channels from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/list-all-team-channels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Read-only timestamp at which the channel was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional textual description for the channel."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Channel name as it appears in Microsoft Teams."
                          },
                          "email": {
                            "type": "string",
                            "description": "Read-only email address for sending messages to the channel."
                          },
                          "id": {
                            "type": "string",
                            "description": "Read-only unique identifier for the channel."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the channel is archived."
                          },
                          "isFavoriteByDefault": {
                            "type": "boolean",
                            "description": "Whether the channel is recommended by default."
                          },
                          "membershipType": {
                            "type": "string",
                            "description": "Type of channel membership."
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "Microsoft Entra tenant identifier."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Opaque Microsoft Teams client URL for the channel."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/list-channel-members": {
      "get": {
        "operationId": "microsoftTeams.list-channel-members",
        "summary": "List Channel Members",
        "description": "Retrieves channel members from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/list-channel-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph channel ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph channel ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "Display name of the user."
                          },
                          "id": {
                            "type": "string",
                            "description": "Read-only unique identifier of the conversation member."
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Roles for the user in the conversation."
                          },
                          "visibleHistoryStartDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp denoting how far back conversation history is shared with the member."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/list-channel-message-replies": {
      "get": {
        "operationId": "microsoftTeams.list-channel-message-replies",
        "summary": "List Channel Message Replies",
        "description": "Retrieves replies to a Microsoft Teams channel message.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/list-channel-message-replies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph channel ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph channel ID."
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph channel message ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph channel message ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Message attachments."
                          },
                          "body": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Message body content."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the message was created."
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the message was deleted, when applicable."
                          },
                          "etag": {
                            "type": "string",
                            "description": "Version tag for the message."
                          },
                          "from": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Sender identity."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the message."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Importance of the message."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the message was last modified."
                          },
                          "locale": {
                            "type": "string",
                            "description": "Locale of the message."
                          },
                          "mentions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Mentions included in the message."
                          },
                          "messageType": {
                            "type": "string",
                            "description": "Type of chat message."
                          },
                          "reactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Message reactions."
                          },
                          "replyToId": {
                            "type": "string",
                            "description": "ID of the parent message when this item is a reply."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Subject of the message."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Summary text for the message."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Link to the message in Microsoft Teams."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/list-channel-messages": {
      "get": {
        "operationId": "microsoftTeams.list-channel-messages",
        "summary": "List Channel Messages",
        "description": "Retrieves channel messages from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/list-channel-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph channel ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph channel ID."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Message attachments."
                          },
                          "body": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Message body content."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the message was created."
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the message was deleted, when applicable."
                          },
                          "etag": {
                            "type": "string",
                            "description": "Version tag for the message."
                          },
                          "from": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Sender identity."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the message."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Importance of the message."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp at which the message was last modified."
                          },
                          "locale": {
                            "type": "string",
                            "description": "Locale of the message."
                          },
                          "mentions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Mentions included in the message."
                          },
                          "messageType": {
                            "type": "string",
                            "description": "Type of chat message."
                          },
                          "reactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Message reactions."
                          },
                          "replyToId": {
                            "type": "string",
                            "description": "ID of the parent message when this item is a reply."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Subject of the message."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Summary text for the message."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Link to the message in Microsoft Teams."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftTeams/latest/actions/list-channel-tabs": {
      "get": {
        "operationId": "microsoftTeams.list-channel-tabs",
        "summary": "List Channel Tabs",
        "description": "Retrieves channel tabs from Microsoft Teams.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftTeams/latest/actions/list-channel-tabs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph team ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph team ID."
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "Microsoft Graph channel ID.",
            "schema": {
              "type": "string",
              "description": "Microsoft Graph channel ID."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "configuration": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tab configuration settings."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Name of the tab."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the Teams tab."
                          },
                          "sortOrder": {
                            "type": "number",
                            "description": "Position of the tab in the channel."
                          },
                          "teamsApp": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Teams app linked to the tab."
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "Deep link URL of the tab."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
[...]
