{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Damstra Forms Universal API",
    "version": "0.0.3",
    "description": "Damstra Forms provides API access to digital form, project, template, user, drawing, punch list, and workflow records for connected Damstra Forms workspaces."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/damstraForms/latest/actions/close-form": {
      "put": {
        "operationId": "damstraForms.close-form",
        "summary": "Close Form",
        "description": "Closes a form in Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/close-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "submitterUserId",
                  "lockVersion"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Path parameter id."
                  },
                  "submitterUserId": {
                    "type": "string",
                    "description": "User identifier for the person closing the form."
                  },
                  "lockVersion": {
                    "type": "number",
                    "description": "Current lock version for optimistic concurrency control."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/create-draft-action": {
      "post": {
        "operationId": "damstraForms.create-draft-action",
        "summary": "Create Draft Action",
        "description": "Creates a draft action in Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/create-draft-action"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "payload[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "payload[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of draft action payloads. Each item follows the Damstra create draft action request body shape."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/create-draft-form": {
      "post": {
        "operationId": "damstraForms.create-draft-form",
        "summary": "Create Draft Form",
        "description": "Creates a draft form in Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/create-draft-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "draftTemplateId",
                  "projectId",
                  "createdByUserId",
                  "fields[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "draftTemplateId": {
                    "type": "number",
                    "description": "Draft template identifier for the new form."
                  },
                  "projectId": {
                    "type": "number",
                    "description": "Project identifier for the new form."
                  },
                  "createdByUserId": {
                    "type": "number",
                    "description": "User identifier to record as the form creator."
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Field values for the form, using Damstra field_reference values."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/create-draft-memo": {
      "post": {
        "operationId": "damstraForms.create-draft-memo",
        "summary": "Create Draft Memo",
        "description": "Creates a draft memo in Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/create-draft-memo"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "payload[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "payload[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of draft memo payloads. Each item follows the Damstra create draft memo request body shape."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/get-action": {
      "get": {
        "operationId": "damstraForms.get-action",
        "summary": "Get Action",
        "description": "Retrieves an action from Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/get-action"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the action.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the action.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fields": {
                            "type": "object",
                            "properties": {
                              "interpretationHint": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "reference": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "value": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              }
                            },
                            "additionalProperties": false,
                            "description": "From Damstra Forms API example response."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "From Damstra Forms API example response.",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "From Damstra Forms API example response."
                              },
                              "creator": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "href": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "id": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "owner": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "project": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "status": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "template": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "draftTemplate": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "From Damstra Forms API example response.",
                                    "properties": {
                                      "href": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "id": {
                                        "type": "number",
                                        "description": "From Damstra Forms API example response."
                                      }
                                    }
                                  },
                                  "href": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "From Damstra Forms API example response."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/get-approver-type": {
      "get": {
        "operationId": "damstraForms.get-approver-type",
        "summary": "Get Approver Type",
        "description": "Retrieves an approver type from Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/get-approver-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the approver type.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the approver type.",
              "example": 1
            }
          },
          {
            "name": "showManaged",
            "in": "query",
            "required": false,
            "description": "Show/hide the managed attribute.",
            "schema": {
              "type": "boolean",
              "description": "Show/hide the managed attribute.",
              "example": true,
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "From Damstra Forms API example response."
                          },
                          "href": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "id": {
                            "type": "number",
                            "description": "From Damstra Forms API example response."
                          },
                          "lockVersion": {
                            "type": "number",
                            "description": "From Damstra Forms API example response."
                          },
                          "managed": {
                            "type": "boolean",
                            "description": "From Damstra Forms API example response."
                          },
                          "name": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "From Damstra Forms API example response."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/get-company": {
      "get": {
        "operationId": "damstraForms.get-company",
        "summary": "Get Company",
        "description": "Retrieves a company from Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the company.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the company.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "From Damstra Forms API example response."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "From Damstra Forms API example response."
                          },
                          "href": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "id": {
                            "type": "number",
                            "description": "From Damstra Forms API example response."
                          },
                          "name": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "From Damstra Forms API example response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/get-drawing": {
      "get": {
        "operationId": "damstraForms.get-drawing",
        "summary": "Get Drawing",
        "description": "Retrieves a drawing from Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/get-drawing"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the drawing.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the drawing.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "From Damstra Forms API example response."
                          },
                          "current": {
                            "type": "boolean",
                            "description": "From Damstra Forms API example response."
                          },
                          "discipline": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "docType": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "href": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "id": {
                            "type": "number",
                            "description": "From Damstra Forms API example response."
                          },
                          "name": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "number": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "projectId": {
                            "type": "number",
                            "description": "From Damstra Forms API example response."
                          },
                          "revision": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "status": {
                            "type": "string",
                            "description": "From Damstra Forms API example response."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "From Damstra Forms API example response."
                          },
                          "wbsItemId": {
                            "type": "number",
                            "description": "From Damstra Forms API example response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/get-form": {
      "get": {
        "operationId": "damstraForms.get-form",
        "summary": "Get Form",
        "description": "Retrieves a form from Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/get-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the form.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the form.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fields": {
                            "type": "object",
                            "properties": {
                              "interpretationHint": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "reference": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "value": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              }
                            },
                            "additionalProperties": false,
                            "description": "From Damstra Forms API example response."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "From Damstra Forms API example response.",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "From Damstra Forms API example response."
                              },
                              "creator": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "href": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "id": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "owner": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "project": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "status": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "template": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "draftTemplate": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "From Damstra Forms API example response.",
                                    "properties": {
                                      "href": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "id": {
                                        "type": "number",
                                        "description": "From Damstra Forms API example response."
                                      }
                                    }
                                  },
                                  "href": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "From Damstra Forms API example response."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/get-form-integration-representation": {
      "get": {
        "operationId": "damstraForms.get-form-integration-representation",
        "summary": "Get Form Integration Representation",
        "description": "Retrieves a form in integration format from Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/get-form-integration-representation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the form.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the form.",
              "example": 1
            }
          },
          {
            "name": "representation",
            "in": "query",
            "required": false,
            "description": "If \"integration\" is specified will display the form using integration tags",
            "schema": {
              "type": "string",
              "description": "If \"integration\" is specified will display the form using integration tags",
              "example": "integration",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "required": false,
            "description": "If true the metadata section will include information about any linked child forms or actions",
            "schema": {
              "type": "boolean",
              "description": "If true the metadata section will include information about any linked child forms or actions",
              "example": false,
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "columns": {
                            "type": "object",
                            "properties": {
                              "customTag": {
                                "type": "object",
                                "properties": {
                                  "properties": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "From Damstra Forms API example response.",
                                    "properties": {
                                      "property1": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "property2": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      }
                                    }
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response."
                              }
                            },
                            "additionalProperties": false,
                            "description": "From Damstra Forms API example response."
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "customTag": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "linked": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "From Damstra Forms API example response.",
                                    "properties": {
                                      "href": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "id": {
                                        "type": "number",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "signedHref": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "uuid": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      }
                                    }
                                  },
                                  "properties": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "From Damstra Forms API example response.",
                                    "properties": {
                                      "property1": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "property2": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      }
                                    }
                                  },
                                  "signature": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "From Damstra Forms API example response.",
                                    "properties": {
                                      "contentType": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "href": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "id": {
                                        "type": "number",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "signedHref": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "userId": {
                                        "type": "number",
                                        "description": "From Damstra Forms API example response."
                                      }
                                    }
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              }
                            },
                            "additionalProperties": false,
                            "description": "From Damstra Forms API example response."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "From Damstra Forms API example response.",
                            "properties": {
                              "children": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "pdfHref": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "From Damstra Forms API example response."
                              },
                              "creator": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "href": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "id": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "owner": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "project": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "status": {
                                "type": "number",
                                "description": "From Damstra Forms API example response."
                              },
                              "template": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "From Damstra Forms API example response.",
                                "properties": {
                                  "draftTemplate": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "From Damstra Forms API example response.",
                                    "properties": {
                                      "href": {
                                        "type": "string",
                                        "description": "From Damstra Forms API example response."
                                      },
                                      "id": {
                                        "type": "number",
                                        "description": "From Damstra Forms API example response."
                                      }
                                    }
                                  },
                                  "href": {
                                    "type": "string",
                                    "description": "From Damstra Forms API example response."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "From Damstra Forms API example response."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "From Damstra Forms API example response."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "From Damstra Forms API example response."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/damstraForms/latest/actions/get-memo": {
      "get": {
        "operationId": "damstraForms.get-memo",
        "summary": "Get Memo",
        "description": "Retrieves a memo from Damstra Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/damstraForms/latest/actions/get-memo"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the memo.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the memo.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fields": {
                            "type": "object",
                            "properties": {
[...]
