{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Hard Fork Podcast Universal API",
    "version": "0.0.5",
    "description": "Public RSS feed wrapper for The New York Times Hard Fork podcast. Use it to read the latest published episodes and episode metadata from the official Simplecast feed."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/hardForkPodcast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/hardForkPodcast/latest/actions/list-episodes": {
      "get": {
        "operationId": "hardForkPodcast.list-episodes",
        "summary": "List Episodes",
        "description": "Retrieves podcast episodes from Hard Fork Podcast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hardForkPodcast/latest/actions/list-episodes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string",
                            "description": "Episode author shown by the feed."
                          },
                          "content:encoded": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Full encoded episode content wrapper; rich HTML is stored under _cdata."
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Episode description wrapper; rich HTML is stored under _cdata."
                          },
                          "enclosure": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Episode audio enclosure object from the feed."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Unique episode identifier from the feed."
                          },
                          "itunes:duration": {
                            "type": "string",
                            "description": "Episode runtime from the iTunes metadata."
                          },
                          "itunes:episode": {
                            "type": "string",
                            "description": "Episode number when provided by the feed."
                          },
                          "itunes:episodeType": {
                            "type": "string",
                            "description": "Podcast episode type, for example full or trailer."
                          },
                          "itunes:explicit": {
                            "type": "string",
                            "description": "Whether the episode is marked explicit in the feed."
                          },
                          "itunes:subtitle": {
                            "type": "string",
                            "description": "Episode subtitle from the feed when available."
                          },
                          "itunes:summary": {
                            "type": "string",
                            "description": "Short episode summary from the feed."
                          },
                          "link": {
                            "type": "string",
                            "description": "Canonical Hard Fork page or episode page URL."
                          },
                          "pubDate": {
                            "type": "string",
                            "description": "Episode publication date in RSS format."
                          },
                          "title": {
                            "type": "string",
                            "description": "Episode title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
