{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Climatiq Universal API",
    "version": "0.0.2",
    "description": "Climatiq calculates carbon emissions and CO2e estimates from activity data, energy use, freight, procurement spend, industry classifications, and emission-factor reference data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/climatiq/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/climatiq/latest/actions/estimate-emissions": {
      "post": {
        "operationId": "climatiq.estimate-emissions",
        "summary": "Estimate Emissions",
        "description": "Estimates emissions in Climatiq from activity data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/climatiq/latest/actions/estimate-emissions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "emissionFactor",
                  "parameters"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "emissionFactor": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Emission factor selector object, such as activity_id and data_version."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Activity data parameters object matching the selected factor unit type."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity_data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Activity value and unit used in the calculation."
                          },
                          "additional_indicators": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Supplementary indicator data."
                          },
                          "audit_trail": {
                            "type": "string",
                            "description": "Audit trail state for the response."
                          },
                          "co2e": {
                            "type": "number",
                            "description": "Calculated carbon dioxide equivalent."
                          },
                          "co2e_calculation_method": {
                            "type": "string",
                            "description": "Calculation method used for the estimate."
                          },
                          "co2e_calculation_origin": {
                            "type": "string",
                            "description": "Whether Climatiq or the source performed the calculation."
                          },
                          "co2e_unit": {
                            "type": "string",
                            "description": "Unit for the CO2e amount."
                          },
                          "constituent_gases": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Greenhouse gas breakdown for the estimate."
                          },
                          "emission_factor": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Emission factor used for the estimate."
                          },
                          "notices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Calculation notices."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/climatiq/latest/actions/get-data-versions": {
      "get": {
        "operationId": "climatiq.get-data-versions",
        "summary": "Get Data Versions",
        "description": "Retrieves available data versions from Climatiq.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/climatiq/latest/actions/get-data-versions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "latest": {
                            "type": "string",
                            "description": "Deprecated latest major/minor data version label."
                          },
                          "latest_major": {
                            "type": "number",
                            "description": "Deprecated latest major data version."
                          },
                          "latest_minor": {
                            "type": "number",
                            "description": "Deprecated latest minor data version."
                          },
                          "latest_release": {
                            "type": "string",
                            "description": "Latest Climatiq data release."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/climatiq/latest/actions/get-unit-types": {
      "get": {
        "operationId": "climatiq.get-unit-types",
        "summary": "Get Unit Types",
        "description": "Retrieves available unit types from Climatiq.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/climatiq/latest/actions/get-unit-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "unit_types": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available unit types and their supported input units."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/climatiq/latest/actions/search-emission-factors": {
      "get": {
        "operationId": "climatiq.search-emission-factors",
        "summary": "Search Emission Factors",
        "description": "Finds emission factors in Climatiq by search criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/climatiq/latest/actions/search-emission-factors"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataVersion",
            "in": "query",
            "required": true,
            "description": "Required Climatiq data version, such as ^33.",
            "schema": {
              "type": "string",
              "description": "Required Climatiq data version, such as ^33.",
              "example": "^33"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Free-text emission factor search query.",
            "schema": {
              "type": "string",
              "description": "Free-text emission factor search query."
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Region code filter, such as GB or US-CA.",
            "schema": {
              "type": "string",
              "description": "Region code filter, such as GB or US-CA.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Emission factor year filter.",
            "schema": {
              "type": "number",
              "description": "Emission factor year filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Emission factor category filter.",
            "schema": {
              "type": "string",
              "description": "Emission factor category filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "unitType",
            "in": "query",
            "required": false,
            "description": "Unit type filter, such as Energy, Money, Weight, or Distance.",
            "schema": {
              "type": "string",
              "description": "Unit type filter, such as Energy, Money, Weight, or Distance.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "GHG Protocol scope filter, such as 1, 2, 3, or 3.1.",
            "schema": {
              "type": "string",
              "description": "GHG Protocol scope filter, such as 1, 2, 3, or 3.1.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "calculationMethod",
            "in": "query",
            "required": false,
            "description": "Calculation method filter: ar4, ar5, or ar6.",
            "schema": {
              "type": "string",
              "description": "Calculation method filter: ar4, ar5, or ar6.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "accessType",
            "in": "query",
            "required": false,
            "description": "Emission factor access type: public, private, or premium.",
            "schema": {
              "type": "string",
              "description": "Emission factor access type: public, private, or premium.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page number. Climatiq defaults to 1.",
            "schema": {
              "type": "number",
              "description": "Results page number. Climatiq defaults to 1.",
              "default": 1,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "resultsPerPage",
            "in": "query",
            "required": false,
            "description": "Number of results per page. Climatiq maximum is 500.",
            "schema": {
              "type": "number",
              "description": "Number of results per page. Climatiq maximum is 500.",
              "default": 20,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "current_page": {
                            "type": "number",
                            "description": "Current result page."
                          },
                          "last_page": {
                            "type": "number",
                            "description": "Last available result page."
                          },
                          "notices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Notices returned with the search result."
                          },
                          "possible_filters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Filter values available for the current search."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Emission factor results for this page."
                          },
                          "total_results": {
                            "type": "number",
                            "description": "Total matching emission factors."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
