{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "gBizINFO Universal API",
    "version": "0.0.4",
    "description": "Search and monitor Japanese corporate records and filings"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/gBizINFO/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/gBizINFO/latest/actions/get-company-v2": {
      "get": {
        "operationId": "gBizINFO.get-company-v2",
        "summary": "Get Company (v2)",
        "description": "Retrieves company details from gBizINFO by corporate number.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gBizINFO/latest/actions/get-company-v2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corporateNumber",
            "in": "query",
            "required": true,
            "description": "The 13-digit Japanese corporate number to look up.",
            "schema": {
              "type": "string",
              "description": "The 13-digit Japanese corporate number to look up."
            }
          },
          {
            "name": "metadataFlag",
            "in": "query",
            "required": false,
            "description": "Include metadata fields in the company response.",
            "schema": {
              "type": "boolean",
              "description": "Include metadata fields in the company response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aggregatedYear": {
                            "type": "string"
                          },
                          "businessSummary": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "capitalStock": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "closeCause": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "closeDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companySizeFemale": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companySizeMale": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "corporateNumber": {
                            "type": "string"
                          },
                          "dateOfEstablishment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "employeeNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "foundingYear": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "kana": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameEn": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "process": {
                            "type": "string"
                          },
                          "qualificationGrade": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "representativeName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "updateDate": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
