{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoominfo Universal API",
    "version": "0.0.52",
    "description": "Search contacts, companies, intent data, and market intelligence"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zoominfo/latest/actions/authenticate": {
      "post": {
        "operationId": "zoominfo.authenticate",
        "summary": "Authenticate",
        "description": "Creates an authentication token in ZoomInfo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/authenticate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "username"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "username": {
                    "type": "string",
                    "default": "{{credentials.userName}}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jwt": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-company": {
      "get": {
        "operationId": "zoominfo.enrich-company",
        "summary": "Enrich Company",
        "description": "Enriches a company with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matchCompanyInput[]",
            "in": "query",
            "required": true,
            "description": "Array of company match objects. Each object can include fields such as companyId, companyName, companyWebsite, companyTicker, companyPhone, or companyCountry.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Array of company match objects. Each object can include fields such as companyId, companyName, companyWebsite, companyTicker, companyPhone, or companyCountry."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "outputFields[]",
            "in": "query",
            "required": false,
            "description": "Array of response field names to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Array of response field names to return.",
              "default": [
                "id",
                "ticker",
                "name",
                "website",
                "domainList"
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domainList": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ticker": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-company-master-data": {
      "get": {
        "operationId": "zoominfo.enrich-company-master-data",
        "summary": "Enrich Company Master Data",
        "description": "Enriches company master data with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-company-master-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matchCompanyInput[]",
            "in": "query",
            "required": true,
            "description": "Array of company master match objects using documented fields such as zi_c_url, zi_c_name, phone, address, email, or zi_c_company_id.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Array of company master match objects using documented fields such as zi_c_url, zi_c_name, phone, address, email, or zi_c_company_id."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "outputFields[]",
            "in": "query",
            "required": false,
            "description": "Array of response field names to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Array of response field names to return.",
              "default": [
                "zi_c_name",
                "zi_c_url",
                "zi_c_location_id"
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "zi_c_city": {
                            "type": "string"
                          },
                          "zi_c_country": {
                            "type": "string"
                          },
                          "zi_c_is_hq": {
                            "type": "string"
                          },
                          "zi_c_legal_entity_type": {
                            "type": "string"
                          },
                          "zi_c_location_id": {
                            "type": "number"
                          },
                          "zi_c_name": {
                            "type": "string"
                          },
                          "zi_c_name_display": {
                            "type": "string"
                          },
                          "zi_c_state": {
                            "type": "string"
                          },
                          "zi_c_street": {
                            "type": "string"
                          },
                          "zi_c_tier_grade": {
                            "type": "string"
                          },
                          "zi_c_url": {
                            "type": "string"
                          },
                          "zi_c_zip": {
                            "type": "string"
                          },
                          "zi_es_ecid": {
                            "type": "number"
                          },
                          "zi_es_location_id": {
                            "type": "string"
                          },
                          "zi_match_reason": {
                            "type": "object",
                            "properties": {
                              "zi_match_reason_building_name": {
                                "type": "string"
                              },
                              "zi_match_reason_building_number": {
                                "type": "string"
                              },
                              "zi_match_reason_business_type": {
                                "type": "string"
                              },
                              "zi_match_reason_city": {
                                "type": "string"
                              },
                              "zi_match_reason_company_phone": {
                                "type": "string"
                              },
                              "zi_match_reason_country": {
                                "type": "string"
                              },
                              "zi_match_reason_directional": {
                                "type": "string"
                              },
                              "zi_match_reason_name": {
                                "type": "string"
                              },
                              "zi_match_reason_road_name": {
                                "type": "string"
                              },
                              "zi_match_reason_road_type": {
                                "type": "string"
                              },
                              "zi_match_reason_state": {
                                "type": "string"
                              },
                              "zi_match_reason_unit": {
                                "type": "string"
                              },
                              "zi_match_reason_website": {
                                "type": "string"
                              },
                              "zi_match_reason_zip": {
                                "type": "string"
                              },
                              "zi_match_score": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-contact": {
      "get": {
        "operationId": "zoominfo.enrich-contact",
        "summary": "Enrich Contact",
        "description": "Enriches a contact with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matchPersonInput[]",
            "in": "query",
            "required": true,
            "description": "Array of contact match objects. Each object can include fields such as personId, fullName, firstName, lastName, emailAddress, phone, companyId, or companyName.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Array of contact match objects. Each object can include fields such as personId, fullName, firstName, lastName, emailAddress, phone, companyId, or companyName."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "outputFields[]",
            "in": "query",
            "required": false,
            "description": "Array of response field names to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Array of response field names to return.",
              "default": [
                "mobilePhone",
                "phone",
                "id",
                "companyId"
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "mobilePhone": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-corporate-hierarchy": {
      "get": {
        "operationId": "zoominfo.enrich-corporate-hierarchy",
        "summary": "Enrich Corporate Hierarchy",
        "description": "Enriches a corporate hierarchy with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-corporate-hierarchy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matchCompanyInput[]",
            "in": "query",
            "required": true,
            "description": "Array of company match objects for corporate hierarchy enrich. The collection example uses `companyName`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Array of company match objects for corporate hierarchy enrich. The collection example uses `companyName`."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "outputFields[]",
            "in": "query",
            "required": false,
            "description": "Array of response field names to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Array of response field names to return.",
              "default": [
                "parentage",
                "familyTree",
                "companyId"
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "number"
                          },
                          "familyTree": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "parentage": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-hashtags": {
      "get": {
        "operationId": "zoominfo.enrich-hashtags",
        "summary": "Enrich Hashtags",
        "description": "Enriches company hashtags with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-hashtags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "The id of the company for which you want to view hashtags",
            "schema": {
              "type": "string",
              "description": "The id of the company for which you want to view hashtags"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categorizedFlag": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayLabel": {
                            "type": "string"
                          },
                          "displayScore": {
                            "type": "string"
                          },
                          "group": {
                            "type": "string"
                          },
                          "hidden": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "parentCategory": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "searchString": {
                            "type": "string"
                          },
                          "tag": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-intent": {
      "get": {
        "operationId": "zoominfo.enrich-intent",
        "summary": "Enrich Intent",
        "description": "Enriches company intent data with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-intent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topics[]",
            "in": "query",
            "required": false,
            "description": "Intent topics. Accepts an Array of up to 50 Strings. See the 'Intent Topics' endpoint for values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Intent topics. Accepts an Array of up to 50 Strings. See the 'Intent Topics' endpoint for values."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "signalStartDate",
            "in": "query",
            "required": false,
            "description": "Start date for a company signaling interest in a topic",
            "schema": {
              "type": "string",
              "description": "Start date for a company signaling interest in a topic"
            }
          },
          {
            "name": "signalEndDate",
            "in": "query",
            "required": false,
            "description": "End date for a company signaling interest in a topic",
            "schema": {
              "type": "string",
              "description": "End date for a company signaling interest in a topic"
            }
          },
          {
            "name": "signalScoreMin",
            "in": "query",
            "required": false,
            "description": "Minimum signal score. Use with signalScoreMax to form a range. Minimum score is 60 and maximum is 100.",
            "schema": {
              "type": "number",
              "description": "Minimum signal score. Use with signalScoreMax to form a range. Minimum score is 60 and maximum is 100."
            }
          },
          {
            "name": "signalScoreMax",
            "in": "query",
            "required": false,
            "description": "Maximum signal score. Use with signalScoreMin to form a range. Minimum score is 60 and maximum is 100.",
            "schema": {
              "type": "number",
              "description": "Maximum signal score. Use with signalScoreMin to form a range. Minimum score is 60 and maximum is 100."
            }
          },
          {
            "name": "audienceStrengthMin",
            "in": "query",
            "required": false,
            "description": "Minimum audience strength score. Use with audienceStrengthMax to form a range. Values are A, B, C, D, and E, with A indicating a larger audience.",
            "schema": {
              "type": "string",
              "description": "Minimum audience strength score. Use with audienceStrengthMax to form a range. Values are A, B, C, D, and E, with A indicating a larger audience."
            }
          },
          {
            "name": "audienceStrengthMax",
            "in": "query",
            "required": false,
            "description": "Maximum audience strength score. Use with audienceStrengthMin to form a range. Values are A, B, C, D, and E, with A indicating a larger audience.",
            "schema": {
              "type": "string",
              "description": "Maximum audience strength score. Use with audienceStrengthMin to form a range. Values are A, B, C, D, and E, with A indicating a larger audience."
            }
          },
          {
            "name": "findRecommendedContacts",
            "in": "query",
            "required": false,
            "description": "Flag to indicate whether recommended contacts should be fetched in result or not. Default is true",
            "schema": {
              "type": "boolean",
              "description": "Flag to indicate whether recommended contacts should be fetched in result or not. Default is true"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "Unique ZoomInfo identifier for a company",
            "schema": {
              "type": "number",
              "description": "Unique ZoomInfo identifier for a company"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "description": "Company name",
            "schema": {
              "type": "string",
              "description": "Company name"
            }
          },
          {
            "name": "companyWebsite",
            "in": "query",
            "required": false,
            "description": "The website of the company you are searching for",
            "schema": {
              "type": "string",
              "description": "The website of the company you are searching for"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sorts results by valid output fields",
            "schema": {
              "type": "string",
              "description": "Sorts results by valid output fields"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Default value is desc. It accepts the following values { Asc, Ascending, desc, descending }",
            "schema": {
              "type": "string",
              "description": "Default value is desc. It accepts the following values { Asc, Ascending, desc, descending }"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audienceStrength": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "hasOtherTopicConsumption": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "website": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "recommendedContacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "signalDate": {
                            "type": "string"
                          },
                          "signalScore": {
                            "type": "number"
                          },
                          "spikesInDateRange": {
                            "type": "number"
                          },
                          "topic": {
                            "type": "string"
                          },
                          "topSignalLocations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-location": {
      "get": {
        "operationId": "zoominfo.enrich-location",
        "summary": "Enrich Location",
        "description": "Enriches a location with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "The id of the parent company for which you want to find locations",
            "schema": {
              "type": "string",
              "description": "The id of the parent company for which you want to find locations"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "addressStatus": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "locationEmployeeCount": {
                                "type": "number"
                              },
                              "locationName": {
                                "type": "string"
                              },
                              "subUnitType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "zipCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-news": {
      "get": {
        "operationId": "zoominfo.enrich-news",
        "summary": "Enrich News",
        "description": "Enriches company news with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-news"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "The id of the company you are searching for",
            "schema": {
              "type": "number",
              "description": "The id of the company you are searching for"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of articles to return per page, the maximum limit is 100.",
            "schema": {
              "type": "number",
              "description": "Number of articles to return per page, the maximum limit is 100."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Provides the results for the given page, used in conjunction with limit.",
            "schema": {
              "type": "number",
              "description": "Provides the results for the given page, used in conjunction with limit."
            }
          },
          {
            "name": "categories[]",
            "in": "query",
            "required": false,
            "description": "Category of news articles. Accepts an Array of String. See the 'News Categories' endpoint for values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Category of news articles. Accepts an Array of String. See the 'News Categories' endpoint for values."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "url[]",
            "in": "query",
            "required": false,
            "description": "Search news by URL strings. Accepts an Array of String. Minimum of 5 characters per input",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Search news by URL strings. Accepts an Array of String. Minimum of 5 characters per input"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "pageDateMin",
            "in": "query",
            "required": false,
            "description": "Specify the earliest publishing date for news articles returned. For example, 2020-01-01 will return all news articles published on or after Jan 1, 2020.",
            "schema": {
              "type": "string",
              "description": "Specify the earliest publishing date for news articles returned. For example, 2020-01-01 will return all news articles published on or after Jan 1, 2020."
            }
          },
          {
            "name": "pageDateMax",
            "in": "query",
            "required": false,
            "description": "Specify the latest publishing date for news articles articles. For example, 2020-01-31 will return all new articles published on or before Jan 31, 2020.",
            "schema": {
              "type": "string",
              "description": "Specify the latest publishing date for news articles articles. For example, 2020-01-31 will return all new articles published on or before Jan 31, 2020."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "company": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "pageDate": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-org-chart": {
      "get": {
        "operationId": "zoominfo.enrich-org-chart",
        "summary": "Enrich Org Chart",
        "description": "Enriches an org chart with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-org-chart"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "ZoomInfo unique identifier of the company for which you want to view the org chart",
            "schema": {
              "type": "string",
              "description": "ZoomInfo unique identifier of the company for which you want to view the org chart"
            }
          },
          {
            "name": "department",
            "in": "query",
            "required": false,
            "description": "A comma delimited string of departments to display org charts for. From this endpoint : lookup/department",
            "schema": {
              "type": "string",
              "description": "A comma delimited string of departments to display org charts for. From this endpoint : lookup/department Pass multiple values separated by `,`."
            }
          },
          {
            "name": "contactAccuracyScoreMin",
            "in": "query",
            "required": false,
            "description": "Minimum accuracy score for search results. This score indicates the likelihood that a contact is reachable and still employed by the company listed. Minimum score is 70 and maximum is 99.",
            "schema": {
              "type": "string",
              "description": "Minimum accuracy score for search results. This score indicates the likelihood that a contact is reachable and still employed by the company listed. Minimum score is 70 and maximum is 99."
            }
          },
          {
            "name": "contactAccuracyScoreMax",
            "in": "query",
            "required": false,
            "description": "Maximum accuracy score for search results. This score indicates the likelihood that a contact is reachable and still employed by the company listed. Minimum score is 70 and maximum is 99.",
            "schema": {
              "type": "string",
              "description": "Maximum accuracy score for search results. This score indicates the likelihood that a contact is reachable and still employed by the company listed. Minimum score is 70 and maximum is 99."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "department": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hasDirectPhone": {
                            "type": "boolean"
                          },
                          "hasEmail": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "jobFunction": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "lastUpdatedDate": {
                            "type": "string"
                          },
                          "middleName": {
                            "type": "string"
                          },
                          "orgChartSubTier": {
                            "type": "number"
                          },
                          "orgChartTier": {
                            "type": "number"
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "contactAccuracyScore": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zoominfo/latest/actions/enrich-scoops": {
      "get": {
        "operationId": "zoominfo.enrich-scoops",
        "summary": "Enrich Scoops",
        "description": "Enriches company scoops with ZoomInfo data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zoominfo/latest/actions/enrich-scoops"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "ZoomInfo unique identifier for the company. Will accept a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "ZoomInfo unique identifier for the company. Will accept a comma-separated list."
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "description": "Company name. Accepts a pipe ('|')-separated list.",
            "schema": {
              "type": "string",
              "description": "Company name. Accepts a pipe ('|')-separated list."
            }
          },
          {
            "name": "companyWebsite",
            "in": "query",
            "required": false,
            "description": "Company domain. Accepts a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Company domain. Accepts a comma-separated list."
            }
          },
          {
            "name": "publishedStartDate",
            "in": "query",
            "required": false,
            "description": "Starting date to search for scoops based on when published. Form a range using publishedEndDate or omit publishedEndDate to search to the current date. Uses YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Starting date to search for scoops based on when published. Form a range using publishedEndDate or omit publishedEndDate to search to the current date. Uses YYYY-MM-DD format."
            }
          },
          {
            "name": "publishedEndDate",
            "in": "query",
            "required": false,
            "description": "Ending date to search for scoops based on when published. Form a range using publishedEndDate. Uses YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Ending date to search for scoops based on when published. Form a range using publishedEndDate. Uses YYYY-MM-DD format."
            }
          },
          {
            "name": "updatedSinceCreation",
            "in": "query",
            "required": false,
            "description": "Include scoops that have been updated since publishedStartDate",
            "schema": {
              "type": "boolean",
              "description": "Include scoops that have been updated since publishedStartDate"
            }
          },
          {
            "name": "scoopType",
            "in": "query",
            "required": false,
            "description": "Retrieve scoops based on type (e.g. earnings, awards and partnerships). Accepts a comma-separated list of IDs from the endpoint: /lookup/scooptype.",
            "schema": {
              "type": "string",
              "description": "Retrieve scoops based on type (e.g. earnings, awards and partnerships). Accepts a comma-separated list of IDs from the endpoint: /lookup/scooptype."
            }
          },
          {
            "name": "scoopTopic",
            "in": "query",
            "required": false,
            "description": "Retrieve scoops based on topic (e.g. integration, consolidation and compliance). Accepts a comma-separated list of IDs from the endpoint: /lookup/scooptopic.",
            "schema": {
              "type": "string",
              "description": "Retrieve scoops based on topic (e.g. integration, consolidation and compliance). Accepts a comma-separated list of IDs from the endpoint: /lookup/scooptopic."
            }
          },
          {
            "name": "department",
            "in": "query",
            "required": false,
            "description": "Retrieve scoops based on department (e.g. IT, finance and HR). Accepts a comma-separated list of IDs from the endpoint: /lookup/scoopdepartment.",
            "schema": {
              "type": "string",
              "description": "Retrieve scoops based on department (e.g. IT, finance and HR). Accepts a comma-separated list of IDs from the endpoint: /lookup/scoopdepartment."
            }
          },
          {
            "name": "scoopId",
            "in": "query",
            "required": false,
            "description": "ZoomInfo unique identifier for a scoop. Accepts a comma-separated list.",
            "schema": {
              "type": "string",
              "description": "ZoomInfo unique identifier for a scoop. Accepts a comma-separated list."
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "description": "Search for scoops based on description.  Accepts a space-separated list of individual words.",
            "schema": {
              "type": "string",
              "description": "Search for scoops based on description.  Accepts a space-separated list of individual words."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sorts results by valid output fields",
            "schema": {
              "type": "string",
              "description": "Sorts results by valid output fields"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Default value is desc. It accepts the following values { asc, ascending, desc, descending",
            "schema": {
              "type": "string",
              "description": "Default value is desc. It accepts the following values { asc, ascending, desc, descending"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "link": {
                            "type": "string"
                          },
                          "linkText": {
                            "type": "string"
                          },
                          "originalPublishedDate": {
                            "type": "string"
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "publishedDate": {
                            "type": "string"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "types": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "updateText": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
[...]
