{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Availity Universal API",
    "version": "0.0.3",
    "description": "Availity provides REST APIs for HIPAA healthcare transactions, including payer lookup, eligibility and benefits, claim status, dental claims, and patient cost estimate workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/availity/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/availity/latest/actions/create-claim-status-inquiry": {
      "post": {
        "operationId": "availity.create-claim-status-inquiry",
        "summary": "Create Claim Status Inquiry",
        "description": "Creates a claim status inquiry in Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/create-claim-status-inquiry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "claimStatus": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Claim status inquiry request body. For demo POST scenarios, Availity documents that an empty JSON body may be used."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "claimAmount": {
                            "type": "string",
                            "description": "Claim amount submitted in the inquiry."
                          },
                          "claimCount": {
                            "type": "string",
                            "description": "Number of matching claim status records."
                          },
                          "controlNumber": {
                            "type": "string",
                            "description": "Control number returned for the inquiry."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim status inquiry creation timestamp."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "Availity customer identifier for the claim status inquiry."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim status inquiry expiration timestamp."
                          },
                          "fromDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim service period start date."
                          },
                          "id": {
                            "type": "string",
                            "description": "Claim status inquiry identifier."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Related Availity links."
                          },
                          "patient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Patient details."
                          },
                          "payer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Payer details."
                          },
                          "providers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Provider details."
                          },
                          "status": {
                            "type": "string",
                            "description": "Claim status inquiry processing status."
                          },
                          "statusCode": {
                            "type": "string",
                            "description": "Claim status code."
                          },
                          "submitter": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitter details."
                          },
                          "subscriber": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscriber details."
                          },
                          "toDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim service period end date."
                          },
                          "updatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim status inquiry last update timestamp."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Availity user identifier associated with the inquiry."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/create-coverage-inquiry": {
      "post": {
        "operationId": "availity.create-coverage-inquiry",
        "summary": "Create Coverage Inquiry",
        "description": "Creates a coverage inquiry in Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/create-coverage-inquiry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "coverage": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Coverage inquiry request body. For demo POST scenarios, Availity documents that an empty JSON body may be used."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asOfDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Eligibility as-of date."
                          },
                          "controlNumber": {
                            "type": "string",
                            "description": "Control number returned for the inquiry."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Coverage inquiry creation timestamp."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "Availity customer identifier for the coverage inquiry."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Coverage inquiry expiration timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Coverage inquiry identifier."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Related Availity links."
                          },
                          "patient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Patient details."
                          },
                          "payer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Payer details."
                          },
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Coverage plan details."
                          },
                          "requestedServiceType": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Requested service type details."
                          },
                          "requestingProvider": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Requesting provider details."
                          },
                          "status": {
                            "type": "string",
                            "description": "Coverage inquiry processing status."
                          },
                          "statusCode": {
                            "type": "string",
                            "description": "Coverage inquiry status code."
                          },
                          "subscriber": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscriber details."
                          },
                          "updatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Coverage inquiry last update timestamp."
                          },
                          "validationMessages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Validation messages returned by Availity."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/create-institutional-predetermination": {
      "post": {
        "operationId": "availity.create-institutional-predetermination",
        "summary": "Create Institutional Predetermination",
        "description": "Creates an institutional predetermination in Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/create-institutional-predetermination"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "institutionalClaim": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "PCE 1.0 institutional claim predetermination request body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/create-professional-cost-estimate": {
      "post": {
        "operationId": "availity.create-professional-cost-estimate",
        "summary": "Create Professional Cost Estimate",
        "description": "Creates a professional cost estimate in Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/create-professional-cost-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "professionalClaim": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "PCE 2.0 professional predetermination request body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/create-professional-predetermination": {
      "post": {
        "operationId": "availity.create-professional-predetermination",
        "summary": "Create Professional Predetermination",
        "description": "Creates a professional predetermination in Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/create-professional-predetermination"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "professionalClaim": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "PCE 1.0 professional claim predetermination request body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/delete-claim-status-inquiry": {
      "delete": {
        "operationId": "availity.delete-claim-status-inquiry",
        "summary": "Delete Claim Status Inquiry",
        "description": "Deletes a claim status inquiry from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/delete-claim-status-inquiry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique response ID for the claim status inquiry to delete.",
            "schema": {
              "type": "string",
              "description": "Unique response ID for the claim status inquiry to delete.",
              "example": "123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/delete-coverage-inquiry": {
      "delete": {
        "operationId": "availity.delete-coverage-inquiry",
        "summary": "Delete Coverage Inquiry",
        "description": "Deletes a coverage inquiry from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/delete-coverage-inquiry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique response ID for the coverage inquiry to delete.",
            "schema": {
              "type": "string",
              "description": "Unique response ID for the coverage inquiry to delete.",
              "example": "123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/get-claim-status-inquiry": {
      "get": {
        "operationId": "availity.get-claim-status-inquiry",
        "summary": "Get Claim Status Inquiry",
        "description": "Retrieves a claim status inquiry from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/get-claim-status-inquiry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique response ID from the initial claim status inquiry request.",
            "schema": {
              "type": "string",
              "description": "Unique response ID from the initial claim status inquiry request.",
              "example": "123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "claimAmount": {
                            "type": "string",
                            "description": "Claim amount submitted in the inquiry."
                          },
                          "claimCount": {
                            "type": "string",
                            "description": "Number of matching claim status records."
                          },
                          "controlNumber": {
                            "type": "string",
                            "description": "Control number returned for the inquiry."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim status inquiry creation timestamp."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "Availity customer identifier for the claim status inquiry."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim status inquiry expiration timestamp."
                          },
                          "fromDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim service period start date."
                          },
                          "id": {
                            "type": "string",
                            "description": "Claim status inquiry identifier."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Related Availity links."
                          },
                          "patient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Patient details."
                          },
                          "payer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Payer details."
                          },
                          "providers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Provider details."
                          },
                          "status": {
                            "type": "string",
                            "description": "Claim status inquiry processing status."
                          },
                          "statusCode": {
                            "type": "string",
                            "description": "Claim status code."
                          },
                          "submitter": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitter details."
                          },
                          "subscriber": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscriber details."
                          },
                          "toDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim service period end date."
                          },
                          "updatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Claim status inquiry last update timestamp."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Availity user identifier associated with the inquiry."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/get-coverage-inquiry": {
      "get": {
        "operationId": "availity.get-coverage-inquiry",
        "summary": "Get Coverage Inquiry",
        "description": "Retrieves a coverage inquiry from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/get-coverage-inquiry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique response ID from the initial coverage inquiry request.",
            "schema": {
              "type": "string",
              "description": "Unique response ID from the initial coverage inquiry request.",
              "example": "123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asOfDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Eligibility as-of date."
                          },
                          "controlNumber": {
                            "type": "string",
                            "description": "Control number returned for the inquiry."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Coverage inquiry creation timestamp."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "Availity customer identifier for the coverage inquiry."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Coverage inquiry expiration timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Coverage inquiry identifier."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Related Availity links."
                          },
                          "patient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Patient details."
                          },
                          "payer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Payer details."
                          },
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Coverage plan details."
                          },
                          "requestedServiceType": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Requested service type details."
                          },
                          "requestingProvider": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Requesting provider details."
                          },
                          "status": {
                            "type": "string",
                            "description": "Coverage inquiry processing status."
                          },
                          "statusCode": {
                            "type": "string",
                            "description": "Coverage inquiry status code."
                          },
                          "subscriber": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscriber details."
                          },
                          "updatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Coverage inquiry last update timestamp."
                          },
                          "validationMessages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Validation messages returned by Availity."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/get-institutional-predetermination": {
      "get": {
        "operationId": "availity.get-institutional-predetermination",
        "summary": "Get Institutional Predetermination",
        "description": "Retrieves an institutional predetermination from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/get-institutional-predetermination"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique response ID from the initial institutional predetermination request.",
            "schema": {
              "type": "string",
              "description": "Unique response ID from the initial institutional predetermination request.",
              "example": "123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingProvider": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Billing provider details."
                          },
                          "claimInformation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Institutional claim result details."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Predetermination creation timestamp."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Predetermination expiration timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Institutional predetermination identifier."
                          },
                          "patient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Patient details."
                          },
                          "payer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Payer details."
                          },
                          "requestTypeCode": {
                            "type": "string",
                            "description": "Request type code returned by Availity."
                          },
                          "submitter": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitter details."
                          },
                          "subscriber": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscriber details."
                          },
                          "updatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Predetermination last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/get-professional-cost-estimate": {
      "get": {
        "operationId": "availity.get-professional-cost-estimate",
        "summary": "Get Professional Cost Estimate",
        "description": "Retrieves a professional cost estimate from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/get-professional-cost-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique response ID from the initial PCE 2.0 professional cost estimate request.",
            "schema": {
              "type": "string",
              "description": "Unique response ID from the initial PCE 2.0 professional cost estimate request.",
              "example": "efe8b6ab-e47d-4975-aa73-adda35311850"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp returned by Availity."
                          },
                          "id": {
                            "type": "string",
                            "description": "Patient cost estimate response identifier."
                          },
                          "result": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Completed professional cost estimate result details."
                          },
                          "status": {
                            "type": "string",
                            "description": "Processing or completion status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/get-professional-predetermination": {
      "get": {
        "operationId": "availity.get-professional-predetermination",
        "summary": "Get Professional Predetermination",
        "description": "Retrieves a professional predetermination from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/get-professional-predetermination"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique response ID from the initial professional predetermination request.",
            "schema": {
              "type": "string",
              "description": "Unique response ID from the initial professional predetermination request.",
              "example": "123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingProvider": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Billing provider details."
                          },
                          "claimInformation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Professional claim and service-line result details."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Predetermination creation timestamp."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Predetermination expiration timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Professional predetermination identifier."
                          },
                          "patient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Patient details."
                          },
                          "payer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Payer details."
                          },
                          "requestTypeCode": {
                            "type": "string",
                            "description": "Request type code returned by Availity."
                          },
                          "submitter": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitter details."
                          },
                          "subscriber": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscriber and deductible details."
                          },
                          "updatedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Predetermination last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/availity/latest/actions/list-payers": {
      "get": {
        "operationId": "availity.list-payers",
        "summary": "List Payers",
        "description": "Retrieves payers and supported transactions from Availity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/availity/latest/actions/list-payers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payerId",
            "in": "query",
            "required": false,
            "description": "Availity-specific payer identifier to narrow the payer list.",
            "schema": {
              "type": "string",
              "description": "Availity-specific payer identifier to narrow the payer list.",
              "example": "BCBSF"
            }
          },
          {
            "name": "transactionTypes",
            "in": "query",
            "required": false,
            "description": "EDI/HIPAA transaction type code, such as 270, 276, 837P, 837I, or 837D.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "EDI/HIPAA transaction type code, such as 270, 276, 837P, 837I, or 837D."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "Payer name as displayed by Availity."
                          },
                          "name": {
                            "type": "string",
                            "description": "Common payer or health plan name."
                          },
                          "payerId": {
                            "type": "string",
                            "description": "Availity-specific payer identifier."
                          },
                          "processingRoutes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Available payer transaction routing details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
[...]
