{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Remote OK Universal API",
    "version": "0.0.3",
    "description": "Remote OK: List public remote job postings"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/remoteOK/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/remoteOK/latest/actions/list-remote-jobs": {
      "get": {
        "operationId": "remoteOK.list-remote-jobs",
        "summary": "List Remote Jobs",
        "description": "Retrieves remote job postings from Remote OK.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/remoteOK/latest/actions/list-remote-jobs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apply_url": {
                            "type": "string",
                            "description": "Remote OK application URL."
                          },
                          "company": {
                            "type": "string",
                            "description": "Hiring company name."
                          },
                          "company_logo": {
                            "type": "string",
                            "description": "Company logo URL when provided."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO timestamp for the job posting."
                          },
                          "description": {
                            "type": "string",
                            "description": "Full job description HTML."
                          },
                          "epoch": {
                            "type": "number",
                            "description": "Unix timestamp for the job posting."
                          },
                          "id": {
                            "type": "string",
                            "description": "Remote OK job identifier."
                          },
                          "location": {
                            "type": "string",
                            "description": "Location or geographic restriction when provided."
                          },
                          "logo": {
                            "type": "string",
                            "description": "Logo URL when provided."
                          },
                          "original": {
                            "type": "boolean",
                            "description": "Whether Remote OK marks this as an original listing."
                          },
                          "position": {
                            "type": "string",
                            "description": "Job title."
                          },
                          "salary_max": {
                            "type": "number",
                            "description": "Maximum salary when provided."
                          },
                          "salary_min": {
                            "type": "number",
                            "description": "Minimum salary when provided."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Remote OK job slug."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Remote OK tags attached to the job."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical Remote OK job URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
