{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "VoiceShot Universal API",
    "version": "0.0.3",
    "description": "VoiceShot provides inbound and outbound voice calling, IVR, SMS messaging, sound-file management, and real-time call-event integrations through an XML-over-HTTP API built around VoiceShot campaigns."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/voiceShot/latest/actions/delete-pending-calls": {
      "delete": {
        "operationId": "voiceShot.delete-pending-calls",
        "summary": "Delete Pending Calls",
        "description": "Deletes pending calls from a VoiceShot campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/delete-pending-calls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuId",
            "in": "query",
            "required": true,
            "description": "VoiceShot campaign identifier.",
            "schema": {
              "type": "string",
              "description": "VoiceShot campaign identifier."
            }
          },
          {
            "name": "callIds[]",
            "in": "query",
            "required": true,
            "description": "Call identifiers to remove from the pending queue.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Call identifiers to remove from the pending queue."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/delete-sound-file": {
      "delete": {
        "operationId": "voiceShot.delete-sound-file",
        "summary": "Delete Sound File",
        "description": "Deletes a sound file from VoiceShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/delete-sound-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "WAV filename to delete from VoiceShot.",
            "schema": {
              "type": "string",
              "description": "WAV filename to delete from VoiceShot."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/pause-pending-calls": {
      "put": {
        "operationId": "voiceShot.pause-pending-calls",
        "summary": "Pause Pending Calls",
        "description": "Pauses pending calls in a VoiceShot campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/pause-pending-calls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/query-call-by-call-id": {
      "get": {
        "operationId": "voiceShot.query-call-by-call-id",
        "summary": "Query Call By Call ID",
        "description": "Retrieves a call from VoiceShot by call ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/query-call-by-call-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuId",
            "in": "query",
            "required": true,
            "description": "VoiceShot campaign identifier.",
            "schema": {
              "type": "string",
              "description": "VoiceShot campaign identifier."
            }
          },
          {
            "name": "callId",
            "in": "query",
            "required": true,
            "description": "Call identifier to query.",
            "schema": {
              "type": "string",
              "description": "Call identifier to query."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          },
                          "menuId": {
                            "type": "string",
                            "description": "VoiceShot campaign identifier returned by the query."
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Phone-number results returned by VoiceShot."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/query-calls-by-menu-id": {
      "get": {
        "operationId": "voiceShot.query-calls-by-menu-id",
        "summary": "Query Calls By Menu ID",
        "description": "Retrieves calls from VoiceShot by menu ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/query-calls-by-menu-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuId",
            "in": "query",
            "required": true,
            "description": "VoiceShot campaign identifier.",
            "schema": {
              "type": "string",
              "description": "VoiceShot campaign identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          },
                          "menuId": {
                            "type": "string",
                            "description": "VoiceShot campaign identifier returned by the query."
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Phone-number results returned by VoiceShot."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-per-recipient-sms-batch": {
      "post": {
        "operationId": "voiceShot.send-per-recipient-sms-batch",
        "summary": "Send Per-Recipient SMS Batch",
        "description": "Creates per-recipient SMS messages in VoiceShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-per-recipient-sms-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "recipients[]",
                  "recipients[].number",
                  "recipients[].message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient list with per-recipient SMS content."
                  },
                  "recipients[].number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "recipients[].message": {
                    "type": "string",
                    "description": "SMS body for this recipient."
                  },
                  "recipients[].callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "recipients[].callerId": {
                    "type": "string",
                    "description": "Optional caller ID for this recipient."
                  },
                  "recipients[].countryCode": {
                    "type": "string",
                    "description": "Optional country code."
                  },
                  "recipients[].dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-per-recipient-tts-voice-batch": {
      "post": {
        "operationId": "voiceShot.send-per-recipient-tts-voice-batch",
        "summary": "Send Per-Recipient TTS Voice Batch",
        "description": "Creates per-recipient TTS voice calls in VoiceShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-per-recipient-tts-voice-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "promptId",
                  "recipients[]",
                  "recipients[].number",
                  "recipients[].message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Optional default caller ID when a recipient does not provide one."
                  },
                  "promptId": {
                    "type": "string",
                    "description": "Prompt identifier inside the VoiceShot campaign."
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient list with per-recipient TTS content."
                  },
                  "recipients[].number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "recipients[].message": {
                    "type": "string",
                    "description": "Text-to-speech message to speak for this recipient."
                  },
                  "recipients[].callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "recipients[].callerId": {
                    "type": "string",
                    "description": "Optional caller ID override."
                  },
                  "recipients[].countryCode": {
                    "type": "string",
                    "description": "Optional country code."
                  },
                  "recipients[].dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  },
                  "recipients[].transferTo": {
                    "type": "string",
                    "description": "Optional transfer target for this recipient."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-per-recipient-wav-voice-batch": {
      "post": {
        "operationId": "voiceShot.send-per-recipient-wav-voice-batch",
        "summary": "Send Per-Recipient WAV Voice Batch",
        "description": "Creates per-recipient WAV voice calls in VoiceShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-per-recipient-wav-voice-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "promptId",
                  "recipients[]",
                  "recipients[].number",
                  "recipients[].filename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Optional default caller ID when a recipient does not provide one."
                  },
                  "promptId": {
                    "type": "string",
                    "description": "Prompt identifier inside the VoiceShot campaign."
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient list with per-recipient WAV prompts."
                  },
                  "recipients[].number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "recipients[].filename": {
                    "type": "string",
                    "description": "Previously uploaded WAV file to play for this recipient."
                  },
                  "recipients[].callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "recipients[].callerId": {
                    "type": "string",
                    "description": "Optional caller ID override."
                  },
                  "recipients[].countryCode": {
                    "type": "string",
                    "description": "Optional country code."
                  },
                  "recipients[].dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  },
                  "recipients[].transferTo": {
                    "type": "string",
                    "description": "Optional transfer target for this recipient."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-sms-to-many-numbers": {
      "post": {
        "operationId": "voiceShot.send-sms-to-many-numbers",
        "summary": "Send SMS To Many Numbers",
        "description": "Creates SMS messages in VoiceShot for many recipients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-sms-to-many-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "callerId",
                  "message",
                  "recipients[]",
                  "recipients[].number"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Caller ID to display for all recipients."
                  },
                  "message": {
                    "type": "string",
                    "description": "SMS body to send for every recipient."
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient list for the outbound text message."
                  },
                  "recipients[].number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "recipients[].callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "recipients[].countryCode": {
                    "type": "string",
                    "description": "Optional country code."
                  },
                  "recipients[].dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-sms-to-one-number": {
      "post": {
        "operationId": "voiceShot.send-sms-to-one-number",
        "summary": "Send SMS To One Number",
        "description": "Creates an SMS message in VoiceShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-sms-to-one-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "callerId",
                  "number",
                  "message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Caller ID to display for the outbound text."
                  },
                  "number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "message": {
                    "type": "string",
                    "description": "SMS body to send."
                  },
                  "callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Optional country code for the destination number."
                  },
                  "dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-tts-voice-call-to-many-numbers": {
      "post": {
        "operationId": "voiceShot.send-tts-voice-call-to-many-numbers",
        "summary": "Send TTS Voice Call To Many Numbers",
        "description": "Creates TTS voice calls in VoiceShot for many recipients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-tts-voice-call-to-many-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "callerId",
                  "promptId",
                  "message",
                  "recipients[]",
                  "recipients[].number"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Caller ID to display for all recipients."
                  },
                  "promptId": {
                    "type": "string",
                    "description": "Prompt identifier inside the VoiceShot campaign."
                  },
                  "message": {
                    "type": "string",
                    "description": "Text-to-speech message to speak for every recipient."
                  },
                  "transferTo": {
                    "type": "string",
                    "description": "Optional phone number to transfer recipients to."
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient list for the outbound call."
                  },
                  "recipients[].number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "recipients[].callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "recipients[].countryCode": {
                    "type": "string",
                    "description": "Optional country code."
                  },
                  "recipients[].dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-tts-voice-call-to-one-number": {
      "post": {
        "operationId": "voiceShot.send-tts-voice-call-to-one-number",
        "summary": "Send TTS Voice Call To One Number",
        "description": "Creates a TTS voice call in VoiceShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-tts-voice-call-to-one-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "callerId",
                  "number",
                  "promptId",
                  "message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Caller ID to display for the outbound call."
                  },
                  "number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "promptId": {
                    "type": "string",
                    "description": "Prompt identifier inside the VoiceShot campaign."
                  },
                  "message": {
                    "type": "string",
                    "description": "Text-to-speech message to speak."
                  },
                  "callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Optional country code for the destination number."
                  },
                  "dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  },
                  "transferTo": {
                    "type": "string",
                    "description": "Optional phone number to transfer the recipient to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-wav-voice-call-to-many-numbers": {
      "post": {
        "operationId": "voiceShot.send-wav-voice-call-to-many-numbers",
        "summary": "Send WAV Voice Call To Many Numbers",
        "description": "Creates WAV voice calls in VoiceShot for many recipients.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-wav-voice-call-to-many-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "callerId",
                  "promptId",
                  "filename",
                  "recipients[]",
                  "recipients[].number"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Caller ID to display for all recipients."
                  },
                  "promptId": {
                    "type": "string",
                    "description": "Prompt identifier inside the VoiceShot campaign."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Previously uploaded WAV file to play for every recipient."
                  },
                  "transferTo": {
                    "type": "string",
                    "description": "Optional phone number to transfer recipients to."
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient list for the outbound call."
                  },
                  "recipients[].number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "recipients[].callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "recipients[].countryCode": {
                    "type": "string",
                    "description": "Optional country code."
                  },
                  "recipients[].dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voiceShot/latest/actions/send-wav-voice-call-to-one-number": {
      "post": {
        "operationId": "voiceShot.send-wav-voice-call-to-one-number",
        "summary": "Send WAV Voice Call To One Number",
        "description": "Creates a WAV voice call in VoiceShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voiceShot/latest/actions/send-wav-voice-call-to-one-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "menuId",
                  "callerId",
                  "number",
                  "promptId",
                  "filename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "menuId": {
                    "type": "string",
                    "description": "VoiceShot campaign identifier."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Caller ID to display for the outbound call."
                  },
                  "number": {
                    "type": "string",
                    "description": "Destination phone number."
                  },
                  "promptId": {
                    "type": "string",
                    "description": "Prompt identifier inside the VoiceShot campaign."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Previously uploaded WAV file to play."
                  },
                  "callId": {
                    "type": "string",
                    "description": "Optional client-defined call identifier."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Optional country code for the destination number."
                  },
                  "dateAndTime": {
                    "type": "string",
                    "description": "Optional scheduled delivery time."
                  },
                  "transferTo": {
                    "type": "string",
                    "description": "Optional phone number to transfer the recipient to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "VoiceShot response comment or error message."
                          },
                          "errorId": {
                            "type": "string",
                            "description": "VoiceShot response error code. 0 means ok."
                          }
                        },
[...]
