{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Avalara AvaTax Universal API",
    "version": "0.0.18",
    "description": "Your end-to-end solution for tax compliance. Make tax calculation faster, easier, and more accurate."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/avalara/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/avalara/latest/actions/create-transaction": {
      "post": {
        "operationId": "avalara.create-transaction",
        "summary": "Create Transaction",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/create-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lines[]",
                  "lines[].amount",
                  "customerCode",
                  "date"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "addresses.pointOfOrderOrigin.line1": {
                    "type": "string"
                  },
                  "addresses.shipFrom": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "addresses.shipFrom.line1": {
                    "type": "string"
                  },
                  "addresses.shipTo.line1": {
                    "type": "string"
                  },
                  "lines[]": {
                    "type": "array",
                    "items": {}
                  },
                  "lines[].number": {
                    "type": "string"
                  },
                  "addresses.pointOfOrderOrigin.city": {
                    "type": "string"
                  },
                  "addresses.shipFrom.city": {
                    "type": "string"
                  },
                  "addresses.shipTo": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "addresses.shipTo.city": {
                    "type": "string"
                  },
                  "lines[].quantity": {
                    "type": "number"
                  },
                  "addresses.pointOfOrderOrigin": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "addresses.pointOfOrderOrigin.region": {
                    "type": "string"
                  },
                  "addresses.shipFrom.region": {
                    "type": "string"
                  },
                  "addresses.shipTo.region": {
                    "type": "string"
                  },
                  "lines[].amount": {
                    "type": "number"
                  },
                  "addresses.pointOfOrderOrigin.country": {
                    "type": "string"
                  },
                  "addresses.shipFrom.country": {
                    "type": "string"
                  },
                  "addresses.shipTo.country": {
                    "type": "string"
                  },
                  "lines[].taxCode": {
                    "type": "string"
                  },
                  "addresses.pointOfOrderOrigin.postalCode": {
                    "type": "string"
                  },
                  "addresses.shipFrom.postalCode": {
                    "type": "string"
                  },
                  "addresses.shipTo.postalCode": {
                    "type": "string"
                  },
                  "lines[].itemCode": {
                    "type": "string"
                  },
                  "addresses.shipFrom.line2": {
                    "type": "string"
                  },
                  "addresses.shipTo.line2": {
                    "type": "string"
                  },
                  "lines[].description": {
                    "type": "string"
                  },
                  "referenceCode": {
                    "type": "string"
                  },
                  "locationCode": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "include": {
                    "type": "string",
                    "description": "Comma-separated related objects to include in the response.",
                    "x-mindcloud-advanced": true
                  },
                  "addresses": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "commit": {
                    "type": "boolean"
                  },
                  "companyCode": {
                    "type": "string"
                  },
                  "currencyCode": {
                    "type": "string"
                  },
                  "customerCode": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  },
                  "purchaseOrderNo": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "adjustmentDescription": {
                            "type": "string"
                          },
                          "adjustmentReason": {
                            "type": "string"
                          },
                          "batchCode": {
                            "type": "string"
                          },
                          "businessIdentificationNo": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "number"
                          },
                          "country": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "customerUsageType": {
                            "type": "string"
                          },
                          "customerVendorCode": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "destinationAddressId": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "entityUseCode": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "exchangeRateCurrencyCode": {
                            "type": "string"
                          },
                          "exchangeRateEffectiveDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "exemptNo": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSellerImporterOfRecord": {
                            "type": "boolean"
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "locationCode": {
                            "type": "string"
                          },
                          "locationTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedUserId": {
                            "type": "number"
                          },
                          "originAddressId": {
                            "type": "number"
                          },
                          "paymentDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purchaseOrderNo": {
                            "type": "string"
                          },
                          "reconciled": {
                            "type": "boolean"
                          },
                          "referenceCode": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "reportingLocationCode": {
                            "type": "string"
                          },
                          "salespersonCode": {
                            "type": "string"
                          },
                          "shippingTaxes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "softwareVersion": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "taxDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taxOverrideAmount": {
                            "type": "number"
                          },
                          "taxOverrideReason": {
                            "type": "string"
                          },
                          "taxOverrideType": {
                            "type": "string"
                          },
                          "totalAmount": {
                            "type": "number"
                          },
                          "totalDiscount": {
                            "type": "number"
                          },
                          "totalExempt": {
                            "type": "number"
                          },
                          "totalTax": {
                            "type": "number"
                          },
                          "totalTaxable": {
                            "type": "number"
                          },
                          "totalTaxCalculated": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/get-company": {
      "get": {
        "operationId": "avalara.get-company",
        "summary": "Get Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Avalara company ID.",
            "schema": {
              "type": "number",
              "description": "Avalara company ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number",
                            "description": "AvaTax account ID."
                          },
                          "companyCode": {
                            "type": "string",
                            "description": "Company code."
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "createdUserId": {
                            "type": "number",
                            "description": "User ID that created the company."
                          },
                          "defaultCountry": {
                            "type": "string",
                            "description": "Default country code."
                          },
                          "hasProfile": {
                            "type": "boolean",
                            "description": "Whether the company has a tax profile."
                          },
                          "id": {
                            "type": "number",
                            "description": "AvaTax company ID."
                          },
                          "inProgress": {
                            "type": "boolean",
                            "description": "Whether the company setup is in progress."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the company is active."
                          },
                          "isAdvSave": {
                            "type": "boolean",
                            "description": "Whether advanced save is enabled."
                          },
                          "isDefault": {
                            "type": "boolean",
                            "description": "Whether this is the default company."
                          },
                          "isDeleted": {
                            "type": "boolean",
                            "description": "Whether the company is deleted."
                          },
                          "isFein": {
                            "type": "boolean",
                            "description": "Whether the taxpayer ID is a FEIN."
                          },
                          "isReportingEntity": {
                            "type": "boolean",
                            "description": "Whether the company is the reporting entity."
                          },
                          "isTest": {
                            "type": "boolean",
                            "description": "Whether the company is marked as test."
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp."
                          },
                          "modifiedUserId": {
                            "type": "number",
                            "description": "User ID that last modified the company."
                          },
                          "name": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "parentCompanyId": {
                            "type": "number",
                            "description": "Parent company ID when applicable."
                          },
                          "roundingLevelId": {
                            "type": "string",
                            "description": "Rounding level identifier."
                          },
                          "taxDependencyLevelId": {
                            "type": "string",
                            "description": "Tax dependency level identifier."
                          },
                          "taxpayerIdNumber": {
                            "type": "string",
                            "description": "Taxpayer identification number."
                          },
                          "warningsEnabled": {
                            "type": "boolean",
                            "description": "Whether warnings are enabled."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/get-customer": {
      "get": {
        "operationId": "avalara.get-customer",
        "summary": "Get Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Avalara company ID.",
            "schema": {
              "type": "number",
              "description": "Avalara company ID."
            }
          },
          {
            "name": "customerCode",
            "in": "query",
            "required": true,
            "description": "Avalara customer code.",
            "schema": {
              "type": "string",
              "description": "Avalara customer code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "number"
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isBill": {
                            "type": "boolean"
                          },
                          "isShip": {
                            "type": "boolean"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/get-item": {
      "get": {
        "operationId": "avalara.get-item",
        "summary": "Get Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/get-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Avalara company ID.",
            "schema": {
              "type": "number",
              "description": "Avalara company ID."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Avalara item ID.",
            "schema": {
              "type": "number",
              "description": "Avalara item ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "number"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "itemCode": {
                            "type": "string"
                          },
                          "itemStatus": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedUserId": {
                            "type": "number"
                          },
                          "taxCode": {
                            "type": "string"
                          },
                          "taxCodeId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/get-nexus": {
      "get": {
        "operationId": "avalara.get-nexus",
        "summary": "Get Nexus",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/get-nexus"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Avalara company ID.",
            "schema": {
              "type": "number",
              "description": "Avalara company ID."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Avalara nexus ID.",
            "schema": {
              "type": "number",
              "description": "Avalara nexus ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "number"
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "effectiveDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasLocalNexus": {
                            "type": "boolean"
                          },
                          "hasPermanentEstablishment": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSellerImporterOfRecord": {
                            "type": "boolean"
                          },
                          "isSSTActive": {
                            "type": "boolean"
                          },
                          "jurisCode": {
                            "type": "string"
                          },
                          "jurisdictionTypeId": {
                            "type": "string"
                          },
                          "jurisName": {
                            "type": "string"
                          },
                          "jurisTypeId": {
                            "type": "string"
                          },
                          "localNexusTypeId": {
                            "type": "string"
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedUserId": {
                            "type": "number"
                          },
                          "nexusTaxTypeGroup": {
                            "type": "string"
                          },
                          "nexusTypeId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "shortName": {
                            "type": "string"
                          },
                          "signatureCode": {
                            "type": "string"
                          },
                          "stateAssignedNo": {
                            "type": "string"
                          },
                          "streamlinedSalesTax": {
                            "type": "boolean"
                          },
                          "taxTypeGroup": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/get-tax-code": {
      "get": {
        "operationId": "avalara.get-tax-code",
        "summary": "Get Tax Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/get-tax-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "The ID of the company that owns this tax code.",
            "schema": {
              "type": "number",
              "description": "The ID of the company that owns this tax code."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the tax code to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the tax code to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "number"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "goodsServiceCode": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isPhysical": {
                            "type": "boolean"
                          },
                          "isSSTCertified": {
                            "type": "boolean"
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedUserId": {
                            "type": "number"
                          },
                          "taxCode": {
                            "type": "string"
                          },
                          "taxCodeTypeId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/get-transaction-by-code": {
      "get": {
        "operationId": "avalara.get-transaction-by-code",
        "summary": "Get Transaction By Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/get-transaction-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyCode",
            "in": "query",
            "required": true,
            "description": "Avalara company code.",
            "schema": {
              "type": "string",
              "description": "Avalara company code."
            }
          },
          {
            "name": "transactionCode",
            "in": "query",
            "required": true,
            "description": "Avalara transaction code.",
            "schema": {
              "type": "string",
              "description": "Avalara transaction code."
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "description": "Optional document type to disambiguate transactions that share the same code.",
            "schema": {
              "type": "string",
              "description": "Optional document type to disambiguate transactions that share the same code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated related objects to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-separated related objects to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "adjustmentDescription": {
                            "type": "string"
                          },
                          "adjustmentReason": {
                            "type": "string"
                          },
                          "batchCode": {
                            "type": "string"
                          },
                          "businessIdentificationNo": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "number"
                          },
                          "country": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "customerUsageType": {
                            "type": "string"
                          },
                          "customerVendorCode": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "destinationAddressId": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "entityUseCode": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "exchangeRateCurrencyCode": {
                            "type": "string"
                          },
                          "exchangeRateEffectiveDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "exemptNo": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSellerImporterOfRecord": {
                            "type": "boolean"
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "locationCode": {
                            "type": "string"
                          },
                          "locationTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedUserId": {
                            "type": "number"
                          },
                          "originAddressId": {
                            "type": "number"
                          },
                          "paymentDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purchaseOrderNo": {
                            "type": "string"
                          },
                          "reconciled": {
                            "type": "boolean"
                          },
                          "referenceCode": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "reportingLocationCode": {
                            "type": "string"
                          },
                          "salespersonCode": {
                            "type": "string"
                          },
                          "shippingTaxes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "softwareVersion": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "taxDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taxOverrideAmount": {
                            "type": "number"
                          },
                          "taxOverrideReason": {
                            "type": "string"
                          },
                          "taxOverrideType": {
                            "type": "string"
                          },
                          "totalAmount": {
                            "type": "number"
                          },
                          "totalDiscount": {
                            "type": "number"
                          },
                          "totalExempt": {
                            "type": "number"
                          },
                          "totalTax": {
                            "type": "number"
                          },
                          "totalTaxable": {
                            "type": "number"
                          },
                          "totalTaxCalculated": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/get-transaction-by-id": {
      "get": {
        "operationId": "avalara.get-transaction-by-id",
        "summary": "Get Transaction By Id",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/get-transaction-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Avalara transaction ID.",
            "schema": {
              "type": "number",
              "description": "Avalara transaction ID."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated related objects to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-separated related objects to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "adjustmentDescription": {
                            "type": "string"
                          },
                          "adjustmentReason": {
                            "type": "string"
                          },
                          "batchCode": {
                            "type": "string"
                          },
                          "businessIdentificationNo": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "number"
                          },
                          "country": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "customerUsageType": {
                            "type": "string"
                          },
                          "customerVendorCode": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "destinationAddressId": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "entityUseCode": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "exchangeRateCurrencyCode": {
                            "type": "string"
                          },
                          "exchangeRateEffectiveDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "exemptNo": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSellerImporterOfRecord": {
                            "type": "boolean"
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "locationCode": {
                            "type": "string"
                          },
                          "locationTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "modifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedUserId": {
                            "type": "number"
                          },
                          "originAddressId": {
                            "type": "number"
                          },
                          "paymentDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purchaseOrderNo": {
                            "type": "string"
                          },
                          "reconciled": {
                            "type": "boolean"
                          },
                          "referenceCode": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "reportingLocationCode": {
                            "type": "string"
                          },
                          "salespersonCode": {
                            "type": "string"
                          },
                          "shippingTaxes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "softwareVersion": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "taxDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taxOverrideAmount": {
                            "type": "number"
                          },
                          "taxOverrideReason": {
                            "type": "string"
                          },
                          "taxOverrideType": {
                            "type": "string"
                          },
                          "totalAmount": {
                            "type": "number"
                          },
                          "totalDiscount": {
                            "type": "number"
                          },
                          "totalExempt": {
                            "type": "number"
                          },
                          "totalTax": {
                            "type": "number"
                          },
                          "totalTaxable": {
                            "type": "number"
                          },
                          "totalTaxCalculated": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/list-countries": {
      "get": {
        "operationId": "avalara.list-countries",
        "summary": "List Countries",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/list-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressesRequireRegion": {
                            "type": "boolean"
                          },
                          "alpha3Code": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "isEuropeanUnion": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avalara/latest/actions/list-currencies": {
      "get": {
        "operationId": "avalara.list-currencies",
        "summary": "List Currencies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avalara/latest/actions/list-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "decimalDigits": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
[...]
