{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "HubSpot Universal API",
    "version": "0.0.89",
    "description": "Manage contacts, track deals, run campaigns, and support customers."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/hubspotApp/latest/actions/add-user": {
      "post": {
        "operationId": "hubspotApp.add-user",
        "summary": "Add User",
        "description": "Creates a new user in HubSpot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/add-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "sendWelcomeEmail"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address for the new HubSpot user."
                  },
                  "sendWelcomeEmail": {
                    "type": "boolean",
                    "description": "Whether HubSpot should email the user a welcome message."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name for the user."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name for the user."
                  },
                  "primaryTeamId": {
                    "type": "string",
                    "description": "Primary HubSpot team ID for the user."
                  },
                  "roleId": {
                    "type": "string",
                    "description": "HubSpot role ID to assign to the user."
                  },
                  "secondaryTeamIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Additional HubSpot team IDs for the user."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "The user's email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "The user's first name."
                          },
                          "id": {
                            "type": "string",
                            "description": "HubSpot user ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "The user's last name."
                          },
                          "primaryTeamId": {
                            "type": "string",
                            "description": "Primary HubSpot team ID."
                          },
                          "roleIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Assigned HubSpot role IDs."
                          },
                          "secondaryTeamIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Additional HubSpot team IDs."
                          },
                          "superAdmin": {
                            "type": "boolean",
                            "description": "Whether the user is a super admin."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/batch-create-orders": {
      "post": {
        "operationId": "hubspotApp.batch-create-orders",
        "summary": "Batch Create Orders",
        "description": "Creates new orders in HubSpot in a batch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/batch-create-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "inputs[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "inputs[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of order objects to create (HubSpot batch create payload)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/batch-read-contacts": {
      "get": {
        "operationId": "hubspotApp.batch-read-contacts",
        "summary": "Batch Read Contacts",
        "description": "Retrieves contacts from HubSpot in a batch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/batch-read-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputs[]",
            "in": "query",
            "required": true,
            "description": "The list of contact identifiers to read.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "The list of contact identifiers to read."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "inputs[].id",
            "in": "query",
            "required": true,
            "description": "A contact record ID or unique property value.",
            "schema": {
              "type": "string",
              "description": "A contact record ID or unique property value."
            }
          },
          {
            "name": "properties[]",
            "in": "query",
            "required": false,
            "description": "Contact properties to include in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Contact properties to include in the response."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "propertiesWithHistory[]",
            "in": "query",
            "required": false,
            "description": "Contact properties to return with value history.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Contact properties to return with value history.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "idProperty",
            "in": "query",
            "required": false,
            "description": "The unique property to use instead of the default record ID.",
            "schema": {
              "type": "string",
              "description": "The unique property to use instead of the default record ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the contact is archived."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "The contact record ID."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The returned contact properties."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was last updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "The HubSpot record URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/batch-read-engagements": {
      "get": {
        "operationId": "hubspotApp.batch-read-engagements",
        "summary": "Batch Read Engagements",
        "description": "Retrieves engagement records from HubSpot in a batch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/batch-read-engagements"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engagementType",
            "in": "query",
            "required": true,
            "description": "The CRM activity object type to batch read, such as notes, tasks, calls, emails, or meetings.",
            "schema": {
              "type": "string",
              "description": "The CRM activity object type to batch read, such as notes, tasks, calls, emails, or meetings.",
              "enum": [
                "calls",
                "communications",
                "emails",
                "meetings",
                "notes",
                "postal_mail",
                "tasks"
              ],
              "example": "notes"
            }
          },
          {
            "name": "inputs[]",
            "in": "query",
            "required": true,
            "description": "The records to batch read.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "The records to batch read."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "inputs[].id",
            "in": "query",
            "required": true,
            "description": "The record ID to batch read.",
            "schema": {
              "type": "string",
              "description": "The record ID to batch read.",
              "example": "21628658812"
            }
          },
          {
            "name": "properties[]",
            "in": "query",
            "required": false,
            "description": "Properties to include in each returned activity record.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Properties to include in each returned activity record.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "propertiesWithHistory[]",
            "in": "query",
            "required": false,
            "description": "Properties to include with history values in each returned activity record.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Properties to include with history values in each returned activity record.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "idProperty",
            "in": "query",
            "required": false,
            "description": "The unique property to use instead of the default record ID.",
            "schema": {
              "type": "string",
              "description": "The unique property to use instead of the default record ID.",
              "example": "hs_object_id",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "Whether to read archived records.",
            "schema": {
              "type": "boolean",
              "description": "Whether to read archived records.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/batch-read-line-items": {
      "get": {
        "operationId": "hubspotApp.batch-read-line-items",
        "summary": "Batch Read Line Items",
        "description": "Retrieves line items from HubSpot in a batch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/batch-read-line-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputs[]",
            "in": "query",
            "required": true,
            "description": "The line items to batch read.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "The line items to batch read."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "inputs[].id",
            "in": "query",
            "required": false,
            "description": "The line item ID to batch read.",
            "schema": {
              "type": "string",
              "description": "The line item ID to batch read.",
              "example": "79962112746"
            }
          },
          {
            "name": "properties[]",
            "in": "query",
            "required": false,
            "description": "Properties to include in each returned line item.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Properties to include in each returned line item.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "propertiesWithHistory[]",
            "in": "query",
            "required": false,
            "description": "Properties to include with history values in each returned line item.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Properties to include with history values in each returned line item.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "idProperty",
            "in": "query",
            "required": false,
            "description": "The unique property to use instead of the default record ID.",
            "schema": {
              "type": "string",
              "description": "The unique property to use instead of the default record ID.",
              "example": "hs_object_id",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "Whether to read archived line items.",
            "schema": {
              "type": "boolean",
              "description": "Whether to read archived line items.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/batch-read-notes": {
      "get": {
        "operationId": "hubspotApp.batch-read-notes",
        "summary": "Batch Read Notes",
        "description": "Retrieves notes from HubSpot in a batch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/batch-read-notes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputs[]",
            "in": "query",
            "required": true,
            "description": "Note IDs or unique-property values to read.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Note IDs or unique-property values to read."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "inputs[].id",
            "in": "query",
            "required": true,
            "description": "The note ID or unique-property value for one requested note.",
            "schema": {
              "type": "string",
              "description": "The note ID or unique-property value for one requested note."
            }
          },
          {
            "name": "properties[]",
            "in": "query",
            "required": false,
            "description": "Properties to return for each note.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Properties to return for each note."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "propertiesWithHistory[]",
            "in": "query",
            "required": false,
            "description": "Properties to return with version history.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Properties to return with version history.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "idProperty",
            "in": "query",
            "required": false,
            "description": "Unique property name to use instead of the record ID.",
            "schema": {
              "type": "string",
              "description": "Unique property name to use instead of the record ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "Whether to return archived notes only.",
            "schema": {
              "type": "boolean",
              "description": "Whether to return archived notes only.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/create-company": {
      "post": {
        "operationId": "hubspotApp.create-company",
        "summary": "Create Company",
        "description": "Creates a new company in HubSpot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "associations[].to": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "associations[].to.id": {
                    "type": "string",
                    "description": "Id of the object to associate"
                  },
                  "associations[].types[].associationCategory": {
                    "type": "string",
                    "description": "This represents if the association you're creating is default created by HupSpot, or it is a custom association the user defined."
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "properties.name": {
                    "type": "string"
                  },
                  "associations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "associations[].types[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "associations[].types[].associationTypeId": {
                    "type": "string",
                    "description": "Check for types at: https://developers.hubspot.com/docs/api-reference/crm-associations-v4/guide#association-type-id-values"
                  },
                  "properties.domain": {
                    "type": "string"
                  },
                  "properties.city": {
                    "type": "string"
                  },
                  "properties.industry": {
                    "type": "string"
                  },
                  "properties.phone": {
                    "type": "string"
                  },
                  "properties.state": {
                    "type": "string"
                  },
                  "properties.lifecycleStage": {
                    "type": "string"
                  },
                  "properties.address": {
                    "type": "string"
                  },
                  "properties.acumatica_customer_id": {
                    "type": "string"
                  },
                  "properties.acumatica_location_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "createdate": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hsLastmodifieddate": {
                                "type": "string"
                              },
                              "hsObjectId": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/create-contact": {
      "post": {
        "operationId": "hubspotApp.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in HubSpot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "properties"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "associations[].to": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "associations[].to.id": {
                    "type": "string",
                    "description": "Id of the object to associate"
                  },
                  "associations[].types[].associationCategory": {
                    "type": "string",
                    "description": "This represents if the association you're creating is default created by HupSpot, or it is a custom association the user defined."
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "associations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "associations[].types[]": {
                    "type": "array",
                    "items": {}
                  },
                  "associations[].types[].associationTypeId": {
                    "type": "string",
                    "description": "Check for types at: https://developers.hubspot.com/docs/api-reference/crm-associations-v4/guide#association-type-id-values"
                  },
                  "properties.firstname": {
                    "type": "string"
                  },
                  "properties.lastname": {
                    "type": "string"
                  },
                  "properties.email": {
                    "type": "string"
                  },
                  "properties.mobilephone": {
                    "type": "string"
                  },
                  "properties.phone": {
                    "type": "string"
                  },
                  "properties.jobtitle": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "createdate": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstname": {
                                "type": "string"
                              },
                              "hsObjectId": {
                                "type": "string"
                              },
                              "lastmodifieddate": {
                                "type": "string"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/create-deal": {
      "post": {
        "operationId": "hubspotApp.create-deal",
        "summary": "Create Deal",
        "description": "Creates a new deal in HubSpot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/create-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The deal properties payload."
                  },
                  "properties.dealname": {
                    "type": "string",
                    "description": "The deal name."
                  },
                  "properties.dealstage": {
                    "type": "string",
                    "description": "The deal stage value."
                  },
                  "properties.pipeline": {
                    "type": "string",
                    "description": "The pipeline value."
                  },
                  "associations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Associations to create with the deal."
                  },
                  "associations[].to": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The association target."
                  },
                  "associations[].to.id": {
                    "type": "string",
                    "description": "The associated record ID."
                  },
                  "associations[].types[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The association type definitions."
                  },
                  "associations[].types[].associationCategory": {
                    "type": "string",
                    "description": "The HubSpot association category."
                  },
                  "associations[].types[].associationTypeId": {
                    "type": "number",
                    "description": "The HubSpot association type ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the deal is archived."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the deal was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "The created deal record ID."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The returned deal properties."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the deal was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/create-engagement": {
      "post": {
        "operationId": "hubspotApp.create-engagement",
        "summary": "Create Engagement",
        "description": "Creates a new engagement record in HubSpot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/create-engagement"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engagementType",
                  "properties"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engagementType": {
                    "type": "string",
                    "description": "HubSpot activity object type to create.",
                    "enum": [
                      "calls",
                      "communications",
                      "emails",
                      "meetings",
                      "notes",
                      "postal_mail",
                      "tasks"
                    ]
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Engagement property values keyed by HubSpot property name."
                  },
                  "associations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Associations to create alongside the engagement."
                  },
                  "associations[].to.id": {
                    "type": "string",
                    "description": "HubSpot ID of the record to associate."
                  },
                  "associations[].types[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Association type definitions for the linked record."
                  },
                  "associations[].types[].associationCategory": {
                    "type": "string",
                    "description": "Association category for the linked record."
                  },
                  "associations[].types[].associationTypeId": {
                    "type": "number",
                    "description": "Association type identifier for the linked record."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the engagement is archived."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the engagement was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "HubSpot engagement record ID."
                          },
                          "objectWriteTraceId": {
                            "type": "string",
                            "description": "HubSpot write trace identifier when returned."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Engagement properties returned by HubSpot."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the engagement was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/create-line-item": {
      "post": {
        "operationId": "hubspotApp.create-line-item",
        "summary": "Create Line Item",
        "description": "Creates a new line item in HubSpot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/create-line-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "properties"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Line item property values object."
                  },
                  "associations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional associations for the new line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the line item is archived."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the line item was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "The line item record ID."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The returned line item properties."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the line item was last updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "The HubSpot line item URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hubspotApp/latest/actions/create-list": {
      "post": {
        "operationId": "hubspotApp.create-list",
        "summary": "Create List",
        "description": "Creates a new list in HubSpot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hubspotApp/latest/actions/create-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "objectTypeId",
                  "processingType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "New list name."
                  },
                  "objectTypeId": {
                    "type": "string",
                    "description": "HubSpot object type ID (0-1 for contacts).",
                    "default": "0-1"
                  },
                  "processingType": {
                    "type": "string",
                    "description": "List processing type (for example MANUAL).",
                    "default": "MANUAL"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
[...]
