{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Qryptal Universal API",
    "version": "0.0.7",
    "description": "Generate, verify, and manage secure QR codes and documents"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/qryptal/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/qryptal/latest/actions/download-qr-code-image": {
      "get": {
        "operationId": "qryptal.download-qr-code-image",
        "summary": "Download QR Code Image",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qryptal/latest/actions/download-qr-code-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "description": "Unique Qryptal identifier returned when the QR code was created.",
            "schema": {
              "type": "string",
              "description": "Unique Qryptal identifier returned when the QR code was created.",
              "example": "1097580178100010000601672116"
            }
          },
          {
            "name": "codeToken",
            "in": "query",
            "required": true,
            "description": "The code_token value returned by QR creation.",
            "schema": {
              "type": "string",
              "description": "The code_token value returned by QR creation.",
              "example": "C02:rFKsq1dyUmJZZFNze1Jr..."
            }
          },
          {
            "name": "bg",
            "in": "query",
            "required": false,
            "description": "Set to 0 to request a transparent background.",
            "schema": {
              "type": "number",
              "description": "Set to 0 to request a transparent background.",
              "example": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Optional image size selector documented by Qryptal.",
            "schema": {
              "type": "number",
              "description": "Optional image size selector documented by Qryptal.",
              "example": 4,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qryptal/latest/actions/generate-edc-qr-code-with-attachments": {
      "post": {
        "operationId": "qryptal.generate-edc-qr-code-with-attachments",
        "summary": "Generate EDC QR Code With Attachments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qryptal/latest/actions/generate-edc-qr-code-with-attachments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "payload"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "payload": {
                    "type": "string",
                    "description": "JSON string containing the Qryptal payload with data, format, and scheme.",
                    "example": "[object Object]"
                  },
                  "img1": {
                    "type": "string",
                    "description": "Optional image attachment for the multipart field named img1."
                  },
                  "file1": {
                    "type": "string",
                    "description": "Optional document attachment for the multipart field named file1."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apitype": {
                            "type": "string",
                            "description": "Qryptal API operation type returned by the service."
                          },
                          "codeToken": {
                            "type": "string",
                            "description": "Token required for later QR image download and lifecycle operations."
                          },
                          "ct": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp returned by Qryptal."
                          },
                          "id": {
                            "type": "number",
                            "description": "Qryptal internal record identifier."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Human-readable Qryptal status message."
                          },
                          "qrText": {
                            "type": "string",
                            "description": "Raw QR payload text returned by Qryptal."
                          },
                          "qrurl": {
                            "type": "string",
                            "description": "Direct URL for downloading the generated QR image."
                          },
                          "scheme": {
                            "type": "string",
                            "description": "QR scheme returned by Qryptal."
                          },
                          "status": {
                            "type": "string",
                            "description": "Creation status code such as P, C, or E."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Stable Qryptal unique identifier for the created code."
                          },
                          "vqtype": {
                            "type": "string",
                            "description": "Qryptal code type, for example PDC or TEDC."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qryptal/latest/actions/generate-pdc-qr-code": {
      "post": {
        "operationId": "qryptal.generate-pdc-qr-code",
        "summary": "Generate PDC QR Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qryptal/latest/actions/generate-pdc-qr-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "payload"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "payload": {
                    "type": "string",
                    "description": "JSON string containing the Qryptal payload with data, format, and scheme.",
                    "example": "[object Object]"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apitype": {
                            "type": "string",
                            "description": "Qryptal API operation type returned by the service."
                          },
                          "codeToken": {
                            "type": "string",
                            "description": "Token required for later QR image download and lifecycle operations."
                          },
                          "ct": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp returned by Qryptal."
                          },
                          "id": {
                            "type": "number",
                            "description": "Qryptal internal record identifier."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Human-readable Qryptal status message."
                          },
                          "qrText": {
                            "type": "string",
                            "description": "Raw QR payload text returned by Qryptal."
                          },
                          "qrurl": {
                            "type": "string",
                            "description": "Direct URL for downloading the generated QR image."
                          },
                          "scheme": {
                            "type": "string",
                            "description": "QR scheme returned by Qryptal."
                          },
                          "status": {
                            "type": "string",
                            "description": "Creation status code such as P, C, or E."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Stable Qryptal unique identifier for the created code."
                          },
                          "vqtype": {
                            "type": "string",
                            "description": "Qryptal code type, for example PDC or TEDC."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qryptal/latest/actions/get-qr-code-status": {
      "get": {
        "operationId": "qryptal.get-qr-code-status",
        "summary": "Get QR Code Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qryptal/latest/actions/get-qr-code-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "description": "Unique Qryptal identifier returned when the QR code was created.",
            "schema": {
              "type": "string",
              "description": "Unique Qryptal identifier returned when the QR code was created.",
              "example": "1097580178100010000601672116"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apitype": {
                            "type": "string",
                            "description": "Qryptal API operation type returned by the service."
                          },
                          "codeToken": {
                            "type": "string",
                            "description": "Token required for later QR image download and lifecycle operations."
                          },
                          "ct": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp returned by Qryptal."
                          },
                          "id": {
                            "type": "number",
                            "description": "Qryptal internal record identifier."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Human-readable Qryptal status message."
                          },
                          "qrText": {
                            "type": "string",
                            "description": "Raw QR payload text returned by Qryptal."
                          },
                          "qrurl": {
                            "type": "string",
                            "description": "Direct URL for downloading the generated QR image."
                          },
                          "scheme": {
                            "type": "string",
                            "description": "QR scheme returned by Qryptal."
                          },
                          "status": {
                            "type": "string",
                            "description": "Creation status code such as P, C, or E."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Stable Qryptal unique identifier for the created code."
                          },
                          "vqtype": {
                            "type": "string",
                            "description": "Qryptal code type, for example PDC or TEDC."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
