{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Twitch Universal API",
    "version": "0.0.9",
    "description": "Manage channels, schedules, polls, clips, and stream settings"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/twitch/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/twitch/latest/actions/create-channel-stream-schedule-segment": {
      "post": {
        "operationId": "twitch.create-channel-stream-schedule-segment",
        "summary": "Create Channel Stream Schedule Segment",
        "description": "Creates a stream schedule segment in Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/create-channel-stream-schedule-segment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "broadcasterId",
                  "startTime",
                  "timezone",
                  "duration"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "broadcasterId": {
                    "type": "string",
                    "description": "The broadcaster whose schedule to update. This ID must match the user ID in the access token."
                  },
                  "startTime": {
                    "type": "string",
                    "description": "RFC3339 timestamp for the scheduled segment, for example 2026-03-13T18:30:00Z."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA time zone where the broadcast takes place."
                  },
                  "duration": {
                    "type": "number",
                    "description": "Scheduled length in minutes. Twitch requires a value from 30 through 1380."
                  },
                  "isRecurring": {
                    "type": "boolean",
                    "description": "Whether the broadcast recurs weekly."
                  },
                  "categoryId": {
                    "type": "string",
                    "description": "Category/game ID that best represents the broadcast content."
                  },
                  "title": {
                    "type": "string",
                    "description": "Broadcast title. Maximum 140 characters."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "broadcasterId": {
                            "type": "string"
                          },
                          "broadcasterLogin": {
                            "type": "string"
                          },
                          "broadcasterName": {
                            "type": "string"
                          },
                          "segments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "canceledUntil": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "category": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "endTime": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isRecurring": {
                                  "type": "boolean"
                                },
                                "startTime": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "vacation": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/create-clip": {
      "post": {
        "operationId": "twitch.create-clip",
        "summary": "Create Clip",
        "description": "Creates a new clip in Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/create-clip"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "broadcasterId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "broadcasterId": {
                    "type": "string",
                    "description": "The broadcaster whose live stream to clip."
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title for the clip."
                  },
                  "duration": {
                    "type": "number",
                    "description": "Clip length in seconds. Possible values range from 5 to 60 with 0.1 precision. Default is 30."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "editUrl": {
                                  "type": "string",
                                  "description": "URL used to edit and publish the clip."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Clip identifier."
                                }
                              }
                            },
                            "description": "A list containing the created clip."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/create-custom-rewards": {
      "post": {
        "operationId": "twitch.create-custom-rewards",
        "summary": "Create Custom Rewards",
        "description": "Creates a custom reward in Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/create-custom-rewards"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "broadcasterId",
                  "title",
                  "cost"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "broadcasterId": {
                    "type": "string",
                    "description": "The ID of the broadcaster to add the custom reward to."
                  },
                  "title": {
                    "type": "string",
                    "description": "The custom reward’s title."
                  },
                  "cost": {
                    "type": "number",
                    "description": "The cost of the reward, in Channel Points."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The prompt shown when a viewer redeems the reward."
                  },
                  "isEnabled": {
                    "type": "boolean",
                    "description": "Whether the reward is enabled."
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "The background color to use for the reward in hex format."
                  },
                  "isUserInputRequired": {
                    "type": "boolean",
                    "description": "Whether the viewer must enter input when redeeming the reward."
                  },
                  "isMaxPerStreamEnabled": {
                    "type": "boolean",
                    "description": "Whether to limit the maximum number of redemptions allowed per live stream."
                  },
                  "maxPerStream": {
                    "type": "number",
                    "description": "The maximum number of redemptions allowed per live stream."
                  },
                  "isMaxPerUserPerStreamEnabled": {
                    "type": "boolean",
                    "description": "Whether to limit the maximum number of redemptions allowed per user per live stream."
                  },
                  "maxPerUserPerStream": {
                    "type": "number",
                    "description": "The maximum number of redemptions allowed per user per live stream."
                  },
                  "isGlobalCooldownEnabled": {
                    "type": "boolean",
                    "description": "Whether to apply a cooldown period between redemptions."
                  },
                  "globalCooldownSeconds": {
                    "type": "number",
                    "description": "The cooldown period, in seconds."
                  },
                  "shouldRedemptionsSkipRequestQueue": {
                    "type": "boolean",
                    "description": "Whether redemptions should be fulfilled immediately when redeemed."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "backgroundColor": {
                                  "type": "string",
                                  "description": "Reward background color."
                                },
                                "broadcasterId": {
                                  "type": "string",
                                  "description": "Broadcaster identifier."
                                },
                                "broadcasterLogin": {
                                  "type": "string",
                                  "description": "Broadcaster login name."
                                },
                                "broadcasterName": {
                                  "type": "string",
                                  "description": "Broadcaster display name."
                                },
                                "cooldownExpiresAt": {
                                  "type": "string",
                                  "description": "Cooldown expiry timestamp when the reward is cooling down."
                                },
                                "cost": {
                                  "type": "number",
                                  "description": "Reward redemption cost in channel points."
                                },
                                "defaultImage": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Default reward image.",
                                  "properties": {
                                    "url1x": {
                                      "type": "string",
                                      "description": "Default 1x image URL."
                                    },
                                    "url2x": {
                                      "type": "string",
                                      "description": "Default 2x image URL."
                                    },
                                    "url4x": {
                                      "type": "string",
                                      "description": "Default 4x image URL."
                                    }
                                  }
                                },
                                "globalCooldownSetting": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Global cooldown setting.",
                                  "properties": {
                                    "globalCooldownSeconds": {
                                      "type": "number",
                                      "description": "Cooldown duration in seconds."
                                    },
                                    "isEnabled": {
                                      "type": "boolean",
                                      "description": "Whether the global cooldown is enabled."
                                    }
                                  }
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Custom reward identifier."
                                },
                                "image": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Custom reward image when configured.",
                                  "properties": {
                                    "url1x": {
                                      "type": "string",
                                      "description": "1x custom reward image URL."
                                    },
                                    "url2x": {
                                      "type": "string",
                                      "description": "2x custom reward image URL."
                                    },
                                    "url4x": {
                                      "type": "string",
                                      "description": "4x custom reward image URL."
                                    }
                                  }
                                },
                                "isEnabled": {
                                  "type": "boolean",
                                  "description": "Whether the reward is enabled."
                                },
                                "isInStock": {
                                  "type": "boolean",
                                  "description": "Whether the reward is in stock."
                                },
                                "isPaused": {
                                  "type": "boolean",
                                  "description": "Whether the reward is paused."
                                },
                                "isUserInputRequired": {
                                  "type": "boolean",
                                  "description": "Whether the reward requires viewer input."
                                },
                                "maxPerStreamSetting": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Maximum redemptions per stream setting.",
                                  "properties": {
                                    "isEnabled": {
                                      "type": "boolean",
                                      "description": "Whether the per-stream limit is enabled."
                                    },
                                    "maxPerStream": {
                                      "type": "number",
                                      "description": "Maximum redemptions allowed per stream."
                                    }
                                  }
                                },
                                "maxPerUserPerStreamSetting": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Per-user redemptions per stream setting.",
                                  "properties": {
                                    "isEnabled": {
                                      "type": "boolean",
                                      "description": "Whether the per-user per-stream limit is enabled."
                                    },
                                    "maxPerUserPerStream": {
                                      "type": "number",
                                      "description": "Maximum redemptions per user per stream."
                                    }
                                  }
                                },
                                "prompt": {
                                  "type": "string",
                                  "description": "Prompt shown when user input is required."
                                },
                                "redemptionsRedeemedCurrentStream": {
                                  "type": "number",
                                  "description": "Redemptions redeemed in the current stream."
                                },
                                "shouldRedemptionsSkipRequestQueue": {
                                  "type": "boolean",
                                  "description": "Whether redemptions skip the request queue."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Reward title."
                                }
                              }
                            },
                            "description": "Custom reward rows."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/create-poll": {
      "post": {
        "operationId": "twitch.create-poll",
        "summary": "Create Poll",
        "description": "Creates a new poll in Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/create-poll"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "broadcasterId",
                  "title",
                  "choices[].title",
                  "duration"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "broadcasterId": {
                    "type": "string",
                    "description": "ID of the broadcaster that owns the poll. Must match the user in the OAuth token."
                  },
                  "title": {
                    "type": "string",
                    "description": "Question shown at the top of the poll."
                  },
                  "choices[].title": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Choice title. Provide 2 to 5 values to build the choices array."
                  },
                  "duration": {
                    "type": "number",
                    "description": "Poll duration in seconds."
                  },
                  "channelPointsVotingEnabled": {
                    "type": "boolean",
                    "description": "Set to true to let viewers vote with Channel Points."
                  },
                  "channelPointsPerVote": {
                    "type": "number",
                    "description": "Number of Channel Points required per additional vote. Required when channel_points_voting_enabled is true."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "bitsPerVote": {
                                  "type": "number",
                                  "description": "Bits cost per vote."
                                },
                                "bitsVotingEnabled": {
                                  "type": "boolean",
                                  "description": "Whether bits voting is enabled."
                                },
                                "broadcasterId": {
                                  "type": "string",
                                  "description": "Broadcaster identifier."
                                },
                                "broadcasterLogin": {
                                  "type": "string",
                                  "description": "Broadcaster login name."
                                },
                                "broadcasterName": {
                                  "type": "string",
                                  "description": "Broadcaster display name."
                                },
                                "channelPointsPerVote": {
                                  "type": "number",
                                  "description": "Channel points cost per vote."
                                },
                                "channelPointsVotingEnabled": {
                                  "type": "boolean",
                                  "description": "Whether channel points voting is enabled."
                                },
                                "choices": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "bitsVotes": {
                                        "type": "number",
                                        "description": "Bits votes for the choice."
                                      },
                                      "channelPointsVotes": {
                                        "type": "number",
                                        "description": "Channel points votes for the choice."
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Poll choice identifier."
                                      },
                                      "title": {
                                        "type": "string",
                                        "description": "Poll choice title."
                                      },
                                      "votes": {
                                        "type": "number",
                                        "description": "Total votes for the choice."
                                      }
                                    }
                                  },
                                  "description": "Poll choice rows."
                                },
                                "duration": {
                                  "type": "number",
                                  "description": "Poll duration in seconds."
                                },
                                "endedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the poll ended."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Poll identifier."
                                },
                                "startedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the poll started."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Poll status."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Poll question."
                                }
                              }
                            },
                            "description": "Poll rows."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/create-prediction": {
      "post": {
        "operationId": "twitch.create-prediction",
        "summary": "Create Prediction",
        "description": "Creates a new prediction in Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/create-prediction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "broadcasterId",
                  "title",
                  "outcomes[].title",
                  "predictionWindow"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "broadcasterId": {
                    "type": "string",
                    "description": "The ID of the broadcaster that’s running the prediction."
                  },
                  "title": {
                    "type": "string",
                    "description": "The question that the broadcaster is asking."
                  },
                  "outcomes[].title": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The text of one of the prediction outcomes."
                  },
                  "predictionWindow": {
                    "type": "number",
                    "description": "The length of time, in seconds, that the prediction will run."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "broadcasterId": {
                                  "type": "string",
                                  "description": "Broadcaster identifier."
                                },
                                "broadcasterLogin": {
                                  "type": "string",
                                  "description": "Broadcaster login name."
                                },
                                "broadcasterName": {
                                  "type": "string",
                                  "description": "Broadcaster display name."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "description": "Timestamp when the prediction started."
                                },
                                "endedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the prediction ended."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Prediction identifier."
                                },
                                "lockedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the prediction was locked."
                                },
                                "outcomes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "channelPoints": {
                                        "type": "number",
                                        "description": "Channel points spent on the outcome."
                                      },
                                      "color": {
                                        "type": "string",
                                        "description": "Outcome display color."
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Outcome identifier."
                                      },
                                      "title": {
                                        "type": "string",
                                        "description": "Outcome title."
                                      },
                                      "topPredictors": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "channelPointsUsed": {
                                              "type": "number",
                                              "description": "Channel points used by the predictor."
                                            },
                                            "channelPointsWon": {
                                              "type": "number",
                                              "description": "Channel points won by the predictor."
                                            },
                                            "userId": {
                                              "type": "string",
                                              "description": "Top predictor user identifier."
                                            },
                                            "userLogin": {
                                              "type": "string",
                                              "description": "Top predictor login name."
                                            },
                                            "userName": {
                                              "type": "string",
                                              "description": "Top predictor display name."
                                            }
                                          }
                                        },
                                        "description": "Top predictor rows when present."
                                      },
                                      "users": {
                                        "type": "number",
                                        "description": "Number of users who chose the outcome."
                                      }
                                    }
                                  },
                                  "description": "Prediction outcome rows."
                                },
                                "predictionWindow": {
                                  "type": "number",
                                  "description": "Prediction window in seconds."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Prediction status."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Prediction title."
                                },
                                "winningOutcomeId": {
                                  "type": "string",
                                  "description": "Winning outcome identifier when resolved."
                                }
                              }
                            },
                            "description": "Prediction rows."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/delete-channel-stream-schedule-segment": {
      "delete": {
        "operationId": "twitch.delete-channel-stream-schedule-segment",
        "summary": "Delete Channel Stream Schedule Segment",
        "description": "Deletes a stream schedule segment from Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/delete-channel-stream-schedule-segment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcasterId",
            "in": "query",
            "required": true,
            "description": "The ID of the broadcaster that owns the streaming schedule.",
            "schema": {
              "type": "string",
              "description": "The ID of the broadcaster that owns the streaming schedule."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the broadcast segment to remove.",
            "schema": {
              "type": "string",
              "description": "The ID of the broadcast segment to remove."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Empty response body returned when the stream schedule segment is deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/delete-custom-reward": {
      "delete": {
        "operationId": "twitch.delete-custom-reward",
        "summary": "Delete Custom Reward",
        "description": "Deletes a custom reward from Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/delete-custom-reward"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcasterId",
            "in": "query",
            "required": true,
            "description": "The ID of the broadcaster that created the custom reward.",
            "schema": {
              "type": "string",
              "description": "The ID of the broadcaster that created the custom reward."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the custom reward to delete.",
            "schema": {
              "type": "string",
              "description": "The ID of the custom reward to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Empty response body returned when the custom reward is deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/end-poll": {
      "put": {
        "operationId": "twitch.end-poll",
        "summary": "End Poll",
        "description": "Ends an existing poll in Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/end-poll"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "broadcasterId",
                  "id",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "broadcasterId": {
                    "type": "string",
                    "description": "ID of the broadcaster that owns the poll. Must match the user in the OAuth token."
                  },
                  "id": {
                    "type": "string",
                    "description": "ID of the poll to end."
                  },
                  "status": {
                    "type": "string",
                    "description": "How to end the poll. Use TERMINATED or ARCHIVED.",
                    "enum": [
                      "ARCHIVED",
                      "TERMINATED"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "bitsPerVote": {
                                  "type": "number",
                                  "description": "Bits cost per vote."
                                },
                                "bitsVotingEnabled": {
                                  "type": "boolean",
                                  "description": "Whether bits voting is enabled."
                                },
                                "broadcasterId": {
                                  "type": "string",
                                  "description": "Broadcaster identifier."
                                },
                                "broadcasterLogin": {
                                  "type": "string",
                                  "description": "Broadcaster login name."
                                },
                                "broadcasterName": {
                                  "type": "string",
                                  "description": "Broadcaster display name."
                                },
                                "channelPointsPerVote": {
                                  "type": "number",
                                  "description": "Channel points cost per vote."
                                },
                                "channelPointsVotingEnabled": {
                                  "type": "boolean",
                                  "description": "Whether channel points voting is enabled."
                                },
                                "choices": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "bitsVotes": {
                                        "type": "number",
                                        "description": "Bits votes for the choice."
                                      },
                                      "channelPointsVotes": {
                                        "type": "number",
                                        "description": "Channel points votes for the choice."
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Poll choice identifier."
                                      },
                                      "title": {
                                        "type": "string",
                                        "description": "Poll choice title."
                                      },
                                      "votes": {
                                        "type": "number",
                                        "description": "Total votes for the choice."
                                      }
                                    }
                                  },
                                  "description": "Poll choice rows."
                                },
                                "duration": {
                                  "type": "number",
                                  "description": "Poll duration in seconds."
                                },
                                "endedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the poll ended."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Poll identifier."
                                },
                                "startedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the poll started."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Poll status."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Poll question."
                                }
                              }
                            },
                            "description": "Poll rows."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/end-prediction": {
      "put": {
        "operationId": "twitch.end-prediction",
        "summary": "End Prediction",
        "description": "Ends an existing prediction in Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/end-prediction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "broadcasterId",
                  "id",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "broadcasterId": {
                    "type": "string",
                    "description": "The ID of the broadcaster that’s running the prediction."
                  },
                  "id": {
                    "type": "string",
                    "description": "The ID of the prediction to update."
                  },
                  "status": {
                    "type": "string",
                    "description": "The status to set the prediction to.",
                    "enum": [
                      "CANCELED",
                      "LOCKED",
                      "RESOLVED"
                    ]
                  },
                  "winningOutcomeId": {
                    "type": "string",
                    "description": "The ID of the winning outcome when resolving a prediction."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "broadcasterId": {
                                  "type": "string",
                                  "description": "Broadcaster identifier."
                                },
                                "broadcasterLogin": {
                                  "type": "string",
                                  "description": "Broadcaster login name."
                                },
                                "broadcasterName": {
                                  "type": "string",
                                  "description": "Broadcaster display name."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "description": "Timestamp when the prediction started."
                                },
                                "endedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the prediction ended."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Prediction identifier."
                                },
                                "lockedAt": {
                                  "type": "string",
                                  "description": "Timestamp when the prediction was locked."
                                },
                                "outcomes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "channelPoints": {
                                        "type": "number",
                                        "description": "Channel points spent on the outcome."
                                      },
                                      "color": {
                                        "type": "string",
                                        "description": "Outcome display color."
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Outcome identifier."
                                      },
                                      "title": {
                                        "type": "string",
                                        "description": "Outcome title."
                                      },
                                      "topPredictors": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "channelPointsUsed": {
                                              "type": "number",
                                              "description": "Channel points used by the predictor."
                                            },
                                            "channelPointsWon": {
                                              "type": "number",
                                              "description": "Channel points won by the predictor."
                                            },
                                            "userId": {
                                              "type": "string",
                                              "description": "Top predictor user identifier."
                                            },
                                            "userLogin": {
                                              "type": "string",
                                              "description": "Top predictor login name."
                                            },
                                            "userName": {
                                              "type": "string",
                                              "description": "Top predictor display name."
                                            }
                                          }
                                        },
                                        "description": "Top predictor rows when present."
                                      },
                                      "users": {
                                        "type": "number",
                                        "description": "Number of users who chose the outcome."
                                      }
                                    }
                                  },
                                  "description": "Prediction outcome rows."
                                },
                                "predictionWindow": {
                                  "type": "number",
                                  "description": "Prediction window in seconds."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Prediction status."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Prediction title."
                                },
                                "winningOutcomeId": {
                                  "type": "string",
                                  "description": "Winning outcome identifier when resolved."
                                }
                              }
                            },
                            "description": "Prediction rows."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twitch/latest/actions/get-channel-stream-schedule": {
      "get": {
        "operationId": "twitch.get-channel-stream-schedule",
        "summary": "Get Channel Stream Schedule",
        "description": "Retrieves channel stream schedules from Twitch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twitch/latest/actions/get-channel-stream-schedule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcasterId",
            "in": "query",
            "required": true,
            "description": "The ID of the broadcaster whose streaming schedule you want to get.",
            "schema": {
              "type": "string",
              "description": "The ID of the broadcaster whose streaming schedule you want to get."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "The ID of the scheduled segment to return.",
            "schema": {
              "type": "string",
              "description": "The ID of the scheduled segment to return."
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "A timestamp used to filter for segments that start on or after the specified UTC date and time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "A timestamp used to filter for segments that start on or after the specified UTC date and time."
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "The maximum number of segments to return. Maximum: 25. Default: 20.",
            "schema": {
              "type": "number",
              "description": "The maximum number of segments to return. Maximum: 25. Default: 20."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "broadcasterId": {
                            "type": "string"
                          },
                          "broadcasterLogin": {
                            "type": "string"
                          },
                          "broadcasterName": {
                            "type": "string"
                          },
                          "segments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "canceledUntil": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "category": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "endTime": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isRecurring": {
                                  "type": "boolean"
                                },
                                "startTime": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "vacation": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
[...]
