{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Encodian - Convert Universal API",
    "version": "0.0.2",
    "description": "Encodian Flowr Convert provides file and data conversion actions for documents, PDFs, images, HTML, JSON, email, CAD, and Microsoft Office formats."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/encodianConvert/latest/actions/conversion-get-operation-status": {
      "get": {
        "operationId": "encodianConvert.conversion-get-operation-status",
        "summary": "Get an Operation Status",
        "description": "Retrieves an operation status from Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/conversion-get-operation-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationId",
            "in": "query",
            "required": true,
            "description": "Retrieve the operation status for the Operation ID provided.",
            "schema": {
              "type": "string",
              "description": "Retrieve the operation status for the Operation ID provided."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-cad": {
      "post": {
        "operationId": "encodianConvert.convert-cad",
        "summary": "Convert - CAD",
        "description": "Creates a converted file from a CAD file in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-cad"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFormatParameter",
                  "outputFilename",
                  "fileName",
                  "fileContent",
                  "outputFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFormatParameter": {
                    "type": "string",
                    "description": "Set the output file type used by Encodian's dynamic schema."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename of the output document."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source file, including extension."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "The file content of the source CAD file."
                  },
                  "outputFormat": {
                    "type": "string",
                    "description": "The format of the output file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-email": {
      "post": {
        "operationId": "encodianConvert.convert-email",
        "summary": "Convert - Email",
        "description": "Creates a PDF file from an email and attachments in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFilename",
                  "fileName",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename of the output PDF document."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source MSG or EML file."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "The file content of the source email file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-excel": {
      "post": {
        "operationId": "encodianConvert.convert-excel",
        "summary": "Convert - Excel",
        "description": "Creates a converted file from an Excel document in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFormatParameter",
                  "outputFilename",
                  "fileContent",
                  "fileName",
                  "outputFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFormatParameter": {
                    "type": "string",
                    "description": "Set the output file type used by Encodian's dynamic schema."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename of the output document."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "The file content of the source file."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source file, including extension."
                  },
                  "outputFormat": {
                    "type": "string",
                    "description": "Select the output file type format."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-file-to-pdf": {
      "post": {
        "operationId": "encodianConvert.convert-file-to-pdf",
        "summary": "Convert - File to PDF",
        "description": "Creates a PDF file from another file in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-file-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "fileContent",
                  "outputFilename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source file, including extension."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64-encoded file content of the source file."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename of the output PDF document."
                  },
                  "finalOperation": {
                    "type": "boolean",
                    "description": "Whether to return the converted file content immediately."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-heic-to-pdf": {
      "post": {
        "operationId": "encodianConvert.convert-heic-to-pdf",
        "summary": "Convert - HEIC to PDF",
        "description": "Creates a PDF file from a HEIC image in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-heic-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "The file content of the source HEIC file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-html-to-image": {
      "post": {
        "operationId": "encodianConvert.convert-html-to-image",
        "summary": "Convert - HTML to Image",
        "description": "Creates an image file from HTML or a web URL in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-html-to-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "htmlData": {
                    "type": "string",
                    "description": "Raw HTML content to convert."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "HTML file content to convert."
                  },
                  "url": {
                    "type": "string",
                    "description": "Web page URL to convert."
                  },
                  "imgWidth": {
                    "type": "number",
                    "description": "Output image width in pixels."
                  },
                  "imgHeight": {
                    "type": "number",
                    "description": "Output image height in pixels."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-html-to-pdf": {
      "post": {
        "operationId": "encodianConvert.convert-html-to-pdf",
        "summary": "Convert - HTML to PDF",
        "description": "Creates a PDF file from HTML or a web URL in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-html-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "outputFilename",
                  "encoding"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source HTML file."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename of the output PDF document."
                  },
                  "encoding": {
                    "type": "string",
                    "description": "The encoding type used for HTML conversion."
                  },
                  "htmlData": {
                    "type": "string",
                    "description": "Raw HTML content to convert."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "HTML file content to convert."
                  },
                  "finalOperation": {
                    "type": "boolean",
                    "description": "Whether to return the converted file content immediately."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-html-to-pdf-v2": {
      "post": {
        "operationId": "encodianConvert.convert-html-to-pdf-v2",
        "summary": "Convert - HTML to PDF (V2)",
        "description": "Creates a PDF file from HTML or a web URL in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-html-to-pdf-v2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "htmlData": {
                    "type": "string",
                    "description": "Raw HTML content to convert."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "HTML file content to convert."
                  },
                  "url": {
                    "type": "string",
                    "description": "Web page URL to convert."
                  },
                  "pageOrientation": {
                    "type": "string",
                    "description": "PDF page orientation."
                  },
                  "pageSize": {
                    "type": "string",
                    "description": "PDF page size."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-html-to-word": {
      "post": {
        "operationId": "encodianConvert.convert-html-to-word",
        "summary": "Convert - HTML to Word",
        "description": "Creates a Word file from HTML or a web URL in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-html-to-word"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "outputFilename",
                  "finalOperation"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source HTML file."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename of the output Word document."
                  },
                  "finalOperation": {
                    "type": "boolean",
                    "description": "Return the processed file instead of just an Operation ID."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "HTML file content to convert."
                  },
                  "htmlData": {
                    "type": "string",
                    "description": "Raw HTML content to convert."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-image-to-pdf": {
      "post": {
        "operationId": "encodianConvert.convert-image-to-pdf",
        "summary": "Convert - Image to PDF",
        "description": "Creates a PDF file from an image in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-image-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ocrTypeParameter": {
                    "type": "string",
                    "description": "Set the OCR type to apply when converting an image to PDF."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "The file content of the source image."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-json-to-excel": {
      "post": {
        "operationId": "encodianConvert.convert-json-to-excel",
        "summary": "Convert - JSON to Excel",
        "description": "Creates an Excel file from JSON in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-json-to-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFilename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename of the output Excel workbook."
                  },
                  "jsonData": {
                    "type": "string",
                    "description": "Raw JSON content to convert."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "JSON file content to convert."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianConvert/latest/actions/convert-pdf-to-excel": {
      "post": {
        "operationId": "encodianConvert.convert-pdf-to-excel",
        "summary": "Convert - PDF to Excel",
        "description": "Creates an Excel file from a PDF in Encodian - Convert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianConvert/latest/actions/convert-pdf-to-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "The file content of the source PDF file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Processed document content, usually Base64 encoded."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Filename of the processed document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
[...]
