{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "LinkupAPI Universal API",
    "version": "0.0.4",
    "description": "Search the web, fetch pages, and run research with Linkup"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/linkupAPI/latest/actions/create-research-task": {
      "post": {
        "operationId": "linkupAPI.create-research-task",
        "summary": "Create Research Task",
        "description": "Creates a new research task in LinkupAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest/actions/create-research-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "q",
                  "outputType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "q": {
                    "type": "string",
                    "description": "The natural-language research question to run."
                  },
                  "outputType": {
                    "type": "string",
                    "description": "The research response format to request.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "maxResults": {
                    "type": "number",
                    "description": "Maximum number of results to use in the research task."
                  },
                  "includeImages": {
                    "type": "boolean",
                    "description": "Include image results in the research context.",
                    "default": false
                  },
                  "fromDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Only consider results on or after this ISO date.",
                    "x-mindcloud-advanced": true
                  },
                  "toDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Only consider results on or before this ISO date.",
                    "x-mindcloud-advanced": true
                  },
                  "includeDomains[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Restrict research sources to these domains.",
                    "x-mindcloud-advanced": true
                  },
                  "excludeDomains[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude these domains from research sources.",
                    "x-mindcloud-advanced": true
                  },
                  "includeInlineCitations": {
                    "type": "boolean",
                    "description": "Include inline citations when the output type is sourcedAnswer.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "structuredOutputSchema": {
                    "type": "string",
                    "description": "A JSON schema string describing the structured output to return when output type is structured.",
                    "x-mindcloud-advanced": true
                  },
                  "includeSources": {
                    "type": "boolean",
                    "description": "Include source metadata when using structured output.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the created research task."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkupAPI/latest/actions/fetch-page": {
      "get": {
        "operationId": "linkupAPI.fetch-page",
        "summary": "Fetch Page",
        "description": "Retrieves a single webpage by URL from LinkupAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest/actions/fetch-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL of the webpage to fetch.",
            "schema": {
              "type": "string",
              "description": "The URL of the webpage to fetch."
            }
          },
          {
            "name": "renderJs",
            "in": "query",
            "required": false,
            "description": "Render the page's JavaScript before extracting content.",
            "schema": {
              "type": "boolean",
              "description": "Render the page's JavaScript before extracting content.",
              "default": false
            }
          },
          {
            "name": "includeRawHtml",
            "in": "query",
            "required": false,
            "description": "Include the raw HTML in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include the raw HTML in the response.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "extractImages",
            "in": "query",
            "required": false,
            "description": "Extract images from the fetched page.",
            "schema": {
              "type": "boolean",
              "description": "Extract images from the fetched page.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "alt": {
                                  "type": "string",
                                  "description": "The image alt text when available."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The image URL."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "markdown": {
                            "type": "string",
                            "description": "The cleaned markdown version of the fetched webpage."
                          },
                          "rawHtml": {
                            "type": "string",
                            "description": "The raw HTML of the fetched webpage."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkupAPI/latest/actions/generate-response": {
      "get": {
        "operationId": "linkupAPI.generate-response",
        "summary": "Generate Response",
        "description": "Generates an OpenAI-style response through LinkupAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest/actions/generate-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The prompt or input to generate a response for.",
            "schema": {
              "type": "string",
              "description": "The prompt or input to generate a response for."
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "description": "The Linkup model to use for response generation.",
            "schema": {
              "type": "string",
              "description": "The Linkup model to use for response generation.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "instructions",
            "in": "query",
            "required": false,
            "description": "Optional system-style instructions for the response.",
            "schema": {
              "type": "string",
              "description": "Optional system-style instructions for the response."
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "description": "Optional text-format configuration object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional text-format configuration object.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "number",
                            "description": "The Unix timestamp when the response was created."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The error payload when generation fails."
                          },
                          "id": {
                            "type": "string",
                            "description": "The Linkup response ID."
                          },
                          "model": {
                            "type": "string",
                            "description": "The Linkup model used to generate the response."
                          },
                          "object": {
                            "type": "string",
                            "description": "The response object type."
                          },
                          "output_text": {
                            "type": "string",
                            "description": "The generated response text."
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "The structured output items returned by Linkup."
                            }
                          },
                          "parallel_tool_calls": {
                            "type": "boolean",
                            "description": "Whether Linkup executed parallel tool calls."
                          },
                          "tool_choice": {
                            "type": "string",
                            "description": "The tool-selection mode used by Linkup."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkupAPI/latest/actions/get-credits-balance": {
      "get": {
        "operationId": "linkupAPI.get-credits-balance",
        "summary": "Get Credits Balance",
        "description": "Retrieves your current credits balance from LinkupAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest/actions/get-credits-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "The number of credits remaining in the Linkup account."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkupAPI/latest/actions/get-research-task": {
      "get": {
        "operationId": "linkupAPI.get-research-task",
        "summary": "Get Research Task",
        "description": "Retrieves research task details from LinkupAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest/actions/get-research-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the research task to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the research task to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the research task was created."
                          },
                          "error": {
                            "type": "string",
                            "description": "The error message when the research task fails."
                          },
                          "id": {
                            "type": "string",
                            "description": "The research task ID."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The input used to create the research task."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The output of the research task when completed."
                          },
                          "status": {
                            "type": "string",
                            "description": "The research task status."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the research task was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkupAPI/latest/actions/list-research-tasks": {
      "get": {
        "operationId": "linkupAPI.list-research-tasks",
        "summary": "List Research Tasks",
        "description": "Retrieves a list of research tasks from LinkupAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest/actions/list-research-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the research task was created."
                                },
                                "error": {
                                  "type": "string",
                                  "description": "The error message when the task fails."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "The research task ID."
                                },
                                "input": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "The input used to create the research task."
                                },
                                "output": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "The research task output when completed."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "The research task status."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the research task was last updated."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "page": {
                                "type": "number",
                                "description": "The current page number."
                              },
                              "pageSize": {
                                "type": "number",
                                "description": "The number of tasks per page."
                              },
                              "total": {
                                "type": "number",
                                "description": "The total number of research tasks."
                              },
                              "totalPages": {
                                "type": "number",
                                "description": "The total number of pages."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkupAPI/latest/actions/search": {
      "get": {
        "operationId": "linkupAPI.search",
        "summary": "Search",
        "description": "Finds web content in LinkupAPI by query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkupAPI/latest/actions/search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The natural-language question to search for.",
            "schema": {
              "type": "string",
              "description": "The natural-language question to search for."
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": true,
            "description": "How deeply Linkup should search for results.",
            "schema": {
              "type": "string",
              "description": "How deeply Linkup should search for results.",
              "enum": [
                "0",
                "1",
                "2"
              ]
            }
          },
          {
            "name": "outputType",
            "in": "query",
            "required": true,
            "description": "The response format to return from Linkup search.",
            "schema": {
              "type": "string",
              "description": "The response format to return from Linkup search.",
              "enum": [
                "0",
                "1",
                "2"
              ]
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of results to return."
            }
          },
          {
            "name": "includeImages",
            "in": "query",
            "required": false,
            "description": "Include image results in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include image results in the response.",
              "default": false
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "Only consider results on or after this ISO date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only consider results on or after this ISO date.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "Only consider results on or before this ISO date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only consider results on or before this ISO date.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeDomains[]",
            "in": "query",
            "required": false,
            "description": "Restrict search results to these domains.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Restrict search results to these domains.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "excludeDomains[]",
            "in": "query",
            "required": false,
            "description": "Exclude results from these domains.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Exclude results from these domains.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "includeInlineCitations",
            "in": "query",
            "required": false,
            "description": "Include inline citations when the output type is sourcedAnswer.",
            "schema": {
              "type": "boolean",
              "description": "Include inline citations when the output type is sourcedAnswer.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "structuredOutputSchema",
            "in": "query",
            "required": false,
            "description": "A JSON schema string describing the structured output to return when output type is structured.",
            "schema": {
              "type": "string",
              "description": "A JSON schema string describing the structured output to return when output type is structured.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeSources",
            "in": "query",
            "required": false,
            "description": "Include source metadata when using structured output.",
            "schema": {
              "type": "boolean",
              "description": "Include source metadata when using structured output.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
