{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ScrapingAnt Universal API",
    "version": "0.0.3",
    "description": "ScrapingAnt is a web scraping API for retrieving web page content through managed browser and proxy infrastructure, with optional rendered HTML, markdown, structured extraction, and API credits usage visibility."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/scrapingAnt/latest/actions/extract-markdown-from-url": {
      "get": {
        "operationId": "scrapingAnt.extract-markdown-from-url",
        "summary": "Extract Markdown From URL",
        "description": "Retrieves scraped Markdown from a URL in ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/extract-markdown-from-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Fully qualified URL to scrape and convert to Markdown.",
            "schema": {
              "type": "string",
              "description": "Fully qualified URL to scrape and convert to Markdown.",
              "example": "https://example.com"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
            "schema": {
              "type": "boolean",
              "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
            "schema": {
              "type": "number",
              "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
              "example": 30,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnPageSource",
            "in": "query",
            "required": false,
            "description": "Return server response data unaltered by browser rendering. Works only with browser=true.",
            "schema": {
              "type": "boolean",
              "description": "Return server response data unaltered by browser rendering. Works only with browser=true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyType",
            "in": "query",
            "required": false,
            "description": "Proxy pool type. Supported values are datacenter and residential.",
            "schema": {
              "type": "string",
              "description": "Proxy pool type. Supported values are datacenter and residential.",
              "enum": [
                "datacenter",
                "residential"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyCountry",
            "in": "query",
            "required": false,
            "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
            "schema": {
              "type": "string",
              "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
              "example": "US",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "waitForSelector",
            "in": "query",
            "required": false,
            "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
            "schema": {
              "type": "string",
              "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
              "example": ".content",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "blockResource",
            "in": "query",
            "required": false,
            "description": "Resource type to block while rendering, such as image, stylesheet, script, xhr, or fetch.",
            "schema": {
              "type": "string",
              "description": "Resource type to block while rendering, such as image, stylesheet, script, xhr, or fetch.",
              "enum": [
                "document",
                "eventsource",
                "fetch",
                "font",
                "image",
                "manifest",
                "media",
                "other",
                "script",
                "stylesheet",
                "texttrack",
                "websocket",
                "xhr"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "markdown": {
                            "type": "string",
                            "description": "Markdown content extracted from the page."
                          },
                          "url": {
                            "type": "string",
                            "description": "Source URL that was converted to Markdown."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/extract-structured-data-from-url": {
      "get": {
        "operationId": "scrapingAnt.extract-structured-data-from-url",
        "summary": "Extract Structured Data From URL",
        "description": "Retrieves AI-extracted structured data from a URL in ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/extract-structured-data-from-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Fully qualified URL to scrape and extract structured data from.",
            "schema": {
              "type": "string",
              "description": "Fully qualified URL to scrape and extract structured data from.",
              "example": "https://example.com/product"
            }
          },
          {
            "name": "extractProperties",
            "in": "query",
            "required": true,
            "description": "Free-form description of the fields to extract, such as \"product title, price(number), full description\".",
            "schema": {
              "type": "string",
              "description": "Free-form description of the fields to extract, such as \"product title, price(number), full description\".",
              "example": "product title, price(number), full description"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
            "schema": {
              "type": "boolean",
              "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
            "schema": {
              "type": "number",
              "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
              "example": 30,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyType",
            "in": "query",
            "required": false,
            "description": "Proxy pool type. Supported values are datacenter and residential.",
            "schema": {
              "type": "string",
              "description": "Proxy pool type. Supported values are datacenter and residential.",
              "enum": [
                "datacenter",
                "residential"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyCountry",
            "in": "query",
            "required": false,
            "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
            "schema": {
              "type": "string",
              "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
              "example": "US",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "waitForSelector",
            "in": "query",
            "required": false,
            "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
            "schema": {
              "type": "string",
              "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
              "example": ".product",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/get-api-credits-usage": {
      "get": {
        "operationId": "scrapingAnt.get-api-credits-usage",
        "summary": "Get API Credits Usage",
        "description": "Retrieves subscription status and API credits from ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/get-api-credits-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subscription period end date."
                          },
                          "planName": {
                            "type": "string",
                            "description": "Current ScrapingAnt subscription plan name."
                          },
                          "planTotalCredits": {
                            "type": "number",
                            "description": "Total API credits included in the current plan period."
                          },
                          "remainedCredits": {
                            "type": "number",
                            "description": "Remaining API credits in the current plan period."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subscription period start date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/scrape-url": {
      "get": {
        "operationId": "scrapingAnt.scrape-url",
        "summary": "Scrape URL",
        "description": "Retrieves scraped page HTML from ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/scrape-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Fully qualified URL to scrape.",
            "schema": {
              "type": "string",
              "description": "Fully qualified URL to scrape.",
              "example": "https://example.com"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
            "schema": {
              "type": "boolean",
              "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
            "schema": {
              "type": "number",
              "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
              "example": 30,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnPageSource",
            "in": "query",
            "required": false,
            "description": "Return server response data unaltered by browser rendering. Works only with browser=true.",
            "schema": {
              "type": "boolean",
              "description": "Return server response data unaltered by browser rendering. Works only with browser=true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyType",
            "in": "query",
            "required": false,
            "description": "Proxy pool type. Supported values are datacenter and residential.",
            "schema": {
              "type": "string",
              "description": "Proxy pool type. Supported values are datacenter and residential.",
              "enum": [
                "datacenter",
                "residential"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyCountry",
            "in": "query",
            "required": false,
            "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
            "schema": {
              "type": "string",
              "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
              "example": "US",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cookies",
            "in": "query",
            "required": false,
            "description": "Cookie header string to pass to the target site.",
            "schema": {
              "type": "string",
              "description": "Cookie header string to pass to the target site.",
              "example": "session_id=abc123; theme=light",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "jsSnippet",
            "in": "query",
            "required": false,
            "description": "Base64-encoded JavaScript snippet to run after the page loads. Requires browser=true.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded JavaScript snippet to run after the page loads. Requires browser=true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "waitForSelector",
            "in": "query",
            "required": false,
            "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
            "schema": {
              "type": "string",
              "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
              "example": ".content",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "blockResource",
            "in": "query",
            "required": false,
            "description": "Resource type to block while rendering, such as image, stylesheet, script, xhr, or fetch.",
            "schema": {
              "type": "string",
              "description": "Resource type to block while rendering, such as image, stylesheet, script, xhr, or fetch.",
              "enum": [
                "document",
                "eventsource",
                "fetch",
                "font",
                "image",
                "manifest",
                "media",
                "other",
                "script",
                "stylesheet",
                "texttrack",
                "websocket",
                "xhr"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Scraped page HTML returned by ScrapingAnt."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/scrape-url-with-delete": {
      "delete": {
        "operationId": "scrapingAnt.scrape-url-with-delete",
        "summary": "Scrape URL With DELETE",
        "description": "Scrapes a URL with a forwarded DELETE request in ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/scrape-url-with-delete"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Fully qualified URL to scrape with a forwarded DELETE request.",
            "schema": {
              "type": "string",
              "description": "Fully qualified URL to scrape with a forwarded DELETE request.",
              "example": "https://example.com/api/item/123"
            }
          },
          {
            "name": "body",
            "in": "query",
            "required": false,
            "description": "Body data to forward with the DELETE request when the target URL expects a request body.",
            "schema": {
              "type": "string",
              "description": "Body data to forward with the DELETE request when the target URL expects a request body.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Scraped page HTML returned after forwarding the DELETE request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/scrape-url-with-extended-json": {
      "get": {
        "operationId": "scrapingAnt.scrape-url-with-extended-json",
        "summary": "Scrape URL With Extended JSON",
        "description": "Retrieves extended JSON page data from ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/scrape-url-with-extended-json"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Fully qualified URL to scrape with extended JSON output.",
            "schema": {
              "type": "string",
              "description": "Fully qualified URL to scrape with extended JSON output.",
              "example": "https://example.com"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
            "schema": {
              "type": "boolean",
              "description": "Enable ScrapingAnt headless browser rendering. Default is true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
            "schema": {
              "type": "number",
              "description": "Maximum request runtime in seconds. ScrapingAnt supports 5-60 seconds.",
              "example": 30,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnPageSource",
            "in": "query",
            "required": false,
            "description": "Return server response data unaltered by browser rendering. Works only with browser=true.",
            "schema": {
              "type": "boolean",
              "description": "Return server response data unaltered by browser rendering. Works only with browser=true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyType",
            "in": "query",
            "required": false,
            "description": "Proxy pool type. Supported values are datacenter and residential.",
            "schema": {
              "type": "string",
              "description": "Proxy pool type. Supported values are datacenter and residential.",
              "enum": [
                "datacenter",
                "residential"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proxyCountry",
            "in": "query",
            "required": false,
            "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
            "schema": {
              "type": "string",
              "description": "Two-letter proxy country code, such as US, GB, BR, or DE.",
              "example": "US",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "waitForSelector",
            "in": "query",
            "required": false,
            "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
            "schema": {
              "type": "string",
              "description": "CSS selector ScrapingAnt should wait for before returning the result. Requires browser=true.",
              "example": ".content",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "blockResource",
            "in": "query",
            "required": false,
            "description": "Resource type to block while rendering, such as image, stylesheet, script, xhr, or fetch.",
            "schema": {
              "type": "string",
              "description": "Resource type to block while rendering, such as image, stylesheet, script, xhr, or fetch.",
              "enum": [
                "document",
                "eventsource",
                "fetch",
                "font",
                "image",
                "manifest",
                "media",
                "other",
                "script",
                "stylesheet",
                "texttrack",
                "websocket",
                "xhr"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cookies": {
                            "type": "string",
                            "description": "Response cookies from the scraped web page."
                          },
                          "headers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Response headers from the scraped page."
                          },
                          "html": {
                            "type": "string",
                            "description": "Content from the scraped web page."
                          },
                          "iframes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Iframe content captured from the scraped page."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "HTTP status code received from the scraped page."
                          },
                          "text": {
                            "type": "string",
                            "description": "Text content from the scraped web page."
                          },
                          "xhrs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "XHR and fetch requests captured during browser-rendered scraping."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/scrape-url-with-patch": {
      "put": {
        "operationId": "scrapingAnt.scrape-url-with-patch",
        "summary": "Scrape URL With PATCH",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/scrape-url-with-patch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "Fully qualified URL to scrape with a forwarded PATCH request.",
                    "example": "https://example.com/api/item/123"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body data to forward with the PATCH request when the target URL expects a request body.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Scraped page HTML returned after forwarding the PATCH request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/scrape-url-with-post": {
      "post": {
        "operationId": "scrapingAnt.scrape-url-with-post",
        "summary": "Scrape URL With POST",
        "description": "Scrapes a URL with a forwarded POST request in ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/scrape-url-with-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "Fully qualified URL to scrape with a forwarded POST request.",
                    "example": "https://example.com/api"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body data to forward with the POST request when the target URL expects a request body.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Scraped page HTML returned after forwarding the POST request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingAnt/latest/actions/scrape-url-with-put": {
      "put": {
        "operationId": "scrapingAnt.scrape-url-with-put",
        "summary": "Scrape URL With PUT",
        "description": "Scrapes a URL with a forwarded PUT request in ScrapingAnt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingAnt/latest/actions/scrape-url-with-put"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "Fully qualified URL to scrape with a forwarded PUT request.",
                    "example": "https://example.com/api/item/123"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body data to forward with the PUT request when the target URL expects a request body.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Scraped page HTML returned after forwarding the PUT request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
