{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "y.gy Universal API",
    "version": "0.0.4",
    "description": "Create, manage, and organize short links and tags"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ygy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ygy/latest/actions/create-short-link": {
      "post": {
        "operationId": "ygy.create-short-link",
        "summary": "Create Short Link",
        "description": "Creates a new short link in y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/create-short-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "destinationUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "androidLinkDestination": {
                    "type": "string"
                  },
                  "destinationUrl": {
                    "type": "string",
                    "description": "The short link redirects to this URL."
                  },
                  "disablePng": {
                    "type": "boolean",
                    "description": "Disable PNG QR generation and return only SVG."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Use a verified custom domain or omit to use y.gy."
                  },
                  "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "iosLinkDestination": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "ogDescription": {
                    "type": "string"
                  },
                  "ogImage": {
                    "type": "string"
                  },
                  "ogTitle": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "qrCodeBackgroundHex": {
                    "type": "string"
                  },
                  "qrCodeForegroundHex": {
                    "type": "string"
                  },
                  "suffix": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "webhookAuthKey": {
                    "type": "string"
                  },
                  "webhookUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Android Link Destination": {
                            "type": "string",
                            "description": "Android-specific destination URL."
                          },
                          "Bot Protection": {
                            "type": "boolean",
                            "description": "Whether bot protection is enabled."
                          },
                          "Captcha": {
                            "type": "boolean",
                            "description": "Whether captcha is enabled."
                          },
                          "Created At": {
                            "type": "string",
                            "description": "When the link was created."
                          },
                          "Destination URL": {
                            "type": "string",
                            "description": "The link destination URL."
                          },
                          "Domain": {
                            "type": "string",
                            "description": "The short-link domain."
                          },
                          "Expiration Date": {
                            "type": "string",
                            "description": "Optional expiration date."
                          },
                          "Has Password": {
                            "type": "boolean",
                            "description": "Whether the link is password protected."
                          },
                          "ID": {
                            "type": "number",
                            "description": "Unique short link identifier."
                          },
                          "iOS Link Destination": {
                            "type": "string",
                            "description": "iOS-specific destination URL."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Internal link name."
                          },
                          "OG Description": {
                            "type": "string",
                            "description": "Open Graph description."
                          },
                          "OG Image": {
                            "type": "string",
                            "description": "Open Graph image URL."
                          },
                          "OG Title": {
                            "type": "string",
                            "description": "Open Graph title."
                          },
                          "Organization ID": {
                            "type": "number",
                            "description": "Owning organization identifier."
                          },
                          "QR Code Background Hex": {
                            "type": "string",
                            "description": "QR background color."
                          },
                          "QR Code Foreground Hex": {
                            "type": "string",
                            "description": "QR foreground color."
                          },
                          "QR Code PNG": {
                            "type": "string",
                            "description": "PNG QR code URL."
                          },
                          "QR Code SVG": {
                            "type": "string",
                            "description": "SVG QR code markup."
                          },
                          "Suffix": {
                            "type": "string",
                            "description": "The short-link suffix."
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags attached to the link."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The generated short URL."
                          },
                          "Webhook URL": {
                            "type": "string",
                            "description": "Webhook destination URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ygy/latest/actions/create-tag": {
      "post": {
        "operationId": "ygy.create-tag",
        "summary": "Create Tag",
        "description": "Creates a new tag in y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/create-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the tag to create."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Created At": {
                            "type": "string",
                            "description": "When the tag was created."
                          },
                          "ID": {
                            "type": "number",
                            "description": "Unique tag identifier."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Tag name."
                          },
                          "Organization ID": {
                            "type": "number",
                            "description": "Owning organization identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ygy/latest/actions/delete-short-link": {
      "delete": {
        "operationId": "ygy.delete-short-link",
        "summary": "Delete Short Link",
        "description": "Deletes an existing short link from y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/delete-short-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ygy/latest/actions/delete-tag": {
      "delete": {
        "operationId": "ygy.delete-tag",
        "summary": "Delete Tag",
        "description": "Deletes an existing tag from y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/delete-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ygy/latest/actions/get-short-link": {
      "get": {
        "operationId": "ygy.get-short-link",
        "summary": "Get Short Link",
        "description": "Retrieves a short link from y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/get-short-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Android Link Destination": {
                            "type": "string",
                            "description": "Android-specific destination URL."
                          },
                          "Bot Protection": {
                            "type": "boolean",
                            "description": "Whether bot protection is enabled."
                          },
                          "Captcha": {
                            "type": "boolean",
                            "description": "Whether captcha is enabled."
                          },
                          "Created At": {
                            "type": "string",
                            "description": "When the link was created."
                          },
                          "Destination URL": {
                            "type": "string",
                            "description": "The link destination URL."
                          },
                          "Domain": {
                            "type": "string",
                            "description": "The short-link domain."
                          },
                          "Expiration Date": {
                            "type": "string",
                            "description": "Optional expiration date."
                          },
                          "Has Password": {
                            "type": "boolean",
                            "description": "Whether the link is password protected."
                          },
                          "ID": {
                            "type": "number",
                            "description": "Unique short link identifier."
                          },
                          "iOS Link Destination": {
                            "type": "string",
                            "description": "iOS-specific destination URL."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Internal link name."
                          },
                          "OG Description": {
                            "type": "string",
                            "description": "Open Graph description."
                          },
                          "OG Image": {
                            "type": "string",
                            "description": "Open Graph image URL."
                          },
                          "OG Title": {
                            "type": "string",
                            "description": "Open Graph title."
                          },
                          "Organization ID": {
                            "type": "number",
                            "description": "Owning organization identifier."
                          },
                          "QR Code Background Hex": {
                            "type": "string",
                            "description": "QR background color."
                          },
                          "QR Code Foreground Hex": {
                            "type": "string",
                            "description": "QR foreground color."
                          },
                          "QR Code PNG": {
                            "type": "string",
                            "description": "PNG QR code URL."
                          },
                          "QR Code SVG": {
                            "type": "string",
                            "description": "SVG QR code markup."
                          },
                          "Suffix": {
                            "type": "string",
                            "description": "The short-link suffix."
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags attached to the link."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The generated short URL."
                          },
                          "Webhook URL": {
                            "type": "string",
                            "description": "Webhook destination URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ygy/latest/actions/list-links": {
      "get": {
        "operationId": "ygy.list-links",
        "summary": "List Links",
        "description": "Retrieves short links from y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/list-links"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Android Link Destination": {
                            "type": "string",
                            "description": "Android-specific destination URL."
                          },
                          "Bot Protection": {
                            "type": "boolean",
                            "description": "Whether bot protection is enabled."
                          },
                          "Captcha": {
                            "type": "boolean",
                            "description": "Whether captcha is enabled."
                          },
                          "Created At": {
                            "type": "string",
                            "description": "When the link was created."
                          },
                          "Destination URL": {
                            "type": "string",
                            "description": "The link destination URL."
                          },
                          "Domain": {
                            "type": "string",
                            "description": "The short-link domain."
                          },
                          "Expiration Date": {
                            "type": "string",
                            "description": "Optional expiration date."
                          },
                          "Has Password": {
                            "type": "boolean",
                            "description": "Whether the link is password protected."
                          },
                          "ID": {
                            "type": "number",
                            "description": "Unique short link identifier."
                          },
                          "iOS Link Destination": {
                            "type": "string",
                            "description": "iOS-specific destination URL."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Internal link name."
                          },
                          "OG Description": {
                            "type": "string",
                            "description": "Open Graph description."
                          },
                          "OG Image": {
                            "type": "string",
                            "description": "Open Graph image URL."
                          },
                          "OG Title": {
                            "type": "string",
                            "description": "Open Graph title."
                          },
                          "Organization ID": {
                            "type": "number",
                            "description": "Owning organization identifier."
                          },
                          "QR Code Background Hex": {
                            "type": "string",
                            "description": "QR background color."
                          },
                          "QR Code Foreground Hex": {
                            "type": "string",
                            "description": "QR foreground color."
                          },
                          "QR Code PNG": {
                            "type": "string",
                            "description": "PNG QR code URL."
                          },
                          "QR Code SVG": {
                            "type": "string",
                            "description": "SVG QR code markup."
                          },
                          "Suffix": {
                            "type": "string",
                            "description": "The short-link suffix."
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags attached to the link."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The generated short URL."
                          },
                          "Webhook URL": {
                            "type": "string",
                            "description": "Webhook destination URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ygy/latest/actions/list-tags": {
      "get": {
        "operationId": "ygy.list-tags",
        "summary": "List Tags",
        "description": "Retrieves tags from y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/list-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Created At": {
                            "type": "string",
                            "description": "When the tag was created."
                          },
                          "ID": {
                            "type": "number",
                            "description": "Unique tag identifier."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Tag name."
                          },
                          "Organization ID": {
                            "type": "number",
                            "description": "Owning organization identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ygy/latest/actions/update-short-link": {
      "put": {
        "operationId": "ygy.update-short-link",
        "summary": "Update Short Link",
        "description": "Updates an existing short link in y.gy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ygy/latest/actions/update-short-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "addTags": {
                    "type": "string"
                  },
                  "androidLinkDestination": {
                    "type": "string"
                  },
                  "botProtection": {
                    "type": "boolean"
                  },
                  "captcha": {
                    "type": "boolean"
                  },
                  "destinationUrl": {
                    "type": "string"
                  },
                  "expirationDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "id": {
                    "type": "string"
                  },
                  "iosLinkDestination": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "ogDescription": {
                    "type": "string"
                  },
                  "ogImage": {
                    "type": "string"
                  },
                  "ogTitle": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "qrCodeBackgroundHex": {
                    "type": "string"
                  },
                  "qrCodeForegroundHex": {
                    "type": "string"
                  },
                  "removeTags": {
                    "type": "string"
                  },
                  "webhookAuthKey": {
                    "type": "string"
                  },
                  "webhookUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Android Link Destination": {
                            "type": "string",
                            "description": "Android-specific destination URL."
                          },
                          "Bot Protection": {
                            "type": "boolean",
                            "description": "Whether bot protection is enabled."
                          },
                          "Captcha": {
                            "type": "boolean",
                            "description": "Whether captcha is enabled."
                          },
                          "Created At": {
                            "type": "string",
                            "description": "When the link was created."
                          },
                          "Destination URL": {
                            "type": "string",
                            "description": "The link destination URL."
                          },
                          "Domain": {
                            "type": "string",
                            "description": "The short-link domain."
                          },
                          "Expiration Date": {
                            "type": "string",
                            "description": "Optional expiration date."
                          },
                          "Has Password": {
                            "type": "boolean",
                            "description": "Whether the link is password protected."
                          },
                          "ID": {
                            "type": "number",
                            "description": "Unique short link identifier."
                          },
                          "iOS Link Destination": {
                            "type": "string",
                            "description": "iOS-specific destination URL."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Internal link name."
                          },
                          "OG Description": {
                            "type": "string",
                            "description": "Open Graph description."
                          },
                          "OG Image": {
                            "type": "string",
                            "description": "Open Graph image URL."
                          },
                          "OG Title": {
                            "type": "string",
                            "description": "Open Graph title."
                          },
                          "Organization ID": {
                            "type": "number",
                            "description": "Owning organization identifier."
                          },
                          "QR Code Background Hex": {
                            "type": "string",
                            "description": "QR background color."
                          },
                          "QR Code Foreground Hex": {
                            "type": "string",
                            "description": "QR foreground color."
                          },
                          "QR Code PNG": {
                            "type": "string",
                            "description": "PNG QR code URL."
                          },
                          "QR Code SVG": {
                            "type": "string",
                            "description": "SVG QR code markup."
                          },
                          "Suffix": {
                            "type": "string",
                            "description": "The short-link suffix."
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags attached to the link."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The generated short URL."
                          },
                          "Webhook URL": {
                            "type": "string",
                            "description": "Webhook destination URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
