{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Golemio API Universal API",
    "version": "0.0.3",
    "description": "Access real-time and open data from the Golemio Prague Data Platform, including city infrastructure, mobility, parking, waste, environmental, and public-service datasets."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/golemioAPI/latest/actions/list-air-quality-station-history": {
      "get": {
        "operationId": "golemioAPI.list-air-quality-station-history",
        "summary": "List Air Quality Station History",
        "description": "Finds air quality station history in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-air-quality-station-history"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Air-quality station identifier."
                          },
                          "measurement": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Air-quality measurement payload.",
                            "properties": {
                              "AQHourlyIndex": {
                                "type": "string",
                                "description": "Hourly air-quality index."
                              },
                              "components": {
                                "type": "object",
                                "properties": {
                                  "averagedTime": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Averaging window and value.",
                                    "properties": {
                                      "averagedHours": {
                                        "type": "string",
                                        "description": "Averaging window in hours."
                                      },
                                      "value": {
                                        "type": "number",
                                        "description": "Measured averaged value."
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Component pollutant type."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Measured pollutant components."
                              }
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Measurement update time when returned by Golemio."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-air-quality-stations": {
      "get": {
        "operationId": "golemioAPI.list-air-quality-stations",
        "summary": "List Air Quality Stations",
        "description": "Finds air quality stations in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-air-quality-stations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Point coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Station properties.",
                                "properties": {
                                  "district": {
                                    "type": "string",
                                    "description": "Prague district."
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Station identifier."
                                  },
                                  "measurement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Current air-quality measurement.",
                                    "properties": {
                                      "AQHourlyIndex": {
                                        "type": "string",
                                        "description": "Hourly air-quality index."
                                      },
                                      "components": {
                                        "type": "object",
                                        "properties": {
                                          "averagedTime": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "description": "Averaging window and measured value.",
                                            "properties": {
                                              "averagedHours": {
                                                "type": "string",
                                                "description": "Averaging window in hours."
                                              },
                                              "value": {
                                                "type": "number",
                                                "description": "Measured averaged value."
                                              }
                                            }
                                          },
                                          "type": {
                                            "type": "string",
                                            "description": "Component pollutant type."
                                          }
                                        },
                                        "additionalProperties": false,
                                        "description": "Measured pollutant components."
                                      }
                                    }
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Station name."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Air-quality station features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-bicycle-counters": {
      "get": {
        "operationId": "golemioAPI.list-bicycle-counters",
        "summary": "List Bicycle Counters",
        "description": "Finds bicycle counters in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-bicycle-counters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Point coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Counter properties.",
                                "properties": {
                                  "directions": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Direction identifier."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Direction name."
                                      }
                                    },
                                    "additionalProperties": false,
                                    "description": "Counted directions."
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Counter identifier."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Counter name."
                                  },
                                  "route": {
                                    "type": "string",
                                    "description": "Route identifier."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Bicycle counter features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-city-districts": {
      "get": {
        "operationId": "golemioAPI.list-city-districts",
        "summary": "List City Districts",
        "description": "Finds city districts in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-city-districts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {},
                                    "description": "Polygon coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "District properties.",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "District identifier."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "District name."
                                  },
                                  "slug": {
                                    "type": "string",
                                    "description": "District slug."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "City district features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-gardens": {
      "get": {
        "operationId": "golemioAPI.list-gardens",
        "summary": "List Gardens",
        "description": "Finds gardens in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-gardens"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Point coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Garden properties.",
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Address details."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Garden description."
                                  },
                                  "district": {
                                    "type": "string",
                                    "description": "Prague district."
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Garden identifier."
                                  },
                                  "image": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Image metadata."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Garden name."
                                  },
                                  "properties": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Additional garden attributes."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Public garden URL returned by Golemio."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Garden features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-medical-institutions": {
      "get": {
        "operationId": "golemioAPI.list-medical-institutions",
        "summary": "List Medical Institutions",
        "description": "Finds medical institutions in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-medical-institutions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Point coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Institution properties.",
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Address details."
                                  },
                                  "district": {
                                    "type": "string",
                                    "description": "Prague district."
                                  },
                                  "email": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Email addresses."
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Institution identifier."
                                  },
                                  "institutionCode": {
                                    "type": "string",
                                    "description": "Institution code."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Institution name."
                                  },
                                  "openingHours": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Opening hours."
                                  },
                                  "pharmacyCode": {
                                    "type": "string",
                                    "description": "Pharmacy code when applicable."
                                  },
                                  "telephone": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Phone numbers."
                                  },
                                  "type": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Institution type."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  },
                                  "web": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Web links."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Medical institution features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-municipal-authorities": {
      "get": {
        "operationId": "golemioAPI.list-municipal-authorities",
        "summary": "List Municipal Authorities",
        "description": "Finds municipal authorities in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-municipal-authorities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Point coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Authority properties.",
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Address details."
                                  },
                                  "agendas": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Handled agendas."
                                  },
                                  "district": {
                                    "type": "string",
                                    "description": "Prague district."
                                  },
                                  "email": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Email addresses."
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Authority identifier."
                                  },
                                  "image": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Image metadata."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Authority name."
                                  },
                                  "officialBoard": {
                                    "type": "string",
                                    "description": "Official board URL or identifier."
                                  },
                                  "openingHours": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Opening hours."
                                  },
                                  "telephone": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Phone numbers."
                                  },
                                  "type": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Authority type."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  },
                                  "web": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Websites."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Municipal authority features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-municipal-libraries": {
      "get": {
        "operationId": "golemioAPI.list-municipal-libraries",
        "summary": "List Municipal Libraries",
        "description": "Finds municipal libraries in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-municipal-libraries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Point coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Library properties.",
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Address details."
                                  },
                                  "district": {
                                    "type": "string",
                                    "description": "Prague district."
                                  },
                                  "email": {
                                    "type": "string",
                                    "description": "Library email."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "Library identifier."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Library name."
                                  },
                                  "openingHours": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Opening hours."
                                  },
                                  "services": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Available services."
                                  },
                                  "telephone": {
                                    "type": "string",
                                    "description": "Library phone number."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  },
                                  "web": {
                                    "type": "string",
                                    "description": "Library website."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Municipal library features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-municipal-police-stations": {
      "get": {
        "operationId": "golemioAPI.list-municipal-police-stations",
        "summary": "List Municipal Police Stations",
        "description": "Finds municipal police stations in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-municipal-police-stations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Point coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Police station properties.",
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Address details."
                                  },
                                  "cadastralArea": {
                                    "type": "string",
                                    "description": "Cadastral area."
                                  },
                                  "district": {
                                    "type": "string",
                                    "description": "Prague district."
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Station identifier."
                                  },
                                  "note": {
                                    "type": "string",
                                    "description": "Station note."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON feature type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Municipal police station features."
                          },
                          "type": {
                            "type": "string",
                            "description": "GeoJSON collection type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/golemioAPI/latest/actions/list-parking-locations": {
      "get": {
        "operationId": "golemioAPI.list-parking-locations",
        "summary": "List Parking Locations",
        "description": "Finds parking locations in the Golemio API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/golemioAPI/latest/actions/list-parking-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "object",
                            "properties": {
                              "geometry": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "GeoJSON geometry.",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {},
                                    "description": "Geometry coordinates."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Geometry type."
                                  }
                                }
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Parking location properties.",
                                "properties": {
                                  "capacity": {
                                    "type": "number",
                                    "description": "Parking capacity."
                                  },
                                  "centroid": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Location centroid."
                                  },
                                  "covered": {
                                    "type": "boolean",
                                    "description": "Whether the parking area is covered."
                                  },
                                  "hasOccupancyInfo": {
                                    "type": "boolean",
                                    "description": "Whether occupancy data is available."
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "Parking location identifier."
                                  },
                                  "lastModifiedAtSource": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last source modification time."
                                  },
                                  "lastUpdatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Last update time."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Parking location name."
                                  },
                                  "openingHours": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Opening-hour rules."
                                  },
                                  "parkingPolicy": {
                                    "type": "string",
                                    "description": "Parking policy."
                                  },
                                  "parkingProhibitions": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Parking prohibition flags."
                                  },
                                  "parkingType": {
                                    "type": "string",
                                    "description": "Parking type."
                                  },
                                  "payment": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Payment links and metadata."
                                  },
                                  "primarySource": {
                                    "type": "string",
                                    "description": "Source system."
                                  },
                                  "primarySourceId": {
                                    "type": "string",
                                    "description": "Source-specific identifier."
                                  },
                                  "reservation": {
[...]
