{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ntfy Universal API",
    "version": "0.0.2",
    "description": "Send and retrieve notifications, inspect topic metadata, and manage public ntfy topic workflows against the ntfy HTTP API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ntfy/latest/actions/cancel-scheduled-notification": {
      "delete": {
        "operationId": "ntfy.cancel-scheduled-notification",
        "summary": "Cancel Scheduled Notification",
        "description": "Cancels a scheduled ntfy message by sequence ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/cancel-scheduled-notification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/clear-notification": {
      "delete": {
        "operationId": "ntfy.clear-notification",
        "summary": "Clear Notification",
        "description": "Clears an ntfy message by sequence ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/clear-notification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/clear-notification-read-alias": {
      "delete": {
        "operationId": "ntfy.clear-notification-read-alias",
        "summary": "Clear Notification Read Alias",
        "description": "Marks an ntfy message as read by sequence ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/clear-notification-read-alias"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/delete-notification": {
      "delete": {
        "operationId": "ntfy.delete-notification",
        "summary": "Delete Notification",
        "description": "Deletes an ntfy message by sequence ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/delete-notification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/list-cached-topic-messages": {
      "get": {
        "operationId": "ntfy.list-cached-topic-messages",
        "summary": "List Cached Topic Messages",
        "description": "Retrieves cached messages from an ntfy topic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/list-cached-topic-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topic",
            "in": "query",
            "required": true,
            "description": "The ntfy topic to read cached messages from.",
            "schema": {
              "type": "string",
              "description": "The ntfy topic to read cached messages from."
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return cached messages since a timestamp, duration, or message ID.",
            "schema": {
              "type": "string",
              "description": "Return cached messages since a timestamp, duration, or message ID.",
              "example": "12h | 1645970742 | message-id",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "description": "Include delayed or scheduled messages in the cached message list.",
            "schema": {
              "type": "boolean",
              "description": "Include delayed or scheduled messages in the cached message list.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Only return the exact message ID.",
            "schema": {
              "type": "string",
              "description": "Only return the exact message ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": false,
            "description": "Only return messages whose body exactly matches the given message.",
            "schema": {
              "type": "string",
              "description": "Only return messages whose body exactly matches the given message.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Only return messages whose title exactly matches the given title.",
            "schema": {
              "type": "string",
              "description": "Only return messages whose title exactly matches the given title.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "description": "Only return messages that match any of the given priorities.",
            "schema": {
              "type": "string",
              "description": "Only return messages that match any of the given priorities. Pass multiple values separated by `,`.",
              "example": "high,urgent",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Only return messages that contain all listed tags.",
            "schema": {
              "type": "string",
              "description": "Only return messages that contain all listed tags. Pass multiple values separated by `,`.",
              "example": "error,alert",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/list-latest-topic-messages": {
      "get": {
        "operationId": "ntfy.list-latest-topic-messages",
        "summary": "List Latest Topic Messages",
        "description": "Retrieves the latest message from an ntfy topic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/list-latest-topic-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/list-scheduled-topic-messages": {
      "get": {
        "operationId": "ntfy.list-scheduled-topic-messages",
        "summary": "List Scheduled Topic Messages",
        "description": "Retrieves scheduled messages from an ntfy topic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/list-scheduled-topic-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/publish-alertmanager-template-notification": {
      "post": {
        "operationId": "ntfy.publish-alertmanager-template-notification",
        "summary": "Publish Alertmanager Template Notification",
        "description": "Publishes an ntfy notification from the Alertmanager template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/publish-alertmanager-template-notification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/publish-attachment-upload": {
      "post": {
        "operationId": "ntfy.publish-attachment-upload",
        "summary": "Publish Attachment Upload",
        "description": "Publishes a file attachment to an ntfy topic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/publish-attachment-upload"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/publish-broadcast-action-notification": {
      "post": {
        "operationId": "ntfy.publish-broadcast-action-notification",
        "summary": "Publish Broadcast Action Notification",
        "description": "Publishes an ntfy notification with a broadcast action.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/publish-broadcast-action-notification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/publish-clickable-message": {
      "post": {
        "operationId": "ntfy.publish-clickable-message",
        "summary": "Publish Clickable Message",
        "description": "Publishes a message with a click URL in ntfy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/publish-clickable-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
                          },
                          "title": {
                            "type": "string",
                            "description": "The message title."
                          },
                          "topic": {
                            "type": "string",
                            "description": "The ntfy topic associated with the message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ntfy/latest/actions/publish-copy-action-notification": {
      "post": {
        "operationId": "ntfy.publish-copy-action-notification",
        "summary": "Publish Copy Action Notification",
        "description": "Publishes an ntfy notification with a copy action.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ntfy/latest/actions/publish-copy-action-notification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action buttons attached to the message."
                          },
                          "attachment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Attachment metadata when the message includes an attachment."
                          },
                          "click": {
                            "type": "string",
                            "description": "URL opened when the notification is clicked."
                          },
                          "event": {
                            "type": "string",
                            "description": "The ntfy event type for the record."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the message expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ntfy message identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message body text."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority from 1 to 5."
                          },
                          "sequence_id": {
                            "type": "string",
                            "description": "Sequence ID for update or delete semantics."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags attached to the message."
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp when the message was created."
[...]
