{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Eagle Doc Universal API",
    "version": "0.0.6",
    "description": "Process receipts, invoices, and documents with Eagle Doc OCR"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eagleDoc/latest/actions/create-any-document-batch-ocr-task": {
      "post": {
        "operationId": "eagleDoc.create-any-document-batch-ocr-task",
        "summary": "Create Any Document Batch OCR Task",
        "description": "Creates an any-document batch OCR task in Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/create-any-document-batch-ocr-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "configId": {
                    "type": "string",
                    "description": "Optional Eagle Doc custom extraction configuration ID"
                  },
                  "docType": {
                    "type": "string",
                    "description": "Known Eagle Doc document type for more stable batch extraction"
                  },
                  "file": {
                    "type": "string",
                    "description": "Archive file that contains the batch input files"
                  },
                  "privacy": {
                    "type": "boolean",
                    "description": "Whether Eagle Doc should avoid storing the uploaded file"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "finishedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "messages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "numberOfFiles": {
                            "type": "number"
                          },
                          "numberOfPages": {
                            "type": "number"
                          },
                          "originalFileNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "queryParams": {
                            "type": "object",
                            "properties": {
                              "configId": {
                                "type": "string"
                              },
                              "docType": {
                                "type": "string"
                              },
                              "endPoint": {
                                "type": "string"
                              },
                              "fromDashboardSaveResult": {
                                "type": "string"
                              },
                              "privacy": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/create-finance-document-batch-ocr-task": {
      "post": {
        "operationId": "eagleDoc.create-finance-document-batch-ocr-task",
        "summary": "Create Finance Document Batch OCR Task",
        "description": "Creates a finance document batch OCR task in Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/create-finance-document-batch-ocr-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "docType": {
                    "type": "string",
                    "description": "Document type used for finance batch extraction"
                  },
                  "file": {
                    "type": "string",
                    "description": "Archive file that contains the finance batch input files"
                  },
                  "fullText": {
                    "type": "boolean",
                    "description": "Include the extracted full text by page for each result"
                  },
                  "polygon": {
                    "type": "boolean",
                    "description": "Include polygon coordinates in each extracted result"
                  },
                  "privacy": {
                    "type": "boolean",
                    "description": "Whether Eagle Doc should avoid storing the uploaded file"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "finishedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "messages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "numberOfFiles": {
                            "type": "number"
                          },
                          "numberOfPages": {
                            "type": "number"
                          },
                          "originalFileNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "queryParams": {
                            "type": "object",
                            "properties": {
                              "docType": {
                                "type": "string"
                              },
                              "endPoint": {
                                "type": "string"
                              },
                              "includeFullText": {
                                "type": "string"
                              },
                              "includePolygon": {
                                "type": "string"
                              },
                              "includeSignature": {
                                "type": "string"
                              },
                              "privacy": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/delete-batch-ocr-task": {
      "delete": {
        "operationId": "eagleDoc.delete-batch-ocr-task",
        "summary": "Delete Batch OCR Task",
        "description": "Deletes an existing batch OCR task from Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/delete-batch-ocr-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "Batch task ID returned by Eagle Doc when the batch job was created",
            "schema": {
              "type": "string",
              "description": "Batch task ID returned by Eagle Doc when the batch job was created"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/extract-signatures": {
      "post": {
        "operationId": "eagleDoc.extract-signatures",
        "summary": "Extract Signatures",
        "description": "Creates a signature extraction in Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/extract-signatures"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "Document file that contains signatures"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileHash": {
                            "type": "string"
                          },
                          "numberOfPages": {
                            "type": "number"
                          },
                          "signatures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "binary": {
                                  "type": "string"
                                },
                                "boundingBox": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "confidence": {
                                  "type": "number"
                                },
                                "hasSignatureLabelsNearby": {
                                  "type": "boolean"
                                },
                                "hasVisibleBoxSurrounding": {
                                  "type": "boolean"
                                },
                                "image": {
                                  "type": "string"
                                },
                                "numberOfSignaturesExpected": {
                                  "type": "number"
                                },
                                "page": {
                                  "type": "number"
                                },
                                "signatureColor": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/get-batch-ocr-task": {
      "get": {
        "operationId": "eagleDoc.get-batch-ocr-task",
        "summary": "Get Batch OCR Task",
        "description": "Retrieves a batch OCR task from Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/get-batch-ocr-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "Batch task ID returned by Eagle Doc when the batch job was created",
            "schema": {
              "type": "string",
              "description": "Batch task ID returned by Eagle Doc when the batch job was created"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "finishedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "messages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "numberOfFiles": {
                            "type": "number"
                          },
                          "numberOfPages": {
                            "type": "number"
                          },
                          "originalFileNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "queryParams": {
                            "type": "object",
                            "properties": {
                              "configId": {
                                "type": "string"
                              },
                              "docType": {
                                "type": "string"
                              },
                              "endPoint": {
                                "type": "string"
                              },
                              "fromDashboardSaveResult": {
                                "type": "string"
                              },
                              "privacy": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/get-current-month-usage": {
      "get": {
        "operationId": "eagleDoc.get-current-month-usage",
        "summary": "Get Current Month Usage",
        "description": "Retrieves current month usage from Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/get-current-month-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contractQuota": {
                            "type": "number",
                            "description": "Number of pages included in the contract quota"
                          },
                          "currentMonth": {
                            "type": "string",
                            "description": "Current billing month in YYYY-MM format"
                          },
                          "endedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Billing period end time"
                          },
                          "hardLimit": {
                            "type": "number",
                            "description": "Hard processing ceiling for the billing period"
                          },
                          "overUsage": {
                            "type": "number",
                            "description": "Pages processed above the contract quota"
                          },
                          "overUsageAllowed": {
                            "type": "boolean",
                            "description": "Whether processing above the contract quota is allowed"
                          },
                          "overUsageCost": {
                            "type": "number",
                            "description": "Accumulated over-usage cost for the current billing period"
                          },
                          "pricePerPageOverUsage": {
                            "type": "number",
                            "description": "Price charged per page above the contract quota"
                          },
                          "quotaUsed": {
                            "type": "number",
                            "description": "Pages processed in the current billing period"
                          },
                          "startedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Billing period start time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/get-monthly-usage-history": {
      "get": {
        "operationId": "eagleDoc.get-monthly-usage-history",
        "summary": "Get Monthly Usage History",
        "description": "Retrieves monthly usage history from Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/get-monthly-usage-history"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "object",
                            "properties": {
                              "contractQuota": {
                                "type": "number"
                              },
                              "pricePerPage": {
                                "type": "number"
                              },
                              "pricePerPageOverUsage": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "quotaDate": {
                            "type": "string"
                          },
                          "quotaEndTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "quotaPaymentMethod": {
                            "type": "string"
                          },
                          "quotaStartTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "quotaUsed": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/get-quota-summary": {
      "get": {
        "operationId": "eagleDoc.get-quota-summary",
        "summary": "Get Quota Summary",
        "description": "Retrieves quota summary from Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/get-quota-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentMonth": {
                            "type": "string",
                            "description": "Current billing month in YYYY-MM format"
                          },
                          "endedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Billing period end time"
                          },
                          "quota": {
                            "type": "number",
                            "description": "Pages included in the current contract period"
                          },
                          "quotaUsed": {
                            "type": "number",
                            "description": "Pages processed in the current contract period"
                          },
                          "startedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Billing period start time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/list-request-logs": {
      "get": {
        "operationId": "eagleDoc.list-request-logs",
        "summary": "List Request Logs",
        "description": "Retrieves API request logs from Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/list-request-logs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileHash": {
                            "type": "string"
                          },
                          "otherInfo": {
                            "type": "object",
                            "properties": {
                              "docType": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pages": {
                            "type": "number"
                          },
                          "time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "timeRequested": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/parse-bank-statement": {
      "post": {
        "operationId": "eagleDoc.parse-bank-statement",
        "summary": "Parse Bank Statement",
        "description": "Creates a bank statement extraction in Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/parse-bank-statement"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "Bank statement file to upload"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docType": {
                            "type": "string"
                          },
                          "general": {
                            "type": "object",
                            "properties": {
                              "accountHolderName": {
                                "type": "string"
                              },
                              "accountNumber": {
                                "type": "string"
                              },
                              "accountStatus": {
                                "type": "string"
                              },
                              "accountType": {
                                "type": "string"
                              },
                              "bankName": {
                                "type": "string"
                              },
                              "branchAddress": {
                                "type": "string"
                              },
                              "branchCode": {
                                "type": "string"
                              },
                              "branchStreet": {
                                "type": "string"
                              },
                              "closingBalance": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "feesCharged": {
                                "type": "number"
                              },
                              "iFSCCode": {
                                "type": "string"
                              },
                              "interestEarned": {
                                "type": "string"
                              },
                              "mICRCode": {
                                "type": "string"
                              },
                              "minimumBalanceRequired": {
                                "type": "string"
                              },
                              "openingBalance": {
                                "type": "number"
                              },
                              "statementPeriod": {
                                "type": "string"
                              },
                              "sWIFTCode": {
                                "type": "string"
                              },
                              "totalDeposits": {
                                "type": "number"
                              },
                              "totalWithdrawals": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lists": {
                            "type": "object",
                            "properties": {
                              "transactionList": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "counterPartyName": {
                                      "type": "string"
                                    },
                                    "transactionAmount": {
                                      "type": "number"
                                    },
                                    "transactionDate": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "transactionDescription": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "transactionType": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "processingInfo": {
                            "type": "object",
                            "properties": {
                              "docConfigId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "docType": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "string"
                              },
                              "fileHash": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "numberOfPages": {
                                "type": "string"
                              },
                              "version": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "signatures": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verification": {
                            "type": "object",
                            "properties": {
                              "nonDuplication": {
                                "type": "object",
                                "properties": {
                                  "flagValid": {
                                    "type": "boolean"
                                  },
                                  "message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/parse-business-card": {
      "post": {
        "operationId": "eagleDoc.parse-business-card",
        "summary": "Parse Business Card",
        "description": "Creates a business card extraction in Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/parse-business-card"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "Business card file to upload"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docType": {
                            "type": "string"
                          },
                          "general": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "website": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "processingInfo": {
                            "type": "object",
                            "properties": {
                              "docConfigId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "docType": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "string"
                              },
                              "fileHash": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "numberOfPages": {
                                "type": "string"
                              },
                              "version": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "signatures": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verification": {
                            "type": "object",
                            "properties": {
                              "nonDuplication": {
                                "type": "object",
                                "properties": {
                                  "flagValid": {
                                    "type": "boolean"
                                  },
                                  "message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eagleDoc/latest/actions/parse-delivery-sheet": {
      "post": {
        "operationId": "eagleDoc.parse-delivery-sheet",
        "summary": "Parse Delivery Sheet",
        "description": "Creates a delivery sheet extraction in Eagle Doc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eagleDoc/latest/actions/parse-delivery-sheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "Delivery sheet file to upload"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docType": {
                            "type": "string"
                          },
                          "general": {
                            "type": "object",
                            "properties": {
                              "additionalNotes": {
                                "type": "string"
                              },
                              "customerAddress": {
                                "type": "string"
                              },
                              "customerEmail": {
                                "type": "string"
                              },
                              "customerName": {
                                "type": "string"
                              },
                              "deliveryDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "deliveryLocation": {
                                "type": "string"
                              },
                              "deliveryPerson": {
                                "type": "string"
                              },
                              "documentNumber": {
                                "type": "string"
                              },
                              "invoiceDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "invoiceNumber": {
                                "type": "string"
                              },
                              "issueDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "paymentTerms": {
                                "type": "string"
                              },
                              "purchaseOrderNumber": {
                                "type": "string"
                              },
                              "receiverName": {
                                "type": "string"
                              },
                              "shippingMethod": {
                                "type": "string"
                              },
                              "supplierAddress": {
                                "type": "string"
                              },
                              "supplierCity": {
                                "type": "string"
                              },
                              "supplierEmail": {
                                "type": "string"
                              },
                              "supplierName": {
                                "type": "string"
                              },
                              "supplierState": {
                                "type": "string"
                              },
                              "supplierStreet": {
                                "type": "string"
                              },
                              "supplierZipCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lists": {
                            "type": "object",
                            "properties": {
                              "productList": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "productId": {
                                      "type": "string"
                                    },
                                    "productName": {
                                      "type": "string"
                                    },
                                    "productQuantity": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "processingInfo": {
                            "type": "object",
                            "properties": {
                              "docConfigId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "docType": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "string"
                              },
                              "fileHash": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "numberOfPages": {
                                "type": "string"
                              },
                              "version": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "signatures": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verification": {
                            "type": "object",
                            "properties": {
                              "nonDuplication": {
                                "type": "object",
                                "properties": {
                                  "flagValid": {
                                    "type": "boolean"
                                  },
                                  "message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
