{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "MyMeet.io Universal API",
    "version": "0.0.2",
    "description": "Appointment scheduling and booking platform for managing meeting topics, availability, and public booking pages."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/myMeetio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/myMeetio/latest/actions/list-bookings": {
      "get": {
        "operationId": "myMeetio.list-bookings",
        "summary": "List Bookings",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myMeetio/latest/actions/list-bookings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agenda": {
                            "type": "string"
                          },
                          "cancelationReason": {
                            "type": "string"
                          },
                          "clientLanguage": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "guests": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "meeting": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "meetingAddress": {
                            "type": "string"
                          },
                          "meetingDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "meetingEndTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "meetingTime": {
                            "type": "string"
                          },
                          "mobileNumber": {
                            "type": "string"
                          },
                          "modeOfCommunication": {
                            "type": "string"
                          },
                          "paymentAmount": {
                            "type": "string"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "rescheduledAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "serviceDuration": {
                            "type": "number"
                          },
                          "serviceId": {
                            "type": "number"
                          },
                          "serviceTitle": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "userEmail": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "userTimezone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
