{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "URL to Text Universal API",
    "version": "0.0.3",
    "description": "Extract clean text, Markdown, or HTML from webpage and YouTube URLs using URLtoText."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/uRLToText/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/uRLToText/latest/actions/convert-url-to-text": {
      "get": {
        "operationId": "uRLToText.convert-url-to-text",
        "summary": "Convert URL to Text",
        "description": "Retrieves extracted webpage or YouTube content from URL to Text.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uRLToText/latest/actions/convert-url-to-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The webpage or YouTube URL to convert.",
            "schema": {
              "type": "string",
              "description": "The webpage or YouTube URL to convert.",
              "example": "https://example.com"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "The format to return. URLtoText supports text, markdown, and html.",
            "schema": {
              "type": "string",
              "description": "The format to return. URLtoText supports text, markdown, and html.",
              "enum": [
                "0",
                "1",
                "2"
              ],
              "default": "text"
            }
          },
          {
            "name": "extractMainContent",
            "in": "query",
            "required": false,
            "description": "Use URLtoText's AI extraction to attempt to return only the main content.",
            "schema": {
              "type": "boolean",
              "description": "Use URLtoText's AI extraction to attempt to return only the main content.",
              "default": false
            }
          },
          {
            "name": "renderJavascript",
            "in": "query",
            "required": false,
            "description": "Render JavaScript before extracting content.",
            "schema": {
              "type": "boolean",
              "description": "Render JavaScript before extracting content.",
              "default": false
            }
          },
          {
            "name": "residentialProxy",
            "in": "query",
            "required": false,
            "description": "Use a residential proxy for the request. Only one proxy option should be enabled at a time.",
            "schema": {
              "type": "boolean",
              "description": "Use a residential proxy for the request. Only one proxy option should be enabled at a time.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "stealthProxy",
            "in": "query",
            "required": false,
            "description": "Use URLtoText's premium residential IP pool. Requires JavaScript rendering.",
            "schema": {
              "type": "boolean",
              "description": "Use URLtoText's premium residential IP pool. Requires JavaScript rendering.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "aiPrompt",
            "in": "query",
            "required": false,
            "description": "Optional AI prompt to process or modify the extracted content.",
            "schema": {
              "type": "string",
              "description": "Optional AI prompt to process or modify the extracted content.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "endOfArticle",
            "in": "query",
            "required": false,
            "description": "Optional text marker where extraction should stop.",
            "schema": {
              "type": "string",
              "description": "Optional text marker where extraction should stop.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "waitForJs",
            "in": "query",
            "required": false,
            "description": "Milliseconds to wait for JavaScript to finish loading before extraction.",
            "schema": {
              "type": "number",
              "description": "Milliseconds to wait for JavaScript to finish loading before extraction.",
              "example": 3000,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "extractCssSelector",
            "in": "query",
            "required": false,
            "description": "One or more CSS selectors separated by commas. If omitted or unmatched, the whole page is processed.",
            "schema": {
              "type": "string",
              "description": "One or more CSS selectors separated by commas. If omitted or unmatched, the whole page is processed.",
              "example": "#main-content, .article",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Extracted page content."
                          },
                          "creditsUsed": {
                            "type": "number",
                            "description": "URLtoText credits consumed by the conversion."
                          },
                          "ogDescription": {
                            "type": "string",
                            "description": "Open Graph description, when available."
                          },
                          "ogImageUrl": {
                            "type": "string",
                            "description": "Open Graph image URL, when available."
                          },
                          "outputFormat": {
                            "type": "string",
                            "description": "Returned content format."
                          },
                          "pageTitle": {
                            "type": "string",
                            "description": "Title of the source page."
                          },
                          "publishedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Detected publication date, when available."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL that was converted."
                          },
                          "warning": {
                            "type": "string",
                            "description": "Provider warning message, when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
