{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DeepSeek Universal API",
    "version": "0.0.9",
    "description": "Generate text, reason through prompts, and build with DeepSeek models."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/deepSeek/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/deepSeek/latest/actions/create-chat-completion": {
      "post": {
        "operationId": "deepSeek.create-chat-completion",
        "summary": "Create Chat Completion",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deepSeek/latest/actions/create-chat-completion"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "model",
                  "messages[]",
                  "messages[].role",
                  "messages[].content",
                  "tools[].type",
                  "tools[].function",
                  "tools[].function.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "model": {
                    "type": "string",
                    "description": "Model ID to use",
                    "enum": [
                      "deepseek-chat",
                      "deepseek-reasoner"
                    ],
                    "example": "deepseek-chat or deepseek-reasoner",
                    "default": "deepseek-chat"
                  },
                  "messages[]": {
                    "type": "array",
                    "items": {},
                    "description": "Conversation messages (at least one item)"
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate",
                    "default": 4096
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature (0-2)",
                    "default": 1
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling threshold (0-1)",
                    "default": 1
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Penalize repeated tokens (-2 to 2)",
                    "default": 0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Penalize tokens already in text (-2 to 2)",
                    "default": 0
                  },
                  "logprobs": {
                    "type": "boolean",
                    "description": "Whether to return log probabilities",
                    "default": false
                  },
                  "stop[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Stop sequence string or JSON array of up to 16 sequences"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Enable streaming response",
                    "default": false
                  },
                  "streamOptionsIncludeUsage": {
                    "type": "boolean",
                    "description": "Include usage chunks before [DONE] when stream=true",
                    "default": false
                  },
                  "thinkingType": {
                    "type": "string",
                    "description": "Reasoning mode type",
                    "enum": [
                      "disabled",
                      "enabled"
                    ]
                  },
                  "response_format.type": {
                    "type": "string",
                    "description": "Response format type",
                    "enum": [
                      "json_object",
                      "text"
                    ],
                    "default": "text"
                  },
                  "tools[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "JSON array of tool/function definitions for function calling"
                  },
                  "tool_choice": {
                    "type": "string",
                    "description": "Tool choice mode or JSON object",
                    "default": "auto"
                  },
                  "top_logprobs": {
                    "type": "number",
                    "description": "Number of most likely tokens to return (requires logprobs=true)"
                  },
                  "messages[].role": {
                    "type": "string",
                    "description": "Role of each message",
                    "enum": [
                      "assistant",
                      "system",
                      "tool",
                      "user"
                    ]
                  },
                  "messages[].content": {
                    "type": "string",
                    "description": "Content of each message"
                  },
                  "messages[].name": {
                    "type": "string",
                    "description": "Optional participant name"
                  },
                  "messages[].tool_call_id": {
                    "type": "string",
                    "description": "Tool call ID for tool-role messages"
                  },
                  "tools[].type": {
                    "type": "string",
                    "description": "Tool type",
                    "enum": [
                      "function"
                    ]
                  },
                  "tools[].function": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Function definition object"
                  },
                  "tools[].function.name": {
                    "type": "string",
                    "description": "Function name"
                  },
                  "tools[].function.description": {
                    "type": "string",
                    "description": "Function description"
                  },
                  "tools[].function.parameters": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON Schema describing function parameters"
                  },
                  "tools[].function.strict": {
                    "type": "boolean",
                    "description": "Enable strict schema adherence",
                    "default": false
                  },
                  "response_format": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Response format object"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "finishReason": {
                                  "type": "string"
                                },
                                "index": {
                                  "type": "number"
                                },
                                "message": {
                                  "type": "object",
                                  "properties": {
                                    "content": {
                                      "type": "string"
                                    },
                                    "reasoningContent": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "toolCalls": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "function": {
                                            "type": "object",
                                            "properties": {
                                              "arguments": {
                                                "type": "string"
                                              },
                                              "name": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "created": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "systemFingerprint": {
                            "type": "string"
                          },
                          "usage": {
                            "type": "object",
                            "properties": {
                              "completionTokens": {
                                "type": "number"
                              },
                              "completionTokensDetails": {
                                "type": "object",
                                "properties": {
                                  "reasoningTokens": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "promptCacheHitTokens": {
                                "type": "number"
                              },
                              "promptCacheMissTokens": {
                                "type": "number"
                              },
                              "promptTokens": {
                                "type": "number"
                              },
                              "totalTokens": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deepSeek/latest/actions/create-chat-prefix-completion-beta": {
      "post": {
        "operationId": "deepSeek.create-chat-prefix-completion-beta",
        "summary": "Create Chat Prefix Completion (Beta)",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deepSeek/latest/actions/create-chat-prefix-completion-beta"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "model",
                  "messages[]",
                  "messages[].role",
                  "messages[].content",
                  "tools[].type",
                  "tools[].function",
                  "tools[].function.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "model": {
                    "type": "string",
                    "description": "Model ID to use",
                    "enum": [
                      "deepseek-chat",
                      "deepseek-reasoner"
                    ],
                    "default": "deepseek-chat"
                  },
                  "messages[]": {
                    "type": "array",
                    "items": {},
                    "description": "Conversation messages; last message must be assistant with prefix=true"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature (0-2)",
                    "default": 1
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate",
                    "default": 4096
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling (0-1)",
                    "default": 1
                  },
                  "stop[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Stop sequences"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Enable streaming response",
                    "default": false
                  },
                  "streamOptionsIncludeUsage": {
                    "type": "boolean",
                    "description": "Include usage chunk when stream=true",
                    "default": false
                  },
                  "logprobs": {
                    "type": "boolean",
                    "description": "Whether to return log probabilities",
                    "default": false
                  },
                  "response_format.type": {
                    "type": "string",
                    "description": "Response format type",
                    "enum": [
                      "json_object",
                      "text"
                    ],
                    "default": "text"
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Penalize repeated tokens (-2 to 2)",
                    "default": 0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Penalize tokens already in text (-2 to 2)",
                    "default": 0
                  },
                  "thinkingType": {
                    "type": "string",
                    "description": "Reasoning mode type",
                    "enum": [
                      "disabled",
                      "enabled"
                    ]
                  },
                  "tools[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "JSON array of tool/function definitions for function calling"
                  },
                  "tool_choice": {
                    "type": "string",
                    "description": "Tool choice mode or JSON object",
                    "default": "auto"
                  },
                  "top_logprobs": {
                    "type": "number",
                    "description": "Number of most likely tokens to return (requires logprobs=true)"
                  },
                  "messages[].role": {
                    "type": "string",
                    "description": "Role of each message",
                    "enum": [
                      "assistant",
                      "system",
                      "tool",
                      "user"
                    ]
                  },
                  "messages[].content": {
                    "type": "string",
                    "description": "Content of each message"
                  },
                  "messages[].name": {
                    "type": "string",
                    "description": "Optional participant name"
                  },
                  "messages[].tool_call_id": {
                    "type": "string",
                    "description": "Tool call ID for tool-role messages"
                  },
                  "messages[].prefix": {
                    "type": "boolean",
                    "description": "Enable prefix completion on assistant message",
                    "default": false
                  },
                  "tools[].type": {
                    "type": "string",
                    "description": "Tool type",
                    "enum": [
                      "function"
                    ]
                  },
                  "tools[].function": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Function definition object"
                  },
                  "tools[].function.name": {
                    "type": "string",
                    "description": "Function name"
                  },
                  "tools[].function.description": {
                    "type": "string",
                    "description": "Function description"
                  },
                  "tools[].function.parameters": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON Schema describing function parameters"
                  },
                  "tools[].function.strict": {
                    "type": "boolean",
                    "description": "Enable strict schema adherence",
                    "default": false
                  },
                  "response_format": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Response format object"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "finishReason": {
                                  "type": "string"
                                },
                                "index": {
                                  "type": "number"
                                },
                                "message": {
                                  "type": "object",
                                  "properties": {
                                    "content": {
                                      "type": "string"
                                    },
                                    "reasoningContent": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "type": "string"
                                    },
                                    "toolCalls": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "function": {
                                            "type": "object",
                                            "properties": {
                                              "arguments": {
                                                "type": "string"
                                              },
                                              "name": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "created": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "systemFingerprint": {
                            "type": "string"
                          },
                          "usage": {
                            "type": "object",
                            "properties": {
                              "completionTokens": {
                                "type": "number"
                              },
                              "completionTokensDetails": {
                                "type": "object",
                                "properties": {
                                  "reasoningTokens": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "promptCacheHitTokens": {
                                "type": "number"
                              },
                              "promptCacheMissTokens": {
                                "type": "number"
                              },
                              "promptTokens": {
                                "type": "number"
                              },
                              "totalTokens": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deepSeek/latest/actions/create-fim-completion-beta": {
      "post": {
        "operationId": "deepSeek.create-fim-completion-beta",
        "summary": "Create FIM Completion (Beta)",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deepSeek/latest/actions/create-fim-completion-beta"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The prefix text to complete",
                    "example": "def fibonacci(n):"
                  },
                  "suffix": {
                    "type": "string",
                    "description": "Text that comes after the completion",
                    "example": "return result"
                  },
                  "max_tokens": {
                    "type": "number",
                    "description": "Maximum tokens to generate",
                    "default": 4096
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature (0-2)",
                    "default": 1
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling (0-1)",
                    "default": 1
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Penalize repeated tokens (-2 to 2)",
                    "default": 0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Penalize tokens already present (-2 to 2)",
                    "default": 0
                  },
                  "logprobs": {
                    "type": "number",
                    "description": "Number of top log probabilities to return"
                  },
                  "stop[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Stop sequences"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Enable streaming response",
                    "default": false
                  },
                  "streamOptionsIncludeUsage": {
                    "type": "boolean",
                    "description": "Include usage chunk when stream=true",
                    "default": false
                  },
                  "echo": {
                    "type": "boolean",
                    "description": "Echo back the prompt in the completion response",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "finishReason": {
                                  "type": "string"
                                },
                                "index": {
                                  "type": "number"
                                },
                                "logprobs": {
                                  "type": "object",
                                  "properties": {
                                    "textOffset": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "tokenLogprobs": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "tokens": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "text": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "created": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "systemFingerprint": {
                            "type": "string"
                          },
                          "usage": {
                            "type": "object",
                            "properties": {
                              "completionTokens": {
                                "type": "number"
                              },
                              "completionTokensDetails": {
                                "type": "object",
                                "properties": {
                                  "reasoningTokens": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "promptCacheHitTokens": {
                                "type": "number"
                              },
                              "promptCacheMissTokens": {
                                "type": "number"
                              },
                              "promptTokens": {
                                "type": "number"
                              },
                              "totalTokens": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deepSeek/latest/actions/get-user-balance": {
      "get": {
        "operationId": "deepSeek.get-user-balance",
        "summary": "Get User Balance",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deepSeek/latest/actions/get-user-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balanceInfos": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string"
                                },
                                "grantedBalance": {
                                  "type": "string"
                                },
                                "toppedUpBalance": {
                                  "type": "string"
                                },
                                "totalBalance": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "isAvailable": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deepSeek/latest/actions/list-models": {
      "get": {
        "operationId": "deepSeek.list-models",
        "summary": "List Models",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deepSeek/latest/actions/list-models"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "ownedBy": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
