{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Sharetribe Universal API",
    "version": "0.0.6",
    "description": "Sharetribe: Manage marketplace users, listings, and transactions"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sharetribe/latest/actions/approve-listing": {
      "put": {
        "operationId": "sharetribe.approve-listing",
        "summary": "Approve Listing",
        "description": "Approves an existing listing in Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/approve-listing"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The listing ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/approve-user": {
      "put": {
        "operationId": "sharetribe.approve-user",
        "summary": "Approve User",
        "description": "Approves an existing user in Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/approve-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The user ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/close-listing": {
      "put": {
        "operationId": "sharetribe.close-listing",
        "summary": "Close Listing",
        "description": "Closes an existing listing in Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/close-listing"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The listing ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/create-availability-exceptions": {
      "post": {
        "operationId": "sharetribe.create-availability-exceptions",
        "summary": "Create Availability Exceptions",
        "description": "Creates new availability exceptions in Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/create-availability-exceptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listingId",
                  "start",
                  "end",
                  "seats"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listingId": {
                    "type": "string",
                    "description": "The listing ID."
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Availability exception interval start time in ISO 8601 format."
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Availability exception interval end time in ISO 8601 format."
                  },
                  "seats": {
                    "type": "number",
                    "description": "Number of available seats for the given range. Set to 0 to block the range."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/create-listing": {
      "post": {
        "operationId": "sharetribe.create-listing",
        "summary": "Create Listing",
        "description": "Creates a new listing in Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/create-listing"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "authorId",
                  "state"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Listing title."
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The ID of the marketplace user to whom the listing belongs."
                  },
                  "state": {
                    "type": "string",
                    "description": "Initial listing state: published or pendingApproval."
                  },
                  "description": {
                    "type": "string",
                    "description": "Listing description."
                  },
                  "geolocation": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Listing latitude and longitude object."
                  },
                  "price": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Listing money object with amount and currency."
                  },
                  "availabilityPlan": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Listing availability plan object."
                  },
                  "publicData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Listing public extended data object."
                  },
                  "privateData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Listing private extended data object."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Listing public metadata object."
                  },
                  "images[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ordered list of uploaded image IDs for the listing."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/create-stock-adjustment": {
      "post": {
        "operationId": "sharetribe.create-stock-adjustment",
        "summary": "Create Stock Adjustment",
        "description": "Creates a new stock adjustment in Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/create-stock-adjustment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listingId",
                  "quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listingId": {
                    "type": "string",
                    "description": "The ID of the listing."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Quantity of the stock adjustment. Positive increases stock and negative decreases stock."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/delete-availability-exceptions": {
      "delete": {
        "operationId": "sharetribe.delete-availability-exceptions",
        "summary": "Delete Availability Exceptions",
        "description": "Deletes existing availability exceptions from Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/delete-availability-exceptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the availability exception to delete.",
            "schema": {
              "type": "string",
              "description": "The ID of the availability exception to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/open-listing": {
      "put": {
        "operationId": "sharetribe.open-listing",
        "summary": "Open Listing",
        "description": "Opens an existing listing in Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/open-listing"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The listing ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/query-availability-exceptions": {
      "get": {
        "operationId": "sharetribe.query-availability-exceptions",
        "summary": "Query Availability Exceptions",
        "description": "Retrieves availability exceptions from Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/query-availability-exceptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listingId",
            "in": "query",
            "required": true,
            "description": "The ID of the listing whose availability exceptions are queried.",
            "schema": {
              "type": "string",
              "description": "The ID of the listing whose availability exceptions are queried."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Query interval start time in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Query interval start time in ISO 8601 format."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "Query interval end time in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Query interval end time in ISO 8601 format."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/query-events": {
      "get": {
        "operationId": "sharetribe.query-events",
        "summary": "Query Events",
        "description": "Retrieves events from Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/query-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAfterSequenceId",
            "in": "query",
            "required": false,
            "description": "Return events after this sequence ID for forward-only pagination.",
            "schema": {
              "type": "number",
              "description": "Return events after this sequence ID for forward-only pagination."
            }
          },
          {
            "name": "createdAtStart",
            "in": "query",
            "required": false,
            "description": "Filter events created on or after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter events created on or after this ISO 8601 timestamp."
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "Return events related to this resource ID.",
            "schema": {
              "type": "string",
              "description": "Return events related to this resource ID."
            }
          },
          {
            "name": "relatedResourceId",
            "in": "query",
            "required": false,
            "description": "Return events related to this secondary resource ID.",
            "schema": {
              "type": "string",
              "description": "Return events related to this secondary resource ID."
            }
          },
          {
            "name": "eventTypes",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of event types to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of event types to include. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/query-listings": {
      "get": {
        "operationId": "sharetribe.query-listings",
        "summary": "Query Listings",
        "description": "Retrieves listings from Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/query-listings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorId",
            "in": "query",
            "required": false,
            "description": "Match only listings belonging to this user ID.",
            "schema": {
              "type": "string",
              "description": "Match only listings belonging to this user ID."
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of listing IDs to match, up to 100 IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of listing IDs to match, up to 100 IDs. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "states",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of listing states to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of listing states to include. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "createdAtStart",
            "in": "query",
            "required": false,
            "description": "Filter listings created on or after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter listings created on or after this ISO 8601 timestamp."
            }
          },
          {
            "name": "createdAtEnd",
            "in": "query",
            "required": false,
            "description": "Filter listings created before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter listings created before this ISO 8601 timestamp."
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Keywords to match against listing title, description, and eligible public data text fields.",
            "schema": {
              "type": "string",
              "description": "Keywords to match against listing title, description, and eligible public data text fields."
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": false,
            "description": "Origin coordinates as latitude,longitude. Cannot be combined with keywords.",
            "schema": {
              "type": "string",
              "description": "Origin coordinates as latitude,longitude. Cannot be combined with keywords."
            }
          },
          {
            "name": "bounds",
            "in": "query",
            "required": false,
            "description": "Bounding box coordinates as NE lat,NE lng,SW lat,SW lng.",
            "schema": {
              "type": "string",
              "description": "Bounding box coordinates as NE lat,NE lng,SW lat,SW lng."
            }
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "description": "Price filter using minor units. Supports VALUE, START,END, START, or ,END syntax.",
            "schema": {
              "type": "string",
              "description": "Price filter using minor units. Supports VALUE, START,END, START, or ,END syntax."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Availability interval start time in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Availability interval start time in ISO 8601 format."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Availability interval end time in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Availability interval end time in ISO 8601 format."
            }
          },
          {
            "name": "seats",
            "in": "query",
            "required": false,
            "description": "Minimum number of available seats required for the interval.",
            "schema": {
              "type": "number",
              "description": "Minimum number of available seats required for the interval."
            }
          },
          {
            "name": "availability",
            "in": "query",
            "required": false,
            "description": "Availability search type: day-full, day-partial, time-full, or time-partial.",
            "schema": {
              "type": "string",
              "description": "Availability search type: day-full, day-partial, time-full, or time-partial."
            }
          },
          {
            "name": "minDuration",
            "in": "query",
            "required": false,
            "description": "Minimum matching availability duration within the requested range.",
            "schema": {
              "type": "number",
              "description": "Minimum matching availability duration within the requested range."
            }
          },
          {
            "name": "stockMode",
            "in": "query",
            "required": false,
            "description": "Stock query mode: strict or match-undefined.",
            "schema": {
              "type": "string",
              "description": "Stock query mode: strict or match-undefined."
            }
          },
          {
            "name": "minStock",
            "in": "query",
            "required": false,
            "description": "Match listings whose current stock quantity is at least this value.",
            "schema": {
              "type": "number",
              "description": "Match listings whose current stock quantity is at least this value."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/query-stock-adjustments": {
      "get": {
        "operationId": "sharetribe.query-stock-adjustments",
        "summary": "Query Stock Adjustments",
        "description": "Retrieves stock adjustments from Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/query-stock-adjustments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listingId",
            "in": "query",
            "required": true,
            "description": "The ID of the listing.",
            "schema": {
              "type": "string",
              "description": "The ID of the listing."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Filter stock adjustments at or after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter stock adjustments at or after this ISO 8601 timestamp."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "Filter stock adjustments before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter stock adjustments before this ISO 8601 timestamp."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource attributes payload."
                          },
                          "id": {
                            "type": "string",
                            "description": "Resource ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resource relationships payload."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sharetribe/latest/actions/query-transactions": {
      "get": {
        "operationId": "sharetribe.query-transactions",
        "summary": "Query Transactions",
        "description": "Retrieves transactions from Sharetribe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sharetribe/latest/actions/query-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAtStart",
            "in": "query",
            "required": false,
            "description": "Filter transactions created on or after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter transactions created on or after this ISO 8601 timestamp."
            }
          },
          {
            "name": "createdAtEnd",
            "in": "query",
            "required": false,
            "description": "Filter transactions created before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter transactions created before this ISO 8601 timestamp."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Return transactions where this user is either the customer or provider.",
            "schema": {
              "type": "string",
              "description": "Return transactions where this user is either the customer or provider."
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "description": "Return only transactions where this user is the customer.",
            "schema": {
              "type": "string",
              "description": "Return only transactions where this user is the customer."
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "required": false,
            "description": "Return only transactions where this user is the provider.",
            "schema": {
              "type": "string",
              "description": "Return only transactions where this user is the provider."
            }
          },
          {
            "name": "listingId",
            "in": "query",
            "required": false,
            "description": "Return only transactions for this listing.",
            "schema": {
              "type": "string",
              "description": "Return only transactions for this listing."
            }
          },
          {
            "name": "lastTransitions",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of last transition names to match.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of last transition names to match. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "processNames",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of transaction process names to match.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of transaction process names to match. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "states",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of transaction states to match.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of transaction states to match. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "hasBooking",
            "in": "query",
            "required": false,
            "description": "Filter by whether a booking is present.",
            "schema": {
              "type": "boolean",
              "description": "Filter by whether a booking is present."
            }
          },
          {
            "name": "hasStockReservation",
            "in": "query",
            "required": false,
            "description": "Filter by whether a stock reservation is present.",
            "schema": {
              "type": "boolean",
              "description": "Filter by whether a stock reservation is present."
            }
          },
          {
            "name": "hasPayin",
            "in": "query",
            "required": false,
            "description": "Filter by whether the transaction has at least one pay-in.",
            "schema": {
              "type": "boolean",
              "description": "Filter by whether the transaction has at least one pay-in."
            }
          },
          {
            "name": "hasMessage",
            "in": "query",
            "required": false,
            "description": "Filter by whether the transaction has at least one message.",
            "schema": {
              "type": "boolean",
              "description": "Filter by whether the transaction has at least one message."
            }
          },
          {
            "name": "bookingStates",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of booking states to match.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of booking states to match. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "stockReservationStates",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of stock reservation states to match.",
            "schema": {
              "type": "string",
[...]
