{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Every.org Universal API",
    "version": "0.0.6",
    "description": "Search nonprofits and create fundraisers with Every.org"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/everyorg/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/everyorg/latest/actions/browse-nonprofits": {
      "get": {
        "operationId": "everyorg.browse-nonprofits",
        "summary": "Browse Nonprofits",
        "description": "Finds nonprofits in Every.org by cause.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/everyorg/latest/actions/browse-nonprofits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cause",
            "in": "query",
            "required": true,
            "description": "Cause slug to browse.",
            "schema": {
              "type": "string",
              "description": "Cause slug to browse."
            }
          },
          {
            "name": "take",
            "in": "query",
            "required": false,
            "description": "Results per page. Maximum 100.",
            "schema": {
              "type": "number",
              "description": "Results per page. Maximum 100."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coverImageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "donationsEnabled": {
                            "type": "boolean"
                          },
                          "hasAdmin": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "logoCloudinaryId": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "profileUrl": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "websiteUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/everyorg/latest/actions/create-fundraiser": {
      "post": {
        "operationId": "everyorg.create-fundraiser",
        "summary": "Create Fundraiser",
        "description": "Creates a new fundraiser in Every.org.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/everyorg/latest/actions/create-fundraiser"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "nonprofitId",
                  "title",
                  "description",
                  "goal",
                  "raisedOffline",
                  "startDate",
                  "endDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "nonprofitId": {
                    "type": "string",
                    "description": "UUID of the nonprofit supported by the fundraiser."
                  },
                  "title": {
                    "type": "string",
                    "description": "Fundraiser title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Fundraiser description or null."
                  },
                  "goal": {
                    "type": "number",
                    "description": "Goal amount in cents or null."
                  },
                  "raisedOffline": {
                    "type": "number",
                    "description": "Amount raised offline in cents or null."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "ISO-encoded datetime string for when the fundraiser starts or null."
                  },
                  "endDate": {
                    "type": "string",
                    "description": "ISO-encoded datetime string for when the fundraiser ends or null."
                  },
                  "imageBase64": {
                    "type": "string",
                    "description": "Optional base64-encoded fundraiser cover image."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fundraiser": {
                            "type": "object",
                            "properties": {
                              "active": {
                                "type": "boolean",
                                "description": "Whether the fundraiser is active."
                              },
                              "description": {
                                "type": "string",
                                "description": "Created fundraiser description."
                              },
                              "goalAmount": {
                                "type": "string",
                                "description": "Fundraiser goal amount in cents."
                              },
                              "goalCurrency": {
                                "type": "string",
                                "description": "Fundraiser goal currency."
                              },
                              "id": {
                                "type": "string",
                                "description": "Created fundraiser ID."
                              },
                              "nonprofitId": {
                                "type": "string",
                                "description": "Supported nonprofit ID."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Created fundraiser slug."
                              },
                              "title": {
                                "type": "string",
                                "description": "Created fundraiser title."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/everyorg/latest/actions/get-fundraiser": {
      "get": {
        "operationId": "everyorg.get-fundraiser",
        "summary": "Get Fundraiser",
        "description": "Retrieves details about a fundraiser from Every.org.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/everyorg/latest/actions/get-fundraiser"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonprofitIdentifier",
            "in": "query",
            "required": true,
            "description": "A nonprofit slug, EIN, nonprofit ID, or special-fundraiser for multi-nonprofit fundraisers.",
            "schema": {
              "type": "string",
              "description": "A nonprofit slug, EIN, nonprofit ID, or special-fundraiser for multi-nonprofit fundraisers."
            }
          },
          {
            "name": "fundraiserIdentifier",
            "in": "query",
            "required": true,
            "description": "Fundraiser slug or identifier.",
            "schema": {
              "type": "string",
              "description": "Fundraiser slug or identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fundraiser": {
                            "type": "object",
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "coverImageCloudinaryId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "creatorNonprofitId": {
                                "type": "string"
                              },
                              "creatorUserId": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "entityName": {
                                "type": "string"
                              },
                              "goalAmount": {
                                "type": "string"
                              },
                              "goalCurrency": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "donationThankYouMessage": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "nonprofitId": {
                                "type": "string"
                              },
                              "raisedData": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string"
                                  },
                                  "donations": {
                                    "type": "number"
                                  },
                                  "goalAmount": {
                                    "type": "string"
                                  },
                                  "goalType": {
                                    "type": "string"
                                  },
                                  "raised": {
                                    "type": "string"
                                  },
                                  "raisedMatches": {
                                    "type": "string"
                                  },
                                  "raisedMonthly": {
                                    "type": "string"
                                  },
                                  "raisedOffline": {
                                    "type": "string"
                                  },
                                  "supporters": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "slug": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "nonprofits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "archived": {
                                  "type": "boolean"
                                },
                                "causeCategory": {
                                  "type": "string"
                                },
                                "countryCode": {
                                  "type": "string"
                                },
                                "coverImageCloudinaryId": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "descriptionLong": {
                                  "type": "string"
                                },
                                "disbursementType": {
                                  "type": "string"
                                },
                                "displayType": {
                                  "type": "string"
                                },
                                "donationsEnabled": {
                                  "type": "boolean"
                                },
                                "donationThankYouMessage": {
                                  "type": "string"
                                },
                                "eligibleDonationRecipientNonprofitIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "entityName": {
                                  "type": "string"
                                },
                                "facebookHandle": {
                                  "type": "string"
                                },
                                "hasAdmin": {
                                  "type": "boolean"
                                },
                                "hasDirectAdmin": {
                                  "type": "boolean"
                                },
                                "hideFromSearch": {
                                  "type": "boolean"
                                },
                                "holdDisbursements": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "instagramHandle": {
                                  "type": "string"
                                },
                                "isCaliforniaTaxBoardDisbursable": {
                                  "type": "boolean"
                                },
                                "likesInfo": {
                                  "type": "object",
                                  "properties": {
                                    "count": {
                                      "type": "number"
                                    },
                                    "hasLoggedInUserLiked": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "linkedInHandle": {
                                  "type": "string"
                                },
                                "logoCloudinaryId": {
                                  "type": "string"
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "customDonationAmounts": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "customMonthlyDescription": {
                                      "type": "string"
                                    },
                                    "focusArea": {
                                      "type": "string"
                                    },
                                    "mailingListCheckboxText": {
                                      "type": "string"
                                    },
                                    "optInCheckbox": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "name": {
                                  "type": "string"
                                },
                                "pc": {
                                  "type": "boolean"
                                },
                                "primarySlug": {
                                  "type": "string"
                                },
                                "supporterInfo": {
                                  "type": "object",
                                  "properties": {
                                    "loggedInUserSupported": {
                                      "type": "boolean"
                                    },
                                    "numSupporters": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "tags": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "twitterHandle": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "websiteUrl": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "type": "boolean"
                                },
                                "causeCategory": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "entityName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "likesCount": {
                                  "type": "number"
                                },
                                "showInFilters": {
                                  "type": "boolean"
                                },
                                "showInProfileEdit": {
                                  "type": "boolean"
                                },
                                "tagImageCloudinaryId": {
                                  "type": "string"
                                },
                                "tagName": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "entityName": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "followedByCurrentUserStatus": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isPrivate": {
                                  "type": "boolean"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "verifiedStatus": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/everyorg/latest/actions/get-fundraiser-raised": {
      "get": {
        "operationId": "everyorg.get-fundraiser-raised",
        "summary": "Get Fundraiser Raised",
        "description": "Retrieves raised totals for a fundraiser from Every.org.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/everyorg/latest/actions/get-fundraiser-raised"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonprofitIdentifier",
            "in": "query",
            "required": true,
            "description": "A nonprofit slug, EIN, nonprofit ID, or special-fundraiser for multi-nonprofit fundraisers.",
            "schema": {
              "type": "string",
              "description": "A nonprofit slug, EIN, nonprofit ID, or special-fundraiser for multi-nonprofit fundraisers."
            }
          },
          {
            "name": "fundraiserIdentifier",
            "in": "query",
            "required": true,
            "description": "Fundraiser slug or identifier.",
            "schema": {
              "type": "string",
              "description": "Fundraiser slug or identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "goalAmount": {
                            "type": "string"
                          },
                          "goalType": {
                            "type": "string"
                          },
                          "raised": {
                            "type": "string"
                          },
                          "supporters": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/everyorg/latest/actions/get-nonprofit": {
      "get": {
        "operationId": "everyorg.get-nonprofit",
        "summary": "Get Nonprofit",
        "description": "Retrieves details about a nonprofit from Every.org.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/everyorg/latest/actions/get-nonprofit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "A nonprofit slug, EIN, or nonprofit ID.",
            "schema": {
              "type": "string",
              "description": "A nonprofit slug, EIN, or nonprofit ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nonprofit": {
                            "type": "object",
                            "properties": {
                              "coverImageCloudinaryId": {
                                "type": "string"
                              },
                              "coverImageUrl": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "descriptionLong": {
                                "type": "string"
                              },
                              "disbursementType": {
                                "type": "string"
                              },
                              "donationsEnabled": {
                                "type": "boolean"
                              },
                              "ein": {
                                "type": "string"
                              },
                              "hasAdmin": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "locationAddress": {
                                "type": "string"
                              },
                              "locationLatLng": {
                                "type": "object",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "logoCloudinaryId": {
                                "type": "string"
                              },
                              "logoUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nteeCode": {
                                "type": "string"
                              },
                              "nteeCodeMeaning": {
                                "type": "object",
                                "properties": {
                                  "decileCode": {
                                    "type": "string"
                                  },
                                  "decileMeaning": {
                                    "type": "string"
                                  },
                                  "majorCode": {
                                    "type": "string"
                                  },
                                  "majorMeaning": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "primarySlug": {
                                "type": "string"
                              },
                              "profileUrl": {
                                "type": "string"
                              },
                              "websiteUrl": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "nonprofitTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "causeCategory": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "tagImageCloudinaryId": {
                                  "type": "string"
                                },
                                "tagImageUrl": {
                                  "type": "string"
                                },
                                "tagName": {
                                  "type": "string"
                                },
                                "tagUrl": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/everyorg/latest/actions/search-nonprofits": {
      "get": {
        "operationId": "everyorg.search-nonprofits",
        "summary": "Search Nonprofits",
        "description": "Finds nonprofits in Every.org by search term.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/everyorg/latest/actions/search-nonprofits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "causes",
            "in": "query",
            "required": false,
            "description": "Comma-separated causes to OR-filter search results.",
            "schema": {
              "type": "string",
              "description": "Comma-separated causes to OR-filter search results."
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "description": "Search term to match nonprofit names and metadata.",
            "schema": {
              "type": "string",
              "description": "Search term to match nonprofit names and metadata."
            }
          },
          {
            "name": "take",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return. Maximum 50.",
            "schema": {
              "type": "number",
              "description": "Maximum number of results to return. Maximum 50."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "donationsEnabled": {
                            "type": "boolean"
                          },
                          "ein": {
                            "type": "string"
                          },
                          "hasAdmin": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "matchedTerms": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "profileUrl": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "websiteUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
