{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zillow Econ Universal API",
    "version": "0.0.2",
    "description": "Bridge-hosted Zillow economic data access. Requires a Bridge account and approved Zillow Econ datasets."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zillowEcon/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zillowEcon/latest/actions/get-market-report": {
      "get": {
        "operationId": "zillowEcon.get-market-report",
        "summary": "Get market report",
        "description": "Retrieves market report data from Zillow Econ.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowEcon/latest/actions/get-market-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCodeFIPS",
            "in": "query",
            "required": true,
            "description": "Two-digit state FIPS code for the market report region.",
            "schema": {
              "type": "string",
              "description": "Two-digit state FIPS code for the market report region.",
              "default": "48"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the metric was created."
                          },
                          "cutTypeKey": {
                            "type": "string",
                            "description": "Unique key indicating the cut combination for this record."
                          },
                          "dataValue": {
                            "type": "number",
                            "description": "Metric value."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique identifier of the imported record."
                          },
                          "metricTypeKey": {
                            "type": "string",
                            "description": "Unique key for the metric type."
                          },
                          "municipalCodeFIPS": {
                            "type": "string",
                            "description": "Three-digit FIPS municipal code."
                          },
                          "region": {
                            "type": "string",
                            "description": "Region name."
                          },
                          "regionCity": {
                            "type": "string",
                            "description": "City containing the region."
                          },
                          "regionCounty": {
                            "type": "string",
                            "description": "County containing the region."
                          },
                          "regionID": {
                            "type": "number",
                            "description": "Unique region identifier."
                          },
                          "regionMetro": {
                            "type": "string",
                            "description": "Metro containing the region."
                          },
                          "regionState": {
                            "type": "string",
                            "description": "State containing the region."
                          },
                          "regionType": {
                            "type": "string",
                            "description": "Region type."
                          },
                          "regionTypeID": {
                            "type": "number",
                            "description": "Unique identifier of the region type."
                          },
                          "releaseDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the metric was released."
                          },
                          "stateCodeFIPS": {
                            "type": "string",
                            "description": "Two-digit FIPS state code."
                          },
                          "timePeriodEndDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End timestamp of the metric reporting window."
                          },
                          "timePeriodTypeKey": {
                            "type": "string",
                            "description": "Time window over which the metric is calculated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowEcon/latest/actions/get-market-type-metadata": {
      "get": {
        "operationId": "zillowEcon.get-market-type-metadata",
        "summary": "Get market type metadata",
        "description": "Retrieves market type metadata from Zillow Econ.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowEcon/latest/actions/get-market-type-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Metric type key used to retrieve economic metadata for a report metric.",
            "schema": {
              "type": "string",
              "description": "Metric type key used to retrieve economic metadata for a report metric.",
              "default": "uloc"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Description of the related key and type."
                          },
                          "key": {
                            "type": "string",
                            "description": "Unique key for this type."
                          },
                          "metadataType": {
                            "type": "string",
                            "description": "Type of metadata."
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Enumerated values for this key and type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowEcon/latest/actions/get-region-metadata": {
      "get": {
        "operationId": "zillowEcon.get-region-metadata",
        "summary": "Get region metadata",
        "description": "Retrieves region metadata from Zillow Econ.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowEcon/latest/actions/get-region-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCodeFIPS",
            "in": "query",
            "required": true,
            "description": "Two-digit state FIPS code for the region metadata lookup.",
            "schema": {
              "type": "string",
              "description": "Two-digit state FIPS code for the region metadata lookup.",
              "default": "48"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "municipalCodeFIPS": {
                            "type": "string",
                            "description": "Three-digit FIPS municipal code."
                          },
                          "region": {
                            "type": "string",
                            "description": "Region name."
                          },
                          "regionCity": {
                            "type": "string",
                            "description": "City containing the region."
                          },
                          "regionCounty": {
                            "type": "string",
                            "description": "County containing the region."
                          },
                          "regionID": {
                            "type": "number",
                            "description": "Primary identifier for the region."
                          },
                          "regionMetro": {
                            "type": "string",
                            "description": "Metro area containing the region."
                          },
                          "regionState": {
                            "type": "string",
                            "description": "State abbreviation containing the region."
                          },
                          "stateCodeFIPS": {
                            "type": "string",
                            "description": "Two-digit FIPS state code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
