{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "boomApp Connect Universal API",
    "version": "0.0.3",
    "description": "Boost customer engagement with Boomerang SMS, voice, and email messaging workflows through the boomApp Connect API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/boomAppConnect/latest/actions/create-masked-two-way-sms-thread": {
      "post": {
        "operationId": "boomAppConnect.create-masked-two-way-sms-thread",
        "summary": "Create Masked Two-Way SMS Thread",
        "description": "Creates a masked two-way SMS thread in boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/create-masked-two-way-sms-thread"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "from",
                  "to",
                  "reference",
                  "message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "from": {
                    "type": "string",
                    "description": "Sender number for the masked two-way thread. Required for successful runtime submission.",
                    "example": "447890123456"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient number for the masked two-way thread. Required for successful runtime submission.",
                    "example": "447890123456"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Reference value for the masked two-way thread. Required for successful runtime submission.",
                    "example": "reference-id"
                  },
                  "reference_always": {
                    "type": "boolean",
                    "description": "Whether the reference should always be included."
                  },
                  "rounds": {
                    "type": "number",
                    "description": "Number of conversation rounds."
                  },
                  "validity": {
                    "type": "number",
                    "description": "Thread validity period."
                  },
                  "message": {
                    "type": "string",
                    "description": "Initial message for the masked two-way thread. Required for successful runtime submission.",
                    "example": "Initial message text"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          },
                          "threadId": {
                            "type": "number",
                            "description": "Masked two-way SMS thread ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/make-voice-call": {
      "post": {
        "operationId": "boomAppConnect.make-voice-call",
        "summary": "Make Voice Call",
        "description": "Creates a text-to-speech voice call in boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/make-voice-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "voice_intro",
                  "message_content",
                  "recipient_address[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "voice_intro": {
                    "type": "string",
                    "description": "Welcome message played when the call is answered. Required for successful runtime submission.",
                    "example": "Intro message"
                  },
                  "message_content": {
                    "type": "string",
                    "description": "Main voice message body. Required for successful runtime submission.",
                    "example": "Voice message text"
                  },
                  "recipient_address[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient phone numbers as objects with a number field. Required for successful runtime submission."
                  },
                  "voice_thank_you": {
                    "type": "string",
                    "description": "Exit message played after the recipient listens or responds."
                  },
                  "voice_retries": {
                    "type": "number",
                    "description": "Retry attempts, maximum 3 per connector schema."
                  },
                  "voice_delay": {
                    "type": "number",
                    "description": "Interval between retry attempts in minutes."
                  },
                  "email_responses": {
                    "type": "string",
                    "description": "Email address to forward response details."
                  },
                  "push_responses": {
                    "type": "string",
                    "description": "Webhook to push response details."
                  },
                  "unique_identifier": {
                    "type": "string",
                    "description": "Customer-side dedupe identifier."
                  },
                  "locale": {
                    "type": "string",
                    "description": "Voice locale, accent, or language."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          },
                          "transactions": {
                            "type": "object",
                            "properties": {
                              "boomerangId": {
                                "type": "string",
                                "description": "Boomerang message ID."
                              },
                              "partsPerMessage": {
                                "type": "number",
                                "description": "Parts per message."
                              },
                              "telephoneNumber": {
                                "type": "string",
                                "description": "Recipient telephone number."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Boomerang transaction ID."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Outbound voice transaction results."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/retrieve-delivery-status-updates": {
      "get": {
        "operationId": "boomAppConnect.retrieve-delivery-status-updates",
        "summary": "Retrieve Delivery Status Updates",
        "description": "Retrieves outbound delivery status updates from boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/retrieve-delivery-status-updates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drs_after",
            "in": "query",
            "required": true,
            "description": "Required by the Boomerang API when retrieving delivery receipts. Use format YYYY-MM-DD HH:MM:SS.",
            "schema": {
              "type": "string",
              "description": "Required by the Boomerang API when retrieving delivery receipts. Use format YYYY-MM-DD HH:MM:SS.",
              "example": "YYYY-MM-DD HH:MM:SS"
            }
          },
          {
            "name": "start_transaction_id",
            "in": "query",
            "required": false,
            "description": "Return delivery receipts from this transaction ID onward.",
            "schema": {
              "type": "number",
              "description": "Return delivery receipts from this transaction ID onward."
            }
          },
          {
            "name": "ignore_previous",
            "in": "query",
            "required": false,
            "description": "Exclude previously retrieved delivery receipts.",
            "schema": {
              "type": "boolean",
              "description": "Exclude previously retrieved delivery receipts."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "drs": {
                            "type": "object",
                            "properties": {
                              "campaignName": {
                                "type": "string",
                                "description": "Campaign name."
                              },
                              "customParameter": {
                                "type": "string",
                                "description": "Custom reference value."
                              },
                              "destination": {
                                "type": "string",
                                "description": "Destination number or address."
                              },
                              "status": {
                                "type": "string",
                                "description": "Delivery status."
                              },
                              "statusDate": {
                                "type": "string",
                                "description": "Status update date."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Outbound transaction ID."
                              },
                              "uniqueId": {
                                "type": "string",
                                "description": "Unique message ID."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Delivery receipt status updates."
                          },
                          "hasMore": {
                            "type": "boolean",
                            "description": "Whether more pages are available."
                          },
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/retrieve-inbound-campaign-messages": {
      "get": {
        "operationId": "boomAppConnect.retrieve-inbound-campaign-messages",
        "summary": "Retrieve Inbound Campaign Messages",
        "description": "Retrieves inbound campaign messages from boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/retrieve-inbound-campaign-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_ref",
            "in": "query",
            "required": false,
            "description": "Return inbound messages on or after this inbound reference.",
            "schema": {
              "type": "number",
              "description": "Return inbound messages on or after this inbound reference."
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Filter by sender number.",
            "schema": {
              "type": "string",
              "description": "Filter by sender number."
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return inbound messages on or after this datetime.",
            "schema": {
              "type": "string",
              "description": "Return inbound messages on or after this datetime."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return inbound messages on or before this datetime.",
            "schema": {
              "type": "string",
              "description": "Return inbound messages on or before this datetime."
            }
          },
          {
            "name": "to_inbound_number",
            "in": "query",
            "required": false,
            "description": "Filter by inbound campaign number.",
            "schema": {
              "type": "number",
              "description": "Filter by inbound campaign number."
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of inbound messages per page.",
            "schema": {
              "type": "number",
              "description": "Number of inbound messages per page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hasMore": {
                            "type": "boolean",
                            "description": "Whether more pages are available."
                          },
                          "messages": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "description": "Message creation timestamp."
                              },
                              "from": {
                                "type": "string",
                                "description": "Sender number."
                              },
                              "message": {
                                "type": "string",
                                "description": "Inbound message content."
                              },
                              "ref": {
                                "type": "number",
                                "description": "Inbound message reference."
                              },
                              "toInboundNumber": {
                                "type": "string",
                                "description": "Inbound campaign number."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Inbound campaign messages."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/retrieve-message-responses": {
      "get": {
        "operationId": "boomAppConnect.retrieve-message-responses",
        "summary": "Retrieve Message Responses",
        "description": "Retrieves responses to outbound messages from boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/retrieve-message-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unique_identifier",
            "in": "query",
            "required": false,
            "description": "Return responses for outbound messages with this unique_identifier.",
            "schema": {
              "type": "string",
              "description": "Return responses for outbound messages with this unique_identifier."
            }
          },
          {
            "name": "custom_parameter",
            "in": "query",
            "required": false,
            "description": "Return responses for outbound messages with this custom_parameter.",
            "schema": {
              "type": "string",
              "description": "Return responses for outbound messages with this custom_parameter."
            }
          },
          {
            "name": "campaign_name",
            "in": "query",
            "required": false,
            "description": "Return responses for outbound messages with this campaign_name.",
            "schema": {
              "type": "string",
              "description": "Return responses for outbound messages with this campaign_name."
            }
          },
          {
            "name": "transaction_id",
            "in": "query",
            "required": false,
            "description": "Return responses for this outbound transaction ID.",
            "schema": {
              "type": "string",
              "description": "Return responses for this outbound transaction ID."
            }
          },
          {
            "name": "ignore_previous",
            "in": "query",
            "required": false,
            "description": "Exclude previously retrieved responses.",
            "schema": {
              "type": "boolean",
              "description": "Exclude previously retrieved responses."
            }
          },
          {
            "name": "mark_as_read",
            "in": "query",
            "required": false,
            "description": "Mark retrieved responses as read.",
            "schema": {
              "type": "boolean",
              "description": "Mark retrieved responses as read."
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "description": "Return responses for a conversation thread.",
            "schema": {
              "type": "string",
              "description": "Return responses for a conversation thread."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hasMore": {
                            "type": "boolean",
                            "description": "Whether more pages are available."
                          },
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "replies": {
                            "type": "object",
                            "properties": {
                              "campaignName": {
                                "type": "string",
                                "description": "Campaign name."
                              },
                              "conversationId": {
                                "type": "string",
                                "description": "Conversation thread ID."
                              },
                              "customParameter": {
                                "type": "string",
                                "description": "Custom reference value."
                              },
                              "from": {
                                "type": "string",
                                "description": "Sender number or address."
                              },
                              "isNew": {
                                "type": "boolean",
                                "description": "Whether the response is new."
                              },
                              "responseContent": {
                                "type": "string",
                                "description": "Reply content."
                              },
                              "responseDate": {
                                "type": "string",
                                "description": "Response date."
                              },
                              "responseId": {
                                "type": "string",
                                "description": "Response ID."
                              },
                              "transactionDate": {
                                "type": "string",
                                "description": "Original transaction date."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Outbound transaction ID."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Message replies returned for outbound messages."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/send-email": {
      "post": {
        "operationId": "boomAppConnect.send-email",
        "summary": "Send Email",
        "description": "Creates an email message in boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/send-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email_subject",
                  "message_content",
                  "email_address[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "from": {
                    "type": "string",
                    "description": "Sender ID displayed in the recipient inbox."
                  },
                  "email_subject": {
                    "type": "string",
                    "description": "Email subject displayed in the recipient inbox. Required for successful runtime submission.",
                    "example": "Email subject"
                  },
                  "message_content": {
                    "type": "string",
                    "description": "Email body content. Required for successful runtime submission.",
                    "example": "Email body"
                  },
                  "email_address[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Recipient email addresses. Required for successful runtime submission."
                  },
                  "validity_period": {
                    "type": "number",
                    "description": "Validity period in days."
                  },
                  "open_ticket": {
                    "type": "boolean",
                    "description": "Set true to enable an open ticket for multiple responses."
                  },
                  "email_responses": {
                    "type": "string",
                    "description": "Email address to forward message responses."
                  },
                  "push_responses": {
                    "type": "string",
                    "description": "Callback URL for posted responses."
                  },
                  "unique_identifier": {
                    "type": "string",
                    "description": "Customer-side dedupe identifier."
                  },
                  "campaign_name": {
                    "type": "string",
                    "description": "Optional campaign grouping name."
                  },
                  "custom_parameter": {
                    "type": "string",
                    "description": "Optional custom reference value."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          },
                          "transactions": {
                            "type": "object",
                            "properties": {
                              "boomerangId": {
                                "type": "string",
                                "description": "Boomerang message ID."
                              },
                              "emailAddress": {
                                "type": "string",
                                "description": "Recipient email address."
                              },
                              "partsPerMessage": {
                                "type": "number",
                                "description": "Parts per message."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Boomerang transaction ID."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Outbound email transaction results."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/send-sms-from-custom-number": {
      "post": {
        "operationId": "boomAppConnect.send-sms-from-custom-number",
        "summary": "Send SMS From Custom Number",
        "description": "Creates an SMS message from a custom number in boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/send-sms-from-custom-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "from",
                  "message_content",
                  "recipient_address[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "from": {
                    "type": "string",
                    "description": "Numeric sending ID associated to the message. Required for successful runtime submission.",
                    "example": "447890123456"
                  },
                  "message_content": {
                    "type": "string",
                    "description": "Outbound SMS message content. Required for successful runtime submission.",
                    "example": "Message text"
                  },
                  "recipient_address[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient mobile numbers as objects with a number field. Required for successful runtime submission."
                  },
                  "priority": {
                    "type": "boolean",
                    "description": "Set true to override Social Hours when the account supports it."
                  },
                  "unique_identifier": {
                    "type": "string",
                    "description": "Customer-side dedupe identifier."
                  },
                  "campaign_name": {
                    "type": "string",
                    "description": "Optional campaign grouping name."
                  },
                  "custom_parameter": {
                    "type": "string",
                    "description": "Optional custom reference value."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          },
                          "transactions": {
                            "type": "object",
                            "properties": {
                              "boomerangId": {
                                "type": "string",
                                "description": "Boomerang message ID."
                              },
                              "partsPerMessage": {
                                "type": "number",
                                "description": "Parts per message."
                              },
                              "telephoneNumber": {
                                "type": "string",
                                "description": "Recipient telephone number."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Boomerang transaction ID."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Outbound message transaction results."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/send-sms-one-way": {
      "post": {
        "operationId": "boomAppConnect.send-sms-one-way",
        "summary": "Send SMS One-Way",
        "description": "Creates a one-way SMS message in boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/send-sms-one-way"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "from",
                  "message_content",
                  "recipient_address[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "from": {
                    "type": "string",
                    "description": "Originating ID for the one-way SMS message. Required for successful runtime submission.",
                    "example": "MindCloud"
                  },
                  "message_content": {
                    "type": "string",
                    "description": "Outbound SMS message content. Required for successful runtime submission.",
                    "example": "Message text"
                  },
                  "recipient_address[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient mobile numbers as objects with a number field. Required for successful runtime submission."
                  },
                  "priority": {
                    "type": "boolean",
                    "description": "Set true to override Social Hours when the account supports it."
                  },
                  "unique_identifier": {
                    "type": "string",
                    "description": "Customer-side dedupe identifier."
                  },
                  "campaign_name": {
                    "type": "string",
                    "description": "Optional campaign grouping name."
                  },
                  "custom_parameter": {
                    "type": "string",
                    "description": "Optional custom reference value."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          },
                          "transactions": {
                            "type": "object",
                            "properties": {
                              "boomerangId": {
                                "type": "string",
                                "description": "Boomerang message ID."
                              },
                              "partsPerMessage": {
                                "type": "number",
                                "description": "Parts per message."
                              },
                              "telephoneNumber": {
                                "type": "string",
                                "description": "Recipient telephone number."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Boomerang transaction ID."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Outbound message transaction results."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boomAppConnect/latest/actions/send-sms-two-way": {
      "post": {
        "operationId": "boomAppConnect.send-sms-two-way",
        "summary": "Send SMS Two-Way",
        "description": "Creates a two-way SMS message in boomApp Connect.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boomAppConnect/latest/actions/send-sms-two-way"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversation_id",
                  "message_content",
                  "recipient_address[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversation_id": {
                    "type": "string",
                    "description": "Conversation ID used to group related two-way messages and replies. Required for successful runtime submission.",
                    "example": "conversation-id"
                  },
                  "message_content": {
                    "type": "string",
                    "description": "Outbound SMS message content. Required for successful runtime submission.",
                    "example": "Message text"
                  },
                  "recipient_address[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient mobile numbers as objects with a number field. Required for successful runtime submission."
                  },
                  "validity_period": {
                    "type": "number",
                    "description": "Validity period in days."
                  },
                  "open_ticket": {
                    "type": "boolean",
                    "description": "Set true to allow multiple responses to match the originating message."
                  },
                  "email_responses": {
                    "type": "string",
                    "description": "Email address for forwarded responses."
                  },
                  "push_responses": {
                    "type": "string",
                    "description": "Callback URL for posted responses."
                  },
                  "priority": {
                    "type": "boolean",
                    "description": "Set true to override Social Hours when the account supports it."
                  },
                  "unique_identifier": {
                    "type": "string",
                    "description": "Customer-side dedupe identifier."
                  },
                  "campaign_name": {
                    "type": "string",
                    "description": "Optional campaign grouping name."
                  },
                  "custom_parameter": {
                    "type": "string",
                    "description": "Optional custom reference value."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Response message."
                          },
                          "status": {
                            "type": "number",
                            "description": "Response status code."
                          },
                          "transactions": {
                            "type": "object",
                            "properties": {
                              "boomerangId": {
                                "type": "string",
                                "description": "Boomerang message ID."
                              },
                              "partsPerMessage": {
                                "type": "number",
                                "description": "Parts per message."
                              },
                              "telephoneNumber": {
                                "type": "string",
                                "description": "Recipient telephone number."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Boomerang transaction ID."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Outbound message transaction results."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
