{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Timetonic Universal API",
    "version": "0.0.5",
    "description": "Build collaborative business apps, centralize data, and automate workflows"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/timetonic/latest/actions/create-or-update-multiple-table-rows": {
      "post": {
        "operationId": "timetonic.create-or-update-multiple-table-rows",
        "summary": "Create Or Update Multiple Table Rows",
        "description": "Creates or updates multiple table rows in Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/create-or-update-multiple-table-rows"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookOwner",
                  "rows"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookOwner": {
                    "type": "string",
                    "description": "Owner of the target TimeTonic book."
                  },
                  "rows": {
                    "type": "string",
                    "description": "JSON object string keyed by row ids or temporary ids, each containing field id to value mappings."
                  },
                  "viewId": {
                    "type": "string",
                    "description": "Optional view id used when creating or updating rows from a specific view."
                  },
                  "tabId": {
                    "type": "string",
                    "description": "Optional tab id used to scope the batch row request."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdVNB": {
                            "type": "string",
                            "description": "TimeTonic backend version string."
                          },
                          "formLastModified": {
                            "type": "number",
                            "description": "Last modified stamp for the form after the mutation."
                          },
                          "newRows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Rows created during the request."
                          },
                          "readOnlyRowsStatus": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Read-only status payloads for affected rows, when present."
                          },
                          "req": {
                            "type": "string",
                            "description": "Echoed provider request name."
                          },
                          "rows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Returned row payloads after the mutation."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the batch row mutation."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Provider transaction identifier for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/create-or-update-table-row": {
      "post": {
        "operationId": "timetonic.create-or-update-table-row",
        "summary": "Create Or Update Table Row",
        "description": "Creates or updates a table row in Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/create-or-update-table-row"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookOwner",
                  "rowId",
                  "fieldValues"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookOwner": {
                    "type": "string",
                    "description": "Owner of the target TimeTonic book."
                  },
                  "rowId": {
                    "type": "string",
                    "description": "Existing row id to update, or tmpNEW_ROW to create a new row.",
                    "default": "tmpNEW_ROW"
                  },
                  "fieldValues": {
                    "type": "string",
                    "description": "JSON object string mapping field ids to row values."
                  },
                  "viewId": {
                    "type": "string",
                    "description": "Optional view id used when creating or updating the row from a specific view."
                  },
                  "tabId": {
                    "type": "string",
                    "description": "Optional tab id used to scope the row request."
                  },
                  "linkSeparator": {
                    "type": "string",
                    "description": "Optional separator for link-type values.",
                    "x-mindcloud-advanced": true
                  },
                  "bypassUrlTrigger": {
                    "type": "string",
                    "description": "Optional flag to disable webhooks for this mutation.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdVNB": {
                            "type": "string",
                            "description": "TimeTonic backend version string."
                          },
                          "formLastModified": {
                            "type": "number",
                            "description": "Last modified stamp for the form after the mutation."
                          },
                          "newRows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Rows created during the request."
                          },
                          "readOnlyRowsStatus": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Read-only status payloads for affected rows, when present."
                          },
                          "req": {
                            "type": "string",
                            "description": "Echoed provider request name."
                          },
                          "rows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Returned row payloads after the mutation."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the row mutation."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Provider transaction identifier for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/create-session-key": {
      "post": {
        "operationId": "timetonic.create-session-key",
        "summary": "Create Session Key",
        "description": "Creates a session key in Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/create-session-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "oauthUserId",
                  "userId",
                  "oauthkey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "oauthUserId": {
                    "type": "string",
                    "description": "OAuth user ID returned by User Login.",
                    "example": "OAuth user id from User Login"
                  },
                  "userId": {
                    "type": "string",
                    "description": "TimeTonic user ID for the session.",
                    "example": "TimeTonic user id"
                  },
                  "oauthkey": {
                    "type": "string",
                    "description": "OAuth key returned by User Login.",
                    "example": "OAuth key from User Login"
                  },
                  "restrictions": {
                    "type": "string",
                    "description": "Optional session restrictions string.",
                    "example": "Optional restrictions"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/delete-table-value-comments": {
      "delete": {
        "operationId": "timetonic.delete-table-value-comments",
        "summary": "Delete Table Value Comments",
        "description": "Deletes comments for a table value from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/delete-table-value-comments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookOwner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "mindcloud"
            }
          },
          {
            "name": "rowId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/edit-table-value-comments": {
      "put": {
        "operationId": "timetonic.edit-table-value-comments",
        "summary": "Edit Table Value Comments",
        "description": "Updates comments for a table value in Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/edit-table-value-comments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookOwner",
                  "rowId",
                  "fieldId",
                  "commentId",
                  "comment"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookOwner": {
                    "type": "string",
                    "description": "Book owner containing the row.",
                    "default": "mindcloud"
                  },
                  "rowId": {
                    "type": "string",
                    "description": "Row identifier containing the field value.",
                    "example": "147159056"
                  },
                  "fieldId": {
                    "type": "string",
                    "description": "Field identifier whose comment should be edited.",
                    "example": "8729209"
                  },
                  "commentId": {
                    "type": "string",
                    "description": "Comment identifier to edit.",
                    "example": "Existing comment id required"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Updated comment text.",
                    "example": "Updated comment text"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-all-books-info": {
      "get": {
        "operationId": "timetonic.get-all-books-info",
        "summary": "Get All Books Info",
        "description": "Retrieves information for all books from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-all-books-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "syncStamp",
            "in": "query",
            "required": false,
            "description": "Optional sync stamp for incremental reads.",
            "schema": {
              "type": "string",
              "description": "Optional sync stamp for incremental reads."
            }
          },
          {
            "name": "bookCode",
            "in": "query",
            "required": false,
            "description": "Optional book code to narrow the response.",
            "schema": {
              "type": "string",
              "description": "Optional book code to narrow the response."
            }
          },
          {
            "name": "bookOwner",
            "in": "query",
            "required": false,
            "description": "Optional book owner to narrow the response.",
            "schema": {
              "type": "string",
              "description": "Optional book owner to narrow the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allBooks": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Books and contacts payload returned by TimeTonic."
                          },
                          "createdVNB": {
                            "type": "string",
                            "description": "TimeTonic backend version string."
                          },
                          "req": {
                            "type": "string",
                            "description": "Echoed provider request name."
                          },
                          "sstamp": {
                            "type": "number",
                            "description": "Provider sync stamp for the response."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the books request."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Provider transaction identifier for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-book-info": {
      "get": {
        "operationId": "timetonic.get-book-info",
        "summary": "Get Book Info",
        "description": "Retrieves information for a book from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-book-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "syncStamp",
            "in": "query",
            "required": false,
            "description": "Optional sync stamp for incremental reads.",
            "schema": {
              "type": "string",
              "description": "Optional sync stamp for incremental reads."
            }
          },
          {
            "name": "bookCode",
            "in": "query",
            "required": true,
            "description": "Book code to inspect.",
            "schema": {
              "type": "string",
              "description": "Book code to inspect.",
              "default": "table"
            }
          },
          {
            "name": "bookOwner",
            "in": "query",
            "required": true,
            "description": "Book owner to inspect.",
            "schema": {
              "type": "string",
              "description": "Book owner to inspect.",
              "default": "mindcloud"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "book": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Book metadata payload returned by TimeTonic."
                          },
                          "createdVNB": {
                            "type": "string",
                            "description": "TimeTonic backend version string."
                          },
                          "req": {
                            "type": "string",
                            "description": "Echoed provider request name."
                          },
                          "sstamp": {
                            "type": "number",
                            "description": "Provider sync stamp for the response."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the book request."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Provider transaction identifier for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-book-messages": {
      "get": {
        "operationId": "timetonic.get-book-messages",
        "summary": "Get Book Messages",
        "description": "Retrieves messages for a book from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-book-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookCode",
            "in": "query",
            "required": true,
            "description": "Book code to inspect.",
            "schema": {
              "type": "string",
              "description": "Book code to inspect.",
              "default": "table"
            }
          },
          {
            "name": "bookOwner",
            "in": "query",
            "required": true,
            "description": "Book owner to inspect.",
            "schema": {
              "type": "string",
              "description": "Book owner to inspect.",
              "default": "mindcloud"
            }
          },
          {
            "name": "syncStamp",
            "in": "query",
            "required": false,
            "description": "Optional sync stamp for incremental reads.",
            "schema": {
              "type": "string",
              "description": "Optional sync stamp for incremental reads."
            }
          },
          {
            "name": "smidFirst",
            "in": "query",
            "required": false,
            "description": "Optional lower message-id bound.",
            "schema": {
              "type": "string",
              "description": "Optional lower message-id bound.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "smidLast",
            "in": "query",
            "required": false,
            "description": "Optional upper message-id bound.",
            "schema": {
              "type": "string",
              "description": "Optional upper message-id bound.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "maxMessages",
            "in": "query",
            "required": false,
            "description": "Optional maximum number of messages to return.",
            "schema": {
              "type": "string",
              "description": "Optional maximum number of messages to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Optional page number.",
            "schema": {
              "type": "string",
              "description": "Optional page number.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "required": false,
            "description": "Optional free-text search string.",
            "schema": {
              "type": "string",
              "description": "Optional free-text search string.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "b_c": {
                            "type": "string",
                            "description": "Echoed book code."
                          },
                          "b_o": {
                            "type": "string",
                            "description": "Echoed book owner."
                          },
                          "bookMessages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Messages returned for the selected book."
                          },
                          "createdVNB": {
                            "type": "string",
                            "description": "TimeTonic backend version string."
                          },
                          "req": {
                            "type": "string",
                            "description": "Echoed provider request name."
                          },
                          "sstamp": {
                            "type": "number",
                            "description": "Provider sync stamp for the response."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the book messages request."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Provider transaction identifier for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-book-tables": {
      "get": {
        "operationId": "timetonic.get-book-tables",
        "summary": "Get Book Tables",
        "description": "Retrieves tables for a book from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-book-tables"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookCode",
            "in": "query",
            "required": true,
            "description": "Book code to inspect.",
            "schema": {
              "type": "string",
              "description": "Book code to inspect.",
              "default": "table"
            }
          },
          {
            "name": "bookOwner",
            "in": "query",
            "required": true,
            "description": "Book owner to inspect.",
            "schema": {
              "type": "string",
              "description": "Book owner to inspect.",
              "default": "mindcloud"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Optional response format. Use android to include detailed table metadata.",
            "schema": {
              "type": "string",
              "description": "Optional response format. Use android to include detailed table metadata.",
              "default": "android"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "required": false,
            "description": "Optional flag to include field metadata.",
            "schema": {
              "type": "string",
              "description": "Optional flag to include field metadata.",
              "default": "true"
            }
          },
          {
            "name": "includeEnums",
            "in": "query",
            "required": false,
            "description": "Optional flag to include field enum metadata.",
            "schema": {
              "type": "string",
              "description": "Optional flag to include field enum metadata.",
              "default": "true"
            }
          },
          {
            "name": "getRowIds",
            "in": "query",
            "required": false,
            "description": "Optional flag to include view-to-row associations when using android format with field metadata.",
            "schema": {
              "type": "string",
              "description": "Optional flag to include view-to-row associations when using android format with field metadata.",
              "default": "true"
            }
          },
          {
            "name": "externViews",
            "in": "query",
            "required": false,
            "description": "Optional flag to include external views.",
            "schema": {
              "type": "string",
              "description": "Optional flag to include external views.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bookTables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tables returned for the selected book."
                          },
                          "createdVNB": {
                            "type": "string",
                            "description": "TimeTonic backend version string."
                          },
                          "req": {
                            "type": "string",
                            "description": "Echoed provider request name."
                          },
                          "sstamp": {
                            "type": "number",
                            "description": "Provider sync stamp for the response."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the book tables request."
                          },
                          "tabs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tab metadata returned for the selected book."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Provider transaction identifier for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-images-media-files-and-documents-from-url": {
      "get": {
        "operationId": "timetonic.get-images-media-files-and-documents-from-url",
        "summary": "Get Images Media Files And Documents From URL",
        "description": "Retrieves media files and documents from a URL in Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-images-media-files-and-documents-from-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdVNB": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "string"
                          },
                          "errorMsg": {
                            "type": "string"
                          },
                          "req": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transactionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-table-value-comments": {
      "get": {
        "operationId": "timetonic.get-table-value-comments",
        "summary": "Get Table Value Comments",
        "description": "Retrieves comments for a table value from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-table-value-comments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookOwner",
            "in": "query",
            "required": true,
            "description": "Book owner containing the row.",
            "schema": {
              "type": "string",
              "description": "Book owner containing the row.",
              "example": "mindcloud",
              "default": "mindcloud"
            }
          },
          {
            "name": "rowId",
            "in": "query",
            "required": true,
            "description": "Row identifier containing the field value.",
            "schema": {
              "type": "string",
              "description": "Row identifier containing the field value.",
              "example": "147159056"
            }
          },
          {
            "name": "fieldId",
            "in": "query",
            "required": true,
            "description": "Field identifier whose comments should be fetched.",
            "schema": {
              "type": "string",
              "description": "Field identifier whose comments should be fetched.",
              "example": "8729209"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdVNB": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fieldId": {
                            "type": "number"
                          },
                          "req": {
                            "type": "string"
                          },
                          "rowId": {
                            "type": "number"
                          },
                          "sstamp": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transactionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-table-value-subset": {
      "get": {
        "operationId": "timetonic.get-table-value-subset",
        "summary": "Get Table Value Subset",
        "description": "Retrieves a subset of table values from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-table-value-subset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookOwner",
            "in": "query",
            "required": true,
            "description": "Owner of the target book.",
            "schema": {
              "type": "string",
              "description": "Owner of the target book.",
              "default": "mindcloud"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": true,
            "description": "Table/category id to read from.",
            "schema": {
              "type": "string",
              "description": "Table/category id to read from.",
              "default": "651531"
            }
          },
          {
            "name": "fieldIds",
            "in": "query",
            "required": true,
            "description": "Comma-separated field ids to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated field ids to return.",
              "default": "8729679,8729681"
            }
          },
          {
            "name": "rowIds",
            "in": "query",
            "required": true,
            "description": "Comma-separated row ids to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated row ids to return.",
              "default": "147159906,147159938"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "catId": {
                            "type": "number",
                            "description": "Echoed table/category id."
                          },
                          "createdVNB": {
                            "type": "string",
                            "description": "TimeTonic backend version string."
                          },
                          "req": {
                            "type": "string",
                            "description": "Echoed provider request name."
                          },
                          "sstamp": {
                            "type": "number",
                            "description": "Provider sync stamp for the response."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the subset request."
                          },
                          "tableValues": {
                            "type": "array",
                            "items": {},
                            "description": "Subset values returned for the requested rows and fields."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Provider transaction identifier for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timetonic/latest/actions/get-user-info": {
      "get": {
        "operationId": "timetonic.get-user-info",
        "summary": "Get User Info",
        "description": "Retrieves the current user information from Timetonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timetonic/latest/actions/get-user-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "syncStamp",
            "in": "query",
            "required": false,
            "description": "Optional sync stamp for incremental reads.",
            "schema": {
              "type": "string",
              "description": "Optional sync stamp for incremental reads."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdVNB": {
                            "type": "string"
                          },
                          "req": {
                            "type": "string"
                          },
                          "sstamp": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transactionId": {
                            "type": "string"
                          },
                          "userInfo": {
                            "type": "object",
                            "properties": {
                              "colors": {
                                "type": "object",
                                "properties": {
                                  "bleuNuit": {
                                    "type": "string"
                                  },
                                  "bleuTurquoise": {
                                    "type": "string"
                                  },
                                  "bleuViolet": {
                                    "type": "string"
                                  },
                                  "defaut": {
                                    "type": "string"
                                  },
                                  "gray": {
                                    "type": "string"
                                  },
                                  "green": {
                                    "type": "string"
                                  },
                                  "jauneIndien": {
                                    "type": "string"
                                  },
                                  "lilas": {
                                    "type": "string"
                                  },
                                  "noir": {
                                    "type": "string"
                                  },
                                  "orange": {
                                    "type": "string"
                                  },
                                  "orangePastel": {
                                    "type": "string"
                                  },
                                  "pink": {
                                    "type": "string"
                                  },
                                  "red": {
                                    "type": "string"
                                  },
                                  "roseBois": {
[...]
