{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Aspera on Cloud Universal API",
    "version": "0.0.4",
    "description": "REST API for IBM Aspera on Cloud files, packages, workspaces, users, and admin resources."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/asperaOnCloud/latest/actions/add-dropbox": {
      "post": {
        "operationId": "asperaOnCloud.add-dropbox",
        "summary": "Create Shared Inbox",
        "description": "Creates a new shared inbox in Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/add-dropbox"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content_retention_duration": {
                            "type": "number"
                          },
                          "custom_notification_list_enabled": {
                            "type": "boolean"
                          },
                          "delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "draft_expiration_duration": {
                            "type": "number"
                          },
                          "dropbox_notification_recipients": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "effective_content_retention_duration": {
                            "type": "number"
                          },
                          "effective_delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "email_notification_settings": {
                            "type": "object",
                            "properties": {
                              "dropbox_invitation": {
                                "type": "boolean"
                              },
                              "file_shared": {
                                "type": "boolean"
                              },
                              "invitation_to_send_to_me": {
                                "type": "boolean"
                              },
                              "package_contents_deleted": {
                                "type": "boolean"
                              },
                              "package_downloaded": {
                                "type": "boolean"
                              },
                              "package_expired": {
                                "type": "boolean"
                              },
                              "package_failed": {
                                "type": "boolean"
                              },
                              "package_recalled": {
                                "type": "boolean"
                              },
                              "package_received": {
                                "type": "boolean"
                              },
                              "package_resent": {
                                "type": "boolean"
                              },
                              "package_sent": {
                                "type": "boolean"
                              },
                              "package_uploaded": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "enable_external_email_templates": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "image_url": {
                            "type": "string"
                          },
                          "inherit_email_notification_settings": {
                            "type": "boolean"
                          },
                          "inherit_email_templates": {
                            "type": "boolean"
                          },
                          "inherit_workspace_expiration_settings": {
                            "type": "boolean"
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "metadata_schema": {
                            "type": "object",
                            "properties": {
                              "choices": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "default_values": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "illegal_characters": {
                                "type": "string"
                              },
                              "input_type": {
                                "type": "string"
                              },
                              "max_length": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "required": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "package_name_and_message_validation_schema": {
                            "type": "object",
                            "properties": {
                              "field_name": {
                                "type": "string"
                              },
                              "illegal_characters": {
                                "type": "string"
                              },
                              "max_length": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "personalized_urls_enabled": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/add-package": {
      "post": {
        "operationId": "asperaOnCloud.add-package",
        "summary": "Create Package",
        "description": "Creates a new package in Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/add-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active_download_count": {
                            "type": "number"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "average_rate": {
                            "type": "number"
                          },
                          "bcc": {
                            "type": "boolean"
                          },
                          "bcc_recipients": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "bytes_transferred": {
                            "type": "number"
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "completed_at": {
                            "type": "string"
                          },
                          "content_expires_at": {
                            "type": "string"
                          },
                          "content_retention_duration": {
                            "type": "number"
                          },
                          "contents_file_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "delete_after_download": {
                            "type": "boolean"
                          },
                          "delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "deleted_after_download": {
                            "type": "boolean"
                          },
                          "deleted_at": {
                            "type": "string"
                          },
                          "deleted_by_admin": {
                            "type": "boolean"
                          },
                          "deleted_by_user_id": {
                            "type": "number"
                          },
                          "download_notification_recipients": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "draft": {
                            "type": "boolean"
                          },
                          "draft_expires_at": {
                            "type": "string"
                          },
                          "encryption_at_rest": {
                            "type": "boolean"
                          },
                          "expiration_reason": {
                            "type": "string"
                          },
                          "expired": {
                            "type": "boolean"
                          },
                          "expired_at": {
                            "type": "string"
                          },
                          "failed": {
                            "type": "boolean"
                          },
                          "failed_download_count": {
                            "type": "number"
                          },
                          "file_count": {
                            "type": "number"
                          },
                          "file_count_from_disk": {
                            "type": "boolean"
                          },
                          "file_id": {
                            "type": "string"
                          },
                          "files_completed": {
                            "type": "number"
                          },
                          "files_expected": {
                            "type": "number"
                          },
                          "folder_count": {
                            "type": "number"
                          },
                          "folders_completed": {
                            "type": "number"
                          },
                          "folders_expected": {
                            "type": "number"
                          },
                          "full_download_count": {
                            "type": "number"
                          },
                          "has_content": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/add-user": {
      "post": {
        "operationId": "asperaOnCloud.add-user",
        "summary": "Create User",
        "description": "Creates a new user in Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/add-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ats_admin": {
                            "type": "boolean"
                          },
                          "available_apps": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "deactivated": {
                            "type": "boolean"
                          },
                          "default_shortlink_name": {
                            "type": "string"
                          },
                          "default_workspace_choice": {
                            "type": "string"
                          },
                          "default_workspace_id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "home_file_id": {
                            "type": "number"
                          },
                          "home_node_id": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "last_login_at": {
                            "type": "string"
                          },
                          "last_login_provider": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "member_of_any_workspace": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "organization_admin": {
                            "type": "boolean"
                          },
                          "organization_id": {
                            "type": "number"
                          },
                          "password_updated_at": {
                            "type": "string"
                          },
                          "provisioned": {
                            "type": "boolean"
                          },
                          "public_key": {
                            "type": "boolean"
                          },
                          "read_only_home_file_id": {
                            "type": "string"
                          },
                          "read_only_home_node_id": {
                            "type": "number"
                          },
                          "running_operation_count": {
                            "type": "number"
                          },
                          "saml_configuration_id": {
                            "type": "string"
                          },
                          "stopped_operation_count": {
                            "type": "number"
                          },
                          "subscription_admin": {
                            "type": "boolean"
                          },
                          "trial": {
                            "type": "boolean"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "user_admin": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/add-workspace": {
      "post": {
        "operationId": "asperaOnCloud.add-workspace",
        "summary": "Create Workspace",
        "description": "Creates a new workspace in Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/add-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allow_package_level_expirations": {
                            "type": "boolean"
                          },
                          "can_invite_by_email": {
                            "type": "boolean"
                          },
                          "collaboration_settings_editable_by_managers": {
                            "type": "boolean"
                          },
                          "collaboration_whitelist_enabled": {
                            "type": "boolean"
                          },
                          "collaboration_with_emails_allowed": {
                            "type": "boolean"
                          },
                          "content_retention_duration": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "default_ear_setting": {
                            "type": "boolean"
                          },
                          "delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "draft_expiration_duration": {
                            "type": "number"
                          },
                          "effective_default_ear_setting": {
                            "type": "boolean"
                          },
                          "effective_storage_allowed": {
                            "type": "boolean"
                          },
                          "email_footer": {
                            "type": "string"
                          },
                          "email_notification_settings": {
                            "type": "object",
                            "properties": {
                              "dropbox_invitation": {
                                "type": "boolean"
                              },
                              "file_shared": {
                                "type": "boolean"
                              },
                              "invitation_to_send_to_me": {
                                "type": "boolean"
                              },
                              "package_contents_deleted": {
                                "type": "boolean"
                              },
                              "package_downloaded": {
                                "type": "boolean"
                              },
                              "package_expired": {
                                "type": "boolean"
                              },
                              "package_failed": {
                                "type": "boolean"
                              },
                              "package_recalled": {
                                "type": "boolean"
                              },
                              "package_received": {
                                "type": "boolean"
                              },
                              "package_resent": {
                                "type": "boolean"
                              },
                              "package_sent": {
                                "type": "boolean"
                              },
                              "package_uploaded": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "enable_external_email_templates": {
                            "type": "boolean"
                          },
                          "enable_external_notifications": {
                            "type": "boolean"
                          },
                          "event_reporting_headers": {
                            "type": "string"
                          },
                          "event_reporting_uri": {
                            "type": "string"
                          },
                          "external_package_authentication_required": {
                            "type": "boolean"
                          },
                          "external_package_sending_allowed": {
                            "type": "boolean"
                          },
                          "external_package_sending_allowed_by_managers": {
                            "type": "boolean"
                          },
                          "external_sharing_allowed": {
                            "type": "boolean"
                          },
                          "external_sharing_allowed_by_managers": {
                            "type": "boolean"
                          },
                          "group_id": {
                            "type": "number"
                          },
                          "home_container_file_id": {
                            "type": "string"
                          },
                          "home_file_id": {
                            "type": "number"
                          },
                          "home_node_id": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/delete-package": {
      "delete": {
        "operationId": "asperaOnCloud.delete-package",
        "summary": "Delete Package",
        "description": "Deletes a package from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/delete-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the package.",
            "schema": {
              "type": "string",
              "description": "ID of the package.",
              "example": "pkg_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/delete-user": {
      "delete": {
        "operationId": "asperaOnCloud.delete-user",
        "summary": "Delete User",
        "description": "Deletes a user from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the user.",
            "schema": {
              "type": "string",
              "description": "ID of the user.",
              "example": "user_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/delete-workspace": {
      "delete": {
        "operationId": "asperaOnCloud.delete-workspace",
        "summary": "Delete Workspace",
        "description": "Deletes a workspace from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/delete-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the workspace.",
            "schema": {
              "type": "string",
              "description": "ID of the workspace.",
              "example": "ws_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/get-client-access-keys": {
      "get": {
        "operationId": "asperaOnCloud.get-client-access-keys",
        "summary": "List Client Access Keys",
        "description": "Retrieves client access keys from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/get-client-access-keys"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "permission_id": {
                            "type": "string"
                          },
                          "root_file_id": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "workspace_id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/get-dropbox-by-id": {
      "get": {
        "operationId": "asperaOnCloud.get-dropbox-by-id",
        "summary": "Get Shared Inbox",
        "description": "Retrieves a shared inbox from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/get-dropbox-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the shared inbox.",
            "schema": {
              "type": "string",
              "description": "ID of the shared inbox.",
              "example": "dropbox_123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content_retention_duration": {
                            "type": "number"
                          },
                          "custom_notification_list_enabled": {
                            "type": "boolean"
                          },
                          "delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "draft_expiration_duration": {
                            "type": "number"
                          },
                          "dropbox_notification_recipients": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "effective_content_retention_duration": {
                            "type": "number"
                          },
                          "effective_delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "email_notification_settings": {
                            "type": "object",
                            "properties": {
                              "dropbox_invitation": {
                                "type": "boolean"
                              },
                              "file_shared": {
                                "type": "boolean"
                              },
                              "invitation_to_send_to_me": {
                                "type": "boolean"
                              },
                              "package_contents_deleted": {
                                "type": "boolean"
                              },
                              "package_downloaded": {
                                "type": "boolean"
                              },
                              "package_expired": {
                                "type": "boolean"
                              },
                              "package_failed": {
                                "type": "boolean"
                              },
                              "package_recalled": {
                                "type": "boolean"
                              },
                              "package_received": {
                                "type": "boolean"
                              },
                              "package_resent": {
                                "type": "boolean"
                              },
                              "package_sent": {
                                "type": "boolean"
                              },
                              "package_uploaded": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "enable_external_email_templates": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "image_url": {
                            "type": "string"
                          },
                          "inherit_email_notification_settings": {
                            "type": "boolean"
                          },
                          "inherit_email_templates": {
                            "type": "boolean"
                          },
                          "inherit_workspace_expiration_settings": {
                            "type": "boolean"
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "metadata_schema": {
                            "type": "object",
                            "properties": {
                              "choices": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "default_values": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "illegal_characters": {
                                "type": "string"
                              },
                              "input_type": {
                                "type": "string"
                              },
                              "max_length": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "required": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "package_name_and_message_validation_schema": {
                            "type": "object",
                            "properties": {
                              "field_name": {
                                "type": "string"
                              },
                              "illegal_characters": {
                                "type": "string"
                              },
                              "max_length": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "personalized_urls_enabled": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/get-dropbox-memberships": {
      "get": {
        "operationId": "asperaOnCloud.get-dropbox-memberships",
        "summary": "List Dropbox Members",
        "description": "Retrieves shared inbox members from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/get-dropbox-memberships"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "can_receive_packages": {
                            "type": "boolean"
                          },
                          "can_submit_packages": {
                            "type": "boolean"
                          },
                          "creator_id": {
                            "type": "string"
                          },
                          "dropbox_id": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "manager": {
                            "type": "boolean"
                          },
                          "member_id": {
                            "type": "string"
                          },
                          "member_type": {
                            "type": "string"
                          },
                          "submit_expired": {
                            "type": "boolean"
                          },
                          "submit_expires_at": {
                            "type": "string"
                          },
                          "workspace_id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/get-dropboxes": {
      "get": {
        "operationId": "asperaOnCloud.get-dropboxes",
        "summary": "List Shared Inboxes",
        "description": "Retrieves shared inboxes from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/get-dropboxes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content_retention_duration": {
                            "type": "number"
                          },
                          "custom_notification_list_enabled": {
                            "type": "boolean"
                          },
                          "delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "draft_expiration_duration": {
                            "type": "number"
                          },
                          "dropbox_notification_recipients": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "effective_content_retention_duration": {
                            "type": "number"
                          },
                          "effective_delete_package_content_after_download_duration": {
                            "type": "number"
                          },
                          "email_notification_settings": {
                            "type": "object",
                            "properties": {
                              "dropbox_invitation": {
                                "type": "boolean"
                              },
                              "file_shared": {
                                "type": "boolean"
                              },
                              "invitation_to_send_to_me": {
                                "type": "boolean"
                              },
                              "package_contents_deleted": {
                                "type": "boolean"
                              },
                              "package_downloaded": {
                                "type": "boolean"
                              },
                              "package_expired": {
                                "type": "boolean"
                              },
                              "package_failed": {
                                "type": "boolean"
                              },
                              "package_recalled": {
                                "type": "boolean"
                              },
                              "package_received": {
                                "type": "boolean"
                              },
                              "package_resent": {
                                "type": "boolean"
                              },
                              "package_sent": {
                                "type": "boolean"
                              },
                              "package_uploaded": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "enable_external_email_templates": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "image_url": {
                            "type": "string"
                          },
                          "inherit_email_notification_settings": {
                            "type": "boolean"
                          },
                          "inherit_email_templates": {
                            "type": "boolean"
                          },
                          "inherit_workspace_expiration_settings": {
                            "type": "boolean"
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "metadata_schema": {
                            "type": "object",
                            "properties": {
                              "choices": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "default_values": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "illegal_characters": {
                                "type": "string"
                              },
                              "input_type": {
                                "type": "string"
                              },
                              "max_length": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "required": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "package_name_and_message_validation_schema": {
                            "type": "object",
                            "properties": {
                              "field_name": {
                                "type": "string"
                              },
                              "illegal_characters": {
                                "type": "string"
                              },
                              "max_length": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "personalized_urls_enabled": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/asperaOnCloud/latest/actions/get-node-by-id": {
      "get": {
        "operationId": "asperaOnCloud.get-node-by-id",
        "summary": "Get Node",
        "description": "Retrieves a node from Aspera on Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/asperaOnCloud/latest/actions/get-node-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the node.",
            "schema": {
              "type": "string",
              "description": "ID of the node.",
              "example": "node_123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
[...]
