{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TrackMage Universal API",
    "version": "0.0.4",
    "description": "TrackMage helps teams manage workspaces, orders, shipments, shipment items, products, product variants, and workflows through a REST API delivered as JSON and LD+JSON over HTTPS."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/trackMage/latest/actions/create-order": {
      "post": {
        "operationId": "trackMage.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspace",
                  "orderNumber",
                  "orderType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspace": {
                    "type": "string",
                    "description": "The workspace reference to which the order belongs."
                  },
                  "orderNumber": {
                    "type": "string",
                    "description": "A number associated with a purchase order."
                  },
                  "externalSourceIntegration": {
                    "type": "string",
                    "description": "The workflow reference to integration for ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceSyncId": {
                    "type": "string",
                    "description": "The id of the order in ecommerce store (WooCommerce, Shopify, etc.).",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceUrl": {
                    "type": "string",
                    "description": "The url of the order in ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "subtotal": {
                    "type": "string",
                    "description": "The current subtotal price of the order in the store currency. Default value is **0**",
                    "x-mindcloud-advanced": true
                  },
                  "total": {
                    "type": "string",
                    "description": "The current total price of the order in the store currency. Default value is **0**",
                    "x-mindcloud-advanced": true
                  },
                  "currency": {
                    "type": "string",
                    "description": "A three-letter currency code. Default value is **USD**",
                    "x-mindcloud-advanced": true
                  },
                  "orderStatus.code": {
                    "type": "string",
                    "description": "A unique status code. This field is required.",
                    "x-mindcloud-advanced": true
                  },
                  "orderStatus.title": {
                    "type": "string",
                    "description": "A status name. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "orderStatus.description": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "orderType": {
                    "type": "string",
                    "description": "customer|vendor"
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address.",
                    "x-mindcloud-advanced": true
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Customer phone number.",
                    "x-mindcloud-advanced": true
                  },
                  "shipments[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of [shipment](/docs/Shipment/shipment.html) references that belong to the order.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.addressLine1": {
                    "type": "string",
                    "description": "The street address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.addressLine2": {
                    "type": "string",
                    "description": "An optional additional field for the street address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.city": {
                    "type": "string",
                    "description": "The city, town, or village. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.company": {
                    "type": "string",
                    "description": "The company of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.country": {
                    "type": "string",
                    "description": "The name of the country. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.countryIso2": {
                    "type": "string",
                    "description": "The two-letter country code. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.firstName": {
                    "type": "string",
                    "description": "The first name of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.lastName": {
                    "type": "string",
                    "description": "The last name of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.postcode": {
                    "type": "string",
                    "description": "The postal code (zip, postcode, Eircode, …). This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingAddress.state": {
                    "type": "string",
                    "description": "The name of the region (province, state, prefecture, …). This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.addressLine1": {
                    "type": "string",
                    "description": "The street address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.addressLine2": {
                    "type": "string",
                    "description": "An optional additional field for the street address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.city": {
                    "type": "string",
                    "description": "The city, town, or village. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.company": {
                    "type": "string",
                    "description": "The company of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.country": {
                    "type": "string",
                    "description": "The name of the country. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.countryIso2": {
                    "type": "string",
                    "description": "The two-letter country code. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.firstName": {
                    "type": "string",
                    "description": "The first name of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.lastName": {
                    "type": "string",
                    "description": "The last name of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.postcode": {
                    "type": "string",
                    "description": "The postal code (zip, postcode, Eircode, …). This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress.state": {
                    "type": "string",
                    "description": "The name of the region (province, state, prefecture, …). This field is optional.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingAddress": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryIso2": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "externalSourceIntegration": {
                            "type": "string"
                          },
                          "externalSourceIntegrationType": {
                            "type": "string"
                          },
                          "externalSourceSyncId": {
                            "type": "string"
                          },
                          "externalSourceUrl": {
                            "type": "string"
                          },
                          "fulfillmentStatus": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "orderStatus": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "orderType": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "readonly": {
                            "type": "boolean"
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "shipmentsWithoutTrackingCount": {
                            "type": "number"
                          },
                          "shippingAddress": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryIso2": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            }
                          },
                          "subtotal": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "workspace": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/create-product": {
      "post": {
        "operationId": "trackMage.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "team"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "team": {
                    "type": "string",
                    "description": "The team reference to which the product belongs."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of product.",
                    "x-mindcloud-advanced": true
                  },
                  "sku": {
                    "type": "string",
                    "description": "The SKU of product.",
                    "x-mindcloud-advanced": true
                  },
                  "originUrl": {
                    "type": "string",
                    "description": "The URL of product in the ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "The URL of product image in the ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceIntegration": {
                    "type": "string",
                    "description": "The workflow reference to integration for ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceSyncId": {
                    "type": "string",
                    "description": "The id of the shipment in ecommerce store (WooCommerce, Shopify, etc.).",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalSourceIntegration": {
                            "type": "string"
                          },
                          "externalSourceSyncId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "originUrl": {
                            "type": "string"
                          },
                          "productVariants": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sku": {
                            "type": "string"
                          },
                          "team": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/create-product-variant": {
      "post": {
        "operationId": "trackMage.create-product-variant",
        "summary": "Create Product Variant",
        "description": "Creates a new product variant in TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/create-product-variant"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "team",
                  "sku"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "team": {
                    "type": "string",
                    "description": "The team reference to which the product variant belongs."
                  },
                  "sku": {
                    "type": "string",
                    "description": "The SKU of product variant."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "The URL of product variant image in the ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "product": {
                    "type": "string",
                    "description": "The [product](/docs/Product/product.html) reference to which the product variant belongs.",
                    "x-mindcloud-advanced": true
                  },
                  "price": {
                    "type": "string",
                    "description": "The price of product variant in the store currency. Default value is **0**",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceIntegration": {
                    "type": "string",
                    "description": "The workflow reference to integration for ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceSyncId": {
                    "type": "string",
                    "description": "The id of the shipment in ecommerce store (WooCommerce, Shopify, etc.).",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalSourceIntegration": {
                            "type": "string"
                          },
                          "externalSourceSyncId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "product": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "team": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/create-shipment": {
      "post": {
        "operationId": "trackMage.create-shipment",
        "summary": "Create Shipment",
        "description": "Creates a new shipment in TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/create-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspace"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "trackingNumber": {
                    "type": "string",
                    "description": "A tracking number, provided by the shipping company.",
                    "x-mindcloud-advanced": true
                  },
                  "orderNumbers[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of order numbers to which the shipment belongs.",
                    "x-mindcloud-advanced": true
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address.",
                    "x-mindcloud-advanced": true
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Customer phone number.",
                    "x-mindcloud-advanced": true
                  },
                  "originCarrier": {
                    "type": "string",
                    "description": "The code of origin [carrier](https://trackmage.com/carriers/). Origin Carrier will be identified automatically based on Tracking Number. Sometimes the carrier cannot be identified. In that case, the system will return the error with the suggested carriers list in the payload. The value of this field can be specified only once in POST request.",
                    "x-mindcloud-advanced": true
                  },
                  "workspace": {
                    "type": "string",
                    "description": "The workspace reference to which the shipment belongs."
                  },
                  "orders[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of order references to which the shipment belongs.",
                    "x-mindcloud-advanced": true
                  },
                  "shipmentItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of shipment items references that belong to the shipment.",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceIntegration": {
                    "type": "string",
                    "description": "The workflow reference to integration for ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceSyncId": {
                    "type": "string",
                    "description": "The id of the shipment in ecommerce store (WooCommerce, Shopify, etc.).",
                    "x-mindcloud-advanced": true
                  },
                  "fulfillmentIntegration": {
                    "type": "string",
                    "description": "The workflow reference to integration for fulfillment source.",
                    "x-mindcloud-advanced": true
                  },
                  "fulfillmentSyncId": {
                    "type": "string",
                    "description": "The id of the shipment in the fulfillment source system (AliExpress, Amazon, etc.).",
                    "x-mindcloud-advanced": true
                  },
                  "address.addressLine1": {
                    "type": "string",
                    "description": "The street address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.addressLine2": {
                    "type": "string",
                    "description": "An optional additional field for the street address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.city": {
                    "type": "string",
                    "description": "The city, town, or village. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.company": {
                    "type": "string",
                    "description": "The company of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.country": {
                    "type": "string",
                    "description": "The name of the country. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.countryIso2": {
                    "type": "string",
                    "description": "The two-letter country code. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.firstName": {
                    "type": "string",
                    "description": "The first name of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.lastName": {
                    "type": "string",
                    "description": "The last name of the person associated with the address. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.postcode": {
                    "type": "string",
                    "description": "The postal code (zip, postcode, Eircode, …). This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "address.state": {
                    "type": "string",
                    "description": "The name of the region (province, state, prefecture, …). This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shipmentStatus.code": {
                    "type": "string",
                    "description": "A unique status code. This field is required.",
                    "x-mindcloud-advanced": true
                  },
                  "shipmentStatus.title": {
                    "type": "string",
                    "description": "A status name. This field is optional.",
                    "x-mindcloud-advanced": true
                  },
                  "shipmentStatus.description": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryIso2": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "daysInIdle": {
                            "type": "number"
                          },
                          "daysInTransit": {
                            "type": "number"
                          },
                          "daysSinceLastCheckpoint": {
                            "type": "number"
                          },
                          "destinationCarrier": {
                            "type": "string"
                          },
                          "destinationCountry": {
                            "type": "string"
                          },
                          "destinationCountryIso2": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "expectedDeliveryDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "externalSourceIntegration": {
                            "type": "string"
                          },
                          "externalSourceIntegrationType": {
                            "type": "string"
                          },
                          "externalSourceSyncId": {
                            "type": "string"
                          },
                          "fulfillmentIntegration": {
                            "type": "string"
                          },
                          "fulfillmentSyncId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastStatusUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "orderNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "orders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "originCarrier": {
                            "type": "string"
                          },
                          "originCountry": {
                            "type": "string"
                          },
                          "originCountryIso2": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "review": {
                            "type": "string"
                          },
                          "reviewTotalScore": {
                            "type": "number"
                          },
                          "shipmentItems": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "shipmentStatus": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "shippedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "trackingStatus": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "workspace": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/create-shipment-item": {
      "post": {
        "operationId": "trackMage.create-shipment-item",
        "summary": "Create Shipment Item",
        "description": "Creates a new shipment item in TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/create-shipment-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shipment",
                  "orderItem"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "shipment": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "orderItem": {
                    "type": "string",
                    "description": "The order item reference to which the shipment items item belongs."
                  },
                  "qty": {
                    "type": "number",
                    "description": "The number of items in the shipment. Default and the minimum value is 0. The value cannot be greater than available quantity of the order item (orderItem.qty - orderItem.fulfilledQty).",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceSyncId": {
                    "type": "string",
                    "description": "The id of the shipment item in ecommerce store (WooCommerce, Shopify, etc.).",
                    "x-mindcloud-advanced": true
                  },
                  "externalSourceIntegration": {
                    "type": "string",
                    "description": "The workflow reference to integration for ecommerce store.",
                    "x-mindcloud-advanced": true
                  },
                  "fulfillmentIntegration": {
                    "type": "string",
                    "description": "The workflow reference to integration for fulfillment source.",
                    "x-mindcloud-advanced": true
                  },
                  "fulfillmentSyncId": {
                    "type": "string",
                    "description": "The id of the shipment item in the fulfillment source system (AliExpress, Amazon, etc.).",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalSourceIntegration": {
                            "type": "string"
                          },
                          "externalSourceSyncId": {
                            "type": "string"
                          },
                          "fulfillmentIntegration": {
                            "type": "string"
                          },
                          "fulfillmentSyncId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "orderItem": {
                            "type": "string"
                          },
                          "qty": {
                            "type": "number"
                          },
                          "shipment": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/create-workflow": {
      "post": {
        "operationId": "trackMage.create-workflow",
        "summary": "Create Workflow",
        "description": "Creates a new workflow in TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/create-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "type",
                  "workspace",
                  "enabled",
                  "period"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "workspace": {
                    "type": "string"
                  },
                  "credentials.type": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "credentials.team": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "notificationEmails[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true
                  },
                  "period": {
                    "type": "string",
                    "description": "applies only to out"
                  },
                  "integration": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "firstTimeSetupPassed": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credentials": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "firstTimeSetupPassed": {
                            "type": "boolean"
                          },
                          "firstTimeSetupRequired": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "integration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "integrationType": {
                            "type": "string"
                          },
                          "lastRunDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notificationEmails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "passive": {
                            "type": "boolean"
                          },
                          "period": {
                            "type": "string"
                          },
                          "remote": {
                            "type": "boolean"
                          },
                          "runInProgress": {
                            "type": "boolean"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "workspace": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/create-workspace": {
      "post": {
        "operationId": "trackMage.create-workspace",
        "summary": "Create Workspace",
        "description": "Creates a new workspace in TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/create-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "team.name",
                  "title",
                  "defaultTrackingPage"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "team.name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "defaultTrackingPage": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "preferredCarriers[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "considerShipmentDelayed": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "workflowsOrder[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "logo": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "emailSettings.logo": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "emailSettings.signature": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "emailSettings.smtpCredentials": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "considerShipmentDelayed": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultTrackingPage": {
                            "type": "string"
                          },
                          "ecommerceIntegrationType": {
                            "type": "string"
                          },
                          "emailSettings": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "filePath": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "thumbnailPath": {
                                "type": "string"
                              }
                            }
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ordersCount": {
                            "type": "number"
                          },
                          "preferredCarriers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "scheduledForDelete": {
                            "type": "boolean"
                          },
                          "shipmentsCount": {
                            "type": "number"
                          },
                          "team": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "widgets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "workflowsCount": {
                            "type": "number"
                          },
                          "workflowsOrder": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/delete-order": {
      "delete": {
        "operationId": "trackMage.delete-order",
        "summary": "Delete Order",
        "description": "Deletes an existing order from TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/delete-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource identifier",
            "schema": {
              "type": "string",
              "description": "Resource identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/delete-product": {
      "delete": {
        "operationId": "trackMage.delete-product",
        "summary": "Delete Product",
        "description": "Deletes an existing product from TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/delete-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource identifier",
            "schema": {
              "type": "string",
              "description": "Resource identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackMage/latest/actions/delete-product-variant": {
      "delete": {
        "operationId": "trackMage.delete-product-variant",
        "summary": "Delete Product Variant",
        "description": "Deletes an existing product variant from TrackMage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackMage/latest/actions/delete-product-variant"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource identifier",
            "schema": {
              "type": "string",
              "description": "Resource identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
[...]
