{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "OneSuite Universal API",
    "version": "0.0.2",
    "description": "All-in-one business platform for agencies to manage CRM, projects, clients, invoices, and documents."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/oneSuite/latest/actions/connect-opportunity-to-company": {
      "put": {
        "operationId": "oneSuite.connect-opportunity-to-company",
        "summary": "Connect Opportunity to Company",
        "description": "Connects an opportunity to a company in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/connect-opportunity-to-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "opportunityId",
                  "companyId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "opportunityId": {
                    "type": "string",
                    "description": "Opportunity ID from the connect-opportunity-company docs.",
                    "example": "cmo7h1vjm02stbo05mhgr2rmy"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Company ID to connect to the opportunity.",
                    "example": "cmo7gzxna02smbo056u59sb9y"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/connect-person-to-company": {
      "put": {
        "operationId": "oneSuite.connect-person-to-company",
        "summary": "Connect Person to Company",
        "description": "Connects a person to a company in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/connect-person-to-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "peopleId",
                  "companyId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "peopleId": {
                    "type": "string",
                    "description": "People ID from the connect-people-to-company docs.",
                    "example": "cmo7gy9qu02s8bo05g4fdcwqw"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Company ID to connect to the person.",
                    "example": "cmo7gzxna02smbo056u59sb9y"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/connect-person-to-opportunity": {
      "put": {
        "operationId": "oneSuite.connect-person-to-opportunity",
        "summary": "Connect Person to Opportunity",
        "description": "Connects a person to an opportunity in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/connect-person-to-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "peopleId",
                  "opportunityId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "peopleId": {
                    "type": "string",
                    "description": "People ID from the connect-people-to-opportunity docs.",
                    "example": "cmo7gy9qu02s8bo05g4fdcwqw"
                  },
                  "opportunityId": {
                    "type": "string",
                    "description": "Opportunity ID to connect to the person.",
                    "example": "cmo7gu3hd02rqbo05597qfnpk"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/convert-company-to-client": {
      "put": {
        "operationId": "oneSuite.convert-company-to-client",
        "summary": "Convert Company to Client",
        "description": "Converts a company to a client in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/convert-company-to-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Company ID from the OneSuite convert-company docs.",
                    "example": "cmo7gu3gq02robo05g27zy4n0"
                  },
                  "message": {
                    "type": "string",
                    "description": "Optional invitation message for invited people.",
                    "example": "Welcome to our client portal!",
                    "x-mindcloud-advanced": true
                  },
                  "invitePeopleIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of people IDs to invite to the client portal.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "accountOwnerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "annualRecurringRevenue": {
                                "type": "number"
                              },
                              "bgColor": {
                                "type": "string"
                              },
                              "brandColour": {
                                "type": "string"
                              },
                              "businessId": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "countryDialCode": {
                                "type": "string"
                              },
                              "countryFlag": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "createdById": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "currencyName": {
                                "type": "string"
                              },
                              "currencySymbol": {
                                "type": "string"
                              },
                              "customSocialMediaUrl": {
                                "type": "string"
                              },
                              "employees": {
                                "type": "number"
                              },
                              "facebookUrl": {
                                "type": "string"
                              },
                              "fgColor": {
                                "type": "string"
                              },
                              "hiddenInCrm": {
                                "type": "boolean"
                              },
                              "icp": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "industryId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "instagramUrl": {
                                "type": "string"
                              },
                              "isClient": {
                                "type": "boolean"
                              },
                              "linkedinUrl": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "pointOfContactId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sourceId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "string"
                              },
                              "threadUrl": {
                                "type": "string"
                              },
                              "tiktokUrl": {
                                "type": "string"
                              },
                              "twitterUrl": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "youtubeUrl": {
                                "type": "string"
                              },
                              "zip": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/convert-opportunity-to-client": {
      "put": {
        "operationId": "oneSuite.convert-opportunity-to-client",
        "summary": "Convert Opportunity to Client",
        "description": "Converts an opportunity to a client in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/convert-opportunity-to-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "opportunityId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "opportunityId": {
                    "type": "string",
                    "description": "Opportunity ID from the convert-opportunity docs.",
                    "example": "cmo7h1vjm02stbo05mhgr2rmy"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Optional company ID if different from the opportunity's connected company.",
                    "example": "cmo7gzxna02smbo056u59sb9y",
                    "x-mindcloud-advanced": true
                  },
                  "message": {
                    "type": "string",
                    "description": "Optional invitation message for invited people.",
                    "example": "Welcome to our client portal!",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/create-client": {
      "post": {
        "operationId": "oneSuite.create-client",
        "summary": "Create Client",
        "description": "Creates a client in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of client: company or individual",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "description": "Client name"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountOwner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "annualRecurringRevenue": {
                            "type": "number"
                          },
                          "assignedTo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bgColor": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "countryDialCode": {
                            "type": "string"
                          },
                          "countryFlag": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "user": {
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "type": "string"
                                  },
                                  "profileImg": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currencyName": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "customSocialMediaUrl": {
                            "type": "string"
                          },
                          "employees": {
                            "type": "number"
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "fgColor": {
                            "type": "string"
                          },
                          "icp": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "instagramUrl": {
                            "type": "string"
                          },
                          "invitationStatus": {
                            "type": "string"
                          },
                          "isClient": {
                            "type": "boolean"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "peopleId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pointOfContact": {
                            "type": "object",
                            "properties": {
                              "invitationStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "priority": {
                            "type": "object",
                            "properties": {
                              "bgColor": {
                                "type": "string"
                              },
                              "borderColor": {
                                "type": "string"
                              },
                              "businessId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "fgColor": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isDefault": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "priorityId": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "state": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "bgColor": {
                                "type": "string"
                              },
                              "borderColor": {
                                "type": "string"
                              },
                              "businessId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "fgColor": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isDefault": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "threadUrl": {
                            "type": "string"
                          },
                          "tiktokUrl": {
                            "type": "string"
                          },
                          "twitterUrl": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "youtubeUrl": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/create-client-project": {
      "post": {
        "operationId": "oneSuite.create-client-project",
        "summary": "Create Client Project",
        "description": "Creates a project for a client in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/create-client-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "string",
                    "description": "The ID of the client"
                  },
                  "name": {
                    "type": "string",
                    "description": "Project name"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/create-company": {
      "post": {
        "operationId": "oneSuite.create-company",
        "summary": "Create Company",
        "description": "Creates a company in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Company name from the official OneSuite create-company docs.",
                    "example": "Acme Corporation"
                  },
                  "opportunityId": {
                    "type": "string",
                    "description": "Optional opportunity ID to connect when creating the company.",
                    "example": "cmjhopp000000000000001",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountOwner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountOwnerId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "annualRecurringRevenue": {
                            "type": "number"
                          },
                          "bgColor": {
                            "type": "string"
                          },
                          "brandColour": {
                            "type": "string"
                          },
                          "businessId": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "countryDialCode": {
                            "type": "string"
                          },
                          "countryFlag": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "user": {
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "type": "string"
                                  },
                                  "profileImg": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdById": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currencyName": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "customSocialMediaUrl": {
                            "type": "string"
                          },
                          "employees": {
                            "type": "number"
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "fgColor": {
                            "type": "string"
                          },
                          "hiddenInCrm": {
                            "type": "boolean"
                          },
                          "icp": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "industryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "instagramUrl": {
                            "type": "string"
                          },
                          "isClient": {
                            "type": "boolean"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "pointOfContactId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sourceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "state": {
                            "type": "string"
                          },
                          "threadUrl": {
                            "type": "string"
                          },
                          "tiktokUrl": {
                            "type": "string"
                          },
                          "twitterUrl": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "youtubeUrl": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/create-invoice": {
      "post": {
        "operationId": "oneSuite.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates an invoice in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "company",
                  "client.key",
                  "clientName",
                  "clientCompany",
                  "description",
                  "subTotalPrice",
                  "salesTax",
                  "totalPrice",
                  "dueDate",
                  "currency",
                  "invoiceNo"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "string",
                    "description": "Your company address"
                  },
                  "city": {
                    "type": "string",
                    "description": "Your company city"
                  },
                  "company": {
                    "type": "string",
                    "description": "Your company name"
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice create date"
                  },
                  "email": {
                    "type": "string",
                    "description": "Your company email address"
                  },
                  "invoiceItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Invoice line items"
                  },
                  "note": {
                    "type": "string",
                    "description": "Notes for the invoice"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Your company contact number"
                  },
                  "postBoxNo": {
                    "type": "string",
                    "description": "Post box number"
                  },
                  "street": {
                    "type": "string",
                    "description": "Your company street"
                  },
                  "client.key": {
                    "type": "string",
                    "description": "Client ID"
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Client display name"
                  },
                  "clientCompany": {
                    "type": "string",
                    "description": "Client company name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Invoice description"
                  },
                  "subTotalPrice": {
                    "type": "number",
                    "description": "Subtotal price"
                  },
                  "salesTax": {
                    "type": "number",
                    "description": "Sales tax amount"
                  },
                  "totalPrice": {
                    "type": "number",
                    "description": "Total price"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice due date"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "invoiceNo": {
                    "type": "string",
                    "description": "Invoice number"
                  },
                  "project.key": {
                    "type": "string",
                    "description": "Project ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Invoice name"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/create-opportunity": {
      "post": {
        "operationId": "oneSuite.create-opportunity",
        "summary": "Create Opportunity",
        "description": "Creates an opportunity in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/create-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Opportunity name from the official create-opportunity docs.",
                    "example": "Q1 Expansion Deal"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Optional company ID to associate with the opportunity at creation time.",
                    "example": "cmo7gzxna02smbo056u59sb9y",
                    "x-mindcloud-advanced": true
                  },
                  "pointOfContactId": {
                    "type": "string",
                    "description": "Optional point of contact people ID.",
                    "example": "cmo7gy9qu02s8bo05g4fdcwqw",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/create-person": {
      "post": {
        "operationId": "oneSuite.create-person",
        "summary": "Create Person",
        "description": "Creates a person in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/create-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the person from the official create-people docs.",
                    "example": "Jane Doe"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Optional company ID to associate with the person at creation time.",
                    "example": "cmo7gu3gq02robo05g27zy4n0",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "avatar": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bgColor": {
                            "type": "string"
                          },
                          "brandColour": {
                            "type": "string"
                          },
                          "businessId": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "clientId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "company": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "countryDialCode": {
                            "type": "string"
                          },
                          "countryFlag": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "user": {
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "type": "string"
                                  },
                                  "profileImg": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdById": {
                            "type": "string"
                          },
                          "customSocialMediaUrl": {
                            "type": "string"
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "fgColor": {
                            "type": "string"
                          },
                          "hiddenInCrm": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "industryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "instagramUrl": {
                            "type": "string"
                          },
                          "invitationId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isClient": {
                            "type": "boolean"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sourceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "state": {
                            "type": "string"
                          },
                          "threadUrl": {
                            "type": "string"
                          },
                          "tiktokUrl": {
                            "type": "string"
                          },
                          "twitterUrl": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userToBusinessId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "youtubeUrl": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSuite/latest/actions/create-project": {
      "post": {
        "operationId": "oneSuite.create-project",
        "summary": "Create Project",
        "description": "Creates a project in OneSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSuite/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the project"
                  },
                  "status.key": {
                    "type": "string",
                    "description": "Project status key"
                  },
                  "client.key": {
                    "type": "string",
                    "description": "Client ID for the project"
                  },
                  "privacy": {
                    "type": "string",
                    "description": "Project privacy",
                    "enum": [
                      "0",
                      "1"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
[...]
