{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DealMachine Universal API",
    "version": "0.0.6",
    "description": "Manage real estate leads, lists, tags, notes, and mail sequences"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dealMachine/latest/actions/add-lead": {
      "post": {
        "operationId": "dealMachine.add-lead",
        "summary": "Add Lead",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/add-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "string",
                    "description": "Street address for the lead when using parsed address input."
                  },
                  "address2": {
                    "type": "string",
                    "description": "Optional second address line when using parsed address input."
                  },
                  "city": {
                    "type": "string",
                    "description": "City for the lead when using parsed address input."
                  },
                  "state": {
                    "type": "string",
                    "description": "State for the lead when using parsed address input."
                  },
                  "zip": {
                    "type": "string",
                    "description": "ZIP code for the lead when using parsed address input."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude for the lead when using coordinate input."
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude for the lead when using coordinate input."
                  },
                  "fullAddress": {
                    "type": "string",
                    "description": "Single-string full address for the lead when using full-address input."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "buildingSquareFeet": {
                            "type": "number"
                          },
                          "campaignStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equityAmount": {
                            "type": "number"
                          },
                          "equityPercent": {
                            "type": "string"
                          },
                          "estimatedRepairCost": {
                            "type": "number"
                          },
                          "estimatedValue": {
                            "type": "number"
                          },
                          "hasEmailAddress": {
                            "type": "boolean"
                          },
                          "hasPhoneNumber": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVacant": {
                            "type": "boolean"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "leadStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "listingAgentEmail": {
                            "type": "string"
                          },
                          "listingAgentName": {
                            "type": "string"
                          },
                          "listingAgentPhone": {
                            "type": "string"
                          },
                          "lists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "listType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mailDesign": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mailSequence": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "marketStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "matchedLead": {
                            "type": "boolean"
                          },
                          "mortgageAmount": {
                            "type": "number"
                          },
                          "numberOfStackedLists": {
                            "type": "number"
                          },
                          "owner1Name": {
                            "type": "string"
                          },
                          "owner2Name": {
                            "type": "string"
                          },
                          "ownerAddressFull": {
                            "type": "string"
                          },
                          "ownerLocation": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "propertyAddressCity": {
                            "type": "string"
                          },
                          "propertyAddressFull": {
                            "type": "string"
                          },
                          "propertyAddressLine1": {
                            "type": "string"
                          },
                          "propertyAddressState": {
                            "type": "string"
                          },
                          "propertyAddressZipcode": {
                            "type": "string"
                          },
                          "propertyLatitude": {
                            "type": "string"
                          },
                          "propertyLongitude": {
                            "type": "string"
                          },
                          "propertyType": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "saleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "salePrice": {
                            "type": "number"
                          },
                          "totalBaths": {
                            "type": "string"
                          },
                          "uniqueOwnerType": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dealMachine/latest/actions/add-lead-to-lists": {
      "put": {
        "operationId": "dealMachine.add-lead-to-lists",
        "summary": "Add Lead To Lists",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/add-lead-to-lists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "leadId",
                  "listIds"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadId": {
                    "type": "number",
                    "description": "The DealMachine lead ID."
                  },
                  "listIds": {
                    "type": "string",
                    "description": "One or more DealMachine list IDs. Use a comma-separated string when sending multiple IDs."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "buildingSquareFeet": {
                            "type": "number"
                          },
                          "campaignStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equityAmount": {
                            "type": "number"
                          },
                          "equityPercent": {
                            "type": "string"
                          },
                          "estimatedRepairCost": {
                            "type": "number"
                          },
                          "estimatedValue": {
                            "type": "number"
                          },
                          "hasEmailAddress": {
                            "type": "boolean"
                          },
                          "hasPhoneNumber": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVacant": {
                            "type": "boolean"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "leadStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "listingAgentEmail": {
                            "type": "string"
                          },
                          "listingAgentName": {
                            "type": "string"
                          },
                          "listingAgentPhone": {
                            "type": "string"
                          },
                          "lists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "listType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mailDesign": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mailSequence": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "marketStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "matchedLead": {
                            "type": "boolean"
                          },
                          "mortgageAmount": {
                            "type": "number"
                          },
                          "numberOfStackedLists": {
                            "type": "number"
                          },
                          "owner1Name": {
                            "type": "string"
                          },
                          "owner2Name": {
                            "type": "string"
                          },
                          "ownerAddressFull": {
                            "type": "string"
                          },
                          "ownerLocation": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "propertyAddressCity": {
                            "type": "string"
                          },
                          "propertyAddressFull": {
                            "type": "string"
                          },
                          "propertyAddressLine1": {
                            "type": "string"
                          },
                          "propertyAddressState": {
                            "type": "string"
                          },
                          "propertyAddressZipcode": {
                            "type": "string"
                          },
                          "propertyLatitude": {
                            "type": "string"
                          },
                          "propertyLongitude": {
                            "type": "string"
                          },
                          "propertyType": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "saleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "salePrice": {
                            "type": "number"
                          },
                          "totalBaths": {
                            "type": "string"
                          },
                          "uniqueOwnerType": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dealMachine/latest/actions/add-tags-to-lead": {
      "put": {
        "operationId": "dealMachine.add-tags-to-lead",
        "summary": "Add Tags To Lead",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/add-tags-to-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "leadId",
                  "tagIds"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadId": {
                    "type": "number",
                    "description": "The DealMachine lead ID."
                  },
                  "tagIds": {
                    "type": "string",
                    "description": "One or more DealMachine tag IDs. Use a comma-separated string when sending multiple IDs."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "buildingSquareFeet": {
                            "type": "number"
                          },
                          "campaignStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equityAmount": {
                            "type": "number"
                          },
                          "equityPercent": {
                            "type": "string"
                          },
                          "estimatedRepairCost": {
                            "type": "number"
                          },
                          "estimatedValue": {
                            "type": "number"
                          },
                          "hasEmailAddress": {
                            "type": "boolean"
                          },
                          "hasPhoneNumber": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVacant": {
                            "type": "boolean"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "leadStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "listingAgentEmail": {
                            "type": "string"
                          },
                          "listingAgentName": {
                            "type": "string"
                          },
                          "listingAgentPhone": {
                            "type": "string"
                          },
                          "lists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "listType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mailDesign": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mailSequence": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "marketStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "matchedLead": {
                            "type": "boolean"
                          },
                          "mortgageAmount": {
                            "type": "number"
                          },
                          "numberOfStackedLists": {
                            "type": "number"
                          },
                          "owner1Name": {
                            "type": "string"
                          },
                          "owner2Name": {
                            "type": "string"
                          },
                          "ownerAddressFull": {
                            "type": "string"
                          },
                          "ownerLocation": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "propertyAddressCity": {
                            "type": "string"
                          },
                          "propertyAddressFull": {
                            "type": "string"
                          },
                          "propertyAddressLine1": {
                            "type": "string"
                          },
                          "propertyAddressState": {
                            "type": "string"
                          },
                          "propertyAddressZipcode": {
                            "type": "string"
                          },
                          "propertyLatitude": {
                            "type": "string"
                          },
                          "propertyLongitude": {
                            "type": "string"
                          },
                          "propertyType": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "saleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "salePrice": {
                            "type": "number"
                          },
                          "totalBaths": {
                            "type": "string"
                          },
                          "uniqueOwnerType": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dealMachine/latest/actions/assign-team-member-to-lead": {
      "put": {
        "operationId": "dealMachine.assign-team-member-to-lead",
        "summary": "Assign Team Member To Lead",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/assign-team-member-to-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "leadId",
                  "assignToId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadId": {
                    "type": "number",
                    "description": "The DealMachine lead ID."
                  },
                  "assignToId": {
                    "type": "number",
                    "description": "The DealMachine team member ID to assign to the lead."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "buildingSquareFeet": {
                            "type": "number"
                          },
                          "campaignStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equityAmount": {
                            "type": "number"
                          },
                          "equityPercent": {
                            "type": "string"
                          },
                          "estimatedRepairCost": {
                            "type": "number"
                          },
                          "estimatedValue": {
                            "type": "number"
                          },
                          "hasEmailAddress": {
                            "type": "boolean"
                          },
                          "hasPhoneNumber": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVacant": {
                            "type": "boolean"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "leadStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "listingAgentEmail": {
                            "type": "string"
                          },
                          "listingAgentName": {
                            "type": "string"
                          },
                          "listingAgentPhone": {
                            "type": "string"
                          },
                          "lists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "listType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mailDesign": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mailSequence": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "marketStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "matchedLead": {
                            "type": "boolean"
                          },
                          "mortgageAmount": {
                            "type": "number"
                          },
                          "numberOfStackedLists": {
                            "type": "number"
                          },
                          "owner1Name": {
                            "type": "string"
                          },
                          "owner2Name": {
                            "type": "string"
                          },
                          "ownerAddressFull": {
                            "type": "string"
                          },
                          "ownerLocation": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "propertyAddressCity": {
                            "type": "string"
                          },
                          "propertyAddressFull": {
                            "type": "string"
                          },
                          "propertyAddressLine1": {
                            "type": "string"
                          },
                          "propertyAddressState": {
                            "type": "string"
                          },
                          "propertyAddressZipcode": {
                            "type": "string"
                          },
                          "propertyLatitude": {
                            "type": "string"
                          },
                          "propertyLongitude": {
                            "type": "string"
                          },
                          "propertyType": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "saleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "salePrice": {
                            "type": "number"
                          },
                          "totalBaths": {
                            "type": "string"
                          },
                          "uniqueOwnerType": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dealMachine/latest/actions/create-lead-note": {
      "post": {
        "operationId": "dealMachine.create-lead-note",
        "summary": "Create Lead Note",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/create-lead-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "leadId",
                  "note"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadId": {
                    "type": "number",
                    "description": "The DealMachine lead ID."
                  },
                  "note": {
                    "type": "string",
                    "description": "The note text to create on the lead."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "buildingSquareFeet": {
                            "type": "number"
                          },
                          "campaignStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equityAmount": {
                            "type": "number"
                          },
                          "equityPercent": {
                            "type": "string"
                          },
                          "estimatedRepairCost": {
                            "type": "number"
                          },
                          "estimatedValue": {
                            "type": "number"
                          },
                          "hasEmailAddress": {
                            "type": "boolean"
                          },
                          "hasPhoneNumber": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVacant": {
                            "type": "boolean"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "leadStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "listingAgentEmail": {
                            "type": "string"
                          },
                          "listingAgentName": {
                            "type": "string"
                          },
                          "listingAgentPhone": {
                            "type": "string"
                          },
                          "lists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "listType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mailDesign": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mailSequence": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "marketStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "matchedLead": {
                            "type": "boolean"
                          },
                          "mortgageAmount": {
                            "type": "number"
                          },
                          "numberOfStackedLists": {
                            "type": "number"
                          },
                          "owner1Name": {
                            "type": "string"
                          },
                          "owner2Name": {
                            "type": "string"
                          },
                          "ownerAddressFull": {
                            "type": "string"
                          },
                          "ownerLocation": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "propertyAddressCity": {
                            "type": "string"
                          },
                          "propertyAddressFull": {
                            "type": "string"
                          },
                          "propertyAddressLine1": {
                            "type": "string"
                          },
                          "propertyAddressState": {
                            "type": "string"
                          },
                          "propertyAddressZipcode": {
                            "type": "string"
                          },
                          "propertyLatitude": {
                            "type": "string"
                          },
                          "propertyLongitude": {
                            "type": "string"
                          },
                          "propertyType": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "saleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "salePrice": {
                            "type": "number"
                          },
                          "totalBaths": {
                            "type": "string"
                          },
                          "uniqueOwnerType": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dealMachine/latest/actions/delete-lead": {
      "delete": {
        "operationId": "dealMachine.delete-lead",
        "summary": "Delete Lead",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/delete-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": true,
            "description": "The DealMachine lead ID.",
            "schema": {
              "type": "number",
              "description": "The DealMachine lead ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dealMachine/latest/actions/end-lead-mail-sequence": {
      "put": {
        "operationId": "dealMachine.end-lead-mail-sequence",
        "summary": "End Lead Mail Sequence",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/end-lead-mail-sequence"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "leadId",
                  "mailerCampaignId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadId": {
                    "type": "number",
                    "description": "The DealMachine lead ID."
                  },
                  "mailerCampaignId": {
                    "type": "string",
                    "description": "The DealMachine mail sequence ID to end for the lead."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "buildingSquareFeet": {
                            "type": "number"
                          },
                          "campaignStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equityAmount": {
                            "type": "number"
                          },
                          "equityPercent": {
                            "type": "string"
                          },
                          "estimatedRepairCost": {
                            "type": "number"
                          },
                          "estimatedValue": {
                            "type": "number"
                          },
                          "hasEmailAddress": {
                            "type": "boolean"
                          },
                          "hasPhoneNumber": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVacant": {
                            "type": "boolean"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "leadStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "listingAgentEmail": {
                            "type": "string"
                          },
                          "listingAgentName": {
                            "type": "string"
                          },
                          "listingAgentPhone": {
                            "type": "string"
                          },
                          "lists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "listType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mailDesign": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mailSequence": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "marketStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "matchedLead": {
                            "type": "boolean"
                          },
                          "mortgageAmount": {
                            "type": "number"
                          },
                          "numberOfStackedLists": {
                            "type": "number"
                          },
                          "owner1Name": {
                            "type": "string"
                          },
                          "owner2Name": {
                            "type": "string"
                          },
                          "ownerAddressFull": {
                            "type": "string"
                          },
                          "ownerLocation": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "propertyAddressCity": {
                            "type": "string"
                          },
                          "propertyAddressFull": {
                            "type": "string"
                          },
                          "propertyAddressLine1": {
                            "type": "string"
                          },
                          "propertyAddressState": {
                            "type": "string"
                          },
                          "propertyAddressZipcode": {
                            "type": "string"
                          },
                          "propertyLatitude": {
                            "type": "string"
                          },
                          "propertyLongitude": {
                            "type": "string"
                          },
                          "propertyType": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "saleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "salePrice": {
                            "type": "number"
                          },
                          "totalBaths": {
                            "type": "string"
                          },
                          "uniqueOwnerType": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dealMachine/latest/actions/get-lead": {
      "get": {
        "operationId": "dealMachine.get-lead",
        "summary": "Get Lead",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dealMachine/latest/actions/get-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": true,
            "description": "The DealMachine lead ID.",
            "schema": {
              "type": "number",
              "description": "The DealMachine lead ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "buildingSquareFeet": {
                            "type": "number"
                          },
                          "campaignStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equityAmount": {
                            "type": "number"
                          },
                          "equityPercent": {
                            "type": "string"
                          },
                          "estimatedRepairCost": {
                            "type": "number"
                          },
                          "estimatedValue": {
                            "type": "number"
                          },
                          "hasEmailAddress": {
                            "type": "boolean"
                          },
                          "hasPhoneNumber": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVacant": {
                            "type": "boolean"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "leadStatus": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "listingAgentEmail": {
                            "type": "string"
                          },
                          "listingAgentName": {
                            "type": "string"
                          },
                          "listingAgentPhone": {
                            "type": "string"
                          },
                          "lists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "listType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mailDesign": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mailSequence": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "marketStatus": {
[...]
