{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Influenza and Covid-19 Universal API",
    "version": "0.0.2",
    "description": "Access public CDC respiratory surveillance datasets for influenza, COVID-19, RSV, and combined respiratory illness metrics from Data.CDC.gov."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/influenzaAndCovid19/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/influenzaAndCovid19/latest/actions/list-emergency-department-respiratory-daily": {
      "get": {
        "operationId": "influenzaAndCovid19.list-emergency-department-respiratory-daily",
        "summary": "List Emergency Department Respiratory Daily",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/influenzaAndCovid19/latest/actions/list-emergency-department-respiratory-daily"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pathogen",
            "in": "query",
            "required": false,
            "description": "Filter to a CDC pathogen value such as COVID-19, Influenza, RSV, Combined, or ARI.",
            "schema": {
              "type": "string",
              "description": "Filter to a CDC pathogen value such as COVID-19, Influenza, RSV, Combined, or ARI."
            }
          },
          {
            "name": "geography",
            "in": "query",
            "required": false,
            "description": "Filter to a geography value in the CDC dataset, such as United States or a state name.",
            "schema": {
              "type": "string",
              "description": "Filter to a geography value in the CDC dataset, such as United States or a state name."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Filter to an exact CDC date timestamp, for example 2022-09-25T00:00:00.000.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter to an exact CDC date timestamp, for example 2022-09-25T00:00:00.000."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering.",
            "schema": {
              "type": "string",
              "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "CDC observation date."
                          },
                          "geography": {
                            "type": "string",
                            "description": "Geographic area reported by CDC."
                          },
                          "pathogen": {
                            "type": "string",
                            "description": "Respiratory pathogen or illness category."
                          },
                          "percent_visits": {
                            "type": "number",
                            "description": "Percentage of emergency department visits."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/influenzaAndCovid19/latest/actions/list-emergency-department-visits-by-demographic-category": {
      "get": {
        "operationId": "influenzaAndCovid19.list-emergency-department-visits-by-demographic-category",
        "summary": "List Emergency Department Visits by Demographic Category",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/influenzaAndCovid19/latest/actions/list-emergency-department-visits-by-demographic-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pathogen",
            "in": "query",
            "required": false,
            "description": "Filter to a CDC pathogen value such as COVID-19, Influenza, RSV, Combined, or ARI.",
            "schema": {
              "type": "string",
              "description": "Filter to a CDC pathogen value such as COVID-19, Influenza, RSV, Combined, or ARI."
            }
          },
          {
            "name": "geography",
            "in": "query",
            "required": false,
            "description": "Filter to a geography value in the CDC dataset, such as United States or a state name.",
            "schema": {
              "type": "string",
              "description": "Filter to a geography value in the CDC dataset, such as United States or a state name."
            }
          },
          {
            "name": "demographicsType",
            "in": "query",
            "required": false,
            "description": "Filter to the demographic category type reported by CDC, such as Age Group or Sex.",
            "schema": {
              "type": "string",
              "description": "Filter to the demographic category type reported by CDC, such as Age Group or Sex."
            }
          },
          {
            "name": "demographicsValue",
            "in": "query",
            "required": false,
            "description": "Filter to a specific demographic value reported by CDC, such as 50-64 years.",
            "schema": {
              "type": "string",
              "description": "Filter to a specific demographic value reported by CDC, such as 50-64 years."
            }
          },
          {
            "name": "weekEnd",
            "in": "query",
            "required": false,
            "description": "Filter to an exact CDC week ending timestamp, for example 2026-04-18T00:00:00.000.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter to an exact CDC week ending timestamp, for example 2026-04-18T00:00:00.000."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering when exact-match fields are not enough.",
            "schema": {
              "type": "string",
              "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering when exact-match fields are not enough.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "demographics_type": {
                            "type": "string",
                            "description": "Demographic category type."
                          },
                          "demographics_values": {
                            "type": "string",
                            "description": "Demographic value."
                          },
                          "geography": {
                            "type": "string",
                            "description": "Geographic area reported by CDC."
                          },
                          "pathogen": {
                            "type": "string",
                            "description": "Respiratory pathogen or combined respiratory illness category."
                          },
                          "percent_visits": {
                            "type": "number",
                            "description": "Percentage of emergency department visits."
                          },
                          "week_end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "CDC week ending date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/influenzaAndCovid19/latest/actions/list-provisional-respiratory-death-percentages": {
      "get": {
        "operationId": "influenzaAndCovid19.list-provisional-respiratory-death-percentages",
        "summary": "List Provisional Respiratory Death Percentages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/influenzaAndCovid19/latest/actions/list-provisional-respiratory-death-percentages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pathogen",
            "in": "query",
            "required": false,
            "description": "Filter to a CDC pathogen value, such as COVID-19, Influenza, or RSV.",
            "schema": {
              "type": "string",
              "description": "Filter to a CDC pathogen value, such as COVID-19, Influenza, or RSV."
            }
          },
          {
            "name": "weekEnd",
            "in": "query",
            "required": false,
            "description": "Filter to an exact CDC week ending timestamp, for example 2024-10-05T00:00:00.000.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter to an exact CDC week ending timestamp, for example 2024-10-05T00:00:00.000."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering.",
            "schema": {
              "type": "string",
              "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pathogen": {
                            "type": "string",
                            "description": "Respiratory pathogen."
                          },
                          "percent_deaths": {
                            "type": "number",
                            "description": "Provisional percentage of total deaths."
                          },
                          "week_end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "CDC week ending date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/influenzaAndCovid19/latest/actions/list-viral-respiratory-test-positivity": {
      "get": {
        "operationId": "influenzaAndCovid19.list-viral-respiratory-test-positivity",
        "summary": "List Viral Respiratory Test Positivity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/influenzaAndCovid19/latest/actions/list-viral-respiratory-test-positivity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pathogen",
            "in": "query",
            "required": false,
            "description": "Filter to a CDC pathogen value, such as COVID-19, Influenza, or RSV.",
            "schema": {
              "type": "string",
              "description": "Filter to a CDC pathogen value, such as COVID-19, Influenza, or RSV."
            }
          },
          {
            "name": "weekEnd",
            "in": "query",
            "required": false,
            "description": "Filter to an exact CDC week ending timestamp, for example 2022-10-01T00:00:00.000.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter to an exact CDC week ending timestamp, for example 2022-10-01T00:00:00.000."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering.",
            "schema": {
              "type": "string",
              "description": "Optional advanced SoQL where clause for CDC Data.CDC.gov filtering.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pathogen": {
                            "type": "string",
                            "description": "Respiratory pathogen."
                          },
                          "percent_test_positivity": {
                            "type": "number",
                            "description": "Percent of tests positive for the pathogen."
                          },
                          "week_end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "CDC week ending date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
