{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Better Proposals Universal API",
    "version": "0.0.6",
    "description": "Create, send, track, and sign Better Proposals proposals and quotes from MindCloud using the official Better Proposals API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/betterProposals/latest/actions/create-company": {
      "post": {
        "operationId": "betterProposals.create-company",
        "summary": "Create Company",
        "description": "Creates a company in Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Company name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "companyCRMID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "demoCompany": {
                            "type": "string"
                          },
                          "editedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/create-document-type": {
      "post": {
        "operationId": "betterProposals.create-document-type",
        "summary": "Create Document Type",
        "description": "Creates a document type in Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/create-document-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "typeName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "typeName": {
                    "type": "string",
                    "description": "Document type name."
                  },
                  "typeColour": {
                    "type": "string",
                    "description": "Colour for the new document type. Default is #01A3EF.",
                    "default": "#01A3EF"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "categoryIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateDeleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "displayOrder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "editedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "typeColour": {
                            "type": "string"
                          },
                          "typeIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "typeName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/create-proposal": {
      "post": {
        "operationId": "betterProposals.create-proposal",
        "summary": "Create Proposal",
        "description": "Creates a proposal in Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/create-proposal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "company"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "company": {
                    "type": "string",
                    "description": "Either a company ID or company name. When a name is provided, Better Proposals creates the company if needed."
                  },
                  "cover": {
                    "type": "string",
                    "description": "Cover ID."
                  },
                  "template": {
                    "type": "string",
                    "description": "Template ID. When provided, Better Proposals copies the template into the new proposal."
                  },
                  "documentType": {
                    "type": "string",
                    "description": "Document type ID or name. If omitted, Better Proposals uses the default proposal document type."
                  },
                  "brand": {
                    "type": "string",
                    "description": "Brand ID. If omitted, Better Proposals uses the default brand."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code in 3-letter format, for example USD."
                  },
                  "tax": {
                    "type": "boolean",
                    "description": "Whether to apply tax. If omitted, Better Proposals uses the default brand setting."
                  },
                  "taxLabel": {
                    "type": "string",
                    "description": "Tax label. If omitted, Better Proposals uses the default brand setting."
                  },
                  "taxAmount": {
                    "type": "number",
                    "description": "Tax amount. If omitted, Better Proposals uses the default brand setting."
                  },
                  "contacts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact objects with FirstName, Surname, Email, and Signature fields."
                  },
                  "mergeTags[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of custom merge-tag objects with tag and value fields."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brandID": {
                            "type": "string"
                          },
                          "companyCRMID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyID": {
                            "type": "string"
                          },
                          "coverHeadline": {
                            "type": "string"
                          },
                          "coverID": {
                            "type": "string"
                          },
                          "coverSubheader": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "preview": {
                            "type": "string"
                          },
                          "proposalView": {
                            "type": "string"
                          },
                          "taxAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxLabel": {
                            "type": "string"
                          },
                          "templateID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/create-proposal-cover": {
      "post": {
        "operationId": "betterProposals.create-proposal-cover",
        "summary": "Create Proposal Cover",
        "description": "Creates a proposal cover in Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/create-proposal-cover"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "brandId": {
                    "type": "string",
                    "description": "Brand ID. If omitted, Better Proposals uses the brand settings defaults."
                  },
                  "coverName": {
                    "type": "string",
                    "description": "Cover name. Default is Untitled.",
                    "default": "Untitled"
                  },
                  "bgColour": {
                    "type": "string",
                    "description": "Background colour value. Default is 111111.",
                    "default": "111111"
                  },
                  "headline": {
                    "type": "string",
                    "description": "Cover headline. Default is Proposal for _________.",
                    "default": "Proposal for _________"
                  },
                  "subheader": {
                    "type": "string",
                    "description": "Cover subheader. Default is Written by ________ for ________.",
                    "default": "Written by ________ for ________"
                  },
                  "textColour": {
                    "type": "string",
                    "description": "Text colour value. Default is ffffff.",
                    "default": "ffffff"
                  },
                  "textAlign": {
                    "type": "string",
                    "description": "Text alignment. Default is left.",
                    "default": "left"
                  },
                  "buttonStyle": {
                    "type": "string",
                    "description": "Button style. Default is round.",
                    "default": "round"
                  },
                  "buttonText": {
                    "type": "string",
                    "description": "Button text. Default is Start Reading Proposal.",
                    "default": "Start Reading Proposal"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "bGColour": {
                            "type": "string"
                          },
                          "bGFilter": {
                            "type": "string"
                          },
                          "bGImageThumb": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "brandID": {
                            "type": "string"
                          },
                          "buttonStyle": {
                            "type": "string"
                          },
                          "buttonText": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "editedBy": {
                            "type": "string"
                          },
                          "headline": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "subheader": {
                            "type": "string"
                          },
                          "textAlign": {
                            "type": "string"
                          },
                          "textColour": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/create-quote": {
      "post": {
        "operationId": "betterProposals.create-quote",
        "summary": "Create Quote",
        "description": "Creates a quote in Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/create-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Company ID."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Template ID. If provided, Better Proposals retrieves the amount from the template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "annualAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "archived": {
                            "type": "string"
                          },
                          "archivedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyID": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "dateAccepted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateArchived": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCompleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateDeleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateMarkedDead": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "editedBy": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "markDead": {
                            "type": "string"
                          },
                          "markedDeadBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "monthlyAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "quarterlyAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "quoteAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "quoteTotal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "vatAmount": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/get-brand-settings": {
      "get": {
        "operationId": "betterProposals.get-brand-settings",
        "summary": "Get Brand Settings",
        "description": "Retrieves brand settings from Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/get-brand-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "currencyID": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "editedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "pageTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "showBadge": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "string"
                          },
                          "taxAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxLabel": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/get-company-details": {
      "get": {
        "operationId": "betterProposals.get-company-details",
        "summary": "Get Company Details",
        "description": "Retrieves company details from Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/get-company-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "The Better Proposals company ID.",
            "schema": {
              "type": "string",
              "description": "The Better Proposals company ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "companyCRMID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "demoCompany": {
                            "type": "string"
                          },
                          "editedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/get-currency-details": {
      "get": {
        "operationId": "betterProposals.get-currency-details",
        "summary": "Get Currency Details",
        "description": "Retrieves currency details from Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/get-currency-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "required": true,
            "description": "The Better Proposals currency ID.",
            "schema": {
              "type": "string",
              "description": "The Better Proposals currency ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currencyCode": {
                            "type": "string"
                          },
                          "currencyName": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "paypalSupport": {
                            "type": "string"
                          },
                          "stripeSupport": {
                            "type": "string"
                          },
                          "zeroDecimal": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/get-custom-merge-tags": {
      "get": {
        "operationId": "betterProposals.get-custom-merge-tags",
        "summary": "Get Custom Merge Tags",
        "description": "Retrieves custom merge tags from Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/get-custom-merge-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number. Default: 1.",
            "schema": {
              "type": "number",
              "description": "Page number. Default: 1.",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Results per page. Default: 10.",
            "schema": {
              "type": "number",
              "description": "Results per page. Default: 10.",
              "default": 10
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "archived": {
                            "type": "string"
                          },
                          "archivedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "cRMSync": {
                            "type": "string"
                          },
                          "cRMTagId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cRMTagName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dateArchived": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "editedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fallback": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tag": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/get-proposal-details": {
      "get": {
        "operationId": "betterProposals.get-proposal-details",
        "summary": "Get Proposal Details",
        "description": "Retrieves proposal details from Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/get-proposal-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "query",
            "required": true,
            "description": "The Better Proposals proposal ID.",
            "schema": {
              "type": "string",
              "description": "The Better Proposals proposal ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approvedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "archived": {
                            "type": "string"
                          },
                          "brandID": {
                            "type": "string"
                          },
                          "companyCRMID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyID": {
                            "type": "string"
                          },
                          "coverHeadline": {
                            "type": "string"
                          },
                          "coverID": {
                            "type": "string"
                          },
                          "coverSubheader": {
                            "type": "string"
                          },
                          "customerJourneyID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dateArchived": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateDeleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateMarkedDead": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateSent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "markDead": {
                            "type": "string"
                          },
                          "originalDateSent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paid": {
                            "type": "string"
                          },
                          "personalMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "preview": {
                            "type": "string"
                          },
                          "proposalView": {
                            "type": "string"
                          },
                          "quoteID": {
                            "type": "string"
                          },
                          "signed": {
                            "type": "string"
                          },
                          "signedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "signedName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subjectLine": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tax": {
                            "type": "string"
                          },
                          "taxAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxLabel": {
                            "type": "string"
                          },
                          "templateID": {
                            "type": "string"
                          },
                          "typeID": {
                            "type": "string"
                          },
                          "viewType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/get-quote-details": {
      "get": {
        "operationId": "betterProposals.get-quote-details",
        "summary": "Get Quote Details",
        "description": "Retrieves quote details from Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/get-quote-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quoteId",
            "in": "query",
            "required": true,
            "description": "The Better Proposals quote ID.",
            "schema": {
              "type": "string",
              "description": "The Better Proposals quote ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "annualAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "archived": {
                            "type": "string"
                          },
                          "archivedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyID": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "dateAccepted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateArchived": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCompleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateDeleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateMarkedDead": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "editedBy": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "markDead": {
                            "type": "string"
                          },
                          "markedDeadBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "monthlyAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "quarterlyAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "quoteAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "quoteTotal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "vatAmount": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterProposals/latest/actions/get-settings": {
      "get": {
        "operationId": "betterProposals.get-settings",
        "summary": "Get Settings",
        "description": "Retrieves account settings from Better Proposals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterProposals/latest/actions/get-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountID": {
                            "type": "string"
                          },
                          "currencyID": {
                            "type": "string"
                          },
                          "customerJourneysActive": {
                            "type": "string"
                          },
                          "customerJourneysDefault": {
                            "type": "string"
                          },
                          "dateEdited": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "editedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "string"
                          },
                          "taxAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxLabel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
[...]
