{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "People Data Labs Universal API",
    "version": "0.0.8",
    "description": "Enrich person, company, and IP data with People Data Labs"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/peopleDataLabs/latest/actions/autocomplete": {
      "get": {
        "operationId": "peopleDataLabs.autocomplete",
        "summary": "Autocomplete",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/autocomplete"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "required": true,
            "description": "Autocomplete field value such as company, title, school, skill, location_name, industry, or website.",
            "schema": {
              "type": "string",
              "description": "Autocomplete field value such as company, title, school, skill, location_name, industry, or website."
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "description": "Starting text used as the seed for autocompletion.",
            "schema": {
              "type": "string",
              "description": "Starting text used as the seed for autocompletion."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "alternativeNames": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "displayNameHistory": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "industry": {
                                "type": "string"
                              },
                              "linkedinSlug": {
                                "type": "string"
                              },
                              "locationName": {
                                "type": "string"
                              },
                              "website": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/bulk-enrich-companies": {
      "get": {
        "operationId": "peopleDataLabs.bulk-enrich-companies",
        "summary": "Bulk Enrich Companies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/bulk-enrich-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requests",
            "in": "query",
            "required": true,
            "description": "Array of 1-100 request objects, each containing a params object for one company enrichment call.",
            "schema": {
              "type": "string",
              "description": "Array of 1-100 request objects, each containing a params object for one company enrichment call."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliatedProfiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "alternativeDomains": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "alternativeNames": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "datasetVersion": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "employeeCount": {
                            "type": "number"
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "founded": {
                            "type": "number"
                          },
                          "fundingStages": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "headline": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "industryV2": {
                            "type": "string"
                          },
                          "lastFundingDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latestFundingStage": {
                            "type": "string"
                          },
                          "likelihood": {
                            "type": "number"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinSlug": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "addressLine2": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "metro": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberFundingRounds": {
                            "type": "number"
                          },
                          "profiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "totalFundingRaised": {
                            "type": "number"
                          },
                          "twitterUrl": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/bulk-enrich-people": {
      "get": {
        "operationId": "peopleDataLabs.bulk-enrich-people",
        "summary": "Bulk Enrich People",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/bulk-enrich-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requests",
            "in": "query",
            "required": true,
            "description": "Array of 1-100 request objects, each containing a params object for one person enrichment call.",
            "schema": {
              "type": "string",
              "description": "Array of 1-100 request objects, each containing a params object for one person enrichment call."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "datasetVersion": {
                            "type": "string"
                          },
                          "education": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "experience": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "interests": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "jobCompanyId": {
                            "type": "string"
                          },
                          "jobCompanyIndustryV2": {
                            "type": "string"
                          },
                          "jobCompanyLinkedinId": {
                            "type": "string"
                          },
                          "jobCompanyLinkedinUrl": {
                            "type": "string"
                          },
                          "jobCompanyName": {
                            "type": "string"
                          },
                          "jobCompanySize": {
                            "type": "string"
                          },
                          "jobCompanyWebsite": {
                            "type": "string"
                          },
                          "jobLastChanged": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "jobLastVerified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "jobStartDate": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "jobTitleClass": {
                            "type": "string"
                          },
                          "jobTitleLevels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "jobTitleRole": {
                            "type": "string"
                          },
                          "jobTitleSubRole": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "linkedinUsername": {
                            "type": "string"
                          },
                          "locationContinent": {
                            "type": "string"
                          },
                          "locationCountry": {
                            "type": "string"
                          },
                          "profiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "twitterUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/clean-company": {
      "get": {
        "operationId": "peopleDataLabs.clean-company",
        "summary": "Clean Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/clean-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "required": true,
            "description": "Company profile URL to standardize into canonical company data.",
            "schema": {
              "type": "string",
              "description": "Company profile URL to standardize into canonical company data."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "facebookUrl": {
                            "type": "string"
                          },
                          "founded": {
                            "type": "number"
                          },
                          "fuzzyMatch": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "industryV2": {
                            "type": "string"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "addressLine2": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "metro": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "twitterUrl": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/clean-location": {
      "get": {
        "operationId": "peopleDataLabs.clean-location",
        "summary": "Clean Location",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/clean-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Unformatted location string to standardize into canonical location data.",
            "schema": {
              "type": "string",
              "description": "Unformatted location string to standardize into canonical location data.",
              "default": "san francisco, california, united states"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "continent": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "geo": {
                            "type": "string"
                          },
                          "locality": {
                            "type": "string"
                          },
                          "metro": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "subregion": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/clean-school": {
      "get": {
        "operationId": "peopleDataLabs.clean-school",
        "summary": "Clean School",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/clean-school"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "School name to standardize into canonical school data.",
            "schema": {
              "type": "string",
              "description": "School name to standardize into canonical school data."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string"
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "continent": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "matchedOn": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "twitterUrl": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/enrich-company": {
      "get": {
        "operationId": "peopleDataLabs.enrich-company",
        "summary": "Enrich Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/enrich-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "required": true,
            "description": "LinkedIn company profile URL used for deterministic company enrichment.",
            "schema": {
              "type": "string",
              "description": "LinkedIn company profile URL used for deterministic company enrichment."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliatedProfiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "alternativeDomains": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "alternativeNames": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "datasetVersion": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "employeeCount": {
                            "type": "number"
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "founded": {
                            "type": "number"
                          },
                          "fundingStages": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "headline": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "industryV2": {
                            "type": "string"
                          },
                          "lastFundingDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latestFundingStage": {
                            "type": "string"
                          },
                          "likelihood": {
                            "type": "number"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinSlug": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "addressLine2": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "metro": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberFundingRounds": {
                            "type": "number"
                          },
                          "profiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "size": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "totalFundingRaised": {
                            "type": "number"
                          },
                          "twitterUrl": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/enrich-ip": {
      "get": {
        "operationId": "peopleDataLabs.enrich-ip",
        "summary": "Enrich IP",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/enrich-ip"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "description": "IPv4 or IPv6 address to enrich.",
            "schema": {
              "type": "string",
              "description": "IPv4 or IPv6 address to enrich."
            }
          },
          {
            "name": "return_if_unmatched",
            "in": "query",
            "required": false,
            "description": "Return IP-specific metadata or location data even when no company match is found.",
            "schema": {
              "type": "boolean",
              "description": "Return IP-specific metadata or location data even when no company match is found.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "return_ip_location",
            "in": "query",
            "required": false,
            "description": "Return IP-specific location info regardless of a company match.",
            "schema": {
              "type": "boolean",
              "description": "Return IP-specific location info regardless of a company match.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "return_ip_metadata",
            "in": "query",
            "required": false,
            "description": "Return IP-specific metadata regardless of a company match.",
            "schema": {
              "type": "boolean",
              "description": "Return IP-specific metadata regardless of a company match.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "return_person",
            "in": "query",
            "required": false,
            "description": "Return person fields associated with the IP when available.",
            "schema": {
              "type": "boolean",
              "description": "Return person fields associated with the IP when available.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datasetVersion": {
                            "type": "string"
                          },
                          "ip": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "continent": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "geo": {
                                    "type": "string"
                                  },
                                  "locality": {
                                    "type": "string"
                                  },
                                  "metro": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "postalCode": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "timezone": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "hosting": {
                                    "type": "boolean"
                                  },
                                  "mobile": {
                                    "type": "boolean"
                                  },
                                  "proxy": {
                                    "type": "boolean"
                                  },
                                  "relay": {
                                    "type": "boolean"
                                  },
                                  "tor": {
                                    "type": "boolean"
                                  },
                                  "version": {
                                    "type": "number"
                                  },
                                  "vpn": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/enrich-person": {
      "get": {
        "operationId": "peopleDataLabs.enrich-person",
        "summary": "Enrich Person",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/enrich-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "required": true,
            "description": "A social profile that the person has used.",
            "schema": {
              "type": "string",
              "description": "A social profile that the person has used."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "datasetVersion": {
                            "type": "string"
                          },
                          "education": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "experience": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "interests": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "jobCompanyId": {
                            "type": "string"
                          },
                          "jobCompanyIndustryV2": {
                            "type": "string"
                          },
                          "jobCompanyLinkedinId": {
                            "type": "string"
                          },
                          "jobCompanyLinkedinUrl": {
                            "type": "string"
                          },
                          "jobCompanyName": {
                            "type": "string"
                          },
                          "jobCompanySize": {
                            "type": "string"
                          },
                          "jobCompanyWebsite": {
                            "type": "string"
                          },
                          "jobLastChanged": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "jobLastVerified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "jobStartDate": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "jobTitleClass": {
                            "type": "string"
                          },
                          "jobTitleLevels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "jobTitleRole": {
                            "type": "string"
                          },
                          "jobTitleSubRole": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "linkedinUsername": {
                            "type": "string"
                          },
                          "locationContinent": {
                            "type": "string"
                          },
                          "locationCountry": {
                            "type": "string"
                          },
                          "profiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "twitterUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peopleDataLabs/latest/actions/search-companies": {
      "get": {
        "operationId": "peopleDataLabs.search-companies",
        "summary": "Search Companies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peopleDataLabs/latest/actions/search-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sql",
            "in": "query",
            "required": true,
            "description": "People Data Labs company search SQL clause in the form SELECT * FROM company WHERE ...",
            "schema": {
              "type": "string",
              "description": "People Data Labs company search SQL clause in the form SELECT * FROM company WHERE ..."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliatedProfiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "alternativeDomains": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "alternativeNames": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "datasetVersion": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "employeeCount": {
                            "type": "number"
                          },
                          "facebookUrl": {
                            "type": "string"
                          },
                          "founded": {
                            "type": "number"
                          },
                          "fundingStages": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "headline": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "industryV2": {
                            "type": "string"
                          },
                          "lastFundingDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latestFundingStage": {
                            "type": "string"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinSlug": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "addressLine2": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "metro": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberFundingRounds": {
                            "type": "number"
                          },
                          "profiles": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "size": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "tags": {
[...]
