{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Transcript Downloader Universal API",
    "version": "0.0.6",
    "description": "Extract transcripts, audio, and profile metadata from YouTube and Instagram"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/transcriptDownloader/latest/actions/create-transcript-with-speaker-labels": {
      "post": {
        "operationId": "transcriptDownloader.create-transcript-with-speaker-labels",
        "summary": "Create Transcript with Speaker Labels",
        "description": "Creates a transcript with speaker labels in Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/create-transcript-with-speaker-labels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transcriptWithSpeakerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transcriptWithSpeakerId": {
                    "type": "string",
                    "description": "The transcript_speaker_id returned from an audio download response."
                  },
                  "includeWebhook": {
                    "type": "string",
                    "description": "A public webhook URL to receive the completed result."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "duration": {
                                "type": "number"
                              },
                              "language": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "transcriptsWithTimeStamps": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "duration": {
                                      "type": "number"
                                    },
                                    "speaker": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "number"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "mediaId": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transcriptSpeakerCost": {
                            "type": "string"
                          },
                          "transcriptSpeakerId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/create-you-tube-transcript": {
      "post": {
        "operationId": "transcriptDownloader.create-you-tube-transcript",
        "summary": "Create YouTube Transcript",
        "description": "Creates a YouTube transcript in Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/create-you-tube-transcript"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "youtubeVideoId",
                  "language"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "youtubeVideoId": {
                    "type": "string",
                    "description": "The YouTube video ID to transcribe."
                  },
                  "language": {
                    "type": "string",
                    "description": "The transcript language code, such as en or de."
                  },
                  "includeComments": {
                    "type": "boolean",
                    "description": "Whether to include video comments in the response."
                  },
                  "includeWebhook": {
                    "type": "string",
                    "description": "A public webhook URL to receive the completed result."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "download": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cost": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "mediaId": {
                                "type": "string"
                              },
                              "response": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "youtubeVideoId": {
                                "type": "string"
                              }
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "video": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "channelId": {
                                "type": "string"
                              },
                              "channelName": {
                                "type": "string"
                              },
                              "channelUrl": {
                                "type": "string"
                              },
                              "commentCount": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "string"
                              },
                              "likeCount": {
                                "type": "number"
                              },
                              "link": {
                                "type": "string"
                              },
                              "playlistName": {
                                "type": "string"
                              },
                              "publishDateUTC": {
                                "type": "string"
                              },
                              "publishedAt": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "title": {
                                "type": "string"
                              },
                              "transcripts": {
                                "type": "string"
                              },
                              "transcriptsWithTimeStamps": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "dur": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "viewCount": {
                                "type": "number"
                              },
                              "youtubeId": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/get-download": {
      "get": {
        "operationId": "transcriptDownloader.get-download",
        "summary": "Get Download",
        "description": "Retrieves a download from Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/get-download"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "downloadId",
            "in": "query",
            "required": true,
            "description": "The download ID returned by a Transcript Downloader create action.",
            "schema": {
              "type": "string",
              "description": "The download ID returned by a Transcript Downloader create action."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioUrl": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "fileUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "mediaId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transcriptSpeakerCost": {
                            "type": "string"
                          },
                          "transcriptSpeakerId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/get-instagram-content": {
      "get": {
        "operationId": "transcriptDownloader.get-instagram-content",
        "summary": "Get Instagram Content",
        "description": "Retrieves Instagram content metadata from Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/get-instagram-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The Instagram post or reel URL.",
            "schema": {
              "type": "string",
              "description": "The Instagram post or reel URL."
            }
          },
          {
            "name": "includeWebhook",
            "in": "query",
            "required": false,
            "description": "A public webhook URL to receive the completed result.",
            "schema": {
              "type": "string",
              "description": "A public webhook URL to receive the completed result."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string"
                          },
                          "altText": {
                            "type": "string"
                          },
                          "audio": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "caption": {
                            "type": "string"
                          },
                          "coauthorProducers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "comments": {
                            "type": "number"
                          },
                          "contentId": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "datePosted": {
                            "type": "string"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "number"
                          },
                          "hashtags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "instagramId": {
                            "type": "string"
                          },
                          "isPaidPartnership": {
                            "type": "boolean"
                          },
                          "isPinned": {
                            "type": "boolean"
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "latestComments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "comment": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "dateOfComment": {
                                  "type": "string"
                                },
                                "likes": {
                                  "type": "number"
                                },
                                "userCommenting": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "length": {
                            "type": "number"
                          },
                          "likes": {
                            "type": "number"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "numComments": {
                            "type": "number"
                          },
                          "partnershipDetails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "photos": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "photosNumber": {
                            "type": "number"
                          },
                          "pk": {
                            "type": "string"
                          },
                          "postContent": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "index": {
                                  "type": "number"
                                },
                                "instagramId": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "postId": {
                            "type": "string"
                          },
                          "postsCount": {
                            "type": "number"
                          },
                          "productType": {
                            "type": "string"
                          },
                          "profileImageLink": {
                            "type": "string"
                          },
                          "profileUrl": {
                            "type": "string"
                          },
                          "shortcode": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taggedUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "fullName": {
                                  "type": "string"
                                },
                                "isVerified": {
                                  "type": "boolean"
                                },
                                "username": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userPosted": {
                            "type": "string"
                          },
                          "userPostedId": {
                            "type": "string"
                          },
                          "videoPlayCount": {
                            "type": "number"
                          },
                          "videos": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "videosDuration": {
                            "type": "number"
                          },
                          "videoUrl": {
                            "type": "string"
                          },
                          "videoViewCount": {
                            "type": "number"
                          },
                          "views": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/get-instagram-profile": {
      "get": {
        "operationId": "transcriptDownloader.get-instagram-profile",
        "summary": "Get Instagram Profile",
        "description": "Retrieves an Instagram profile from Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/get-instagram-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The Instagram profile URL.",
            "schema": {
              "type": "string",
              "description": "The Instagram profile URL."
            }
          },
          {
            "name": "includeWebhook",
            "in": "query",
            "required": false,
            "description": "A public webhook URL to receive the completed result.",
            "schema": {
              "type": "string",
              "description": "A public webhook URL to receive the completed result."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string"
                          },
                          "avgEngagement": {
                            "type": "number"
                          },
                          "biography": {
                            "type": "string"
                          },
                          "bioHashtags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "businessAddress": {
                            "type": "string"
                          },
                          "categoryName": {
                            "type": "string"
                          },
                          "download": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cost": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "mediaId": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "downloadId": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "externalUrl": {
                            "type": "string"
                          },
                          "fbid": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "number"
                          },
                          "following": {
                            "type": "number"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "hasChannel": {
                            "type": "boolean"
                          },
                          "highlights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "highlightsCount": {
                            "type": "number"
                          },
                          "instagramId": {
                            "type": "string"
                          },
                          "isBusinessAccount": {
                            "type": "boolean"
                          },
                          "isJoinedRecently": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "isProfessionalAccount": {
                            "type": "boolean"
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "lastResponse": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "downloadId": {
                                "type": "string"
                              },
                              "response": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              }
                            }
                          },
                          "listCost": {
                            "type": "number"
                          },
                          "listId": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "postsCount": {
                            "type": "number"
                          },
                          "profileImageLink": {
                            "type": "string"
                          },
                          "profileName": {
                            "type": "string"
                          },
                          "profileUrl": {
                            "type": "string"
                          },
                          "relatedAccounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "instagramId": {
                                  "type": "string"
                                },
                                "isPrivate": {
                                  "type": "boolean"
                                },
                                "isVerified": {
                                  "type": "boolean"
                                },
                                "profileName": {
                                  "type": "string"
                                },
                                "userName": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/get-you-tube-channel-profile": {
      "get": {
        "operationId": "transcriptDownloader.get-you-tube-channel-profile",
        "summary": "Get YouTube Channel Profile",
        "description": "Retrieves a YouTube channel profile from Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/get-you-tube-channel-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The YouTube channel URL.",
            "schema": {
              "type": "string",
              "description": "The YouTube channel URL."
            }
          },
          {
            "name": "includeWebhook",
            "in": "query",
            "required": false,
            "description": "A public webhook URL to receive the completed result.",
            "schema": {
              "type": "string",
              "description": "A public webhook URL to receive the completed result."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cost": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "creationDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "download": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cost": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "response": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "youtubeVideoId": {
                                "type": "string"
                              }
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscriberCount": {
                            "type": "number"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalMedia": {
                            "type": "number"
                          },
                          "totalViews": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "videos": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "duration": {
                                  "type": "number"
                                },
                                "publishedAt": {
                                  "type": "string"
                                },
                                "thumbnail": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "youtubeId": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "youtubeId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/get-you-tube-transcript": {
      "get": {
        "operationId": "transcriptDownloader.get-you-tube-transcript",
        "summary": "Get YouTube Transcript",
        "description": "Retrieves a YouTube transcript from Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/get-you-tube-transcript"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "downloadId",
            "in": "query",
            "required": true,
            "description": "The transcript download ID returned by a create transcript action.",
            "schema": {
              "type": "string",
              "description": "The transcript download ID returned by a create transcript action."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "download": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cost": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "mediaId": {
                                "type": "string"
                              },
                              "response": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "youtubeVideoId": {
                                "type": "string"
                              }
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "video": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "channelId": {
                                "type": "string"
                              },
                              "channelName": {
                                "type": "string"
                              },
                              "channelUrl": {
                                "type": "string"
                              },
                              "commentCount": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "string"
                              },
                              "likeCount": {
                                "type": "number"
                              },
                              "link": {
                                "type": "string"
                              },
                              "playlistName": {
                                "type": "string"
                              },
                              "publishDateUTC": {
                                "type": "string"
                              },
                              "publishedAt": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "title": {
                                "type": "string"
                              },
                              "transcripts": {
                                "type": "string"
                              },
                              "transcriptsWithTimeStamps": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "dur": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "viewCount": {
                                "type": "number"
                              },
                              "youtubeId": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/initialize-instagram-audio-download": {
      "post": {
        "operationId": "transcriptDownloader.initialize-instagram-audio-download",
        "summary": "Initialize Instagram Audio Download",
        "description": "Creates an Instagram audio download in Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/initialize-instagram-audio-download"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The Instagram post or reel URL."
                  },
                  "includeWebhook": {
                    "type": "string",
                    "description": "A public webhook URL to receive the completed result."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioUrl": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "string"
                          },
                          "downloadId": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "fileUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "mediaId": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transcriptSpeakerCost": {
                            "type": "string"
                          },
                          "transcriptSpeakerId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/initialize-you-tube-audio-download": {
      "post": {
        "operationId": "transcriptDownloader.initialize-you-tube-audio-download",
        "summary": "Initialize YouTube Audio Download",
        "description": "Creates a YouTube audio download in Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/initialize-you-tube-audio-download"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "youtubeVideoId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "youtubeVideoId": {
                    "type": "string",
                    "description": "The YouTube video ID to process."
                  },
                  "includeWebhook": {
                    "type": "string",
                    "description": "A public webhook URL to receive the completed result."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioUrl": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "fileUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "mediaId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transcriptSpeakerCost": {
                            "type": "string"
                          },
                          "transcriptSpeakerId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/transcriptDownloader/latest/actions/list-instagram-posts-and-reels": {
      "get": {
        "operationId": "transcriptDownloader.list-instagram-posts-and-reels",
        "summary": "List Instagram Posts and Reels",
        "description": "Retrieves Instagram posts and reels from Transcript Downloader.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/transcriptDownloader/latest/actions/list-instagram-posts-and-reels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": true,
            "description": "The list ID returned by the Instagram profile action.",
            "schema": {
              "type": "string",
              "description": "The list ID returned by the Instagram profile action."
            }
          },
          {
            "name": "maxAgeDays",
            "in": "query",
            "required": false,
            "description": "Only return posts and reels newer than this many days.",
            "schema": {
              "type": "number",
              "description": "Only return posts and reels newer than this many days."
            }
          },
          {
            "name": "includeWebhook",
            "in": "query",
            "required": false,
            "description": "A public webhook URL to receive the completed result.",
            "schema": {
              "type": "string",
              "description": "A public webhook URL to receive the completed result."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "downloads": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "posts": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "cost": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "reels": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "cost": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "posts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "account": {
                                  "type": "string"
                                },
                                "audio": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "caption": {
                                  "type": "string"
                                },
                                "comments": {
                                  "type": "number"
                                },
                                "contentType": {
                                  "type": "string"
                                },
                                "datePosted": {
                                  "type": "string"
                                },
                                "datetime": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "images": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "instagramId": {
                                  "type": "string"
                                },
                                "likes": {
                                  "type": "number"
                                },
                                "location": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "numComments": {
                                  "type": "number"
                                },
                                "photos": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "photosNumber": {
                                  "type": "number"
                                },
                                "postId": {
                                  "type": "string"
                                },
                                "shortcode": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "userPosted": {
                                  "type": "string"
                                },
                                "videos": {
                                  "type": "array",
[...]
