{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Box Universal API",
    "version": "0.0.17",
    "description": "Connect Box to search content, inspect the authenticated user, and work with files and folders through the Box API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/box/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/box/latest/actions/commit-upload-session": {
      "post": {
        "operationId": "box.commit-upload-session",
        "summary": "Commit Upload Session",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/commit-upload-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "sessionId",
                  "wholeFileSha1",
                  "parts"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Upload session ID returned by Create Upload Session.",
                    "example": "578EAA0B34295198B0E32B085769932C"
                  },
                  "wholeFileSha1": {
                    "type": "string",
                    "description": "The complete file in base64, the same value the parts were sliced from. Box needs a checksum of the whole file to close the upload and this action works it out for you. A 40-character hexadecimal SHA-1 is also accepted if you already have one.",
                    "example": "SGVsbG8gQm94"
                  },
                  "parts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of part objects returned by Upload Part, ordered by offset."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentCreatedAt": {
                            "type": "string"
                          },
                          "contentModifiedAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "login": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "string"
                          },
                          "etag": {
                            "type": "string"
                          },
                          "fileVersion": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "sha1": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "itemStatus": {
                            "type": "string"
                          },
                          "modifiedAt": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "login": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownedBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "login": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "parent": {
                            "type": "object",
                            "properties": {
                              "etag": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "sequenceId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pathCollection": {
                            "type": "object",
                            "properties": {
                              "entries": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "etag": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "sequenceId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "totalCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "purgedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sequenceId": {
                            "type": "string"
                          },
                          "sha1": {
                            "type": "string"
                          },
                          "sharedLink": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "size": {
                            "type": "number"
                          },
                          "trashedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/box/latest/actions/create-folder": {
      "post": {
        "operationId": "box.create-folder",
        "summary": "Create Folder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "parentFolderId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the new folder.",
                    "example": "Codex Box Test Folder"
                  },
                  "parentFolderId": {
                    "type": "string",
                    "description": "Parent Box folder ID. Use `0` to create the folder in the root folder.",
                    "example": "0",
                    "default": "0"
                  },
                  "fields": {
                    "type": "string",
                    "description": "Optional comma-separated list of folder fields to include in the response.",
                    "example": "id,type,name,parent,path_collection",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentCreatedAt": {
                            "type": "string"
                          },
                          "contentModifiedAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "login": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "string"
                          },
                          "etag": {
                            "type": "string"
                          },
                          "folderUploadEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "itemCollection": {
                            "type": "object",
                            "properties": {
                              "limit": {
                                "type": "number"
                              },
                              "offset": {
                                "type": "number"
                              },
                              "order": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "by": {
                                      "type": "string"
                                    },
                                    "direction": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "totalCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "itemStatus": {
                            "type": "string"
                          },
                          "modifiedAt": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "login": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownedBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "login": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "parent": {
                            "type": "object",
                            "properties": {
                              "etag": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "sequenceId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pathCollection": {
                            "type": "object",
                            "properties": {
                              "entries": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "etag": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "sequenceId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "totalCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "purgedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sequenceId": {
                            "type": "string"
                          },
                          "sharedLink": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "size": {
                            "type": "number"
                          },
                          "trashedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/box/latest/actions/create-upload-session": {
      "post": {
        "operationId": "box.create-upload-session",
        "summary": "Create Upload Session",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/create-upload-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "folderId",
                  "fileSize",
                  "fileName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "folderId": {
                    "type": "string",
                    "description": "Parent Box folder ID. Use `0` for the root folder.",
                    "example": "0",
                    "default": "0"
                  },
                  "fileSize": {
                    "type": "number",
                    "description": "Total file size in bytes, not the length of its base64 representation.",
                    "example": 1048576
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Name of the file to upload.",
                    "example": "report.csv"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "numPartsProcessed": {
                            "type": "number"
                          },
                          "partSize": {
                            "type": "number"
                          },
                          "sessionEndpoints": {
                            "type": "object",
                            "properties": {
                              "abort": {
                                "type": "string"
                              },
                              "commit": {
                                "type": "string"
                              },
                              "listParts": {
                                "type": "string"
                              },
                              "logEvent": {
                                "type": "string"
                              },
                              "plan": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "uploadPart": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sessionExpiresAt": {
                            "type": "string"
                          },
                          "totalParts": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/box/latest/actions/get-current-user": {
      "get": {
        "operationId": "box.get-current-user",
        "summary": "Get Current User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatar_url": {
                            "type": "string",
                            "description": "URL of the user's avatar image."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the user object was created."
                          },
                          "enterprise": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Representation of the user's enterprise."
                          },
                          "external_app_user_id": {
                            "type": "string",
                            "description": "External identifier for an app user when present."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Root hostname for Box links for this user."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier for this user."
                          },
                          "is_platform_access_only": {
                            "type": "boolean",
                            "description": "Whether the user is an App User."
                          },
                          "language": {
                            "type": "string",
                            "description": "The user's language."
                          },
                          "login": {
                            "type": "string",
                            "description": "The primary email address of this user."
                          },
                          "max_upload_size": {
                            "type": "number",
                            "description": "The maximum individual file size in bytes the user can upload."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the user object was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The display name of this user."
                          },
                          "role": {
                            "type": "string",
                            "description": "The user's enterprise role."
                          },
                          "space_amount": {
                            "type": "number",
                            "description": "The user's total available space in bytes."
                          },
                          "space_used": {
                            "type": "number",
                            "description": "The amount of space in use by the user."
                          },
                          "status": {
                            "type": "string",
                            "description": "The user's account status."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The user's timezone."
                          },
                          "type": {
                            "type": "string",
                            "description": "Always user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/box/latest/actions/get-folder": {
      "get": {
        "operationId": "box.get-folder",
        "summary": "Get Folder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/get-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of folder fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of folder fields to include in the response.",
              "example": "id,type,name,parent,path_collection,size",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "The Box folder ID. Use `0` for the root folder.",
            "schema": {
              "type": "string",
              "description": "The Box folder ID. Use `0` for the root folder.",
              "example": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the folder was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional folder description."
                          },
                          "id": {
                            "type": "string",
                            "description": "The folder ID."
                          },
                          "item_status": {
                            "type": "string",
                            "description": "The item status."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the folder was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The folder name."
                          },
                          "parent": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The parent folder."
                          },
                          "path_collection": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The folder path from the root."
                          },
                          "size": {
                            "type": "number",
                            "description": "The total size of the folder contents in bytes."
                          },
                          "type": {
                            "type": "string",
                            "description": "Always folder."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/box/latest/actions/list-root-folder-items": {
      "get": {
        "operationId": "box.list-root-folder-items",
        "summary": "List Root Folder Items",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/list-root-folder-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Root folder ID. This action is preconfigured to use `0`.",
            "schema": {
              "type": "string",
              "description": "Root folder ID. This action is preconfigured to use `0`.",
              "example": "0",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of root items to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of root items to return.",
              "example": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset-based pagination start position for root items.",
            "schema": {
              "type": "number",
              "description": "Offset-based pagination start position for root items.",
              "example": 0
            }
          },
          {
            "name": "usemarker",
            "in": "query",
            "required": false,
            "description": "Set true to use marker-based pagination for root items.",
            "schema": {
              "type": "boolean",
              "description": "Set true to use marker-based pagination for root items.",
              "example": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "marker",
            "in": "query",
            "required": false,
            "description": "Marker token for the next page of root items.",
            "schema": {
              "type": "string",
              "description": "Marker token for the next page of root items.",
              "example": "AAEAAQ...",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Optional secondary sort field for root items.",
            "schema": {
              "type": "string",
              "description": "Optional secondary sort field for root items.",
              "example": "name",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Sort direction: ASC or DESC.",
            "schema": {
              "type": "string",
              "description": "Sort direction: ASC or DESC.",
              "example": "ASC",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The root folder items returned for this page."
                          },
                          "limit": {
                            "type": "number",
                            "description": "The page size limit."
                          },
                          "next_marker": {
                            "type": "string",
                            "description": "Marker for the next page when marker pagination is active."
                          },
                          "offset": {
                            "type": "number",
                            "description": "The offset used for this page when offset pagination is active."
                          },
                          "total_count": {
                            "type": "number",
                            "description": "The total number of root items available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/box/latest/actions/search-folders": {
      "get": {
        "operationId": "box.search-folders",
        "summary": "Search Folders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/search-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The text to search for in folder names and folder metadata.",
            "schema": {
              "type": "string",
              "description": "The text to search for in folder names and folder metadata.",
              "example": "contracts"
            }
          },
          {
            "name": "ancestorFolderIds",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated parent folder IDs to limit the search scope.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated parent folder IDs to limit the search scope.",
              "example": "0",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of folder search results to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of folder search results to return.",
              "example": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset-based pagination start position for folder search results.",
            "schema": {
              "type": "number",
              "description": "Offset-based pagination start position for folder search results.",
              "example": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of folder fields to include.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of folder fields to include.",
              "example": "id,type,name,path_collection",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Optional search sort field: relevance or modified_at.",
            "schema": {
              "type": "string",
              "description": "Optional search sort field: relevance or modified_at.",
              "example": "relevance",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Search sort direction: DESC or ASC.",
            "schema": {
              "type": "string",
              "description": "Search sort direction: DESC or ASC.",
              "example": "DESC",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The folders returned by the search."
                          },
                          "limit": {
                            "type": "number",
                            "description": "The page size limit."
                          },
                          "offset": {
                            "type": "number",
                            "description": "The offset used for this page of folder search results."
                          },
                          "total_count": {
                            "type": "number",
                            "description": "The total number of matching folders available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/box/latest/actions/upload-part": {
      "put": {
        "operationId": "box.upload-part",
        "summary": "Upload Part",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/box/latest/actions/upload-part"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "sessionId",
                  "partStart",
                  "partEnd",
                  "totalFileSize",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Upload session ID returned by Create Upload Session.",
                    "example": "578EAA0B34295198B0E32B085769932C"
                  },
                  "partStart": {
                    "type": "number",
                    "description": "Zero-based byte offset where this part starts.",
                    "example": 0
                  },
                  "partEnd": {
                    "type": "number",
                    "description": "Inclusive byte offset where this part ends.",
                    "example": 8388607
                  },
                  "totalFileSize": {
                    "type": "number",
                    "description": "Total size of the complete file in bytes.",
                    "example": 32000000
                  },
                  "file": {
                    "type": "string",
                    "description": "Raw base64 content for this part. It is decoded and sent as the naked request body.",
                    "example": "SGVsbG8="
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "part": {
                            "type": "object",
                            "properties": {
                              "offset": {
                                "type": "number"
                              },
                              "partId": {
                                "type": "string"
                              },
                              "sha1": {
                                "type": "string"
                              },
                              "sha512": {
                                "type": "string"
                              },
                              "size": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
