{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Platerecognizer Universal API",
    "version": "0.0.7",
    "description": "Production-ready wrapper for Plate Recognizer cloud APIs across Snapshot, OCR, VIN ID, VisionAlert, Stream Cloud, and Blur with apiKey auth."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/platerecognizer/latest/actions/blur-plates-and-faces-in-image": {
      "get": {
        "operationId": "platerecognizer.blur-plates-and-faces-in-image",
        "summary": "Blur Plates And Faces In Image",
        "description": "Blurs plates and faces in an image with Plate Recognizer.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/blur-plates-and-faces-in-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadUrl",
            "in": "query",
            "required": false,
            "description": "Public URL of the image to blur.",
            "schema": {
              "type": "string",
              "description": "Public URL of the image to blur."
            }
          },
          {
            "name": "upload",
            "in": "query",
            "required": false,
            "description": "Image file to blur.",
            "schema": {
              "type": "string",
              "description": "Image file to blur."
            }
          },
          {
            "name": "plates",
            "in": "query",
            "required": false,
            "description": "Blur intensity for detected license plates.",
            "schema": {
              "type": "number",
              "description": "Blur intensity for detected license plates."
            }
          },
          {
            "name": "faces",
            "in": "query",
            "required": false,
            "description": "Blur intensity for detected faces.",
            "schema": {
              "type": "number",
              "description": "Blur intensity for detected faces."
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": false,
            "description": "Comma-separated regions forwarded to Snapshot.",
            "schema": {
              "type": "string",
              "description": "Comma-separated regions forwarded to Snapshot.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cameraId",
            "in": "query",
            "required": false,
            "description": "Override configuration camera ID.",
            "schema": {
              "type": "string",
              "description": "Override configuration camera ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blur": {
                            "type": "object",
                            "properties": {
                              "base64": {
                                "type": "string"
                              },
                              "contentType": {
                                "type": "string"
                              },
                              "filename": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "faces": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "box": {
                                  "type": "object",
                                  "properties": {
                                    "xmax": {
                                      "type": "number"
                                    },
                                    "xmin": {
                                      "type": "number"
                                    },
                                    "ymax": {
                                      "type": "number"
                                    },
                                    "ymin": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "score": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "plates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "polygon[]": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "result": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/create-camera-monitoring-log": {
      "post": {
        "operationId": "platerecognizer.create-camera-monitoring-log",
        "summary": "Create Camera Monitoring Log",
        "description": "Creates a camera monitoring log in Plate Recognizer VisionAlert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/create-camera-monitoring-log"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cameraId",
                  "upload"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cameraId": {
                    "type": "string",
                    "description": "Unique camera identifier for the camera submitting the image."
                  },
                  "upload": {
                    "type": "string",
                    "description": "Image file to analyze for camera issues."
                  },
                  "tag": {
                    "type": "string",
                    "description": "Tag to associate with the camera."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/extract-text-from-image": {
      "get": {
        "operationId": "platerecognizer.extract-text-from-image",
        "summary": "Extract Text From Image",
        "description": "Extracts text from an image with Plate Recognizer OCR.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/extract-text-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadUrl",
            "in": "query",
            "required": false,
            "description": "Public URL of the image to process.",
            "schema": {
              "type": "string",
              "description": "Public URL of the image to process."
            }
          },
          {
            "name": "upload",
            "in": "query",
            "required": false,
            "description": "Image file bytes or a base64-encoded image.",
            "schema": {
              "type": "string",
              "description": "Image file bytes or a base64-encoded image."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Type of text to extract: vin, trailer_id, or odometer.",
            "schema": {
              "type": "string",
              "description": "Type of text to extract: vin, trailer_id, or odometer.",
              "enum": [
                "odometer",
                "trailer_id",
                "vin"
              ]
            }
          },
          {
            "name": "cameraId",
            "in": "query",
            "required": false,
            "description": "Unique camera identifier.",
            "schema": {
              "type": "string",
              "description": "Unique camera identifier.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "UTC ISO 8601 timestamp for the capture.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "UTC ISO 8601 timestamp for the capture.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cameraId": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "processingTime": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "identifier": {
                                  "type": "object",
                                  "properties": {
                                    "props": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "value": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "orientation": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "value": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/get-ocr-statistics": {
      "get": {
        "operationId": "platerecognizer.get-ocr-statistics",
        "summary": "Get OCR Statistics",
        "description": "Retrieves your Plate Recognizer OCR usage statistics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/get-ocr-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "totalCalls": {
                            "type": "number"
                          },
                          "usage": {
                            "type": "object",
                            "properties": {
                              "calls": {
                                "type": "number"
                              },
                              "month": {
                                "type": "number"
                              },
                              "resetsOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "year": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/get-statistics": {
      "get": {
        "operationId": "platerecognizer.get-statistics",
        "summary": "Get Statistics",
        "description": "Retrieves your Plate Recognizer Snapshot usage statistics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/get-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "totalCalls": {
                            "type": "number"
                          },
                          "usage": {
                            "type": "object",
                            "properties": {
                              "calls": {
                                "type": "number"
                              },
                              "month": {
                                "type": "number"
                              },
                              "resetsOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "year": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/get-vin-statistics": {
      "get": {
        "operationId": "platerecognizer.get-vin-statistics",
        "summary": "Get VIN Statistics",
        "description": "Retrieves your Plate Recognizer VIN ID usage statistics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/get-vin-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "totalCalls": {
                            "type": "number"
                          },
                          "usage": {
                            "type": "object",
                            "properties": {
                              "calls": {
                                "type": "number"
                              },
                              "month": {
                                "type": "number"
                              },
                              "resetsOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "year": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/read-number-plates-from-image": {
      "get": {
        "operationId": "platerecognizer.read-number-plates-from-image",
        "summary": "Read Number Plates From Image",
        "description": "Reads vehicle number plates from an image with Plate Recognizer.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/read-number-plates-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadUrl",
            "in": "query",
            "required": false,
            "description": "Public URL of the image to process.",
            "schema": {
              "type": "string",
              "description": "Public URL of the image to process."
            }
          },
          {
            "name": "upload",
            "in": "query",
            "required": false,
            "description": "Image file bytes or a base64-encoded image.",
            "schema": {
              "type": "string",
              "description": "Image file bytes or a base64-encoded image."
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": false,
            "description": "Comma-separated country or state codes to bias plate matching.",
            "schema": {
              "type": "string",
              "description": "Comma-separated country or state codes to bias plate matching."
            }
          },
          {
            "name": "cameraId",
            "in": "query",
            "required": false,
            "description": "Unique camera identifier.",
            "schema": {
              "type": "string",
              "description": "Unique camera identifier.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "UTC ISO 8601 timestamp for the capture.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "UTC ISO 8601 timestamp for the capture.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "mmc",
            "in": "query",
            "required": false,
            "description": "Set true to include make, model, orientation, color, and year when your plan includes this add-on.",
            "schema": {
              "type": "boolean",
              "description": "Set true to include make, model, orientation, color, and year when your plan includes this add-on.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Set true to predict direction of travel. Requires mmc=true.",
            "schema": {
              "type": "boolean",
              "description": "Set true to predict direction of travel. Requires mmc=true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "config",
            "in": "query",
            "required": false,
            "description": "Additional engine configuration as JSON.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Additional engine configuration as JSON.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cameraId": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "imageHeight": {
                            "type": "number"
                          },
                          "imageWidth": {
                            "type": "number"
                          },
                          "processingTime": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "box": {
                                  "type": "object",
                                  "properties": {
                                    "xmax": {
                                      "type": "number"
                                    },
                                    "xmin": {
                                      "type": "number"
                                    },
                                    "ymax": {
                                      "type": "number"
                                    },
                                    "ymin": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "candidates": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "plate": {
                                        "type": "string"
                                      },
                                      "score": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "dscore": {
                                  "type": "number"
                                },
                                "plate": {
                                  "type": "string"
                                },
                                "region": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "score": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "score": {
                                  "type": "number"
                                },
                                "vehicle": {
                                  "type": "object",
                                  "properties": {
                                    "box": {
                                      "type": "object",
                                      "properties": {
                                        "xmax": {
                                          "type": "number"
                                        },
                                        "xmin": {
                                          "type": "number"
                                        },
                                        "ymax": {
                                          "type": "number"
                                        },
                                        "ymin": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "score": {
                                      "type": "number"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/read-vin-from-image": {
      "get": {
        "operationId": "platerecognizer.read-vin-from-image",
        "summary": "Read VIN From Image",
        "description": "Reads a VIN from an image with Plate Recognizer.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/read-vin-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadUrl",
            "in": "query",
            "required": false,
            "description": "Public URL of the image to process.",
            "schema": {
              "type": "string",
              "description": "Public URL of the image to process."
            }
          },
          {
            "name": "upload",
            "in": "query",
            "required": false,
            "description": "Image file bytes or a base64-encoded image.",
            "schema": {
              "type": "string",
              "description": "Image file bytes or a base64-encoded image."
            }
          },
          {
            "name": "cameraId",
            "in": "query",
            "required": false,
            "description": "Unique camera identifier.",
            "schema": {
              "type": "string",
              "description": "Unique camera identifier.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "UTC ISO 8601 timestamp for the capture.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "UTC ISO 8601 timestamp for the capture.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cameraId": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "processingTime": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "identifier": {
                                  "type": "object",
                                  "properties": {
                                    "props": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "value": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "orientation": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "value": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/platerecognizer/latest/actions/upload-video-for-stream-cloud": {
      "post": {
        "operationId": "platerecognizer.upload-video-for-stream-cloud",
        "summary": "Upload Video For Stream Cloud",
        "description": "Uploads a video to Plate Recognizer Stream Cloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/platerecognizer/latest/actions/upload-video-for-stream-cloud"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "uploadUrl": {
                    "type": "string",
                    "description": "Public URL of the video to process in Stream Cloud."
                  },
                  "regions": {
                    "type": "string",
                    "description": "Comma-separated country or state codes to bias plate matching."
                  },
                  "cameraId": {
                    "type": "string",
                    "description": "Unique camera identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "mmc": {
                    "type": "boolean",
                    "description": "Set true to include make, model, orientation, and color when your license includes the add-on.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cameraId": {
                            "type": "string"
                          },
                          "mmc": {
                            "type": "string"
                          },
                          "regions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "uploadUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
