{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Formbricks Universal API",
    "version": "0.0.4",
    "description": "Manage Formbricks surveys, responses, contacts, and webhooks"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/formbricks/latest/actions/create-client-response": {
      "post": {
        "operationId": "formbricks.create-client-response",
        "summary": "Create Client Response",
        "description": "Creates a new client response in Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/create-client-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "environmentId",
                  "surveyId",
                  "finished",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "environmentId": {
                    "type": "string",
                    "description": "The environment ID that owns the survey."
                  },
                  "surveyId": {
                    "type": "string",
                    "description": "The survey ID to submit the response to."
                  },
                  "finished": {
                    "type": "boolean",
                    "description": "Whether the response is finished."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Submitted response payload keyed by question IDs."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Created client response metadata.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Created response ID."
                              },
                              "quotaFull": {
                                "type": "boolean",
                                "description": "Whether the survey quota is full after creation."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formbricks/latest/actions/create-webhook": {
      "post": {
        "operationId": "formbricks.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a new webhook in Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "url",
                  "source",
                  "environmentId",
                  "triggers[]",
                  "surveyIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the webhook."
                  },
                  "url": {
                    "type": "string",
                    "description": "The destination URL of the webhook."
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the webhook.",
                    "default": "user"
                  },
                  "environmentId": {
                    "type": "string",
                    "description": "The environment ID that owns the webhook."
                  },
                  "triggers[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook trigger types."
                  },
                  "surveyIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Survey IDs associated with the webhook."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Webhook created by the Formbricks management API.",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the webhook was created."
                              },
                              "environmentId": {
                                "type": "string",
                                "description": "Environment ID that owns the created webhook."
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier of the created webhook."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the created webhook."
                              },
                              "source": {
                                "type": "string",
                                "description": "Source of the created webhook."
                              },
                              "surveyIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Survey IDs associated with the created webhook."
                              },
                              "triggers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Webhook trigger types."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the webhook was last updated."
                              },
                              "url": {
                                "type": "string",
                                "description": "Destination URL of the created webhook."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formbricks/latest/actions/get-me": {
      "get": {
        "operationId": "formbricks.get-me",
        "summary": "Get Me",
        "description": "Retrieves the current user from Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/get-me"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "environments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "environmentId": {
                                  "type": "string",
                                  "description": "Environment ID."
                                },
                                "environmentType": {
                                  "type": "string",
                                  "description": "Environment type such as production."
                                },
                                "permission": {
                                  "type": "string",
                                  "description": "Permission granted for the environment."
                                },
                                "projectId": {
                                  "type": "string",
                                  "description": "Project ID for the environment."
                                },
                                "projectName": {
                                  "type": "string",
                                  "description": "Project name for the environment."
                                }
                              }
                            },
                            "description": "Environments accessible to the API key."
                          },
                          "organizationAccess": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Organization-level access information for the API key.",
                            "properties": {
                              "accessControl": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Read and write permissions for the organization.",
                                "properties": {
                                  "read": {
                                    "type": "boolean",
                                    "description": "Whether the API key can read organization resources."
                                  },
                                  "write": {
                                    "type": "boolean",
                                    "description": "Whether the API key can write organization resources."
                                  }
                                }
                              }
                            }
                          },
                          "organizationId": {
                            "type": "string",
                            "description": "Organization ID associated with the API key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formbricks/latest/actions/get-response": {
      "get": {
        "operationId": "formbricks.get-response",
        "summary": "Get Response",
        "description": "Retrieves a response from Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/get-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the response.",
            "schema": {
              "type": "string",
              "description": "The ID of the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactAttributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Contact attributes attached to the response."
                          },
                          "contactId": {
                            "type": "string",
                            "description": "The ID of the contact when one is associated."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the response was created."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted answers keyed by question ID."
                          },
                          "displayId": {
                            "type": "string",
                            "description": "The display identifier for the response."
                          },
                          "endingId": {
                            "type": "string",
                            "description": "The ending ID when the response completed through an ending."
                          },
                          "finished": {
                            "type": "boolean",
                            "description": "Whether the response is finished."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the response."
                          },
                          "language": {
                            "type": "string",
                            "description": "The response language."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Response metadata such as source, URL, and user agent."
                          },
                          "singleUseId": {
                            "type": "string",
                            "description": "The single-use link identifier when present."
                          },
                          "surveyId": {
                            "type": "string",
                            "description": "The ID of the survey."
                          },
                          "ttc": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Time-to-complete metrics by question."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the response was last updated."
                          },
                          "variables": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Captured survey variables."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formbricks/latest/actions/get-responses": {
      "get": {
        "operationId": "formbricks.get-responses",
        "summary": "Get Responses",
        "description": "Retrieves responses from Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/get-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filterDateField",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surveyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "contactAttributes": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Snapshot of contact attributes on the response."
                                },
                                "contactId": {
                                  "type": "string",
                                  "description": "Contact ID associated with the response."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Creation timestamp."
                                },
                                "data": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Submitted response payload."
                                },
                                "displayId": {
                                  "type": "string",
                                  "description": "Display ID associated with the response."
                                },
                                "endingId": {
                                  "type": "string",
                                  "description": "Ending ID associated with the response."
                                },
                                "finished": {
                                  "type": "boolean",
                                  "description": "Whether the response is finished."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Response ID."
                                },
                                "language": {
                                  "type": "string",
                                  "description": "Language used for the response."
                                },
                                "meta": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Response metadata such as source and user agent."
                                },
                                "singleUseId": {
                                  "type": "string",
                                  "description": "Single-use link identifier when present."
                                },
                                "surveyId": {
                                  "type": "string",
                                  "description": "Survey ID associated with the response."
                                },
                                "ttc": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Time-to-complete metrics by question."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Last update timestamp."
                                },
                                "variables": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Captured survey variables."
                                }
                              }
                            },
                            "description": "Responses returned by the management API."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Pagination metadata.",
                            "properties": {
                              "limit": {
                                "type": "number",
                                "description": "Applied page size."
                              },
                              "offset": {
                                "type": "number",
                                "description": "Applied offset."
                              },
                              "total": {
                                "type": "number",
                                "description": "Total number of matching responses."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formbricks/latest/actions/get-webhook": {
      "get": {
        "operationId": "formbricks.get-webhook",
        "summary": "Get Webhook",
        "description": "Retrieves a webhook from Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/get-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the webhook.",
            "schema": {
              "type": "string",
              "description": "The ID of the webhook."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Webhook returned by the Formbricks management API.",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the webhook was created."
                              },
                              "environmentId": {
                                "type": "string",
                                "description": "Environment ID that owns the webhook."
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier of the webhook."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the webhook."
                              },
                              "source": {
                                "type": "string",
                                "description": "Source of the webhook."
                              },
                              "surveyIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Survey IDs associated with the webhook."
                              },
                              "triggers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Webhook trigger types."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the webhook was last updated."
                              },
                              "url": {
                                "type": "string",
                                "description": "Destination URL of the webhook."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formbricks/latest/actions/get-webhooks": {
      "get": {
        "operationId": "formbricks.get-webhooks",
        "summary": "Get Webhooks",
        "description": "Retrieves webhooks from Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/get-webhooks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of webhooks to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of webhooks to return."
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of webhooks to skip.",
            "schema": {
              "type": "number",
              "description": "Number of webhooks to skip."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort webhooks by.",
            "schema": {
              "type": "string",
              "description": "Field to sort webhooks by."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "description": "Sort order."
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date for filtering webhooks.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date for filtering webhooks."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date for filtering webhooks.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date for filtering webhooks."
            }
          },
          {
            "name": "filterDateField",
            "in": "query",
            "required": false,
            "description": "Date field to filter by.",
            "schema": {
              "type": "string",
              "description": "Date field to filter by."
            }
          },
          {
            "name": "surveyIds",
            "in": "query",
            "required": false,
            "description": "Survey IDs to filter webhooks by.",
            "schema": {
              "type": "string",
              "description": "Survey IDs to filter webhooks by."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Creation timestamp."
                                },
                                "environmentId": {
                                  "type": "string",
                                  "description": "Environment ID associated with the webhook."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Webhook ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Webhook name."
                                },
                                "source": {
                                  "type": "string",
                                  "description": "Webhook source type."
                                },
                                "surveyIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Survey IDs attached to the webhook."
                                },
                                "triggers": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Trigger event names."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Last update timestamp."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Destination URL for the webhook."
                                }
                              }
                            },
                            "description": "Webhooks returned by the management API."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Pagination metadata.",
                            "properties": {
                              "limit": {
                                "type": "number",
                                "description": "Applied page size."
                              },
                              "offset": {
                                "type": "number",
                                "description": "Applied offset."
                              },
                              "total": {
                                "type": "number",
                                "description": "Total number of matching webhooks."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formbricks/latest/actions/update-client-response": {
      "put": {
        "operationId": "formbricks.update-client-response",
        "summary": "Update Client Response",
        "description": "Updates an existing client response in Formbricks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formbricks/latest/actions/update-client-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "environmentId",
                  "responseId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "environmentId": {
                    "type": "string",
                    "description": "The environment ID that owns the survey response."
                  },
                  "responseId": {
                    "type": "string",
                    "description": "The response ID to update."
                  },
                  "finished": {
                    "type": "boolean",
                    "description": "Whether the response is finished."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Updated response payload keyed by question IDs."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Updated client response metadata.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Updated response ID."
                              },
                              "quotaFull": {
                                "type": "boolean",
                                "description": "Whether the survey quota is full after the update."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
