{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Planning Center Universal API",
    "version": "0.0.14",
    "description": "Organize ministries, coordinate events, plan services, and connect your congregation"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/planningCenter/latest/actions/create-household": {
      "post": {
        "operationId": "planningCenter.create-household",
        "summary": "Create Household",
        "description": "Creates a new household in Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/create-household"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON:API data object for the request payload."
                  },
                  "include": {
                    "type": "string",
                    "description": "Include associated people in the response."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "memberCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "primaryContactId": {
                                "type": "string"
                              },
                              "primaryContactName": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "people": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "primaryContact": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/create-household-membership": {
      "post": {
        "operationId": "planningCenter.create-household-membership",
        "summary": "Create Household Membership",
        "description": "Creates a household membership in Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/create-household-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "householdId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "householdId": {
                    "type": "string",
                    "description": "The household id."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON:API data object for the request payload."
                  },
                  "include": {
                    "type": "string",
                    "description": "Include the associated household or person in the response."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "householdRole": {
                                "type": "string"
                              },
                              "pending": {
                                "type": "boolean"
                              },
                              "personName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "person": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/create-person": {
      "post": {
        "operationId": "planningCenter.create-person",
        "summary": "Create Person",
        "description": "Creates a new person in Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/create-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON:API resource object containing the Person type, attributes, and optional relationships."
                  },
                  "include": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "accountingAdministrator": {
                                "type": "boolean"
                              },
                              "anniversary": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "avatar": {
                                "type": "string"
                              },
                              "birthdate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "canCreateForms": {
                                "type": "boolean"
                              },
                              "canEmailLists": {
                                "type": "boolean"
                              },
                              "child": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "demographicAvatarUrl": {
                                "type": "string"
                              },
                              "directoryStatus": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "grade": {
                                "type": "number"
                              },
                              "graduationYear": {
                                "type": "number"
                              },
                              "inactivatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "loginIdentifier": {
                                "type": "string"
                              },
                              "medicalNotes": {
                                "type": "string"
                              },
                              "membership": {
                                "type": "string"
                              },
                              "mfaConfigured": {
                                "type": "boolean"
                              },
                              "middleName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "passedBackgroundCheck": {
                                "type": "boolean"
                              },
                              "peoplePermissions": {
                                "type": "string"
                              },
                              "remoteId": {
                                "type": "number"
                              },
                              "resourcePermissionFlags": {
                                "type": "object",
                                "properties": {
                                  "canAccessWorkflows": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "schoolType": {
                                "type": "string"
                              },
                              "siteAdministrator": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "stripeCustomerIdentifier": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/get-household": {
      "get": {
        "operationId": "planningCenter.get-household",
        "summary": "Get Household",
        "description": "Retrieves a household from Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/get-household"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The household id.",
            "schema": {
              "type": "string",
              "description": "The household id."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include associated people in the response.",
            "schema": {
              "type": "string",
              "description": "Include associated people in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "memberCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "primaryContactId": {
                                "type": "string"
                              },
                              "primaryContactName": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "people": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "primaryContact": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/get-list": {
      "get": {
        "operationId": "planningCenter.get-list",
        "summary": "Get List",
        "description": "Retrieves a list from Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/get-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "List ID",
            "schema": {
              "type": "number",
              "description": "List ID",
              "example": 12345
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include associated resources",
            "schema": {
              "type": "string",
              "description": "Include associated resources",
              "example": "campus,people",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "autoGeneratedName": {
                                "type": "boolean"
                              },
                              "automationsActive": {
                                "type": "boolean"
                              },
                              "automationsCount": {
                                "type": "number"
                              },
                              "autoRefresh": {
                                "type": "boolean"
                              },
                              "autoRefreshFrequency": {
                                "type": "string"
                              },
                              "batchCompletedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "description": {
                                "type": "string"
                              },
                              "hasInactiveResults": {
                                "type": "boolean"
                              },
                              "includeInactive": {
                                "type": "boolean"
                              },
                              "invalid": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nameOrDescription": {
                                "type": "string"
                              },
                              "pausedAutomationsCount": {
                                "type": "number"
                              },
                              "recentlyViewed": {
                                "type": "boolean"
                              },
                              "refreshedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "returnOriginalIfNone": {
                                "type": "boolean"
                              },
                              "returns": {
                                "type": "string"
                              },
                              "starred": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "subset": {
                                "type": "string"
                              },
                              "totalPeople": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/get-person": {
      "get": {
        "operationId": "planningCenter.get-person",
        "summary": "Get Person",
        "description": "Retrieves a person from Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/get-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "accountingAdministrator": {
                                "type": "boolean"
                              },
                              "anniversary": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "avatar": {
                                "type": "string"
                              },
                              "birthdate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "canCreateForms": {
                                "type": "boolean"
                              },
                              "canEmailLists": {
                                "type": "boolean"
                              },
                              "child": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "demographicAvatarUrl": {
                                "type": "string"
                              },
                              "directoryStatus": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "grade": {
                                "type": "number"
                              },
                              "graduationYear": {
                                "type": "number"
                              },
                              "inactivatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "loginIdentifier": {
                                "type": "string"
                              },
                              "medicalNotes": {
                                "type": "string"
                              },
                              "membership": {
                                "type": "string"
                              },
                              "mfaConfigured": {
                                "type": "boolean"
                              },
                              "middleName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "passedBackgroundCheck": {
                                "type": "boolean"
                              },
                              "peoplePermissions": {
                                "type": "string"
                              },
                              "remoteId": {
                                "type": "number"
                              },
                              "resourcePermissionFlags": {
                                "type": "object",
                                "properties": {
                                  "canAccessWorkflows": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "schoolType": {
                                "type": "string"
                              },
                              "siteAdministrator": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "stripeCustomerIdentifier": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/get-workflow": {
      "get": {
        "operationId": "planningCenter.get-workflow",
        "summary": "Get Workflow",
        "description": "Retrieves a workflow from Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/get-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Workflow ID",
            "schema": {
              "type": "number",
              "description": "Workflow ID",
              "example": 12345
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include associated resources",
            "schema": {
              "type": "string",
              "description": "Include associated resources",
              "example": "category,steps",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archivedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "campusId": {
                                "type": "string"
                              },
                              "completedCardCount": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "deletedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "myDueSoonCardCount": {
                                "type": "number"
                              },
                              "myOverdueCardCount": {
                                "type": "number"
                              },
                              "myReadyCardCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "recentlyViewed": {
                                "type": "boolean"
                              },
                              "totalCardsCount": {
                                "type": "number"
                              },
                              "totalOverdueCardCount": {
                                "type": "number"
                              },
                              "totalReadyAndSnoozedCardCount": {
                                "type": "number"
                              },
                              "totalReadyCardCount": {
                                "type": "number"
                              },
                              "totalStepsCount": {
                                "type": "number"
                              },
                              "totalUnassignedCardCount": {
                                "type": "number"
                              },
                              "totalUnassignedStepsCount": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "workflowCategoryId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "campus": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "workflowCategory": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/list-campuses": {
      "get": {
        "operationId": "planningCenter.list-campuses",
        "summary": "List Campuses",
        "description": "Retrieves campuses from Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/list-campuses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include associated resources",
            "schema": {
              "type": "string",
              "description": "Include associated resources",
              "example": "lists,service_times",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort returned campuses",
            "schema": {
              "type": "string",
              "description": "Sort returned campuses",
              "example": "-updated_at",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Equality filters for campus fields",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Equality filters for campus fields",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where.createdAt",
            "in": "query",
            "required": false,
            "description": "Query on a specific created_at",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Query on a specific created_at",
              "example": "2000-01-01T12:00:00Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where.id",
            "in": "query",
            "required": false,
            "description": "Query on a specific id",
            "schema": {
              "type": "number",
              "description": "Query on a specific id",
              "example": 12345,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where.updatedAt",
            "in": "query",
            "required": false,
            "description": "Query on a specific updated_at",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Query on a specific updated_at",
              "example": "2000-01-01T12:00:00Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "churchCenterEnabled": {
                                "type": "boolean"
                              },
                              "city": {
                                "type": "string"
                              },
                              "contactEmailAddress": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dateFormat": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "geolocationSetManually": {
                                "type": "boolean"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phoneNumber": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "street": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              },
                              "timeZoneRaw": {
                                "type": "string"
                              },
                              "twentyFourHourTime": {
                                "type": "boolean"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "website": {
                                "type": "string"
                              },
                              "zip": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "organization": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/list-household-people": {
      "get": {
        "operationId": "planningCenter.list-household-people",
        "summary": "List Household People",
        "description": "Retrieves people in a household from Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/list-household-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "householdId",
            "in": "query",
            "required": true,
            "description": "The household id.",
            "schema": {
              "type": "string",
              "description": "The household id."
            }
          },
          {
            "name": "nonPending",
            "in": "query",
            "required": false,
            "description": "Filter household people by non_pending.",
            "schema": {
              "type": "string",
              "description": "Filter household people by non_pending."
            }
          },
          {
            "name": "withoutDeceased",
            "in": "query",
            "required": false,
            "description": "Filter household people by without_deceased.",
            "schema": {
              "type": "string",
              "description": "Filter household people by without_deceased."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "accountingAdministrator": {
                                "type": "boolean"
                              },
                              "anniversary": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "avatar": {
                                "type": "string"
                              },
                              "birthdate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "canCreateForms": {
                                "type": "boolean"
                              },
                              "canEmailLists": {
                                "type": "boolean"
                              },
                              "child": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "demographicAvatarUrl": {
                                "type": "string"
                              },
                              "directoryStatus": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "grade": {
                                "type": "number"
                              },
                              "graduationYear": {
                                "type": "number"
                              },
                              "inactivatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "loginIdentifier": {
                                "type": "string"
                              },
                              "medicalNotes": {
                                "type": "string"
                              },
                              "membership": {
                                "type": "string"
                              },
                              "mfaConfigured": {
                                "type": "boolean"
                              },
                              "middleName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "passedBackgroundCheck": {
                                "type": "boolean"
                              },
                              "peoplePermissions": {
                                "type": "string"
                              },
                              "remoteId": {
                                "type": "number"
                              },
                              "resourcePermissionFlags": {
                                "type": "object",
                                "properties": {
                                  "canAccessWorkflows": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "schoolType": {
                                "type": "string"
                              },
                              "siteAdministrator": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "stripeCustomerIdentifier": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/planningCenter/latest/actions/list-households": {
      "get": {
        "operationId": "planningCenter.list-households",
        "summary": "List Households",
        "description": "Retrieves households from Planning Center.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/planningCenter/latest/actions/list-households"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include associated people in the response.",
            "schema": {
              "type": "string",
              "description": "Include associated people in the response."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort households by a supported field; prefix the field with a hyphen for descending order.",
            "schema": {
              "type": "string",
              "description": "Sort households by a supported field; prefix the field with a hyphen for descending order."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Field-qualified household query filters.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Field-qualified household query filters."
            }
          },
          {
            "name": "where.createdAt",
            "in": "query",
            "required": false,
            "description": "Query households by an exact created_at timestamp in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Query households by an exact created_at timestamp in ISO 8601 format."
            }
          },
          {
            "name": "where.memberCount",
            "in": "query",
            "required": false,
            "description": "Query households by an exact member_count value.",
            "schema": {
              "type": "number",
              "description": "Query households by an exact member_count value."
            }
          },
          {
            "name": "where.name",
            "in": "query",
            "required": false,
            "description": "Query households by an exact household name.",
            "schema": {
              "type": "string",
              "description": "Query households by an exact household name."
            }
          },
[...]
