{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "AssemblyAI Universal API",
    "version": "0.0.15",
    "description": "Speech-to-text, streaming transcription, speech understanding, and LLM Gateway APIs from AssemblyAI."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/assemblyAI/latest/actions/delete-transcript": {
      "delete": {
        "operationId": "assemblyAI.delete-transcript",
        "summary": "Delete Transcript",
        "description": "Deletes one transcript from your AssemblyAI account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/delete-transcript"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcriptId",
            "in": "query",
            "required": true,
            "description": "The transcript ID to delete.",
            "schema": {
              "type": "string",
              "description": "The transcript ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acousticModel": {
                            "type": "string"
                          },
                          "audioChannels": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "audioDuration": {
                            "type": "number"
                          },
                          "audioEndAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "audioStartFrom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "audioUrl": {
                            "type": "string"
                          },
                          "autoChapters": {
                            "type": "boolean"
                          },
                          "autoHighlights": {
                            "type": "boolean"
                          },
                          "autoHighlightsResult": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "boostParam": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chapters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clusterId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "confidence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contentSafety": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contentSafetyLabels": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customSpelling": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customTopics": {
                            "type": "boolean"
                          },
                          "customTopicsResults": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "disfluencies": {
                            "type": "boolean"
                          },
                          "domain": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "domainOptions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dualChannel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entities": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entityDetection": {
                            "type": "boolean"
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "filterProfanity": {
                            "type": "boolean"
                          },
                          "formatText": {
                            "type": "boolean"
                          },
                          "iabCategories": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iabCategoriesResult": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "keytermsPrompt": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "languageCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageCodes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageConfidence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageConfidenceThreshold": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageDetection": {
                            "type": "boolean"
                          },
                          "languageDetectionOptions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageDetectionResults": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageModel": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "multichannel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "prompt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "punctuate": {
                            "type": "boolean"
                          },
                          "redactPii": {
                            "type": "boolean"
                          },
                          "redactPiiAudio": {
                            "type": "boolean"
                          },
                          "redactPiiAudioOptions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "redactPiiAudioQuality": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "redactPiiPolicies": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "redactPiiSub": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "removeAudioTags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentences": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentimentAnalysis": {
                            "type": "boolean"
                          },
                          "sentimentAnalysisResults": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speakerCount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speakerLabels": {
                            "type": "boolean"
                          },
                          "speakerOptions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speakersExpected": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechModel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechModels": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechModelUsed": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechThreshold": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechUnderstanding": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speedBoost": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summarization": {
                            "type": "boolean"
                          },
                          "summary": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summaryModel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summaryType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "temperature": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "text": {
                            "type": "string"
                          },
                          "throttled": {
                            "type": "boolean"
                          },
                          "tokenId": {
                            "type": "number"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "translatedTexts": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "utterances": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webhookAuth": {
                            "type": "boolean"
                          },
                          "webhookAuthHeaderName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webhookStatusCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webhookUrl": {
                            "type": "string"
                          },
                          "wordBoost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "words": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/generate-temporary-streaming-token": {
      "get": {
        "operationId": "assemblyAI.generate-temporary-streaming-token",
        "summary": "Generate Temporary Streaming Token",
        "description": "Retrieves a temporary streaming token from AssemblyAI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/generate-temporary-streaming-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiresInSeconds",
            "in": "query",
            "required": true,
            "description": "Desired token expiration in seconds.",
            "schema": {
              "type": "number",
              "description": "Desired token expiration in seconds."
            }
          },
          {
            "name": "maxSessionDurationSeconds",
            "in": "query",
            "required": false,
            "description": "Maximum session duration in seconds for the generated token.",
            "schema": {
              "type": "number",
              "description": "Maximum session duration in seconds for the generated token.",
              "default": 10800,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expiresInSeconds": {
                            "type": "number"
                          },
                          "token": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/get-redacted-audio": {
      "get": {
        "operationId": "assemblyAI.get-redacted-audio",
        "summary": "Get Redacted Audio",
        "description": "Retrieves redacted audio details from an AssemblyAI transcript.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/get-redacted-audio"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcriptId",
            "in": "query",
            "required": true,
            "description": "ID of the transcript.",
            "schema": {
              "type": "string",
              "description": "ID of the transcript."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "redactedAudioUrl": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/get-transcript": {
      "get": {
        "operationId": "assemblyAI.get-transcript",
        "summary": "Get Transcript",
        "description": "Retrieves one transcript from your AssemblyAI account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/get-transcript"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcriptId",
            "in": "query",
            "required": true,
            "description": "The transcript ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The transcript ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acousticModel": {
                            "type": "string"
                          },
                          "audioDuration": {
                            "type": "number"
                          },
                          "audioEndAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "audioStartFrom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "audioUrl": {
                            "type": "string"
                          },
                          "autoChapters": {
                            "type": "boolean"
                          },
                          "autoHighlights": {
                            "type": "boolean"
                          },
                          "autoHighlightsResult": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "boostParam": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chapters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "confidence": {
                            "type": "number"
                          },
                          "contentSafety": {
                            "type": "boolean"
                          },
                          "contentSafetyLabels": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "status": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "customSpelling": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customTopics": {
                            "type": "boolean"
                          },
                          "customTopicsResults": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "disfluencies": {
                            "type": "boolean"
                          },
                          "entities": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entityDetection": {
                            "type": "boolean"
                          },
                          "filterProfanity": {
                            "type": "boolean"
                          },
                          "formatText": {
                            "type": "boolean"
                          },
                          "iabCategories": {
                            "type": "boolean"
                          },
                          "iabCategoriesResult": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "status": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isDeleted": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "keytermsPrompt": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "languageCode": {
                            "type": "string"
                          },
                          "languageConfidence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageConfidenceThreshold": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageDetection": {
                            "type": "boolean"
                          },
                          "languageDetectionOptions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageDetectionResults": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageModel": {
                            "type": "string"
                          },
                          "multichannel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "prompt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "punctuate": {
                            "type": "boolean"
                          },
                          "redactPii": {
                            "type": "boolean"
                          },
                          "redactPiiAudio": {
                            "type": "boolean"
                          },
                          "redactPiiAudioOptions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "redactPiiAudioQuality": {
                            "type": "string"
                          },
                          "redactPiiPolicies": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "redactPiiSub": {
                            "type": "string"
                          },
                          "removeAudioTags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentimentAnalysis": {
                            "type": "boolean"
                          },
                          "sentimentAnalysisResults": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speakerLabels": {
                            "type": "boolean"
                          },
                          "speakerOptions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speakersExpected": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechModel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechModels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "speechModelUsed": {
                            "type": "string"
                          },
                          "speechThreshold": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechUnderstanding": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speedBoost": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summarization": {
                            "type": "boolean"
                          },
                          "summary": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summaryModel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summaryType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "temperature": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "text": {
                            "type": "string"
                          },
                          "throttled": {
                            "type": "boolean"
                          },
                          "tokenId": {
                            "type": "number"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "translatedTexts": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "utterances": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webhookAuth": {
                            "type": "boolean"
                          },
                          "webhookAuthHeaderName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webhookStatusCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webhookUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "wordBoost": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "words": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "confidence": {
                                  "type": "number"
                                },
                                "end": {
                                  "type": "number"
                                },
                                "speaker": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "start": {
                                  "type": "number"
                                },
                                "text": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/get-transcript-paragraphs": {
      "get": {
        "operationId": "assemblyAI.get-transcript-paragraphs",
        "summary": "Get Transcript Paragraphs",
        "description": "Retrieves paragraph segments from an AssemblyAI transcript.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/get-transcript-paragraphs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcriptId",
            "in": "query",
            "required": true,
            "description": "The transcript ID to retrieve paragraphs for.",
            "schema": {
              "type": "string",
              "description": "The transcript ID to retrieve paragraphs for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioDuration": {
                            "type": "number"
                          },
                          "confidence": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "paragraphs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "confidence": {
                                  "type": "number"
                                },
                                "end": {
                                  "type": "number"
                                },
                                "start": {
                                  "type": "number"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "words": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "confidence": {
                                        "type": "number"
                                      },
                                      "end": {
                                        "type": "number"
                                      },
                                      "start": {
                                        "type": "number"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/get-transcript-sentences": {
      "get": {
        "operationId": "assemblyAI.get-transcript-sentences",
        "summary": "Get Transcript Sentences",
        "description": "Retrieves sentence segments from an AssemblyAI transcript.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/get-transcript-sentences"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcriptId",
            "in": "query",
            "required": true,
            "description": "The transcript ID to retrieve sentences for.",
            "schema": {
              "type": "string",
              "description": "The transcript ID to retrieve sentences for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioDuration": {
                            "type": "number"
                          },
                          "confidence": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "sentences": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "confidence": {
                                  "type": "number"
                                },
                                "end": {
                                  "type": "number"
                                },
                                "start": {
                                  "type": "number"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "words": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "confidence": {
                                        "type": "number"
                                      },
                                      "end": {
                                        "type": "number"
                                      },
                                      "start": {
                                        "type": "number"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/get-transcript-subtitles": {
      "get": {
        "operationId": "assemblyAI.get-transcript-subtitles",
        "summary": "Get Transcript Subtitles",
        "description": "Retrieves subtitle text for an AssemblyAI transcript.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/get-transcript-subtitles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcriptId",
            "in": "query",
            "required": true,
            "description": "The transcript ID to export subtitles for.",
            "schema": {
              "type": "string",
              "description": "The transcript ID to export subtitles for."
            }
          },
          {
            "name": "subtitleFormat",
            "in": "query",
            "required": true,
            "description": "Subtitle format to export.",
            "schema": {
              "type": "string",
              "description": "Subtitle format to export."
            }
          },
          {
            "name": "charsPerCaption",
            "in": "query",
            "required": false,
            "description": "Maximum characters per subtitle caption.",
            "schema": {
              "type": "number",
              "description": "Maximum characters per subtitle caption.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Subtitle text payload returned by AssemblyAI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/list-transcripts": {
      "get": {
        "operationId": "assemblyAI.list-transcripts",
        "summary": "List Transcripts",
        "description": "Retrieves transcript records from your AssemblyAI account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/list-transcripts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of transcripts to retrieve.",
            "schema": {
              "type": "number",
              "description": "Maximum number of transcripts to retrieve.",
              "default": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter transcripts by status.",
            "schema": {
              "type": "string",
              "description": "Filter transcripts by status."
            }
          },
          {
            "name": "createdOn",
            "in": "query",
            "required": false,
            "description": "Only return transcripts created on this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only return transcripts created on this date."
            }
          },
          {
            "name": "beforeId",
            "in": "query",
            "required": false,
            "description": "Return transcripts created before this transcript ID.",
            "schema": {
              "type": "string",
              "description": "Return transcripts created before this transcript ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "afterId",
            "in": "query",
            "required": false,
            "description": "Return transcripts created after this transcript ID.",
            "schema": {
              "type": "string",
              "description": "Return transcripts created after this transcript ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "throttledOnly",
            "in": "query",
            "required": false,
            "description": "Only return throttled transcripts.",
            "schema": {
              "type": "boolean",
              "description": "Only return throttled transcripts.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pageDetails": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "currentUrl": {
                                "type": "string"
                              },
                              "limit": {
                                "type": "number"
                              },
                              "nextUrl": {
                                "type": "string"
                              },
                              "prevUrl": {
                                "type": "string"
                              },
                              "resultCount": {
                                "type": "number"
                              }
                            }
                          },
                          "transcripts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "audioUrl": {
                                  "type": "string"
                                },
                                "completed": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "created": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "error": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "resourceUrl": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/process-speech-understanding": {
      "post": {
        "operationId": "assemblyAI.process-speech-understanding",
        "summary": "Process Speech Understanding",
        "description": "Creates speech understanding output from an AssemblyAI transcript.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/process-speech-understanding"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transcriptId",
                  "speechUnderstanding"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transcriptId": {
                    "type": "string",
                    "description": "The ID of the transcript to process."
                  },
                  "speechUnderstanding": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Speech understanding task object with translation, speaker identification, and/or custom formatting request details."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "requestId": {
                            "type": "string"
                          },
                          "speechUnderstanding": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "request": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "translation": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "targetLanguages": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "response": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "translation": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "status": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "translatedTexts": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "es": {
                                "type": "string"
                              }
                            }
                          },
                          "utterances": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assemblyAI/latest/actions/search-transcript-words": {
      "get": {
        "operationId": "assemblyAI.search-transcript-words",
        "summary": "Search Transcript Words",
        "description": "Finds keywords in an AssemblyAI transcript.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assemblyAI/latest/actions/search-transcript-words"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcriptId",
            "in": "query",
            "required": true,
            "description": "The transcript ID to search.",
            "schema": {
              "type": "string",
              "description": "The transcript ID to search."
            }
          },
          {
            "name": "words",
            "in": "query",
            "required": true,
            "description": "One or more keywords to search for in the transcript.",
            "schema": {
              "type": "string",
              "description": "One or more keywords to search for in the transcript. Pass multiple values separated by `,`."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "matches": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "count": {
                                  "type": "number"
                                },
                                "indexes": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "text": {
                                  "type": "string"
                                },
                                "timestamps": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "value0": {
                                        "type": "number"
                                      },
                                      "value1": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
[...]
