{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "WebCategorize Universal API",
    "version": "0.0.2",
    "description": "WebCategorize classifies URLs and supplied web content in real time using documented REST endpoints for URL categorization, content categorization, tags, feedback, and API key management."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/webCategorize/latest/actions/add-content-feedback": {
      "post": {
        "operationId": "webCategorize.add-content-feedback",
        "summary": "Add Content Feedback",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/add-content-feedback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contentId",
                  "score"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contentId": {
                    "type": "string",
                    "description": "The ID of the content submission."
                  },
                  "score": {
                    "type": "number",
                    "description": "Feedback score: 1 for positive feedback, 2 for negative feedback."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language that should have been detected."
                  },
                  "classification[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Category IDs that should have been detected."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional feedback comment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the feedback request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/add-url-feedback": {
      "post": {
        "operationId": "webCategorize.add-url-feedback",
        "summary": "Add URL Feedback",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/add-url-feedback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "urlId",
                  "score"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "urlId": {
                    "type": "string",
                    "description": "The ID of the URL submission."
                  },
                  "score": {
                    "type": "number",
                    "description": "Feedback score: 1 for positive feedback, 2 for negative feedback."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language that should have been detected."
                  },
                  "classification[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Category IDs that should have been detected."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional feedback comment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the feedback request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/categorize-content": {
      "post": {
        "operationId": "webCategorize.categorize-content",
        "summary": "Categorize Content",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/categorize-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "html"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "html": {
                    "type": "string",
                    "description": "Plain text or HTML content to categorize."
                  },
                  "url": {
                    "type": "string",
                    "description": "Optional URL stored for reference; it is not used for classification."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional tags to store with the content submission."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "Detected content type."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Categorization creation timestamp."
                          },
                          "feedback": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback object, when available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Content submission ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Detected language code."
                          },
                          "model": {
                            "type": "number",
                            "description": "Machine-learning model number used for detection."
                          },
                          "predictions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "confidence": {
                                  "type": "string",
                                  "description": "Prediction confidence bucket."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Predicted category ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Predicted category name."
                                },
                                "score": {
                                  "type": "number",
                                  "description": "Prediction confidence score."
                                }
                              }
                            },
                            "description": "Predicted categories."
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Sample of the submitted content."
                          },
                          "status": {
                            "type": "string",
                            "description": "Categorization status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags supplied by the user."
                          },
                          "url": {
                            "type": "string",
                            "description": "Reference URL supplied with the content."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/categorize-url": {
      "post": {
        "operationId": "webCategorize.categorize-url",
        "summary": "Categorize URL",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/categorize-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL to fetch and categorize."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional tags to store with the URL submission."
                  },
                  "cache": {
                    "type": "boolean",
                    "description": "Set true to look for an existing categorization of this URL."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the result was retrieved from cache."
                          },
                          "code": {
                            "type": "number",
                            "description": "HTTP status code from the final page."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Detected content type."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Categorization creation timestamp."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain of the final URL."
                          },
                          "feedback": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback object, when available."
                          },
                          "finalUrl": {
                            "type": "string",
                            "description": "Final URL after redirects."
                          },
                          "id": {
                            "type": "string",
                            "description": "URL submission ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Detected language code."
                          },
                          "model": {
                            "type": "number",
                            "description": "Machine-learning model number used for detection."
                          },
                          "predictions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "confidence": {
                                  "type": "string",
                                  "description": "Prediction confidence bucket."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Predicted category ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Predicted category name."
                                },
                                "score": {
                                  "type": "number",
                                  "description": "Prediction confidence score."
                                }
                              }
                            },
                            "description": "Predicted categories."
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Sample of the fetched content."
                          },
                          "status": {
                            "type": "string",
                            "description": "Categorization status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags supplied by the user."
                          },
                          "url": {
                            "type": "string",
                            "description": "Original URL submitted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/create-api-key": {
      "post": {
        "operationId": "webCategorize.create-api-key",
        "summary": "Create API Key",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/create-api-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createddAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "API key creation timestamp. Field name is spelled createddAt in the official schema."
                          },
                          "key": {
                            "type": "string",
                            "description": "API key value returned by WebCategorize."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/list-api-keys": {
      "get": {
        "operationId": "webCategorize.list-api-keys",
        "summary": "List API Keys",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/list-api-keys"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createddAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "API key creation timestamp. Field name is spelled createddAt in the official schema."
                          },
                          "key": {
                            "type": "string",
                            "description": "API key value returned by WebCategorize."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/list-content-categorizations": {
      "get": {
        "operationId": "webCategorize.list-content-categorizations",
        "summary": "List Content Categorizations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/list-content-categorizations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return, from 1 to 1000.",
            "schema": {
              "type": "number",
              "description": "Maximum number of records to return, from 1 to 1000."
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Matching tag. The API supports repeated tag query parameters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Matching tag. The API supports repeated tag query parameters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Matching classification category. The API supports repeated category query parameters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Matching classification category. The API supports repeated category query parameters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Matching language code. The API supports repeated language query parameters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Matching language code. The API supports repeated language query parameters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Partial URL match.",
            "schema": {
              "type": "string",
              "description": "Partial URL match."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "Detected content type."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Categorization creation timestamp."
                          },
                          "feedback": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback object, when available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Content submission ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Detected language code."
                          },
                          "model": {
                            "type": "number",
                            "description": "Machine-learning model number used for detection."
                          },
                          "predictions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "confidence": {
                                  "type": "string",
                                  "description": "Prediction confidence bucket."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Predicted category ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Predicted category name."
                                },
                                "score": {
                                  "type": "number",
                                  "description": "Prediction confidence score."
                                }
                              }
                            },
                            "description": "Predicted categories."
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Sample of the submitted content."
                          },
                          "status": {
                            "type": "string",
                            "description": "Categorization status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags supplied by the user."
                          },
                          "url": {
                            "type": "string",
                            "description": "Reference URL supplied with the content."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/list-content-tags": {
      "get": {
        "operationId": "webCategorize.list-content-tags",
        "summary": "List Content Tags",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/list-content-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Content tag value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/list-url-categorizations": {
      "get": {
        "operationId": "webCategorize.list-url-categorizations",
        "summary": "List URL Categorizations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/list-url-categorizations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return, from 1 to 1000.",
            "schema": {
              "type": "number",
              "description": "Maximum number of records to return, from 1 to 1000."
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Matching tag. The API supports repeated tag query parameters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Matching tag. The API supports repeated tag query parameters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Matching classification category. The API supports repeated category query parameters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Matching classification category. The API supports repeated category query parameters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Matching language code. The API supports repeated language query parameters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Matching language code. The API supports repeated language query parameters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Partial URL match.",
            "schema": {
              "type": "string",
              "description": "Partial URL match."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the result was retrieved from cache."
                          },
                          "code": {
                            "type": "number",
                            "description": "HTTP status code from the final page."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Detected content type."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Categorization creation timestamp."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain of the final URL."
                          },
                          "feedback": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback object, when available."
                          },
                          "finalUrl": {
                            "type": "string",
                            "description": "Final URL after redirects."
                          },
                          "id": {
                            "type": "string",
                            "description": "URL submission ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Detected language code."
                          },
                          "model": {
                            "type": "number",
                            "description": "Machine-learning model number used for detection."
                          },
                          "predictions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "confidence": {
                                  "type": "string",
                                  "description": "Prediction confidence bucket."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Predicted category ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Predicted category name."
                                },
                                "score": {
                                  "type": "number",
                                  "description": "Prediction confidence score."
                                }
                              }
                            },
                            "description": "Predicted categories."
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Sample of the fetched content."
                          },
                          "status": {
                            "type": "string",
                            "description": "Categorization status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags supplied by the user."
                          },
                          "url": {
                            "type": "string",
                            "description": "Original URL submitted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/list-url-tags": {
      "get": {
        "operationId": "webCategorize.list-url-tags",
        "summary": "List URL Tags",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/list-url-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "URL tag value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/retrieve-content-categorization": {
      "get": {
        "operationId": "webCategorize.retrieve-content-categorization",
        "summary": "Retrieve Content Categorization",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/retrieve-content-categorization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentId",
            "in": "query",
            "required": true,
            "description": "The ID of the content submission.",
            "schema": {
              "type": "string",
              "description": "The ID of the content submission."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "Detected content type."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Categorization creation timestamp."
                          },
                          "feedback": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback object, when available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Content submission ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Detected language code."
                          },
                          "model": {
                            "type": "number",
                            "description": "Machine-learning model number used for detection."
                          },
                          "predictions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "confidence": {
                                  "type": "string",
                                  "description": "Prediction confidence bucket."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Predicted category ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Predicted category name."
                                },
                                "score": {
                                  "type": "number",
                                  "description": "Prediction confidence score."
                                }
                              }
                            },
                            "description": "Predicted categories."
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Sample of the submitted content."
                          },
                          "status": {
                            "type": "string",
                            "description": "Categorization status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags supplied by the user."
                          },
                          "url": {
                            "type": "string",
                            "description": "Reference URL supplied with the content."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webCategorize/latest/actions/retrieve-url-categorization": {
      "get": {
        "operationId": "webCategorize.retrieve-url-categorization",
        "summary": "Retrieve URL Categorization",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webCategorize/latest/actions/retrieve-url-categorization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "urlId",
            "in": "query",
            "required": true,
            "description": "The ID of the URL submission.",
            "schema": {
              "type": "string",
              "description": "The ID of the URL submission."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the result was retrieved from cache."
                          },
                          "code": {
                            "type": "number",
                            "description": "HTTP status code from the final page."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Detected content type."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Categorization creation timestamp."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain of the final URL."
                          },
                          "feedback": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback object, when available."
                          },
                          "finalUrl": {
                            "type": "string",
                            "description": "Final URL after redirects."
                          },
                          "id": {
                            "type": "string",
                            "description": "URL submission ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Detected language code."
                          },
                          "model": {
                            "type": "number",
                            "description": "Machine-learning model number used for detection."
                          },
                          "predictions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "confidence": {
                                  "type": "string",
                                  "description": "Prediction confidence bucket."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Predicted category ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Predicted category name."
                                },
                                "score": {
                                  "type": "number",
                                  "description": "Prediction confidence score."
                                }
                              }
                            },
                            "description": "Predicted categories."
                          },
                          "snippet": {
                            "type": "string",
                            "description": "Sample of the fetched content."
                          },
                          "status": {
                            "type": "string",
                            "description": "Categorization status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags supplied by the user."
                          },
                          "url": {
                            "type": "string",
                            "description": "Original URL submitted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
