{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Webshipper Universal API",
    "version": "0.0.6",
    "description": "Manage shipping, orders, rates, and returns in Webshipper"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/webshipper/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/webshipper/latest/actions/create-order": {
      "post": {
        "operationId": "webshipper.create-order",
        "summary": "Create Order",
        "description": "Creates an order in Webshipper.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webshipper/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "billingAddress": {
                                "type": "object",
                                "properties": {
                                  "address1": {
                                    "type": "string"
                                  },
                                  "address2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressType": {
                                    "type": "string"
                                  },
                                  "attContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "companyName": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "duns": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "eori": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "extLocation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fda": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "formattedRecipient": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "ioss": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "personalCustomsNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "sprn": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "vatNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "voec": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zip": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "createShipmentAutomatically": {
                                "type": "boolean"
                              },
                              "csvUploadId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "currency": {
                                "type": "string"
                              },
                              "deliveryAddress": {
                                "type": "object",
                                "properties": {
                                  "address1": {
                                    "type": "string"
                                  },
                                  "address2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressType": {
                                    "type": "string"
                                  },
                                  "attContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "companyName": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "duns": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "eori": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "extLocation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fda": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "formattedRecipient": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "ioss": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "personalCustomsNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "sprn": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "vatNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "voec": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zip": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dropPoint": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "errorClass": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "errorMessage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "externalComment": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "extRef": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "internalComment": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "labelPrinted": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "latestActivity": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "latestStatusEvent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lockState": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "orderChannelId": {
                                "type": "number"
                              },
                              "orderLines": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "countryOfOrigin": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "discountedUnitPrice": {
                                      "type": "number"
                                    },
                                    "discountType": {
                                      "type": "string"
                                    },
                                    "discountValue": {
                                      "type": "number"
                                    },
                                    "extRef": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "isVirtual": {
                                      "type": "boolean"
                                    },
                                    "location": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "orderId": {
                                      "type": "number"
                                    },
                                    "packageId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "quantity": {
                                      "type": "number"
                                    },
                                    "sku": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "tarifNumber": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "unitPrice": {
                                      "type": "number"
                                    },
                                    "updatedAt": {
                                      "type": "string"
                                    },
                                    "vatPercent": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "weight": {
                                      "type": "number"
                                    },
                                    "weightUnit": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "originalShipping": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "senderAddress": {
                                "type": "object",
                                "properties": {
                                  "address1": {
                                    "type": "string"
                                  },
                                  "address2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressType": {
                                    "type": "string"
                                  },
                                  "attContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "companyName": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "duns": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "eori": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "extLocation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fda": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "formattedRecipient": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "ioss": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "personalCustomsNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "sprn": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "vatNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "voec": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zip": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "shippingRateId": {
                                "type": "number"
                              },
                              "slipPrinted": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "soldFromAddress": {
                                "type": "object",
                                "properties": {
                                  "address1": {
                                    "type": "string"
                                  },
                                  "address2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressType": {
                                    "type": "string"
                                  },
                                  "attContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "companyName": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "duns": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "eori": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "extLocation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fda": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "formattedRecipient": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "ioss": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "personalCustomsNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "sprn": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "vatNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "voec": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zip": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "source": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "visibleRef": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "copyright": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "activities": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "additionalAttributes": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "attachments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "comments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "documents": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "errorType": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "events": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "orderChannel": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "packages": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "printerClient": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "printJobs": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "returns": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "shipments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "shippingRate": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "statusEvents": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webshipper/latest/actions/create-report": {
      "post": {
        "operationId": "webshipper.create-report",
        "summary": "Create Report",
        "description": "Creates a report in Webshipper.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webshipper/latest/actions/create-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.type",
                  "data.relationships.reportType.data.type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.attributes.endTime": {
                    "type": "string",
                    "description": "Report end time in ISO-8601 format."
                  },
                  "data.attributes.outputFormats": {
                    "type": "string",
                    "description": "Output formats to generate."
                  },
                  "data.attributes.startTime": {
                    "type": "string",
                    "description": "Report start time in ISO-8601 format."
                  },
                  "data.relationships.reportType.data.id": {
                    "type": "string",
                    "description": "Report type ID."
                  },
                  "data.type": {
                    "type": "string",
                    "description": "Use the default value `reports`.",
                    "default": "reports"
                  },
                  "data.relationships.reportType.data.type": {
                    "type": "string",
                    "description": "Use the default value `report_types`.",
                    "default": "report_types"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string"
                          },
                          "csv_download_url": {
                            "type": "string"
                          },
                          "end_time": {
                            "type": "string"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "failed": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "json_download_url": {
                            "type": "string"
                          },
                          "order_ids": {
                            "type": "string"
                          },
                          "output_formats": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "string"
                          },
                          "pdf_download_url": {
                            "type": "string"
                          },
                          "start_time": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "xlsx_download_url": {
                            "type": "string"
                          },
                          "xml_download_url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webshipper/latest/actions/create-return-cause": {
      "post": {
        "operationId": "webshipper.create-return-cause",
        "summary": "Create Return Cause",
        "description": "Creates a return cause in Webshipper.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webshipper/latest/actions/create-return-cause"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.type",
                  "data.relationships.portal.data.type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.attributes.description": {
                    "type": "string",
                    "description": "Description of the return cause."
                  },
                  "data.attributes.limitRefundMethods": {
                    "type": "string",
                    "description": "Whether refund methods should be limited."
                  },
                  "data.attributes.name": {
                    "type": "string",
                    "description": "Name of the return cause."
                  },
                  "data.attributes.requireComment": {
                    "type": "string",
                    "description": "Whether a comment is required for this return cause."
                  },
                  "data.attributes.supportImageRequired": {
                    "type": "string",
                    "description": "Whether a support image is required."
                  },
                  "data.relationships.portal.data.id": {
                    "type": "string",
                    "description": "Return portal ID."
                  },
                  "data.type": {
                    "type": "string",
                    "description": "Use the default value `return_causes`.",
                    "default": "return_causes"
                  },
                  "data.relationships.portal.data.type": {
                    "type": "string",
                    "description": "Use the default value `return_portals`.",
                    "default": "return_portals"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "limit_refund_methods": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "require_comment": {
                            "type": "boolean"
                          },
                          "support_image_required": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webshipper/latest/actions/create-return-portal": {
      "post": {
        "operationId": "webshipper.create-return-portal",
        "summary": "Create Return Portal",
        "description": "Creates a return portal in Webshipper.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webshipper/latest/actions/create-return-portal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.attributes.name",
                  "data.relationships.orderChannel.data.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.attributes.name": {
                    "type": "string",
                    "description": "Name of the return portal."
                  },
                  "data.relationships.orderChannel.data.id": {
                    "type": "string",
                    "description": "The order channel ID to connect to the portal."
                  },
                  "data.relationships.slipTemplate.data.id": {
                    "type": "string",
                    "description": "Optional slip template ID."
                  },
                  "data.relationships.mailTemplate.data.id": {
                    "type": "string",
                    "description": "Optional mail template ID."
                  },
                  "data.relationships.returnAddress.data.id": {
                    "type": "string",
                    "description": "Optional return address ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowed_days_since_dispatch": {
                            "type": "string"
                          },
                          "custom_style": {
                            "type": "string"
                          },
                          "email_address_resource_options": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "email_address_source": {
                            "type": "string"
                          },
                          "finished_stripe_setup": {
                            "type": "string"
                          },
                          "force_single_page": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "mail_templateId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "new_confirmation_mail_template": {
                            "type": "string"
                          },
                          "new_mail_template": {
                            "type": "string"
                          },
                          "optional_return_cause": {
                            "type": "boolean"
                          },
                          "order_channel_id": {
                            "type": "number"
                          },
                          "order_channel_logo": {
                            "type": "string"
                          },
                          "send_immediately": {
                            "type": "boolean"
                          },
                          "shipping_methods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "static_notice_email": {
                            "type": "string"
                          },
                          "translations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webshipper/latest/actions/create-return-shipping-method": {
      "post": {
        "operationId": "webshipper.create-return-shipping-method",
        "summary": "Create Return Shipping Method",
        "description": "Creates a return shipping method in Webshipper.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webshipper/latest/actions/create-return-shipping-method"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.attributes.name",
                  "data.relationships.portal.data.id",
                  "data.relationships.shippingRate.data.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.attributes.name": {
                    "type": "string",
                    "description": "Name of the return shipping method."
                  },
                  "data.relationships.portal.data.id": {
                    "type": "string",
                    "description": "Return portal ID."
                  },
                  "data.relationships.shippingRate.data.id": {
                    "type": "string",
                    "description": "Shipping rate ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "excluded_countries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excluded_skus": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excluded_zip_codes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webshipper/latest/actions/create-shipment": {
      "post": {
        "operationId": "webshipper.create-shipment",
        "summary": "Create Shipment",
        "description": "Creates a shipment in Webshipper.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webshipper/latest/actions/create-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.relationships.order.data.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.relationships.order.data.id": {
                    "type": "string",
                    "description": "Order ID to create the shipment from."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "billingAddress": {
                                "type": "object",
                                "properties": {
                                  "address1": {
                                    "type": "string"
                                  },
                                  "address2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressType": {
                                    "type": "string"
                                  },
                                  "attContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "companyName": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "duns": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "eori": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "extLocation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fda": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "formattedRecipient": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "ioss": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "personalCustomsNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "sprn": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "vatNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "voec": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zip": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "carrierAlias": {
                                "type": "string"
                              },
                              "carrierId": {
                                "type": "number"
                              },
                              "carrierTypeName": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "costPrice": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "csvUploadId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "currency": {
                                "type": "string"
                              },
                              "deliveryAddress": {
                                "type": "object",
                                "properties": {
                                  "address1": {
                                    "type": "string"
                                  },
                                  "address2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressType": {
                                    "type": "string"
                                  },
                                  "attContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "companyName": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "duns": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "eori": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "extLocation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fda": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "formattedRecipient": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "ioss": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "personalCustomsNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "sprn": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  },
                                  "vatNo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "voec": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zip": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "documentTemplate": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dropPoint": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dutiable": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailNotification": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "extRef": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fulfillImmediately": {
                                "type": "boolean"
                              },
                              "invoiceSettings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isReturn": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "latestActivity": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "latestStatusEvent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "latestUpdateTime": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "manualOrderShipmentCreation": {
                                "type": "boolean"
                              },
                              "omitPrint": {
                                "type": "boolean"
                              },
                              "originalShipmentId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "packages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "barcodeUsageId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "barcodeUsageType": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "colliType": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "customsLines": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "countryOfOrigin": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "createdAt": {
                                            "type": "string"
                                          },
                                          "currency": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "discount": {
                                            "type": "number"
                                          },
                                          "extRef": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "id": {
                                            "type": "number"
                                          },
                                          "packageId": {
                                            "type": "number"
                                          },
                                          "quantity": {
                                            "type": "number"
                                          },
                                          "sku": {
                                            "type": "string"
                                          },
                                          "tarifNumber": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "unitPrice": {
                                            "type": "number"
                                          },
                                          "updatedAt": {
                                            "type": "string"
                                          },
                                          "vatPercent": {
                                            "type": "number"
                                          },
                                          "weight": {
                                            "type": "number"
                                          },
                                          "weightUnit": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "extRef": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "labellessCode": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "orderLines": {
                                      "type": "array",
[...]
