{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GitHub Utils Universal API",
    "version": "0.0.7",
    "description": "GitHub Utils provides utility actions for repositories, issues, pull requests, commits, files, releases, and workflow runs through the GitHub REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/gitHubUtils/latest/actions/create-issue": {
      "post": {
        "operationId": "gitHubUtils.create-issue",
        "summary": "Create Issue",
        "description": "Creates a new issue on GitHub.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/create-issue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "owner",
                  "repo",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "string",
                    "description": "The issue body."
                  },
                  "owner": {
                    "type": "string",
                    "description": "Repository owner or organization login."
                  },
                  "repo": {
                    "type": "string",
                    "description": "Repository name."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the issue."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assignees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "author_association": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "closed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "comments": {
                            "type": "number"
                          },
                          "comments_url": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "events_url": {
                            "type": "string"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "labels_url": {
                            "type": "string"
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "milestone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "repository_url": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "state_reason": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/create-issue-comment": {
      "post": {
        "operationId": "gitHubUtils.create-issue-comment",
        "summary": "Create Issue Comment",
        "description": "Creates an issue comment on GitHub.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/create-issue-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "owner",
                  "repo",
                  "issue_number",
                  "body"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "owner": {
                    "type": "string",
                    "description": "Repository owner or organization login."
                  },
                  "repo": {
                    "type": "string",
                    "description": "Repository name."
                  },
                  "issue_number": {
                    "type": "number",
                    "description": "Issue number in the repository."
                  },
                  "body": {
                    "type": "string",
                    "description": "The comment body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author_association": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "issue_url": {
                            "type": "string"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "reactions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/create-pull-request": {
      "post": {
        "operationId": "gitHubUtils.create-pull-request",
        "summary": "Create Pull Request",
        "description": "Creates a pull request on GitHub.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/create-pull-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "owner",
                  "repo",
                  "title",
                  "head",
                  "base"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "string",
                    "description": "Pull request body."
                  },
                  "owner": {
                    "type": "string",
                    "description": "Repository owner or organization login."
                  },
                  "repo": {
                    "type": "string",
                    "description": "Repository name."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the new pull request."
                  },
                  "head": {
                    "type": "string",
                    "description": "The branch or commit where changes are implemented."
                  },
                  "base": {
                    "type": "string",
                    "description": "The branch you want changes pulled into."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author_association": {
                            "type": "string"
                          },
                          "base": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "body": {
                            "type": "string"
                          },
                          "closed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "diff_url": {
                            "type": "string"
                          },
                          "draft": {
                            "type": "boolean"
                          },
                          "head": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "issue_url": {
                            "type": "string"
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "merge_commit_sha": {
                            "type": "string"
                          },
                          "merged_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "patch_url": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/get-authenticated-user": {
      "get": {
        "operationId": "gitHubUtils.get-authenticated-user",
        "summary": "Get Authenticated User",
        "description": "Retrieves the authenticated user from GitHub.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/get-authenticated-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatar_url": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "blog": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "number"
                          },
                          "following": {
                            "type": "number"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "location": {
                            "type": "string"
                          },
                          "login": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "public_repos": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/get-issue": {
      "get": {
        "operationId": "gitHubUtils.get-issue",
        "summary": "Get Issue",
        "description": "Retrieves an issue from a GitHub repository.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/get-issue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "description": "Repository owner or organization login.",
            "schema": {
              "type": "string",
              "description": "Repository owner or organization login."
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Repository name.",
            "schema": {
              "type": "string",
              "description": "Repository name."
            }
          },
          {
            "name": "issue_number",
            "in": "query",
            "required": true,
            "description": "Issue number in the repository.",
            "schema": {
              "type": "number",
              "description": "Issue number in the repository."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assignees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "author_association": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "closed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "comments": {
                            "type": "number"
                          },
                          "comments_url": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "events_url": {
                            "type": "string"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "labels_url": {
                            "type": "string"
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "milestone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "repository_url": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "state_reason": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/get-latest-release": {
      "get": {
        "operationId": "gitHubUtils.get-latest-release",
        "summary": "Get Latest Release",
        "description": "Retrieves the latest release from a GitHub repository.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/get-latest-release"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "description": "Repository owner or organization login.",
            "schema": {
              "type": "string",
              "description": "Repository owner or organization login."
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Repository name.",
            "schema": {
              "type": "string",
              "description": "Repository name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "assets_url": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "body": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "draft": {
                            "type": "boolean"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "immutable": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "prerelease": {
                            "type": "boolean"
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "tag_name": {
                            "type": "string"
                          },
                          "tarball_url": {
                            "type": "string"
                          },
                          "target_commitish": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "upload_url": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "zipball_url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/get-pull-request": {
      "get": {
        "operationId": "gitHubUtils.get-pull-request",
        "summary": "Get Pull Request",
        "description": "Retrieves a pull request from a GitHub repository.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/get-pull-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "description": "Repository owner or organization login.",
            "schema": {
              "type": "string",
              "description": "Repository owner or organization login."
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Repository name.",
            "schema": {
              "type": "string",
              "description": "Repository name."
            }
          },
          {
            "name": "pull_number",
            "in": "query",
            "required": true,
            "description": "Pull request number in the repository.",
            "schema": {
              "type": "number",
              "description": "Pull request number in the repository."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additions": {
                            "type": "number"
                          },
                          "author_association": {
                            "type": "string"
                          },
                          "base": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "body": {
                            "type": "string"
                          },
                          "changed_files": {
                            "type": "number"
                          },
                          "closed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "comments": {
                            "type": "number"
                          },
                          "commits": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletions": {
                            "type": "number"
                          },
                          "diff_url": {
                            "type": "string"
                          },
                          "draft": {
                            "type": "boolean"
                          },
                          "head": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "issue_url": {
                            "type": "string"
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "merge_commit_sha": {
                            "type": "string"
                          },
                          "mergeable": {
                            "type": "boolean"
                          },
                          "merged": {
                            "type": "boolean"
                          },
                          "merged_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "patch_url": {
                            "type": "string"
                          },
                          "review_comments": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/get-repository": {
      "get": {
        "operationId": "gitHubUtils.get-repository",
        "summary": "Get Repository",
        "description": "Retrieves a repository from GitHub.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/get-repository"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "description": "Repository owner or organization login.",
            "schema": {
              "type": "string",
              "description": "Repository owner or organization login."
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Repository name.",
            "schema": {
              "type": "string",
              "description": "Repository name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default_branch": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "fork": {
                            "type": "boolean"
                          },
                          "forks_count": {
                            "type": "number"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "homepage": {
                            "type": "string"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "open_issues_count": {
                            "type": "number"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "private": {
                            "type": "boolean"
                          },
                          "pushed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "stargazers_count": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "watchers_count": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/get-repository-content": {
      "get": {
        "operationId": "gitHubUtils.get-repository-content",
        "summary": "Get Repository Content",
        "description": "Retrieves repository content from GitHub.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/get-repository-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "description": "Repository owner or organization login.",
            "schema": {
              "type": "string",
              "description": "Repository owner or organization login."
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Repository name.",
            "schema": {
              "type": "string",
              "description": "Repository name."
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "File or directory path in the repository.",
            "schema": {
              "type": "string",
              "description": "File or directory path in the repository."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "content": {
                            "type": "string"
                          },
                          "download_url": {
                            "type": "string"
                          },
                          "encoding": {
                            "type": "string"
                          },
                          "git_url": {
                            "type": "string"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "sha": {
                            "type": "string"
                          },
                          "size": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/get-workflow-run": {
      "get": {
        "operationId": "gitHubUtils.get-workflow-run",
        "summary": "Get Workflow Run",
        "description": "Retrieves a workflow run from a GitHub repository.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/get-workflow-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "description": "Repository owner or organization login.",
            "schema": {
              "type": "string",
              "description": "Repository owner or organization login."
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": true,
            "description": "Repository name.",
            "schema": {
              "type": "string",
              "description": "Repository name."
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "required": true,
            "description": "GitHub Actions workflow run ID.",
            "schema": {
              "type": "number",
              "description": "GitHub Actions workflow run ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "artifacts_url": {
                            "type": "string"
                          },
                          "conclusion": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "display_title": {
                            "type": "string"
                          },
                          "event": {
                            "type": "string"
                          },
                          "head_branch": {
                            "type": "string"
                          },
                          "head_commit": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "head_sha": {
                            "type": "string"
                          },
                          "html_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "jobs_url": {
                            "type": "string"
                          },
                          "logs_url": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "pull_requests": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "repository": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "run_attempt": {
                            "type": "number"
                          },
                          "run_number": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "workflow_id": {
                            "type": "number"
                          },
                          "workflow_url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/list-authenticated-user-organizations": {
      "get": {
        "operationId": "gitHubUtils.list-authenticated-user-organizations",
        "summary": "List Authenticated User Organizations",
        "description": "Retrieves organizations for the authenticated GitHub user.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/list-authenticated-user-organizations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatar_url": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "events_url": {
                            "type": "string"
                          },
                          "hooks_url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "issues_url": {
                            "type": "string"
                          },
                          "login": {
                            "type": "string"
                          },
                          "members_url": {
                            "type": "string"
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "public_members_url": {
                            "type": "string"
                          },
                          "repos_url": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gitHubUtils/latest/actions/list-authenticated-user-repositories": {
      "get": {
        "operationId": "gitHubUtils.list-authenticated-user-repositories",
        "summary": "List Authenticated User Repositories",
        "description": "Retrieves repositories for the authenticated GitHub user.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gitHubUtils/latest/actions/list-authenticated-user-repositories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
[...]
