{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DataScope Forms Universal API",
    "version": "0.0.8",
    "description": "Access DataScope form answers, metadata, locations, lists, task assignments, notifications, and generated files through the public DataScope API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dataScopeForms/latest/actions/bulk-update-list-elements": {
      "put": {
        "operationId": "dataScopeForms.bulk-update-list-elements",
        "summary": "Bulk Update List Elements",
        "description": "Updates list elements in DataScope Forms by replacing the full list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/bulk-update-list-elements"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "list_objects[]",
                  "metadata_type",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "list_objects[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of list objects to create or update. Objects not present may be soft-deleted by DataScope."
                  },
                  "metadata_type": {
                    "type": "string",
                    "description": "Internal code that identifies the list to replace."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the list to create or update."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "length": {
                            "type": "number"
                          },
                          "list_type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/create-list": {
      "post": {
        "operationId": "dataScopeForms.create-list",
        "summary": "Create List",
        "description": "Creates a new list in DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/create-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "list.code": {
                    "type": "string",
                    "description": "Internal code of the list."
                  },
                  "list.description": {
                    "type": "string",
                    "description": "Description of the list."
                  },
                  "list.list_type": {
                    "type": "string",
                    "description": "Type of the list. Valid values: standard, percent, price."
                  },
                  "list.name": {
                    "type": "string",
                    "description": "Name of the list."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "list_type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/create-list-element": {
      "post": {
        "operationId": "dataScopeForms.create-list-element",
        "summary": "Create List Element",
        "description": "Creates a new list element in DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/create-list-element"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "list_object.attribute1": {
                    "type": "string",
                    "description": "First custom attribute of the list element."
                  },
                  "list_object.attribute2": {
                    "type": "string",
                    "description": "Second custom attribute of the list element."
                  },
                  "list_object.code": {
                    "type": "string",
                    "description": "Internal code of the list element."
                  },
                  "list_object.description": {
                    "type": "string",
                    "description": "Description of the list element."
                  },
                  "list_object.name": {
                    "type": "string",
                    "description": "Name of the list element."
                  },
                  "metadata_type": {
                    "type": "string",
                    "description": "Internal code that identifies the target list."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attribute1": {
                            "type": "string"
                          },
                          "attribute2": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "metadata_type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/create-location": {
      "post": {
        "operationId": "dataScopeForms.create-location",
        "summary": "Create Location",
        "description": "Creates a new location in DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/create-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "location.address": {
                    "type": "string",
                    "description": "Address of the location."
                  },
                  "location.city": {
                    "type": "string",
                    "description": "City of the location."
                  },
                  "location.code": {
                    "type": "string",
                    "description": "Code of the location."
                  },
                  "location.company_code": {
                    "type": "string",
                    "description": "Code of the company for the location."
                  },
                  "location.company_name": {
                    "type": "string",
                    "description": "Company name for the location."
                  },
                  "location.country": {
                    "type": "string",
                    "description": "Country of the location."
                  },
                  "location.description": {
                    "type": "string",
                    "description": "Description of the location."
                  },
                  "location.email": {
                    "type": "string",
                    "description": "Email of the location."
                  },
                  "location.latitude": {
                    "type": "number",
                    "description": "Latitude of the location."
                  },
                  "location.longitude": {
                    "type": "number",
                    "description": "Longitude of the location."
                  },
                  "location.name": {
                    "type": "string",
                    "description": "Name of the location."
                  },
                  "location.phone": {
                    "type": "string",
                    "description": "Phone number of the location."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "company_code": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/create-task-assignment": {
      "post": {
        "operationId": "dataScopeForms.create-task-assignment",
        "summary": "Create Task Assignment",
        "description": "Creates a task assignment in DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/create-task-assignment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "date",
                  "form_id",
                  "user_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "c_code": {
                    "type": "string",
                    "description": "Company tax ID or code of the location."
                  },
                  "c_name": {
                    "type": "string",
                    "description": "Company name of the location."
                  },
                  "code": {
                    "type": "string",
                    "description": "Code to identify the task."
                  },
                  "date": {
                    "type": "string",
                    "description": "Date and time of the assigned task in YYYY-mm-dd HH:MM format."
                  },
                  "form_id": {
                    "type": "number",
                    "description": "Internal identifier of the form to assign."
                  },
                  "gap": {
                    "type": "number",
                    "description": "Hours available to perform the task."
                  },
                  "l_code": {
                    "type": "string",
                    "description": "Code of the location for the task."
                  },
                  "l_email": {
                    "type": "string",
                    "description": "Email address of the location."
                  },
                  "l_phone": {
                    "type": "string",
                    "description": "Phone number of the location."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the location."
                  },
                  "location_address": {
                    "type": "string",
                    "description": "Address of the location."
                  },
                  "location_name": {
                    "type": "string",
                    "description": "Name of the location when it needs to be created or updated."
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the location."
                  },
                  "task_instruction": {
                    "type": "string",
                    "description": "Instruction shown on the assigned task."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Email address of the user assigned to the task."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          },
                          "task": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/get-list-element": {
      "get": {
        "operationId": "dataScopeForms.get-list-element",
        "summary": "Get List Element",
        "description": "Retrieves a list element from DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/get-list-element"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadataId",
            "in": "query",
            "required": false,
            "description": "Internal identifier of the list element to fetch.",
            "schema": {
              "type": "number",
              "description": "Internal identifier of the list element to fetch."
            }
          },
          {
            "name": "metadataType",
            "in": "query",
            "required": false,
            "description": "Internal code that identifies the target list.",
            "schema": {
              "type": "string",
              "description": "Internal code that identifies the target list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "number",
                            "description": "Internal identifier of the account."
                          },
                          "attribute1": {
                            "type": "string",
                            "description": "Custom attribute 1 of the list element."
                          },
                          "attribute2": {
                            "type": "string",
                            "description": "Custom attribute 2 of the list element."
                          },
                          "code": {
                            "type": "string",
                            "description": "Code of the list element."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the list element was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the list element."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal identifier of the list element."
                          },
                          "list_id": {
                            "type": "number",
                            "description": "Internal identifier of the parent list."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the list element."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the list element was updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/list-answers": {
      "get": {
        "operationId": "dataScopeForms.list-answers",
        "summary": "List Answers",
        "description": "Retrieves submitted answers from DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/list-answers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": false,
            "description": "Filter answers to a specific DataScope form.",
            "schema": {
              "type": "number",
              "description": "Filter answers to a specific DataScope form."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Filter answers to a specific user.",
            "schema": {
              "type": "string",
              "description": "Filter answers to a specific user."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start of the date range to fetch answers for.",
            "schema": {
              "type": "string",
              "description": "Start of the date range to fetch answers for.",
              "example": "2026-03-01"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End of the date range to fetch answers for.",
            "schema": {
              "type": "string",
              "description": "End of the date range to fetch answers for.",
              "example": "2026-03-18"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": false,
            "description": "Filter answers to a specific location.",
            "schema": {
              "type": "number",
              "description": "Filter answers to a specific location."
            }
          },
          {
            "name": "dateModified",
            "in": "query",
            "required": false,
            "description": "Use the answer modification date instead of the creation date when filtering.",
            "schema": {
              "type": "boolean",
              "description": "Use the answer modification date instead of the creation date when filtering."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Public identifier returned in the DataScope example payload."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the form was received."
                          },
                          "form_answer_id": {
                            "type": "number",
                            "description": "Internal code of the form answer."
                          },
                          "form_id": {
                            "type": "number",
                            "description": "Internal code of the form."
                          },
                          "form_name": {
                            "type": "string",
                            "description": "Name of the form."
                          },
                          "form_state": {
                            "type": "string",
                            "description": "Last status of the form answer."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude where the form was answered."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude where the form was answered."
                          },
                          "user_identifier": {
                            "type": "string",
                            "description": "Identifier of the user who submitted the form."
                          },
                          "user_name": {
                            "type": "string",
                            "description": "Name of the user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/list-answers-with-metadata": {
      "get": {
        "operationId": "dataScopeForms.list-answers-with-metadata",
        "summary": "List Answers with Metadata",
        "description": "Retrieves submitted answers with metadata from DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/list-answers-with-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End of the date range to fetch answers for.",
            "schema": {
              "type": "string",
              "description": "End of the date range to fetch answers for."
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": false,
            "description": "Filter answers to a specific DataScope form.",
            "schema": {
              "type": "string",
              "description": "Filter answers to a specific DataScope form."
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": false,
            "description": "Filter answers to a specific location.",
            "schema": {
              "type": "string",
              "description": "Filter answers to a specific location."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start of the date range to fetch answers for.",
            "schema": {
              "type": "string",
              "description": "Start of the date range to fetch answers for."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Filter answers to a specific user.",
            "schema": {
              "type": "string",
              "description": "Filter answers to a specific user."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Question-level answers with metadata."
                          },
                          "assign_id": {
                            "type": "string",
                            "description": "Assignment identifier."
                          },
                          "assign_internal_id": {
                            "type": "string",
                            "description": "Internal assignment identifier."
                          },
                          "assign_location_code": {
                            "type": "string",
                            "description": "Assignment location code."
                          },
                          "assign_location_description": {
                            "type": "string",
                            "description": "Assignment location description."
                          },
                          "assign_location_name": {
                            "type": "string",
                            "description": "Assignment location name."
                          },
                          "code": {
                            "type": "string",
                            "description": "Public identifier returned in the DataScope example payload."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the form was received."
                          },
                          "form_answer_id": {
                            "type": "number",
                            "description": "Internal code of the form answer."
                          },
                          "form_id": {
                            "type": "number",
                            "description": "Internal code of the form."
                          },
                          "form_name": {
                            "type": "string",
                            "description": "Name of the form."
                          },
                          "form_state": {
                            "type": "string",
                            "description": "Last status of the form answer."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude where the form was answered."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude where the form was answered."
                          },
                          "user_name": {
                            "type": "string",
                            "description": "Name of the user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/list-generated-files": {
      "get": {
        "operationId": "dataScopeForms.list-generated-files",
        "summary": "List Generated Files",
        "description": "Retrieves generated files from DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/list-generated-files"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End of the date range to fetch generated files for.",
            "schema": {
              "type": "string",
              "description": "End of the date range to fetch generated files for."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start of the date range to fetch generated files for.",
            "schema": {
              "type": "string",
              "description": "Start of the date range to fetch generated files for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "form_code": {
                            "type": "string",
                            "description": "Code of the form."
                          },
                          "form_name": {
                            "type": "string",
                            "description": "Name of the form."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identifier of the generated file notification."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of generated file, such as PDF or Excel."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of the generated file."
                          },
                          "user": {
                            "type": "string",
                            "description": "Name or identifier of the user who generated the file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/list-list-elements": {
      "get": {
        "operationId": "dataScopeForms.list-list-elements",
        "summary": "List List Elements",
        "description": "Retrieves list elements from DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/list-list-elements"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadataType",
            "in": "query",
            "required": false,
            "description": "Internal code that identifies the target list.",
            "schema": {
              "type": "string",
              "description": "Internal code that identifies the target list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "number",
                            "description": "Internal identifier of the account."
                          },
                          "attribute1": {
                            "type": "string",
                            "description": "Custom attribute 1 of the list element."
                          },
                          "attribute2": {
                            "type": "string",
                            "description": "Custom attribute 2 of the list element."
                          },
                          "code": {
                            "type": "string",
                            "description": "Code of the list element."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the list element was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the list element."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal identifier of the list element."
                          },
                          "list_id": {
                            "type": "number",
                            "description": "Internal identifier of the parent list."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the list element."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the list element was updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/list-locations": {
      "get": {
        "operationId": "dataScopeForms.list-locations",
        "summary": "List Locations",
        "description": "Retrieves locations from DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/list-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Address of the location."
                          },
                          "city": {
                            "type": "string",
                            "description": "City of the location."
                          },
                          "code": {
                            "type": "string",
                            "description": "Code of the location."
                          },
                          "company_code": {
                            "type": "string",
                            "description": "Code of the company."
                          },
                          "company_name": {
                            "type": "string",
                            "description": "Name of the company."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country of the location."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the location."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal identifier of the location."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude GPS coordinate."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude GPS coordinate."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the location."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number of the location."
                          },
                          "region": {
                            "type": "string",
                            "description": "Region of the location."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/list-notifications": {
      "get": {
        "operationId": "dataScopeForms.list-notifications",
        "summary": "List Notifications",
        "description": "Retrieves notifications from DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/list-notifications"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End of the date range to fetch notifications for.",
            "schema": {
              "type": "string",
              "description": "End of the date range to fetch notifications for."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start of the date range to fetch notifications for.",
            "schema": {
              "type": "string",
              "description": "Start of the date range to fetch notifications for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the notification was created."
                          },
                          "form_code": {
                            "type": "string",
                            "description": "Code of the form."
                          },
                          "form_name": {
                            "type": "string",
                            "description": "Name of the form."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identifier of the notification."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of notification, such as PDF or Excel."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the notification was updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of the notified file."
                          },
                          "user": {
                            "type": "string",
                            "description": "Name or identifier of the user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataScopeForms/latest/actions/update-list-element": {
      "put": {
        "operationId": "dataScopeForms.update-list-element",
        "summary": "Update List Element",
        "description": "Updates an existing list element in DataScope Forms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataScopeForms/latest/actions/update-list-element"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
[...]
