{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Rentman Universal API",
    "version": "0.0.3",
    "description": "Manage projects, equipment, crew, and invoices in Rentman"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rentman/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rentman/latest/actions/create-appointment": {
      "post": {
        "operationId": "rentman.create-appointment",
        "summary": "Create Appointment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/create-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "start",
                  "end"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Appointment name."
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Appointment start timestamp."
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Appointment end timestamp."
                  },
                  "location": {
                    "type": "string",
                    "description": "Appointment location."
                  },
                  "remark": {
                    "type": "string",
                    "description": "Appointment remark."
                  },
                  "is_public": {
                    "type": "boolean",
                    "description": "Whether the appointment is public."
                  },
                  "is_plannable": {
                    "type": "boolean",
                    "description": "Whether employees can be scheduled during this appointment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_plannable": {
                            "type": "boolean"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "recurrence_enddate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "recurrence_group": {
                            "type": "number"
                          },
                          "recurrence_interval": {
                            "type": "number"
                          },
                          "recurrence_interval_unit": {
                            "type": "string"
                          },
                          "recurrence_weekdays": {
                            "type": "string"
                          },
                          "remark": {
                            "type": "string"
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "synchronisation_uri": {
                            "type": "string"
                          },
                          "synchronization_id": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/create-contact": {
      "post": {
        "operationId": "rentman.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Contact name."
                  },
                  "type": {
                    "type": "string",
                    "description": "Contact type: private or company."
                  },
                  "email_1": {
                    "type": "string",
                    "description": "Primary email address."
                  },
                  "phone_1": {
                    "type": "string",
                    "description": "Primary phone number."
                  },
                  "mailing_city": {
                    "type": "string",
                    "description": "Mailing city."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "custom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "default_person": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "email_1": {
                            "type": "string"
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image": {
                            "type": "string"
                          },
                          "mailing_city": {
                            "type": "string"
                          },
                          "mailing_postalcode": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone_1": {
                            "type": "string"
                          },
                          "surname": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/create-project": {
      "post": {
        "operationId": "rentman.create-project",
        "summary": "Create Project",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Project name."
                  },
                  "reference": {
                    "type": "string",
                    "description": "Project reference."
                  },
                  "number": {
                    "type": "string",
                    "description": "Project number."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_manager": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "conditions": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "cust_contact": {
                            "type": "string"
                          },
                          "custom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "string"
                          },
                          "deposit_status": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "loc_contact": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "project_type": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "refundabledeposit": {
                            "type": "number"
                          },
                          "updateHash": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/create-project-function": {
      "post": {
        "operationId": "rentman.create-project-function",
        "summary": "Create Project Function",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/create-project-function"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "subproject",
                  "cost_rate",
                  "price_rate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "Numeric ID of the parent project."
                  },
                  "subproject": {
                    "type": "string",
                    "description": "Subproject reference, for example /subprojects/0."
                  },
                  "cost_rate": {
                    "type": "string",
                    "description": "Cost rate reference, for example /rates/0."
                  },
                  "price_rate": {
                    "type": "string",
                    "description": "Price rate reference, for example /rates/0."
                  },
                  "name": {
                    "type": "string",
                    "description": "Function name on packing lists."
                  },
                  "type": {
                    "type": "string",
                    "description": "Function type."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Function amount."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "cost_rate": {
                            "type": "string"
                          },
                          "costs_variable": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "in_financial": {
                            "type": "boolean"
                          },
                          "in_planning": {
                            "type": "boolean"
                          },
                          "is_plannable": {
                            "type": "boolean"
                          },
                          "ledger": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "price_rate": {
                            "type": "string"
                          },
                          "price_variable": {
                            "type": "number"
                          },
                          "project": {
                            "type": "string"
                          },
                          "subproject": {
                            "type": "string"
                          },
                          "taxclass": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/get-appointment": {
      "get": {
        "operationId": "rentman.get-appointment",
        "summary": "Get Appointment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/get-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Numeric Rentman appointment ID.",
            "schema": {
              "type": "number",
              "description": "Numeric Rentman appointment ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_plannable": {
                            "type": "boolean"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "recurrence_enddate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "recurrence_group": {
                            "type": "number"
                          },
                          "recurrence_interval": {
                            "type": "number"
                          },
                          "recurrence_interval_unit": {
                            "type": "string"
                          },
                          "recurrence_weekdays": {
                            "type": "string"
                          },
                          "remark": {
                            "type": "string"
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "synchronisation_uri": {
                            "type": "string"
                          },
                          "synchronization_id": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/get-contact": {
      "get": {
        "operationId": "rentman.get-contact",
        "summary": "Get Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Numeric Rentman contact ID.",
            "schema": {
              "type": "number",
              "description": "Numeric Rentman contact ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "custom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "default_person": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "email_1": {
                            "type": "string"
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image": {
                            "type": "string"
                          },
                          "mailing_city": {
                            "type": "string"
                          },
                          "mailing_postalcode": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone_1": {
                            "type": "string"
                          },
                          "surname": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/get-crew": {
      "get": {
        "operationId": "rentman.get-crew",
        "summary": "Get Crew",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/get-crew"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Numeric Rentman crew identifier.",
            "schema": {
              "type": "number",
              "description": "Numeric Rentman crew identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "bank": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "coc_code": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "number"
                          },
                          "contract_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "country": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "custom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "default_warehouse": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "external_reference": {
                            "type": "string"
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "folder": {
                            "type": "string"
                          },
                          "housenumber": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastname": {
                            "type": "string"
                          },
                          "middle_name": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          },
                          "vat_code": {
                            "type": "string"
                          },
                          "vt_fullname": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/get-equipment": {
      "get": {
        "operationId": "rentman.get-equipment",
        "summary": "Get Equipment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/get-equipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Numeric Rentman equipment identifier.",
            "schema": {
              "type": "number",
              "description": "Numeric Rentman equipment identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "can_edit_content_during_planning": {
                            "type": "boolean"
                          },
                          "code": {
                            "type": "string"
                          },
                          "country_of_origin": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "critical_stock_level": {
                            "type": "number"
                          },
                          "current": {
                            "type": "number"
                          },
                          "current_quantity": {
                            "type": "number"
                          },
                          "current_quantity_excl_cases": {
                            "type": "number"
                          },
                          "custom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultgroup": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "empty_weight": {
                            "type": "number"
                          },
                          "external_remark": {
                            "type": "string"
                          },
                          "factor_group": {
                            "type": "string"
                          },
                          "folder": {
                            "type": "string"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image": {
                            "type": "string"
                          },
                          "in_archive": {
                            "type": "boolean"
                          },
                          "in_planner": {
                            "type": "boolean"
                          },
                          "in_shop": {
                            "type": "boolean"
                          },
                          "internal_remark": {
                            "type": "string"
                          },
                          "is_combination": {
                            "type": "boolean"
                          },
                          "is_physical": {
                            "type": "string"
                          },
                          "ledger": {
                            "type": "string"
                          },
                          "ledger_debit": {
                            "type": "string"
                          },
                          "length": {
                            "type": "number"
                          },
                          "list_price": {
                            "type": "number"
                          },
                          "location_in_warehouse": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "packed_per": {
                            "type": "number"
                          },
                          "power": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "qrcodes": {
                            "type": "string"
                          },
                          "qrcodes_of_serial_numbers": {
                            "type": "string"
                          },
                          "quantity_in_cases": {
                            "type": "number"
                          },
                          "rental_sales": {
                            "type": "string"
                          },
                          "shop_description_long": {
                            "type": "string"
                          },
                          "shop_description_short": {
                            "type": "string"
                          },
                          "shop_featured": {
                            "type": "boolean"
                          },
                          "stock_management": {
                            "type": "string"
                          },
                          "strict_container_content": {
                            "type": "string"
                          },
                          "subrental_costs": {
                            "type": "number"
                          },
                          "surface_article": {
                            "type": "boolean"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "taxclass": {
                            "type": "string"
                          },
                          "temporary": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "string"
                          },
                          "unit": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/get-invoice": {
      "get": {
        "operationId": "rentman.get-invoice",
        "summary": "Get Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Numeric Rentman invoice ID.",
            "schema": {
              "type": "number",
              "description": "Numeric Rentman invoice ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_manager": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date_sent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "days_after_expiry": {
                            "type": "number"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "expiration": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "final_payment_reminder_sent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "finalized": {
                            "type": "boolean"
                          },
                          "from_project": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "integration_reference_id": {
                            "type": "string"
                          },
                          "invoicetype": {
                            "type": "string"
                          },
                          "is_paid": {
                            "type": "boolean"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "number": {
                            "type": "string"
                          },
                          "outstanding_balance": {
                            "type": "number"
                          },
                          "payment_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "payment_reminder_sent": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "price_invat": {
                            "type": "number"
                          },
                          "procent": {
                            "type": "number"
                          },
                          "project": {
                            "type": "string"
                          },
                          "project_crew_price": {
                            "type": "number"
                          },
                          "project_insurance_price": {
                            "type": "number"
                          },
                          "project_other_price": {
                            "type": "number"
                          },
                          "project_rental_price": {
                            "type": "number"
                          },
                          "project_sale_price": {
                            "type": "number"
                          },
                          "project_total_price": {
                            "type": "number"
                          },
                          "project_total_price_cancelled": {
                            "type": "number"
                          },
                          "project_transport_price": {
                            "type": "number"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "sum_factuurregels": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "total_paid": {
                            "type": "number"
                          },
                          "updateHash": {
                            "type": "string"
                          },
                          "vat_amount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/get-project": {
      "get": {
        "operationId": "rentman.get-project",
        "summary": "Get Project",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Numeric Rentman project identifier.",
            "schema": {
              "type": "number",
              "description": "Numeric Rentman project identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_manager": {
                            "type": "string"
                          },
                          "already_invoiced": {
                            "type": "number"
                          },
                          "color": {
                            "type": "string"
                          },
                          "conditions": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "current": {
                            "type": "number"
                          },
                          "cust_contact": {
                            "type": "string"
                          },
                          "custom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "string"
                          },
                          "deposit_status": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "equipment_period_from": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equipment_period_to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "loc_contact": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "planperiod_end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "planperiod_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "power": {
                            "type": "number"
                          },
                          "project_crew_price": {
                            "type": "number"
                          },
                          "project_insurance_price": {
                            "type": "number"
                          },
                          "project_other_price": {
                            "type": "number"
                          },
                          "project_rental_price": {
                            "type": "number"
                          },
                          "project_sale_price": {
                            "type": "number"
                          },
                          "project_total_price": {
                            "type": "number"
                          },
                          "project_total_price_cancelled": {
                            "type": "number"
                          },
                          "project_transport_price": {
                            "type": "number"
                          },
                          "project_type": {
                            "type": "string"
                          },
                          "purchasecosts": {
                            "type": "number"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "refundabledeposit": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "updateHash": {
                            "type": "string"
                          },
                          "usageperiod_end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "usageperiod_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentman/latest/actions/list-appointments": {
      "get": {
        "operationId": "rentman.list-appointments",
        "summary": "List Appointments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentman/latest/actions/list-appointments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_plannable": {
                            "type": "boolean"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "recurrence_enddate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "recurrence_group": {
[...]
