{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "noCRM.io Universal API",
    "version": "0.0.8",
    "description": "Connect noCRM.io to read and manage leads, comments, assignments, metadata, users, teams, and client folders through the noCRM REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/noCRMio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/noCRMio/latest/actions/add-lead-to-client-folder": {
      "put": {
        "operationId": "noCRMio.add-lead-to-client-folder",
        "summary": "Add Lead To Client Folder",
        "description": "Adds a lead to a client folder in noCRM.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/noCRMio/latest/actions/add-lead-to-client-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "clientId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Lead ID."
                  },
                  "clientId": {
                    "type": "number",
                    "description": "Client folder ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "amountPercentage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "attachmentCount": {
                            "type": "number"
                          },
                          "clientFolderId": {
                            "type": "number"
                          },
                          "clientFolderName": {
                            "type": "string"
                          },
                          "closedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "createdFrom": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "estimatedClosingDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "extendedInfo": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "allContactEmails": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "allPhonesWithNameAndType": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "attachments": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "bccCount": {
                                "type": "number"
                              },
                              "businessCardId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "clientFolder": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "extendedInfo": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "fields": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "address": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "city": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "companyId": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "country": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "custom1": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "custom2": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "custom3": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "custom4": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "custom5": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "email": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "fax": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "firstName": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "fullName": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "job": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "lastName": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "mobile": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "phone": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "state": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "vat": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "web": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "zipcode": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        }
                                      },
                                      "fieldsByName": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "billingAddress": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "deliveryAddress": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "vATNumber": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        }
                                      },
                                      "permalink": {
                                        "type": "string"
                                      },
                                      "user": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "email": {
                                            "type": "string"
                                          },
                                          "firstname": {
                                            "type": "string"
                                          },
                                          "id": {
                                            "type": "number"
                                          },
                                          "lastname": {
                                            "type": "string"
                                          },
                                          "mobilePhone": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "phone": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isActive": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "userId": {
                                    "type": "number"
                                  }
                                }
                              },
                              "commentCount": {
                                "type": "number"
                              },
                              "createdBy": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstname": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastname": {
                                    "type": "string"
                                  },
                                  "mobilePhone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "fields": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "companyId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fax": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fullName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "job": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "mobile": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "vat": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "web": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zipcode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "fieldsByName": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "firstContactEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "followUps": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "team": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "user": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstname": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastname": {
                                    "type": "string"
                                  },
                                  "mobilePhone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "visibleByCount": {
                                "type": "number"
                              }
                            }
                          },
                          "htmlDescription": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "nextActionAt": {
                            "type": "string"
                          },
                          "pipeline": {
                            "type": "string"
                          },
                          "probability": {
                            "type": "number"
                          },
                          "probabilizedAmount": {
                            "type": "number"
                          },
                          "remindDate": {
                            "type": "string"
                          },
                          "reminderActivityId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderActivityLogId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderDuration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remindTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "secondNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "step": {
                            "type": "string"
                          },
                          "stepId": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "teamId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/noCRMio/latest/actions/assign-lead": {
      "put": {
        "operationId": "noCRMio.assign-lead",
        "summary": "Assign Lead",
        "description": "Assigns a lead in noCRM.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/noCRMio/latest/actions/assign-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "userId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier of the lead."
                  },
                  "userId": {
                    "type": "string",
                    "description": "User ID or email to assign the lead to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "amountPercentage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "attachmentCount": {
                            "type": "number"
                          },
                          "clientFolderId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientFolderName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "closedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "createdFrom": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "estimatedClosingDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "extendedInfo": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "allContactEmails": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "allPhonesWithNameAndType": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "attachments": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "bccCount": {
                                "type": "number"
                              },
                              "businessCardId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "clientFolder": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "commentCount": {
                                "type": "number"
                              },
                              "createdBy": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstname": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastname": {
                                    "type": "string"
                                  },
                                  "mobilePhone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "fields": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "companyId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fax": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fullName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "job": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "mobile": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "vat": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "web": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zipcode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "fieldsByName": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "firstContactEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "followUps": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "team": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "user": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstname": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastname": {
                                    "type": "string"
                                  },
                                  "mobilePhone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "visibleByCount": {
                                "type": "number"
                              }
                            }
                          },
                          "htmlDescription": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "nextActionAt": {
                            "type": "string"
                          },
                          "pipeline": {
                            "type": "string"
                          },
                          "probability": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "probabilizedAmount": {
                            "type": "number"
                          },
                          "remindDate": {
                            "type": "string"
                          },
                          "reminderActivityId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderActivityLogId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderDuration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remindTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "secondNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "step": {
                            "type": "string"
                          },
                          "stepId": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "teamId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/noCRMio/latest/actions/create-client-folder": {
      "post": {
        "operationId": "noCRMio.create-client-folder",
        "summary": "Create Client Folder",
        "description": "Creates a new client folder in noCRM.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/noCRMio/latest/actions/create-client-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Client folder name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Client folder description."
                  },
                  "userId": {
                    "type": "string",
                    "description": "User email or ID to assign the folder to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "extendedInfo": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "fields": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "companyId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fax": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fullName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "job": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "mobile": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "vat": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "web": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zipcode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "fieldsByName": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "billingAddress": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "deliveryAddress": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "vATNumber": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "user": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstname": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastname": {
                                    "type": "string"
                                  },
                                  "mobilePhone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/noCRMio/latest/actions/create-lead": {
      "post": {
        "operationId": "noCRMio.create-lead",
        "summary": "Create Lead",
        "description": "Creates a new lead in noCRM.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/noCRMio/latest/actions/create-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "description",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Backdate the lead creation time."
                  },
                  "description": {
                    "type": "string",
                    "description": "Lead description, usually contact information and notes."
                  },
                  "step": {
                    "type": "string",
                    "description": "Step name or step ID for the lead."
                  },
                  "tags": {
                    "type": "string",
                    "description": "Tags to attach to the lead. Pass multiple values separated by `,`."
                  },
                  "title": {
                    "type": "string",
                    "description": "Lead title, usually the company name."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional user ID or email for direct assignment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "amountPercentage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "attachmentCount": {
                            "type": "number"
                          },
                          "clientFolderId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientFolderName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "closedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdFrom": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "estimatedClosingDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "extendedInfo": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "allContactEmails": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "allPhonesWithNameAndType": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "attachments": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "bccCount": {
                                "type": "number"
                              },
                              "businessCardId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "clientFolder": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "commentCount": {
                                "type": "number"
                              },
                              "createdBy": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fields": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "companyId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "custom5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fax": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fullName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "job": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "mobile": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "state": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "vat": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "web": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "zipcode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "fieldsByName": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phone": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "firstContactEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "followUps": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "team": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "user": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "visibleByCount": {
                                "type": "number"
                              }
                            }
                          },
                          "htmlDescription": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "nextActionAt": {
                            "type": "string"
                          },
                          "pipeline": {
                            "type": "string"
                          },
                          "probability": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "probabilizedAmount": {
                            "type": "number"
                          },
                          "remindDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderActivityId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderActivityLogId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderDuration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remindTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "secondNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "step": {
                            "type": "string"
                          },
                          "stepId": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "teamId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/noCRMio/latest/actions/create-lead-comment": {
      "post": {
        "operationId": "noCRMio.create-lead-comment",
        "summary": "Create Lead Comment",
        "description": "Creates a new lead comment in noCRM.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/noCRMio/latest/actions/create-lead-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "leadId",
                  "content"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Lead ID."
                  },
                  "content": {
                    "type": "string",
                    "description": "Comment content."
                  },
                  "userId": {
                    "type": "string",
                    "description": "User email or ID for comment ownership."
                  },
                  "attachments": {
                    "type": "string",
                    "description": "Attachments to add on the comment."
                  },
                  "activityId": {
                    "type": "number",
                    "description": "Activity ID to set on the comment."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Override comment creation date."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionItem": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "activity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "activityId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "commentedItem": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "item": {
                                "type": "string"
                              }
                            }
                          },
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "extendedInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isPinned": {
                            "type": "boolean"
                          },
                          "rawContent": {
                            "type": "string"
                          },
                          "reactions": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              },
                              "mobilePhone": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/noCRMio/latest/actions/delete-client-folder": {
      "delete": {
        "operationId": "noCRMio.delete-client-folder",
        "summary": "Delete Client Folder",
        "description": "Deletes an existing client folder from noCRM.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/noCRMio/latest/actions/delete-client-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
[...]
