{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "MillionVerifier Universal API",
    "version": "0.0.6",
    "description": "Verify emails, upload bulk lists, and download verification reports"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/millionVerifier/latest/actions/delete-verification-file": {
      "delete": {
        "operationId": "millionVerifier.delete-verification-file",
        "summary": "Delete Verification File",
        "description": "Deletes a verification file from MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/delete-verification-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "The ID of the uploaded file.",
            "schema": {
              "type": "number",
              "description": "The ID of the uploaded file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/millionVerifier/latest/actions/download-verification-report": {
      "get": {
        "operationId": "millionVerifier.download-verification-report",
        "summary": "Download Verification Report",
        "description": "Downloads a verification report from MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/download-verification-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "The ID of the uploaded file.",
            "schema": {
              "type": "number",
              "description": "The ID of the uploaded file."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "Report filter preset.",
            "schema": {
              "type": "string",
              "description": "Report filter preset.",
              "example": "all",
              "default": "all"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "description": "Comma-separated statuses to include when filter is custom.",
            "schema": {
              "type": "string",
              "description": "Comma-separated statuses to include when filter is custom.",
              "example": "ok,invalid"
            }
          },
          {
            "name": "free",
            "in": "query",
            "required": false,
            "description": "Whether to include only free or non-free domains when filter is custom.",
            "schema": {
              "type": "string",
              "description": "Whether to include only free or non-free domains when filter is custom.",
              "example": "1"
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "description": "Whether to include only role or non-role emails when filter is custom.",
            "schema": {
              "type": "string",
              "description": "Whether to include only role or non-role emails when filter is custom.",
              "example": "0"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/millionVerifier/latest/actions/get-api-credits": {
      "get": {
        "operationId": "millionVerifier.get-api-credits",
        "summary": "Get API Credits",
        "description": "Retrieves available API credits from MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/get-api-credits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bulkCredits": {
                            "type": "number"
                          },
                          "credits": {
                            "type": "number"
                          },
                          "plan": {
                            "type": "number"
                          },
                          "renewingCredits": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/millionVerifier/latest/actions/get-verification-file": {
      "get": {
        "operationId": "millionVerifier.get-verification-file",
        "summary": "Get Verification File",
        "description": "Retrieves a verification file from MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/get-verification-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "The ID of the uploaded file.",
            "schema": {
              "type": "number",
              "description": "The ID of the uploaded file."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "catchAll": {
                            "type": "number"
                          },
                          "createdate": {
                            "type": "string"
                          },
                          "credit": {
                            "type": "number"
                          },
                          "disposable": {
                            "type": "number"
                          },
                          "error": {
                            "type": "string"
                          },
                          "estimatedTimeSec": {
                            "type": "number"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "invalid": {
                            "type": "number"
                          },
                          "ok": {
                            "type": "number"
                          },
                          "percent": {
                            "type": "number"
                          },
                          "reverify": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalRows": {
                            "type": "number"
                          },
                          "uniqueEmails": {
                            "type": "number"
                          },
                          "unknown": {
                            "type": "number"
                          },
                          "unverified": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/millionVerifier/latest/actions/list-verification-files": {
      "get": {
        "operationId": "millionVerifier.list-verification-files",
        "summary": "List Verification Files",
        "description": "Retrieves verification files from MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/list-verification-files"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset for pagination.",
            "schema": {
              "type": "number",
              "description": "Offset for pagination.",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of files to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of files to return.",
              "default": 50
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Comma-separated file IDs to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated file IDs to include.",
              "example": "1,2,3"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Text that should appear in the file name.",
            "schema": {
              "type": "string",
              "description": "Text that should appear in the file name.",
              "example": "emails.csv"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Comma-separated file statuses to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated file statuses to include.",
              "example": "finished,in_progress"
            }
          },
          {
            "name": "updatedAtFrom",
            "in": "query",
            "required": false,
            "description": "Only include files updated after this timestamp.",
            "schema": {
              "type": "string",
              "description": "Only include files updated after this timestamp.",
              "example": "2023-01-01 15:00:05"
            }
          },
          {
            "name": "updatedAtTo",
            "in": "query",
            "required": false,
            "description": "Only include files updated before this timestamp.",
            "schema": {
              "type": "string",
              "description": "Only include files updated before this timestamp.",
              "example": "2023-01-01 15:00:05"
            }
          },
          {
            "name": "createdateFrom",
            "in": "query",
            "required": false,
            "description": "Only include files created after this timestamp.",
            "schema": {
              "type": "string",
              "description": "Only include files created after this timestamp.",
              "example": "2023-01-01 15:00:05"
            }
          },
          {
            "name": "createdateTo",
            "in": "query",
            "required": false,
            "description": "Only include files created before this timestamp.",
            "schema": {
              "type": "string",
              "description": "Only include files created before this timestamp.",
              "example": "2023-01-01 15:00:05"
            }
          },
          {
            "name": "percentFrom",
            "in": "query",
            "required": false,
            "description": "Only include files with progress greater than or equal to this percentage.",
            "schema": {
              "type": "number",
              "description": "Only include files with progress greater than or equal to this percentage."
            }
          },
          {
            "name": "percentTo",
            "in": "query",
            "required": false,
            "description": "Only include files with progress less than or equal to this percentage.",
            "schema": {
              "type": "number",
              "description": "Only include files with progress less than or equal to this percentage."
            }
          },
          {
            "name": "hasError",
            "in": "query",
            "required": false,
            "description": "Filter for files that have or do not have errors.",
            "schema": {
              "type": "string",
              "description": "Filter for files that have or do not have errors.",
              "example": "0"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "catchAll": {
                                  "type": "number"
                                },
                                "createdate": {
                                  "type": "string"
                                },
                                "credit": {
                                  "type": "number"
                                },
                                "disposable": {
                                  "type": "number"
                                },
                                "error": {
                                  "type": "string"
                                },
                                "estimatedTimeSec": {
                                  "type": "number"
                                },
                                "fileId": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "invalid": {
                                  "type": "number"
                                },
                                "ok": {
                                  "type": "number"
                                },
                                "percent": {
                                  "type": "number"
                                },
                                "reverify": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "totalRows": {
                                  "type": "number"
                                },
                                "uniqueEmails": {
                                  "type": "number"
                                },
                                "unknown": {
                                  "type": "number"
                                },
                                "unverified": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "verified": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/millionVerifier/latest/actions/stop-verification-file": {
      "put": {
        "operationId": "millionVerifier.stop-verification-file",
        "summary": "Stop Verification File",
        "description": "Stops a verification file in MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/stop-verification-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileId": {
                    "type": "number",
                    "description": "The ID of the uploaded file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/millionVerifier/latest/actions/upload-verification-file": {
      "post": {
        "operationId": "millionVerifier.upload-verification-file",
        "summary": "Upload Verification File",
        "description": "Uploads a verification file to MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/upload-verification-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContents"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContents": {
                    "type": "string",
                    "description": "CSV or text file containing email addresses to verify.",
                    "example": "/tmp/emails.csv"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "catchAll": {
                            "type": "number"
                          },
                          "createdate": {
                            "type": "string"
                          },
                          "credit": {
                            "type": "number"
                          },
                          "disposable": {
                            "type": "number"
                          },
                          "error": {
                            "type": "string"
                          },
                          "estimatedTimeSec": {
                            "type": "number"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "invalid": {
                            "type": "number"
                          },
                          "ok": {
                            "type": "number"
                          },
                          "percent": {
                            "type": "number"
                          },
                          "reverify": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalRows": {
                            "type": "number"
                          },
                          "uniqueEmails": {
                            "type": "number"
                          },
                          "unknown": {
                            "type": "number"
                          },
                          "unverified": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/millionVerifier/latest/actions/verify-email": {
      "get": {
        "operationId": "millionVerifier.verify-email",
        "summary": "Verify Email",
        "description": "Verifies an email address in MillionVerifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/millionVerifier/latest/actions/verify-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address to verify in real time.",
            "schema": {
              "type": "string",
              "description": "Email address to verify in real time.",
              "example": "[email protected]"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Time in seconds before the verification request times out.",
            "schema": {
              "type": "number",
              "description": "Time in seconds before the verification request times out.",
              "default": 20
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credits": {
                            "type": "number"
                          },
                          "didyoumean": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          },
                          "executiontime": {
                            "type": "number"
                          },
                          "free": {
                            "type": "boolean"
                          },
                          "livemode": {
                            "type": "boolean"
                          },
                          "quality": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string"
                          },
                          "resultcode": {
                            "type": "number"
                          },
                          "role": {
                            "type": "boolean"
                          },
                          "subresult": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
