{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Remove.bg Universal API",
    "version": "0.0.7",
    "description": "Remove backgrounds, check credits, and submit improvement samples"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/removebg/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/removebg/latest/actions/get-account": {
      "get": {
        "operationId": "removebg.get-account",
        "summary": "Get Account",
        "description": "Retrieves account credit balances from Remove.bg.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/removebg/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api": {
                            "type": "object",
                            "properties": {
                              "freeCalls": {
                                "type": "number"
                              },
                              "sizes": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "credits": {
                            "type": "object",
                            "properties": {
                              "enterprise": {
                                "type": "number"
                              },
                              "payg": {
                                "type": "number"
                              },
                              "subscription": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/removebg/latest/actions/remove-background": {
      "post": {
        "operationId": "removebg.remove-background",
        "summary": "Remove Background",
        "description": "Creates a background-removed image in Remove.bg.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/removebg/latest/actions/remove-background"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "Source image URL. Provide exactly one image source."
                  },
                  "imageFileB64": {
                    "type": "string",
                    "description": "Base64-encoded source image. Provide exactly one image source.",
                    "x-mindcloud-advanced": true
                  },
                  "size": {
                    "type": "string",
                    "description": "Maximum output image resolution.",
                    "enum": [
                      "auto",
                      "full",
                      "preview"
                    ],
                    "default": "preview"
                  },
                  "type": {
                    "type": "string",
                    "description": "Detect or set the foreground type.",
                    "enum": [
                      "animal",
                      "auto",
                      "car",
                      "graphic",
                      "person",
                      "product",
                      "transportation"
                    ],
                    "default": "auto"
                  },
                  "typeLevel": {
                    "type": "string",
                    "description": "Classification level for the detected foreground type.",
                    "enum": [
                      "1",
                      "2",
                      "latest",
                      "none"
                    ],
                    "default": "1"
                  },
                  "format": {
                    "type": "string",
                    "description": "Result image format.",
                    "enum": [
                      "auto",
                      "jpg",
                      "png",
                      "webp",
                      "zip"
                    ],
                    "default": "auto"
                  },
                  "roi": {
                    "type": "string",
                    "description": "Rectangle region where foreground detection is allowed.",
                    "default": "0% 0% 100% 100%",
                    "x-mindcloud-advanced": true
                  },
                  "crop": {
                    "type": "boolean",
                    "description": "Crop empty regions from the result.",
                    "default": false
                  },
                  "cropMargin": {
                    "type": "string",
                    "description": "Margin to add around the cropped subject.",
                    "default": "0",
                    "x-mindcloud-advanced": true
                  },
                  "scale": {
                    "type": "string",
                    "description": "Scale the subject relative to the image size.",
                    "default": "original",
                    "x-mindcloud-advanced": true
                  },
                  "position": {
                    "type": "string",
                    "description": "Position the subject within the image canvas.",
                    "default": "original",
                    "x-mindcloud-advanced": true
                  },
                  "channels": {
                    "type": "string",
                    "description": "Return the final image or only the alpha mask.",
                    "enum": [
                      "alpha",
                      "rgba"
                    ],
                    "default": "rgba",
                    "x-mindcloud-advanced": true
                  },
                  "shadowType": {
                    "type": "string",
                    "description": "Generate shadows based on the detected or selected foreground type.",
                    "x-mindcloud-advanced": true
                  },
                  "shadowOpacity": {
                    "type": "string",
                    "description": "Shadow darkness from 0 to 100 or auto.",
                    "x-mindcloud-advanced": true
                  },
                  "semitransparency": {
                    "type": "boolean",
                    "description": "Keep semi-transparent regions in the result where supported.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "bgColor": {
                    "type": "string",
                    "description": "Solid background color to add behind the subject.",
                    "x-mindcloud-advanced": true
                  },
                  "bgImageUrl": {
                    "type": "string",
                    "description": "Background image URL to place behind the subject.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "foregroundHeight": {
                            "type": "number"
                          },
                          "foregroundLeft": {
                            "type": "number"
                          },
                          "foregroundTop": {
                            "type": "number"
                          },
                          "foregroundWidth": {
                            "type": "number"
                          },
                          "resultB64": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/removebg/latest/actions/submit-improvement": {
      "post": {
        "operationId": "removebg.submit-improvement",
        "summary": "Submit Improvement",
        "description": "Creates an improvement submission in Remove.bg.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/removebg/latest/actions/submit-improvement"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "Source image URL. Provide exactly one image source."
                  },
                  "imageFileB64": {
                    "type": "string",
                    "description": "Base64-encoded source image. Provide exactly one image source.",
                    "x-mindcloud-advanced": true
                  },
                  "imageFilename": {
                    "type": "string",
                    "description": "Filename to use when the submitted image data does not include one."
                  },
                  "tag": {
                    "type": "string",
                    "description": "Group related submissions with a shared tag."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
