{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GoCardless Universal API",
    "version": "0.0.6",
    "description": "Collect payments, manage mandates, and track billing events"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/goCardless/latest/actions/cancel-billing-request": {
      "put": {
        "operationId": "goCardless.cancel-billing-request",
        "summary": "Cancel Billing Request",
        "description": "Cancels an existing billing request in GoCardless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest/actions/cancel-billing-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "billingRequestId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "billingRequestId": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingRequests": {
                            "type": "object",
                            "properties": {
                              "autoFulfil": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "creditorName": {
                                "type": "string"
                              },
                              "fallbackEnabled": {
                                "type": "boolean"
                              },
                              "fallbackOccurred": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instalmentScheduleRequest": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "creditor": {
                                    "type": "string"
                                  },
                                  "customer": {
                                    "type": "string"
                                  },
                                  "customerBillingDetail": {
                                    "type": "string"
                                  },
                                  "mandateRequest": {
                                    "type": "string"
                                  },
                                  "organisation": {
                                    "type": "string"
                                  },
                                  "paymentRequest": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "mandateRequest": {
                                "type": "object",
                                "properties": {
                                  "consentType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "constraints": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "payerRequestedDualSignature": {
                                    "type": "boolean"
                                  },
                                  "scheme": {
                                    "type": "string"
                                  },
                                  "sweeping": {
                                    "type": "boolean"
                                  },
                                  "verify": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paymentRequest": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number"
                                  },
                                  "appFee": {
                                    "type": "number"
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "defaultMaxAmount": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "defaultMinAmount": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "flexibleAmount": {
                                    "type": "boolean"
                                  },
                                  "fundsSettlement": {
                                    "type": "string"
                                  },
                                  "maxAmount": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "minAmount": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "reference": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "retryIfPossible": {
                                    "type": "boolean"
                                  },
                                  "scheme": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "resources": {
                                "type": "object",
                                "properties": {
                                  "customer": {
                                    "type": "object",
                                    "properties": {
                                      "companyName": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "email": {
                                        "type": "string"
                                      },
                                      "familyName": {
                                        "type": "string"
                                      },
                                      "givenName": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "language": {
                                        "type": "string"
                                      },
                                      "phoneNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "customerBillingDetail": {
                                    "type": "object",
                                    "properties": {
                                      "addressLine1": {
                                        "type": "string"
                                      },
                                      "addressLine2": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "addressLine3": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "city": {
                                        "type": "string"
                                      },
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "danishIdentityNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "string"
                                      },
                                      "region": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "swedishIdentityNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "signFlowUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "subscriptionRequest": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goCardless/latest/actions/cancel-mandate": {
      "put": {
        "operationId": "goCardless.cancel-mandate",
        "summary": "Cancel Mandate",
        "description": "Cancels an existing mandate in GoCardless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest/actions/cancel-mandate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "identity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "identity": {
                    "type": "string",
                    "description": "ID of the mandate to cancel."
                  },
                  "data.metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional metadata stored on the mandate cancellation event."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mandates": {
                            "type": "object",
                            "properties": {
                              "consentParameters": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "consentType": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "fundsSettlement": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "creditor": {
                                    "type": "string"
                                  },
                                  "customer": {
                                    "type": "string"
                                  },
                                  "customerBankAccount": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "nextPossibleChargeDate": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paymentsRequireApproval": {
                                "type": "boolean"
                              },
                              "reference": {
                                "type": "string"
                              },
                              "scheme": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "verifiedAt": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goCardless/latest/actions/cancel-payment": {
      "put": {
        "operationId": "goCardless.cancel-payment",
        "summary": "Cancel Payment",
        "description": "Cancels an existing payment in GoCardless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest/actions/cancel-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "identity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "identity": {
                    "type": "string"
                  },
                  "data.metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "payments": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "amountRefunded": {
                                "type": "number"
                              },
                              "chargeDate": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "description": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "fx": {
                                "type": "object",
                                "properties": {
                                  "estimatedExchangeRate": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "exchangeRate": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fxAmount": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "fxCurrency": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "creditor": {
                                    "type": "string"
                                  },
                                  "mandate": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "reference": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "retryIfPossible": {
                                "type": "boolean"
                              },
                              "scheme": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goCardless/latest/actions/collect-billing-request-customer-details": {
      "put": {
        "operationId": "goCardless.collect-billing-request-customer-details",
        "summary": "Collect Billing Request Customer Details",
        "description": "Collects customer details for a GoCardless billing request.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest/actions/collect-billing-request-customer-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "billingRequestId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "billingRequestId": {
                    "type": "string",
                    "description": "ID of the billing request whose customer details should be collected."
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Customer fields to collect for the billing request."
                  },
                  "customer.email": {
                    "type": "string",
                    "description": "Customer email address."
                  },
                  "customer.givenName": {
                    "type": "string",
                    "description": "Customer first name."
                  },
                  "customer.familyName": {
                    "type": "string",
                    "description": "Customer surname."
                  },
                  "customer.companyName": {
                    "type": "string",
                    "description": "Customer company name.",
                    "x-mindcloud-advanced": true
                  },
                  "customer.language": {
                    "type": "string",
                    "description": "ISO 639-1 language code for customer notifications.",
                    "enum": [
                      "0",
                      "1",
                      "10",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "customer.phoneNumber": {
                    "type": "string",
                    "description": "Customer phone number in ITU E.123 format.",
                    "x-mindcloud-advanced": true
                  },
                  "customer.metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Key-value store of custom data for the customer.",
                    "x-mindcloud-advanced": true
                  },
                  "customerBillingDetail": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Customer billing detail fields to collect for the billing request."
                  },
                  "customerBillingDetail.addressLine1": {
                    "type": "string",
                    "description": "First line of the customer's address."
                  },
                  "customerBillingDetail.city": {
                    "type": "string",
                    "description": "City of the customer's address."
                  },
                  "customerBillingDetail.postalCode": {
                    "type": "string",
                    "description": "Postal code for the customer's address."
                  },
                  "customerBillingDetail.countryCode": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code."
                  },
                  "customerBillingDetail.region": {
                    "type": "string",
                    "description": "Region, county, or department for the address.",
                    "x-mindcloud-advanced": true
                  },
                  "customerBillingDetail.ipAddress": {
                    "type": "string",
                    "description": "Payer IP address for ACH customers.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingRequests": {
                            "type": "object",
                            "properties": {
                              "actions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "availableCurrencies": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "required": {
                                      "type": "boolean"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "autoFulfil": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "creditorName": {
                                "type": "string"
                              },
                              "fallbackEnabled": {
                                "type": "boolean"
                              },
                              "fallbackOccurred": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instalmentScheduleRequest": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "creditor": {
                                    "type": "string"
                                  },
                                  "customer": {
                                    "type": "string"
                                  },
                                  "customerBankAccount": {
                                    "type": "string"
                                  },
                                  "customerBillingDetail": {
                                    "type": "string"
                                  },
                                  "mandateRequest": {
                                    "type": "string"
                                  },
                                  "organisation": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "mandateRequest": {
                                "type": "object",
                                "properties": {
                                  "consentType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "constraints": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "payerRequestedDualSignature": {
                                    "type": "boolean"
                                  },
                                  "scheme": {
                                    "type": "string"
                                  },
                                  "sweeping": {
                                    "type": "boolean"
                                  },
                                  "verify": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paymentRequest": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "resources": {
                                "type": "object",
                                "properties": {
                                  "customer": {
                                    "type": "object",
                                    "properties": {
                                      "companyName": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "email": {
                                        "type": "string"
                                      },
                                      "familyName": {
                                        "type": "string"
                                      },
                                      "givenName": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "language": {
                                        "type": "string"
                                      },
                                      "phoneNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "customerBankAccount": {
                                    "type": "object",
                                    "properties": {
                                      "accountHolderName": {
                                        "type": "string"
                                      },
                                      "accountNumberEnding": {
                                        "type": "string"
                                      },
                                      "accountType": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "bankName": {
                                        "type": "string"
                                      },
                                      "branchCodeEnding": {
                                        "type": "string"
                                      },
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "currency": {
                                        "type": "string"
                                      },
                                      "enabled": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "links": {
                                        "type": "object",
                                        "properties": {
                                          "customer": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "customerBillingDetail": {
                                    "type": "object",
                                    "properties": {
                                      "addressLine1": {
                                        "type": "string"
                                      },
                                      "addressLine2": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "addressLine3": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "city": {
                                        "type": "string"
                                      },
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "danishIdentityNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "string"
                                      },
                                      "region": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "swedishIdentityNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "signFlowUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "subscriptionRequest": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goCardless/latest/actions/create-billing-request": {
      "post": {
        "operationId": "goCardless.create-billing-request",
        "summary": "Create Billing Request",
        "description": "Creates a new billing request in GoCardless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest/actions/create-billing-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "paymentRequest": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Payment request payload for the billing request."
                  },
                  "paymentRequest.description": {
                    "type": "string",
                    "description": "Human-readable description displayed to the payer."
                  },
                  "paymentRequest.amount": {
                    "type": "number",
                    "description": "Amount in minor units."
                  },
                  "paymentRequest.currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the payment request.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "mandateRequest": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Mandate request payload for the billing request."
                  },
                  "mandateRequest.scheme": {
                    "type": "string",
                    "description": "Bank payment scheme for the mandate request.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9"
                    ]
                  },
                  "mandateRequest.verify": {
                    "type": "string",
                    "description": "Verification preference for the mandate request.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ]
                  },
                  "links": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Related resource identifiers for this billing request."
                  },
                  "links.customer": {
                    "type": "string",
                    "description": "ID of the customer against which this request should be made."
                  },
                  "links.customerBankAccount": {
                    "type": "string",
                    "description": "ID of the customer bank account against which this request should be made."
                  },
                  "links.creditor": {
                    "type": "string",
                    "description": "ID of the associated creditor."
                  },
                  "fallbackEnabled": {
                    "type": "boolean",
                    "description": "If true, this billing request can fallback from instant payment to direct debit.",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Key-value store of custom data.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingRequests": {
                            "type": "object",
                            "properties": {
                              "actions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "availableCurrencies": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "required": {
                                      "type": "boolean"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "autoFulfil": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "creditorName": {
                                "type": "string"
                              },
                              "fallbackEnabled": {
                                "type": "boolean"
                              },
                              "fallbackOccurred": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instalmentScheduleRequest": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "creditor": {
                                    "type": "string"
                                  },
                                  "customer": {
                                    "type": "string"
                                  },
                                  "customerBankAccount": {
                                    "type": "string"
                                  },
                                  "customerBillingDetail": {
                                    "type": "string"
                                  },
                                  "mandateRequest": {
                                    "type": "string"
                                  },
                                  "organisation": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "mandateRequest": {
                                "type": "object",
                                "properties": {
                                  "consentType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "constraints": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "payerRequestedDualSignature": {
                                    "type": "boolean"
                                  },
                                  "scheme": {
                                    "type": "string"
                                  },
                                  "sweeping": {
                                    "type": "boolean"
                                  },
                                  "verify": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paymentRequest": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "resources": {
                                "type": "object",
                                "properties": {
                                  "customer": {
                                    "type": "object",
                                    "properties": {
                                      "companyName": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "email": {
                                        "type": "string"
                                      },
                                      "familyName": {
                                        "type": "string"
                                      },
                                      "givenName": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "language": {
                                        "type": "string"
                                      },
                                      "phoneNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "customerBankAccount": {
                                    "type": "object",
                                    "properties": {
                                      "accountHolderName": {
                                        "type": "string"
                                      },
                                      "accountNumberEnding": {
                                        "type": "string"
                                      },
                                      "accountType": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "bankName": {
                                        "type": "string"
                                      },
                                      "branchCodeEnding": {
                                        "type": "string"
                                      },
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "currency": {
                                        "type": "string"
                                      },
                                      "enabled": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "links": {
                                        "type": "object",
                                        "properties": {
                                          "customer": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "customerBillingDetail": {
                                    "type": "object",
                                    "properties": {
                                      "addressLine1": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "addressLine2": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "addressLine3": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "city": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "countryCode": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "danishIdentityNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "region": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "swedishIdentityNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "signFlowUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "subscriptionRequest": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goCardless/latest/actions/create-billing-request-flow": {
      "post": {
        "operationId": "goCardless.create-billing-request-flow",
        "summary": "Create Billing Request Flow",
        "description": "Creates a new billing request flow in GoCardless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest/actions/create-billing-request-flow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "links.billingRequest"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "redirectUri": {
                    "type": "string",
                    "description": "URL to redirect the payer to after completing the request flow."
                  },
                  "exitUri": {
                    "type": "string",
                    "description": "URL the payer can be taken to if the flow cannot progress."
                  },
                  "language": {
                    "type": "string",
                    "description": "Default language of the billing request flow and the customer.",
                    "enum": [
                      "0",
                      "1",
                      "10",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "skipSuccessScreen": {
                    "type": "boolean",
                    "description": "If true, the payer will not be redirected to the success screen after completing the flow.",
                    "x-mindcloud-advanced": true
                  },
                  "showSuccessRedirectButton": {
                    "type": "boolean",
                    "description": "If true, the payer will see a redirect action button on the Success page.",
                    "x-mindcloud-advanced": true
                  },
                  "prefilledCustomer": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Prefilled customer details for the billing request flow."
                  },
                  "prefilledCustomer.givenName": {
                    "type": "string",
                    "description": "Prefilled customer first name."
                  },
                  "prefilledCustomer.familyName": {
                    "type": "string",
                    "description": "Prefilled customer surname."
                  },
                  "prefilledCustomer.email": {
                    "type": "string",
                    "description": "Prefilled customer email address."
                  },
                  "links": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Related resource identifiers for this billing request flow."
                  },
                  "links.billingRequest": {
                    "type": "string",
                    "description": "ID of the billing request against which this flow was created."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingRequestFlows": {
                            "type": "object",
                            "properties": {
                              "authorisationUrl": {
                                "type": "string"
                              },
                              "autoFulfil": {
                                "type": "boolean"
                              },
                              "config": {
                                "type": "object",
                                "properties": {
                                  "merchantContactDetails": {
                                    "type": "object",
                                    "properties": {
                                      "email": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "phoneNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "url": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "schemeIdentifiers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string"
                                        },
                                        "advanceNotice": {
                                          "type": "number"
                                        },
                                        "bankStatementName": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "reference": {
                                          "type": "string"
                                        },
                                        "registeredName": {
                                          "type": "string"
                                        },
                                        "scheme": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "customerDetailsCaptured": {
                                "type": "boolean"
                              },
                              "exitUri": {
                                "type": "string"
                              },
                              "expiresAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "language": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "billingRequest": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "lockBankAccount": {
                                "type": "boolean"
                              },
                              "lockCurrency": {
                                "type": "boolean"
                              },
                              "lockCustomerDetails": {
                                "type": "boolean"
                              },
                              "prefilledBankAccount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "prefilledCustomer": {
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "familyName": {
                                    "type": "string"
                                  },
                                  "givenName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "redirectFlowId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "redirectOrigin": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "redirectUri": {
                                "type": "string"
                              },
                              "sessionToken": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "showRedirectButtons": {
                                "type": "boolean"
                              },
                              "showSuccessRedirectButton": {
                                "type": "boolean"
                              },
                              "skipSuccessScreen": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goCardless/latest/actions/create-customer": {
      "post": {
        "operationId": "goCardless.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in GoCardless.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goCardless/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string"
                  },
                  "givenName": {
                    "type": "string"
                  },
                  "familyName": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "addressLine3": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "postalCode": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1",
                      "10",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9"
                    ]
                  },
                  "phoneNumber": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "danishIdentityNumber": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "swedishIdentityNumber": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "addressLine2": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "addressLine3": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "companyName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "danishIdentityNumber": {
                                "type": "object",
[...]
