{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Wati Universal API",
    "version": "0.0.7",
    "description": "Manage WhatsApp messages, contacts, and message templates"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/wati/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/wati/latest/actions/add-contact": {
      "post": {
        "operationId": "wati.add-contact",
        "summary": "Add Contact",
        "description": "Creates a new contact in Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/add-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "whatsappNumber",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "whatsappNumber": {
                    "type": "string",
                    "description": "Target WhatsApp phone number for the contact."
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name for the contact."
                  },
                  "customParams[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom attributes to store on the contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "info": {
                            "type": "string",
                            "description": "Provider message for the contact create attempt."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the contact creation request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/assign-user": {
      "put": {
        "operationId": "wati.assign-user",
        "summary": "Assign User",
        "description": "Updates a conversation assignment in Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/assign-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "whatsappNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the operator to assign."
                  },
                  "whatsappNumber": {
                    "type": "string",
                    "description": "Target WhatsApp phone number for the assignment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "info": {
                            "type": "string",
                            "description": "Provider message for the assignment attempt."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the assignment request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/get-media-by-file-name": {
      "get": {
        "operationId": "wati.get-media-by-file-name",
        "summary": "Get Media by File Name",
        "description": "Retrieves a media file from Wati by file name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/get-media-by-file-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "description": "Media file name returned by Wati messages.",
            "schema": {
              "type": "string",
              "description": "Media file name returned by Wati messages."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Raw file bytes represented as numeric buffer values."
                          },
                          "type": {
                            "type": "string",
                            "description": "Buffer wrapper type returned by the runtime for raw media downloads."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/list-contacts": {
      "get": {
        "operationId": "wati.list-contacts",
        "summary": "List Contacts",
        "description": "Retrieves contacts from Wati using optional filters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/list-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of contacts to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of contacts to return per page.",
              "default": 10
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return.",
              "default": 1
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter contacts by name.",
            "schema": {
              "type": "string",
              "description": "Filter contacts by name."
            }
          },
          {
            "name": "attribute",
            "in": "query",
            "required": false,
            "description": "Filter contacts by attribute.",
            "schema": {
              "type": "string",
              "description": "Filter contacts by attribute."
            }
          },
          {
            "name": "createdDate",
            "in": "query",
            "required": false,
            "description": "Filter contacts by created date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter contacts by created date."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "loginUserPhone": {
                            "type": "string",
                            "description": "Connected Wati phone number returned by the tenant."
                          },
                          "result": {
                            "type": "string",
                            "description": "Provider status string."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/list-message-templates": {
      "get": {
        "operationId": "wati.list-message-templates",
        "summary": "List Message Templates",
        "description": "Retrieves available message templates from Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/list-message-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of templates to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of templates to return per page.",
              "default": 10
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return.",
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addSecurityRecommendation": {
                            "type": "boolean",
                            "description": "Whether security recommendation text is enabled."
                          },
                          "body": {
                            "type": "string",
                            "description": "Rendered template body."
                          },
                          "bodyOriginal": {
                            "type": "string",
                            "description": "Original template body before Wati parameter normalization."
                          },
                          "buttons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Button configuration when present."
                          },
                          "buttonsType": {
                            "type": "string",
                            "description": "Button rendering mode."
                          },
                          "category": {
                            "type": "string",
                            "description": "WhatsApp template category."
                          },
                          "customParams": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom parameter definitions when the template uses named parameters."
                          },
                          "elementName": {
                            "type": "string",
                            "description": "Internal Wati template name."
                          },
                          "expiresIn": {
                            "type": "number",
                            "description": "Template expiry interval."
                          },
                          "footer": {
                            "type": "string",
                            "description": "Template footer when present."
                          },
                          "header": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Header configuration when present."
                          },
                          "hsm": {
                            "type": "string",
                            "description": "Legacy HSM content when present."
                          },
                          "hsmOriginal": {
                            "type": "string",
                            "description": "Original legacy HSM content when present."
                          },
                          "id": {
                            "type": "string",
                            "description": "Wati template identifier."
                          },
                          "includeExpiryTime": {
                            "type": "boolean",
                            "description": "Whether expiry time is included."
                          },
                          "language": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Template language metadata."
                          },
                          "lastModified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the template was last modified."
                          },
                          "status": {
                            "type": "string",
                            "description": "Template approval status."
                          },
                          "type": {
                            "type": "string",
                            "description": "Wati template record type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/list-messages-by-whatsapp-number": {
      "get": {
        "operationId": "wati.list-messages-by-whatsapp-number",
        "summary": "List Messages by WhatsApp Number",
        "description": "Retrieves message history for a WhatsApp number from Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/list-messages-by-whatsapp-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whatsappNumber",
            "in": "query",
            "required": true,
            "description": "WhatsApp phone number whose messages should be retrieved.",
            "schema": {
              "type": "string",
              "description": "WhatsApp phone number whose messages should be retrieved."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of messages to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of messages to return per page.",
              "default": 10
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return.",
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedId": {
                            "type": "string",
                            "description": "Assigned operator identifier when present."
                          },
                          "conversationId": {
                            "type": "string",
                            "description": "Conversation identifier."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message or event was created."
                          },
                          "eventDescription": {
                            "type": "string",
                            "description": "Event description when the row is a broadcast or non-message event."
                          },
                          "eventType": {
                            "type": "string",
                            "description": "Normalized event type returned by Wati."
                          },
                          "failedDetail": {
                            "type": "string",
                            "description": "Failure detail when the provider returns one."
                          },
                          "finalText": {
                            "type": "string",
                            "description": "Rendered final text for broadcast/template events."
                          },
                          "id": {
                            "type": "string",
                            "description": "Wati message or event identifier."
                          },
                          "operatorName": {
                            "type": "string",
                            "description": "Assigned operator name when present."
                          },
                          "owner": {
                            "type": "boolean",
                            "description": "Whether the message was sent by the connected account."
                          },
                          "statusString": {
                            "type": "string",
                            "description": "Delivery or event status."
                          },
                          "text": {
                            "type": "string",
                            "description": "Message text when the row is a standard message."
                          },
                          "ticketId": {
                            "type": "string",
                            "description": "Conversation ticket identifier."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Provider message timestamp when present."
                          },
                          "type": {
                            "type": "string",
                            "description": "Underlying Wati message type when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/send-file-to-open-session": {
      "post": {
        "operationId": "wati.send-file-to-open-session",
        "summary": "Send File to Open Session",
        "description": "Sends a file in an open Wati session.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/send-file-to-open-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "whatsappNumber",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "whatsappNumber": {
                    "type": "string",
                    "description": "WhatsApp phone number for the open session conversation."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to send in the active session."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Optional caption for the file message."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Provider message for the current ticket state."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the file send request."
                          },
                          "ticketStatus": {
                            "type": "string",
                            "description": "Conversation ticket status returned by Wati."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/send-interactive-buttons-message": {
      "post": {
        "operationId": "wati.send-interactive-buttons-message",
        "summary": "Send Interactive Buttons Message",
        "description": "Sends an interactive button message in Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/send-interactive-buttons-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "whatsappNumber",
                  "body",
                  "buttons[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "whatsappNumber": {
                    "type": "string",
                    "description": "Target recipient phone number."
                  },
                  "header": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional interactive header payload."
                  },
                  "body": {
                    "type": "string",
                    "description": "Body text for the interactive message."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Optional footer text for the interactive message."
                  },
                  "buttons[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Interactive button definitions."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Provider validation errors when present."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Created WhatsApp message payload.",
                            "properties": {
                              "conversationId": {
                                "type": "string",
                                "description": "Conversation identifier."
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the message was created."
                              },
                              "id": {
                                "type": "string",
                                "description": "Wati message identifier."
                              },
                              "interactiveData": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Interactive payload returned by Wati."
                              },
                              "status": {
                                "type": "number",
                                "description": "Numeric Wati message status."
                              },
                              "statusString": {
                                "type": "string",
                                "description": "Human-readable message status."
                              },
                              "text": {
                                "type": "string",
                                "description": "Rendered message text."
                              },
                              "ticketId": {
                                "type": "string",
                                "description": "Conversation ticket identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Wati message type."
                              }
                            }
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the interactive buttons message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/send-interactive-list-message": {
      "post": {
        "operationId": "wati.send-interactive-list-message",
        "summary": "Send Interactive List Message",
        "description": "Sends an interactive list message in Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/send-interactive-list-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "whatsappNumber",
                  "body",
                  "buttonText",
                  "sections[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "whatsappNumber": {
                    "type": "string",
                    "description": "Target recipient phone number."
                  },
                  "header": {
                    "type": "string",
                    "description": "Optional header text for the list message."
                  },
                  "body": {
                    "type": "string",
                    "description": "Body text for the interactive list message."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Optional footer text for the list message."
                  },
                  "buttonText": {
                    "type": "string",
                    "description": "Text shown on the list picker button."
                  },
                  "sections[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Sections and rows for the list picker."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Provider validation errors when present."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Created WhatsApp message payload.",
                            "properties": {
                              "conversationId": {
                                "type": "string",
                                "description": "Conversation identifier."
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the message was created."
                              },
                              "id": {
                                "type": "string",
                                "description": "Wati message identifier."
                              },
                              "interactiveData": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Interactive payload returned by Wati."
                              },
                              "status": {
                                "type": "number",
                                "description": "Numeric Wati message status."
                              },
                              "statusString": {
                                "type": "string",
                                "description": "Human-readable message status."
                              },
                              "text": {
                                "type": "string",
                                "description": "Rendered message text."
                              },
                              "ticketId": {
                                "type": "string",
                                "description": "Conversation ticket identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Wati message type."
                              }
                            }
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the interactive list message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/send-message-to-open-session": {
      "post": {
        "operationId": "wati.send-message-to-open-session",
        "summary": "Send Message to Open Session",
        "description": "Sends a text message in an open Wati session.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/send-message-to-open-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "whatsappNumber",
                  "messageText"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "whatsappNumber": {
                    "type": "string",
                    "description": "WhatsApp phone number for the open session conversation."
                  },
                  "messageText": {
                    "type": "string",
                    "description": "Text to send in the active session."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Created WhatsApp message payload.",
                            "properties": {
                              "conversationId": {
                                "type": "string",
                                "description": "Conversation identifier."
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the message was created."
                              },
                              "id": {
                                "type": "string",
                                "description": "Wati message identifier."
                              },
                              "isOwner": {
                                "type": "boolean",
                                "description": "Whether the message was sent by the connected account."
                              },
                              "status": {
                                "type": "number",
                                "description": "Numeric Wati message status."
                              },
                              "statusString": {
                                "type": "string",
                                "description": "Human-readable message status when present."
                              },
                              "text": {
                                "type": "string",
                                "description": "Sent message text."
                              },
                              "ticketId": {
                                "type": "string",
                                "description": "Conversation ticket identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Wati message type."
                              },
                              "whatsappMessageId": {
                                "type": "string",
                                "description": "WhatsApp message identifier."
                              }
                            }
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the session message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Provider result summary."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/send-template-message": {
      "post": {
        "operationId": "wati.send-template-message",
        "summary": "Send Template Message",
        "description": "Sends an approved WhatsApp template message through Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/send-template-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "whatsappNumber",
                  "templateName",
                  "broadcastName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "whatsappNumber": {
                    "type": "string",
                    "description": "Target recipient phone number."
                  },
                  "templateName": {
                    "type": "string",
                    "description": "Approved Wati template name."
                  },
                  "broadcastName": {
                    "type": "string",
                    "description": "Name for the broadcast record."
                  },
                  "parameters[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Template parameter values for the message."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Resolved contact returned by Wati.",
                            "properties": {
                              "contactStatus": {
                                "type": "string",
                                "description": "Contact validation status."
                              },
                              "firstName": {
                                "type": "string",
                                "description": "Contact first name."
                              },
                              "fullName": {
                                "type": "string",
                                "description": "Contact full name."
                              },
                              "id": {
                                "type": "string",
                                "description": "Wati contact identifier."
                              },
                              "lastUpdated": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the contact record was last updated."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Contact phone number."
                              }
                            }
                          },
                          "model": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Model wrapper returned by Wati.",
                            "properties": {
                              "ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Wati IDs associated with the operation."
                              }
                            }
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "WhatsApp number used for the template send."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the template send."
                          },
                          "templateName": {
                            "type": "string",
                            "description": "Template name that was sent."
                          },
                          "validWhatsAppNumber": {
                            "type": "boolean",
                            "description": "Whether Wati considers the target number valid."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/send-template-messages": {
      "post": {
        "operationId": "wati.send-template-messages",
        "summary": "Send Template Messages",
        "description": "Sends template messages to multiple contacts in Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/send-template-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateName",
                  "broadcastName",
                  "receivers[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateName": {
                    "type": "string",
                    "description": "Approved Wati template name."
                  },
                  "broadcastName": {
                    "type": "string",
                    "description": "Name for the broadcast record."
                  },
                  "receivers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipients and custom parameters for the broadcast."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Batch validation errors returned by Wati.",
                            "properties": {
                              "error": {
                                "type": "string",
                                "description": "Top-level provider error string."
                              },
                              "invalidCustomParameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Custom parameter validation errors when present."
                              },
                              "invalidWhatsappNumbers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Recipient phone numbers rejected by Wati."
                              }
                            }
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Whether Wati accepted the batch template send."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wati/latest/actions/send-template-messages-csv": {
      "post": {
        "operationId": "wati.send-template-messages-csv",
        "summary": "Send Template Messages CSV",
        "description": "Sends template messages from a CSV file in Wati.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wati/latest/actions/send-template-messages-csv"
        },
        "security": [
          {
[...]
