{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Viewneo Universal API",
    "version": "0.0.6",
    "description": "Manage digital signage content, playlists, devices, and account data in Viewneo using the official REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/viewneo/latest/actions/check-website-embeddability": {
      "get": {
        "operationId": "viewneo.check-website-embeddability",
        "summary": "Check Website Embeddability",
        "description": "Checks website embeddability for a media file in Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/check-website-embeddability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/copy-multiple-media-files": {
      "post": {
        "operationId": "viewneo.copy-multiple-media-files",
        "summary": "Copy Multiple Media Files",
        "description": "Copies multiple media files in Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/copy-multiple-media-files"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "targetId",
                  "mediaFileIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "targetId": {
                    "type": "number"
                  },
                  "mediaFileIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/create-device-group": {
      "post": {
        "operationId": "viewneo.create-device-group",
        "summary": "Create Device Group",
        "description": "Creates a new device group in Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/create-device-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/create-folder": {
      "post": {
        "operationId": "viewneo.create-folder",
        "summary": "Create Folder",
        "description": "Creates a new media folder in Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mediaFileIdAsParentDirectory",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mediaFileIdAsParentDirectory": {
                    "type": "number",
                    "description": "ID of folder"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of directory"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "mediaFileIdAsParentDirectory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/create-playlist": {
      "post": {
        "operationId": "viewneo.create-playlist",
        "summary": "Create Playlist",
        "description": "Creates a new playlist in Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/create-playlist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/create-website-media-file": {
      "post": {
        "operationId": "viewneo.create-website-media-file",
        "summary": "Create Website Media File",
        "description": "Creates a new website media file in Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/create-website-media-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mediaFileIdAsParentDirectory",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mediaFileIdAsParentDirectory": {
                    "type": "number",
                    "description": "ID of folder"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of website"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/delete-device-group": {
      "delete": {
        "operationId": "viewneo.delete-device-group",
        "summary": "Delete Device Group",
        "description": "Deletes an existing device group from Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/delete-device-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of deviceGroup",
            "schema": {
              "type": "number",
              "description": "ID of deviceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alarmSensibility": {
                            "type": "number"
                          },
                          "channelLogoDisplayPosition": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "channelLogoId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "channelLogoOpacity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "comment": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "displayAppProperties": {
                            "type": "number"
                          },
                          "height": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "interactionEnabled": {
                            "type": "number"
                          },
                          "interactionTimeout": {
                            "type": "number"
                          },
                          "isAlarmEnabled": {
                            "type": "number"
                          },
                          "isAnalyticsEnabled": {
                            "type": "number"
                          },
                          "isNotificationEnabled": {
                            "type": "number"
                          },
                          "isPinEnabled": {
                            "type": "number"
                          },
                          "isRs232Enabled": {
                            "type": "number"
                          },
                          "label": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "left": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mediafileIdAsInteractionWebsite": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "notifyAfter": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notifyByEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "playlistId": {
                            "type": "number"
                          },
                          "rotation": {
                            "type": "number"
                          },
                          "rs232Baud": {
                            "type": "number"
                          },
                          "rs232DataBits": {
                            "type": "number"
                          },
                          "rs232DisplayOff": {
                            "type": "string"
                          },
                          "rs232DisplayOn": {
                            "type": "string"
                          },
                          "rs232Format": {
                            "type": "number"
                          },
                          "rs232Parity": {
                            "type": "number"
                          },
                          "rs232StopBits": {
                            "type": "number"
                          },
                          "screenScale": {
                            "type": "number"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "top": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updateInterval": {
                            "type": "number"
                          },
                          "updateIntervalSetting": {
                            "type": "number"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "width": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/delete-media-file": {
      "delete": {
        "operationId": "viewneo.delete-media-file",
        "summary": "Delete Media File",
        "description": "Deletes an existing media file from Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/delete-media-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/delete-playlist": {
      "delete": {
        "operationId": "viewneo.delete-playlist",
        "summary": "Delete Playlist",
        "description": "Deletes an existing playlist from Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/delete-playlist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/get-account": {
      "get": {
        "operationId": "viewneo.get-account",
        "summary": "Get Account",
        "description": "Retrieves the current account details from Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cameraCount": {
                            "type": "number"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "alltronReseller": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "branch": {
                                "type": "number"
                              },
                              "brandCompanyId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "customDunning": {
                                "type": "number"
                              },
                              "customLicencePrice": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "deletesAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "discountValue": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "expiresAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "geoLocation": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isAnalyticsEnabled": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isBrand": {
                                "type": "number"
                              },
                              "isDiniopayEnabled": {
                                "type": "number"
                              },
                              "isLocked": {
                                "type": "number"
                              },
                              "isPartner": {
                                "type": "number"
                              },
                              "isTrial": {
                                "type": "number"
                              },
                              "lastLoginAt": {
                                "type": "string"
                              },
                              "maxAmountCustomLicencePrice": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "microsoftFaceApiKey": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "microsoftFaceApiUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "parentId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "partner": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "partnerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "priceAdjustment": {
                                "type": "number"
                              },
                              "registrationType": {
                                "type": "number"
                              },
                              "stage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "string"
                              },
                              "street": {
                                "type": "string"
                              },
                              "streetNumber": {
                                "type": "string"
                              },
                              "stripeCustomerId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "subName": {
                                "type": "string"
                              },
                              "totalLicences": {
                                "type": "string"
                              },
                              "totalStorage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "totalSubAccounts": {
                                "type": "number"
                              },
                              "type": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "userIdAsPartner": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "vat": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "coupon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currency": {
                            "type": "string"
                          },
                          "defaultPlaylist": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dinioCount": {
                            "type": "number"
                          },
                          "diwaCount": {
                            "type": "number"
                          },
                          "isAnalyticsEnabled": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isPremiumPartner": {
                            "type": "boolean"
                          },
                          "isSubAccount": {
                            "type": "boolean"
                          },
                          "isWhitelabeled": {
                            "type": "boolean"
                          },
                          "numberOfDevices": {
                            "type": "number"
                          },
                          "numberOfLicences": {
                            "type": "number"
                          },
                          "numberOfUnusedLicences": {
                            "type": "number"
                          },
                          "rfidHubCount": {
                            "type": "number"
                          },
                          "subscription": {
                            "type": "object",
                            "properties": {
                              "cancelAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "companyId": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "expireAt": {
                                "type": "string"
                              },
                              "Id": {
                                "type": "string"
                              },
                              "interval": {
                                "type": "string"
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "addToPayment": {
                                      "type": "boolean"
                                    },
                                    "Id": {
                                      "type": "string"
                                    },
                                    "plan": {
                                      "type": "object",
                                      "properties": {
                                        "Id": {
                                          "type": "string"
                                        },
                                        "isHidden": {
                                          "type": "boolean"
                                        },
                                        "isMulti": {
                                          "type": "boolean"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "priceMonthly": {
                                          "type": "object",
                                          "properties": {
                                            "eur": {
                                              "type": "number"
                                            },
                                            "Id": {
                                              "type": "string"
                                            },
                                            "usd": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "priceYearly": {
                                          "type": "object",
                                          "properties": {
                                            "eur": {
                                              "type": "number"
                                            },
                                            "Id": {
                                              "type": "string"
                                            },
                                            "usd": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "V": {
                                          "type": "number"
                                        },
                                        "version": {
                                          "type": "number"
                                        },
                                        "zohoItemId": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "startedAt": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "minCount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "setup": {
                                "type": "boolean"
                              },
                              "startedAt": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "V": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "taxPercent": {
                            "type": "number"
                          },
                          "taxPercentAnnual": {
                            "type": "number"
                          },
                          "totalCredit": {
                            "type": "number"
                          },
                          "totalStorage": {
                            "type": "number"
                          },
                          "usedStorage": {
                            "type": "number"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "companyId": {
                                "type": "number"
                              },
                              "confirmationCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "displayLanguage": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "emailChangeRequestedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailToChange": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "errorCounter": {
                                "type": "number"
                              },
                              "fax": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isAffiliateEmail": {
                                "type": "number"
                              },
                              "isBlocked": {
                                "type": "number"
                              },
                              "isNewsletterSubscribed": {
                                "type": "number"
                              },
                              "lastLoginAttemptAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastname": {
                                "type": "string"
                              },
                              "loggedInAt": {
                                "type": "string"
                              },
                              "mobile": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mqttSettings": {
                                "type": "object",
                                "properties": {
                                  "host": {
                                    "type": "string"
                                  },
                                  "port": {
                                    "type": "string"
                                  },
                                  "protocol": {
                                    "type": "string"
                                  },
                                  "token": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "phone": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "qrToken": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "salutation": {
                                "type": "string"
                              },
                              "tfaActivatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tfaEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tfaSecretKey": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "userGroup": {
                                "type": "object",
                                "properties": {
                                  "companyId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "deletedAt": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "description": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "pivot": {
                                    "type": "object",
                                    "properties": {
                                      "userGroupId": {
                                        "type": "number"
                                      },
                                      "userId": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "type": {
                                    "type": "number"
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "userGroupId": {
                                "type": "number"
                              },
                              "userGroups": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "companyId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "deletedAt": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "permittedFeatures": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "action": {
                                            "type": "string"
                                          },
                                          "companyId": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "createdAt": {
                                            "type": "string"
                                          },
                                          "deletedAt": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "id": {
                                            "type": "number"
                                          },
                                          "isPermitted": {
                                            "type": "number"
                                          },
                                          "resourceId": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "resourceType": {
                                            "type": "string"
                                          },
                                          "scopeId": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "scopeType": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "senderId": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "updatedAt": {
                                            "type": "string"
                                          },
                                          "userGroupId": {
                                            "type": "number"
                                          },
                                          "userId": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "pivot": {
                                      "type": "object",
                                      "properties": {
                                        "userGroupId": {
                                          "type": "number"
                                        },
                                        "userId": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "type": {
                                      "type": "number"
                                    },
                                    "updatedAt": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "verifiedAt": {
                                "type": "string"
                              },
                              "zohoCrmContactId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zohoCrmLeadId": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewneo/latest/actions/get-company": {
      "get": {
        "operationId": "viewneo.get-company",
        "summary": "Get Company",
        "description": "Retrieves the current company details from Viewneo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewneo/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alltronReseller": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "branch": {
                            "type": "number"
                          },
                          "brandCompanyId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customDunning": {
                            "type": "number"
                          },
                          "customLicencePrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletesAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountValue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "expiresAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geoLocation": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAnalyticsEnabled": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isBrand": {
                            "type": "number"
                          },
                          "isDiniopayEnabled": {
                            "type": "number"
                          },
                          "isLocked": {
                            "type": "number"
                          },
                          "isPartner": {
                            "type": "number"
                          },
                          "isTrial": {
                            "type": "number"
                          },
                          "lastLoginAt": {
                            "type": "string"
                          },
                          "maxAmountCustomLicencePrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "microsoftFaceApiKey": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "microsoftFaceApiUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "partnerId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "priceAdjustment": {
                            "type": "number"
                          },
                          "registrationType": {
                            "type": "number"
                          },
                          "stage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "state": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "streetNumber": {
                            "type": "string"
                          },
                          "stripeCustomerId": {
                            "type": "object",
[...]
