{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SportsData Universal API",
    "version": "0.0.3",
    "description": "Access SportsDataIO sports data APIs for schedules, scores, standings, teams, players, odds, and related league data across supported sports."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sportsData/latest/actions/n-ba-team-profiles": {
      "get": {
        "operationId": "sportsData.n-ba-team-profiles",
        "summary": "NBA Team Profiles",
        "description": "Retrieves active NBA team profiles from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/n-ba-team-profiles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the team is active."
                          },
                          "city": {
                            "type": "string",
                            "description": "Team city."
                          },
                          "conference": {
                            "type": "string",
                            "description": "Conference name."
                          },
                          "division": {
                            "type": "string",
                            "description": "Division name."
                          },
                          "globalTeamID": {
                            "type": "number",
                            "description": "Global team identifier."
                          },
                          "headCoach": {
                            "type": "string",
                            "description": "Head coach name."
                          },
                          "key": {
                            "type": "string",
                            "description": "Team abbreviation."
                          },
                          "leagueID": {
                            "type": "number",
                            "description": "League identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Team name."
                          },
                          "nbaDotComTeamID": {
                            "type": "number",
                            "description": "NBA.com team identifier."
                          },
                          "primaryColor": {
                            "type": "string",
                            "description": "Primary team color."
                          },
                          "quaternaryColor": {
                            "type": "string",
                            "description": "Quaternary team color."
                          },
                          "secondaryColor": {
                            "type": "string",
                            "description": "Secondary team color."
                          },
                          "stadiumID": {
                            "type": "number",
                            "description": "Home venue identifier."
                          },
                          "teamID": {
                            "type": "number",
                            "description": "SportsData team identifier."
                          },
                          "tertiaryColor": {
                            "type": "string",
                            "description": "Tertiary team color."
                          },
                          "wikipediaLogoUrl": {
                            "type": "string",
                            "description": "Wikipedia logo URL."
                          },
                          "wikipediaWordMarkUrl": {
                            "type": "string",
                            "description": "Wikipedia wordmark URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/n-fl-team-profiles": {
      "get": {
        "operationId": "sportsData.n-fl-team-profiles",
        "summary": "NFL Team Profiles",
        "description": "Retrieves active NFL team profiles from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/n-fl-team-profiles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "averageDraftPosition": {
                            "type": "number"
                          },
                          "averageDraftPosition2QB": {
                            "type": "number"
                          },
                          "averageDraftPositionDynasty": {
                            "type": "number"
                          },
                          "averageDraftPositionPPR": {
                            "type": "number"
                          },
                          "byeWeek": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "conference": {
                            "type": "string"
                          },
                          "defensiveCoordinator": {
                            "type": "string"
                          },
                          "defensiveScheme": {
                            "type": "string"
                          },
                          "division": {
                            "type": "string"
                          },
                          "draftKingsName": {
                            "type": "string"
                          },
                          "draftKingsPlayerID": {
                            "type": "number"
                          },
                          "fanDuelName": {
                            "type": "string"
                          },
                          "fanDuelPlayerID": {
                            "type": "number"
                          },
                          "fantasyDraftName": {
                            "type": "string"
                          },
                          "fantasyDraftPlayerID": {
                            "type": "number"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "globalTeamID": {
                            "type": "number"
                          },
                          "headCoach": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "offensiveCoordinator": {
                            "type": "string"
                          },
                          "offensiveScheme": {
                            "type": "string"
                          },
                          "playerID": {
                            "type": "number"
                          },
                          "primaryColor": {
                            "type": "string"
                          },
                          "quaternaryColor": {
                            "type": "string"
                          },
                          "secondaryColor": {
                            "type": "string"
                          },
                          "specialTeamsCoach": {
                            "type": "string"
                          },
                          "stadiumDetails": {
                            "type": "object",
                            "properties": {
                              "capacity": {
                                "type": "number"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geoLat": {
                                "type": "number"
                              },
                              "geoLong": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "playingSurface": {
                                "type": "string"
                              },
                              "stadiumID": {
                                "type": "number"
                              },
                              "state": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "stadiumID": {
                            "type": "number"
                          },
                          "teamID": {
                            "type": "number"
                          },
                          "tertiaryColor": {
                            "type": "string"
                          },
                          "upcomingDraftKingsSalary": {
                            "type": "number"
                          },
                          "upcomingFanDuelSalary": {
                            "type": "number"
                          },
                          "upcomingOpponent": {
                            "type": "string"
                          },
                          "upcomingOpponentPositionRank": {
                            "type": "number"
                          },
                          "upcomingOpponentRank": {
                            "type": "number"
                          },
                          "upcomingSalary": {
                            "type": "number"
                          },
                          "upcomingYahooSalary": {
                            "type": "number"
                          },
                          "wikipediaLogoUrl": {
                            "type": "string"
                          },
                          "wikipediaWordMarkUrl": {
                            "type": "string"
                          },
                          "yahooName": {
                            "type": "string"
                          },
                          "yahooPlayerID": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-active-players-basic": {
      "get": {
        "operationId": "sportsData.nba-active-players-basic",
        "summary": "NBA Active Players Basic",
        "description": "Retrieves active NBA player profiles from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-active-players-basic"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "birthCity": {
                            "type": "string",
                            "description": "Birth city."
                          },
                          "birthCountry": {
                            "type": "string",
                            "description": "Birth country."
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Player birth date."
                          },
                          "birthState": {
                            "type": "string",
                            "description": "Birth state or region."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Player first name."
                          },
                          "globalTeamID": {
                            "type": "number",
                            "description": "Global team identifier."
                          },
                          "height": {
                            "type": "number",
                            "description": "Player height in inches."
                          },
                          "jersey": {
                            "type": "number",
                            "description": "Jersey number."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Player last name."
                          },
                          "playerID": {
                            "type": "number",
                            "description": "SportsData player identifier."
                          },
                          "position": {
                            "type": "string",
                            "description": "Roster position."
                          },
                          "positionCategory": {
                            "type": "string",
                            "description": "Broad position group."
                          },
                          "sportsDataID": {
                            "type": "string",
                            "description": "Provider SportsData string identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Roster status."
                          },
                          "team": {
                            "type": "string",
                            "description": "Team abbreviation."
                          },
                          "teamID": {
                            "type": "number",
                            "description": "Team identifier."
                          },
                          "weight": {
                            "type": "number",
                            "description": "Player weight."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-current-season": {
      "get": {
        "operationId": "sportsData.nba-current-season",
        "summary": "NBA Current Season",
        "description": "Retrieves the current NBA season from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-current-season"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiSeason": {
                            "type": "string",
                            "description": "Provider API season token."
                          },
                          "description": {
                            "type": "string",
                            "description": "Season label."
                          },
                          "endYear": {
                            "type": "number",
                            "description": "Season end year."
                          },
                          "postSeasonStartDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Postseason start date."
                          },
                          "regularSeasonStartDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Regular season start date."
                          },
                          "season": {
                            "type": "number",
                            "description": "Season year."
                          },
                          "seasonType": {
                            "type": "string",
                            "description": "Season type code."
                          },
                          "startYear": {
                            "type": "number",
                            "description": "Season start year."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-free-agents": {
      "get": {
        "operationId": "sportsData.nba-free-agents",
        "summary": "NBA Free Agents",
        "description": "Retrieves NBA free agents from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-free-agents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "birthCity": {
                            "type": "string",
                            "description": "Birth city."
                          },
                          "birthCountry": {
                            "type": "string",
                            "description": "Birth country."
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Player birth date."
                          },
                          "birthState": {
                            "type": "string",
                            "description": "Birth state or region."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Player first name."
                          },
                          "globalTeamID": {
                            "type": "number",
                            "description": "Global team identifier."
                          },
                          "height": {
                            "type": "number",
                            "description": "Player height in inches."
                          },
                          "jersey": {
                            "type": "number",
                            "description": "Jersey number when assigned."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Player last name."
                          },
                          "playerID": {
                            "type": "number",
                            "description": "SportsData player identifier."
                          },
                          "position": {
                            "type": "string",
                            "description": "Roster position."
                          },
                          "positionCategory": {
                            "type": "string",
                            "description": "Broad position group."
                          },
                          "sportsDataID": {
                            "type": "string",
                            "description": "Provider SportsData string identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Roster status."
                          },
                          "team": {
                            "type": "string",
                            "description": "Team abbreviation when assigned."
                          },
                          "teamID": {
                            "type": "number",
                            "description": "Team identifier when assigned."
                          },
                          "weight": {
                            "type": "number",
                            "description": "Player weight."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-games-by-date": {
      "get": {
        "operationId": "sportsData.nba-games-by-date",
        "summary": "NBA Games By Date",
        "description": "Retrieves NBA games from SportsData by date.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-games-by-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Game date for the NBA games feed.",
            "schema": {
              "type": "string",
              "description": "Game date for the NBA games feed.",
              "example": "2026-APR-09"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendance": {
                            "type": "number",
                            "description": "Reported attendance."
                          },
                          "awayTeam": {
                            "type": "string",
                            "description": "Away team abbreviation."
                          },
                          "awayTeamID": {
                            "type": "number",
                            "description": "Away team identifier."
                          },
                          "awayTeamMoneyLine": {
                            "type": "number",
                            "description": "Away team moneyline."
                          },
                          "awayTeamScore": {
                            "type": "number",
                            "description": "Away team score."
                          },
                          "channel": {
                            "type": "string",
                            "description": "Broadcast channel."
                          },
                          "crewChiefID": {
                            "type": "number",
                            "description": "Crew chief identifier."
                          },
                          "dateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled local game time."
                          },
                          "dateTimeUTC": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled UTC game time."
                          },
                          "day": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Calendar day for the game."
                          },
                          "gameEndDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Game end timestamp."
                          },
                          "gameID": {
                            "type": "number",
                            "description": "SportsData game identifier."
                          },
                          "globalAwayTeamID": {
                            "type": "number",
                            "description": "Global away team identifier."
                          },
                          "globalGameID": {
                            "type": "number",
                            "description": "Global game identifier."
                          },
                          "globalHomeTeamID": {
                            "type": "number",
                            "description": "Global home team identifier."
                          },
                          "homeTeam": {
                            "type": "string",
                            "description": "Home team abbreviation."
                          },
                          "homeTeamID": {
                            "type": "number",
                            "description": "Home team identifier."
                          },
                          "homeTeamMoneyLine": {
                            "type": "number",
                            "description": "Home team moneyline."
                          },
                          "homeTeamScore": {
                            "type": "number",
                            "description": "Home team score."
                          },
                          "inseasonTournament": {
                            "type": "boolean",
                            "description": "Whether the game is part of the in-season tournament."
                          },
                          "isClosed": {
                            "type": "boolean",
                            "description": "Whether the game is closed."
                          },
                          "lastPlay": {
                            "type": "string",
                            "description": "Most recent play summary."
                          },
                          "neutralVenue": {
                            "type": "boolean",
                            "description": "Whether the game is at a neutral venue."
                          },
                          "overUnder": {
                            "type": "number",
                            "description": "Over/under total."
                          },
                          "pointSpread": {
                            "type": "number",
                            "description": "Point spread for the game."
                          },
                          "quarters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per-quarter scoring details when available."
                          },
                          "refereeID": {
                            "type": "number",
                            "description": "Referee identifier."
                          },
                          "season": {
                            "type": "number",
                            "description": "Season year for the game."
                          },
                          "seasonType": {
                            "type": "number",
                            "description": "SportsData season type code."
                          },
                          "stadiumID": {
                            "type": "number",
                            "description": "Venue identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current game status."
                          },
                          "umpireID": {
                            "type": "number",
                            "description": "Umpire identifier."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last provider update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-games-by-season": {
      "get": {
        "operationId": "sportsData.nba-games-by-season",
        "summary": "NBA Games By Season",
        "description": "Retrieves NBA games from SportsData by season.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-games-by-season"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "NBA season year for the games feed.",
            "schema": {
              "type": "string",
              "description": "NBA season year for the games feed.",
              "example": "2026"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendance": {
                            "type": "number",
                            "description": "Reported attendance."
                          },
                          "awayTeam": {
                            "type": "string",
                            "description": "Away team abbreviation."
                          },
                          "awayTeamID": {
                            "type": "number",
                            "description": "Away team identifier."
                          },
                          "awayTeamMoneyLine": {
                            "type": "number",
                            "description": "Away team moneyline."
                          },
                          "awayTeamScore": {
                            "type": "number",
                            "description": "Away team score."
                          },
                          "channel": {
                            "type": "string",
                            "description": "Broadcast channel."
                          },
                          "crewChiefID": {
                            "type": "number",
                            "description": "Crew chief identifier."
                          },
                          "dateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled local game time."
                          },
                          "dateTimeUTC": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled UTC game time."
                          },
                          "day": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Calendar day for the game."
                          },
                          "gameEndDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Game end timestamp."
                          },
                          "gameID": {
                            "type": "number",
                            "description": "SportsData game identifier."
                          },
                          "globalAwayTeamID": {
                            "type": "number",
                            "description": "Global away team identifier."
                          },
                          "globalGameID": {
                            "type": "number",
                            "description": "Global game identifier."
                          },
                          "globalHomeTeamID": {
                            "type": "number",
                            "description": "Global home team identifier."
                          },
                          "homeTeam": {
                            "type": "string",
                            "description": "Home team abbreviation."
                          },
                          "homeTeamID": {
                            "type": "number",
                            "description": "Home team identifier."
                          },
                          "homeTeamMoneyLine": {
                            "type": "number",
                            "description": "Home team moneyline."
                          },
                          "homeTeamScore": {
                            "type": "number",
                            "description": "Home team score."
                          },
                          "inseasonTournament": {
                            "type": "boolean",
                            "description": "Whether the game is part of the in-season tournament."
                          },
                          "isClosed": {
                            "type": "boolean",
                            "description": "Whether the game is closed."
                          },
                          "lastPlay": {
                            "type": "string",
                            "description": "Most recent play summary."
                          },
                          "neutralVenue": {
                            "type": "boolean",
                            "description": "Whether the game is at a neutral venue."
                          },
                          "overUnder": {
                            "type": "number",
                            "description": "Over/under total."
                          },
                          "pointSpread": {
                            "type": "number",
                            "description": "Point spread for the game."
                          },
                          "quarters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per-quarter scoring details when available."
                          },
                          "refereeID": {
                            "type": "number",
                            "description": "Referee identifier."
                          },
                          "season": {
                            "type": "number",
                            "description": "Season year for the game."
                          },
                          "seasonType": {
                            "type": "number",
                            "description": "SportsData season type code."
                          },
                          "stadiumID": {
                            "type": "number",
                            "description": "Venue identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current game status."
                          },
                          "umpireID": {
                            "type": "number",
                            "description": "Umpire identifier."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last provider update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-news": {
      "get": {
        "operationId": "sportsData.nba-news",
        "summary": "NBA News",
        "description": "Retrieves NBA news from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-news"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string",
                            "description": "Article author."
                          },
                          "categories": {
                            "type": "string",
                            "description": "Article categories."
                          },
                          "content": {
                            "type": "string",
                            "description": "Article content excerpt."
                          },
                          "newsID": {
                            "type": "number",
                            "description": "SportsData news item identifier."
                          },
                          "originalSource": {
                            "type": "string",
                            "description": "Original publisher name."
                          },
                          "originalSourceUrl": {
                            "type": "string",
                            "description": "Original publisher URL."
                          },
                          "playerID": {
                            "type": "number",
                            "description": "Primary referenced player identifier."
                          },
                          "playerID2": {
                            "type": "number",
                            "description": "Secondary referenced player identifier."
                          },
                          "source": {
                            "type": "string",
                            "description": "Source publication for the article."
                          },
                          "team": {
                            "type": "string",
                            "description": "Primary referenced team abbreviation."
                          },
                          "team2": {
                            "type": "string",
                            "description": "Secondary referenced team abbreviation."
                          },
                          "teamID": {
                            "type": "number",
                            "description": "Primary referenced team identifier."
                          },
                          "teamID2": {
                            "type": "number",
                            "description": "Secondary referenced team identifier."
                          },
                          "termsOfUse": {
                            "type": "string",
                            "description": "SportsData terms-of-use text."
                          },
                          "timeAgo": {
                            "type": "string",
                            "description": "Human-readable recency label."
                          },
                          "title": {
                            "type": "string",
                            "description": "Article title."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last updated timestamp for the article."
                          },
                          "url": {
                            "type": "string",
                            "description": "Article URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-players": {
      "get": {
        "operationId": "sportsData.nba-players",
        "summary": "NBA Players",
        "description": "Retrieves active NBA player details from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-players"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "birthCity": {
                            "type": "string",
                            "description": "Birth city."
                          },
                          "birthCountry": {
                            "type": "string",
                            "description": "Birth country."
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Player birth date."
                          },
                          "birthState": {
                            "type": "string",
                            "description": "Birth state or region."
                          },
                          "college": {
                            "type": "string",
                            "description": "College."
                          },
                          "depthChartOrder": {
                            "type": "number",
                            "description": "Depth chart order."
                          },
                          "depthChartPosition": {
                            "type": "string",
                            "description": "Depth chart position."
                          },
                          "draftKingsName": {
                            "type": "string",
                            "description": "DraftKings display name."
                          },
                          "draftKingsPlayerID": {
                            "type": "number",
                            "description": "DraftKings player identifier."
                          },
                          "experience": {
                            "type": "number",
                            "description": "Years of NBA experience."
                          },
                          "fanDuelName": {
                            "type": "string",
                            "description": "FanDuel display name."
                          },
                          "fanDuelPlayerID": {
                            "type": "number",
                            "description": "FanDuel player identifier."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Player first name."
                          },
                          "globalTeamID": {
                            "type": "number",
                            "description": "Global team identifier."
                          },
                          "height": {
                            "type": "number",
                            "description": "Player height in inches."
                          },
                          "jersey": {
                            "type": "number",
                            "description": "Jersey number."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Player last name."
                          },
                          "nbaDotComPlayerID": {
                            "type": "number",
                            "description": "NBA.com player identifier."
                          },
                          "photoUrl": {
                            "type": "string",
                            "description": "Provider photo URL."
                          },
                          "playerID": {
                            "type": "number",
                            "description": "SportsData player identifier."
                          },
                          "position": {
                            "type": "string",
                            "description": "Roster position."
                          },
                          "positionCategory": {
                            "type": "string",
                            "description": "Broad position group."
                          },
                          "salary": {
                            "type": "number",
                            "description": "Salary when available."
                          },
                          "sportRadarPlayerID": {
                            "type": "string",
                            "description": "SportRadar player identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Roster status."
                          },
                          "team": {
                            "type": "string",
                            "description": "Team abbreviation."
                          },
                          "teamID": {
                            "type": "number",
                            "description": "Team identifier."
                          },
                          "usaTodayHeadshotNoBackgroundUrl": {
                            "type": "string",
                            "description": "USA Today transparent headshot URL."
                          },
                          "usaTodayHeadshotUrl": {
                            "type": "string",
                            "description": "USA Today headshot URL."
                          },
                          "weight": {
                            "type": "number",
                            "description": "Player weight."
                          },
                          "yahooName": {
                            "type": "string",
                            "description": "Yahoo display name."
                          },
                          "yahooPlayerID": {
                            "type": "number",
                            "description": "Yahoo player identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-referees": {
      "get": {
        "operationId": "sportsData.nba-referees",
        "summary": "NBA Referees",
        "description": "Retrieves NBA referees from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-referees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "college": {
                            "type": "string",
                            "description": "College or prior affiliation."
                          },
                          "experience": {
                            "type": "number",
                            "description": "Years of NBA officiating experience."
                          },
                          "name": {
                            "type": "string",
                            "description": "Referee full name."
                          },
                          "number": {
                            "type": "number",
                            "description": "Uniform number."
                          },
                          "position": {
                            "type": "string",
                            "description": "Role or assignment slot when provided."
                          },
                          "refereeID": {
                            "type": "number",
                            "description": "SportsData referee identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sportsData/latest/actions/nba-stadiums": {
      "get": {
        "operationId": "sportsData.nba-stadiums",
        "summary": "NBA Stadiums",
        "description": "Retrieves NBA stadiums from SportsData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sportsData/latest/actions/nba-stadiums"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the venue is active."
                          },
                          "address": {
                            "type": "string",
                            "description": "Street address."
                          },
[...]
