{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "U-ON Universal API",
    "version": "0.0.3",
    "description": "CRM for travel agencies, tour operators, and travel networks, with endpoints for tourists, leads, requests, payments, services, reminders, managers, directories, and webhooks."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/uON/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/uON/latest/actions/find-tourist-by-phone": {
      "get": {
        "operationId": "uON.find-tourist-by-phone",
        "summary": "Find Tourist by Phone",
        "description": "Finds a tourist in U-ON by phone number.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/find-tourist-by-phone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "description": "phone path parameter",
            "schema": {
              "type": "string",
              "description": "phone path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: active"
                          },
                          "address": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: address"
                          },
                          "address_juridical": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: address_juridical"
                          },
                          "bcard_id": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: bcard_id"
                          },
                          "bcard_number": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: bcard_number"
                          },
                          "bcard_value": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: bcard_value"
                          },
                          "cabinet_created": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: cabinet_created"
                          },
                          "cabinet_created_date": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: cabinet_created_date"
                          },
                          "deleted": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: deleted"
                          },
                          "delivery_subscription": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: delivery_subscription"
                          },
                          "extended_fields": {
                            "type": "array",
                            "items": {},
                            "description": "U-ON tourist runtime field: extended_fields"
                          },
                          "files": {
                            "type": "array",
                            "items": {},
                            "description": "U-ON tourist runtime field: files"
                          },
                          "global_u_id": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: global_u_id"
                          },
                          "ip_internal_number": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: ip_internal_number"
                          },
                          "labels": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: labels"
                          },
                          "manager_id": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: manager_id"
                          },
                          "nationality": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: nationality"
                          },
                          "nationality_id": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: nationality_id"
                          },
                          "notifications": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: notifications"
                          },
                          "office_id": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: office_id"
                          },
                          "role_id": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: role_id"
                          },
                          "source_id": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: source_id"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: timezone"
                          },
                          "tourist_kind": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: tourist_kind"
                          },
                          "u_birthday": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_birthday"
                          },
                          "u_birthday_certificate": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_birthday_certificate"
                          },
                          "u_birthday_certificate_given": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_birthday_certificate_given"
                          },
                          "u_birthday_certificate_organization": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_birthday_certificate_organization"
                          },
                          "u_birthday_place": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_birthday_place"
                          },
                          "u_company": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_company"
                          },
                          "u_date_update": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_date_update"
                          },
                          "u_discount": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_discount"
                          },
                          "u_email": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_email"
                          },
                          "u_fax": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_fax"
                          },
                          "u_finance_bank": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_finance_bank"
                          },
                          "u_finance_bik": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_finance_bik"
                          },
                          "u_finance_ks": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_finance_ks"
                          },
                          "u_finance_okpo": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_finance_okpo"
                          },
                          "u_finance_rs": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_finance_rs"
                          },
                          "u_id": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: u_id"
                          },
                          "u_image": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_image"
                          },
                          "u_inn": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_inn"
                          },
                          "u_instagram": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_instagram"
                          },
                          "u_kpp": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_kpp"
                          },
                          "u_manager_status": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: u_manager_status"
                          },
                          "u_max": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_max"
                          },
                          "u_name": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_name"
                          },
                          "u_name_en": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_name_en"
                          },
                          "u_note": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_note"
                          },
                          "u_ogrn": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_ogrn"
                          },
                          "u_okved": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_okved"
                          },
                          "u_passport_code": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_passport_code"
                          },
                          "u_passport_date": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_passport_date"
                          },
                          "u_passport_number": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_passport_number"
                          },
                          "u_passport_taken": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_passport_taken"
                          },
                          "u_phone": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_phone"
                          },
                          "u_phone_home": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_phone_home"
                          },
                          "u_phone_mobile": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_phone_mobile"
                          },
                          "u_position": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_position"
                          },
                          "u_sex": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: u_sex"
                          },
                          "u_sname": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_sname"
                          },
                          "u_social_fb": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_social_fb"
                          },
                          "u_social_ok": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_social_ok"
                          },
                          "u_social_vk": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_social_vk"
                          },
                          "u_surname": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_surname"
                          },
                          "u_surname_en": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_surname_en"
                          },
                          "u_telegram": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_telegram"
                          },
                          "u_type": {
                            "type": "number",
                            "description": "U-ON tourist runtime field: u_type"
                          },
                          "u_viber": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_viber"
                          },
                          "u_whatsapp": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_whatsapp"
                          },
                          "u_zagran_expire": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_zagran_expire"
                          },
                          "u_zagran_given": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_zagran_given"
                          },
                          "u_zagran_number": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_zagran_number"
                          },
                          "u_zagran_organization": {
                            "type": "string",
                            "description": "U-ON tourist runtime field: u_zagran_organization"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uON/latest/actions/get-bill": {
      "get": {
        "operationId": "uON.get-bill",
        "summary": "Get Bill",
        "description": "Retrieves a bill record from U-ON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/get-bill"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "id path parameter",
            "schema": {
              "type": "number",
              "description": "id path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelled_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата отмены / Cancelled date"
                          },
                          "client_id": {
                            "type": "number",
                            "description": "ID туриста (см.метод user) / Tourist ID (see method user)"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания / Creation date"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата / Date"
                          },
                          "hold_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата холдирования / Hold date"
                          },
                          "id": {
                            "type": "number",
                            "description": "ID / ID"
                          },
                          "is_cancelled": {
                            "type": "number",
                            "description": "Отменен? / Is cancelled?"
                          },
                          "is_hold": {
                            "type": "number",
                            "description": "На этапе холдирования? / Is hold?"
                          },
                          "is_paid": {
                            "type": "number",
                            "description": "Оплачен? / Is paid?"
                          },
                          "manager_id": {
                            "type": "number",
                            "description": "ID менеджера (см.метод manager) / Manager ID (see method manager)"
                          },
                          "nds": {
                            "type": "string",
                            "description": "НДС / Nds"
                          },
                          "note": {
                            "type": "string",
                            "description": "Примечание / Note"
                          },
                          "number": {
                            "type": "string",
                            "description": "Номер / Number"
                          },
                          "paid_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата оплаты / Paid date"
                          },
                          "paid_manager_id": {
                            "type": "number",
                            "description": "Оплата проведена менеджером (списание холдированных средств) / Manager has completed hold"
                          },
                          "price": {
                            "type": "number",
                            "description": "Сумма счета / Bill price"
                          },
                          "r_id": {
                            "type": "number",
                            "description": "ID заявки / Request ID"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Назначение платежа / Bill reason"
                          },
                          "services": {
                            "type": "string",
                            "description": "Список услуг внутри счета / Bill services"
                          },
                          "url": {
                            "type": "string",
                            "description": "Ссылка на оплату / Link to pay"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uON/latest/actions/get-hotel": {
      "get": {
        "operationId": "uON.get-hotel",
        "summary": "Get Hotel",
        "description": "Retrieves a hotel record from U-ON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/get-hotel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "id path parameter",
            "schema": {
              "type": "number",
              "description": "id path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bedroom_count": {
                            "type": "number",
                            "description": "Количество спален / Number of bedrooms"
                          },
                          "city": {
                            "type": "string",
                            "description": "Название города / The name of the city"
                          },
                          "city_id": {
                            "type": "string",
                            "description": "ID города / ID of the city"
                          },
                          "contacts": {
                            "type": "string",
                            "description": "Контактная информация / Contact information"
                          },
                          "country": {
                            "type": "string",
                            "description": "Название страны / The name of the country"
                          },
                          "country_id": {
                            "type": "string",
                            "description": "ID страны / ID of the country"
                          },
                          "exit_hour": {
                            "type": "string",
                            "description": "Час выезда / Check out time"
                          },
                          "guests_count": {
                            "type": "number",
                            "description": "Количество гостей / The number of guests"
                          },
                          "id": {
                            "type": "number",
                            "description": "ID / ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Название / Name"
                          },
                          "name_en": {
                            "type": "string",
                            "description": "Название латиницей / The name in Latin"
                          },
                          "notice": {
                            "type": "string",
                            "description": "Примечание / Note"
                          },
                          "price": {
                            "type": "number",
                            "description": "Цена за 1 день / Price for 1 day"
                          },
                          "reserve_rules": {
                            "type": "string",
                            "description": "Правила бронирования / Booking rules"
                          },
                          "text": {
                            "type": "string",
                            "description": "Описание / Description"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uON/latest/actions/get-lead": {
      "get": {
        "operationId": "uON.get-lead",
        "summary": "Get Lead",
        "description": "Retrieves a lead record from U-ON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/get-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "id path parameter",
            "schema": {
              "type": "number",
              "description": "id path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calc_client": {
                            "type": "number",
                            "description": "Сумма всех расчетов с клиентом / The sum of all payments to the client"
                          },
                          "calc_decrease": {
                            "type": "number",
                            "description": "Сумма всех расходов / The amount of all expenses"
                          },
                          "calc_increase": {
                            "type": "number",
                            "description": "Сумма всех приходов / The sum of all parishes"
                          },
                          "calc_partner": {
                            "type": "number",
                            "description": "Сумма всех расчетов с партнерами / The sum of all payments"
                          },
                          "calc_price": {
                            "type": "number",
                            "description": "Стоимость для клиента / The cost for the client"
                          },
                          "calc_price_netto": {
                            "type": "number",
                            "description": "Себестоимость / The cost"
                          },
                          "client_email": {
                            "type": "string",
                            "description": "E-mail клиента / E-mail client"
                          },
                          "client_id": {
                            "type": "number",
                            "description": "ID клиента / Client ID"
                          },
                          "client_name": {
                            "type": "string",
                            "description": "Имя клиента / The name of the customer"
                          },
                          "client_phone": {
                            "type": "string",
                            "description": "Телефон клиента / Phone customer"
                          },
                          "client_sname": {
                            "type": "string",
                            "description": "Отчество клиента / First name of client"
                          },
                          "client_surname": {
                            "type": "string",
                            "description": "Фамилия клиента / The name of the client"
                          },
                          "dat": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания / Created date"
                          },
                          "date_begin": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата начала обслуживания / Start date of service"
                          },
                          "date_end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата окончания обслуживания / End date of service"
                          },
                          "extended_fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Массив значений дополнительных полей в виде [ID доп.поля => значение, ID доп.поля2 => значение2, ...] (см.метод /extended_field) / Array of values for extended fields [ID field => value, ID field2 => value2, ...] (see method /extended_field)"
                          },
                          "files": {
                            "type": "string",
                            "description": "Массив прикрепленных файлов (см.метод /request_file/create) / An array of attached files (see method /request_file/create)"
                          },
                          "id": {
                            "type": "string",
                            "description": "ID / ID"
                          },
                          "id_internal": {
                            "type": "string",
                            "description": "Внутренний номер / Internal number"
                          },
                          "id_system": {
                            "type": "string",
                            "description": "Системный ID / System ID"
                          },
                          "manager_id": {
                            "type": "number",
                            "description": "ID менеджера / ID Manager"
                          },
                          "manager_name": {
                            "type": "string",
                            "description": "Имя менеджера / The name of the Manager"
                          },
                          "manager_sname": {
                            "type": "string",
                            "description": "Отчество менеджера / The patronymic of the Manager"
                          },
                          "manager_surname": {
                            "type": "string",
                            "description": "Фамилия менеджера / The name of the Manager"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Примечание / Note"
                          },
                          "services": {
                            "type": "string",
                            "description": "Массив услуг (см.метод /service) / An array of services (see method /service)"
                          },
                          "source": {
                            "type": "string",
                            "description": "Наименование источника / Source name"
                          },
                          "source_id": {
                            "type": "number",
                            "description": "ID источника / Source ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "Наименование статуса / Name status"
                          },
                          "status_id": {
                            "type": "number",
                            "description": "ID статуса / ID status"
                          },
                          "tours": {
                            "type": "string",
                            "description": "Массив подборок туров / An array of tours"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uON/latest/actions/get-manager": {
      "get": {
        "operationId": "uON.get-manager",
        "summary": "Get Manager",
        "description": "Retrieves a manager record from U-ON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/get-manager"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "user_id path parameter",
            "schema": {
              "type": "number",
              "description": "user_id path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "number"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uON/latest/actions/get-payment": {
      "get": {
        "operationId": "uON.get-payment",
        "summary": "Get Payment",
        "description": "Retrieves a payment record from U-ON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/get-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "id path parameter",
            "schema": {
              "type": "number",
              "description": "id path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cash_id": {
                            "type": "number",
                            "description": "Касса / Cash ID"
                          },
                          "cio_id": {
                            "type": "number",
                            "description": "Вид платежа / Cash in-out type"
                          },
                          "client_id": {
                            "type": "number",
                            "description": "Заказчик / Client ID"
                          },
                          "currency_id": {
                            "type": "number",
                            "description": "Валюта / Currency ID"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата платежа / Payment date"
                          },
                          "date_plan": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Плановая дата платежа / Scheduled payment date"
                          },
                          "extended_fields": {
                            "type": "array",
                            "items": {},
                            "description": "Дополнительные поля / Extended fields"
                          },
                          "form_id": {
                            "type": "number",
                            "description": "Вид платежа / Payment form ID"
                          },
                          "from1c": {
                            "type": "number",
                            "description": "Платеж из 1С / From 1C flag"
                          },
                          "id": {
                            "type": "number",
                            "description": "ID платежа / Payment ID"
                          },
                          "is_bonus_pay": {
                            "type": "number",
                            "description": "Оплата бонусами / Bonus payment flag"
                          },
                          "is_deposit": {
                            "type": "number",
                            "description": "Депозитная операция / Deposit payment flag"
                          },
                          "is_plan": {
                            "type": "number",
                            "description": "Плановый платеж / Scheduled payment flag"
                          },
                          "koef": {
                            "type": "number",
                            "description": "Курс валюты / Currency rate"
                          },
                          "manager_id": {
                            "type": "number",
                            "description": "Менеджер / Manager ID"
                          },
                          "manager_id_creator": {
                            "type": "number",
                            "description": "Создавший менеджер / Creator manager ID"
                          },
                          "note": {
                            "type": "string",
                            "description": "Примечание / Note"
                          },
                          "number": {
                            "type": "string",
                            "description": "Номер платежа / Payment number"
                          },
                          "office_id": {
                            "type": "number",
                            "description": "Офис / Office ID"
                          },
                          "other_type_id": {
                            "type": "number",
                            "description": "Тип косвенного платежа / Other payment type ID"
                          },
                          "parent_payment_id": {
                            "type": "number",
                            "description": "Родительский платеж / Parent payment ID"
                          },
                          "prepay_id": {
                            "type": "number",
                            "description": "Тип предоплаты / Prepay type ID"
                          },
                          "price": {
                            "type": "number",
                            "description": "Стоимость клиенту / Client price"
                          },
                          "r_id": {
                            "type": "number",
                            "description": "ID заявки / Request ID"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Основание платежа / Payment reason"
                          },
                          "supplier_id": {
                            "type": "number",
                            "description": "Партнер или туроператор / Supplier ID"
                          },
                          "type_id": {
                            "type": "number",
                            "description": "Тип платежа / Payment type ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uON/latest/actions/get-request": {
      "get": {
        "operationId": "uON.get-request",
        "summary": "Get Request",
        "description": "Retrieves a request record from U-ON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/get-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "id path parameter",
            "schema": {
              "type": "number",
              "description": "id path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bonus_limit": {
                            "type": "string",
                            "description": "Лимит по оплате бонусами (в %) / Bonus payment limit (in %)"
                          },
                          "calc_client": {
                            "type": "number",
                            "description": "Сумма всех расчетов с клиентом / The sum of all payments to the client"
                          },
                          "calc_decrease": {
                            "type": "number",
                            "description": "Сумма всех расходов / The amount of all expenses"
                          },
                          "calc_increase": {
                            "type": "number",
                            "description": "Сумма всех приходов / The sum of all parishes"
                          },
                          "calc_partner": {
                            "type": "number",
                            "description": "Сумма всех расчетов с партнерами / The sum of all payments"
                          },
                          "calc_price": {
                            "type": "number",
                            "description": "Стоимость для клиента / The cost for the client"
                          },
                          "calc_price_netto": {
                            "type": "number",
                            "description": "Себестоимость / The cost"
                          },
                          "client_company": {
                            "type": "string",
                            "description": "Компания клиента / Client company"
                          },
                          "client_email": {
                            "type": "string",
                            "description": "E-mail клиента / E-mail client"
                          },
                          "client_id": {
                            "type": "number",
                            "description": "ID клиента / Client ID"
                          },
                          "client_inn": {
                            "type": "string",
                            "description": "ИНН клиента / Client INN"
                          },
                          "client_kpp": {
                            "type": "string",
                            "description": "КПП клиента / Client KPP"
                          },
                          "client_name": {
                            "type": "string",
                            "description": "Имя клиента / The name of the customer"
                          },
                          "client_phone": {
                            "type": "string",
                            "description": "Телефон клиента / Phone customer"
                          },
                          "client_phone_mobile": {
                            "type": "string",
                            "description": "Телефон клиента мобильный / Mobile phone customer"
                          },
                          "client_requirements_budget": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: бюджет / Client's wishes: budget"
                          },
                          "client_requirements_country_ids": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: ID стран / Client's wishes: countries IDs"
                          },
                          "client_requirements_country_names": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: Названия стран / Client's wishes: countries names"
                          },
                          "client_requirements_date_from": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Пожелания клиента в обращении: дата ОТ / Client's wishes: from date"
                          },
                          "client_requirements_date_to": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Пожелания клиента в обращении: дата ДО / Client's wishes: to date"
                          },
                          "client_requirements_days_from": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: количество дней ОТ / Client's wishes: days count from"
                          },
                          "client_requirements_days_to": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: количество дней ДО / Client's wishes: days count to"
                          },
                          "client_requirements_hotel_stars": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: количество звезд отеля / Client's wishes: hotel stars"
                          },
                          "client_requirements_note": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: примечание / Client's wishes: note"
                          },
                          "client_requirements_nutrition_ids": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: ID типов питания / Client's wishes: nutrition IDs"
                          },
                          "client_requirements_tourists_adult_count": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: количество взрослых туристов / Client's wishes: adult tourists count"
                          },
                          "client_requirements_tourists_baby_count": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: количество туристов младенцев / Client's wishes: baby tourists count"
                          },
                          "client_requirements_tourists_child_age": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: возраст туристов-детей / Client's wishes: child tourists ages"
                          },
                          "client_requirements_tourists_child_count": {
                            "type": "string",
                            "description": "Пожелания клиента в обращении: количество туристов детей / Client's wishes: child tourists count"
                          },
                          "client_sname": {
                            "type": "string",
                            "description": "Отчество клиента / First name of client"
                          },
                          "client_surname": {
                            "type": "string",
                            "description": "Фамилия клиента / The name of the client"
                          },
                          "commission": {
                            "type": "string",
                            "description": "Массив комиссий по платежам (см.метод /payment/create) / An array of commission payments (see method /payment/create)"
                          },
                          "company_fullname": {
                            "type": "string",
                            "description": "Полное название оформляющей компании / Company full name"
                          },
                          "company_id": {
                            "type": "number",
                            "description": "ID оформляющей компании (ваше юрлицо) / Company ID"
                          },
                          "company_inn": {
                            "type": "string",
                            "description": "ИНН оформляющей компании / Company INN"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "Название оформляющей компании / Company name"
                          },
                          "company_name_rus": {
                            "type": "string",
                            "description": "Русское название оформляющей компании / Company name RUS"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания (неизменяемая) / Created date (not edited)"
                          },
                          "dat": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания записи в базе / Created date"
                          },
                          "dat_lead": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания именно обращения / Created date of lead"
                          },
                          "dat_request": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания именно заявки / Created date of request"
                          },
                          "dat_updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата обновления / Updated date"
                          },
                          "date_begin": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата начала обслуживания / Start date of service"
                          },
                          "date_close": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата закрытия заявки / Close date of request"
                          },
                          "date_end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата окончания обслуживания / End date of service"
                          },
                          "extended_fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Массив значений дополнительных полей в виде [ID доп.поля => значение, ID доп.поля2 => значение2, ...] (см.метод /extended_field) / Array of values for extended fields [ID field => value, ID field2 => value2, ...] (see method /extended_field)"
                          },
                          "files": {
                            "type": "string",
                            "description": "Массив прикрепленных файлов (см.метод /request_file/create) / An array of attached files (see method /request_file/create)"
                          },
                          "id": {
                            "type": "string",
                            "description": "ID / ID"
                          },
                          "id_internal": {
                            "type": "string",
                            "description": "Внутренний номер / Internal number"
                          },
                          "id_system": {
                            "type": "string",
                            "description": "Системный ID / System ID"
                          },
                          "insurance_id": {
                            "type": "number",
                            "description": "ID поля страховки / ID insurance"
                          },
                          "manager_id": {
                            "type": "number",
                            "description": "ID прикрепленного менеджера / ID Manager"
                          },
                          "manager_name": {
                            "type": "string",
                            "description": "Имя менеджера / The name of the Manager"
                          },
                          "manager_sname": {
                            "type": "string",
                            "description": "Отчество менеджера / The patronymic of the Manager"
                          },
                          "manager_surname": {
                            "type": "string",
                            "description": "Фамилия менеджера / The name of the Manager"
                          },
                          "max_payment_by_bonuses": {
                            "type": "number",
                            "description": "Максимальная сумма оплаты заявки бонусами (в деньгах) / Max payment of request by bonuses (in money)"
                          },
                          "max_payment_by_bonuses_in_percents": {
                            "type": "number",
                            "description": "Максимальная сумма оплаты заявки бонусами (в процентах) / Max payment of request by bonuses (in percents)"
                          },
                          "max_payment_by_bonuses_note": {
                            "type": "string",
                            "description": "Максимальная сумма оплаты заявки бонусами (расчет) / Max payment of request by bonuses (calc)"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Примечание / Note"
                          },
                          "office_id": {
                            "type": "number",
                            "description": "ID прикрепленного офиса / ID office"
                          },
                          "payments": {
                            "type": "string",
                            "description": "Массив платежей (см.метод /payment/create) / An array of payments (see method /payment/create)"
                          },
                          "r_calc_client_currency_id": {
                            "type": "number",
                            "description": "ID валюты расчетов с партнерами / Currency ID for clients finance"
                          },
                          "r_calc_partner_currency_id": {
                            "type": "number",
                            "description": "ID валюты расчетов с партнерами / Currency ID for partners finance"
                          },
                          "r_created_u_id": {
                            "type": "number",
                            "description": "ID менеджера, создавшего заявку / Manager ID, who created request"
                          },
                          "reason_deny_id": {
                            "type": "number",
                            "description": "ID причины отказа в обращении / ID reason deny in lead"
                          },
                          "reservation_number": {
                            "type": "string",
                            "description": "Номер брони / Reservation number"
                          },
                          "roistat": {
                            "type": "string",
                            "description": "roistat"
                          },
                          "services": {
                            "type": "string",
                            "description": "Массив услуг (см.метод /service) / An array of services (see method /service)"
                          },
                          "source": {
                            "type": "string",
                            "description": "Наименование источника / Source name"
                          },
                          "source_id": {
                            "type": "number",
                            "description": "ID источника / Source ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "Наименование статуса / Name status"
                          },
                          "status_id": {
                            "type": "number",
                            "description": "ID статуса / ID status"
                          },
                          "supplier_id": {
                            "type": "number",
                            "description": "ID туроператора / ID tour operator"
                          },
                          "supplier_inn": {
                            "type": "string",
                            "description": "ИНН туроператора / Tour operator INN"
                          },
                          "supplier_name": {
                            "type": "string",
                            "description": "Наименование туроператора / The name of the tour operator"
                          },
                          "tourists": {
                            "type": "string",
                            "description": "Массив туристов (см.метод /user) / An array of tourists (see method /user)"
                          },
                          "travel_type": {
                            "type": "string",
                            "description": "Наименование типа тура / Type name of the tour"
                          },
                          "travel_type_id": {
                            "type": "number",
                            "description": "ID типа тура / Type ID of the tour"
                          },
                          "utm_campaign": {
                            "type": "string",
                            "description": "utm_campaign"
                          },
                          "utm_content": {
                            "type": "string",
                            "description": "utm_content"
                          },
                          "utm_medium": {
                            "type": "string",
                            "description": "utm_medium"
                          },
                          "utm_source": {
                            "type": "string",
                            "description": "utm_source"
                          },
                          "utm_term": {
                            "type": "string",
                            "description": "utm_term"
                          },
                          "visa_id": {
                            "type": "number",
                            "description": "ID поля визы / ID visa"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uON/latest/actions/get-supplier": {
      "get": {
        "operationId": "uON.get-supplier",
        "summary": "Get Supplier",
        "description": "Retrieves a supplier record from U-ON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uON/latest/actions/get-supplier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "id path parameter",
            "schema": {
              "type": "number",
              "description": "id path parameter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Адрес партнера / The partner s address"
                          },
                          "bank_account": {
                            "type": "string",
                            "description": "Банк и счет партнера / The partner bank account"
                          },
                          "bik": {
                            "type": "string",
                            "description": "БИК банка партнера / The partner bank BIK"
                          },
                          "contacts": {
                            "type": "string",
                            "description": "Контактная информация / Contact information"
                          },
                          "director": {
                            "type": "string",
                            "description": "Директор партнера / The partner director"
                          },
                          "director_position": {
                            "type": "string",
                            "description": "Должность директора партнера / The partner director position"
                          },
                          "director_position_rod": {
                            "type": "string",
                            "description": "Должность директора партнера в родит.падеже / The partner director position rod"
                          },
                          "director_reason": {
                            "type": "string",
                            "description": "На основе какого документа работает директор партнера / The partner director reason"
                          },
                          "director_rod": {
                            "type": "string",
                            "description": "Директор партнера в родит.падеже / The partner director rod"
                          },
                          "email": {
                            "type": "string",
                            "description": "E-mail партнера / E-mail partner"
                          },
                          "ext_fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Массив дополнительных полей и их значений в формате [ID поля1 => [значение, значение, ...], ID поля2 => [значение, значение, ...]] / Array of extended fields with values in format [ID field1 => [value, value, ...], ID field2 => [value, value, ...]]"
                          },
                          "id": {
                            "type": "number",
                            "description": "ID партнера / ID"
                          },
                          "inn": {
                            "type": "string",
                            "description": "ИНН партнера / The partner INN"
                          },
                          "kpp": {
                            "type": "string",
                            "description": "КПП партнера / The partner KPP"
                          },
                          "name": {
                            "type": "string",
                            "description": "Наименование партнера / The name of the partner"
[...]
