{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "inFlow Inventory Universal API",
    "version": "0.0.5",
    "description": "Inventory and order management for products, customers, vendors, purchasing, and stock movement in inFlow Inventory."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/inFlowInventory/latest/actions/get-customer": {
      "get": {
        "operationId": "inFlowInventory.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves an existing customer from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "The inFlow customer ID.",
            "schema": {
              "type": "string",
              "description": "The inFlow customer ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactName": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "defaultBillingAddressId": {
                            "type": "string"
                          },
                          "defaultLocationId": {
                            "type": "string"
                          },
                          "defaultPaymentMethod": {
                            "type": "string"
                          },
                          "defaultPaymentTermsId": {
                            "type": "string"
                          },
                          "defaultSalesRep": {
                            "type": "string"
                          },
                          "defaultSalesRepTeamMemberId": {
                            "type": "string"
                          },
                          "defaultShippingAddressId": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "lastModifiedDttm": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "pricingSchemeId": {
                            "type": "string"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "taxExemptNumber": {
                            "type": "string"
                          },
                          "taxingSchemeId": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-location": {
      "get": {
        "operationId": "inFlowInventory.get-location",
        "summary": "Get Location",
        "description": "Retrieves an existing location from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "The inFlow location ID.",
            "schema": {
              "type": "string",
              "description": "The inFlow location ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "addressType": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "remarks": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "locationId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-product": {
      "get": {
        "operationId": "inFlowInventory.get-product",
        "summary": "Get Product",
        "description": "Retrieves an existing product from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "The inFlow product ID.",
            "schema": {
              "type": "string",
              "description": "The inFlow product ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoAssemble": {
                            "type": "boolean"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "height": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isManufacturable": {
                            "type": "boolean"
                          },
                          "itemType": {
                            "type": "string"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastVendorId": {
                            "type": "string"
                          },
                          "length": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "productId": {
                            "type": "string"
                          },
                          "purchasingUom": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "salesUom": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sku": {
                            "type": "string"
                          },
                          "standardUomName": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "trackExpiry": {
                            "type": "boolean"
                          },
                          "trackLots": {
                            "type": "boolean"
                          },
                          "trackSerials": {
                            "type": "boolean"
                          },
                          "weight": {
                            "type": "string"
                          },
                          "width": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-product-inventory-summary": {
      "get": {
        "operationId": "inFlowInventory.get-product-inventory-summary",
        "summary": "Get Product Inventory Summary",
        "description": "Retrieves a product inventory summary from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-product-inventory-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "The inFlow product ID.",
            "schema": {
              "type": "string",
              "description": "The inFlow product ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "imageSmallUrl": {
                            "type": "string"
                          },
                          "locationId": {
                            "type": "string"
                          },
                          "productId": {
                            "type": "string"
                          },
                          "quantityAnticipated": {
                            "type": "string"
                          },
                          "quantityAvailable": {
                            "type": "string"
                          },
                          "quantityBuildable": {
                            "type": "string"
                          },
                          "quantityExpiring": {
                            "type": "string"
                          },
                          "quantityInTransit": {
                            "type": "string"
                          },
                          "quantityOnHand": {
                            "type": "string"
                          },
                          "quantityOnOrder": {
                            "type": "string"
                          },
                          "quantityOnPurchaseOrder": {
                            "type": "string"
                          },
                          "quantityOnTransferOrder": {
                            "type": "string"
                          },
                          "quantityOnWorkOrder": {
                            "type": "string"
                          },
                          "quantityPicked": {
                            "type": "string"
                          },
                          "quantityReserved": {
                            "type": "string"
                          },
                          "quantityReservedForBuilds": {
                            "type": "string"
                          },
                          "quantityReservedForManufacturing": {
                            "type": "string"
                          },
                          "quantityReservedForSales": {
                            "type": "string"
                          },
                          "quantityReservedForTransfers": {
                            "type": "string"
                          },
                          "rawQuantityAvailable": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-purchase-order": {
      "get": {
        "operationId": "inFlowInventory.get-purchase-order",
        "summary": "Get Purchase Order",
        "description": "Retrieves an existing purchase order from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purchaseOrderId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the purchase order to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the purchase order to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountPaid": {
                            "type": "string"
                          },
                          "balance": {
                            "type": "string"
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "currencyId": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "freight": {
                            "type": "string"
                          },
                          "inventoryStatus": {
                            "type": "string"
                          },
                          "isCancelled": {
                            "type": "boolean"
                          },
                          "isCompleted": {
                            "type": "boolean"
                          },
                          "isQuote": {
                            "type": "boolean"
                          },
                          "isTaxInclusive": {
                            "type": "boolean"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "locationId": {
                            "type": "string"
                          },
                          "nonVendorCosts": {
                            "type": "object",
                            "properties": {
                              "isPercent": {
                                "type": "boolean"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "orderDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "paidDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentStatus": {
                            "type": "string"
                          },
                          "paymentTermsId": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "purchaseOrderId": {
                            "type": "string"
                          },
                          "requestShipDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "shipToAddress": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "subTotal": {
                            "type": "string"
                          },
                          "tax1": {
                            "type": "string"
                          },
                          "tax1Rate": {
                            "type": "string"
                          },
                          "tax2": {
                            "type": "string"
                          },
                          "tax2Rate": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          },
                          "vendorAddress": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "vendorId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-sales-order": {
      "get": {
        "operationId": "inFlowInventory.get-sales-order",
        "summary": "Get Sales Order",
        "description": "Retrieves an existing sales order from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salesOrderId",
            "in": "query",
            "required": true,
            "description": "The inFlow sales order ID.",
            "schema": {
              "type": "string",
              "description": "The inFlow sales order ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountPaid": {
                            "type": "string"
                          },
                          "balance": {
                            "type": "string"
                          },
                          "billingAddress": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "currencyId": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "inventoryStatus": {
                            "type": "string"
                          },
                          "isCancelled": {
                            "type": "boolean"
                          },
                          "isCompleted": {
                            "type": "boolean"
                          },
                          "isInvoiced": {
                            "type": "boolean"
                          },
                          "isPrioritized": {
                            "type": "boolean"
                          },
                          "isQuote": {
                            "type": "boolean"
                          },
                          "isTaxInclusive": {
                            "type": "boolean"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "locationId": {
                            "type": "string"
                          },
                          "nonCustomerCost": {
                            "type": "object",
                            "properties": {
                              "isPercent": {
                                "type": "boolean"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "orderDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "orderFreight": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "paidDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentStatus": {
                            "type": "string"
                          },
                          "paymentTermsId": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "pricingSchemeId": {
                            "type": "string"
                          },
                          "requestedShipDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "salesOrderId": {
                            "type": "string"
                          },
                          "shippedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "shippingAddress": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "source": {
                            "type": "string"
                          },
                          "subTotal": {
                            "type": "string"
                          },
                          "tax1": {
                            "type": "string"
                          },
                          "tax1Rate": {
                            "type": "string"
                          },
                          "tax2": {
                            "type": "string"
                          },
                          "tax2Rate": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-stock-adjustment": {
      "get": {
        "operationId": "inFlowInventory.get-stock-adjustment",
        "summary": "Get Stock Adjustment",
        "description": "Retrieves an existing stock adjustment from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-stock-adjustment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stockAdjustmentId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the stock adjustment to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the stock adjustment to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adjustmentNumber": {
                            "type": "string"
                          },
                          "adjustmentReasonId": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "isCancelled": {
                            "type": "boolean"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "locationId": {
                            "type": "string"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "stockAdjustmentId": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-stock-transfer": {
      "get": {
        "operationId": "inFlowInventory.get-stock-transfer",
        "summary": "Get Stock Transfer",
        "description": "Retrieves an existing stock transfer from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-stock-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stockTransferId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the stock transfer to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the stock transfer to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedToTeamMemberId": {
                            "type": "string"
                          },
                          "fromLocationId": {
                            "type": "string"
                          },
                          "isCancelled": {
                            "type": "boolean"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "receivedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "sentDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "stockTransferId": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "toLocationId": {
                            "type": "string"
                          },
                          "transferDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "transferNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/get-vendor": {
      "get": {
        "operationId": "inFlowInventory.get-vendor",
        "summary": "Get Vendor",
        "description": "Retrieves an existing vendor from inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/get-vendor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendorId",
            "in": "query",
            "required": true,
            "description": "The inFlow vendor ID.",
            "schema": {
              "type": "string",
              "description": "The inFlow vendor ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactName": {
                            "type": "string"
                          },
                          "currencyId": {
                            "type": "string"
                          },
                          "defaultAddressId": {
                            "type": "string"
                          },
                          "defaultCarrier": {
                            "type": "string"
                          },
                          "defaultPaymentMethod": {
                            "type": "string"
                          },
                          "defaultPaymentTermsId": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isTaxInclusivePricing": {
                            "type": "boolean"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "lastModifiedDttm": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "leadTimeDays": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "taxingSchemeId": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "vendorId": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/insert-or-update-customer": {
      "put": {
        "operationId": "inFlowInventory.insert-or-update-customer",
        "summary": "Insert or Update Customer",
        "description": "Inserts or updates a customer in inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/insert-or-update-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactName": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "defaultBillingAddressId": {
                            "type": "string"
                          },
                          "defaultLocationId": {
                            "type": "string"
                          },
                          "defaultPaymentMethod": {
                            "type": "string"
                          },
                          "defaultPaymentTermsId": {
                            "type": "string"
                          },
                          "defaultSalesRep": {
                            "type": "string"
                          },
                          "defaultSalesRepTeamMemberId": {
                            "type": "string"
                          },
                          "defaultShippingAddressId": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "lastModifiedDttm": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "pricingSchemeId": {
                            "type": "string"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "taxExemptNumber": {
                            "type": "string"
                          },
                          "taxingSchemeId": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/insert-or-update-product": {
      "put": {
        "operationId": "inFlowInventory.insert-or-update-product",
        "summary": "Insert or Update Product",
        "description": "Inserts or updates a product in inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/insert-or-update-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoAssemble": {
                            "type": "boolean"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "height": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isManufacturable": {
                            "type": "boolean"
                          },
                          "itemType": {
                            "type": "string"
                          },
                          "lastModifiedById": {
                            "type": "string"
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastVendorId": {
                            "type": "string"
                          },
                          "length": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "productId": {
                            "type": "string"
                          },
                          "purchasingUom": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "salesUom": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sku": {
                            "type": "string"
                          },
                          "standardUomName": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "trackExpiry": {
                            "type": "boolean"
                          },
                          "trackLots": {
                            "type": "boolean"
                          },
                          "trackSerials": {
                            "type": "boolean"
                          },
                          "weight": {
                            "type": "string"
                          },
                          "width": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/inFlowInventory/latest/actions/insert-or-update-purchase-order": {
      "put": {
        "operationId": "inFlowInventory.insert-or-update-purchase-order",
        "summary": "Insert or Update Purchase Order",
        "description": "Inserts or updates a purchase order in inFlow Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/inFlowInventory/latest/actions/insert-or-update-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
[...]
