{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PeekShot Universal API",
    "version": "0.0.4",
    "description": "Capture webpage and HTML screenshots, then retrieve screenshot jobs, lists, and projects from PeekShot."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/peekShot/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/peekShot/latest/actions/create-screenshot-from-html": {
      "post": {
        "operationId": "peekShot.create-screenshot-from-html",
        "summary": "Create Screenshot from HTML",
        "description": "Creates a screenshot from HTML in PeekShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peekShot/latest/actions/create-screenshot-from-html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "html"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Unique project identifier."
                  },
                  "html": {
                    "type": "string",
                    "description": "HTML content to capture."
                  },
                  "width": {
                    "type": "string",
                    "description": "Screenshot width. Docs default: 1280."
                  },
                  "height": {
                    "type": "string",
                    "description": "Screenshot height. Docs default: 1024."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "Output format: jpeg, png, webp, or avif."
                  },
                  "delay": {
                    "type": "string",
                    "description": "Time in seconds to wait before capturing."
                  },
                  "fullPage": {
                    "type": "string",
                    "description": "Capture the full page instead of only the viewport."
                  },
                  "emulateDevice": {
                    "type": "string",
                    "description": "Render the HTML using a supported device profile."
                  },
                  "retina": {
                    "type": "string",
                    "description": "Use true for higher-resolution screenshots."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "creditRequired": {
                                "type": "number",
                                "description": "Credits required for the request."
                              },
                              "organizationId": {
                                "type": "number",
                                "description": "Organization ID returned by PeekShot."
                              },
                              "requestId": {
                                "type": "number",
                                "description": "Created screenshot request ID."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Request status."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "HTTP-style status code returned by the provider."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peekShot/latest/actions/create-screenshot-from-url": {
      "post": {
        "operationId": "peekShot.create-screenshot-from-url",
        "summary": "Create Screenshot from URL",
        "description": "Creates a screenshot from a URL in PeekShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peekShot/latest/actions/create-screenshot-from-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Unique project identifier."
                  },
                  "url": {
                    "type": "string",
                    "description": "Website URL to capture."
                  },
                  "width": {
                    "type": "string",
                    "description": "Screenshot width. Docs default: 1280."
                  },
                  "height": {
                    "type": "string",
                    "description": "Screenshot height. Docs default: 1024."
                  },
                  "injectCss": {
                    "type": "string",
                    "description": "Custom CSS to apply before capture."
                  },
                  "injectJs": {
                    "type": "string",
                    "description": "Custom JavaScript to apply before capture."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "Output format: jpeg, png, webp, or avif."
                  },
                  "retina": {
                    "type": "string",
                    "description": "Use true for higher-resolution screenshots."
                  },
                  "delay": {
                    "type": "string",
                    "description": "Delay in seconds before capture. Allowed range: 0 to 60."
                  },
                  "fullPage": {
                    "type": "string",
                    "description": "Capture the full page instead of only the viewport."
                  },
                  "disableJavascript": {
                    "type": "string",
                    "description": "Disable page JavaScript during rendering."
                  },
                  "emulateDevice": {
                    "type": "string",
                    "description": "Render the page using a supported device profile."
                  },
                  "disableAnimations": {
                    "type": "string",
                    "description": "Disable animations before capture."
                  },
                  "proxyUrl": {
                    "type": "string",
                    "description": "HTTP proxy URL, including authentication if needed."
                  },
                  "customHeader": {
                    "type": "string",
                    "description": "Inject a custom header into the page request."
                  },
                  "elementSelector": {
                    "type": "string",
                    "description": "Target one element with a CSS selector or an xpath= expression."
                  },
                  "blockCookieBanner": {
                    "type": "string",
                    "description": "Hide cookie banners. Docs default: true."
                  },
                  "blockAds": {
                    "type": "string",
                    "description": "Block ads. Docs default: true."
                  },
                  "blockPopupsByHeuristics": {
                    "type": "string",
                    "description": "Block popups heuristically. Docs default: false."
                  },
                  "cookieTemplateId": {
                    "type": "string",
                    "description": "Cookie template identifier to apply."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "creditRequired": {
                                "type": "number",
                                "description": "Credits required for the request."
                              },
                              "organizationId": {
                                "type": "number",
                                "description": "Organization ID returned by PeekShot."
                              },
                              "requestId": {
                                "type": "number",
                                "description": "Created screenshot request ID."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Request status."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "HTTP-style status code returned by the provider."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peekShot/latest/actions/get-screenshot": {
      "get": {
        "operationId": "peekShot.get-screenshot",
        "summary": "Get Screenshot",
        "description": "Retrieves a screenshot by request ID from PeekShot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peekShot/latest/actions/get-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "description": "Unique ID of the screenshot request.",
            "schema": {
              "type": "number",
              "description": "Unique ID of the screenshot request."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "Screenshot request ID."
                              },
                              "screenshotUrl": {
                                "type": "string",
                                "description": "Rendered screenshot URL."
                              },
                              "status": {
                                "type": "string",
                                "description": "Screenshot processing status."
                              },
                              "url": {
                                "type": "string",
                                "description": "Captured page URL."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Request status."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "HTTP-style status code returned by the provider."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peekShot/latest/actions/list-projects": {
      "get": {
        "operationId": "peekShot.list-projects",
        "summary": "List Projects",
        "description": "Retrieves projects from PeekShot with optional filtering.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peekShot/latest/actions/list-projects"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for paginated results.",
            "schema": {
              "type": "string",
              "description": "Page number for paginated results."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "string",
              "description": "Number of results per page."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter projects by name.",
            "schema": {
              "type": "string",
              "description": "Filter projects by name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "currentPage": {
                                    "type": "number",
                                    "description": "Current page number."
                                  },
                                  "limit": {
                                    "type": "number",
                                    "description": "Page size applied to the result."
                                  },
                                  "totalProjects": {
                                    "type": "number",
                                    "description": "Total projects matching the query."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "projects": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Project records returned by PeekShot."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Request status."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "HTTP-style status code returned by the provider."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peekShot/latest/actions/list-screenshots": {
      "get": {
        "operationId": "peekShot.list-screenshots",
        "summary": "List Screenshots",
        "description": "Retrieves screenshots from PeekShot with optional filtering.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peekShot/latest/actions/list-screenshots"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "description": "Filter by project ID.",
            "schema": {
              "type": "string",
              "description": "Filter by project ID."
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Filter by captured URL.",
            "schema": {
              "type": "string",
              "description": "Filter by captured URL."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by screenshot status: PENDING, COMPLETE, or FAILED.",
            "schema": {
              "type": "string",
              "description": "Filter by screenshot status: PENDING, COMPLETE, or FAILED."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for paginated results.",
            "schema": {
              "type": "string",
              "description": "Page number for paginated results."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "string",
              "description": "Number of results per page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "currentPage": {
                                    "type": "number",
                                    "description": "Current page number."
                                  },
                                  "limit": {
                                    "type": "number",
                                    "description": "Page size applied to the result."
                                  },
                                  "totalScreenshots": {
                                    "type": "number",
                                    "description": "Total screenshots matching the query."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "screenshots": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Screenshot records returned by PeekShot."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Request status."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "HTTP-style status code returned by the provider."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
