{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "HelloLeads Universal API",
    "version": "0.0.2",
    "description": "HelloLeads CRM API for listing lead lists, listing leads, and creating leads with API key plus authorized email authentication."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/helloLeads/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/helloLeads/latest/actions/create-lead": {
      "post": {
        "operationId": "helloLeads.create-lead",
        "summary": "Create Lead",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/helloLeads/latest/actions/create-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "first_name",
                  "list_key"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address_line1": {
                    "type": "string",
                    "description": "First line of the lead address."
                  },
                  "address_line2": {
                    "type": "string",
                    "description": "Second line of the lead address."
                  },
                  "category": {
                    "type": "string",
                    "description": "Lead category."
                  },
                  "city": {
                    "type": "string",
                    "description": "Lead city."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company or organization name."
                  },
                  "country": {
                    "type": "string",
                    "description": "Lead country."
                  },
                  "deal_size": {
                    "type": "string",
                    "description": "Lead deal size as accepted by HelloLeads."
                  },
                  "designation": {
                    "type": "string",
                    "description": "Lead designation or job title."
                  },
                  "fax": {
                    "type": "string",
                    "description": "Lead fax number."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Lead first name. HelloLeads requires this field for lead creation."
                  },
                  "interests": {
                    "type": "string",
                    "description": "Lead interests."
                  },
                  "mobile_code": {
                    "type": "string",
                    "description": "Mobile country code prefix, for example +1."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Lead notes."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Lead phone number."
                  },
                  "postal_code": {
                    "type": "string",
                    "description": "Lead postal or ZIP code."
                  },
                  "potential": {
                    "type": "string",
                    "description": "Lead potential value, for example Low, Medium, or High."
                  },
                  "state": {
                    "type": "string",
                    "description": "Lead state or region."
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated or provider-native tag value."
                  },
                  "website": {
                    "type": "string",
                    "description": "Lead website URL."
                  },
                  "list_key": {
                    "type": "string",
                    "description": "HelloLeads list identifier for the destination list. Live verification used the Website Enquires list."
                  },
                  "email": {
                    "type": "string",
                    "description": "Lead email address."
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Lead mobile number."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Lead last name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "info": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional provider metadata returned with the create response."
                          },
                          "lead_id": {
                            "type": "number",
                            "description": "Identifier of the newly created HelloLeads lead."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message for the create request."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status string for the create request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/helloLeads/latest/actions/list-lead-lists": {
      "get": {
        "operationId": "helloLeads.list-lead-lists",
        "summary": "List Lead Lists",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/helloLeads/latest/actions/list-lead-lists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "description": "Provider timestamp when the list was created."
                          },
                          "list_key": {
                            "type": "string",
                            "description": "HelloLeads list identifier used when creating leads into a specific list."
                          },
                          "modified": {
                            "type": "string",
                            "description": "Provider timestamp when the list was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "HelloLeads list name."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Owner name shown by HelloLeads for the list."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/helloLeads/latest/actions/list-leads": {
      "get": {
        "operationId": "helloLeads.list-leads",
        "summary": "List Leads",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/helloLeads/latest/actions/list-leads"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Optional HelloLeads sort order string, for example desc as shown in the provider docs.",
            "schema": {
              "type": "string",
              "description": "Optional HelloLeads sort order string, for example desc as shown in the provider docs."
            }
          },
          {
            "name": "createdDate",
            "in": "query",
            "required": false,
            "description": "Optional HelloLeads createdDate filter in provider format YYYY-MM-DD. This stays a string because HelloLeads expects the literal date string, not an ISO timestamp.",
            "schema": {
              "type": "string",
              "description": "Optional HelloLeads createdDate filter in provider format YYYY-MM-DD. This stays a string because HelloLeads expects the literal date string, not an ISO timestamp."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_line1": {
                            "type": "string",
                            "description": "First address line."
                          },
                          "address_line2": {
                            "type": "string",
                            "description": "Second address line."
                          },
                          "alternatePhone": {
                            "type": "string",
                            "description": "Alternate phone number returned by HelloLeads."
                          },
                          "category": {
                            "type": "string",
                            "description": "Lead category."
                          },
                          "city": {
                            "type": "string",
                            "description": "Lead city."
                          },
                          "company": {
                            "type": "string",
                            "description": "Company or organization name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Lead country."
                          },
                          "created": {
                            "type": "string",
                            "description": "Provider timestamp when the lead was created."
                          },
                          "dealSize": {
                            "type": "string",
                            "description": "Deal size returned by HelloLeads."
                          },
                          "designation": {
                            "type": "string",
                            "description": "Lead designation or job title."
                          },
                          "email": {
                            "type": "string",
                            "description": "Lead email address."
                          },
                          "fax": {
                            "type": "string",
                            "description": "Lead fax number."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Lead first name."
                          },
                          "id": {
                            "type": "string",
                            "description": "HelloLeads lead identifier."
                          },
                          "interests": {
                            "type": "string",
                            "description": "Lead interests."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Lead last name."
                          },
                          "list_name": {
                            "type": "string",
                            "description": "HelloLeads list name."
                          },
                          "mobile": {
                            "type": "string",
                            "description": "Lead mobile number."
                          },
                          "modified": {
                            "type": "string",
                            "description": "Provider timestamp when the lead was last modified."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Lead notes."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Lead phone number."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Lead postal or ZIP code."
                          },
                          "potential": {
                            "type": "string",
                            "description": "Lead potential returned by HelloLeads."
                          },
                          "stage": {
                            "type": "string",
                            "description": "Lead stage returned by HelloLeads."
                          },
                          "state": {
                            "type": "string",
                            "description": "Lead state or region."
                          },
                          "tags": {
                            "type": "string",
                            "description": "Lead tags."
                          },
                          "website": {
                            "type": "string",
                            "description": "Lead website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
