{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Tumblr Universal API",
    "version": "0.0.8",
    "description": "Create posts, follow blogs, and manage blog engagement"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tumblr/latest/actions/check-if-blog-is-followed-by-another-blog": {
      "get": {
        "operationId": "tumblr.check-if-blog-is-followed-by-another-blog",
        "summary": "Check If Blog Is Followed By Another Blog",
        "description": "Checks whether a Tumblr blog is followed by another blog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/check-if-blog-is-followed-by-another-blog"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blogIdentifier",
            "in": "query",
            "required": true,
            "description": "The blog that may be followed by another blog.",
            "schema": {
              "type": "string",
              "description": "The blog that may be followed by another blog."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The name of the blog that may be following your blog.",
            "schema": {
              "type": "string",
              "description": "The name of the blog that may be following your blog."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "followedBy": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/create-post-npf": {
      "post": {
        "operationId": "tumblr.create-post-npf",
        "summary": "Create Post (NPF)",
        "description": "Creates a new Tumblr post using NPF.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/create-post-npf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "blogIdentifier",
                  "content[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "blogIdentifier": {
                    "type": "string",
                    "description": "Any Tumblr blog identifier for the target blog.",
                    "example": "mindcloudapps"
                  },
                  "content[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "NPF content blocks to include in the post."
                  },
                  "state": {
                    "type": "string",
                    "description": "Initial state for the new post.",
                    "enum": [
                      "draft",
                      "private",
                      "published",
                      "queue",
                      "unapproved"
                    ],
                    "default": "published"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated list of tags to associate with the post.",
                    "example": "mindcloud,tumblr"
                  },
                  "layout[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional NPF layout objects for arranging the content blocks.",
                    "x-mindcloud-advanced": true
                  },
                  "publishOn": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Future ISO 8601 date/time to publish a queued post.",
                    "example": "2026-03-07T15:00:00Z",
                    "x-mindcloud-advanced": true
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Past ISO 8601 date/time used to backdate the post.",
                    "example": "2026-03-01T15:00:00Z",
                    "x-mindcloud-advanced": true
                  },
                  "slug": {
                    "type": "string",
                    "description": "Custom URL slug to use in the post permalink.",
                    "example": "hello-from-mindcloud",
                    "x-mindcloud-advanced": true
                  },
                  "sourceUrl": {
                    "type": "string",
                    "description": "Source attribution URL for the post content.",
                    "example": "https://example.com/source",
                    "x-mindcloud-advanced": true
                  },
                  "interactabilityReblog": {
                    "type": "string",
                    "description": "Who can interact with this post when reblogging.",
                    "enum": [
                      "everyone",
                      "noone"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "sendToTwitter": {
                    "type": "boolean",
                    "description": "Whether to share the post to a connected Twitter account.",
                    "x-mindcloud-advanced": true
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Whether this should be a private answer when creating an answer post.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayText": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/delete-post": {
      "delete": {
        "operationId": "tumblr.delete-post",
        "summary": "Delete Post",
        "description": "Deletes an existing post from Tumblr.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/delete-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blogIdentifier",
            "in": "query",
            "required": true,
            "description": "Any Tumblr blog identifier for the target blog.",
            "schema": {
              "type": "string",
              "description": "Any Tumblr blog identifier for the target blog.",
              "example": "mindcloudapps"
            }
          },
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "description": "ID of the post to delete.",
            "schema": {
              "type": "string",
              "description": "ID of the post to delete.",
              "example": "1772822948"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "idString": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/follow-blog": {
      "post": {
        "operationId": "tumblr.follow-blog",
        "summary": "Follow Blog",
        "description": "Follows a Tumblr blog from the user account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/follow-blog"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of the blog to follow."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the blog to follow when the blog can be found by email.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blog": {
                            "type": "object",
                            "properties": {
                              "ask": {
                                "type": "boolean"
                              },
                              "askAnon": {
                                "type": "boolean"
                              },
                              "askPageTitle": {
                                "type": "string"
                              },
                              "asksAllowMedia": {
                                "type": "boolean"
                              },
                              "avatar": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "canChat": {
                                "type": "boolean"
                              },
                              "canSendFanMail": {
                                "type": "boolean"
                              },
                              "canSubscribe": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "followed": {
                                "type": "boolean"
                              },
                              "isBlockedFromPrimary": {
                                "type": "boolean"
                              },
                              "isNsfw": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "posts": {
                                "type": "number"
                              },
                              "shareLikes": {
                                "type": "boolean"
                              },
                              "subscribed": {
                                "type": "boolean"
                              },
                              "theme": {
                                "type": "object",
                                "properties": {
                                  "avatarShape": {
                                    "type": "string"
                                  },
                                  "backgroundColor": {
                                    "type": "string"
                                  },
                                  "bodyFont": {
                                    "type": "string"
                                  },
                                  "headerBounds": {
                                    "type": "string"
                                  },
                                  "headerFullHeight": {
                                    "type": "number"
                                  },
                                  "headerFullWidth": {
                                    "type": "number"
                                  },
                                  "headerImage": {
                                    "type": "string"
                                  },
                                  "headerImageFocused": {
                                    "type": "string"
                                  },
                                  "headerImagePoster": {
                                    "type": "string"
                                  },
                                  "headerImageScaled": {
                                    "type": "string"
                                  },
                                  "headerStretch": {
                                    "type": "boolean"
                                  },
                                  "linkColor": {
                                    "type": "string"
                                  },
                                  "showAvatar": {
                                    "type": "boolean"
                                  },
                                  "showDescription": {
                                    "type": "boolean"
                                  },
                                  "showHeaderImage": {
                                    "type": "boolean"
                                  },
                                  "showTitle": {
                                    "type": "boolean"
                                  },
                                  "titleColor": {
                                    "type": "string"
                                  },
                                  "titleFont": {
                                    "type": "string"
                                  },
                                  "titleFontWeight": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "themeId": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "totalPosts": {
                                "type": "number"
                              },
                              "updated": {
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/get-blog-avatar": {
      "get": {
        "operationId": "tumblr.get-blog-avatar",
        "summary": "Get Blog Avatar",
        "description": "Retrieves a Tumblr blog avatar by size.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/get-blog-avatar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blogIdentifier",
            "in": "query",
            "required": true,
            "description": "Any blog identifier.",
            "schema": {
              "type": "string",
              "description": "Any blog identifier."
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "Avatar size in pixels.",
            "schema": {
              "type": "string",
              "description": "Avatar size in pixels.",
              "enum": [
                "128",
                "16",
                "24",
                "30",
                "40",
                "48",
                "512",
                "64",
                "96"
              ],
              "default": "64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/get-blog-info": {
      "get": {
        "operationId": "tumblr.get-blog-info",
        "summary": "Get Blog Info",
        "description": "Retrieves information for a Tumblr blog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/get-blog-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blogIdentifier",
            "in": "query",
            "required": true,
            "description": "Any blog identifier.",
            "schema": {
              "type": "string",
              "description": "Any blog identifier."
            }
          },
          {
            "name": "fields.blogs",
            "in": "query",
            "required": false,
            "description": "Comma-separated blog fields for a partial response.",
            "schema": {
              "type": "string",
              "description": "Comma-separated blog fields for a partial response.",
              "example": "name,updated",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blog": {
                            "type": "object",
                            "properties": {
                              "admin": {
                                "type": "boolean"
                              },
                              "ask": {
                                "type": "boolean"
                              },
                              "askAnon": {
                                "type": "boolean"
                              },
                              "askPageTitle": {
                                "type": "string"
                              },
                              "asksAllowMedia": {
                                "type": "boolean"
                              },
                              "avatar": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "canChat": {
                                "type": "boolean"
                              },
                              "canSendFanMail": {
                                "type": "boolean"
                              },
                              "canSubscribe": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "drafts": {
                                "type": "number"
                              },
                              "facebook": {
                                "type": "string"
                              },
                              "facebookOpengraphEnabled": {
                                "type": "string"
                              },
                              "followed": {
                                "type": "boolean"
                              },
                              "followers": {
                                "type": "number"
                              },
                              "isBlockedFromPrimary": {
                                "type": "boolean"
                              },
                              "isNsfw": {
                                "type": "boolean"
                              },
                              "likes": {
                                "type": "number"
                              },
                              "messages": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "posts": {
                                "type": "number"
                              },
                              "primary": {
                                "type": "boolean"
                              },
                              "queue": {
                                "type": "number"
                              },
                              "shareLikes": {
                                "type": "boolean"
                              },
                              "subscribed": {
                                "type": "boolean"
                              },
                              "theme": {
                                "type": "object",
                                "properties": {
                                  "avatarShape": {
                                    "type": "string"
                                  },
                                  "backgroundColor": {
                                    "type": "string"
                                  },
                                  "bodyFont": {
                                    "type": "string"
                                  },
                                  "headerBounds": {
                                    "type": "string"
                                  },
                                  "headerImage": {
                                    "type": "string"
                                  },
                                  "headerImageFocused": {
                                    "type": "string"
                                  },
                                  "headerImagePoster": {
                                    "type": "string"
                                  },
                                  "headerImageScaled": {
                                    "type": "string"
                                  },
                                  "headerStretch": {
                                    "type": "boolean"
                                  },
                                  "linkColor": {
                                    "type": "string"
                                  },
                                  "showAvatar": {
                                    "type": "boolean"
                                  },
                                  "showDescription": {
                                    "type": "boolean"
                                  },
                                  "showHeaderImage": {
                                    "type": "boolean"
                                  },
                                  "showTitle": {
                                    "type": "boolean"
                                  },
                                  "titleColor": {
                                    "type": "string"
                                  },
                                  "titleFont": {
                                    "type": "string"
                                  },
                                  "titleFontWeight": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "themeId": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "totalPosts": {
                                "type": "number"
                              },
                              "tweet": {
                                "type": "string"
                              },
                              "twitterEnabled": {
                                "type": "boolean"
                              },
                              "twitterSend": {
                                "type": "boolean"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/get-post-notes": {
      "get": {
        "operationId": "tumblr.get-post-notes",
        "summary": "Get Post Notes",
        "description": "Retrieves notes for a Tumblr post.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/get-post-notes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blogIdentifier",
            "in": "query",
            "required": true,
            "description": "Any blog identifier.",
            "schema": {
              "type": "string",
              "description": "Any blog identifier."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The post ID to fetch notes for.",
            "schema": {
              "type": "string",
              "description": "The post ID to fetch notes for."
            }
          },
          {
            "name": "beforeTimestamp",
            "in": "query",
            "required": false,
            "description": "Fetch notes created before this Unix timestamp in seconds.",
            "schema": {
              "type": "number",
              "description": "Fetch notes created before this Unix timestamp in seconds.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Response formatting mode for the returned notes.",
            "schema": {
              "type": "string",
              "description": "Response formatting mode for the returned notes.",
              "enum": [
                "all",
                "conversation",
                "likes",
                "reblogs_with_tags",
                "rollup"
              ],
              "default": "all"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canHideOrDeleteNotes": {
                            "type": "boolean"
                          },
                          "canSubscribe": {
                            "type": "boolean"
                          },
                          "conversationalNotificationsEnabled": {
                            "type": "boolean"
                          },
                          "isSubscribed": {
                            "type": "boolean"
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatarShape": {
                                  "type": "string"
                                },
                                "avatarUrl": {
                                  "type": "object",
                                  "properties": {
                                    "size128": {
                                      "type": "string"
                                    },
                                    "size64": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "blogName": {
                                  "type": "string"
                                },
                                "blogUrl": {
                                  "type": "string"
                                },
                                "blogUuid": {
                                  "type": "string"
                                },
                                "followed": {
                                  "type": "boolean"
                                },
                                "timestamp": {
                                  "type": "number"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalNotes": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/get-post-npf": {
      "get": {
        "operationId": "tumblr.get-post-npf",
        "summary": "Get Post (NPF)",
        "description": "Retrieves a Tumblr post using NPF.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/get-post-npf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blogIdentifier",
            "in": "query",
            "required": true,
            "description": "Any blog identifier.",
            "schema": {
              "type": "string",
              "description": "Any blog identifier."
            }
          },
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "description": "The post ID to fetch.",
            "schema": {
              "type": "string",
              "description": "The post ID to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blog": {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "canShowBadges": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "blogName": {
                            "type": "string"
                          },
                          "canBlaze": {
                            "type": "boolean"
                          },
                          "canIgnite": {
                            "type": "boolean"
                          },
                          "canLike": {
                            "type": "boolean"
                          },
                          "canMute": {
                            "type": "boolean"
                          },
                          "canReblog": {
                            "type": "boolean"
                          },
                          "canSendInMessage": {
                            "type": "boolean"
                          },
                          "content": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "subtype": {
                                  "type": "string"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "date": {
                            "type": "string"
                          },
                          "followed": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "idString": {
                            "type": "string"
                          },
                          "interactabilityBlaze": {
                            "type": "string"
                          },
                          "interactabilityReblog": {
                            "type": "string"
                          },
                          "isBlazed": {
                            "type": "boolean"
                          },
                          "isBlazePending": {
                            "type": "boolean"
                          },
                          "isBlocksPostFormat": {
                            "type": "boolean"
                          },
                          "liked": {
                            "type": "boolean"
                          },
                          "muted": {
                            "type": "boolean"
                          },
                          "muteEndTimestamp": {
                            "type": "number"
                          },
                          "noteCount": {
                            "type": "number"
                          },
                          "objectType": {
                            "type": "string"
                          },
                          "originalType": {
                            "type": "string"
                          },
                          "postUrl": {
                            "type": "string"
                          },
                          "reblogKey": {
                            "type": "string"
                          },
                          "recommendedColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recommendedSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shortUrl": {
                            "type": "string"
                          },
                          "shouldOpenInLegacy": {
                            "type": "boolean"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "tumblelogUuid": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tumblr/latest/actions/get-published-blog-posts": {
      "get": {
        "operationId": "tumblr.get-published-blog-posts",
        "summary": "Get Published Blog Posts",
        "description": "Retrieves published posts from a Tumblr blog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tumblr/latest/actions/get-published-blog-posts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blogIdentifier",
            "in": "query",
            "required": true,
            "description": "Any blog identifier.",
            "schema": {
              "type": "string",
              "description": "Any blog identifier."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Post type to return.",
            "schema": {
              "type": "string",
              "description": "Post type to return.",
              "enum": [
                "answer",
                "audio",
                "chat",
                "link",
                "photo",
                "quote",
                "text",
                "video"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Limit the response to posts with the specified tag.",
            "schema": {
              "type": "string",
              "description": "Limit the response to posts with the specified tag."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Return a specific post ID.",
            "schema": {
              "type": "string",
              "description": "Return a specific post ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "reblogInfo",
            "in": "query",
            "required": false,
            "description": "Return reblog information.",
            "schema": {
              "type": "boolean",
              "description": "Return reblog information.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "notesInfo",
            "in": "query",
            "required": false,
            "description": "Return note count and note metadata.",
            "schema": {
              "type": "boolean",
              "description": "Return note count and note metadata.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Alternative post format to return.",
            "schema": {
              "type": "string",
              "description": "Alternative post format to return.",
              "enum": [
                "raw",
                "text"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return posts published before this Unix timestamp in seconds.",
            "schema": {
              "type": "number",
              "description": "Return posts published before this Unix timestamp in seconds.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return posts published after this Unix timestamp in seconds.",
            "schema": {
              "type": "number",
              "description": "Return posts published after this Unix timestamp in seconds.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order for the returned posts.",
            "schema": {
              "type": "string",
              "description": "Sort order for the returned posts.",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blog": {
                            "type": "object",
                            "properties": {
                              "admin": {
                                "type": "boolean"
                              },
                              "ask": {
                                "type": "boolean"
                              },
                              "askAnon": {
                                "type": "boolean"
                              },
                              "askPageTitle": {
                                "type": "string"
                              },
                              "asksAllowMedia": {
                                "type": "boolean"
                              },
                              "avatar": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "height": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "canChat": {
                                "type": "boolean"
                              },
                              "canSendFanMail": {
                                "type": "boolean"
                              },
                              "canSubscribe": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "drafts": {
                                "type": "number"
                              },
                              "facebook": {
                                "type": "string"
                              },
                              "facebookOpengraphEnabled": {
                                "type": "string"
                              },
                              "followed": {
                                "type": "boolean"
                              },
                              "followers": {
                                "type": "number"
                              },
                              "isBlockedFromPrimary": {
                                "type": "boolean"
                              },
                              "isNsfw": {
                                "type": "boolean"
                              },
                              "likes": {
                                "type": "number"
                              },
                              "messages": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "posts": {
                                "type": "number"
                              },
                              "primary": {
                                "type": "boolean"
                              },
                              "queue": {
                                "type": "number"
                              },
                              "shareLikes": {
                                "type": "boolean"
                              },
                              "subscribed": {
                                "type": "boolean"
                              },
                              "theme": {
                                "type": "object",
                                "properties": {
                                  "avatarShape": {
                                    "type": "string"
                                  },
                                  "backgroundColor": {
                                    "type": "string"
                                  },
                                  "bodyFont": {
                                    "type": "string"
                                  },
                                  "headerBounds": {
                                    "type": "string"
                                  },
                                  "headerImage": {
                                    "type": "string"
                                  },
                                  "headerImageFocused": {
                                    "type": "string"
                                  },
                                  "headerImagePoster": {
                                    "type": "string"
                                  },
                                  "headerImageScaled": {
                                    "type": "string"
                                  },
                                  "headerStretch": {
                                    "type": "boolean"
                                  },
                                  "linkColor": {
                                    "type": "string"
                                  },
                                  "showAvatar": {
                                    "type": "boolean"
                                  },
                                  "showDescription": {
                                    "type": "boolean"
                                  },
                                  "showHeaderImage": {
                                    "type": "boolean"
                                  },
                                  "showTitle": {
                                    "type": "boolean"
                                  },
                                  "titleColor": {
                                    "type": "string"
                                  },
                                  "titleFont": {
                                    "type": "string"
                                  },
                                  "titleFontWeight": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "themeId": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "totalPosts": {
                                "type": "number"
                              },
                              "tweet": {
                                "type": "string"
                              },
                              "twitterEnabled": {
                                "type": "boolean"
                              },
                              "twitterSend": {
                                "type": "boolean"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "posts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "blog": {
                                  "type": "object",
                                  "properties": {
                                    "avatar": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "height": {
                                            "type": "number"
                                          },
                                          "url": {
                                            "type": "string"
                                          },
                                          "width": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "canShowBadges": {
                                      "type": "boolean"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "updated": {
                                      "type": "number"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "uuid": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "blogName": {
                                  "type": "string"
                                },
                                "canBlaze": {
                                  "type": "boolean"
                                },
                                "canIgnite": {
                                  "type": "boolean"
                                },
                                "canLike": {
                                  "type": "boolean"
                                },
                                "canMute": {
                                  "type": "boolean"
                                },
                                "canReblog": {
                                  "type": "boolean"
                                },
                                "canReply": {
                                  "type": "boolean"
                                },
                                "canSendInMessage": {
                                  "type": "boolean"
                                },
                                "content": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "subtype": {
                                        "type": "string"
                                      },
                                      "text": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "date": {
                                  "type": "string"
                                },
                                "displayAvatar": {
                                  "type": "boolean"
                                },
                                "followed": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "idString": {
                                  "type": "string"
                                },
                                "interactabilityBlaze": {
                                  "type": "string"
                                },
                                "interactabilityReblog": {
                                  "type": "string"
                                },
                                "isBlazed": {
                                  "type": "boolean"
                                },
                                "isBlazePending": {
                                  "type": "boolean"
                                },
                                "isBlocksPostFormat": {
                                  "type": "boolean"
                                },
                                "liked": {
                                  "type": "boolean"
                                },
                                "muted": {
                                  "type": "boolean"
                                },
                                "muteEndTimestamp": {
                                  "type": "number"
                                },
                                "noteCount": {
                                  "type": "number"
                                },
                                "originalType": {
                                  "type": "string"
                                },
                                "postUrl": {
                                  "type": "string"
                                },
                                "reblogKey": {
                                  "type": "string"
                                },
                                "recommendedColor": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "recommendedSource": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shortUrl": {
                                  "type": "string"
                                },
                                "shouldOpenInLegacy": {
                                  "type": "boolean"
[...]
