{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Follow Up Boss Universal API",
    "version": "0.0.8",
    "description": "Manage real estate leads, tasks, appointments, and communication"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/followUpBossV2/latest/actions/check-duplicate-person": {
      "get": {
        "operationId": "followUpBossV2.check-duplicate-person",
        "summary": "Check Duplicate Person",
        "description": "Finds duplicate people in Follow Up Boss by email or phone.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/check-duplicate-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address to check for an existing person.",
            "schema": {
              "type": "string",
              "description": "Email address to check for an existing person."
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "Phone number to check for an existing person.",
            "schema": {
              "type": "string",
              "description": "Phone number to check for an existing person."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "string"
                          },
                          "found": {
                            "type": "boolean"
                          },
                          "matchedBy": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/create-appointment": {
      "post": {
        "operationId": "followUpBossV2.create-appointment",
        "summary": "Create Appointment",
        "description": "Creates a new appointment in Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/create-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invitees[].personId": {
                    "type": "number"
                  },
                  "invitees[].userId": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allDay": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "detailsVisible": {
                            "type": "boolean"
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "externalCalendarId": {
                            "type": "string"
                          },
                          "externalEventLink": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invitees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isDeletable": {
                            "type": "boolean"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "originFub": {
                            "type": "boolean"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "outcomeId": {
                            "type": "number"
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "typeId": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedById": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/create-event": {
      "post": {
        "operationId": "followUpBossV2.create-event",
        "summary": "Create Event",
        "description": "Creates a new event in Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "source": {
                    "type": "string",
                    "description": "Lead source or website domain for the incoming event."
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type, such as Registration, Property Inquiry, Seller Inquiry, or General Inquiry."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message or inquiry text associated with the event."
                  },
                  "sourceUrl": {
                    "type": "string",
                    "description": "Link to the lead or event source in your system."
                  },
                  "assignedTo": {
                    "type": "string",
                    "description": "Agent name to associate with the incoming lead when applicable."
                  },
                  "person.id": {
                    "type": "string",
                    "description": "Existing Follow Up Boss person ID to attach the event to."
                  },
                  "person.firstName": {
                    "type": "string",
                    "description": "First name for the person in the event payload."
                  },
                  "person.lastName": {
                    "type": "string",
                    "description": "Last name for the person in the event payload."
                  },
                  "person.emails[].value": {
                    "type": "string",
                    "description": "Email address for the person in the event payload."
                  },
                  "person.phones[].value": {
                    "type": "string",
                    "description": "Phone number for the person in the event payload."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "assignedLenderId": {
                            "type": "number"
                          },
                          "assignedLenderName": {
                            "type": "string"
                          },
                          "assignedPondId": {
                            "type": "number"
                          },
                          "assignedTo": {
                            "type": "string"
                          },
                          "assignedUserId": {
                            "type": "number"
                          },
                          "claimed": {
                            "type": "boolean"
                          },
                          "collaborators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contacted": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "delayed": {
                            "type": "boolean"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastActivity": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "picture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pondMembers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "sourceId": {
                            "type": "number"
                          },
                          "sourceUrl": {
                            "type": "string"
                          },
                          "stage": {
                            "type": "string"
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "teamLeaders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "websiteVisits": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/create-note": {
      "post": {
        "operationId": "followUpBossV2.create-note",
        "summary": "Create Note",
        "description": "Creates a new note in Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/create-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "personId": {
                    "type": "number"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionPlanId": {
                            "type": "number"
                          },
                          "automationId": {
                            "type": "number"
                          },
                          "body": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "isHtml": {
                            "type": "boolean"
                          },
                          "personId": {
                            "type": "number"
                          },
                          "showContent": {
                            "type": "boolean"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "systemId": {
                            "type": "number"
                          },
                          "systemName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedById": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/create-person": {
      "post": {
        "operationId": "followUpBossV2.create-person",
        "summary": "Create Person",
        "description": "Creates a new person in Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/create-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "sourceUrl": {
                    "type": "string"
                  },
                  "stage": {
                    "type": "string"
                  },
                  "assignedTo": {
                    "type": "string"
                  },
                  "contacted": {
                    "type": "boolean"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "emails[].value": {
                    "type": "string"
                  },
                  "emails[].type": {
                    "type": "string"
                  },
                  "emails[].isPrimary": {
                    "type": "boolean"
                  },
                  "phones[].value": {
                    "type": "string"
                  },
                  "phones[].type": {
                    "type": "string"
                  },
                  "phones[].isPrimary": {
                    "type": "boolean"
                  },
                  "addresses[].type": {
                    "type": "string"
                  },
                  "addresses[].street": {
                    "type": "string"
                  },
                  "addresses[].city": {
                    "type": "string"
                  },
                  "addresses[].state": {
                    "type": "string"
                  },
                  "addresses[].code": {
                    "type": "string"
                  },
                  "addresses[].country": {
                    "type": "string"
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "assignedLenderId": {
                            "type": "number"
                          },
                          "assignedLenderName": {
                            "type": "string"
                          },
                          "assignedPondId": {
                            "type": "number"
                          },
                          "assignedTo": {
                            "type": "string"
                          },
                          "assignedUserId": {
                            "type": "number"
                          },
                          "claimed": {
                            "type": "boolean"
                          },
                          "collaborators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contacted": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "delayed": {
                            "type": "boolean"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastActivity": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "picture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pondMembers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "sourceId": {
                            "type": "number"
                          },
                          "sourceUrl": {
                            "type": "string"
                          },
                          "stage": {
                            "type": "string"
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "teamLeaders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "websiteVisits": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/create-task": {
      "post": {
        "operationId": "followUpBossV2.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "personId": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "string"
                          },
                          "assignedUserId": {
                            "type": "number"
                          },
                          "completed": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "dueDateTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalCalendarId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalTaskLink": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isCompleted": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "personId": {
                            "type": "number"
                          },
                          "remindSecondsBefore": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedById": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/get-appointment": {
      "get": {
        "operationId": "followUpBossV2.get-appointment",
        "summary": "Get Appointment",
        "description": "Retrieves an appointment from Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/get-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The appointment ID.",
            "schema": {
              "type": "string",
              "description": "The appointment ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allDay": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "detailsVisible": {
                            "type": "boolean"
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "externalCalendarId": {
                            "type": "string"
                          },
                          "externalEventLink": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invitees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isDeletable": {
                            "type": "boolean"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "originFub": {
                            "type": "boolean"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "outcomeId": {
                            "type": "number"
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "typeId": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedById": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/get-current-user": {
      "get": {
        "operationId": "followUpBossV2.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "number"
                          },
                          "algoliaAppId": {
                            "type": "string"
                          },
                          "algoliaKey": {
                            "type": "string"
                          },
                          "beta": {
                            "type": "boolean"
                          },
                          "betaOnly": {
                            "type": "boolean"
                          },
                          "callingBehavior": {
                            "type": "string"
                          },
                          "callingEnabled": {
                            "type": "boolean"
                          },
                          "callingPhoneNumberCanText": {
                            "type": "boolean"
                          },
                          "canCreateApiKeys": {
                            "type": "boolean"
                          },
                          "canExport": {
                            "type": "boolean"
                          },
                          "capabilities": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectedEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "emailConnectivity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fuid": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isOwner": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "leadEmailAddress": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notifyAboutAllLeads": {
                            "type": "boolean"
                          },
                          "notifyBy": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "outboundNumber": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "picture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rawSignature": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "shareAppointments": {
                            "type": "boolean"
                          },
                          "shareEmails": {
                            "type": "boolean"
                          },
                          "signature": {
                            "type": "string"
                          },
                          "teamIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "teamLeaderOf": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "teamMember": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "textingEnabled": {
                            "type": "boolean"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "typesenseEndpoints": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "typesenseKey": {
                            "type": "string"
                          },
                          "unreadConversationCount": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "vcard": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/get-event": {
      "get": {
        "operationId": "followUpBossV2.get-event",
        "summary": "Get Event",
        "description": "Retrieves an event from Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The event ID.",
            "schema": {
              "type": "string",
              "description": "The event ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additional": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "noteId": {
                            "type": "number"
                          },
                          "occurred": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "pageDuration": {
                            "type": "number"
                          },
                          "pageTitle": {
                            "type": "string"
                          },
                          "pageUrl": {
                            "type": "string"
                          },
                          "personId": {
                            "type": "number"
                          },
                          "property": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertySearch": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/get-note": {
      "get": {
        "operationId": "followUpBossV2.get-note",
        "summary": "Get Note",
        "description": "Retrieves a note from Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/get-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The note ID.",
            "schema": {
              "type": "string",
              "description": "The note ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionPlanId": {
                            "type": "number"
                          },
                          "automationId": {
                            "type": "number"
                          },
                          "body": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "isHtml": {
                            "type": "boolean"
                          },
                          "personId": {
                            "type": "number"
                          },
                          "showContent": {
                            "type": "boolean"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "systemId": {
                            "type": "number"
                          },
                          "systemName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedById": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/followUpBossV2/latest/actions/get-person": {
      "get": {
        "operationId": "followUpBossV2.get-person",
        "summary": "Get Person",
        "description": "Retrieves a person from Follow Up Boss.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/followUpBossV2/latest/actions/get-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The person ID.",
            "schema": {
              "type": "string",
              "description": "The person ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "assignedLenderId": {
                            "type": "number"
                          },
                          "assignedLenderName": {
                            "type": "string"
                          },
                          "assignedPondId": {
                            "type": "number"
                          },
                          "assignedTo": {
                            "type": "string"
                          },
                          "assignedUserId": {
                            "type": "number"
                          },
                          "claimed": {
                            "type": "boolean"
                          },
                          "collaborators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contacted": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "delayed": {
                            "type": "boolean"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastActivity": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "picture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pondMembers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "sourceId": {
                            "type": "number"
                          },
                          "sourceUrl": {
                            "type": "string"
                          },
                          "stage": {
                            "type": "string"
                          },
                          "stageId": {
                            "type": "number"
[...]
