{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Calendarific Universal API",
    "version": "0.1.3",
    "description": "Calendarific provides worldwide holiday and observance data across countries, states, regions, and languages."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/calendarific/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/calendarific/latest/actions/list-countries": {
      "get": {
        "operationId": "calendarific.list-countries",
        "summary": "List Countries",
        "description": "Retrieves supported countries from Calendarific.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calendarific/latest/actions/list-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryName": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "flagUnicode": {
                            "type": "string",
                            "description": "Unicode flag for the country."
                          },
                          "iso3166": {
                            "type": "string",
                            "description": "ISO 3166 country code."
                          },
                          "supportedLanguages": {
                            "type": "number",
                            "description": "Number of supported languages for the country."
                          },
                          "totalHolidays": {
                            "type": "number",
                            "description": "Number of holidays supported for the country."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Calendarific country identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calendarific/latest/actions/list-holidays": {
      "get": {
        "operationId": "calendarific.list-holidays",
        "summary": "List Holidays",
        "description": "Retrieves holidays from Calendarific by country and year.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calendarific/latest/actions/list-holidays"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 3166 country code, such as US.",
            "schema": {
              "type": "string",
              "description": "ISO 3166 country code, such as US."
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Year to return holidays for. Calendarific supports historical and future years through 2049.",
            "schema": {
              "type": "number",
              "description": "Year to return holidays for. Calendarific supports historical and future years through 2049."
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Optional month number from 1 to 12.",
            "schema": {
              "type": "number",
              "description": "Optional month number from 1 to 12.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "description": "Optional day of month from 1 to 31.",
            "schema": {
              "type": "number",
              "description": "Optional day of month from 1 to 31.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Optional ISO 3166-2 state or region code, such as us-ny.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 3166-2 state or region code, such as us-ny.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Optional holiday type. Calendarific supports national, local, religious, and observance; multiple values can be comma-separated.",
            "schema": {
              "type": "string",
              "description": "Optional holiday type. Calendarific supports national, local, religious, and observance; multiple values can be comma-separated. Pass multiple values separated by `,`.",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Premium optional ISO 639 language code, such as fr.",
            "schema": {
              "type": "string",
              "description": "Premium optional ISO 639 language code, such as fr.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "description": "Premium optional flag to return a UUID for every holiday.",
            "schema": {
              "type": "boolean",
              "description": "Premium optional flag to return a UUID for every holiday.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canonicalUrl": {
                            "type": "string",
                            "description": "Canonical Calendarific holiday URL."
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Country identifier and display name."
                          },
                          "date": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Holiday date details."
                          },
                          "description": {
                            "type": "string",
                            "description": "Holiday description."
                          },
                          "locations": {
                            "type": "string",
                            "description": "Locations where the holiday applies."
                          },
                          "name": {
                            "type": "string",
                            "description": "Holiday name."
                          },
                          "primaryType": {
                            "type": "string",
                            "description": "Primary holiday classification."
                          },
                          "type": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Holiday classification values."
                          },
                          "urlid": {
                            "type": "string",
                            "description": "Calendarific holiday URL identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/calendarific/latest/actions/list-languages": {
      "get": {
        "operationId": "calendarific.list-languages",
        "summary": "List Languages",
        "description": "Retrieves supported languages from Calendarific.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/calendarific/latest/actions/list-languages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Language code."
                          },
                          "name": {
                            "type": "string",
                            "description": "Language name."
                          },
                          "nativeName": {
                            "type": "string",
                            "description": "Language native name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
