{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ideal Postcodes Universal API",
    "version": "0.0.6",
    "description": "Search, validate, and manage addresses, places, emails, and phone numbers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/idealPostcodes/latest/actions/cleanse-address": {
      "get": {
        "operationId": "idealPostcodes.cleanse-address",
        "summary": "Cleanse Address",
        "description": "Finds the closest matching address in Ideal Postcodes.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/cleanse-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Freeform address input to cleanse.",
            "schema": {
              "type": "string",
              "description": "Freeform address input to cleanse.",
              "default": "10 Downing Street, London, SW1A 2BN"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "description": "Optional postcode for the address.",
            "schema": {
              "type": "string",
              "description": "Optional postcode for the address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postTown",
            "in": "query",
            "required": false,
            "description": "Optional town or city component for the address.",
            "schema": {
              "type": "string",
              "description": "Optional town or city component for the address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "county",
            "in": "query",
            "required": false,
            "description": "Optional county or state component for the address.",
            "schema": {
              "type": "string",
              "description": "Optional county or state component for the address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "description": "Country context to use when cleansing the address, for example GBR.",
            "schema": {
              "type": "string",
              "description": "Country context to use when cleansing the address, for example GBR.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags used to annotate the request context.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags used to annotate the request context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "confidence": {
                            "type": "number"
                          },
                          "count": {
                            "type": "number"
                          },
                          "fit": {
                            "type": "number"
                          },
                          "localityMatch": {
                            "type": "string"
                          },
                          "match": {
                            "type": "object",
                            "properties": {
                              "administrativeCounty": {
                                "type": "string"
                              },
                              "buildingName": {
                                "type": "string"
                              },
                              "buildingNumber": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryIso": {
                                "type": "string"
                              },
                              "countryIso2": {
                                "type": "string"
                              },
                              "county": {
                                "type": "string"
                              },
                              "countyCode": {
                                "type": "string"
                              },
                              "dataset": {
                                "type": "string"
                              },
                              "deliveryPointSuffix": {
                                "type": "string"
                              },
                              "departmentName": {
                                "type": "string"
                              },
                              "dependantLocality": {
                                "type": "string"
                              },
                              "dependantThoroughfare": {
                                "type": "string"
                              },
                              "district": {
                                "type": "string"
                              },
                              "doubleDependantLocality": {
                                "type": "string"
                              },
                              "eastings": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "line3": {
                                "type": "string"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "northings": {
                                "type": "number"
                              },
                              "organisationName": {
                                "type": "string"
                              },
                              "poBox": {
                                "type": "string"
                              },
                              "postalCounty": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "postcodeInward": {
                                "type": "string"
                              },
                              "postcodeOutward": {
                                "type": "string"
                              },
                              "postcodeType": {
                                "type": "string"
                              },
                              "postTown": {
                                "type": "string"
                              },
                              "premise": {
                                "type": "string"
                              },
                              "subBuildingName": {
                                "type": "string"
                              },
                              "suOrganisationIndicator": {
                                "type": "string"
                              },
                              "thoroughfare": {
                                "type": "string"
                              },
                              "traditionalCounty": {
                                "type": "string"
                              },
                              "udprn": {
                                "type": "number"
                              },
                              "umprn": {
                                "type": "string"
                              },
                              "uprn": {
                                "type": "string"
                              },
                              "ward": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "organisationMatch": {
                            "type": "string"
                          },
                          "postcodeMatch": {
                            "type": "string"
                          },
                          "postTownMatch": {
                            "type": "string"
                          },
                          "premiseMatch": {
                            "type": "string"
                          },
                          "query": {
                            "type": "string"
                          },
                          "thoroughfareMatch": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/email-validation": {
      "get": {
        "operationId": "idealPostcodes.email-validation",
        "summary": "Email Validation",
        "description": "Validates an email address in Ideal Postcodes.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/email-validation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Email address to validate.",
            "schema": {
              "type": "string",
              "description": "Email address to validate.",
              "default": "foo@domain.com"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags to associate with the validation request.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags to associate with the validation request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "catchall": {
                            "type": "boolean"
                          },
                          "deliverable": {
                            "type": "boolean"
                          },
                          "disposable": {
                            "type": "boolean"
                          },
                          "free": {
                            "type": "boolean"
                          },
                          "result": {
                            "type": "string"
                          },
                          "role": {
                            "type": "boolean"
                          },
                          "suggestions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/extract-addresses": {
      "get": {
        "operationId": "idealPostcodes.extract-addresses",
        "summary": "Extract Addresses",
        "description": "Finds addresses in Ideal Postcodes by text query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/extract-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Address text to query.",
            "schema": {
              "type": "string",
              "description": "Address text to query.",
              "default": "10 downing street london"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Comma-separated whitelist of response fields to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated whitelist of response fields to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude for reverse geocoding; use together with latitude.",
            "schema": {
              "type": "number",
              "description": "Longitude for reverse geocoding; use together with latitude.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude for reverse geocoding; use together with longitude.",
            "schema": {
              "type": "number",
              "description": "Latitude for reverse geocoding; use together with longitude.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeOutward",
            "in": "query",
            "required": false,
            "description": "Filter results by outward postcode code.",
            "schema": {
              "type": "string",
              "description": "Filter results by outward postcode code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeArea",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode area.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeSector",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode sector.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode sector.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postTown",
            "in": "query",
            "required": false,
            "description": "Filter results by town or city.",
            "schema": {
              "type": "string",
              "description": "Filter results by town or city.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "uprn",
            "in": "query",
            "required": false,
            "description": "Filter results by UPRN.",
            "schema": {
              "type": "number",
              "description": "Filter results by UPRN.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter results by country name.",
            "schema": {
              "type": "string",
              "description": "Filter results by country name.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeType",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode type.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode type.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "suOrganisationIndicator",
            "in": "query",
            "required": false,
            "description": "Filter results by organisation indicator.",
            "schema": {
              "type": "string",
              "description": "Filter results by organisation indicator.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "box",
            "in": "query",
            "required": false,
            "description": "Restrict search to a bounding box.",
            "schema": {
              "type": "string",
              "description": "Restrict search to a bounding box.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcodeOutward",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching outward code.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching outward code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcode",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching postcode.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching postcode.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcodeArea",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching postcode area.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching postcode area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcodeSector",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching postcode sector.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching postcode sector.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostTown",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching town or city.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching town or city.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasThoroughfare",
            "in": "query",
            "required": false,
            "description": "Bias results toward a street or thoroughfare.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a street or thoroughfare.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasCountry",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching country.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching country.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasLonlat",
            "in": "query",
            "required": false,
            "description": "Bias using longitude, latitude, and radius in meters.",
            "schema": {
              "type": "string",
              "description": "Bias using longitude, latitude, and radius in meters.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags used to annotate the request context.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags used to annotate the request context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "administrativeCounty": {
                            "type": "string"
                          },
                          "buildingName": {
                            "type": "string"
                          },
                          "buildingNumber": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryIso": {
                            "type": "string"
                          },
                          "countryIso2": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyCode": {
                            "type": "string"
                          },
                          "dataset": {
                            "type": "string"
                          },
                          "deliveryPointSuffix": {
                            "type": "string"
                          },
                          "departmentName": {
                            "type": "string"
                          },
                          "dependantLocality": {
                            "type": "string"
                          },
                          "dependantThoroughfare": {
                            "type": "string"
                          },
                          "district": {
                            "type": "string"
                          },
                          "doubleDependantLocality": {
                            "type": "string"
                          },
                          "eastings": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "line3": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "northings": {
                            "type": "number"
                          },
                          "organisationName": {
                            "type": "string"
                          },
                          "poBox": {
                            "type": "string"
                          },
                          "postalCounty": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "postcodeInward": {
                            "type": "string"
                          },
                          "postcodeOutward": {
                            "type": "string"
                          },
                          "postcodeType": {
                            "type": "string"
                          },
                          "postTown": {
                            "type": "string"
                          },
                          "premise": {
                            "type": "string"
                          },
                          "subBuildingName": {
                            "type": "string"
                          },
                          "suOrganisationIndicator": {
                            "type": "string"
                          },
                          "thoroughfare": {
                            "type": "string"
                          },
                          "traditionalCounty": {
                            "type": "string"
                          },
                          "udprn": {
                            "type": "number"
                          },
                          "umprn": {
                            "type": "string"
                          },
                          "uprn": {
                            "type": "string"
                          },
                          "ward": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/find-address": {
      "get": {
        "operationId": "idealPostcodes.find-address",
        "summary": "Find Address",
        "description": "Finds address suggestions in Ideal Postcodes by text query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/find-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Partial address string to autocomplete.",
            "schema": {
              "type": "string",
              "description": "Partial address string to autocomplete.",
              "default": "10 downing"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "description": "Comma-separated datasets to search within.",
            "schema": {
              "type": "string",
              "description": "Comma-separated datasets to search within.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "description": "Context to limit results, typically a country code.",
            "schema": {
              "type": "string",
              "description": "Context to limit results, typically a country code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeOutward",
            "in": "query",
            "required": false,
            "description": "Filter results by outward postcode code.",
            "schema": {
              "type": "string",
              "description": "Filter results by outward postcode code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeArea",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode area.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeSector",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode sector.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode sector.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postTown",
            "in": "query",
            "required": false,
            "description": "Filter results by town or city.",
            "schema": {
              "type": "string",
              "description": "Filter results by town or city.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "uprn",
            "in": "query",
            "required": false,
            "description": "Filter results by UPRN.",
            "schema": {
              "type": "number",
              "description": "Filter results by UPRN.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter results by country name.",
            "schema": {
              "type": "string",
              "description": "Filter results by country name.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postcodeType",
            "in": "query",
            "required": false,
            "description": "Filter results by postcode type.",
            "schema": {
              "type": "string",
              "description": "Filter results by postcode type.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "suOrganisationIndicator",
            "in": "query",
            "required": false,
            "description": "Filter results by organisation indicator.",
            "schema": {
              "type": "string",
              "description": "Filter results by organisation indicator.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "box",
            "in": "query",
            "required": false,
            "description": "Restrict search to a bounding box.",
            "schema": {
              "type": "string",
              "description": "Restrict search to a bounding box.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcodeOutward",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching outward code.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching outward code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcode",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching postcode.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching postcode.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcodeArea",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching postcode area.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching postcode area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostcodeSector",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching postcode sector.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching postcode sector.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasPostTown",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching town or city.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching town or city.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasThoroughfare",
            "in": "query",
            "required": false,
            "description": "Bias results toward a street or thoroughfare.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a street or thoroughfare.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasCountry",
            "in": "query",
            "required": false,
            "description": "Bias results toward a matching country.",
            "schema": {
              "type": "string",
              "description": "Bias results toward a matching country.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasLonlat",
            "in": "query",
            "required": false,
            "description": "Bias using longitude, latitude, and radius in meters.",
            "schema": {
              "type": "string",
              "description": "Bias using longitude, latitude, and radius in meters.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasIp",
            "in": "query",
            "required": false,
            "description": "Set to true to bias results using the request IP location.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to bias results using the request IP location.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "suggestion": {
                            "type": "string"
                          },
                          "udprn": {
                            "type": "number"
                          },
                          "urls": {
                            "type": "object",
                            "properties": {
                              "udprn": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/find-place": {
      "get": {
        "operationId": "idealPostcodes.find-place",
        "summary": "Find Place",
        "description": "Finds place suggestions in Ideal Postcodes by text query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/find-place"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Place query string.",
            "schema": {
              "type": "string",
              "description": "Place query string.",
              "default": "london"
            }
          },
          {
            "name": "countryIso",
            "in": "query",
            "required": false,
            "description": "Comma-separated ISO 3166-1 alpha-3 country codes to filter by.",
            "schema": {
              "type": "string",
              "description": "Comma-separated ISO 3166-1 alpha-3 country codes to filter by.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasCountryIso",
            "in": "query",
            "required": false,
            "description": "Comma-separated ISO 3166-1 alpha-3 country codes to bias results toward.",
            "schema": {
              "type": "string",
              "description": "Comma-separated ISO 3166-1 alpha-3 country codes to bias results toward.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasLonlat",
            "in": "query",
            "required": false,
            "description": "Longitude, latitude, and radius bias in the form lon,lat,radius.",
            "schema": {
              "type": "string",
              "description": "Longitude, latitude, and radius bias in the form lon,lat,radius.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "biasIp",
            "in": "query",
            "required": false,
            "description": "Set to true to bias results using the request IP location.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to bias results using the request IP location.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryIso": {
                            "type": "string"
                          },
                          "descriptiveName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/lookup-postcode": {
      "get": {
        "operationId": "idealPostcodes.lookup-postcode",
        "summary": "Lookup Postcode",
        "description": "Retrieves addresses from Ideal Postcodes for a UK postcode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/lookup-postcode"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "description": "UK postcode to look up.",
            "schema": {
              "type": "string",
              "description": "UK postcode to look up.",
              "default": "SW1A 2AA"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Comma-separated whitelist of address fields to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated whitelist of address fields to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page of results to return.",
            "schema": {
              "type": "number",
              "description": "Zero-indexed page of results to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags to associate with the lookup.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags to associate with the lookup.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "administrativeCounty": {
                            "type": "string"
                          },
                          "buildingName": {
                            "type": "string"
                          },
                          "buildingNumber": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryIso": {
                            "type": "string"
                          },
                          "countryIso2": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyCode": {
                            "type": "string"
                          },
                          "dataset": {
                            "type": "string"
                          },
                          "deliveryPointSuffix": {
                            "type": "string"
                          },
                          "departmentName": {
                            "type": "string"
                          },
                          "dependantLocality": {
                            "type": "string"
                          },
                          "dependantThoroughfare": {
                            "type": "string"
                          },
                          "district": {
                            "type": "string"
                          },
                          "doubleDependantLocality": {
                            "type": "string"
                          },
                          "eastings": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "line3": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "northings": {
                            "type": "number"
                          },
                          "organisationName": {
                            "type": "string"
                          },
                          "poBox": {
                            "type": "string"
                          },
                          "postalCounty": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "postcodeInward": {
                            "type": "string"
                          },
                          "postcodeOutward": {
                            "type": "string"
                          },
                          "postcodeType": {
                            "type": "string"
                          },
                          "postTown": {
                            "type": "string"
                          },
                          "premise": {
                            "type": "string"
                          },
                          "subBuildingName": {
                            "type": "string"
                          },
                          "suOrganisationIndicator": {
                            "type": "string"
                          },
                          "thoroughfare": {
                            "type": "string"
                          },
                          "traditionalCounty": {
                            "type": "string"
                          },
                          "udprn": {
                            "type": "number"
                          },
                          "umprn": {
                            "type": "string"
                          },
                          "uprn": {
                            "type": "string"
                          },
                          "ward": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/phone-number-validation": {
      "get": {
        "operationId": "idealPostcodes.phone-number-validation",
        "summary": "Phone Number Validation",
        "description": "Validates a phone number in Ideal Postcodes.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/phone-number-validation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Phone number to validate, including a country code when possible.",
            "schema": {
              "type": "string",
              "description": "Phone number to validate, including a country code when possible.",
              "default": "02071128019"
            }
          },
          {
            "name": "currentCarrier",
            "in": "query",
            "required": false,
            "description": "Set to true to request the current network carrier.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to request the current network carrier.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags to associate with the validation request.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags to associate with the validation request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "currentCarrier": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "networkCode": {
                                "type": "string"
                              },
                              "networkType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "internationalFormat": {
                            "type": "string"
                          },
                          "isoCountry": {
                            "type": "string"
                          },
                          "isoCountry2": {
                            "type": "string"
                          },
                          "nationalFormat": {
                            "type": "string"
                          },
                          "originalCarrier": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "networkCode": {
                                "type": "string"
                              },
                              "networkType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "valid": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/resolve-address": {
      "get": {
        "operationId": "idealPostcodes.resolve-address",
        "summary": "Resolve Address",
        "description": "Retrieves a UK address from Ideal Postcodes by address ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/resolve-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Address suggestion ID to resolve in UK format.",
            "schema": {
              "type": "string",
              "description": "Address suggestion ID to resolve in UK format.",
              "default": "paf_23747771"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags to associate with the resolution request.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags to associate with the resolution request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "administrativeCounty": {
                            "type": "string"
                          },
                          "buildingName": {
                            "type": "string"
                          },
                          "buildingNumber": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryIso": {
                            "type": "string"
                          },
                          "countryIso2": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyCode": {
                            "type": "string"
                          },
                          "dataset": {
                            "type": "string"
                          },
                          "deliveryPointSuffix": {
                            "type": "string"
                          },
                          "departmentName": {
                            "type": "string"
                          },
                          "dependantLocality": {
                            "type": "string"
                          },
                          "dependantThoroughfare": {
                            "type": "string"
                          },
                          "district": {
                            "type": "string"
                          },
                          "doubleDependantLocality": {
                            "type": "string"
                          },
                          "eastings": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "line3": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "northings": {
                            "type": "number"
                          },
                          "organisationName": {
                            "type": "string"
                          },
                          "poBox": {
                            "type": "string"
                          },
                          "postalCounty": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "postcodeInward": {
                            "type": "string"
                          },
                          "postcodeOutward": {
                            "type": "string"
                          },
                          "postcodeType": {
                            "type": "string"
                          },
                          "postTown": {
                            "type": "string"
                          },
                          "premise": {
                            "type": "string"
                          },
                          "subBuildingName": {
                            "type": "string"
                          },
                          "suOrganisationIndicator": {
                            "type": "string"
                          },
                          "thoroughfare": {
                            "type": "string"
                          },
                          "traditionalCounty": {
                            "type": "string"
                          },
                          "udprn": {
                            "type": "number"
                          },
                          "umprn": {
                            "type": "string"
                          },
                          "uprn": {
                            "type": "string"
                          },
                          "ward": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/idealPostcodes/latest/actions/resolve-place": {
      "get": {
        "operationId": "idealPostcodes.resolve-place",
        "summary": "Resolve Place",
        "description": "Retrieves a place from Ideal Postcodes by place ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/idealPostcodes/latest/actions/resolve-place"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "query",
            "required": true,
            "description": "Place suggestion ID to resolve.",
            "schema": {
              "type": "string",
              "description": "Place suggestion ID to resolve.",
              "default": "geonames_2643743"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags to associate with the resolution request.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags to associate with the resolution request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryIso": {
                            "type": "string"
                          },
                          "dataset": {
                            "type": "string"
                          },
                          "descriptiveName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "native": {
                            "type": "object",
                            "properties": {
                              "admin1Code": {
                                "type": "string"
                              },
                              "admin1Geonameid": {
                                "type": "number"
                              },
                              "admin1Name": {
[...]
