{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Google Ads Universal API",
    "version": "0.0.33",
    "description": "Create campaigns, measure performance, and optimize Google ad spend."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/googleAds/latest/actions/add-campaign-criterion": {
      "post": {
        "operationId": "googleAds.add-campaign-criterion",
        "summary": "Add Campaign Criterion",
        "description": "Creates a campaign criterion in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/add-campaign-criterion"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.campaign",
                  "operations[].create.keyword.matchType",
                  "operations[].create.keyword.text",
                  "operations[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "operations[].create.campaign": {
                    "type": "string"
                  },
                  "operations[].create.keyword.matchType": {
                    "type": "string",
                    "enum": [
                      "BROAD",
                      "EXACT",
                      "PHRASE",
                      "UNKNOWN",
                      "UNSPECIFIED"
                    ]
                  },
                  "operations[].create.keyword.text": {
                    "type": "string"
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "responseContentType": {
                    "type": "string",
                    "enum": [
                      "MUTABLE_RESOURCE",
                      "RESOURCE_NAME_ONLY",
                      "UNSPECIFIED"
                    ],
                    "default": "RESOURCE_NAME_ONLY",
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.keyword": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/add-keyword-criterion": {
      "post": {
        "operationId": "googleAds.add-keyword-criterion",
        "summary": "Add Keyword Criterion",
        "description": "Creates a keyword criterion in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/add-keyword-criterion"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.adGroup",
                  "operations[].create.keyword.matchType",
                  "operations[].create.keyword.text",
                  "operations[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "operations[].create.adGroup": {
                    "type": "string"
                  },
                  "operations[].create.cpcBidMicros": {
                    "type": "number"
                  },
                  "operations[].create.keyword.matchType": {
                    "type": "string",
                    "enum": [
                      "BROAD",
                      "EXACT",
                      "PHRASE",
                      "UNKNOWN",
                      "UNSPECIFIED"
                    ]
                  },
                  "operations[].create.keyword.text": {
                    "type": "string"
                  },
                  "operations[].create.status": {
                    "type": "string",
                    "enum": [
                      "ENABLED",
                      "PAUSED",
                      "REMOVED",
                      "UNKNOWN",
                      "UNSPECIFIED"
                    ]
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "responseContentType": {
                    "type": "string",
                    "enum": [
                      "MUTABLE_RESOURCE",
                      "RESOURCE_NAME_ONLY",
                      "UNSPECIFIED"
                    ],
                    "default": "RESOURCE_NAME_ONLY",
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.keyword": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/add-lead-feedback": {
      "post": {
        "operationId": "googleAds.add-lead-feedback",
        "summary": "Add Lead Feedback",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/add-lead-feedback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "leadId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "surveyAnswer": {
                    "type": "string"
                  },
                  "surveyDissatisfied.otherReasonComment": {
                    "type": "string"
                  },
                  "surveySatisfied.otherReasonComment": {
                    "type": "string"
                  },
                  "surveyDissatisfied": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "surveyDissatisfied.surveyDissatisfiedReason": {
                    "type": "string"
                  },
                  "surveySatisfied": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "surveySatisfied.surveySatisfiedReason": {
                    "type": "string"
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "leadId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditIssuanceDecision": {
                            "type": "string",
                            "description": "Bonus credit issuance decision returned after providing lead feedback."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/add-negative-campaign-keyword": {
      "post": {
        "operationId": "googleAds.add-negative-campaign-keyword",
        "summary": "Add Negative Campaign Keyword",
        "description": "Creates a negative campaign keyword in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/add-negative-campaign-keyword"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.campaign",
                  "operations[].create.keyword.matchType",
                  "operations[].create.keyword.text",
                  "operations[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "operations[].create.campaign": {
                    "type": "string"
                  },
                  "operations[].create.keyword.matchType": {
                    "type": "string",
                    "enum": [
                      "BROAD",
                      "EXACT",
                      "PHRASE",
                      "UNKNOWN",
                      "UNSPECIFIED"
                    ]
                  },
                  "operations[].create.keyword.text": {
                    "type": "string"
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "responseContentType": {
                    "type": "string",
                    "enum": [
                      "MUTABLE_RESOURCE",
                      "RESOURCE_NAME_ONLY",
                      "UNSPECIFIED"
                    ],
                    "default": "RESOURCE_NAME_ONLY",
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.keyword": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/add-offline-user-data-job-operations": {
      "put": {
        "operationId": "googleAds.add-offline-user-data-job-operations",
        "summary": "Add Offline User Data Job Operations",
        "description": "Adds operations to an offline user data job in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/add-offline-user-data-job-operations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "offlineUserDataJobId",
                  "operations[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer ID that owns the Google Ads resources (without dashes).",
                    "example": "1234567890"
                  },
                  "offlineUserDataJobId": {
                    "type": "string",
                    "description": "Offline user data job ID to append operations to.",
                    "example": "1111111111"
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Offline user data job operations to add."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "When true, validates the request without executing mutations.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "partialFailureError": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Partial failure status returned when individual offline user data job operations fail."
                          },
                          "warning": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Non-blocking warning details returned when warnings mode is enabled."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/attach-ad-group-ad-label": {
      "post": {
        "operationId": "googleAds.attach-ad-group-ad-label",
        "summary": "Attach Ad Group Ad Label",
        "description": "Attaches a label to an ad group ad in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/attach-ad-group-ad-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.adGroupAd",
                  "operations[].create.label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of mutate operations."
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Create payload for each mutate operation."
                  },
                  "operations[].create.adGroupAd": {
                    "type": "string"
                  },
                  "operations[].create.label": {
                    "type": "string"
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/attach-ad-group-label": {
      "post": {
        "operationId": "googleAds.attach-ad-group-label",
        "summary": "Attach Ad Group Label",
        "description": "Attaches a label to an ad group in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/attach-ad-group-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.adGroup",
                  "operations[].create.label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of mutate operations."
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Create payload for each mutate operation."
                  },
                  "operations[].create.adGroup": {
                    "type": "string"
                  },
                  "operations[].create.label": {
                    "type": "string"
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/attach-campaign-label": {
      "post": {
        "operationId": "googleAds.attach-campaign-label",
        "summary": "Attach Campaign Label",
        "description": "Attaches a label to a campaign in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/attach-campaign-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.campaign",
                  "operations[].create.label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of mutate operations."
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Create payload for each mutate operation."
                  },
                  "operations[].create.campaign": {
                    "type": "string"
                  },
                  "operations[].create.label": {
                    "type": "string"
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/attach-keyword-label": {
      "post": {
        "operationId": "googleAds.attach-keyword-label",
        "summary": "Attach Keyword Label",
        "description": "Attaches a label to a keyword criterion in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/attach-keyword-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.adGroupCriterion",
                  "operations[].create.label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of mutate operations."
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Create payload for each mutate operation."
                  },
                  "operations[].create.adGroupCriterion": {
                    "type": "string"
                  },
                  "operations[].create.label": {
                    "type": "string"
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/create-ad-group": {
      "post": {
        "operationId": "googleAds.create-ad-group",
        "summary": "Create Ad Group",
        "description": "Creates an ad group in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/create-ad-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.campaign"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer ID where the ad group will be created (without dashes).",
                    "example": "1234567890"
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.name": {
                    "type": "string"
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {}
                  },
                  "operations[].create.campaign": {
                    "type": "string",
                    "description": "Campaign resource name for the ad group, format customers/{customer_id}/campaigns/{campaign_id}.",
                    "example": "customers/1234567890/campaigns/9876543210"
                  },
                  "operations[].create.status": {
                    "type": "string",
                    "example": "ENABLED, PAUSED"
                  },
                  "operations[].create.cpcBidMicros": {
                    "type": "number",
                    "example": 1000000
                  },
                  "operations[].create.operationsCreatePeriod": {
                    "type": "string"
                  },
                  "operations[].create.operationsCreateStartDate": {
                    "type": "string"
                  },
                  "operations[].create.operationsCreateEndDate": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/create-campaign": {
      "post": {
        "operationId": "googleAds.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a campaign in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.name",
                  "operations[]",
                  "operations[].create.campaignBudget",
                  "operations[].create.advertisingChannelType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer ID where the campaign will be created (without dashes).",
                    "example": "1234567890",
                    "default": "4556174691"
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.manualCpc": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.name": {
                    "type": "string"
                  },
                  "operations[].create.networkSettings.targetGoogleSearch": {
                    "type": "boolean"
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "responseContentType": {
                    "type": "string",
                    "enum": [
                      "MUTABLE_RESOURCE",
                      "RESOURCE_NAME_ONLY",
                      "UNSPECIFIED"
                    ],
                    "default": "RESOURCE_NAME_ONLY",
                    "x-mindcloud-advanced": true
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "operations[].create.campaignBudget": {
                    "type": "string"
                  },
                  "operations[].create.networkSettings.targetSearchNetwork": {
                    "type": "boolean"
                  },
                  "operations[].create.advertisingChannelType": {
                    "type": "string",
                    "enum": [
                      "DISPLAY",
                      "PERFORMANCE_MAX",
                      "SEARCH",
                      "SHOPPING",
                      "VIDEO"
                    ],
                    "default": "SEARCH"
                  },
                  "operations[].create.networkSettings.targetContentNetwork": {
                    "type": "boolean"
                  },
                  "operations[].create.networkSettings.targetPartnerSearchNetwork": {
                    "type": "boolean"
                  },
                  "operations[].create.status": {
                    "type": "string",
                    "enum": [
                      "ENABLED",
                      "PAUSED"
                    ],
                    "default": "PAUSED"
                  },
                  "operations[].create.networkSettings": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.containsEuPoliticalAdvertising": {
                    "type": "string",
                    "enum": [
                      "CONTAINS_EU_POLITICAL_ADVERTISING",
                      "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING",
                      "UNKNOWN",
                      "UNSPECIFIED"
                    ],
                    "format": "toggle",
                    "default": "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/create-campaign-budget": {
      "post": {
        "operationId": "googleAds.create-campaign-budget",
        "summary": "Create Campaign Budget",
        "description": "Creates a campaign budget in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/create-campaign-budget"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "operations[].create.deliveryMethod",
                  "operations[].create.amountMicros"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer ID where the campaign budget will be created (without dashes).",
                    "example": "1234567890"
                  },
                  "operations[].create": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operations[].create.name": {
                    "type": "string"
                  },
                  "operations[]": {
                    "type": "array",
                    "items": {}
                  },
                  "operations[].create.deliveryMethod": {
                    "type": "string"
                  },
                  "operations[].create.amountMicros": {
                    "type": "number"
                  },
                  "operations[].create.operationsCreatePeriod": {
                    "type": "string"
                  },
                  "operations[].create.operationsCreateStartDate": {
                    "type": "string"
                  },
                  "operations[].create.operationsCreateEndDate": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/create-customer-client": {
      "post": {
        "operationId": "googleAds.create-customer-client",
        "summary": "Create Customer Client",
        "description": "Creates a customer client in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/create-customer-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "customerClient",
                  "customerClient.descriptiveName",
                  "customerClient.currencyCode",
                  "customerClient.timeZone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Manager customer ID under which the child account will be created (without dashes).",
                    "example": "4556174691",
                    "default": "4556174691"
                  },
                  "customerClient": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Customer client settings for the new child account."
                  },
                  "customerClient.descriptiveName": {
                    "type": "string",
                    "description": "Display name for the new child customer account.",
                    "example": "MindCloud Test Child Account"
                  },
                  "customerClient.currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the new account, for example USD.",
                    "example": "USD",
                    "default": "USD"
                  },
                  "customerClient.timeZone": {
                    "type": "string",
                    "description": "IANA time zone for the new account, for example America/New_York.",
                    "example": "America/New_York",
                    "default": "America/New_York"
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "When true, validates request without creating the account.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resourceName": {
                            "type": "string",
                            "description": "Resource name of the newly created customer client account."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleAds/latest/actions/create-offline-user-data-job": {
      "post": {
        "operationId": "googleAds.create-offline-user-data-job",
        "summary": "Create Offline User Data Job",
        "description": "Creates an offline user data job in Google Ads.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleAds/latest/actions/create-offline-user-data-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "job"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer ID that owns the Google Ads resources (without dashes).",
                    "example": "1234567890"
[...]
