{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Campaigns Universal API",
    "version": "0.0.12",
    "description": "Create, send, and track email marketing campaigns"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoCampaigns/latest/actions/add-list-contacts-in-bulk": {
      "post": {
        "operationId": "zohoCampaigns.add-list-contacts-in-bulk",
        "summary": "Add List Contacts in Bulk",
        "description": "Adds contacts to a Zoho Campaigns list in bulk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/add-list-contacts-in-bulk"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listKey",
                  "emailIds"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listKey": {
                    "type": "string",
                    "description": "List key to add contacts to."
                  },
                  "emailIds": {
                    "type": "string",
                    "description": "Up to ten email addresses, separated by commas. Pass multiple values separated by `,`.",
                    "example": "alice@example.com,bob@example.com"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Zoho result code."
                          },
                          "existingContacts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Contacts already present in the list."
                          },
                          "ignoredContacts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Contacts ignored by Zoho."
                          },
                          "listkey": {
                            "type": "string",
                            "description": "Zoho list key."
                          },
                          "listname": {
                            "type": "string",
                            "description": "Zoho list name."
                          },
                          "readdContacts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Contacts re-added by Zoho."
                          },
                          "status": {
                            "type": "string",
                            "description": "Zoho status string."
                          },
                          "url": {
                            "type": "string",
                            "description": "Zoho endpoint URI."
                          },
                          "version": {
                            "type": "string",
                            "description": "Zoho API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/add-new-list-and-contacts": {
      "post": {
        "operationId": "zohoCampaigns.add-new-list-and-contacts",
        "summary": "Add New List and Contacts",
        "description": "Creates a mailing list and contacts in Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/add-new-list-and-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "emailIds",
                  "listName",
                  "signupForm"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "emailIds": {
                    "type": "string",
                    "description": "Up to ten email addresses to add to the new list. Pass multiple values separated by `,`.",
                    "example": "alice@example.com,bob@example.com"
                  },
                  "listName": {
                    "type": "string",
                    "description": "Name of the new mailing list.",
                    "example": "Newsletter Subscribers"
                  },
                  "signupForm": {
                    "type": "string",
                    "description": "Signup form visibility for the new list.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "listDescription": {
                    "type": "string",
                    "description": "Description for the new mailing list.",
                    "example": "Contacts imported from signup form"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Zoho result code."
                          },
                          "listKey": {
                            "type": "string",
                            "description": "Created Zoho mailing list key."
                          },
                          "listName": {
                            "type": "string",
                            "description": "Created Zoho mailing list name."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message for the list creation attempt."
                          },
                          "uri": {
                            "type": "string",
                            "description": "Zoho endpoint URI."
                          },
                          "version": {
                            "type": "string",
                            "description": "Zoho API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/create-campaign": {
      "post": {
        "operationId": "zohoCampaigns.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a campaign in Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "campaignName",
                  "fromEmail",
                  "subject",
                  "listDetails"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaignName": {
                    "type": "string",
                    "description": "Name for the campaign.",
                    "example": "MindCloud Stage 3 Campaign"
                  },
                  "fromEmail": {
                    "type": "string",
                    "description": "Verified sender email address for the campaign.",
                    "example": "gabrielrodrigues@mindcloud.co"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject line for the campaign.",
                    "example": "MindCloud Stage 3 Subject"
                  },
                  "contentUrl": {
                    "type": "string",
                    "description": "Public HTML URL used as the campaign content source.",
                    "example": "https://www.example.com"
                  },
                  "listDetails": {
                    "type": "string",
                    "description": "List-to-segment mapping in Zoho's documented string format.",
                    "example": "{3zd640b3cb30d7b8c0f065b2367cf90e3edd95bbab504ab6d5954d005b40879657:[]}"
                  },
                  "topicId": {
                    "type": "string",
                    "description": "Topic ID required on accounts that use Zoho's updated topic management.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignKey": {
                            "type": "string",
                            "description": "Created campaign key when the request succeeds."
                          },
                          "code": {
                            "type": "string",
                            "description": "Zoho result code."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message for the campaign creation attempt."
                          },
                          "status": {
                            "type": "string",
                            "description": "Zoho status string for error payloads."
                          },
                          "uri": {
                            "type": "string",
                            "description": "Zoho endpoint URI."
                          },
                          "version": {
                            "type": "string",
                            "description": "Zoho API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/create-topics": {
      "post": {
        "operationId": "zohoCampaigns.create-topics",
        "summary": "Create Topics",
        "description": "Creates marketing topics in Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/create-topics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "details"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "details": {
                    "type": "string",
                    "description": "Topic envelope in Zoho's documented `details` format.",
                    "example": "{topic_name:Product Updates,topic_desc:Monthly news}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Zoho result code."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message for the topic creation attempt."
                          },
                          "topicId": {
                            "type": "string",
                            "description": "Created topic identifier."
                          },
                          "uri": {
                            "type": "string",
                            "description": "Zoho endpoint URI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/get-campaign-details": {
      "get": {
        "operationId": "zohoCampaigns.get-campaign-details",
        "summary": "Get Campaign Details",
        "description": "Retrieves campaign details from Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/get-campaign-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignKey",
            "in": "query",
            "required": true,
            "description": "Campaign key from a recent-campaign response.",
            "schema": {
              "type": "string",
              "description": "Campaign key from a recent-campaign response.",
              "example": "f70c4878c4a47169407e63917ad24497"
            }
          },
          {
            "name": "campaignType",
            "in": "query",
            "required": false,
            "description": "Campaign type for the selected campaign.",
            "schema": {
              "type": "string",
              "description": "Campaign type for the selected campaign.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "associatedMailingLists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Mailing lists associated with the campaign."
                          },
                          "campaignDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Detailed Zoho campaign payload."
                          },
                          "campaignStatus": {
                            "type": "string",
                            "description": "Campaign status."
                          },
                          "code": {
                            "type": "string",
                            "description": "Provider response code."
                          },
                          "segmentsInfo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Segment information for the campaign."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status."
                          },
                          "totalSubscribersCount": {
                            "type": "number",
                            "description": "Total subscribers currently associated with the campaign."
                          },
                          "url": {
                            "type": "string",
                            "description": "Provider endpoint identifier."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/get-campaign-recipients-data": {
      "get": {
        "operationId": "zohoCampaigns.get-campaign-recipients-data",
        "summary": "Get Campaign Recipients Data",
        "description": "Retrieves campaign recipient data from Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/get-campaign-recipients-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignKey",
            "in": "query",
            "required": true,
            "description": "Campaign key from a recent-campaign response.",
            "schema": {
              "type": "string",
              "description": "Campaign key from a recent-campaign response.",
              "example": "f70c4878c4a47169407e63917ad24497"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "description": "Recipient subset to fetch for the campaign.",
            "schema": {
              "type": "string",
              "description": "Recipient subset to fetch for the campaign.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyname": {
                            "type": "string",
                            "description": "Recipient company name."
                          },
                          "contactemailaddress": {
                            "type": "string",
                            "description": "Recipient email address."
                          },
                          "contactid": {
                            "type": "string",
                            "description": "Zoho contact identifier."
                          },
                          "contactstatus": {
                            "type": "string",
                            "description": "Zoho contact status for the recipient."
                          },
                          "firstname": {
                            "type": "string",
                            "description": "Recipient first name."
                          },
                          "lastname": {
                            "type": "string",
                            "description": "Recipient last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Recipient phone number."
                          },
                          "sentdate": {
                            "type": "string",
                            "description": "Formatted sent date returned by Zoho."
                          },
                          "sentTime": {
                            "type": "string",
                            "description": "Sent timestamp in epoch milliseconds."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Recipient timezone string when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/get-last-campaign-report": {
      "get": {
        "operationId": "zohoCampaigns.get-last-campaign-report",
        "summary": "Get Last Campaign Report",
        "description": "Retrieves the last campaign report from Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/get-last-campaign-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bounces": {
                            "type": "string",
                            "description": "Bounce count returned by Zoho for the last sent campaign."
                          },
                          "clicks": {
                            "type": "string",
                            "description": "Click count returned by Zoho for the last sent campaign."
                          },
                          "delivered": {
                            "type": "string",
                            "description": "Delivered count returned by Zoho for the last sent campaign."
                          },
                          "forwards": {
                            "type": "string",
                            "description": "Forward count returned by Zoho for the last sent campaign."
                          },
                          "opens": {
                            "type": "string",
                            "description": "Open count returned by Zoho for the last sent campaign."
                          },
                          "sent": {
                            "type": "string",
                            "description": "Sent count returned by Zoho for the last sent campaign."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/get-segment-details": {
      "get": {
        "operationId": "zohoCampaigns.get-segment-details",
        "summary": "Get Segment Details",
        "description": "Retrieves segment details from Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/get-segment-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listKey",
            "in": "query",
            "required": true,
            "description": "List key that owns the target segment.",
            "schema": {
              "type": "string",
              "description": "List key that owns the target segment."
            }
          },
          {
            "name": "cvid",
            "in": "query",
            "required": true,
            "description": "Segment ID (`cvid`) to inspect.",
            "schema": {
              "type": "string",
              "description": "Segment ID (`cvid`) to inspect."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Zoho result code."
                          },
                          "segmentsDetails": {
                            "type": "string",
                            "description": "Serialized Zoho segment criteria returned for the segment."
                          },
                          "status": {
                            "type": "string",
                            "description": "Zoho status string."
                          },
                          "uri": {
                            "type": "string",
                            "description": "Zoho endpoint URI."
                          },
                          "version": {
                            "type": "string",
                            "description": "Zoho API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/get-total-contacts": {
      "get": {
        "operationId": "zohoCampaigns.get-total-contacts",
        "summary": "Get Total Contacts",
        "description": "Retrieves total contacts from a Zoho Campaigns list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/get-total-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listKey",
            "in": "query",
            "required": true,
            "description": "Mailing list key to count subscribers for.",
            "schema": {
              "type": "string",
              "description": "Mailing list key to count subscribers for.",
              "example": "34715a953809d0b01f02e6548dcf32a2"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Subscriber status to count.",
            "schema": {
              "type": "string",
              "description": "Subscriber status to count.",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Provider response code."
                          },
                          "noOfContacts": {
                            "type": "number",
                            "description": "Total number of contacts in the mailing list."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the request."
                          },
                          "uri": {
                            "type": "string",
                            "description": "Provider endpoint identifier."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/list-campaign-reports": {
      "get": {
        "operationId": "zohoCampaigns.list-campaign-reports",
        "summary": "List Campaign Reports",
        "description": "Retrieves campaign reports from Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/list-campaign-reports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignKey",
            "in": "query",
            "required": true,
            "description": "Campaign key from a recent-campaign response.",
            "schema": {
              "type": "string",
              "description": "Campaign key from a recent-campaign response.",
              "example": "f70c4878c4a47169407e63917ad24497"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bounces": {
                            "type": "string",
                            "description": "Bounce count returned by Zoho for the campaign."
                          },
                          "clicks": {
                            "type": "string",
                            "description": "Click count returned by Zoho for the campaign."
                          },
                          "delivered": {
                            "type": "string",
                            "description": "Delivered count returned by Zoho for the campaign."
                          },
                          "forwards": {
                            "type": "string",
                            "description": "Forward count returned by Zoho for the campaign."
                          },
                          "opens": {
                            "type": "string",
                            "description": "Open count returned by Zoho for the campaign."
                          },
                          "sent": {
                            "type": "string",
                            "description": "Sent count returned by Zoho for the campaign."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/list-contact-fields": {
      "get": {
        "operationId": "zohoCampaigns.list-contact-fields",
        "summary": "List Contact Fields",
        "description": "Retrieves all contact fields from Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/list-contact-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockLabel": {
                            "type": "string"
                          },
                          "blockSequence": {
                            "type": "number"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "fieldDisplayName": {
                            "type": "string"
                          },
                          "fieldId": {
                            "type": "number"
                          },
                          "fieldName": {
                            "type": "string"
                          },
                          "isMandatory": {
                            "type": "boolean"
                          },
                          "isOtheruserField": {
                            "type": "boolean"
                          },
                          "maxlength": {
                            "type": "number"
                          },
                          "no": {
                            "type": "number"
                          },
                          "sequence": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "uitype": {
                            "type": "string"
                          },
                          "values": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/list-contacts": {
      "get": {
        "operationId": "zohoCampaigns.list-contacts",
        "summary": "List Contacts",
        "description": "Retrieves contacts from a Zoho Campaigns list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/list-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listkey",
            "in": "query",
            "required": true,
            "description": "Mailing list key to read contacts from.",
            "schema": {
              "type": "string",
              "description": "Mailing list key to read contacts from."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort direction for the returned contacts.",
            "schema": {
              "type": "string",
              "description": "Sort direction for the returned contacts.",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Contact status bucket to include in the results.",
            "schema": {
              "type": "string",
              "description": "Contact status bucket to include in the results.",
              "enum": [
                "active",
                "bounce",
                "mostrecent",
                "recent",
                "unsub"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addedTime": {
                            "type": "string"
                          },
                          "companyname": {
                            "type": "string"
                          },
                          "contactEmail": {
                            "type": "string"
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "lastname": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "zuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCampaigns/latest/actions/list-mailing-lists": {
      "get": {
        "operationId": "zohoCampaigns.list-mailing-lists",
        "summary": "List Mailing Lists",
        "description": "Retrieves mailing lists from Zoho Campaigns.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCampaigns/latest/actions/list-mailing-lists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort direction for the returned mailing lists.",
            "schema": {
              "type": "string",
              "description": "Sort direction for the returned mailing lists.",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string"
                          },
                          "createdTimeGmt": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "deletable": {
                            "type": "string"
                          },
                          "editable": {
                            "type": "string"
                          },
                          "isPublic": {
                            "type": "string"
                          },
                          "issmart": {
                            "type": "string"
                          },
                          "listCampaignsCount": {
                            "type": "string"
                          },
                          "listCreatedDate": {
                            "type": "string"
                          },
                          "listCreatedTime": {
                            "type": "string"
                          },
                          "listdesc": {
                            "type": "string"
                          },
                          "listdgs": {
                            "type": "string"
                          },
                          "listkey": {
                            "type": "string"
                          },
                          "listname": {
                            "type": "string"
                          },
                          "listnotifications": {
                            "type": "string"
                          },
                          "listtype": {
                            "type": "string"
                          },
                          "listunino": {
                            "type": "string"
                          },
                          "lockstatus": {
                            "type": "string"
                          },
                          "noofbouncecnt": {
                            "type": "string"
                          },
                          "noofcontacts": {
                            "type": "string"
                          },
                          "noofunsubcnt": {
                            "type": "string"
                          },
                          "otherslist": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "segments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentcnt": {
                            "type": "string"
                          },
                          "servicetype": {
                            "type": "string"
                          },
                          "sno": {
                            "type": "string"
                          },
                          "updatedTimeGmt": {
                            "type": "string"
                          },
                          "zuid": {
                            "type": "string"
                          },
                          "zx": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
[...]
