{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "FogBugz Universal API",
    "version": "0.0.5",
    "description": "Track cases, manage projects, and support software teams"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/fogBugz/latest/actions/list-areas": {
      "get": {
        "operationId": "fogBugz.list-areas",
        "summary": "List Areas",
        "description": "Retrieves areas from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-areas"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fWrite",
            "in": "query",
            "required": false,
            "description": "Set to true to include only areas you can modify.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include only areas you can modify.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ixProject",
            "in": "query",
            "required": false,
            "description": "Limit results to areas in a specific project.",
            "schema": {
              "type": "number",
              "description": "Limit results to areas in a specific project.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ixArea",
            "in": "query",
            "required": false,
            "description": "Include a specific area even if it is deleted.",
            "schema": {
              "type": "number",
              "description": "Include a specific area even if it is deleted.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cDoc": {
                            "type": "number",
                            "description": "Document count."
                          },
                          "ixArea": {
                            "type": "number",
                            "description": "Area ID."
                          },
                          "ixPersonOwner": {
                            "type": "number",
                            "description": "Owner person ID."
                          },
                          "ixProject": {
                            "type": "number",
                            "description": "Project ID."
                          },
                          "nType": {
                            "type": "number",
                            "description": "Area type code."
                          },
                          "sArea": {
                            "type": "string",
                            "description": "Area name."
                          },
                          "sPersonOwner": {
                            "type": "string",
                            "description": "Owner name."
                          },
                          "sProject": {
                            "type": "string",
                            "description": "Project name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-cases": {
      "get": {
        "operationId": "fogBugz.list-cases",
        "summary": "List Cases",
        "description": "Retrieves cases from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-cases"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sFilter",
            "in": "query",
            "required": false,
            "description": "Show only cases returned by a specific saved filter.",
            "schema": {
              "type": "string",
              "description": "Show only cases returned by a specific saved filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "Maximum number of cases to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of cases to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ixBug": {
                            "type": "number",
                            "description": "Case ID."
                          },
                          "operations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available case operations for the current user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-categories": {
      "get": {
        "operationId": "fogBugz.list-categories",
        "summary": "List Categories",
        "description": "Retrieves categories from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-categories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fDeleted": {
                            "type": "boolean",
                            "description": "Whether the category is deleted."
                          },
                          "fIsScheduleItem": {
                            "type": "boolean",
                            "description": "Whether the category is a schedule item."
                          },
                          "iOrder": {
                            "type": "number",
                            "description": "Display order."
                          },
                          "ixAttachmentIcon": {
                            "type": "number",
                            "description": "Attachment icon ID."
                          },
                          "ixCategory": {
                            "type": "number",
                            "description": "Category ID."
                          },
                          "ixStatusDefault": {
                            "type": "number",
                            "description": "Default status ID."
                          },
                          "ixStatusDefaultActive": {
                            "type": "number",
                            "description": "Default active status ID."
                          },
                          "nIconType": {
                            "type": "number",
                            "description": "Icon type code."
                          },
                          "sCategory": {
                            "type": "string",
                            "description": "Category name."
                          },
                          "sPlural": {
                            "type": "string",
                            "description": "Plural category name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-filters": {
      "get": {
        "operationId": "fogBugz.list-filters",
        "summary": "List Filters",
        "description": "Retrieves filters from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-filters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "filters": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "sFilter": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "errorCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "maxCacheAge": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "clientVersionAllowed": {
                                "type": "object",
                                "properties": {
                                  "max": {
                                    "type": "number"
                                  },
                                  "min": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "jsdbInvalidator": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-mailboxes": {
      "get": {
        "operationId": "fogBugz.list-mailboxes",
        "summary": "List Mailboxes",
        "description": "Retrieves mailboxes from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-mailboxes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ixMailbox": {
                            "type": "number",
                            "description": "Mailbox ID."
                          },
                          "sEmail": {
                            "type": "string",
                            "description": "Mailbox email address."
                          },
                          "sEmailUser": {
                            "type": "string",
                            "description": "Mailbox sender identity."
                          },
                          "sTemplate": {
                            "type": "string",
                            "description": "Mailbox email signature template."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-milestones": {
      "get": {
        "operationId": "fogBugz.list-milestones",
        "summary": "List Milestones",
        "description": "Retrieves milestones from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-milestones"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ixProject",
            "in": "query",
            "required": false,
            "description": "Show milestones for a specific project.",
            "schema": {
              "type": "number",
              "description": "Show milestones for a specific project.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ixFixFor",
            "in": "query",
            "required": false,
            "description": "Include a specific milestone even if it is unassignable.",
            "schema": {
              "type": "number",
              "description": "Include a specific milestone even if it is unassignable.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fIncludeDeleted",
            "in": "query",
            "required": false,
            "description": "Set to true to include unassignable milestones.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include unassignable milestones.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fIncludeReallyDeleted",
            "in": "query",
            "required": false,
            "description": "Set to true to include deleted milestones.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include deleted milestones.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dt": {
                            "type": "string",
                            "description": "Milestone due date."
                          },
                          "dtStart": {
                            "type": "string",
                            "description": "Milestone start date."
                          },
                          "fDeleted": {
                            "type": "boolean",
                            "description": "Whether the milestone is deleted."
                          },
                          "fReallyDeleted": {
                            "type": "boolean",
                            "description": "Whether the milestone is permanently deleted."
                          },
                          "ixFixFor": {
                            "type": "number",
                            "description": "Milestone ID."
                          },
                          "ixProject": {
                            "type": "number",
                            "description": "Project ID."
                          },
                          "setixFixForDependency": {
                            "type": "string",
                            "description": "Dependent milestone ID set."
                          },
                          "sFixFor": {
                            "type": "string",
                            "description": "Milestone name."
                          },
                          "sProject": {
                            "type": "string",
                            "description": "Project name."
                          },
                          "sStartNote": {
                            "type": "string",
                            "description": "Milestone start note."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-people": {
      "get": {
        "operationId": "fogBugz.list-people",
        "summary": "List People",
        "description": "Retrieves people from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fIncludeActive",
            "in": "query",
            "required": false,
            "description": "Set to true to include active users.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include active users."
            }
          },
          {
            "name": "fIncludeNormal",
            "in": "query",
            "required": false,
            "description": "Set to true to include normal users.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include normal users."
            }
          },
          {
            "name": "fIncludeDeleted",
            "in": "query",
            "required": false,
            "description": "Set to true to include deleted users.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include deleted users.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fIncludeCommunity",
            "in": "query",
            "required": false,
            "description": "Set to true to include community users.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include community users.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fIncludeVirtual",
            "in": "query",
            "required": false,
            "description": "Set to true to include virtual users.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include virtual users.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dtLastActivity": {
                            "type": "string",
                            "description": "Last activity timestamp."
                          },
                          "fAdministrator": {
                            "type": "boolean",
                            "description": "Whether the user is an administrator."
                          },
                          "fCommunity": {
                            "type": "boolean",
                            "description": "Whether the user is a community user."
                          },
                          "fDeleted": {
                            "type": "boolean",
                            "description": "Whether the user is deleted."
                          },
                          "fNotify": {
                            "type": "boolean",
                            "description": "Whether notifications are enabled."
                          },
                          "fPaletteExpanded": {
                            "type": "boolean",
                            "description": "Whether the palette is expanded."
                          },
                          "fRecurseBugChildren": {
                            "type": "boolean",
                            "description": "Whether child cases recurse."
                          },
                          "fVirtual": {
                            "type": "boolean",
                            "description": "Whether the user is a virtual user."
                          },
                          "ixBugWorkingOn": {
                            "type": "number",
                            "description": "Current working case ID."
                          },
                          "ixPerson": {
                            "type": "number",
                            "description": "User ID."
                          },
                          "sEmail": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "sFrom": {
                            "type": "string",
                            "description": "From address."
                          },
                          "sFullName": {
                            "type": "string",
                            "description": "Full name."
                          },
                          "sHomepage": {
                            "type": "string",
                            "description": "Homepage URL."
                          },
                          "sLanguage": {
                            "type": "string",
                            "description": "Language key."
                          },
                          "sLDAPUid": {
                            "type": "string",
                            "description": "LDAP UID."
                          },
                          "sLocale": {
                            "type": "string",
                            "description": "Locale key."
                          },
                          "sPhone": {
                            "type": "string",
                            "description": "Phone number."
                          },
                          "sTimeZoneKey": {
                            "type": "string",
                            "description": "Time zone key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-priorities": {
      "get": {
        "operationId": "fogBugz.list-priorities",
        "summary": "List Priorities",
        "description": "Retrieves priorities from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-priorities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fDefault": {
                            "type": "boolean",
                            "description": "Whether the priority is the default."
                          },
                          "ixPriority": {
                            "type": "number",
                            "description": "Priority ID."
                          },
                          "sPriority": {
                            "type": "string",
                            "description": "Priority name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-projects": {
      "get": {
        "operationId": "fogBugz.list-projects",
        "summary": "List Projects",
        "description": "Retrieves projects from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-projects"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fWrite",
            "in": "query",
            "required": false,
            "description": "Set to true to include only projects you can modify.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include only projects you can modify.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ixProject",
            "in": "query",
            "required": false,
            "description": "Include a specific project even if it is deleted.",
            "schema": {
              "type": "number",
              "description": "Include a specific project even if it is deleted.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fDeleted",
            "in": "query",
            "required": false,
            "description": "Set to true to include deleted projects.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include deleted projects.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fDeleted": {
                            "type": "boolean",
                            "description": "Whether the project is deleted."
                          },
                          "fInbox": {
                            "type": "boolean",
                            "description": "Whether the project is the inbox project."
                          },
                          "ixPersonOwner": {
                            "type": "number",
                            "description": "Owner person ID."
                          },
                          "ixProject": {
                            "type": "number",
                            "description": "Project ID."
                          },
                          "ixWorkflow": {
                            "type": "number",
                            "description": "Workflow ID."
                          },
                          "sEmail": {
                            "type": "string",
                            "description": "Project contact email."
                          },
                          "sPersonOwner": {
                            "type": "string",
                            "description": "Owner name."
                          },
                          "sPhone": {
                            "type": "string",
                            "description": "Project contact phone."
                          },
                          "sProject": {
                            "type": "string",
                            "description": "Project name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-statuses": {
      "get": {
        "operationId": "fogBugz.list-statuses",
        "summary": "List Statuses",
        "description": "Retrieves statuses from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-statuses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ixCategory",
            "in": "query",
            "required": false,
            "description": "Return statuses for a specific category.",
            "schema": {
              "type": "number",
              "description": "Return statuses for a specific category.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fResolved",
            "in": "query",
            "required": false,
            "description": "Set to true to return only resolved statuses.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to return only resolved statuses.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fDeleted": {
                            "type": "boolean",
                            "description": "Whether the status is deleted."
                          },
                          "fDuplicate": {
                            "type": "boolean",
                            "description": "Whether the status marks duplicates."
                          },
                          "fReactivate": {
                            "type": "boolean",
                            "description": "Whether the status allows reactivation."
                          },
                          "fResolved": {
                            "type": "boolean",
                            "description": "Whether the status is resolved."
                          },
                          "fWorkDone": {
                            "type": "boolean",
                            "description": "Whether the status counts as work done."
                          },
                          "iOrder": {
                            "type": "number",
                            "description": "Display order."
                          },
                          "ixCategory": {
                            "type": "number",
                            "description": "Category ID."
                          },
                          "ixStatus": {
                            "type": "number",
                            "description": "Status ID."
                          },
                          "sStatus": {
                            "type": "string",
                            "description": "Status name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/list-wikis": {
      "get": {
        "operationId": "fogBugz.list-wikis",
        "summary": "List Wikis",
        "description": "Retrieves wikis from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/list-wikis"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "maxCacheAge": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "clientVersionAllowed": {
                                "type": "object",
                                "properties": {
                                  "max": {
                                    "type": "number"
                                  },
                                  "min": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "jsdbInvalidator": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fogBugz/latest/actions/view-case": {
      "get": {
        "operationId": "fogBugz.view-case",
        "summary": "View Case",
        "description": "Retrieves case details from FogBugz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fogBugz/latest/actions/view-case"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ixBug",
            "in": "query",
            "required": true,
            "description": "The case you want to view.",
            "schema": {
              "type": "number",
              "description": "The case you want to view."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ixBug": {
                            "type": "number",
                            "description": "Case ID."
                          },
                          "operations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available case operations for the current user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
