{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Buttondown Universal API",
    "version": "0.0.8",
    "description": "Manage Buttondown newsletters, subscribers, emails, automations, and webhooks through the official Buttondown API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/buttondown/latest/actions/create-draft-email": {
      "post": {
        "operationId": "buttondown.create-draft-email",
        "summary": "Create Draft Email",
        "description": "Creates a draft email in Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/create-draft-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subject",
                  "body"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Draft email subject line."
                  },
                  "body": {
                    "type": "string",
                    "description": "Draft email body content."
                  },
                  "description": {
                    "type": "string",
                    "description": "Internal description for the draft email."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Optional draft slug."
                  },
                  "canonical_url": {
                    "type": "string",
                    "description": "Canonical URL for the email."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "absoluteUrl": {
                            "type": "string",
                            "description": "Resolved absolute URL for the email."
                          },
                          "analytics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Analytics payload when Buttondown provides one."
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Attachments associated with the email."
                          },
                          "body": {
                            "type": "string",
                            "description": "Email body content returned by Buttondown."
                          },
                          "canonicalUrl": {
                            "type": "string",
                            "description": "Canonical URL associated with the email."
                          },
                          "commentingMode": {
                            "type": "string",
                            "description": "Current commenting mode."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the email was created in Buttondown."
                          },
                          "description": {
                            "type": "string",
                            "description": "Internal description stored on the email."
                          },
                          "emailType": {
                            "type": "string",
                            "description": "Buttondown email type."
                          },
                          "featured": {
                            "type": "boolean",
                            "description": "Whether the email is featured."
                          },
                          "filters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Audience filter definition stored on the email."
                          },
                          "id": {
                            "type": "string",
                            "description": "Buttondown email ID."
                          },
                          "image": {
                            "type": "string",
                            "description": "Hero image associated with the email."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured metadata stored on the email."
                          },
                          "modificationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the email was last modified in Buttondown."
                          },
                          "publishDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the email is scheduled or published, if applicable."
                          },
                          "relatedEmailIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related email IDs returned by Buttondown."
                          },
                          "reviewMode": {
                            "type": "string",
                            "description": "Current review mode."
                          },
                          "secondaryId": {
                            "type": "number",
                            "description": "Secondary numeric ID when Buttondown returns one."
                          },
                          "shouldTriggerPayPerEmailBilling": {
                            "type": "boolean",
                            "description": "Whether the email should trigger pay-per-email billing."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Email slug."
                          },
                          "source": {
                            "type": "string",
                            "description": "How the email was created."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current Buttondown email status."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Email subject line."
                          },
                          "suppressionReason": {
                            "type": "string",
                            "description": "Suppression reason when Buttondown returns one."
                          },
                          "template": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Template metadata when Buttondown returns one."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/create-subscriber": {
      "post": {
        "operationId": "buttondown.create-subscriber",
        "summary": "Create Subscriber",
        "description": "Creates a new subscriber in Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/create-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email_address"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email_address": {
                    "type": "string",
                    "description": "Subscriber email address."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Private notes attached to the subscriber."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to add when creating the subscriber."
                  },
                  "type": {
                    "type": "string",
                    "description": "Subscriber type to create.",
                    "enum": [
                      "gifted",
                      "regular",
                      "unpaid",
                      "unsubscribed"
                    ]
                  },
                  "ip_address": {
                    "type": "string",
                    "description": "Original subscriber IP for spam validation.",
                    "x-mindcloud-advanced": true
                  },
                  "bypass_firewall": {
                    "type": "boolean",
                    "description": "Trusted-source only. Sends Buttondown's firewall-bypass header instead of passing this field upstream in the request body.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clickedCount": {
                            "type": "number",
                            "description": "Total click count when available."
                          },
                          "clickRate": {
                            "type": "number",
                            "description": "Click rate when available."
                          },
                          "commentingDisabled": {
                            "type": "boolean",
                            "description": "Whether commenting is disabled for the subscriber."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the subscriber record was created."
                          },
                          "deliveredCount": {
                            "type": "number",
                            "description": "Total delivered email count when available."
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "Subscriber email address."
                          },
                          "emailTransitions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Email transition history for the subscriber."
                          },
                          "firewallReasons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Firewall reasons recorded for the subscriber."
                          },
                          "id": {
                            "type": "string",
                            "description": "Buttondown subscriber ID."
                          },
                          "ipAddress": {
                            "type": "string",
                            "description": "Stored subscriber IP address."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured metadata stored on the subscriber."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Internal notes stored on the subscriber."
                          },
                          "openCount": {
                            "type": "number",
                            "description": "Total open count when available."
                          },
                          "openRate": {
                            "type": "number",
                            "description": "Open rate when available."
                          },
                          "riskScore": {
                            "type": "number",
                            "description": "Buttondown firewall risk score when available."
                          },
                          "source": {
                            "type": "string",
                            "description": "How the subscriber entered Buttondown."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Current tags on the subscriber."
                          },
                          "transitions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Lifecycle transitions recorded for the subscriber."
                          },
                          "type": {
                            "type": "string",
                            "description": "Current Buttondown subscriber type."
                          },
                          "unsubscriptionDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the subscriber unsubscribed, if applicable."
                          },
                          "unsubscriptionReason": {
                            "type": "string",
                            "description": "Stored unsubscription reason, if any."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/create-webhook": {
      "post": {
        "operationId": "buttondown.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a new webhook in Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "event_types[]",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "event_types[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exact Buttondown webhook event types to subscribe to."
                  },
                  "url": {
                    "type": "string",
                    "description": "Destination URL for webhook POST requests."
                  },
                  "status": {
                    "type": "string",
                    "description": "Whether the webhook is enabled or disabled.",
                    "enum": [
                      "disabled",
                      "enabled"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional internal description for the webhook."
                  },
                  "signing_key": {
                    "type": "string",
                    "description": "Optional HMAC signing key for webhook verification.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the webhook was created in Buttondown."
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional descriptive label stored on the webhook."
                          },
                          "eventTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Exact Buttondown event types configured for this webhook."
                          },
                          "id": {
                            "type": "string",
                            "description": "Buttondown webhook ID."
                          },
                          "signingKey": {
                            "type": "string",
                            "description": "Webhook signing key when Buttondown returns it."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current webhook status."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL for webhook deliveries."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/delete-email": {
      "delete": {
        "operationId": "buttondown.delete-email",
        "summary": "Delete Email",
        "description": "Deletes an existing email from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/delete-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Email ID.",
            "schema": {
              "type": "string",
              "description": "Email ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/delete-subscriber": {
      "delete": {
        "operationId": "buttondown.delete-subscriber",
        "summary": "Delete Subscriber",
        "description": "Deletes an existing subscriber from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/delete-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_or_email",
            "in": "query",
            "required": true,
            "description": "Subscriber ID or email address.",
            "schema": {
              "type": "string",
              "description": "Subscriber ID or email address."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/delete-webhook": {
      "delete": {
        "operationId": "buttondown.delete-webhook",
        "summary": "Delete Webhook",
        "description": "Deletes an existing webhook from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/delete-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Webhook ID.",
            "schema": {
              "type": "string",
              "description": "Webhook ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/list-emails": {
      "get": {
        "operationId": "buttondown.list-emails",
        "summary": "List Emails",
        "description": "Retrieves emails from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/list-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Total number of resources returned in this response window."
                          },
                          "next": {
                            "type": "string",
                            "description": "Pagination cursor or URL for the next page when Buttondown provides one."
                          },
                          "previous": {
                            "type": "string",
                            "description": "Pagination cursor or URL for the previous page when Buttondown provides one."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The emails returned by Buttondown for the current connection."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/list-newsletters": {
      "get": {
        "operationId": "buttondown.list-newsletters",
        "summary": "List Newsletters",
        "description": "Retrieves newsletters from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/list-newsletters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Total number of resources returned in this response window."
                          },
                          "next": {
                            "type": "string",
                            "description": "Pagination cursor or URL for the next page when Buttondown provides one."
                          },
                          "previous": {
                            "type": "string",
                            "description": "Pagination cursor or URL for the previous page when Buttondown provides one."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The newsletters returned by Buttondown for the current connection."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/list-subscribers": {
      "get": {
        "operationId": "buttondown.list-subscribers",
        "summary": "List Subscribers",
        "description": "Retrieves subscribers from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/list-subscribers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Total number of resources returned in this response window."
                          },
                          "next": {
                            "type": "string",
                            "description": "Pagination cursor or URL for the next page when Buttondown provides one."
                          },
                          "previous": {
                            "type": "string",
                            "description": "Pagination cursor or URL for the previous page when Buttondown provides one."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The subscribers returned by Buttondown for the current connection."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/list-webhook-attempts": {
      "get": {
        "operationId": "buttondown.list-webhook-attempts",
        "summary": "List Webhook Attempts",
        "description": "Retrieves webhook attempts from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/list-webhook-attempts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Webhook ID.",
            "schema": {
              "type": "string",
              "description": "Webhook ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Total number of matching webhook attempts returned by Buttondown."
                          },
                          "next": {
                            "type": "string",
                            "description": "Pagination URL for the next page when Buttondown provides one."
                          },
                          "previous": {
                            "type": "string",
                            "description": "Pagination URL for the previous page when Buttondown provides one."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Webhook delivery attempts returned by Buttondown for the selected webhook."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/list-webhooks": {
      "get": {
        "operationId": "buttondown.list-webhooks",
        "summary": "List Webhooks",
        "description": "Retrieves webhooks from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/list-webhooks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Total number of matching webhooks returned by Buttondown."
                          },
                          "next": {
                            "type": "string",
                            "description": "Pagination URL for the next page when Buttondown provides one."
                          },
                          "previous": {
                            "type": "string",
                            "description": "Pagination URL for the previous page when Buttondown provides one."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Webhook results returned by Buttondown for the current account."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/retrieve-email": {
      "get": {
        "operationId": "buttondown.retrieve-email",
        "summary": "Retrieve Email",
        "description": "Retrieves an email from Buttondown.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/retrieve-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Email ID.",
            "schema": {
              "type": "string",
              "description": "Email ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "absoluteUrl": {
                            "type": "string",
                            "description": "Resolved absolute URL for the email."
                          },
                          "analytics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Analytics payload when Buttondown provides one."
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Attachments associated with the email."
                          },
                          "body": {
                            "type": "string",
                            "description": "Email body content returned by Buttondown."
                          },
                          "canonicalUrl": {
                            "type": "string",
                            "description": "Canonical URL associated with the email."
                          },
                          "commentingMode": {
                            "type": "string",
                            "description": "Current commenting mode."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the email was created in Buttondown."
                          },
                          "description": {
                            "type": "string",
                            "description": "Internal description stored on the email."
                          },
                          "emailType": {
                            "type": "string",
                            "description": "Buttondown email type."
                          },
                          "featured": {
                            "type": "boolean",
                            "description": "Whether the email is featured."
                          },
                          "filters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Audience filter definition stored on the email."
                          },
                          "id": {
                            "type": "string",
                            "description": "Buttondown email ID."
                          },
                          "image": {
                            "type": "string",
                            "description": "Hero image associated with the email."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured metadata stored on the email."
                          },
                          "modificationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the email was last modified in Buttondown."
                          },
                          "publishDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the email is scheduled or published, if applicable."
                          },
                          "relatedEmailIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related email IDs returned by Buttondown."
                          },
                          "reviewMode": {
                            "type": "string",
                            "description": "Current review mode."
                          },
                          "secondaryId": {
                            "type": "number",
                            "description": "Secondary numeric ID when Buttondown returns one."
                          },
                          "shouldTriggerPayPerEmailBilling": {
                            "type": "boolean",
                            "description": "Whether the email should trigger pay-per-email billing."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Email slug."
                          },
                          "source": {
                            "type": "string",
                            "description": "How the email was created."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current Buttondown email status."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Email subject line."
                          },
                          "suppressionReason": {
                            "type": "string",
                            "description": "Suppression reason when Buttondown returns one."
                          },
                          "template": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Template metadata when Buttondown returns one."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/buttondown/latest/actions/retrieve-subscriber": {
      "get": {
        "operationId": "buttondown.retrieve-subscriber",
        "summary": "Retrieve Subscriber",
        "description": "Retrieves a subscriber from Buttondown by ID or email address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/buttondown/latest/actions/retrieve-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_or_email",
            "in": "query",
            "required": true,
            "description": "Subscriber ID or email address.",
            "schema": {
              "type": "string",
              "description": "Subscriber ID or email address."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clickedCount": {
                            "type": "number",
                            "description": "Total click count when available."
                          },
                          "clickRate": {
                            "type": "number",
                            "description": "Click rate when available."
                          },
                          "commentingDisabled": {
                            "type": "boolean",
                            "description": "Whether commenting is disabled for the subscriber."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the subscriber record was created."
                          },
                          "deliveredCount": {
                            "type": "number",
                            "description": "Total delivered email count when available."
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "Subscriber email address."
                          },
                          "emailTransitions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Email transition history for the subscriber."
                          },
                          "firewallReasons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Firewall reasons recorded for the subscriber."
                          },
                          "id": {
                            "type": "string",
                            "description": "Buttondown subscriber ID."
                          },
                          "ipAddress": {
                            "type": "string",
                            "description": "Stored subscriber IP address."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured metadata stored on the subscriber."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Internal notes stored on the subscriber."
                          },
                          "openCount": {
                            "type": "number",
                            "description": "Total open count when available."
                          },
                          "openRate": {
                            "type": "number",
                            "description": "Open rate when available."
                          },
                          "riskScore": {
                            "type": "number",
                            "description": "Buttondown firewall risk score when available."
                          },
                          "source": {
                            "type": "string",
                            "description": "How the subscriber entered Buttondown."
                          },
                          "tags": {
                            "type": "array",
[...]
