{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Charidy Universal API",
    "version": "0.0.3",
    "description": "View Charidy campaigns, donations, and teams in the public API"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/charidy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/charidy/latest/actions/get-campaign": {
      "get": {
        "operationId": "charidy.get-campaign",
        "summary": "Get Campaign",
        "description": "Retrieves a campaign from Charidy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/charidy/latest/actions/get-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The campaign ID to retrieve.",
            "schema": {
              "type": "number",
              "description": "The campaign ID to retrieve.",
              "example": 96
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "campaignId": {
                                "type": "number",
                                "description": "Campaign ID."
                              },
                              "campaignImage": {
                                "type": "string",
                                "description": "Primary campaign image URL."
                              },
                              "category": {
                                "type": "string",
                                "description": "Campaign category."
                              },
                              "currency": {
                                "type": "string",
                                "description": "Campaign currency code."
                              },
                              "currencySign": {
                                "type": "string",
                                "description": "Campaign currency sign."
                              },
                              "endDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Campaign end date."
                              },
                              "mode": {
                                "type": "number",
                                "description": "Campaign mode code."
                              },
                              "shortDescription": {
                                "type": "string",
                                "description": "Campaign short description."
                              },
                              "shortLink": {
                                "type": "string",
                                "description": "Campaign short link."
                              },
                              "startDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Campaign start date."
                              },
                              "theme": {
                                "type": "string",
                                "description": "Campaign theme."
                              },
                              "title": {
                                "type": "string",
                                "description": "Campaign title."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique campaign ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/charidy/latest/actions/list-campaign-donations": {
      "get": {
        "operationId": "charidy.list-campaign-donations",
        "summary": "List Campaign Donations",
        "description": "Retrieves donations for a campaign from Charidy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/charidy/latest/actions/list-campaign-donations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The campaign ID whose donations to list.",
            "schema": {
              "type": "number",
              "description": "The campaign ID whose donations to list.",
              "example": 96
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort donations by the requested field and direction.",
            "schema": {
              "type": "string",
              "description": "Sort donations by the requested field and direction.",
              "example": "-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of donations to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of donations to return.",
              "example": 1
            }
          },
          {
            "name": "fromDonationId",
            "in": "query",
            "required": false,
            "description": "Return donations made after this donation ID.",
            "schema": {
              "type": "number",
              "description": "Return donations made after this donation ID.",
              "example": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "campaignId": {
                                "type": "number",
                                "description": "Campaign ID."
                              },
                              "createdAt": {
                                "type": "number",
                                "description": "Donation creation timestamp."
                              },
                              "currencyCode": {
                                "type": "string",
                                "description": "Donation currency code."
                              },
                              "currencySign": {
                                "type": "string",
                                "description": "Donation currency sign."
                              },
                              "dedication": {
                                "type": "string",
                                "description": "Donation dedication text."
                              },
                              "gatewayName": {
                                "type": "string",
                                "description": "Gateway name."
                              },
                              "hideDonationAmount": {
                                "type": "boolean",
                                "description": "Whether the amount is hidden."
                              },
                              "name": {
                                "type": "string",
                                "description": "Donation display name."
                              },
                              "realPayment": {
                                "type": "number",
                                "description": "Real payment amount."
                              },
                              "teamId": {
                                "type": "number",
                                "description": "Associated team ID."
                              },
                              "total": {
                                "type": "number",
                                "description": "Total donation amount."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique donation ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/charidy/latest/actions/list-campaign-teams": {
      "get": {
        "operationId": "charidy.list-campaign-teams",
        "summary": "List Campaign Teams",
        "description": "Retrieves teams for a campaign from Charidy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/charidy/latest/actions/list-campaign-teams"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The campaign ID whose teams to list.",
            "schema": {
              "type": "number",
              "description": "The campaign ID whose teams to list.",
              "example": 4947
            }
          },
          {
            "name": "grouped",
            "in": "query",
            "required": false,
            "description": "Whether to return grouped teams.",
            "schema": {
              "type": "boolean",
              "description": "Whether to return grouped teams."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Return teams starting after this offset.",
            "schema": {
              "type": "number",
              "description": "Return teams starting after this offset.",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of teams to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of teams to return.",
              "example": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort teams by the requested field and direction.",
            "schema": {
              "type": "string",
              "description": "Sort teams by the requested field and direction.",
              "example": "-amount"
            }
          },
          {
            "name": "parentTeamId",
            "in": "query",
            "required": false,
            "description": "Filter results by parent team ID when applicable.",
            "schema": {
              "type": "number",
              "description": "Filter results by parent team ID when applicable.",
              "example": 123
            }
          },
          {
            "name": "parentOnly",
            "in": "query",
            "required": false,
            "description": "Whether to return only parent teams.",
            "schema": {
              "type": "boolean",
              "description": "Whether to return only parent teams."
            }
          },
          {
            "name": "grandparentOnly",
            "in": "query",
            "required": false,
            "description": "Whether to return only grandparent teams.",
            "schema": {
              "type": "boolean",
              "description": "Whether to return only grandparent teams."
            }
          },
          {
            "name": "skipParent",
            "in": "query",
            "required": false,
            "description": "Whether to exclude parent teams from the results.",
            "schema": {
              "type": "boolean",
              "description": "Whether to exclude parent teams from the results."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "campaignId": {
                                "type": "number",
                                "description": "Campaign ID."
                              },
                              "childTeamsCount": {
                                "type": "number",
                                "description": "Child team count."
                              },
                              "donated": {
                                "type": "number",
                                "description": "Amount donated to the team."
                              },
                              "donationN": {
                                "type": "number",
                                "description": "Donation count."
                              },
                              "hidden": {
                                "type": "boolean",
                                "description": "Whether the team is hidden."
                              },
                              "image": {
                                "type": "string",
                                "description": "Team image URL."
                              },
                              "isParent": {
                                "type": "boolean",
                                "description": "Whether the team is a parent team."
                              },
                              "name": {
                                "type": "string",
                                "description": "Team name."
                              },
                              "parentTeamId": {
                                "type": "number",
                                "description": "Parent team ID."
                              },
                              "shortlink": {
                                "type": "string",
                                "description": "Team short link."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Team slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique team ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
