{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TxtSync Universal API",
    "version": "0.0.7",
    "description": "Send SMS, manage contacts, and run text campaigns"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/txtSync/latest/actions/activate-campaign": {
      "put": {
        "operationId": "txtSync.activate-campaign",
        "summary": "Activate Campaign",
        "description": "Activates an existing campaign in TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/activate-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/add-campaign-connection": {
      "post": {
        "operationId": "txtSync.add-campaign-connection",
        "summary": "Add Campaign Connection",
        "description": "Adds recipients to a campaign in TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/add-campaign-connection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number"
                  },
                  "contactIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CampaignConnectionID": {
                            "type": "number"
                          },
                          "CampaignID": {
                            "type": "number"
                          },
                          "ContactID": {
                            "type": "number"
                          },
                          "ContactName": {
                            "type": "string"
                          },
                          "CustomerID": {
                            "type": "number"
                          },
                          "TagID": {
                            "type": "number"
                          },
                          "TagName": {
                            "type": "string"
                          },
                          "ToNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/add-contact-tags": {
      "post": {
        "operationId": "txtSync.add-contact-tags",
        "summary": "Add Contact Tags",
        "description": "Adds tags to a contact in TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/add-contact-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "tagIds"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "Contact identifier."
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag identifiers to associate to the contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/check-contact-duplicates": {
      "get": {
        "operationId": "txtSync.check-contact-duplicates",
        "summary": "Check Contact Duplicates",
        "description": "Retrieves duplicate contact matches from TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/check-contact-duplicates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "MobileNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/create-campaign": {
      "post": {
        "operationId": "txtSync.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a new campaign in TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "numberId": {
                    "type": "number"
                  },
                  "textMessage": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActivatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CampaignID": {
                            "type": "number"
                          },
                          "CostGBP": {
                            "type": "number"
                          },
                          "CostLocal": {
                            "type": "number"
                          },
                          "CreatedBy": {
                            "type": "number"
                          },
                          "CreatedByApp": {
                            "type": "number"
                          },
                          "CreatedByAppName": {
                            "type": "string"
                          },
                          "CreatedByName": {
                            "type": "string"
                          },
                          "CreatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CurrencyCode": {
                            "type": "string"
                          },
                          "CustomerNumber": {
                            "type": "string"
                          },
                          "IncludeWebOptOut": {
                            "type": "boolean"
                          },
                          "IsSharedNumber": {
                            "type": "boolean"
                          },
                          "LastSentSMSDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ModifiedBy": {
                            "type": "number"
                          },
                          "ModifiedByApp": {
                            "type": "number"
                          },
                          "ModifiedByAppName": {
                            "type": "string"
                          },
                          "ModifiedByName": {
                            "type": "string"
                          },
                          "ModifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "NumberID": {
                            "type": "number"
                          },
                          "ProcessedContacts": {
                            "type": "number"
                          },
                          "ScheduledDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Status": {
                            "type": "number"
                          },
                          "TextMessage": {
                            "type": "string"
                          },
                          "TotalContacts": {
                            "type": "number"
                          },
                          "TotalDistinctOpenedLinks": {
                            "type": "number"
                          },
                          "TotalOpenedLinks": {
                            "type": "number"
                          },
                          "TotalReplies": {
                            "type": "number"
                          },
                          "TrackReplies": {
                            "type": "boolean"
                          },
                          "Type": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/create-contact": {
      "post": {
        "operationId": "txtSync.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mobileNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mobileNumber": {
                    "type": "string",
                    "description": "Contact mobile number in international format."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Contact last name."
                  },
                  "allowSms": {
                    "type": "boolean",
                    "description": "Whether the contact allows SMS."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "type": "string"
                          },
                          "AddressLine2": {
                            "type": "string"
                          },
                          "AllowSMS": {
                            "type": "boolean"
                          },
                          "City": {
                            "type": "string"
                          },
                          "CompanyName": {
                            "type": "string"
                          },
                          "ContactID": {
                            "type": "number"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "CountryCode": {
                            "type": "string"
                          },
                          "County": {
                            "type": "string"
                          },
                          "CreatedBy": {
                            "type": "number"
                          },
                          "CreatedByApp": {
                            "type": "number"
                          },
                          "CreatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DateOfBirth": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "EmailAddress": {
                            "type": "string"
                          },
                          "ExternalReference": {
                            "type": "string"
                          },
                          "FirstName": {
                            "type": "string"
                          },
                          "FullName": {
                            "type": "string"
                          },
                          "LastCommunicationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "LastName": {
                            "type": "string"
                          },
                          "LatestInboundSMSID": {
                            "type": "number"
                          },
                          "LatestOutboundSMSID": {
                            "type": "number"
                          },
                          "LatestSMSID": {
                            "type": "number"
                          },
                          "MobileNumber": {
                            "type": "string"
                          },
                          "MobileNumberCountryCode": {
                            "type": "string"
                          },
                          "ModifiedBy": {
                            "type": "number"
                          },
                          "ModifiedByApp": {
                            "type": "number"
                          },
                          "ModifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "OverallRating": {
                            "type": "number"
                          },
                          "Postcode": {
                            "type": "string"
                          },
                          "Source": {
                            "type": "number"
                          },
                          "TotalDistinctLinkClicks": {
                            "type": "number"
                          },
                          "TotalFailedSMS": {
                            "type": "number"
                          },
                          "TotalInboundSMS": {
                            "type": "number"
                          },
                          "TotalLinksSent": {
                            "type": "number"
                          },
                          "TotalOutboundSMS": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/create-tag": {
      "post": {
        "operationId": "txtSync.create-tag",
        "summary": "Create Tag",
        "description": "Creates a new tag in TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/create-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Unique tag name."
                  },
                  "contactIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional contact IDs to subscribe to the new tag."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CreatedBy": {
                            "type": "number"
                          },
                          "CreatedByApp": {
                            "type": "number"
                          },
                          "CreatedByAppName": {
                            "type": "string"
                          },
                          "CreatedByName": {
                            "type": "string"
                          },
                          "CreatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ModifiedBy": {
                            "type": "number"
                          },
                          "ModifiedByApp": {
                            "type": "number"
                          },
                          "ModifiedByAppName": {
                            "type": "string"
                          },
                          "ModifiedByName": {
                            "type": "string"
                          },
                          "ModifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "TagID": {
                            "type": "number"
                          },
                          "Type": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/delete-contact": {
      "delete": {
        "operationId": "txtSync.delete-contact",
        "summary": "Delete Contact",
        "description": "Deletes an existing contact from TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/delete-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Contact identifier.",
            "schema": {
              "type": "number",
              "description": "Contact identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/delete-tag": {
      "delete": {
        "operationId": "txtSync.delete-tag",
        "summary": "Delete Tag",
        "description": "Deletes an existing tag from TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/delete-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Tag identifier.",
            "schema": {
              "type": "number",
              "description": "Tag identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/get-campaign": {
      "get": {
        "operationId": "txtSync.get-campaign",
        "summary": "Get Campaign",
        "description": "Retrieves a specific campaign from TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/get-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActivatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CampaignID": {
                            "type": "number"
                          },
                          "CostGBP": {
                            "type": "number"
                          },
                          "CostLocal": {
                            "type": "number"
                          },
                          "CreatedBy": {
                            "type": "number"
                          },
                          "CreatedByApp": {
                            "type": "number"
                          },
                          "CreatedByAppName": {
                            "type": "string"
                          },
                          "CreatedByName": {
                            "type": "string"
                          },
                          "CreatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CurrencyCode": {
                            "type": "string"
                          },
                          "CustomerNumber": {
                            "type": "string"
                          },
                          "IncludeWebOptOut": {
                            "type": "boolean"
                          },
                          "IsSharedNumber": {
                            "type": "boolean"
                          },
                          "LastSentSMSDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ModifiedBy": {
                            "type": "number"
                          },
                          "ModifiedByApp": {
                            "type": "number"
                          },
                          "ModifiedByAppName": {
                            "type": "string"
                          },
                          "ModifiedByName": {
                            "type": "string"
                          },
                          "ModifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "NumberID": {
                            "type": "number"
                          },
                          "ProcessedContacts": {
                            "type": "number"
                          },
                          "ScheduledDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Status": {
                            "type": "number"
                          },
                          "TextMessage": {
                            "type": "string"
                          },
                          "TotalContacts": {
                            "type": "number"
                          },
                          "TotalDistinctOpenedLinks": {
                            "type": "number"
                          },
                          "TotalOpenedLinks": {
                            "type": "number"
                          },
                          "TotalReplies": {
                            "type": "number"
                          },
                          "TrackReplies": {
                            "type": "boolean"
                          },
                          "Type": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/get-campaign-report": {
      "get": {
        "operationId": "txtSync.get-campaign-report",
        "summary": "Get Campaign Report",
        "description": "Retrieves a campaign report from TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/get-campaign-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActivatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CampaignCost": {
                            "type": "number"
                          },
                          "CurrencyCode": {
                            "type": "string"
                          },
                          "DeliveredCount": {
                            "type": "number"
                          },
                          "FailedCount": {
                            "type": "number"
                          },
                          "FrozenCount": {
                            "type": "number"
                          },
                          "LastSentSMSDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Name": {
                            "type": "string"
                          },
                          "PendingCount": {
                            "type": "number"
                          },
                          "QueuedCount": {
                            "type": "number"
                          },
                          "RecipientCount": {
                            "type": "number"
                          },
                          "SentCount": {
                            "type": "number"
                          },
                          "TotalDistinctOpenedLinks": {
                            "type": "number"
                          },
                          "TotalOpenedLinks": {
                            "type": "number"
                          },
                          "TotalReplies": {
                            "type": "number"
                          },
                          "TrackReplies": {
                            "type": "boolean"
                          },
                          "UndeliveredCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/get-contact": {
      "get": {
        "operationId": "txtSync.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a specific contact from TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Contact identifier.",
            "schema": {
              "type": "number",
              "description": "Contact identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "type": "string"
                          },
                          "AddressLine2": {
                            "type": "string"
                          },
                          "AllowSMS": {
                            "type": "boolean"
                          },
                          "City": {
                            "type": "string"
                          },
                          "CompanyName": {
                            "type": "string"
                          },
                          "ContactID": {
                            "type": "number"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "CountryCode": {
                            "type": "string"
                          },
                          "County": {
                            "type": "string"
                          },
                          "CreatedBy": {
                            "type": "number"
                          },
                          "CreatedByApp": {
                            "type": "number"
                          },
                          "CreatedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DateOfBirth": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "EmailAddress": {
                            "type": "string"
                          },
                          "ExternalReference": {
                            "type": "string"
                          },
                          "FirstName": {
                            "type": "string"
                          },
                          "FullName": {
                            "type": "string"
                          },
                          "LastCommunicationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "LastName": {
                            "type": "string"
                          },
                          "LatestInboundSMSID": {
                            "type": "number"
                          },
                          "LatestOutboundSMSID": {
                            "type": "number"
                          },
                          "LatestSMSID": {
                            "type": "number"
                          },
                          "MobileNumber": {
                            "type": "string"
                          },
                          "MobileNumberCountryCode": {
                            "type": "string"
                          },
                          "ModifiedBy": {
                            "type": "number"
                          },
                          "ModifiedByApp": {
                            "type": "number"
                          },
                          "ModifiedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "OverallRating": {
                            "type": "number"
                          },
                          "Postcode": {
                            "type": "string"
                          },
                          "Source": {
                            "type": "number"
                          },
                          "TotalDistinctLinkClicks": {
                            "type": "number"
                          },
                          "TotalFailedSMS": {
                            "type": "number"
                          },
                          "TotalInboundSMS": {
                            "type": "number"
                          },
                          "TotalLinksSent": {
                            "type": "number"
                          },
                          "TotalOutboundSMS": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/txtSync/latest/actions/get-system-report": {
      "get": {
        "operationId": "txtSync.get-system-report",
        "summary": "Get System Report",
        "description": "Retrieves the system report from TxtSync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/txtSync/latest/actions/get-system-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balanceGBP": {
                            "type": "number"
                          },
                          "billingDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "campaigns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contactRatingDistribution": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isEnterpriseSupport": {
                            "type": "boolean"
                          },
                          "isPremiumSupport": {
                            "type": "boolean"
                          },
                          "monthlyTotals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "optedIn": {
                            "type": "number"
                          },
                          "optedOut": {
                            "type": "number"
                          },
                          "supportPlanDowngradeOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "tagDistribution": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "totalCampaigns": {
                            "type": "number"
                          },
                          "totalContacts": {
                            "type": "number"
                          },
                          "totalFrozenOutboundMessages": {
                            "type": "number"
                          },
                          "totalInboundCampaignMessages": {
                            "type": "number"
                          },
                          "totalInboundCampaignSegments": {
                            "type": "number"
                          },
                          "totalInboundMessages": {
                            "type": "number"
                          },
                          "totalInboundSegments": {
                            "type": "number"
                          },
                          "totalMessages": {
                            "type": "number"
                          },
                          "totalOutboundCampaignMessages": {
                            "type": "number"
                          },
                          "totalOutboundCampaignSegments": {
                            "type": "number"
                          },
                          "totalOutboundMessages": {
                            "type": "number"
                          },
                          "totalOutboundSegments": {
                            "type": "number"
                          },
                          "totalScheduledCampaigns": {
                            "type": "number"
                          },
                          "totalSegments": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
[...]
