{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Airtable Universal API",
    "version": "0.0.123",
    "description": "Build apps, organize data, automate workflows, and collaborate across teams."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/airtable/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/airtable/latest/actions/create-record": {
      "post": {
        "operationId": "airtable.create-record",
        "summary": "Create Record",
        "description": "Creates a new record in a specific Airtable table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/create-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "baseId",
                  "tableId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "baseId": {
                    "type": "string"
                  },
                  "tableId": {
                    "type": "string"
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "addToShopify": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "condition": {
                                "type": "string"
                              },
                              "displayPrice": {
                                "type": "string"
                              },
                              "ebayListingStatusLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "fxPictureCount": {
                                "type": "number"
                              },
                              "inventoryCount": {
                                "type": "number"
                              },
                              "inventoryCountLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "inventoryOrDropShip": {
                                "type": "string"
                              },
                              "lastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "productLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "sku": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "viewRecord": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airtable/latest/actions/create-table": {
      "post": {
        "operationId": "airtable.create-table",
        "summary": "Create Table",
        "description": "Creates a new table in a specific Airtable base.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/create-table"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "baseId",
                  "name",
                  "fields[]",
                  "fields[].name",
                  "fields[].type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "baseId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "fields[].name": {
                    "type": "string"
                  },
                  "fields[].type": {
                    "type": "string",
                    "enum": [
                      "aiText",
                      "autoNumber",
                      "barcode",
                      "button",
                      "checkbox",
                      "count",
                      "createdBy",
                      "createdTime",
                      "currency",
                      "date",
                      "dateTime",
                      "duration",
                      "email",
                      "externalSyncSource",
                      "formula",
                      "lastModifiedBy",
                      "lastModifiedTime",
                      "lookup",
                      "multilineText",
                      "multipleAttachments",
                      "multipleCollaborators",
                      "multipleRecordLinks",
                      "multipleSelects",
                      "number",
                      "percent",
                      "phoneNumber",
                      "rating",
                      "richText",
                      "rollup",
                      "singleCollaborator",
                      "singleLineText",
                      "singleSelect",
                      "url"
                    ]
                  },
                  "fields[].description": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "fields[].options": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "primaryFieldId": {
                            "type": "string"
                          },
                          "views": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airtable/latest/actions/get-record": {
      "get": {
        "operationId": "airtable.get-record",
        "summary": "Get Record",
        "description": "Retrieves a specific record from an Airtable table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/get-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseId",
            "in": "query",
            "required": true,
            "description": "To get this value, check this doc https://airtable.com/developers/web/api/list-bases",
            "schema": {
              "type": "string",
              "description": "To get this value, check this doc https://airtable.com/developers/web/api/list-bases"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The ID of the Airtable Record to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the Airtable Record to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "addToShopify": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "category1": {
                                "type": "string"
                              },
                              "condition": {
                                "type": "string"
                              },
                              "cost": {
                                "type": "number"
                              },
                              "displayPrice": {
                                "type": "string"
                              },
                              "ebayListingStatusLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "fxPictureCount": {
                                "type": "number"
                              },
                              "hTMLDescription": {
                                "type": "string"
                              },
                              "inventoryCount": {
                                "type": "number"
                              },
                              "inventoryCountLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "inventoryOrDropShip": {
                                "type": "string"
                              },
                              "lastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "listingLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "manufacturer": {
                                "type": "string"
                              },
                              "model": {
                                "type": "string"
                              },
                              "modelNumber": {
                                "type": "string"
                              },
                              "productLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "quickbooksDescription": {
                                "type": "string"
                              },
                              "sellingPrice": {
                                "type": "number"
                              },
                              "shelfLocation": {
                                "type": "string"
                              },
                              "shopifyInventoryItemID": {
                                "type": "string"
                              },
                              "shopifyProductID": {
                                "type": "string"
                              },
                              "shopifyProductStatus": {
                                "type": "string"
                              },
                              "shopifyVariantID": {
                                "type": "string"
                              },
                              "sku": {
                                "type": "string"
                              },
                              "sKUInShopify": {
                                "type": "boolean"
                              },
                              "vendor": {
                                "type": "string"
                              },
                              "warehouseLocation": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "viewRecord": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airtable/latest/actions/list-bases": {
      "get": {
        "operationId": "airtable.list-bases",
        "summary": "List Bases",
        "description": "Retrieves accessible bases from the Airtable account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/list-bases"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "permissionLevel": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airtable/latest/actions/list-records": {
      "get": {
        "operationId": "airtable.list-records",
        "summary": "List Records",
        "description": "Retrieves records from a specific Airtable table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/list-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseId",
            "in": "query",
            "required": true,
            "description": "To get this value, check this doc https://airtable.com/developers/web/api/list-bases",
            "schema": {
              "type": "string",
              "description": "To get this value, check this doc https://airtable.com/developers/web/api/list-bases"
            }
          },
          {
            "name": "filterByFormula",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort[0][field]",
            "in": "query",
            "required": false,
            "description": "Enter a Field name to sort by.",
            "schema": {
              "type": "string",
              "description": "Enter a Field name to sort by."
            }
          },
          {
            "name": "sort[0][direction]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "attachmentSummary": {
                                "type": "object",
                                "properties": {
                                  "errorType": {
                                    "type": "string"
                                  },
                                  "isStale": {
                                    "type": "boolean"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "viewRecord": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airtable/latest/actions/list-records-compact": {
      "get": {
        "operationId": "airtable.list-records-compact",
        "summary": "List Records - Compact",
        "description": "Retrieves selected fields from records in a specific Airtable table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/list-records-compact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterByFormula",
            "in": "query",
            "required": false,
            "description": "Leave blank to return all records in this table. If the record has a blank value for one of the fields specified below, the field is omitted from the response. Wrap column names in curly brackets ({}) and use single quotes ('') to wrap string and date values.\n\nExample: {SKU} = '12345'",
            "schema": {
              "type": "string",
              "description": "Leave blank to return all records in this table. If the record has a blank value for one of the fields specified below, the field is omitted from the response. Wrap column names in curly brackets ({}) and use single quotes ('') to wrap string and date values.\n\nExample: {SKU} = '12345'"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "description": "The Field Names or Field Id to return in the response. (case-sensitive)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The Field Names or Field Id to return in the response. (case-sensitive)"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "manufacturer": {
                                "type": "string"
                              },
                              "sku": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "viewRecord": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airtable/latest/actions/update-multiple-records": {
      "put": {
        "operationId": "airtable.update-multiple-records",
        "summary": "Update Multiple Records",
        "description": "Updates multiple records in a specific Airtable table, or upserts them when enabled.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/update-multiple-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "baseId",
                  "tableIdOrName",
                  "records[]",
                  "records[].fields"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "baseId": {
                    "type": "string"
                  },
                  "tableIdOrName": {
                    "type": "string"
                  },
                  "records[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Airtable records array (max 10). Each item must include an id and a fields object."
                  },
                  "records[].id": {
                    "type": "string",
                    "description": "Airtable record ID (rec...). Row number is not accepted.",
                    "example": "recXXXXXXXXXXXXXX (required for updates; get from List Records)"
                  },
                  "records[].fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON object with field names as keys, e.g. {\"name\":\"Updated\"}."
                  },
                  "typecast": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "returnFieldsByFieldId": {
                    "type": "boolean",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "performUpsert": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "performUpsert.fieldsToMergeOn[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airtable/latest/actions/update-record": {
      "put": {
        "operationId": "airtable.update-record",
        "summary": "Update Record",
        "description": "Updates a record in a specific Airtable table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airtable/latest/actions/update-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "baseId",
                  "tableId",
                  "recordId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "baseId": {
                    "type": "string"
                  },
                  "tableId": {
                    "type": "string"
                  },
                  "recordId": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "addToShopify": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "condition": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "displayPrice": {
                                "type": "string"
                              },
                              "ebayListingStatusLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "fxActiveChannels": {
                                "type": "string"
                              },
                              "fxCleanSKU": {
                                "type": "string"
                              },
                              "fxDescLength": {
                                "type": "number"
                              },
                              "fxDescLengthStatus": {
                                "type": "string"
                              },
                              "fxEbayRequirements": {
                                "type": "string"
                              },
                              "fxEbayTitle": {
                                "type": "string"
                              },
                              "fxEbayTitleLength": {
                                "type": "string"
                              },
                              "fxEbayTitleLengthValue": {
                                "type": "string"
                              },
                              "fxIsEbaySKUMatchingSKU": {
                                "type": "string"
                              },
                              "fxMindCloudStatus": {
                                "type": "string"
                              },
                              "fxModelLength": {
                                "type": "string"
                              },
                              "fxPictureCount": {
                                "type": "number"
                              },
                              "fxPicturesStatus": {
                                "type": "string"
                              },
                              "fxProductTitle": {
                                "type": "string"
                              },
                              "fxProductTitleStatus": {
                                "type": "string"
                              },
                              "fxQBODescLenStatus": {
                                "type": "string"
                              },
                              "fxRecordStatus": {
                                "type": "string"
                              },
                              "fxShouldSyncEbay": {
                                "type": "string"
                              },
                              "fxSKUCount": {
                                "type": "number"
                              },
                              "fxSKUStatus": {
                                "type": "string"
                              },
                              "inventoryCount": {
                                "type": "number"
                              },
                              "inventoryCountLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "inventoryOrDropShip": {
                                "type": "string"
                              },
                              "lastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "listingLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "manufacturer": {
                                "type": "string"
                              },
                              "model": {
                                "type": "string"
                              },
                              "modelNumber": {
                                "type": "string"
                              },
                              "picturesLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "pipeDriveFieldsLastModified": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "pipedriveProductID": {
                                "type": "string"
                              },
                              "pipeDriveStatus": {
                                "type": "string"
                              },
                              "productLastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "productName": {
                                "type": "string"
                              },
                              "quickBooksFieldsLastModified": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "quickBooksStatus": {
                                "type": "string"
                              },
                              "shopifyProductStatus": {
                                "type": "string"
                              },
                              "sku": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "viewRecord": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
