{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Airwallex Universal API",
    "version": "0.0.9",
    "description": "Manage balances, beneficiaries, transfers, and payment links"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/airwallex/latest/actions/create-transfer": {
      "post": {
        "operationId": "airwallex.create-transfer",
        "summary": "Create Transfer",
        "description": "Creates a new payout transfer in Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/create-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "beneficiaryId",
                  "transferAmount",
                  "transferCurrency",
                  "transferMethod",
                  "reason",
                  "reference",
                  "requestId",
                  "sourceCurrency",
                  "lockRateOnCreate",
                  "transferDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "beneficiaryId": {
                    "type": "string",
                    "description": "The saved Airwallex beneficiary ID to pay."
                  },
                  "transferAmount": {
                    "type": "string",
                    "description": "The amount to send to the beneficiary."
                  },
                  "transferCurrency": {
                    "type": "string",
                    "description": "The payout currency, such as USD."
                  },
                  "transferMethod": {
                    "type": "string",
                    "description": "The payout transfer method, such as LOCAL."
                  },
                  "reason": {
                    "type": "string",
                    "description": "The transfer purpose or payout reason."
                  },
                  "reference": {
                    "type": "string",
                    "description": "A transfer reference visible to the payer."
                  },
                  "requestId": {
                    "type": "string",
                    "description": "A unique idempotency key for the transfer request."
                  },
                  "sourceCurrency": {
                    "type": "string",
                    "description": "The source wallet currency used to fund the payout."
                  },
                  "lockRateOnCreate": {
                    "type": "boolean",
                    "description": "Whether to lock the FX rate at creation time."
                  },
                  "transferDate": {
                    "type": "string",
                    "description": "The scheduled transfer date in YYYY-MM-DD format."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountBeneficiaryReceives": {
                            "type": "number"
                          },
                          "amountPayerPays": {
                            "type": "number"
                          },
                          "beneficiary": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "personalIdNumber": {
                                    "type": "string"
                                  },
                                  "personalIdType": {
                                    "type": "string"
                                  },
                                  "personalMobileNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "bankDetails": {
                                "type": "object",
                                "properties": {
                                  "accountCurrency": {
                                    "type": "string"
                                  },
                                  "accountName": {
                                    "type": "string"
                                  },
                                  "accountNumber": {
                                    "type": "string"
                                  },
                                  "accountRoutingType1": {
                                    "type": "string"
                                  },
                                  "accountRoutingValue1": {
                                    "type": "string"
                                  },
                                  "bankAccountCategory": {
                                    "type": "string"
                                  },
                                  "bankCountryCode": {
                                    "type": "string"
                                  },
                                  "bankName": {
                                    "type": "string"
                                  },
                                  "localClearingSystem": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "entityType": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "beneficiaryId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "feeAmount": {
                            "type": "number"
                          },
                          "feeCurrency": {
                            "type": "string"
                          },
                          "feePaidBy": {
                            "type": "string"
                          },
                          "funding": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "payer": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "businessIncorporationDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "businessRegistrationNumber": {
                                    "type": "string"
                                  },
                                  "businessRegistrationType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "companyName": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "reason": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "shortReferenceId": {
                            "type": "string"
                          },
                          "sourceAmount": {
                            "type": "number"
                          },
                          "sourceCurrency": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "swiftChargeOption": {
                            "type": "string"
                          },
                          "transferAmount": {
                            "type": "number"
                          },
                          "transferCurrency": {
                            "type": "string"
                          },
                          "transferDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "transferMethod": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/get-beneficiary-by-id": {
      "get": {
        "operationId": "airwallex.get-beneficiary-by-id",
        "summary": "Get Beneficiary by ID",
        "description": "Retrieves a beneficiary by ID from Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/get-beneficiary-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beneficiaryId",
            "in": "query",
            "required": true,
            "description": "The Airwallex beneficiary ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The Airwallex beneficiary ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "beneficiary": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "personalIdNumber": {
                                    "type": "string"
                                  },
                                  "personalIdType": {
                                    "type": "string"
                                  },
                                  "personalMobileNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "bankDetails": {
                                "type": "object",
                                "properties": {
                                  "accountCurrency": {
                                    "type": "string"
                                  },
                                  "accountName": {
                                    "type": "string"
                                  },
                                  "accountNumber": {
                                    "type": "string"
                                  },
                                  "accountRoutingType1": {
                                    "type": "string"
                                  },
                                  "accountRoutingValue1": {
                                    "type": "string"
                                  },
                                  "bankAccountCategory": {
                                    "type": "string"
                                  },
                                  "bankCountryCode": {
                                    "type": "string"
                                  },
                                  "bankName": {
                                    "type": "string"
                                  },
                                  "localClearingSystem": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "entityType": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "payerEntityType": {
                            "type": "string"
                          },
                          "transferMethods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/get-current-balances": {
      "get": {
        "operationId": "airwallex.get-current-balances",
        "summary": "Get Current Balances",
        "description": "Retrieves current balances for a connected Airwallex account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/get-current-balances"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountType": {
                            "type": "string",
                            "description": "Balance account type, such as cash."
                          },
                          "availableAmount": {
                            "type": "number",
                            "description": "Currently available balance amount."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Balance currency code."
                          },
                          "pendingAmount": {
                            "type": "number",
                            "description": "Pending balance amount."
                          },
                          "prepaymentAmount": {
                            "type": "number",
                            "description": "Prepayment balance amount."
                          },
                          "reservedAmount": {
                            "type": "number",
                            "description": "Reserved balance amount."
                          },
                          "totalAmount": {
                            "type": "number",
                            "description": "Total balance amount."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/get-global-account-by-id": {
      "get": {
        "operationId": "airwallex.get-global-account-by-id",
        "summary": "Get Global Account by ID",
        "description": "Retrieves a global account by ID from Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/get-global-account-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "globalAccountId",
            "in": "query",
            "required": false,
            "description": "The Airwallex global account ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The Airwallex global account ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountName": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string"
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "institution": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zipCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "nickName": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "requiredFeatures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string"
                                },
                                "transferMethod": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "supportedFeatures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string"
                                },
                                "localClearingSystem": {
                                  "type": "string"
                                },
                                "routingCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "transferMethod": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "swiftCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/get-transfer-by-id": {
      "get": {
        "operationId": "airwallex.get-transfer-by-id",
        "summary": "Get Transfer by ID",
        "description": "Retrieves a transfer by ID from Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/get-transfer-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferId",
            "in": "query",
            "required": true,
            "description": "The Airwallex transfer ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The Airwallex transfer ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountBeneficiaryReceives": {
                            "type": "number"
                          },
                          "amountPayerPays": {
                            "type": "number"
                          },
                          "beneficiary": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "personalIdNumber": {
                                    "type": "string"
                                  },
                                  "personalIdType": {
                                    "type": "string"
                                  },
                                  "personalMobileNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "bankDetails": {
                                "type": "object",
                                "properties": {
                                  "accountCurrency": {
                                    "type": "string"
                                  },
                                  "accountName": {
                                    "type": "string"
                                  },
                                  "accountNumber": {
                                    "type": "string"
                                  },
                                  "accountRoutingType1": {
                                    "type": "string"
                                  },
                                  "accountRoutingValue1": {
                                    "type": "string"
                                  },
                                  "bankAccountCategory": {
                                    "type": "string"
                                  },
                                  "bankCountryCode": {
                                    "type": "string"
                                  },
                                  "bankName": {
                                    "type": "string"
                                  },
                                  "localClearingSystem": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "entityType": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "beneficiaryId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "feeAmount": {
                            "type": "number"
                          },
                          "feeCurrency": {
                            "type": "string"
                          },
                          "feePaidBy": {
                            "type": "string"
                          },
                          "funding": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "payer": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "businessIncorporationDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "businessRegistrationNumber": {
                                    "type": "string"
                                  },
                                  "businessRegistrationType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "companyName": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "reason": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "shortReferenceId": {
                            "type": "string"
                          },
                          "sourceAmount": {
                            "type": "number"
                          },
                          "sourceCurrency": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "swiftChargeOption": {
                            "type": "string"
                          },
                          "transferAmount": {
                            "type": "number"
                          },
                          "transferCurrency": {
                            "type": "string"
                          },
                          "transferDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "transferMethod": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/list-beneficiaries": {
      "get": {
        "operationId": "airwallex.list-beneficiaries",
        "summary": "List Beneficiaries",
        "description": "Retrieves saved payout beneficiaries from Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/list-beneficiaries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "beneficiary": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "businessRegistrationNumber": {
                                    "type": "string"
                                  },
                                  "legalRepFirstNameInChinese": {
                                    "type": "string"
                                  },
                                  "legalRepIdNumber": {
                                    "type": "string"
                                  },
                                  "legalRepLastNameInChinese": {
                                    "type": "string"
                                  },
                                  "personalFirstNameInChinese": {
                                    "type": "string"
                                  },
                                  "personalIdNumber": {
                                    "type": "string"
                                  },
                                  "personalIdType": {
                                    "type": "string"
                                  },
                                  "personalLastNameInChinese": {
                                    "type": "string"
                                  },
                                  "personalMobileNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "bankDetails": {
                                "type": "object",
                                "properties": {
                                  "accountCurrency": {
                                    "type": "string"
                                  },
                                  "accountName": {
                                    "type": "string"
                                  },
                                  "accountNumber": {
                                    "type": "string"
                                  },
                                  "accountRoutingType1": {
                                    "type": "string"
                                  },
                                  "accountRoutingType2": {
                                    "type": "string"
                                  },
                                  "accountRoutingValue1": {
                                    "type": "string"
                                  },
                                  "accountRoutingValue2": {
                                    "type": "string"
                                  },
                                  "bankBranch": {
                                    "type": "string"
                                  },
                                  "bankCountryCode": {
                                    "type": "string"
                                  },
                                  "bankName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "entityType": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "payerEntityType": {
                            "type": "string"
                          },
                          "transferMethods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/list-global-accounts": {
      "get": {
        "operationId": "airwallex.list-global-accounts",
        "summary": "List Global Accounts",
        "description": "Retrieves global account records from Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/list-global-accounts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountName": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string"
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "institution": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zipCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "nickName": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "requiredFeatures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string"
                                },
                                "transferMethod": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "supportedFeatures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string"
                                },
                                "localClearingSystem": {
                                  "type": "string"
                                },
                                "routingCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "transferMethod": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "swiftCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/list-supported-beneficiary-banks": {
      "get": {
        "operationId": "airwallex.list-supported-beneficiary-banks",
        "summary": "List Supported Beneficiary Banks",
        "description": "Retrieves supported beneficiary banks from Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/list-supported-beneficiary-banks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankCountryCode",
            "in": "query",
            "required": true,
            "description": "The beneficiary bank country code, such as US.",
            "schema": {
              "type": "string",
              "description": "The beneficiary bank country code, such as US."
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Search keyword for supported financial institutions, minimum 3 characters.",
            "schema": {
              "type": "string",
              "description": "Search keyword for supported financial institutions, minimum 3 characters."
            }
          },
          {
            "name": "accountCurrency",
            "in": "query",
            "required": true,
            "description": "The beneficiary account currency, such as USD.",
            "schema": {
              "type": "string",
              "description": "The beneficiary account currency, such as USD."
            }
          },
          {
            "name": "transferMethod",
            "in": "query",
            "required": true,
            "description": "The payout transfer method, such as LOCAL or SWIFT.",
            "schema": {
              "type": "string",
              "description": "The payout transfer method, such as LOCAL or SWIFT."
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "description": "The beneficiary entity type, such as PERSONAL or COMPANY.",
            "schema": {
              "type": "string",
              "description": "The beneficiary entity type, such as PERSONAL or COMPANY."
            }
          },
          {
            "name": "localClearingSystem",
            "in": "query",
            "required": false,
            "description": "Optional local clearing system, such as ACH.",
            "schema": {
              "type": "string",
              "description": "Optional local clearing system, such as ACH."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "Human-readable beneficiary bank name."
                          },
                          "value": {
                            "type": "string",
                            "description": "Provider bank identifier or routing code value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airwallex/latest/actions/list-transfers": {
      "get": {
        "operationId": "airwallex.list-transfers",
        "summary": "List Transfers",
        "description": "Retrieves payout transfer records from Airwallex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airwallex/latest/actions/list-transfers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromCreatedAt",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound for transfer creation date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Inclusive lower bound for transfer creation date in YYYY-MM-DD format."
            }
          },
          {
            "name": "toCreatedAt",
            "in": "query",
            "required": false,
            "description": "Inclusive upper bound for transfer creation date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Inclusive upper bound for transfer creation date in YYYY-MM-DD format."
            }
          },
          {
            "name": "transferCurrency",
            "in": "query",
            "required": false,
            "description": "Filter transfers by payout currency.",
            "schema": {
              "type": "string",
              "description": "Filter transfers by payout currency."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter transfers by transfer status.",
            "schema": {
              "type": "string",
              "description": "Filter transfers by transfer status."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountBeneficiaryReceives": {
                            "type": "number"
                          },
                          "amountPayerPays": {
                            "type": "number"
                          },
                          "beneficiary": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "personalIdNumber": {
                                    "type": "string"
                                  },
                                  "personalIdType": {
                                    "type": "string"
                                  },
                                  "personalMobileNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "bankDetails": {
                                "type": "object",
                                "properties": {
                                  "accountCurrency": {
                                    "type": "string"
                                  },
                                  "accountName": {
                                    "type": "string"
                                  },
                                  "accountNumber": {
                                    "type": "string"
                                  },
                                  "accountRoutingType1": {
                                    "type": "string"
                                  },
                                  "accountRoutingValue1": {
                                    "type": "string"
                                  },
                                  "bankAccountCategory": {
                                    "type": "string"
                                  },
                                  "bankCountryCode": {
                                    "type": "string"
                                  },
                                  "bankName": {
                                    "type": "string"
                                  },
                                  "localClearingSystem": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "entityType": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "beneficiaryId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "feeAmount": {
                            "type": "number"
                          },
                          "feeCurrency": {
                            "type": "string"
                          },
                          "feePaidBy": {
                            "type": "string"
                          },
                          "funding": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "payer": {
                            "type": "object",
                            "properties": {
                              "additionalInfo": {
                                "type": "object",
                                "properties": {
                                  "businessIncorporationDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "businessRegistrationNumber": {
                                    "type": "string"
                                  },
                                  "businessRegistrationType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "streetAddress": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "companyName": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "reason": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "remarks": {
[...]
