{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Awork Universal API",
    "version": "0.0.9",
    "description": "Work management platform for projects, tasks, users, companies, documents, time tracking, and workload planning."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/awork/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/awork/latest/actions/create-project": {
      "post": {
        "operationId": "awork.create-project",
        "summary": "Create Project",
        "description": "Creates a project in Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the project.",
                    "example": "MindCloud API project validation 2026-03-20"
                  },
                  "description": {
                    "type": "string",
                    "description": "The project description.",
                    "example": "Created by MindCloud during Awork action validation."
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Whether the project is private."
                  },
                  "companyId": {
                    "type": "string",
                    "description": "The id of the company linked to the project.",
                    "example": "mkprqomdmlhq",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deductNonBillableHours": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "hasImage": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isBillableByDefault": {
                            "type": "boolean"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "isMultiAssignmentAllowed": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "isRetainer": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plannedDuration": {
                            "type": "number"
                          },
                          "projectKey": {
                            "type": "string"
                          },
                          "projectStatus": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "isArchived": {
                                "type": "boolean"
                              },
                              "isExternal": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "typeOrder": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectStatusId": {
                            "type": "string"
                          },
                          "resourceVersion": {
                            "type": "number"
                          },
                          "tasksCount": {
                            "type": "number"
                          },
                          "tasksDoneCount": {
                            "type": "number"
                          },
                          "timeBudget": {
                            "type": "number"
                          },
                          "totalPlannedDurationWithHierarchy": {
                            "type": "number"
                          },
                          "trackedDuration": {
                            "type": "number"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/create-task": {
      "post": {
        "operationId": "awork.create-task",
        "summary": "Create Task",
        "description": "Creates a task in Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "baseType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the task."
                  },
                  "baseType": {
                    "type": "string",
                    "description": "Use private for a private task or projecttask for a project task.",
                    "example": "projecttask"
                  },
                  "entityId": {
                    "type": "string",
                    "description": "Required for project tasks and must be the project ID.",
                    "example": "19da7493-7e95-499e-b0c3-3cfba6444bd0"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the task.",
                    "example": "Created by MindCloud during Awork action validation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "baseType": {
                            "type": "string"
                          },
                          "checklistItemsCount": {
                            "type": "number"
                          },
                          "checklistItemsDoneCount": {
                            "type": "number"
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "correlationId": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "deriveDatesFromSubtasks": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "entityId": {
                            "type": "string"
                          },
                          "hasAttachment": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isCompletelyScheduled": {
                            "type": "boolean"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "isHiddenForConnectUsers": {
                            "type": "boolean"
                          },
                          "isPrio": {
                            "type": "boolean"
                          },
                          "isRecurring": {
                            "type": "boolean"
                          },
                          "isSubtask": {
                            "type": "boolean"
                          },
                          "laneOrder": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfSubtasks": {
                            "type": "number"
                          },
                          "order": {
                            "type": "number"
                          },
                          "plannedDuration": {
                            "type": "number"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "createdBy": {
                                "type": "string"
                              },
                              "hasImage": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isBillableByDefault": {
                                "type": "boolean"
                              },
                              "isExternal": {
                                "type": "boolean"
                              },
                              "isPrivate": {
                                "type": "boolean"
                              },
                              "members": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "isExternal": {
                                      "type": "boolean"
                                    },
                                    "isResponsible": {
                                      "type": "boolean"
                                    },
                                    "projectRoleId": {
                                      "type": "string"
                                    },
                                    "projectRoleName": {
                                      "type": "string"
                                    },
                                    "userId": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "projectKey": {
                                "type": "string"
                              },
                              "projectStatus": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "isArchived": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "resourceVersion": {
                            "type": "number"
                          },
                          "taskIdentifier": {
                            "type": "string"
                          },
                          "taskNumber": {
                            "type": "number"
                          },
                          "taskSchedulesCount": {
                            "type": "number"
                          },
                          "taskStatus": {
                            "type": "object",
                            "properties": {
                              "createdBy": {
                                "type": "string"
                              },
                              "createdOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "order": {
                                "type": "number"
                              },
                              "projectId": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedBy": {
                                "type": "string"
                              },
                              "updatedOn": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "taskStatusId": {
                            "type": "string"
                          },
                          "totalPlannedDurationWithHierarchy": {
                            "type": "number"
                          },
                          "trackedDuration": {
                            "type": "number"
                          },
                          "typeOfWork": {
                            "type": "object",
                            "properties": {
                              "icon": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isArchived": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "typeOfWorkId": {
                            "type": "string"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/create-task-comment": {
      "post": {
        "operationId": "awork.create-task-comment",
        "summary": "Create Task Comment",
        "description": "Creates a task comment in Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/create-task-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId",
                  "message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "string",
                    "description": "The id of the task."
                  },
                  "message": {
                    "type": "string",
                    "description": "The message of the comment.",
                    "example": "Hey team, the customer loved the latest designs!"
                  },
                  "previews": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The preview URLs to show a preview for."
                  },
                  "inReplyToCommentId": {
                    "type": "string",
                    "description": "The parent comment this comment replies to.",
                    "x-mindcloud-advanced": true
                  },
                  "userId": {
                    "type": "string",
                    "description": "The id of the user who created the comment. If omitted, Awork defaults to the current user.",
                    "x-mindcloud-advanced": true
                  },
                  "isHiddenForConnectUsers": {
                    "type": "boolean",
                    "description": "Whether the comment is hidden for connect users. If omitted, Awork keeps the default visible behavior.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "entity": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "entityId": {
                            "type": "string"
                          },
                          "entityType": {
                            "type": "string"
                          },
                          "formattedMessage": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHiddenForConnectUsers": {
                            "type": "boolean"
                          },
                          "mentions": {
                            "type": "object",
                            "properties": {
                              "everyUserHadPermissions": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "plainFormattedMessage": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resourceVersion": {
                            "type": "number"
                          },
                          "task": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string"
                              },
                              "hasImage": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isExternal": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/create-time-entry": {
      "post": {
        "operationId": "awork.create-time-entry",
        "summary": "Create Time Entry",
        "description": "Creates a time entry in Awork using UTC start values.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/create-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "timezone",
                  "typeOfWorkId",
                  "userId",
                  "startDateUtc"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "The original timezone of the time entry in IANA format.",
                    "example": "UTC"
                  },
                  "typeOfWorkId": {
                    "type": "string",
                    "description": "The id of the type of work.",
                    "example": "7de34769-ae34-482f-97ab-295f9660ee2f"
                  },
                  "userId": {
                    "type": "string",
                    "description": "The id of the user.",
                    "example": "4ac8d1d3-64ca-4db7-b7e5-32226661cd76"
                  },
                  "taskId": {
                    "type": "string",
                    "description": "The id of the task.",
                    "example": "19e8e816-5618-4e35-a684-e8b2853f9a28"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The id of the project.",
                    "x-mindcloud-advanced": true
                  },
                  "startDateUtc": {
                    "type": "string",
                    "description": "The date in UTC when the time entry was started.",
                    "example": "2026-03-20T00:00:00Z"
                  },
                  "startTimeUtc": {
                    "type": "string",
                    "description": "The time in UTC when the time entry was started.",
                    "example": "22:30:00"
                  },
                  "duration": {
                    "type": "number",
                    "description": "The duration of the time entry in seconds.",
                    "example": 600
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "endDateLocal": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endTimeLocal": {
                            "type": "string"
                          },
                          "endTimeUtc": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isBillable": {
                            "type": "boolean"
                          },
                          "isBilled": {
                            "type": "boolean"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "createdBy": {
                                "type": "string"
                              },
                              "hasImage": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isBillableByDefault": {
                                "type": "boolean"
                              },
                              "isExternal": {
                                "type": "boolean"
                              },
                              "isPrivate": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "projectKey": {
                                "type": "string"
                              },
                              "projectStatus": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "isArchived": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "resourceVersion": {
                            "type": "number"
                          },
                          "startDateLocal": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "startDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "startTimeLocal": {
                            "type": "string"
                          },
                          "startTimeUtc": {
                            "type": "string"
                          },
                          "task": {
                            "type": "object",
                            "properties": {
                              "baseType": {
                                "type": "string"
                              },
                              "correlationId": {
                                "type": "string"
                              },
                              "createdBy": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lists": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdBy": {
                                      "type": "string"
                                    },
                                    "createdOn": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "isArchived": {
                                      "type": "boolean"
                                    },
                                    "isHiddenForConnectUsers": {
                                      "type": "boolean"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "order": {
                                      "type": "number"
                                    },
                                    "orderOfTask": {
                                      "type": "number"
                                    },
                                    "plannedDuration": {
                                      "type": "number"
                                    },
                                    "totalPlannedDuration": {
                                      "type": "number"
                                    },
                                    "totalPlannedDurationWithHierarchy": {
                                      "type": "number"
                                    },
                                    "updatedBy": {
                                      "type": "string"
                                    },
                                    "updatedOn": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "plannedDuration": {
                                "type": "number"
                              },
                              "primaryTaskListId": {
                                "type": "string"
                              },
                              "project": {
                                "type": "object",
                                "properties": {
                                  "createdBy": {
                                    "type": "string"
                                  },
                                  "hasImage": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "isBillableByDefault": {
                                    "type": "boolean"
                                  },
                                  "isExternal": {
                                    "type": "boolean"
                                  },
                                  "isPrivate": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "projectKey": {
                                    "type": "string"
                                  },
                                  "projectStatus": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "isArchived": {
                                        "type": "boolean"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "projectId": {
                                "type": "string"
                              },
                              "taskIdentifier": {
                                "type": "string"
                              },
                              "taskStatus": {
                                "type": "object",
                                "properties": {
                                  "icon": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "order": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "taskStatusId": {
                                "type": "string"
                              },
                              "totalPlannedDurationWithHierarchy": {
                                "type": "number"
                              },
                              "typeOfWorkId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "typeOfWork": {
                            "type": "object",
                            "properties": {
                              "icon": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isArchived": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "typeOfWorkId": {
                            "type": "string"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string"
                              },
                              "hasImage": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isExternal": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/get-company": {
      "get": {
        "operationId": "awork.get-company",
        "summary": "Get Company",
        "description": "Retrieves a company from Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "The id of the company.",
            "schema": {
              "type": "string",
              "description": "The id of the company."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasImage": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "projectsCount": {
                            "type": "number"
                          },
                          "projectsInProgressCount": {
                            "type": "number"
                          },
                          "resourceVersion": {
                            "type": "number"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/get-current-user": {
      "get": {
        "operationId": "awork.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hasImage": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isDeactivated": {
                            "type": "boolean"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "resourceVersion": {
                            "type": "number"
                          },
                          "shouldMigrateToConnect": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "invitationAccepted": {
                                "type": "boolean"
                              },
                              "isDeactivated": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userContactInfos": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdBy": {
                                  "type": "string"
                                },
                                "createdOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isAddress": {
                                  "type": "boolean"
                                },
                                "subType": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "updatedBy": {
                                  "type": "string"
                                },
                                "updatedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "workspace": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/get-document": {
      "get": {
        "operationId": "awork.get-document",
        "summary": "Get Document",
        "description": "Retrieves a document from Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "The id of the document.",
            "schema": {
              "type": "string",
              "description": "The id of the document."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currentDocumentVersionId": {
                            "type": "string"
                          },
                          "documentSpace": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "createdBy": {
                                "type": "string"
                              },
                              "createdOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "emoji": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "order": {
                                "type": "number"
                              },
                              "updatedBy": {
                                "type": "string"
                              },
                              "updatedOn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "workspaceAccessLevel": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "documentSpaceId": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "isHiddenForConnectUsers": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "rootDocumentCreatedBy": {
                            "type": "string"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/get-project": {
      "get": {
        "operationId": "awork.get-project",
        "summary": "Get Project",
        "description": "Retrieves a project from Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The id of the project.",
            "schema": {
              "type": "string",
              "description": "The id of the project."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deductNonBillableHours": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasImage": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isBillableByDefault": {
                            "type": "boolean"
                          },
                          "isExternal": {
                            "type": "boolean"
                          },
                          "isMultiAssignmentAllowed": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "isRetainer": {
                            "type": "boolean"
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "firstName": {
                                  "type": "string"
                                },
                                "hasImage": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isDeactivated": {
                                  "type": "boolean"
                                },
                                "isExternal": {
                                  "type": "boolean"
                                },
                                "isResponsible": {
                                  "type": "boolean"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "projectRoleId": {
                                  "type": "string"
                                },
                                "projectRoleName": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "plannedDuration": {
                            "type": "number"
                          },
                          "projectKey": {
                            "type": "string"
                          },
                          "projectStatus": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "isArchived": {
                                "type": "boolean"
                              },
                              "isExternal": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "typeOrder": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectStatusId": {
                            "type": "string"
                          },
                          "resourceVersion": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "tasksCount": {
                            "type": "number"
                          },
                          "tasksDoneCount": {
                            "type": "number"
                          },
                          "timeBudget": {
                            "type": "number"
                          },
                          "totalPlannedDurationWithHierarchy": {
                            "type": "number"
                          },
                          "trackedDuration": {
                            "type": "number"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/awork/latest/actions/get-task": {
      "get": {
        "operationId": "awork.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from Awork.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/awork/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The id of the task.",
            "schema": {
              "type": "string",
              "description": "The id of the task."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
[...]
