{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Projects Universal API",
    "version": "0.0.6",
    "description": "Manage Zoho Projects portals, projects, task lists, tasks, issues, and users through the Zoho Projects V3 API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoProjects/latest/actions/create-issue": {
      "post": {
        "operationId": "zohoProjects.create-issue",
        "summary": "Create Issue",
        "description": "Creates a new issue in Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/create-issue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalId",
                  "projectId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalId": {
                    "type": "string",
                    "description": "Zoho Projects portal ID."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Zoho Projects project ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Issue title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Issue description."
                  },
                  "flag": {
                    "type": "string",
                    "description": "Issue visibility flag."
                  },
                  "associatedTeams.id": {
                    "type": "string",
                    "description": "Associated team ID."
                  },
                  "assignee.zpuid": {
                    "type": "string",
                    "description": "Assignee ZPUID."
                  },
                  "status.id": {
                    "type": "string",
                    "description": "Issue status ID."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Issue due date."
                  },
                  "releaseMilestone.id": {
                    "type": "string",
                    "description": "Release milestone ID."
                  },
                  "affectedMilestone.id": {
                    "type": "string",
                    "description": "Affected milestone ID."
                  },
                  "severity.id": {
                    "type": "string",
                    "description": "Issue severity ID."
                  },
                  "isItReproducible.id": {
                    "type": "string",
                    "description": "Reproducible value ID."
                  },
                  "classification.id": {
                    "type": "string",
                    "description": "Issue classification ID."
                  },
                  "module.id": {
                    "type": "string",
                    "description": "Issue module ID."
                  },
                  "ratePerHour": {
                    "type": "number",
                    "description": "Billing rate per hour."
                  },
                  "costRatePerHour": {
                    "type": "number",
                    "description": "Cost rate per hour."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addedVia": {
                            "type": "string"
                          },
                          "assignee": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "classification": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "flag": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isItReproducible": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastUpdatedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "module": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "severity": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "colorHexcode": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isClosedType": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/create-project": {
      "post": {
        "operationId": "zohoProjects.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalId": {
                    "type": "string",
                    "description": "Portal identifier from Zoho Projects."
                  },
                  "name": {
                    "type": "string",
                    "description": "Project name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Project description."
                  },
                  "projectType": {
                    "type": "string",
                    "description": "Project type. Accepted values: active, template."
                  },
                  "owner.zpuid": {
                    "type": "string",
                    "description": "ZPUID of the project owner."
                  },
                  "isPublicProject": {
                    "type": "boolean",
                    "description": "Whether the project is public."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Project start date in YYYY-MM-DD format."
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Project end date in YYYY-MM-DD format."
                  },
                  "status.id": {
                    "type": "string",
                    "description": "Project status identifier."
                  },
                  "layout.id": {
                    "type": "string",
                    "description": "Project layout identifier."
                  },
                  "addedVia": {
                    "type": "string",
                    "description": "Source from which the project is added. Accepted values: web, api."
                  },
                  "isRollupProject": {
                    "type": "boolean",
                    "description": "Whether the project is a roll-up project."
                  },
                  "copyFrom": {
                    "type": "string",
                    "description": "Template ID or existing project ID to copy from."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "budgetInfo": {
                            "type": "object",
                            "properties": {
                              "trackingMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "businessHoursId": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isCompleted": {
                            "type": "boolean"
                          },
                          "isPublicProject": {
                            "type": "boolean"
                          },
                          "isRollupProject": {
                            "type": "boolean"
                          },
                          "isStrictProject": {
                            "type": "boolean"
                          },
                          "issues": {
                            "type": "object",
                            "properties": {
                              "closedCount": {
                                "type": "number"
                              },
                              "openCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "key": {
                            "type": "string"
                          },
                          "layout": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "isDefault": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "milestones": {
                            "type": "object",
                            "properties": {
                              "closedCount": {
                                "type": "number"
                              },
                              "openCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "percentComplete": {
                            "type": "number"
                          },
                          "projectGroup": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "colorHexcode": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isClosedType": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "tasks": {
                            "type": "object",
                            "properties": {
                              "closedCount": {
                                "type": "number"
                              },
                              "openCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "updatedBy": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/create-task": {
      "post": {
        "operationId": "zohoProjects.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalId",
                  "projectId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalId": {
                    "type": "string",
                    "description": "Zoho Projects portal ID."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Zoho Projects project ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Task name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description."
                  },
                  "tasklist.id": {
                    "type": "string",
                    "description": "Task list ID."
                  },
                  "parentalInfo.parentTaskId": {
                    "type": "string",
                    "description": "Parent task ID for subtask creation."
                  },
                  "status.id": {
                    "type": "string",
                    "description": "Task status ID."
                  },
                  "priority": {
                    "type": "string",
                    "description": "Task priority."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Task start date."
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Task end date."
                  },
                  "duration.value": {
                    "type": "string",
                    "description": "Task duration value."
                  },
                  "duration.type": {
                    "type": "string",
                    "description": "Task duration unit."
                  },
                  "completionPercentage": {
                    "type": "number",
                    "description": "Task completion percentage."
                  },
                  "billingType": {
                    "type": "string",
                    "description": "Task billing type."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "associationInfo": {
                            "type": "object",
                            "properties": {
                              "hasAttachments": {
                                "type": "boolean"
                              },
                              "hasComments": {
                                "type": "boolean"
                              },
                              "hasForums": {
                                "type": "boolean"
                              },
                              "hasRecurrence": {
                                "type": "boolean"
                              },
                              "hasReminder": {
                                "type": "boolean"
                              },
                              "hasSubtasks": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "billingType": {
                            "type": "string"
                          },
                          "completionPercentage": {
                            "type": "number"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "depth": {
                            "type": "number"
                          },
                          "duration": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isCompleted": {
                            "type": "boolean"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "logHours": {
                            "type": "object",
                            "properties": {
                              "billableHours": {
                                "type": "string"
                              },
                              "nonBillableHours": {
                                "type": "string"
                              },
                              "totalHours": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "milestone": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownersAndWork": {
                            "type": "object",
                            "properties": {
                              "copyTaskDuration": {
                                "type": "boolean"
                              },
                              "owners": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string"
                                    },
                                    "firstName": {
                                      "type": "string"
                                    },
                                    "lastName": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "workValues": {
                                      "type": "string"
                                    },
                                    "zpuid": {
                                      "type": "string"
                                    },
                                    "zuid": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "refreshBusinessHours": {
                                "type": "boolean"
                              },
                              "totalWork": {
                                "type": "string"
                              },
                              "unit": {
                                "type": "string"
                              },
                              "workType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sequence": {
                            "type": "object",
                            "properties": {
                              "sequence": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "colorHexcode": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isClosedType": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "tasklist": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "updatedBy": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/create-task-list": {
      "post": {
        "operationId": "zohoProjects.create-task-list",
        "summary": "Create Task List",
        "description": "Creates a new task list in Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/create-task-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalId",
                  "projectId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalId": {
                    "type": "string",
                    "description": "Portal identifier from Zoho Projects."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Project identifier from Zoho Projects."
                  },
                  "name": {
                    "type": "string",
                    "description": "Task list name."
                  },
                  "milestone.id": {
                    "type": "string",
                    "description": "Associated milestone identifier."
                  },
                  "flag": {
                    "type": "string",
                    "description": "Task list flag. Accepted values: internal, external."
                  },
                  "status": {
                    "type": "string",
                    "description": "Task list status."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "flag": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdatedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "metaInfo": {
                            "type": "object",
                            "properties": {
                              "hasComments": {
                                "type": "boolean"
                              },
                              "isCompleted": {
                                "type": "boolean"
                              },
                              "isGeneral": {
                                "type": "boolean"
                              },
                              "isNoneMilestoneTasklist": {
                                "type": "boolean"
                              },
                              "isRolled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "milestone": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "sequence": {
                            "type": "object",
                            "properties": {
                              "milestoneSequence": {
                                "type": "number"
                              },
                              "projectSequence": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/delete-issue": {
      "delete": {
        "operationId": "zohoProjects.delete-issue",
        "summary": "Delete Issue",
        "description": "Deletes an existing issue from Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/delete-issue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects portal ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects portal ID."
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects project ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects project ID."
            }
          },
          {
            "name": "issueId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects issue ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects issue ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/delete-task": {
      "delete": {
        "operationId": "zohoProjects.delete-task",
        "summary": "Delete Task",
        "description": "Deletes an existing task from Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/delete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects portal ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects portal ID."
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects project ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects project ID."
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects task ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects task ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/delete-task-list": {
      "delete": {
        "operationId": "zohoProjects.delete-task-list",
        "summary": "Delete Task List",
        "description": "Deletes an existing task list from Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/delete-task-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalId",
            "in": "query",
            "required": true,
            "description": "Portal identifier from Zoho Projects.",
            "schema": {
              "type": "string",
              "description": "Portal identifier from Zoho Projects."
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project identifier from Zoho Projects.",
            "schema": {
              "type": "string",
              "description": "Project identifier from Zoho Projects."
            }
          },
          {
            "name": "tasklistId",
            "in": "query",
            "required": true,
            "description": "Task list identifier from Zoho Projects.",
            "schema": {
              "type": "string",
              "description": "Task list identifier from Zoho Projects."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/get-issue-details": {
      "get": {
        "operationId": "zohoProjects.get-issue-details",
        "summary": "Get Issue Details",
        "description": "Retrieves issue details from Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/get-issue-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects portal ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects portal ID."
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects project ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects project ID."
            }
          },
          {
            "name": "issueId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects issue ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects issue ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addedVia": {
                            "type": "string"
                          },
                          "assignee": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "classification": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zpuid": {
                                "type": "string"
                              },
                              "zuid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "flag": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isItReproducible": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastUpdatedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "module": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "severity": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "colorHexcode": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isClosedType": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoProjects/latest/actions/get-portal-details": {
      "get": {
        "operationId": "zohoProjects.get-portal-details",
        "summary": "Get Portal Details",
        "description": "Retrieves portal details from Zoho Projects.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoProjects/latest/actions/get-portal-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalId",
            "in": "query",
            "required": true,
            "description": "Zoho Projects portal ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Projects portal ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "portalDetails": {
                            "type": "object",
                            "properties": {
                              "businessDetails": {
                                "type": "object",
                                "properties": {
                                  "dateFormat": {
                                    "type": "string"
                                  },
                                  "endTime": {
                                    "type": "string"
                                  },
                                  "startTime": {
                                    "type": "string"
                                  },
                                  "timeFormat": {
                                    "type": "string"
                                  },
                                  "weekends": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "weekStartDay": {
                                    "type": "string"
                                  },
                                  "weekStartYear": {
                                    "type": "string"
                                  },
                                  "workingDays": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string"
                              },
                              "isCustomdomainEnabled": {
                                "type": "boolean"
                              },
                              "logoUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "orgName": {
                                "type": "string"
                              },
                              "owner": {
                                "type": "object",
                                "properties": {
                                  "businessHoursId": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "fullName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "isClientUser": {
                                    "type": "boolean"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "zpuid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "planDetails": {
                                "type": "object",
                                "properties": {
                                  "bugtrackerServicePlan": {
                                    "type": "string"
                                  },
                                  "projectsServicePlan": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "storageType": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
