{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Walmart Universal API",
    "version": "0.0.105",
    "description": "Call Walmart actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/walmart/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/walmart/latest/actions/acknowledge-orders": {
      "put": {
        "operationId": "walmart.acknowledge-orders",
        "summary": "Acknowledge Orders",
        "description": "Acknowledge an entire order, including all of its order lines.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/acknowledge-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "purchaseOrderId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "purchaseOrderId": {
                    "type": "string",
                    "description": "Unique Walmart purchaseOrderId that identifies the purchase order."
                  },
                  "isDynamicSandbox": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customerEmailId": {
                            "type": "string"
                          },
                          "customerOrderId": {
                            "type": "string"
                          },
                          "orderDate": {
                            "type": "number"
                          },
                          "orderLines": {
                            "type": "object",
                            "properties": {
                              "orderLine": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "charges": {
                                      "type": "object",
                                      "properties": {
                                        "charge": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "chargeAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "amount": {
                                                    "type": "number"
                                                  },
                                                  "currency": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              "chargeName": {
                                                "type": "string"
                                              },
                                              "chargeType": {
                                                "type": "string"
                                              },
                                              "tax": {
                                                "type": "object",
                                                "properties": {
                                                  "taxAmount": {
                                                    "type": "object",
                                                    "properties": {
                                                      "amount": {
                                                        "type": "number"
                                                      },
                                                      "currency": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  },
                                                  "taxName": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "fulfillment": {
                                      "type": "object",
                                      "properties": {
                                        "fulfillmentOption": {
                                          "type": "string"
                                        },
                                        "pickUpDateTime": {
                                          "type": "number"
                                        },
                                        "shipMethod": {
                                          "type": "string"
                                        },
                                        "shippingConfigSource": {
                                          "type": "string"
                                        },
                                        "shippingProgramType": {
                                          "type": "string"
                                        },
                                        "shippingSLA": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "item": {
                                      "type": "object",
                                      "properties": {
                                        "productName": {
                                          "type": "string"
                                        },
                                        "sku": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "lineNumber": {
                                      "type": "string"
                                    },
                                    "orderLineQuantity": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "string"
                                        },
                                        "unitOfMeasurement": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "orderLineStatuses": {
                                      "type": "object",
                                      "properties": {
                                        "orderLineStatus": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "cancellationReason": {
                                                "type": "string"
                                              },
                                              "status": {
                                                "type": "string"
                                              },
                                              "statusQuantity": {
                                                "type": "object",
                                                "properties": {
                                                  "amount": {
                                                    "type": "string"
                                                  },
                                                  "unitOfMeasurement": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "statusDate": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "purchaseOrderId": {
                            "type": "string"
                          },
                          "shipNode": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "shippingInfo": {
                            "type": "object",
                            "properties": {
                              "estimatedDeliveryDate": {
                                "type": "number"
                              },
                              "estimatedShipDate": {
                                "type": "number"
                              },
                              "methodCode": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "postalAddress": {
                                "type": "object",
                                "properties": {
                                  "address1": {
                                    "type": "string"
                                  },
                                  "addressType": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "postalCode": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/available-recon-report-dates": {
      "get": {
        "operationId": "walmart.available-recon-report-dates",
        "summary": "Available Recon Report Dates",
        "description": "Retrieves details of all orders with optional search criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/available-recon-report-dates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-item-enrollment-for-walmart-plus": {
      "put": {
        "operationId": "walmart.bulk-item-enrollment-for-walmart-plus",
        "summary": "Bulk Item Enrollment for Walmart+",
        "description": "Manage item participation in the Walmart+ program.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-item-enrollment-for-walmart-plus"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "feedType": {
                    "type": "string",
                    "description": "Allowed: `PROGRAM_ACTIONS`",
                    "default": "PROGRAM_ACTIONS",
                    "x-mindcloud-advanced": true
                  },
                  "fileName": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "requestType": {
                    "type": "string",
                    "description": "`WALMART_PLUS_SFF` - Specifies the type of request for the Walmart+ SFF (Seller-Fulfilled) program.",
                    "default": "WALMART_PLUS_SFF",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string",
                            "description": "A unique identifier, which is returned by the Bulk Upload API, used to track and manage the status of the feed file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-item-inventory-update": {
      "put": {
        "operationId": "walmart.bulk-item-inventory-update",
        "summary": "Bulk Item Inventory Update",
        "description": "Upload a feed file to update inventory for multiple SKUs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-item-inventory-update"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "feedType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "feedType": {
                    "type": "string",
                    "description": "-`inventory` - Single ship node per file (spec 1.4). JSON or XML.\n-`MP_INVENTORY` - Multiple ship nodes per SKU (spec 1.5). JSON only.",
                    "default": "inventory",
                    "x-mindcloud-advanced": true
                  },
                  "Inventory[].quantity.unit": {
                    "type": "string",
                    "description": "EACH",
                    "default": "EACH"
                  },
                  "Inventory[].sku": {
                    "type": "string"
                  },
                  "InventoryHeader": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "InventoryHeader.version": {
                    "type": "string",
                    "default": "1.4",
                    "x-mindcloud-advanced": true
                  },
                  "Inventory[].quantity": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Inventory[].quantity.amount": {
                    "type": "number"
                  },
                  "Inventory[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "Inventory[].inventoryAvailableDate": {
                    "type": "string",
                    "description": "YYYY-MM-DD"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string",
                            "description": "A unique identifier, which is returned by the Bulk Upload API, used to track and manage the status of the feed file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-item-setup-delete-items": {
      "post": {
        "operationId": "walmart.bulk-item-setup-delete-items",
        "summary": "Bulk Item Setup - Delete Items",
        "description": "Delete seller-fulfilled items from your catalog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-item-setup-delete-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "items[].Deleteable": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "items[].Deleteable.sku": {
                    "type": "string",
                    "description": "The SKU to retire."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string",
                            "description": "A unique identifier returned by the Bulk Upload API, use it to track and manage the status of a feed file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-item-setup-multiple": {
      "post": {
        "operationId": "walmart.bulk-item-setup-multiple",
        "summary": "Bulk Item Setup (multiple)",
        "description": "Set up a new seller fulfilled item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-item-setup-multiple"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-item-setup-retire-items": {
      "put": {
        "operationId": "walmart.bulk-item-setup-retire-items",
        "summary": "Bulk Item Setup - Retire Items",
        "description": "Permanently retire a list of Items identified by their SKU.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-item-setup-retire-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "items[].sku": {
                    "type": "string",
                    "description": "The SKU to retire."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string",
                            "description": "A unique identifier returned by the Bulk Upload API, use it to track and manage the status of a feed file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-item-setup-seller-fulfilled": {
      "post": {
        "operationId": "walmart.bulk-item-setup-seller-fulfilled",
        "summary": "Bulk Item Setup - Seller Fulfilled",
        "description": "This API updates items in bulk (max: 10,000 items per request)",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-item-setup-seller-fulfilled"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "feedType",
                  "MPItemFeedHeader.version"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "feedType": {
                    "type": "string",
                    "description": "The type of feed specifies the nature of the update. Choosing `MP_ITEM` indicates Seller Fulfilled Item set up.\n\nAllowed: `MP_ITEM`",
                    "default": "MP_ITEM"
                  },
                  "MPItem[].Orderable.productIdentifiers.productIdType": {
                    "type": "string",
                    "description": "example: \"GTIN\""
                  },
                  "MPItem[].ptCategoryLabel": {
                    "type": "string"
                  },
                  "MPItem[].Visible.productName": {
                    "type": "string"
                  },
                  "MPItemFeedHeader.businessUnit": {
                    "type": "string",
                    "description": "Enter a specific subcategoryId of the chosen Category. Defaults to the selected Categories `categoryId` below if not set.",
                    "enum": [
                      "ASDA_GM",
                      "SAMSCLUB",
                      "WALMART_CA",
                      "WALMART_US"
                    ]
                  },
                  "MPItem[].Orderable": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].Orderable.productIdentifiers.productId": {
                    "type": "string"
                  },
                  "MPItem[].Visible.brand": {
                    "type": "string"
                  },
                  "MPItemFeedHeader": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItemFeedHeader.locale": {
                    "type": "string",
                    "default": "en"
                  },
                  "MPItem[]": {
                    "type": "array",
                    "items": {}
                  },
                  "MPItem[].Orderable.sku": {
                    "type": "string"
                  },
                  "MPItem[].Visible": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].Visible.shortDescription": {
                    "type": "string"
                  },
                  "MPItemFeedHeader.version": {
                    "type": "string",
                    "description": "Allowed Value: `4.8`\n\nThis spec version is passed to the Taxonomy API to provide you with a list of Category options to choose from. Specifying a version other than the allowed value above may result in errors when you submit your request.",
                    "default": "5.0.20260330-14_47_14-api"
                  },
                  "MPItem[].Orderable.productIdentifiers": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].Visible.keyFeatures[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "use: @generated"
                  },
                  "MPItem[].Orderable.country_of_origin_substantial_transformation": {
                    "type": "string",
                    "description": "The country where the item and/or its components are manufactured, produced, or grown."
                  },
                  "MPItem[].Visible.mainImageUrl": {
                    "type": "string"
                  },
                  "MPItem[].Orderable.price": {
                    "type": "number"
                  },
                  "MPItem[].Visible.isProp65WarningRequired": {
                    "type": "string"
                  },
                  "MPItem[].Orderable.ShippingWeight": {
                    "type": "number"
                  },
                  "MPItem[].Visible.condition": {
                    "type": "string"
                  },
                  "MPItem[].Visible.hasWrittenwarranty": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-item-setup-wfs": {
      "post": {
        "operationId": "walmart.bulk-item-setup-wfs",
        "summary": "Bulk Item Setup - WFS",
        "description": "This API is used for converting existing Marketplace items to be WFS eligible.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-item-setup-wfs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "feedType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "feedType": {
                    "type": "string",
                    "description": "Allowed: `OMNI_WFS`",
                    "default": "OMNI_WFS"
                  },
                  "MPItem[].Orderable": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].Orderable.productIdentifiers.productIdType": {
                    "type": "string",
                    "description": "example: \"GTIN\" or \"UPC\" etc."
                  },
                  "MPItem[].Orderable.sku": {
                    "type": "string"
                  },
                  "MPItem[].tradeItem.sku": {
                    "type": "string"
                  },
                  "MPItem[].Visible.brand": {
                    "type": "string"
                  },
                  "MPItemFeedHeader.locale": {
                    "type": "string",
                    "default": "en",
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[].Orderable.productIdentifiers": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].Orderable.productIdentifiers.productId": {
                    "type": "string"
                  },
                  "MPItem[].ptCategoryLabel": {
                    "type": "string"
                  },
                  "MPItem[].Visible.productName": {
                    "type": "string"
                  },
                  "MPItemFeedHeader": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MPItemFeedHeader.version": {
                    "type": "string",
                    "description": "Allowed Value: `4.8`\n\nThis spec version is passed to the Taxonomy API to provide you with a list of Category options to choose from. Specifying a version other than the allowed value above may result in errors when you submit your request.",
                    "default": "1.4",
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[]": {
                    "type": "array",
                    "items": {}
                  },
                  "MPItem[].Orderable.country_of_origin_substantial_transformation": {
                    "type": "string",
                    "description": "The country where the item and/or its components are manufactured, produced, or grown."
                  },
                  "MPItem[].Visible": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].Visible.isProp65WarningRequired": {
                    "type": "string",
                    "description": "\"Yes\" or \"No\""
                  },
                  "MPItemFeedHeader.sellingChannel": {
                    "type": "string",
                    "default": "fbw",
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[].Orderable.price": {
                    "type": "number"
                  },
                  "MPItem[].tradeItem": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].Visible.mainImageUrl": {
                    "type": "string"
                  },
                  "MPItemFeedHeader.businessUnit": {
                    "type": "string",
                    "description": "Enter a specific subcategoryId of the chosen Category. Defaults to the selected Categories `categoryId` below if not set.",
                    "enum": [
                      "ASDA_GM",
                      "SAMSCLUB",
                      "WALMART_CA",
                      "WALMART_US"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[].Orderable.ShippingWeight": {
                    "type": "number"
                  },
                  "MPItem[].Visible.condition": {
                    "type": "string"
                  },
                  "MPItemFeedHeader.subset": {
                    "type": "string",
                    "default": "EXTERNAL",
                    "x-mindcloud-advanced": true
                  },
                  "MPItemFeedHeader.subCategory": {
                    "type": "string",
                    "example": "hair_accessories"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-update-price-legacy": {
      "put": {
        "operationId": "walmart.bulk-update-price-legacy",
        "summary": "Bulk Update Price ( Legacy )",
        "description": "Updates prices in bulk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-update-price-legacy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "feedType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "feedType": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-update-price-new": {
      "put": {
        "operationId": "walmart.bulk-update-price-new",
        "summary": "Bulk Update Price ( New )",
        "description": "Update the price section in bulk for multiple items. This is useful for implementing pricing strategies across your catalog, such as seasonal discounts, competitive pricing adjustments, or clearance sales.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-update-price-new"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "MPItem[].sku": {
                    "type": "string",
                    "description": "The SKU of the item for which the price is being updated."
                  },
                  "MPItemFeedHeader": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MPItemFeedHeader.businessUnit": {
                    "type": "string",
                    "description": "The business unit for which the feed is submitted. For example, use 'Walmart_US' for U.S. Marketplace.",
                    "default": "WALMART_US",
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[].price": {
                    "type": "number",
                    "description": "The selling price of the item on Walmart.com."
                  },
                  "MPItemFeedHeader.version": {
                    "type": "string",
                    "description": "The version of the feed schema being used.\nPlease use `5.0.20250328-17_43_36-api` for the PRICE section updates and use `2.0.20240126-12_25_52-api` for PROMO&DISCOUNT section updates.",
                    "default": "2.0.20240126-12_25_52-api",
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Add (+) or map items here from a previous step."
                  },
                  "MPItem[].msrp": {
                    "type": "number",
                    "description": "The manufacturer's suggested retail price (MSRP) for the item."
                  },
                  "MPItemFeedHeader.locale": {
                    "type": "string",
                    "description": "The locale code for the content in the feed.\n\nFor example, `en` for English.",
                    "default": "en",
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[].businessPrice": {
                    "type": "number",
                    "description": "The business price for the item. Unlike the `price` field, which is visible to everyone, the `businessPrice` is only visible to verified business organizations and non-profits. In the Walmart ecosystem, setting a `businessPrice` that is lower than your standard retail price can help you:\n- Win the Business Buy Box\n- Encourage Bulk Purchasing from retailers."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feedId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/walmart/latest/actions/bulk-update-promotional-price": {
      "put": {
        "operationId": "walmart.bulk-update-promotional-price",
        "summary": "Bulk Update Promotional Price",
        "description": "Create, update, or delete promotional prices for multiple SKUs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/walmart/latest/actions/bulk-update-promotional-price"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "feedType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "feedType": {
                    "type": "string",
                    "description": "The feed Type.\nAllowed Value: `PRICE_AND_PROMOTION`\n\n__Market Availability: Global__",
                    "example": "PRICE_AND_PROMOTION",
                    "default": "PRICE_AND_PROMOTION",
                    "x-mindcloud-advanced": true
                  },
                  "MPItem[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "MPItem[].promotionInformation.promotionSettingAction": {
                    "type": "string",
                    "description": "The action to apply to promotions for this SKU."
                  },
                  "MPItem[].sku": {
                    "type": "string",
                    "description": "**required** The seller-defined Stock Keeping Unit (SKU) for the item being updated."
                  },
                  "MPItemFeedHeader.locale": {
                    "type": "string",
                    "description": "**required** The market specific locale. Allowed values by market include:\n- `en` for US\n- `es` for MX & CL\n- `en` & `fr` for CA.\n- Market availability: Global",
                    "default": "en"
                  },
                  "MPItem[].price": {
                    "type": "number",
                    "description": "**required** The current selling price of the item on Walmart.com."
                  },
                  "MPItem[].promotionInformation.promotionPrice": {
                    "type": "number",
                    "description": "The promotional price for the item during the promotion window."
                  },
                  "MPItemFeedHeader": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Defaults to US Marketplace settings. For CA, MX and CL, all fields except (\"businessUnit\") are required.",
                    "x-mindcloud-advanced": true
                  },
                  "MPItemFeedHeader.version": {
                    "type": "string",
                    "description": "**required** The feed schema version. The values vary by region.\nAllowed values:\n- `2.0.20240126-12_25_52-api` for U.S.\n- `5.0.20250328-17_43_36-api` for CA, MX and CL.\n\n__Market availability: Global__",
                    "default": "2.0.20240126-12_25_52-api"
                  },
                  "MPItem[].msrp": {
                    "type": "number",
                    "description": "The manufacturer's suggested retail price (MSRP) for the item."
                  },
                  "MPItem[].promotionInformation.promotionType": {
                    "type": "string",
                    "description": "The promotion type to apply."
                  },
                  "MPItemFeedHeader.businessUnit": {
                    "type": "string",
                    "description": "Business unit identifier matching the target market. For example, use WALMART_US for the US market.\n\n__Market availability: US__",
                    "default": "WALMART_US"
                  },
                  "MPItem[].promoid": {
                    "type": "string",
                    "description": "The promotion identifier. Provide this if updating or deleting an existing promotion."
                  },
                  "MPItem[].promotionInformation.promotionPlacement": {
                    "type": "string",
                    "description": "Indicates where a promotion is applied or displayed.\nAllowed: `MAP Cart`\n\n__Market availability: US__"
                  },
                  "MPItemFeedHeader.mart": {
                    "type": "string",
                    "description": "The mart ID for the various markets are:\n- WALMART_CA for CA\n- WALMART_MEXICO for MX\n- WALMART_CHILE for CL..\n__Market availability: CA | MX | CL__"
                  },
                  "MPItem[].promotionInformation": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MPItem[].promotionInformation.promotionPriceStartDateTime": {
                    "type": "string",
                    "description": "The UTC date and time when the promotional price becomes effective."
                  },
                  "MPItemFeedHeader.subset": {
                    "type": "string",
                    "description": "Origin of the data. Use `EXTERNAL` for partner submitted feeds.\n\n\n__Market availability: CA | MX | CL__"
                  },
                  "MPItem[].promotionInformation.promotionPriceEndDateTime": {
                    "type": "string",
                    "description": "The UTC date and time when the promotional price ends."
                  },
                  "MPItemFeedHeader.tenant": {
                    "type": "string",
                    "description": "The tenant identifier for the marketplace.\nFor example, use:\n- `WALMART_CA` for CA\n- `WALMART_MEXICO` for MX\n- `WALMART_CHILE` for CL.\n\n\n__Market availability: CA | MX | CL__"
                  },
                  "MPItemFeedHeader.feedType": {
                    "type": "string",
                    "description": "The type of feed for this request. Allowed Value: `PRICE_AND_PROMOTION`\n\n__Market availability: CA | MX | CL__"
                  },
                  "MPItemFeedHeader.subCategory": {
                    "type": "string",
                    "description": "ItemFeed subcategory for price update.\nMarket availability: CA | MX | CL"
                  },
                  "MPItemFeedHeader.processMode": {
                    "type": "string",
                    "description": "The feed processing behavior. Use `REPLACE` to overwrite existing values.\n\n__Market availability: CA | MX | CL__"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
[...]
