{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Voyage Universal API",
    "version": "0.0.2",
    "description": "Generate embeddings, rerank results, and manage Voyage batch jobs"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/voyage/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/voyage/latest/actions/cancel-batch": {
      "put": {
        "operationId": "voyage.cancel-batch",
        "summary": "Cancel Batch",
        "description": "Cancels an in-progress batch in Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/cancel-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "batchId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "batchId": {
                    "type": "string",
                    "description": "ID of the batch to cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelledAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation completed."
                          },
                          "cancellingAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation started."
                          },
                          "completedAt": {
                            "type": "string",
                            "description": "Timestamp when processing completed."
                          },
                          "completionWindow": {
                            "type": "string",
                            "description": "Requested batch completion window."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Batch creation timestamp."
                          },
                          "endpoint": {
                            "type": "string",
                            "description": "Target endpoint executed by the batch."
                          },
                          "errorFileId": {
                            "type": "string",
                            "description": "Error file ID when available."
                          },
                          "errors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Batch-level error information when present."
                          },
                          "expectedCompletionAt": {
                            "type": "string",
                            "description": "Expected completion timestamp."
                          },
                          "failedAt": {
                            "type": "string",
                            "description": "Timestamp when processing failed."
                          },
                          "finalizingAt": {
                            "type": "string",
                            "description": "Timestamp when finalization started."
                          },
                          "id": {
                            "type": "string",
                            "description": "Voyage batch ID."
                          },
                          "inProgressAt": {
                            "type": "string",
                            "description": "Timestamp when processing started."
                          },
                          "inputFileId": {
                            "type": "string",
                            "description": "Input file ID used by the batch."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User-supplied metadata when present."
                          },
                          "model": {
                            "type": "string",
                            "description": "Model used for batch requests when present."
                          },
                          "object": {
                            "type": "string",
                            "description": "Object type for the batch."
                          },
                          "outputFileId": {
                            "type": "string",
                            "description": "Output file ID when available."
                          },
                          "requestCounts": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request count summary for the batch."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current batch status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/create-batch": {
      "post": {
        "operationId": "voyage.create-batch",
        "summary": "Create Batch",
        "description": "Creates and executes a batch in Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/create-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "endpoint",
                  "inputFileId",
                  "completionWindow",
                  "requestParams"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "endpoint": {
                    "type": "string",
                    "description": "Voyage endpoint to run for every request in the batch.",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  },
                  "inputFileId": {
                    "type": "string",
                    "description": "ID of the uploaded JSONL input file."
                  },
                  "completionWindow": {
                    "type": "string",
                    "description": "Time window for batch processing.",
                    "enum": [
                      "0"
                    ],
                    "default": "12h"
                  },
                  "requestParams": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Parameters applied to each request in the batch."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelledAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation completed."
                          },
                          "cancellingAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation started."
                          },
                          "completedAt": {
                            "type": "string",
                            "description": "Timestamp when processing completed."
                          },
                          "completionWindow": {
                            "type": "string",
                            "description": "Requested batch completion window."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Batch creation timestamp."
                          },
                          "endpoint": {
                            "type": "string",
                            "description": "Target endpoint executed by the batch."
                          },
                          "errorFileId": {
                            "type": "string",
                            "description": "Error file ID when available."
                          },
                          "errors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Batch-level error information when present."
                          },
                          "expectedCompletionAt": {
                            "type": "string",
                            "description": "Expected completion timestamp."
                          },
                          "failedAt": {
                            "type": "string",
                            "description": "Timestamp when processing failed."
                          },
                          "finalizingAt": {
                            "type": "string",
                            "description": "Timestamp when finalization started."
                          },
                          "id": {
                            "type": "string",
                            "description": "Voyage batch ID."
                          },
                          "inProgressAt": {
                            "type": "string",
                            "description": "Timestamp when processing started."
                          },
                          "inputFileId": {
                            "type": "string",
                            "description": "Input file ID used by the batch."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User-supplied metadata when present."
                          },
                          "model": {
                            "type": "string",
                            "description": "Model used for batch requests when present."
                          },
                          "object": {
                            "type": "string",
                            "description": "Object type for the batch."
                          },
                          "outputFileId": {
                            "type": "string",
                            "description": "Output file ID when available."
                          },
                          "requestCounts": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request count summary for the batch."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current batch status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/generate-contextualized-embeddings": {
      "post": {
        "operationId": "voyage.generate-contextualized-embeddings",
        "summary": "Generate Contextualized Embeddings",
        "description": "Generates contextualized chunk embeddings in Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/generate-contextualized-embeddings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "inputs[]",
                  "model"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "inputs[]": {
                    "type": "array",
                    "items": {},
                    "description": "Nested input lists to embed with context."
                  },
                  "model": {
                    "type": "string",
                    "description": "Contextualized embedding model to use."
                  },
                  "inputType": {
                    "type": "string",
                    "description": "Optional input type for retrieval-aware embeddings.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "index": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/generate-multimodal-embeddings": {
      "post": {
        "operationId": "voyage.generate-multimodal-embeddings",
        "summary": "Generate Multimodal Embeddings",
        "description": "Generates multimodal embeddings in Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/generate-multimodal-embeddings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "inputs[]",
                  "model"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "inputs[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Multimodal inputs to embed."
                  },
                  "model": {
                    "type": "string",
                    "description": "Multimodal embedding model to use."
                  },
                  "inputType": {
                    "type": "string",
                    "description": "Optional input type for retrieval-aware embeddings.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "embedding": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "index": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/generate-text-embeddings": {
      "post": {
        "operationId": "voyage.generate-text-embeddings",
        "summary": "Generate Text Embeddings",
        "description": "Generates text vector embeddings in Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/generate-text-embeddings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input[]",
                  "model"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Text input or list of text inputs to embed."
                  },
                  "model": {
                    "type": "string",
                    "description": "Embedding model to use."
                  },
                  "inputType": {
                    "type": "string",
                    "description": "Optional input type for retrieval-aware embeddings.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "embedding": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Embedding vector values."
                          },
                          "index": {
                            "type": "number",
                            "description": "Zero-based input index for the embedding."
                          },
                          "object": {
                            "type": "string",
                            "description": "Type of the embedding item."
                          },
                          "text": {
                            "type": "string",
                            "description": "Original text when returned by Voyage."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/list-batches": {
      "get": {
        "operationId": "voyage.list-batches",
        "summary": "List Batches",
        "description": "Retrieves batches for your Voyage organization.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/list-batches"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelledAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation completed."
                          },
                          "cancellingAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation started."
                          },
                          "completedAt": {
                            "type": "string",
                            "description": "Timestamp when processing completed."
                          },
                          "completionWindow": {
                            "type": "string",
                            "description": "Requested batch completion window."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Batch creation timestamp."
                          },
                          "endpoint": {
                            "type": "string",
                            "description": "Target endpoint executed by the batch."
                          },
                          "errorFileId": {
                            "type": "string",
                            "description": "Error file ID when available."
                          },
                          "errors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Batch-level error information when present."
                          },
                          "expectedCompletionAt": {
                            "type": "string",
                            "description": "Expected completion timestamp."
                          },
                          "failedAt": {
                            "type": "string",
                            "description": "Timestamp when processing failed."
                          },
                          "finalizingAt": {
                            "type": "string",
                            "description": "Timestamp when finalization started."
                          },
                          "id": {
                            "type": "string",
                            "description": "Voyage batch ID."
                          },
                          "inProgressAt": {
                            "type": "string",
                            "description": "Timestamp when processing started."
                          },
                          "inputFileId": {
                            "type": "string",
                            "description": "Input file ID used by the batch."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User-supplied metadata when present."
                          },
                          "model": {
                            "type": "string",
                            "description": "Model used for batch requests when present."
                          },
                          "object": {
                            "type": "string",
                            "description": "Object type for the batch."
                          },
                          "outputFileId": {
                            "type": "string",
                            "description": "Output file ID when available."
                          },
                          "requestCounts": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request count summary for the batch."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current batch status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/list-files": {
      "get": {
        "operationId": "voyage.list-files",
        "summary": "List Files",
        "description": "Retrieves files from Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/list-files"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "required": false,
            "description": "Filter files by purpose.",
            "schema": {
              "type": "string",
              "description": "Filter files by purpose."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order for files by creation time.",
            "schema": {
              "type": "string",
              "description": "Sort order for files by creation time.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bytes": {
                            "type": "number",
                            "description": "File size in bytes."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "File creation timestamp."
                          },
                          "expiresAt": {
                            "type": "string",
                            "description": "File expiration timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Stored filename."
                          },
                          "id": {
                            "type": "string",
                            "description": "Voyage file ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Object type for the file."
                          },
                          "purpose": {
                            "type": "string",
                            "description": "Configured file purpose."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/rerank-documents": {
      "post": {
        "operationId": "voyage.rerank-documents",
        "summary": "Rerank Documents",
        "description": "Reranks documents in Voyage for a query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/rerank-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "query",
                  "documents[]",
                  "model"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "query": {
                    "type": "string",
                    "description": "Query text used to rerank documents."
                  },
                  "documents[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Documents to rerank."
                  },
                  "model": {
                    "type": "string",
                    "description": "Reranker model to use."
                  },
                  "topK": {
                    "type": "number",
                    "description": "Maximum number of reranked documents to return."
                  },
                  "returnDocuments": {
                    "type": "boolean",
                    "description": "Whether to include documents in the response."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string",
                            "description": "Document text when return_documents is enabled."
                          },
                          "index": {
                            "type": "number",
                            "description": "Zero-based index of the document in the request."
                          },
                          "relevance_score": {
                            "type": "number",
                            "description": "Voyage relevance score for the ranked document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/retrieve-batch": {
      "get": {
        "operationId": "voyage.retrieve-batch",
        "summary": "Retrieve Batch",
        "description": "Retrieves a batch from Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/retrieve-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batchId",
            "in": "query",
            "required": true,
            "description": "ID of the batch to retrieve.",
            "schema": {
              "type": "string",
              "description": "ID of the batch to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelledAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation completed."
                          },
                          "cancellingAt": {
                            "type": "string",
                            "description": "Timestamp when cancellation started."
                          },
                          "completedAt": {
                            "type": "string",
                            "description": "Timestamp when processing completed."
                          },
                          "completionWindow": {
                            "type": "string",
                            "description": "Requested batch completion window."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Batch creation timestamp."
                          },
                          "endpoint": {
                            "type": "string",
                            "description": "Target endpoint executed by the batch."
                          },
                          "errorFileId": {
                            "type": "string",
                            "description": "Error file ID when available."
                          },
                          "errors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Batch-level error information when present."
                          },
                          "expectedCompletionAt": {
                            "type": "string",
                            "description": "Expected completion timestamp."
                          },
                          "failedAt": {
                            "type": "string",
                            "description": "Timestamp when processing failed."
                          },
                          "finalizingAt": {
                            "type": "string",
                            "description": "Timestamp when finalization started."
                          },
                          "id": {
                            "type": "string",
                            "description": "Voyage batch ID."
                          },
                          "inProgressAt": {
                            "type": "string",
                            "description": "Timestamp when processing started."
                          },
                          "inputFileId": {
                            "type": "string",
                            "description": "Input file ID used by the batch."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User-supplied metadata when present."
                          },
                          "model": {
                            "type": "string",
                            "description": "Model used for batch requests when present."
                          },
                          "object": {
                            "type": "string",
                            "description": "Object type for the batch."
                          },
                          "outputFileId": {
                            "type": "string",
                            "description": "Output file ID when available."
                          },
                          "requestCounts": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request count summary for the batch."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current batch status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/retrieve-file": {
      "get": {
        "operationId": "voyage.retrieve-file",
        "summary": "Retrieve File",
        "description": "Retrieves a file from Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/retrieve-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "ID of the file to retrieve.",
            "schema": {
              "type": "string",
              "description": "ID of the file to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bytes": {
                            "type": "number",
                            "description": "File size in bytes."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "File creation timestamp."
                          },
                          "expiresAt": {
                            "type": "string",
                            "description": "File expiration timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Stored filename."
                          },
                          "id": {
                            "type": "string",
                            "description": "Voyage file ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Object type for the file."
                          },
                          "purpose": {
                            "type": "string",
                            "description": "Configured file purpose."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/retrieve-file-content": {
      "get": {
        "operationId": "voyage.retrieve-file-content",
        "summary": "Retrieve File Content",
        "description": "Retrieves the contents of a file from Voyage.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/retrieve-file-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "ID of the file whose content to retrieve.",
            "schema": {
              "type": "string",
              "description": "ID of the file whose content to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Raw file contents returned by Voyage."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/voyage/latest/actions/upload-file": {
      "post": {
        "operationId": "voyage.upload-file",
        "summary": "Upload File",
        "description": "Uploads a file for Voyage batch processing.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/voyage/latest/actions/upload-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "purpose"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "JSONL file object to upload for batch processing."
                  },
                  "purpose": {
                    "type": "string",
                    "description": "Purpose for the uploaded file.",
                    "enum": [
                      "0"
                    ],
                    "default": "batch"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bytes": {
                            "type": "number",
                            "description": "File size in bytes."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "File creation timestamp."
                          },
                          "expiresAt": {
                            "type": "string",
                            "description": "File expiration timestamp."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Stored filename."
                          },
                          "id": {
                            "type": "string",
                            "description": "Voyage file ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Object type for the file."
                          },
                          "purpose": {
                            "type": "string",
                            "description": "Configured file purpose."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
