{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Katana Universal API",
    "version": "0.0.5",
    "description": "Katana is a cloud manufacturing and inventory management platform for products, variants, materials, inventory, purchasing, sales, and production operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/katana/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/katana/latest/actions/create-customer": {
      "post": {
        "operationId": "katana.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Katana.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/katana/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "description": "The customer’s currency (ISO 4217)."
                  },
                  "referenceId": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "discountRate": {
                    "type": "number"
                  },
                  "addresses[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "addresses[].entityType": {
                    "type": "string"
                  },
                  "addresses[].default": {
                    "type": "boolean"
                  },
                  "addresses[].firstName": {
                    "type": "string"
                  },
                  "addresses[].lastName": {
                    "type": "string"
                  },
                  "addresses[].company": {
                    "type": "string"
                  },
                  "addresses[].phone": {
                    "type": "string"
                  },
                  "addresses[].line1": {
                    "type": "string"
                  },
                  "addresses[].line2": {
                    "type": "string"
                  },
                  "addresses[].city": {
                    "type": "string"
                  },
                  "addresses[].state": {
                    "type": "string"
                  },
                  "addresses[].zip": {
                    "type": "string"
                  },
                  "addresses[].country": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "city": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "number"
                                },
                                "entityType": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "line1": {
                                  "type": "string"
                                },
                                "line2": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "zip": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "category": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "defaultBillingId": {
                            "type": "number"
                          },
                          "defaultShippingId": {
                            "type": "number"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "discountRate": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "referenceId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/katana/latest/actions/create-manufacturing-order": {
      "post": {
        "operationId": "katana.create-manufacturing-order",
        "summary": "Create Manufacturing Order",
        "description": "Creates a new manufacturing order in Katana.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/katana/latest/actions/create-manufacturing-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderNo",
                  "variantId",
                  "locationId",
                  "plannedQuantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "status": {
                    "type": "string"
                  },
                  "orderNo": {
                    "type": "string"
                  },
                  "variantId": {
                    "type": "number"
                  },
                  "locationId": {
                    "type": "number"
                  },
                  "plannedQuantity": {
                    "type": "number"
                  },
                  "actualQuantity": {
                    "type": "number"
                  },
                  "orderCreatedDate": {
                    "type": "string"
                  },
                  "productionDeadlineDate": {
                    "type": "string",
                    "description": "Use only if automatic production deadline calculation for the factory location is switched OFF."
                  },
                  "additionalInfo": {
                    "type": "string"
                  },
                  "batchTransactions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "batchTransactions[].quantity": {
                    "type": "number"
                  },
                  "batchTransactions[].batchId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualQuantity": {
                            "type": "string"
                          },
                          "additionalInfo": {
                            "type": "string"
                          },
                          "batchTransactions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "doneDate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "ingredientAvailability": {
                            "type": "string"
                          },
                          "isLinkedToSalesOrder": {
                            "type": "boolean"
                          },
                          "locationId": {
                            "type": "number"
                          },
                          "materialCost": {
                            "type": "number"
                          },
                          "operationsCost": {
                            "type": "number"
                          },
                          "orderCreatedDate": {
                            "type": "string"
                          },
                          "orderNo": {
                            "type": "string"
                          },
                          "plannedQuantity": {
                            "type": "number"
                          },
                          "productionDeadlineDate": {
                            "type": "string"
                          },
                          "salesOrderDeliveryDeadline": {
                            "type": "string"
                          },
                          "salesOrderId": {
                            "type": "number"
                          },
                          "salesOrderRowId": {
                            "type": "number"
                          },
                          "serialNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "resourceId": {
                                  "type": "number"
                                },
                                "resourceType": {
                                  "type": "string"
                                },
                                "serialNumber": {
                                  "type": "string"
                                },
                                "transactionDate": {
                                  "type": "string"
                                },
                                "transactionId": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "subassembliesCost": {
                            "type": "number"
                          },
                          "totalActualTime": {
                            "type": "number"
                          },
                          "totalCost": {
                            "type": "number"
                          },
                          "totalPlannedTime": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "variantId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/katana/latest/actions/create-material": {
      "post": {
        "operationId": "katana.create-material",
        "summary": "Create Material",
        "description": "Creates a new material in Katana.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/katana/latest/actions/create-material"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "variants[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "uom": {
                    "type": "string"
                  },
                  "categoryName": {
                    "type": "string"
                  },
                  "defaultSupplierId": {
                    "type": "number"
                  },
                  "additionalInfo": {
                    "type": "string"
                  },
                  "batchTracked": {
                    "type": "boolean"
                  },
                  "isSellable": {
                    "type": "boolean"
                  },
                  "purchaseUom": {
                    "type": "string"
                  },
                  "purchaseUomConversionRate": {
                    "type": "number"
                  },
                  "configs[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "configs[].name": {
                    "type": "string"
                  },
                  "configs[].values[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "customFieldCollectionId": {
                    "type": "number"
                  },
                  "variants[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "variants[].sku": {
                    "type": "string"
                  },
                  "variants[].purchasePrice": {
                    "type": "number"
                  },
                  "variants[].internalBarcode": {
                    "type": "string"
                  },
                  "variants[].registeredBarcode": {
                    "type": "string"
                  },
                  "variants[].supplierItemCodes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "variants[].leadTime": {
                    "type": "number"
                  },
                  "variants[].minimumOrderQuantity": {
                    "type": "number"
                  },
                  "variants[].configAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "variants[].configAttributes[].configName": {
                    "type": "string"
                  },
                  "variants[].configAttributes[].configValue": {
                    "type": "string"
                  },
                  "variants[].customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "variants[].customFields[].fieldName": {
                    "type": "string"
                  },
                  "variants[].customFields[].fieldValue": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "string"
                          },
                          "batchTracked": {
                            "type": "boolean"
                          },
                          "categoryName": {
                            "type": "string"
                          },
                          "configs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "number"
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customFieldCollectionId": {
                            "type": "number"
                          },
                          "defaultSupplierId": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSellable": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "purchaseUom": {
                            "type": "string"
                          },
                          "purchaseUomConversionRate": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "uom": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "configAttributes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "configName": {
                                        "type": "string"
                                      },
                                      "configValue": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "customFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "fieldName": {
                                        "type": "string"
                                      },
                                      "fieldValue": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "id": {
                                  "type": "number"
                                },
                                "internalBarcode": {
                                  "type": "string"
                                },
                                "leadTime": {
                                  "type": "number"
                                },
                                "minimumOrderQuantity": {
                                  "type": "number"
                                },
                                "productId": {
                                  "type": "number"
                                },
                                "purchasePrice": {
                                  "type": "number"
                                },
                                "registeredBarcode": {
                                  "type": "string"
                                },
                                "salesPrice": {
                                  "type": "string"
                                },
                                "sku": {
                                  "type": "string"
                                },
                                "supplierItemCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "type": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/katana/latest/actions/create-product": {
      "post": {
        "operationId": "katana.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Katana.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/katana/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "variants[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "uom": {
                    "type": "string"
                  },
                  "categoryName": {
                    "type": "string"
                  },
                  "isSellable": {
                    "type": "boolean"
                  },
                  "isProducible": {
                    "type": "boolean"
                  },
                  "isPurchasable": {
                    "type": "boolean"
                  },
                  "isAutoAssembly": {
                    "type": "boolean"
                  },
                  "defaultSupplierId": {
                    "type": "number"
                  },
                  "additionalInfo": {
                    "type": "string"
                  },
                  "batchTracked": {
                    "type": "boolean"
                  },
                  "serialTracked": {
                    "type": "boolean"
                  },
                  "operationsInSequence": {
                    "type": "boolean"
                  },
                  "purchaseUom": {
                    "type": "string"
                  },
                  "purchaseUomConversionRate": {
                    "type": "number"
                  },
                  "leadTime": {
                    "type": "number"
                  },
                  "minimumOrderQuantity": {
                    "type": "number"
                  },
                  "configs[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "configs[].name": {
                    "type": "string"
                  },
                  "configs[].values[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "customFieldCollectionId": {
                    "type": "number"
                  },
                  "variants[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "variants[].sku": {
                    "type": "string"
                  },
                  "variants[].purchasePrice": {
                    "type": "number"
                  },
                  "variants[].salesPrice": {
                    "type": "number"
                  },
                  "variants[].configAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "variants[].configAttributes[].configName": {
                    "type": "string"
                  },
                  "variants[].configAttributes[].configValue": {
                    "type": "string"
                  },
                  "variants[].internalBarcode": {
                    "type": "string"
                  },
                  "variants[].registeredBarcode": {
                    "type": "string"
                  },
                  "variants[].supplierItemCodes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "variants[].customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "variants[].customFields[].fieldName": {
                    "type": "string"
                  },
                  "variants[].customFields[].fieldValue": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "string"
                          },
                          "batchTracked": {
                            "type": "boolean"
                          },
                          "categoryName": {
                            "type": "string"
                          },
                          "configs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "number"
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customFieldCollectionId": {
                            "type": "number"
                          },
                          "defaultSupplierId": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAutoAssembly": {
                            "type": "boolean"
                          },
                          "isProducible": {
                            "type": "boolean"
                          },
                          "isPurchasable": {
                            "type": "boolean"
                          },
                          "isSellable": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "operationsInSequence": {
                            "type": "boolean"
                          },
                          "purchaseUom": {
                            "type": "string"
                          },
                          "purchaseUomConversionRate": {
                            "type": "number"
                          },
                          "serialTracked": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "string"
                          },
                          "uom": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "configAttributes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "configName": {
                                        "type": "string"
                                      },
                                      "configValue": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "customFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "fieldName": {
                                        "type": "string"
                                      },
                                      "fieldValue": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "id": {
                                  "type": "number"
                                },
                                "internalBarcode": {
                                  "type": "string"
                                },
                                "leadTime": {
                                  "type": "number"
                                },
                                "minimumOrderQuantity": {
                                  "type": "number"
                                },
                                "productId": {
                                  "type": "number"
                                },
                                "purchasePrice": {
                                  "type": "number"
                                },
                                "registeredBarcode": {
                                  "type": "string"
                                },
                                "salesPrice": {
                                  "type": "number"
                                },
                                "sku": {
                                  "type": "string"
                                },
                                "supplierItemCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "type": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/katana/latest/actions/create-purchase-order": {
      "post": {
        "operationId": "katana.create-purchase-order",
        "summary": "Create Purchase Order",
        "description": "Creates a new purchase order in Katana.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/katana/latest/actions/create-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderNo",
                  "supplierId",
                  "locationId",
                  "purchaseOrderRows[]",
                  "purchaseOrderRows[].quantity",
                  "purchaseOrderRows[].variantId",
                  "purchaseOrderRows[].pricePerUnit"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderNo": {
                    "type": "string"
                  },
                  "entityType": {
                    "type": "string"
                  },
                  "supplierId": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "description": "E.g. USD, EUR. All currently active currency codes in ISO 4217 format."
                  },
                  "status": {
                    "type": "string"
                  },
                  "expectedArrivalDate": {
                    "type": "string"
                  },
                  "orderCreatedDate": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "number"
                  },
                  "trackingLocationId": {
                    "type": "number",
                    "description": "Submittable only when entity_type is outsourced"
                  },
                  "additionalInfo": {
                    "type": "string"
                  },
                  "purchaseOrderRows[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "purchaseOrderRows[].quantity": {
                    "type": "number"
                  },
                  "purchaseOrderRows[].variantId": {
                    "type": "number"
                  },
                  "purchaseOrderRows[].taxRateId": {
                    "type": "number"
                  },
                  "purchaseOrderRows[].pricePerUnit": {
                    "type": "number"
                  },
                  "purchaseOrderRows[].purchaseUomConversionRate": {
                    "type": "number"
                  },
                  "purchaseOrderRows[].purchaseUom": {
                    "type": "string"
                  },
                  "purchaseOrderRows[].arrivalDate": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "string"
                          },
                          "billingStatus": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "defaultGroupId": {
                            "type": "number"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "entityType": {
                            "type": "string"
                          },
                          "expectedArrivalDate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastDocumentStatus": {
                            "type": "string"
                          },
                          "locationId": {
                            "type": "number"
                          },
                          "orderCreatedDate": {
                            "type": "string"
                          },
                          "orderNo": {
                            "type": "string"
                          },
                          "purchaseOrderRows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "batchTransactions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "conversionDate": {
                                  "type": "string"
                                },
                                "conversionRate": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "deletedAt": {
                                  "type": "string"
                                },
                                "groupId": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "landedCost": {
                                  "type": "string"
                                },
                                "pricePerUnit": {
                                  "type": "number"
                                },
                                "purchaseOrderId": {
                                  "type": "number"
                                },
                                "purchaseUom": {
                                  "type": "string"
                                },
                                "purchaseUomConversionRate": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "receivedDate": {
                                  "type": "string"
                                },
                                "taxRateId": {
                                  "type": "number"
                                },
                                "total": {
                                  "type": "number"
                                },
                                "totalInBaseCurrency": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "variantId": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierId": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          },
                          "totalInBaseCurrency": {
                            "type": "number"
                          },
                          "trackingLocationId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/katana/latest/actions/create-sales-order": {
      "post": {
        "operationId": "katana.create-sales-order",
        "summary": "Create Sales Order",
        "description": "Creates a new sales order in Katana.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/katana/latest/actions/create-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderNo",
                  "customerId",
                  "salesOrderRows[]",
                  "salesOrderRows[].quantity",
                  "salesOrderRows[].variantId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderNo": {
                    "type": "string"
                  },
                  "customerId": {
                    "type": "number"
                  },
                  "salesOrderRows[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "salesOrderRows[].quantity": {
                    "type": "number"
                  },
                  "salesOrderRows[].variantId": {
                    "type": "number"
                  },
                  "salesOrderRows[].taxRateId": {
                    "type": "number"
                  },
                  "salesOrderRows[].locationId": {
                    "type": "number"
                  },
                  "salesOrderRows[].attributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "salesOrderRows[].attributes[].key": {
                    "type": "string"
                  },
                  "salesOrderRows[].attributes[].value": {
                    "type": "string"
                  },
                  "salesOrderRows[].pricePerUnit": {
                    "type": "number"
                  },
                  "salesOrderRows[].totalDiscount": {
                    "type": "number"
                  },
                  "trackingNumber": {
                    "type": "string"
                  },
                  "trackingNumberUrl": {
                    "type": "string"
                  },
                  "addresses[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "addresses[].entityType": {
                    "type": "string"
                  },
                  "addresses[].firstName": {
                    "type": "string"
                  },
                  "addresses[].lastName": {
                    "type": "string"
                  },
                  "addresses[].company": {
                    "type": "string"
                  },
                  "addresses[].phone": {
                    "type": "string"
                  },
                  "addresses[].line1": {
                    "type": "string"
                  },
                  "addresses[].line2": {
                    "type": "string"
                  },
                  "addresses[].city": {
                    "type": "string"
                  },
                  "addresses[].state": {
                    "type": "string"
                  },
                  "addresses[].zip": {
                    "type": "string"
                  },
                  "addresses[].country": {
                    "type": "string"
                  },
                  "orderCreatedDate": {
                    "type": "string"
                  },
                  "deliveryDate": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "description": "E.g. USD, EUR. All currently active currency codes in ISO 4217 format."
                  },
                  "locationId": {
                    "type": "number"
                  },
                  "status": {
                    "type": "string",
                    "description": "When the status is omitted, NOT_SHIPPED is used as default.\n        Use PENDING when you want to create sales order quotes."
                  },
                  "additionalInfo": {
                    "type": "string"
                  },
                  "customerRef": {
                    "type": "string"
                  },
                  "ecommerceOrderType": {
                    "type": "string"
                  },
                  "ecommerceStoreName": {
                    "type": "string"
                  },
                  "ecommerceOrderId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "string"
                          },
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "city": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "entityType": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "line1": {
                                  "type": "string"
                                },
                                "line2": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "salesOrderId": {
                                  "type": "number"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "zip": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "billingAddressId": {
                            "type": "number"
                          },
                          "conversionDate": {
                            "type": "string"
                          },
                          "conversionRate": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "number"
                          },
                          "customerRef": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "deliveryDate": {
                            "type": "string"
                          },
                          "ecommerceOrderId": {
                            "type": "string"
                          },
                          "ecommerceOrderType": {
                            "type": "string"
                          },
                          "ecommerceStoreName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "ingredientAvailability": {
                            "type": "string"
                          },
                          "invoicingStatus": {
                            "type": "string"
                          },
                          "locationId": {
                            "type": "number"
                          },
                          "orderCreatedDate": {
                            "type": "string"
                          },
                          "orderNo": {
                            "type": "string"
                          },
                          "pickedDate": {
                            "type": "string"
                          },
                          "productAvailability": {
                            "type": "string"
                          },
                          "productionStatus": {
                            "type": "string"
                          },
                          "salesOrderRows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attributes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "key": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "batchTransactions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "conversionDate": {
                                  "type": "string"
                                },
                                "conversionRate": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "locationId": {
                                  "type": "number"
                                },
                                "pricePerUnit": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "salesOrderId": {
                                  "type": "number"
                                },
                                "taxRateId": {
                                  "type": "number"
                                },
                                "total": {
                                  "type": "number"
                                },
                                "totalInBaseCurrency": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "variantId": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "shippingAddressId": {
                            "type": "number"
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "totalInBaseCurrency": {
                            "type": "number"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "trackingNumberUrl": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/katana/latest/actions/create-sales-order-fulfillment": {
      "post": {
        "operationId": "katana.create-sales-order-fulfillment",
        "summary": "Create Sales Order Fulfillment",
        "description": "Creates a sales order fulfillment in Katana.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/katana/latest/actions/create-sales-order-fulfillment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "salesOrderId",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "salesOrderId": {
                    "type": "number"
                  },
                  "pickedDate": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "conversionRate": {
                    "type": "number"
                  },
                  "conversionDate": {
                    "type": "string"
                  },
                  "trackingNumber": {
                    "type": "string"
                  },
                  "trackingUrl": {
                    "type": "string"
                  },
                  "trackingCarrier": {
                    "type": "string"
                  },
                  "trackingMethod": {
                    "type": "string"
                  },
                  "salesOrderFulfillmentRows[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "salesOrderFulfillmentRows[].salesOrderRowId": {
                    "type": "number"
                  },
                  "salesOrderFulfillmentRows[].quantity": {
                    "type": "number"
                  },
                  "salesOrderFulfillmentRows[].batchTransactions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "salesOrderFulfillmentRows[].batchTransactions[].batchId": {
                    "type": "number"
                  },
                  "salesOrderFulfillmentRows[].batchTransactions[].quantity": {
                    "type": "number"
                  },
                  "salesOrderFulfillmentRows[].serialNumbers[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversionDate": {
                            "type": "string"
                          },
                          "conversionRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "pickedDate": {
                            "type": "string"
                          },
                          "salesOrderFulfillmentRows": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "batchTransactions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "batchId": {
                                        "type": "number"
                                      },
                                      "quantity": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                },
                                "id": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "salesOrderRowId": {
                                  "type": "number"
                                },
                                "serialNumbers": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          },
                          "salesOrderId": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "trackingCarrier": {
                            "type": "string"
                          },
                          "trackingMethod": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "trackingUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/katana/latest/actions/create-supplier": {
      "post": {
        "operationId": "katana.create-supplier",
        "summary": "Create Supplier",
        "description": "Creates a new supplier in Katana.",
        "externalDocs": {
[...]
