{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "WorkOS Universal API",
    "version": "0.1.6",
    "description": "WorkOS provides enterprise-ready APIs for user management, organizations, SSO, directory sync, audit logs, RBAC authorization, feature flags, webhooks, Radar risk checks, and related administrative workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/workOS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/workOS/latest/actions/assign-a-role": {
      "post": {
        "operationId": "workOS.assign-a-role",
        "summary": "Assign a role",
        "description": "Assigns a role in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/assign-a-role"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organization_membership_id",
                  "role_slug"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organization_membership_id": {
                    "type": "string",
                    "description": "The ID of the organization membership."
                  },
                  "role_slug": {
                    "type": "string",
                    "description": "The slug of the role to assign."
                  },
                  "resource_id": {
                    "type": "string",
                    "description": "The ID of the resource. Use either this or `resource_external_id` and `resource_type_slug`."
                  },
                  "resource_external_id": {
                    "type": "string",
                    "description": "The external ID of the resource. Requires `resource_type_slug`."
                  },
                  "resource_type_slug": {
                    "type": "string",
                    "description": "The resource type slug. Required with `resource_external_id`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the role assignment."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the role assignment object."
                          },
                          "resource": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The resource to which the role is assigned."
                          },
                          "role": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The role included in the assignment."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/check-authorization": {
      "post": {
        "operationId": "workOS.check-authorization",
        "summary": "Check authorization",
        "description": "Checks authorization in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/check-authorization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organization_membership_id",
                  "permission_slug"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organization_membership_id": {
                    "type": "string",
                    "description": "The ID of the organization membership to check."
                  },
                  "permission_slug": {
                    "type": "string",
                    "description": "The slug of the permission to check."
                  },
                  "resource_id": {
                    "type": "string",
                    "description": "The ID of the resource."
                  },
                  "resource_external_id": {
                    "type": "string",
                    "description": "The external ID of the resource."
                  },
                  "resource_type_slug": {
                    "type": "string",
                    "description": "The slug of the resource type."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorized": {
                            "type": "boolean",
                            "description": "Whether the organization membership has the specified permission on the resource."
                          },
                          "id": {
                            "type": "string",
                            "description": "WorkOS response field id."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "WorkOS response field object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/create-a-password-reset-token": {
      "post": {
        "operationId": "workOS.create-a-password-reset-token",
        "summary": "Create a password reset token",
        "description": "Creates a password reset token in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/create-a-password-reset-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address of the user requesting a password reset."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the password reset token was created."
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address of the user."
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the password reset token expires."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the password reset object."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the password reset object."
                          },
                          "password_reset_token": {
                            "type": "string",
                            "description": "The token used to reset the password."
                          },
                          "password_reset_url": {
                            "type": "string",
                            "description": "The URL where the user can reset their password."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "The unique ID of the user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/create-a-permission": {
      "post": {
        "operationId": "workOS.create-a-permission",
        "summary": "Create a permission",
        "description": "Creates a permission in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/create-a-permission"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "slug",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "slug": {
                    "type": "string",
                    "description": "A unique key to reference the permission. Must be lowercase and contain only letters, numbers, hyphens, underscores, colons, periods, and asterisks."
                  },
                  "name": {
                    "type": "string",
                    "description": "A descriptive name for the Permission."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description of the Permission."
                  },
                  "resource_type_slug": {
                    "type": "string",
                    "description": "The slug of the resource type this permission is scoped to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "An optional description of the Permission."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the Permission."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "name": {
                            "type": "string",
                            "description": "A descriptive name for the Permission."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the Permission object."
                          },
                          "resource_type_slug": {
                            "type": "string",
                            "description": "The slug of the resource type associated with the permission."
                          },
                          "slug": {
                            "type": "string",
                            "description": "A unique key to reference the permission. Must be lowercase and contain only letters, numbers, hyphens, underscores, colons, periods, and asterisks."
                          },
                          "system": {
                            "type": "boolean",
                            "description": "Whether the permission is a system permission. System permissions are managed by WorkOS and cannot be deleted."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/create-a-user": {
      "post": {
        "operationId": "workOS.create-a-user",
        "summary": "Create a user",
        "description": "Creates a user in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/create-a-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address of the user."
                  },
                  "password": {
                    "type": "string",
                    "description": "The password to set for the user. Mutually exclusive with `password_hash` and `password_hash_type`."
                  },
                  "password_hash": {
                    "type": "string",
                    "description": "The hashed password to set for the user. Mutually exclusive with `password`."
                  },
                  "password_hash_type": {
                    "type": "string",
                    "description": "The algorithm originally used to hash the password, used when providing a `password_hash`."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The first name of the user."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name of the user."
                  },
                  "email_verified": {
                    "type": "boolean",
                    "description": "Whether the user's email has been verified."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Object containing metadata key/value pairs associated with the user."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "The external ID of the user."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address of the user."
                          },
                          "email_verified": {
                            "type": "boolean",
                            "description": "Whether the user's email has been verified."
                          },
                          "external_id": {
                            "type": "string",
                            "description": "The external ID of the user."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name of the user."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the user."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name of the user."
                          },
                          "last_sign_in_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the user last signed in."
                          },
                          "locale": {
                            "type": "string",
                            "description": "The user's preferred locale."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object containing metadata key/value pairs associated with the user."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the user object."
                          },
                          "profile_picture_url": {
                            "type": "string",
                            "description": "A URL reference to an image representing the user."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/create-a-webhook-endpoint": {
      "post": {
        "operationId": "workOS.create-a-webhook-endpoint",
        "summary": "Create a Webhook Endpoint",
        "description": "Creates a webhook endpoint in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/create-a-webhook-endpoint"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "endpoint_url",
                  "events"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "endpoint_url": {
                    "type": "string",
                    "description": "The HTTPS URL where webhooks will be sent."
                  },
                  "events": {
                    "type": "string",
                    "description": "The events that the Webhook Endpoint is subscribed to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "endpoint_url": {
                            "type": "string",
                            "description": "The URL to which webhooks are sent."
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The events that the Webhook Endpoint is subscribed to."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the Webhook Endpoint."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the Webhook Endpoint object."
                          },
                          "secret": {
                            "type": "string",
                            "description": "The secret used to sign webhook payloads."
                          },
                          "status": {
                            "type": "string",
                            "description": "Whether the Webhook Endpoint is enabled or disabled."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/create-an-organization": {
      "post": {
        "operationId": "workOS.create-an-organization",
        "summary": "Create an Organization",
        "description": "Creates an organization in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/create-an-organization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the organization."
                  },
                  "allow_profiles_outside_organization": {
                    "type": "boolean",
                    "description": "Whether the organization allows profiles from outside the organization to sign in."
                  },
                  "domains": {
                    "type": "string",
                    "description": "The domains associated with the organization. Deprecated in favor of `domain_data`."
                  },
                  "domain_data": {
                    "type": "string",
                    "description": "The domains associated with the organization, including verification state."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Object containing [metadata](/authkit/metadata) key/value pairs associated with the Organization."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "An external identifier for the Organization."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allow_profiles_outside_organization": {
                            "type": "boolean",
                            "description": "Whether the Organization allows profiles outside of its managed domains."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "domains": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of Organization Domains."
                          },
                          "external_id": {
                            "type": "string",
                            "description": "The external ID of the Organization."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the Organization."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object containing [metadata](/authkit/metadata) key/value pairs associated with the Organization."
                          },
                          "name": {
                            "type": "string",
                            "description": "A descriptive name for the Organization. This field does not need to be unique."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the Organization object."
                          },
                          "stripe_customer_id": {
                            "type": "string",
                            "description": "The Stripe customer ID of the Organization."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/create-an-organization-domain": {
      "post": {
        "operationId": "workOS.create-an-organization-domain",
        "summary": "Create an Organization Domain",
        "description": "Creates an organization domain in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/create-an-organization-domain"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "domain",
                  "organization_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain to add to the organization."
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "The ID of the organization to add the domain to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain for the organization domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the organization domain."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the organization domain object."
                          },
                          "organization_id": {
                            "type": "string",
                            "description": "ID of the parent Organization."
                          },
                          "state": {
                            "type": "string",
                            "description": "Verification state of the domain."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "verification_prefix": {
                            "type": "string",
                            "description": "The prefix used in DNS verification."
                          },
                          "verification_strategy": {
                            "type": "string",
                            "description": "Strategy used to verify the domain."
                          },
                          "verification_token": {
                            "type": "string",
                            "description": "Validation token to be used in DNS TXT record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/create-an-organization-membership": {
      "post": {
        "operationId": "workOS.create-an-organization-membership",
        "summary": "Create an organization membership",
        "description": "Creates an organization membership in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/create-an-organization-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "user_id",
                  "organization_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the [user](/reference/authkit/user)."
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "The ID of the [organization](/reference/organization) which the user belongs to."
                  },
                  "role_slug": {
                    "type": "string",
                    "description": "A single role identifier. Defaults to `member` or the explicit default role. Mutually exclusive with `role_slugs`."
                  },
                  "role_slugs": {
                    "type": "string",
                    "description": "An array of role identifiers. Limited to one role when Multiple Roles is disabled. Mutually exclusive with `role_slug`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An object containing IdP-sourced attributes from the linked [Directory User](/reference/directory-sync/directory-user) or [SSO Profile](/reference/sso/profile). Directory User attributes take precedence when both are linked."
                          },
                          "directory_managed": {
                            "type": "boolean",
                            "description": "Whether this organization membership is managed by a directory sync connection."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the organization membership."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the organization membership object."
                          },
                          "organization_id": {
                            "type": "string",
                            "description": "The ID of the organization which the user belongs to."
                          },
                          "organization_name": {
                            "type": "string",
                            "description": "The name of the organization which the user belongs to."
                          },
                          "role": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The primary role assigned to the user within the organization."
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the organization membership. One of `active`, `inactive`, or `pending`."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "The ID of the user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/deactivate-an-organization-membership": {
      "put": {
        "operationId": "workOS.deactivate-an-organization-membership",
        "summary": "Deactivate an organization membership",
        "description": "Deactivates an organization membership in your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/deactivate-an-organization-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The unique ID of the organization membership."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An object containing IdP-sourced attributes from the linked [Directory User](/reference/directory-sync/directory-user) or [SSO Profile](/reference/sso/profile). Directory User attributes take precedence when both are linked."
                          },
                          "directory_managed": {
                            "type": "boolean",
                            "description": "Whether this organization membership is managed by a directory sync connection."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the organization membership."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "Distinguishes the organization membership object."
                          },
                          "organization_id": {
                            "type": "string",
                            "description": "The ID of the organization which the user belongs to."
                          },
                          "organization_name": {
                            "type": "string",
                            "description": "The name of the organization which the user belongs to."
                          },
                          "role": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The primary role assigned to the user within the organization."
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the organization membership. One of `active`, `inactive`, or `pending`."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "An ISO 8601 timestamp."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "The ID of the user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/delete-a-connection": {
      "delete": {
        "operationId": "workOS.delete-a-connection",
        "summary": "Delete a Connection",
        "description": "Deletes a connection from your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/delete-a-connection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the Connection.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the Connection."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "WorkOS response field id."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "WorkOS response field object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/delete-a-user": {
      "delete": {
        "operationId": "workOS.delete-a-user",
        "summary": "Delete a user",
        "description": "Deletes a user from your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/delete-a-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique ID of the user.",
            "schema": {
              "type": "string",
              "description": "The unique ID of the user."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "WorkOS response field id."
                          },
                          "message": {
                            "type": "string",
                            "description": "WorkOS response field message."
                          },
                          "object": {
                            "type": "string",
                            "description": "WorkOS response field object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workOS/latest/actions/delete-a-webhook-endpoint": {
      "delete": {
        "operationId": "workOS.delete-a-webhook-endpoint",
        "summary": "Delete a Webhook Endpoint",
        "description": "Deletes a webhook endpoint from your WorkOS environment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workOS/latest/actions/delete-a-webhook-endpoint"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the Webhook Endpoint.",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the Webhook Endpoint."
            }
          }
        ],
        "responses": {
          "200": {
[...]
