{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Calendar Universal API",
    "version": "0.0.7",
    "description": "Manage calendars, schedule events, and coordinate team availability"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoCalendar/latest/actions/create-calendar": {
      "post": {
        "operationId": "zohoCalendar.create-calendar",
        "summary": "Create Calendar",
        "description": "Creates a new personal calendar in Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/create-calendar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "calendarData"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "calendarData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Calendar payload object describing the calendar to create."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendars": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "caltype": {
                                  "type": "string"
                                },
                                "category": {
                                  "type": "string"
                                },
                                "color": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "include_infreebusy": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "boolean"
                                },
                                "textcolor": {
                                  "type": "string"
                                },
                                "timezone": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/create-event": {
      "post": {
        "operationId": "zohoCalendar.create-event",
        "summary": "Create Event",
        "description": "Creates a new event in Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "calendarUid",
                  "eventData"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "calendarUid": {
                    "type": "string",
                    "description": "Calendar unique identifier."
                  },
                  "eventData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event payload object describing the new event."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "caluid": {
                                  "type": "string"
                                },
                                "createdby": {
                                  "type": "string"
                                },
                                "dateandtime": {
                                  "type": "object",
                                  "properties": {
                                    "end": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "description": {
                                  "type": "string"
                                },
                                "etag": {
                                  "type": "string"
                                },
                                "isallday": {
                                  "type": "boolean"
                                },
                                "isApproved": {
                                  "type": "boolean"
                                },
                                "location": {
                                  "type": "string"
                                },
                                "organizer": {
                                  "type": "string"
                                },
                                "rrule": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                },
                                "viewEventURL": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/create-event-using-smart-add": {
      "post": {
        "operationId": "zohoCalendar.create-event-using-smart-add",
        "summary": "Create Event Using Smart Add",
        "description": "Creates a new event in Zoho Calendar using Smart Add.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/create-event-using-smart-add"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Natural-language Smart Add text to turn into an event. Zoho currently expects this query value as saddtext at runtime."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dateandtime": {
                                  "type": "object",
                                  "properties": {
                                    "end": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "description": {
                                  "type": "string"
                                },
                                "isallday": {
                                  "type": "boolean"
                                },
                                "isprivate": {
                                  "type": "boolean"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/delete-calendar": {
      "delete": {
        "operationId": "zohoCalendar.delete-calendar",
        "summary": "Delete Calendar",
        "description": "Deletes an existing calendar from Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/delete-calendar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarUid",
            "in": "query",
            "required": true,
            "description": "Calendar unique identifier.",
            "schema": {
              "type": "string",
              "description": "Calendar unique identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendars": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "calstatus": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/delete-event": {
      "delete": {
        "operationId": "zohoCalendar.delete-event",
        "summary": "Delete Event",
        "description": "Deletes an existing event from Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/delete-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarUid",
            "in": "query",
            "required": true,
            "description": "Calendar unique identifier.",
            "schema": {
              "type": "string",
              "description": "Calendar unique identifier."
            }
          },
          {
            "name": "eventUid",
            "in": "query",
            "required": true,
            "description": "Event unique identifier.",
            "schema": {
              "type": "string",
              "description": "Event unique identifier."
            }
          },
          {
            "name": "eventData",
            "in": "query",
            "required": false,
            "description": "Zoho's live delete endpoint requires `eventData.uid` and `eventData.etag` from a prior event read response, even for standard single-event deletes.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Zoho's live delete endpoint requires `eventData.uid` and `eventData.etag` from a prior event read response, even for standard single-event deletes."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "caluid": {
                                  "type": "string"
                                },
                                "estatus": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-calendar-details": {
      "get": {
        "operationId": "zohoCalendar.get-calendar-details",
        "summary": "Get Calendar Details",
        "description": "Retrieves details for a calendar in Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-calendar-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarUid",
            "in": "query",
            "required": true,
            "description": "Calendar unique identifier. You can also use default or primary.",
            "schema": {
              "type": "string",
              "description": "Calendar unique identifier. You can also use default or primary."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendars": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "alarm": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "action": {
                                        "type": "string"
                                      },
                                      "trigger": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "allowed_conference": {
                                  "type": "string"
                                },
                                "allowed_conference_list": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "calendar_createdtime": {
                                  "type": "number"
                                },
                                "calendar_modifiedtime": {
                                  "type": "number"
                                },
                                "caltype": {
                                  "type": "string"
                                },
                                "canSendMail": {
                                  "type": "boolean"
                                },
                                "category": {
                                  "type": "string"
                                },
                                "color": {
                                  "type": "string"
                                },
                                "createdtime": {
                                  "type": "number"
                                },
                                "ctag": {
                                  "type": "number"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "include_infreebusy": {
                                  "type": "boolean"
                                },
                                "isdefault": {
                                  "type": "boolean"
                                },
                                "lastmodifiedtime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "modifiedtime": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "owner": {
                                  "type": "string"
                                },
                                "privilege": {
                                  "type": "string"
                                },
                                "reminders": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "action": {
                                        "type": "string"
                                      },
                                      "minutes": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "status": {
                                  "type": "boolean"
                                },
                                "textcolor": {
                                  "type": "string"
                                },
                                "timezone": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "number"
                                },
                                "uid": {
                                  "type": "string"
                                },
                                "visibility": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-calendar-settings": {
      "get": {
        "operationId": "zohoCalendar.get-calendar-settings",
        "summary": "Get Calendar Settings",
        "description": "Retrieves calendar settings from Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-calendar-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "settings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "agendanotify": {
                                  "type": "string"
                                },
                                "allow_eventinvite": {
                                  "type": "string"
                                },
                                "allow_groupinvite": {
                                  "type": "string"
                                },
                                "dateformat": {
                                  "type": "string"
                                },
                                "default_view": {
                                  "type": "string"
                                },
                                "defEveCreationCal": {
                                  "type": "string"
                                },
                                "display_deniedevents": {
                                  "type": "boolean"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "emailformat": {
                                  "type": "string"
                                },
                                "event_duration": {
                                  "type": "number"
                                },
                                "fontsize": {
                                  "type": "string"
                                },
                                "guest_perm": {
                                  "type": "number"
                                },
                                "hourend": {
                                  "type": "number"
                                },
                                "hourstart": {
                                  "type": "number"
                                },
                                "layout": {
                                  "type": "number"
                                },
                                "listview": {
                                  "type": "boolean"
                                },
                                "new_version": {
                                  "type": "number"
                                },
                                "nonworkinghours_busy": {
                                  "type": "boolean"
                                },
                                "notifyemail": {
                                  "type": "string"
                                },
                                "remindernotify": {
                                  "type": "string"
                                },
                                "show_allevents": {
                                  "type": "boolean"
                                },
                                "show_weekno": {
                                  "type": "boolean"
                                },
                                "show_workhour": {
                                  "type": "boolean"
                                },
                                "theme": {
                                  "type": "string"
                                },
                                "time_grid": {
                                  "type": "number"
                                },
                                "timeformat": {
                                  "type": "string"
                                },
                                "timezone": {
                                  "type": "string"
                                },
                                "timezone_change": {
                                  "type": "boolean"
                                },
                                "weekstart": {
                                  "type": "number"
                                },
                                "workweek_end": {
                                  "type": "number"
                                },
                                "workweek_start": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-event-by-instance": {
      "get": {
        "operationId": "zohoCalendar.get-event-by-instance",
        "summary": "Get Event By Instance",
        "description": "Retrieves instances of a recurring event in Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-event-by-instance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarUid",
            "in": "query",
            "required": true,
            "description": "Calendar unique identifier.",
            "schema": {
              "type": "string",
              "description": "Calendar unique identifier."
            }
          },
          {
            "name": "eventUid",
            "in": "query",
            "required": true,
            "description": "Event unique identifier.",
            "schema": {
              "type": "string",
              "description": "Event unique identifier."
            }
          },
          {
            "name": "range",
            "in": "query",
            "required": true,
            "description": "Date range object for the event instance lookup.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Date range object for the event instance lookup."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "caluid": {
                                  "type": "string"
                                },
                                "dateandtime": {
                                  "type": "object",
                                  "properties": {
                                    "end": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "description": {
                                  "type": "string"
                                },
                                "etag": {
                                  "type": "string"
                                },
                                "isallday": {
                                  "type": "boolean"
                                },
                                "isApproved": {
                                  "type": "boolean"
                                },
                                "organizer": {
                                  "type": "string"
                                },
                                "recurrenceid": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                },
                                "viewEventURL": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-event-details": {
      "get": {
        "operationId": "zohoCalendar.get-event-details",
        "summary": "Get Event Details",
        "description": "Retrieves details for an event in Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-event-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarUid",
            "in": "query",
            "required": true,
            "description": "Calendar unique identifier for the event.",
            "schema": {
              "type": "string",
              "description": "Calendar unique identifier for the event."
            }
          },
          {
            "name": "eventUid",
            "in": "query",
            "required": true,
            "description": "Event unique identifier.",
            "schema": {
              "type": "string",
              "description": "Event unique identifier."
            }
          },
          {
            "name": "recurrenceId",
            "in": "query",
            "required": false,
            "description": "Specific recurrence instance identifier.",
            "schema": {
              "type": "string",
              "description": "Specific recurrence instance identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "caluid": {
                                  "type": "string"
                                },
                                "createdby": {
                                  "type": "string"
                                },
                                "dateandtime": {
                                  "type": "object",
                                  "properties": {
                                    "end": {
                                      "type": "string"
                                    },
                                    "start": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "description": {
                                  "type": "string"
                                },
                                "etag": {
                                  "type": "string"
                                },
                                "isallday": {
                                  "type": "boolean"
                                },
                                "isApproved": {
                                  "type": "boolean"
                                },
                                "location": {
                                  "type": "string"
                                },
                                "organizer": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                },
                                "viewEventURL": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-group-attendees-details": {
      "get": {
        "operationId": "zohoCalendar.get-group-attendees-details",
        "summary": "Get Group Attendees Details",
        "description": "Retrieves group attendee details for an event in Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-group-attendees-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarUid",
            "in": "query",
            "required": true,
            "description": "Calendar unique identifier.",
            "schema": {
              "type": "string",
              "description": "Calendar unique identifier."
            }
          },
          {
            "name": "eventUid",
            "in": "query",
            "required": true,
            "description": "Event unique identifier.",
            "schema": {
              "type": "string",
              "description": "Event unique identifier."
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "description": "Numeric group identifier for the attendee status lookup.",
            "schema": {
              "type": "number",
              "description": "Numeric group identifier for the attendee status lookup."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-notification-details": {
      "get": {
        "operationId": "zohoCalendar.get-notification-details",
        "summary": "Get Notification Details",
        "description": "Retrieves notification details from Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-notification-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "notification": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "agendanotify": {
                                  "type": "string"
                                },
                                "emailformat": {
                                  "type": "string"
                                },
                                "notifyemail": {
                                  "type": "string"
                                },
                                "remindernotify": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-shared-calendar-details": {
      "get": {
        "operationId": "zohoCalendar.get-shared-calendar-details",
        "summary": "Get Shared Calendar Details",
        "description": "Retrieves details for a shared calendar in Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-shared-calendar-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarUid",
            "in": "query",
            "required": true,
            "description": "Calendar unique identifier for the shared calendar.",
            "schema": {
              "type": "string",
              "description": "Calendar unique identifier for the shared calendar."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "share": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailid": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "privilege": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoCalendar/latest/actions/get-user-free-busy-details": {
      "get": {
        "operationId": "zohoCalendar.get-user-free-busy-details",
        "summary": "Get User Free Busy Details",
        "description": "Retrieves user free/busy details from Zoho Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoCalendar/latest/actions/get-user-free-busy-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userEmail",
            "in": "query",
            "required": true,
            "description": "Email address of the user whose free/busy details you want.",
            "schema": {
              "type": "string",
              "description": "Email address of the user whose free/busy details you want."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start datetime in yyyyMMdd'T'HHmmss format.",
            "schema": {
              "type": "string",
              "description": "Start datetime in yyyyMMdd'T'HHmmss format."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End datetime in yyyyMMdd'T'HHmmss format.",
            "schema": {
              "type": "string",
              "description": "End datetime in yyyyMMdd'T'HHmmss format."
            }
          },
          {
            "name": "freeBusyType",
            "in": "query",
            "required": false,
            "description": "Free/busy response style, for example eventbased or timebased.",
            "schema": {
              "type": "string",
              "description": "Free/busy response style, for example eventbased or timebased."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "freebusy": {
                            "type": "array",
                            "items": {
[...]
