{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ShortPixel Universal API",
    "version": "0.0.3",
    "description": "ShortPixel image optimization API wrapper for reducer, synchronized reducer, and post-reducer operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shortPixel/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shortPixel/latest/actions/check-remote-optimization-status": {
      "get": {
        "operationId": "shortPixel.check-remote-optimization-status",
        "summary": "Check Remote Optimization Status",
        "description": "Retrieves remote image optimization status from ShortPixel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortPixel/latest/actions/check-remote-optimization-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "optimizationUrls[]",
            "in": "query",
            "required": true,
            "description": "One or more temporary OriginalURL values returned by ShortPixel for pending optimizations.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more temporary OriginalURL values returned by ShortPixel for pending optimizations."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "description": "Maximum seconds to wait before returning the latest optimization status.",
            "schema": {
              "type": "number",
              "description": "Maximum seconds to wait before returning the latest optimization status."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AVIFLosslessSize": {
                            "type": "string",
                            "description": "Lossless AVIF size or NA."
                          },
                          "AVIFLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless AVIF result when requested."
                          },
                          "AVIFLossySize": {
                            "type": "string",
                            "description": "Lossy AVIF size or NA."
                          },
                          "AVIFLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy AVIF result when requested."
                          },
                          "LoselessSize": {
                            "type": "number",
                            "description": "Legacy misspelled provider alias for lossless optimized size."
                          },
                          "LosslessSize": {
                            "type": "number",
                            "description": "Lossless optimized file size in bytes."
                          },
                          "LosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless optimized image when available."
                          },
                          "LossySize": {
                            "type": "number",
                            "description": "Lossy or glossy optimized file size in bytes."
                          },
                          "LossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy optimized image when available."
                          },
                          "OriginalSize": {
                            "type": "number",
                            "description": "Original file size in bytes."
                          },
                          "OriginalURL": {
                            "type": "string",
                            "description": "Original or temporary optimization URL being checked."
                          },
                          "PercentImprovement": {
                            "type": "string",
                            "description": "Reported percentage size improvement."
                          },
                          "Status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optimization status object with provider code and message."
                          },
                          "TimeStamp": {
                            "type": "string",
                            "description": "Provider processing timestamp."
                          },
                          "Unlimited": {
                            "type": "boolean",
                            "description": "Whether the processed item used an unlimited account allowance."
                          },
                          "WebPLoselessSize": {
                            "type": "string",
                            "description": "Legacy misspelled provider alias for lossless WebP size or NA."
                          },
                          "WebPLosslessSize": {
                            "type": "string",
                            "description": "Lossless WebP size or NA."
                          },
                          "WebPLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless WebP result when requested."
                          },
                          "WebPLossySize": {
                            "type": "string",
                            "description": "Lossy WebP size or NA."
                          },
                          "WebPLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy WebP result when requested."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortPixel/latest/actions/check-uploaded-optimization-status": {
      "get": {
        "operationId": "shortPixel.check-uploaded-optimization-status",
        "summary": "Check Uploaded Optimization Status",
        "description": "Retrieves uploaded image optimization status from ShortPixel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortPixel/latest/actions/check-uploaded-optimization-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadedOptimizationUrls[]",
            "in": "query",
            "required": true,
            "description": "One or more temporary OriginalURL values returned by the upload action for pending optimizations.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more temporary OriginalURL values returned by the upload action for pending optimizations."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "lossy",
            "in": "query",
            "required": false,
            "description": "0 for lossless, 1 for lossy, 2 for glossy compression.",
            "schema": {
              "type": "number",
              "description": "0 for lossless, 1 for lossy, 2 for glossy compression."
            }
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "description": "Maximum seconds to wait before returning the latest optimization status.",
            "schema": {
              "type": "number",
              "description": "Maximum seconds to wait before returning the latest optimization status."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AVIFLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless AVIF result when requested."
                          },
                          "AVIFLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy AVIF result when requested."
                          },
                          "Key": {
                            "type": "string",
                            "description": "Uploaded multipart field name echoed by ShortPixel."
                          },
                          "localPath": {
                            "type": "string",
                            "description": "Provider-side local processing path echoed by ShortPixel."
                          },
                          "LoselessSize": {
                            "type": "number",
                            "description": "Lossless optimized file size in bytes."
                          },
                          "LosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless optimized image when available."
                          },
                          "LossySize": {
                            "type": "number",
                            "description": "Lossy or glossy optimized file size in bytes."
                          },
                          "LossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy optimized image when available."
                          },
                          "OriginalSize": {
                            "type": "number",
                            "description": "Original file size in bytes."
                          },
                          "OriginalURL": {
                            "type": "string",
                            "description": "Temporary URL for the uploaded source image or upload reference."
                          },
                          "Status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optimization status object with provider code and message."
                          },
                          "Timestamp": {
                            "type": "string",
                            "description": "Provider processing timestamp."
                          },
                          "Unlimited": {
                            "type": "boolean",
                            "description": "Whether the processed item used an unlimited account allowance."
                          },
                          "WebPLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless WebP result when requested."
                          },
                          "WebPLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy WebP result when requested."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortPixel/latest/actions/optimize-remote-image-direct": {
      "post": {
        "operationId": "shortPixel.optimize-remote-image-direct",
        "summary": "Optimize Remote Image Direct",
        "description": "Creates an optimized image directly from a remote URL in ShortPixel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortPixel/latest/actions/optimize-remote-image-direct"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "imageUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "The publicly reachable image URL to optimize and return directly."
                  },
                  "lossy": {
                    "type": "number",
                    "description": "0 for lossless, 1 for lossy, 2 for glossy compression."
                  },
                  "wait": {
                    "type": "number",
                    "description": "Maximum seconds to wait for optimization before returning."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Byte array for the optimized image returned directly by ShortPixel."
                          },
                          "type": {
                            "type": "string",
                            "description": "Runtime wrapper type for the raw synchronized reducer output."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortPixel/latest/actions/optimize-remote-images": {
      "post": {
        "operationId": "shortPixel.optimize-remote-images",
        "summary": "Optimize Remote Images",
        "description": "Creates optimized image results from remote URLs in ShortPixel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortPixel/latest/actions/optimize-remote-images"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "imageUrls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "imageUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more publicly reachable image URLs to optimize."
                  },
                  "lossy": {
                    "type": "number",
                    "description": "0 for lossless, 1 for lossy, 2 for glossy compression."
                  },
                  "wait": {
                    "type": "number",
                    "description": "Maximum seconds to wait for optimization before returning."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AVIFLosslessSize": {
                            "type": "string",
                            "description": "Lossless AVIF size or NA."
                          },
                          "AVIFLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless AVIF result when requested."
                          },
                          "AVIFLossySize": {
                            "type": "string",
                            "description": "Lossy AVIF size or NA."
                          },
                          "AVIFLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy AVIF result when requested."
                          },
                          "LoselessSize": {
                            "type": "number",
                            "description": "Legacy misspelled provider alias for lossless optimized size."
                          },
                          "LosslessSize": {
                            "type": "number",
                            "description": "Lossless optimized file size in bytes."
                          },
                          "LosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless optimized image when available."
                          },
                          "LossySize": {
                            "type": "number",
                            "description": "Lossy or glossy optimized file size in bytes."
                          },
                          "LossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy optimized image when available."
                          },
                          "OriginalSize": {
                            "type": "number",
                            "description": "Original file size in bytes."
                          },
                          "OriginalURL": {
                            "type": "string",
                            "description": "The original source image URL."
                          },
                          "PercentImprovement": {
                            "type": "string",
                            "description": "Reported percentage size improvement."
                          },
                          "Status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optimization status object with provider code and message."
                          },
                          "TimeStamp": {
                            "type": "string",
                            "description": "Provider processing timestamp."
                          },
                          "Unlimited": {
                            "type": "boolean",
                            "description": "Whether the processed item used an unlimited account allowance."
                          },
                          "WebPLoselessSize": {
                            "type": "string",
                            "description": "Legacy misspelled provider alias for lossless WebP size or NA."
                          },
                          "WebPLosslessSize": {
                            "type": "string",
                            "description": "Lossless WebP size or NA."
                          },
                          "WebPLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless WebP result when requested."
                          },
                          "WebPLossySize": {
                            "type": "string",
                            "description": "Lossy WebP size or NA."
                          },
                          "WebPLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy WebP result when requested."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortPixel/latest/actions/optimize-uploaded-images": {
      "post": {
        "operationId": "shortPixel.optimize-uploaded-images",
        "summary": "Optimize Uploaded Images",
        "description": "Creates optimized image results from uploaded files in ShortPixel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortPixel/latest/actions/optimize-uploaded-images"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file1",
                  "filePaths"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file1": {
                    "type": "string",
                    "description": "The local image file to upload for optimization."
                  },
                  "filePaths": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON object whose keys match uploaded file field names and whose values are source paths meaningful to you, for example {\"file1\":\"/images/source.jpg\"}."
                  },
                  "lossy": {
                    "type": "number",
                    "description": "0 for lossless, 1 for lossy, 2 for glossy compression."
                  },
                  "wait": {
                    "type": "number",
                    "description": "Maximum seconds to wait for optimization before returning."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AVIFLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless AVIF result when requested."
                          },
                          "AVIFLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy AVIF result when requested."
                          },
                          "Key": {
                            "type": "string",
                            "description": "Uploaded multipart field name echoed by ShortPixel."
                          },
                          "localPath": {
                            "type": "string",
                            "description": "Provider-side local processing path echoed by ShortPixel."
                          },
                          "LoselessSize": {
                            "type": "number",
                            "description": "Lossless optimized file size in bytes."
                          },
                          "LosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless optimized image when available."
                          },
                          "LossySize": {
                            "type": "number",
                            "description": "Lossy or glossy optimized file size in bytes."
                          },
                          "LossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy optimized image when available."
                          },
                          "OriginalSize": {
                            "type": "number",
                            "description": "Original file size in bytes."
                          },
                          "OriginalURL": {
                            "type": "string",
                            "description": "Temporary URL for the uploaded source image or upload reference."
                          },
                          "Status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optimization status object with provider code and message."
                          },
                          "Timestamp": {
                            "type": "string",
                            "description": "Provider processing timestamp."
                          },
                          "Unlimited": {
                            "type": "boolean",
                            "description": "Whether the processed item used an unlimited account allowance."
                          },
                          "WebPLosslessURL": {
                            "type": "string",
                            "description": "Download URL for the lossless WebP result when requested."
                          },
                          "WebPLossyURL": {
                            "type": "string",
                            "description": "Download URL for the lossy or glossy WebP result when requested."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
