{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho People Universal API",
    "version": "0.0.13",
    "description": "Manage employee records, leave, attendance, and HR forms"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoPeople/latest/actions/add-attendance-entries": {
      "post": {
        "operationId": "zohoPeople.add-attendance-entries",
        "summary": "Add Attendance Entries",
        "description": "Creates attendance entries in Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/add-attendance-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "punchDetails",
                  "datetimeFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "punchDetails": {
                    "type": "string",
                    "description": "JSON array of attendance entries to add."
                  },
                  "datetimeFormat": {
                    "type": "string",
                    "description": "Datetime format for the punch_details payload, for example yyyy-MM-dd HH:mm:ss.",
                    "default": "yyyy-MM-dd HH:mm:ss"
                  },
                  "entriesTimezone": {
                    "type": "string",
                    "description": "Timezone of the source entries, such as a biometric device timezone."
                  },
                  "storageTimezone": {
                    "type": "string",
                    "description": "Timezone to store the attendance entries in Zoho People."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "empty_employee_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "error_information": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "maximum_entry_date": {
                                "type": "string"
                              },
                              "minimmun_entry_date": {
                                "type": "string"
                              },
                              "skipped_empolyee_info": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "success_count": {
                                "type": "number"
                              },
                              "total_count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/add-attendance-entry-by-punch-in-or-out": {
      "post": {
        "operationId": "zohoPeople.add-attendance-entry-by-punch-in-or-out",
        "summary": "Add Attendance Entry by Punch In or Out",
        "description": "Creates attendance entries by punch direction in Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/add-attendance-entry-by-punch-in-or-out"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "direction"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "direction": {
                    "type": "string",
                    "description": "Punch direction. Use in or out."
                  },
                  "latitude": {
                    "type": "string",
                    "description": "Latitude of the punch location. Zoho documents this parameter as lattitude."
                  },
                  "longitude": {
                    "type": "string",
                    "description": "Longitude of the punch location."
                  },
                  "accuracy": {
                    "type": "string",
                    "description": "Accuracy of the punch location."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description to attach to the punch event."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/cancel-leave-request": {
      "put": {
        "operationId": "zohoPeople.cancel-leave-request",
        "summary": "Cancel Leave Request",
        "description": "Cancels a leave request in Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/cancel-leave-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "recordId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "recordId": {
                    "type": "string",
                    "description": "Leave request record ID to cancel."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for cancelling the leave request."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/create-form-record": {
      "post": {
        "operationId": "zohoPeople.create-form-record",
        "summary": "Create Form Record",
        "description": "Creates a record in a Zoho People form.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/create-form-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formLinkName",
                  "inputData"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formLinkName": {
                    "type": "string",
                    "description": "Zoho People formLinkName. Example: employee."
                  },
                  "inputData": {
                    "type": "string",
                    "description": "Zoho form field payload, for example {Single_Line_1:\"a1\",Lookup_1:\"705358000000229001\"}."
                  },
                  "isDraft": {
                    "type": "boolean",
                    "description": "Set to true to save the record as a draft."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/create-leave-request": {
      "post": {
        "operationId": "zohoPeople.create-leave-request",
        "summary": "Create Leave Request",
        "description": "Creates a leave request in Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/create-leave-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "employeeZohoId",
                  "leaveTypeId",
                  "fromDate",
                  "toDate",
                  "unit"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "employeeZohoId": {
                    "type": "string",
                    "description": "Zoho employee erecno for the leave request."
                  },
                  "leaveTypeId": {
                    "type": "string",
                    "description": "Zoho leave type ID."
                  },
                  "fromDate": {
                    "type": "string",
                    "description": "Leave start date in the organization date format."
                  },
                  "toDate": {
                    "type": "string",
                    "description": "Leave end date in the organization date format."
                  },
                  "unit": {
                    "type": "string",
                    "description": "Leave unit. Zoho documents Days or Hours.",
                    "default": "Days"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the leave request."
                  },
                  "days": {
                    "type": "string",
                    "description": "Optional JSON object keyed by date with leave_count, session, start_time, and end_time."
                  },
                  "approverId": {
                    "type": "string",
                    "description": "Optional approver erecno when employees choose an approver."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "Created leave request identifier returned by Zoho."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider success message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status string."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/delete-leave-request": {
      "delete": {
        "operationId": "zohoPeople.delete-leave-request",
        "summary": "Delete Leave Request",
        "description": "Deletes a leave request from Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/delete-leave-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "Leave request record ID to delete.",
            "schema": {
              "type": "string",
              "description": "Leave request record ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/get-attendance-entries": {
      "get": {
        "operationId": "zohoPeople.get-attendance-entries",
        "summary": "Get Attendance Entries",
        "description": "Retrieves attendance entries from Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/get-attendance-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeZohoId",
            "in": "query",
            "required": false,
            "description": "Optional Zoho employee ID.",
            "schema": {
              "type": "number",
              "description": "Optional Zoho employee ID."
            }
          },
          {
            "name": "employeeEmailId",
            "in": "query",
            "required": false,
            "description": "Optional employee email identifier.",
            "schema": {
              "type": "string",
              "description": "Optional employee email identifier."
            }
          },
          {
            "name": "employeeBiometricMapperId",
            "in": "query",
            "required": false,
            "description": "Optional employee biometric mapper identifier.",
            "schema": {
              "type": "string",
              "description": "Optional employee biometric mapper identifier."
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "required": false,
            "description": "Optional employee ID.",
            "schema": {
              "type": "string",
              "description": "Optional employee ID."
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "Optional start date in the organization date format.",
            "schema": {
              "type": "string",
              "description": "Optional start date in the organization date format."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "Optional end date in the organization date format.",
            "schema": {
              "type": "string",
              "description": "Optional end date in the organization date format."
            }
          },
          {
            "name": "lastModifiedWithin",
            "in": "query",
            "required": false,
            "description": "Fetch entries created or updated within the last N minutes.",
            "schema": {
              "type": "number",
              "description": "Fetch entries created or updated within the last N minutes."
            }
          },
          {
            "name": "groupEntriesByDate",
            "in": "query",
            "required": false,
            "description": "Group attendance entries by date.",
            "schema": {
              "type": "boolean",
              "description": "Group attendance entries by date."
            }
          },
          {
            "name": "groupEntriesByEmployee",
            "in": "query",
            "required": false,
            "description": "Group attendance entries by employee.",
            "schema": {
              "type": "boolean",
              "description": "Group attendance entries by employee."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Start index for the attendance rows to fetch.",
            "schema": {
              "type": "number",
              "description": "Start index for the attendance rows to fetch.",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_by": {
                            "type": "string"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "employee": {
                            "type": "object",
                            "properties": {
                              "first_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "mail_id": {
                                "type": "string"
                              },
                              "zoho_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "entry_id": {
                            "type": "string"
                          },
                          "is_break": {
                            "type": "boolean"
                          },
                          "is_hourly_permission": {
                            "type": "boolean"
                          },
                          "is_on_duty": {
                            "type": "boolean"
                          },
                          "modified_by": {
                            "type": "string"
                          },
                          "modified_time": {
                            "type": "string"
                          },
                          "origin_day": {
                            "type": "string"
                          },
                          "punch_in": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "location": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "punch": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/get-form-fields": {
      "get": {
        "operationId": "zohoPeople.get-form-fields",
        "summary": "Get Form Fields",
        "description": "Retrieves fields for a Zoho People form.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/get-form-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formLinkName",
            "in": "query",
            "required": true,
            "description": "Zoho People formLinkName. Example: employee.",
            "schema": {
              "type": "string",
              "description": "Zoho People formLinkName. Example: employee."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autofillvalue": {
                            "type": "string"
                          },
                          "comptype": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "descriptionType": {
                            "type": "number"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "displayType": {
                            "type": "string"
                          },
                          "formcomponentid": {
                            "type": "number"
                          },
                          "ismandatory": {
                            "type": "boolean"
                          },
                          "isPrimary": {
                            "type": "boolean"
                          },
                          "labelname": {
                            "type": "string"
                          },
                          "maxLength": {
                            "type": "number"
                          },
                          "options": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "referedFieldId": {
                            "type": "number"
                          },
                          "referedFieldName": {
                            "type": "string"
                          },
                          "referedFormId": {
                            "type": "number"
                          },
                          "referedFormName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/get-form-record": {
      "get": {
        "operationId": "zohoPeople.get-form-record",
        "summary": "Get Form Record",
        "description": "Retrieves a record from a Zoho People form.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/get-form-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formLinkName",
            "in": "query",
            "required": true,
            "description": "Zoho People formLinkName. Example: employee.",
            "schema": {
              "type": "string",
              "description": "Zoho People formLinkName. Example: employee."
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "Record ID from Zoho People, typically obtained from a bulk-records or search response.",
            "schema": {
              "type": "string",
              "description": "Record ID from Zoho People, typically obtained from a bulk-records or search response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/get-leave-requests": {
      "get": {
        "operationId": "zohoPeople.get-leave-requests",
        "summary": "Get Leave Requests",
        "description": "Retrieves leave requests from Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/get-leave-requests"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "description": "Start date for the leave search, in the organization date format.",
            "schema": {
              "type": "string",
              "description": "Start date for the leave search, in the organization date format."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "description": "End date for the leave search, in the organization date format.",
            "schema": {
              "type": "string",
              "description": "End date for the leave search, in the organization date format."
            }
          },
          {
            "name": "dataSelect",
            "in": "query",
            "required": false,
            "description": "Choose which employee scope to fetch, such as MINE, SUBORDINATES, or ALL.",
            "schema": {
              "type": "string",
              "description": "Choose which employee scope to fetch, such as MINE, SUBORDINATES, or ALL.",
              "default": "ALL"
            }
          },
          {
            "name": "approvalStatus",
            "in": "query",
            "required": false,
            "description": "Filter by approval status. Zoho defaults this to ALL.",
            "schema": {
              "type": "string",
              "description": "Filter by approval status. Zoho defaults this to ALL.",
              "default": "ALL"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Start index for the leave records to fetch.",
            "schema": {
              "type": "number",
              "description": "Start index for the leave records to fetch.",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Optional maximum number of leave records to fetch.",
            "schema": {
              "type": "number",
              "description": "Optional maximum number of leave records to fetch."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort expression such as leave_type, -leave_type, employee, or -from_date.",
            "schema": {
              "type": "string",
              "description": "Sort expression such as leave_type, -leave_type, employee, or -from_date."
            }
          },
          {
            "name": "employeeZohoIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of employee erecnos to filter by.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of employee erecnos to filter by."
            }
          },
          {
            "name": "employeeDepartmentIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of department IDs to filter by.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of department IDs to filter by."
            }
          },
          {
            "name": "employeeLocationIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of location IDs to filter by.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of location IDs to filter by."
            }
          },
          {
            "name": "employeeStatus",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of status values such as ACTIVE_USERS or EX_EMPLOYEES.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of status values such as ACTIVE_USERS or EX_EMPLOYEES."
            }
          },
          {
            "name": "leaveTypeIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of leave type IDs to filter by.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of leave type IDs to filter by."
            }
          },
          {
            "name": "typeOfLeave",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of leave categories such as PAID or UNPAID.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of leave categories such as PAID or UNPAID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approval_status": {
                            "type": "string"
                          },
                          "date_of_request": {
                            "type": "string"
                          },
                          "days": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "employee": {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zoho_id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "from_date": {
                            "type": "string"
                          },
                          "leave_id": {
                            "type": "number"
                          },
                          "leave_type": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Reason": {
                            "type": "string"
                          },
                          "to_date": {
                            "type": "string"
                          },
                          "unit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/get-leave-type-summary": {
      "get": {
        "operationId": "zohoPeople.get-leave-type-summary",
        "summary": "Get Leave Type Summary",
        "description": "Retrieves leave type summary from Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/get-leave-type-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leaveTypeId",
            "in": "query",
            "required": true,
            "description": "Leave type ID for the summary report.",
            "schema": {
              "type": "string",
              "description": "Leave type ID for the summary report."
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "description": "Start date for the report, in the organization date format.",
            "schema": {
              "type": "string",
              "description": "Start date for the report, in the organization date format."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "description": "End date for the report, in the organization date format.",
            "schema": {
              "type": "string",
              "description": "End date for the report, in the organization date format."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Start index for the report rows to fetch.",
            "schema": {
              "type": "number",
              "description": "Start index for the report rows to fetch.",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Optional maximum number of rows to fetch.",
            "schema": {
              "type": "number",
              "description": "Optional maximum number of rows to fetch."
            }
          },
          {
            "name": "employeeZohoIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of employee erecnos to include.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of employee erecnos to include."
            }
          },
          {
            "name": "employeeDepartmentIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of department IDs to include.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of department IDs to include."
            }
          },
          {
            "name": "employeeDesignationIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of designation IDs to include.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of designation IDs to include."
            }
          },
          {
            "name": "employeeLocationIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of location IDs to include.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of location IDs to include."
            }
          },
          {
            "name": "employeeRoleIds",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of role IDs to include.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of role IDs to include."
            }
          },
          {
            "name": "employeeStatus",
            "in": "query",
            "required": false,
            "description": "Optional JSON array of employee status values such as ACTIVE_USERS or EX_EMPLOYEES.",
            "schema": {
              "type": "string",
              "description": "Optional JSON array of employee status values such as ACTIVE_USERS or EX_EMPLOYEES."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "booked": {
                            "type": "number"
                          },
                          "closing_balance": {
                            "type": "number"
                          },
                          "employee": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "zoho_id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "encashed": {
                            "type": "number"
                          },
                          "granted": {
                            "type": "number"
                          },
                          "lapsed": {
                            "type": "number"
                          },
                          "lop": {
                            "type": "number"
                          },
                          "opening_balance": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/get-organization-info": {
      "get": {
        "operationId": "zohoPeople.get-organization-info",
        "summary": "Get Organization Info",
        "description": "Retrieves organization details from Zoho People.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/get-organization-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "contactMailId": {
                            "type": "string"
                          },
                          "contactNumber": {
                            "type": "string"
                          },
                          "contactPerson": {
                            "type": "string"
                          },
                          "dateFormat": {
                            "type": "string"
                          },
                          "timeFormat": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPeople/latest/actions/get-record-count": {
      "get": {
        "operationId": "zohoPeople.get-record-count",
        "summary": "Get Record Count",
        "description": "Retrieves record count for a Zoho People form.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPeople/latest/actions/get-record-count"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formLinkName",
            "in": "query",
            "required": true,
            "description": "Zoho People formLinkName. Example: employee.",
            "schema": {
[...]
