{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Rillion Prime Web Service Universal API",
    "version": "0.0.2",
    "description": "Exchange invoices, purchase orders, and master data with Rillion Prime AP automation through its SOAP web service."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rillionPrimeWebService/latest/actions/count-account-coded-invoices": {
      "get": {
        "operationId": "rillionPrimeWebService.count-account-coded-invoices",
        "summary": "Count Account Coded Invoices",
        "description": "Count how many times an invoice has been account coded.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/count-account-coded-invoices"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceSeries",
            "in": "query",
            "required": true,
            "description": "Invoice series of the invoice.",
            "schema": {
              "type": "string",
              "description": "Invoice series of the invoice."
            }
          },
          {
            "name": "invoiceNo",
            "in": "query",
            "required": true,
            "description": "Invoice number of the invoice.",
            "schema": {
              "type": "number",
              "description": "Invoice number of the invoice."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string",
                            "description": "Number of times the invoice has been account coded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/delete-purchase-order": {
      "delete": {
        "operationId": "rillionPrimeWebService.delete-purchase-order",
        "summary": "Delete Purchase Order",
        "description": "Delete a purchase order from Prime. Undocumented in the vendor guide — confirm semantics with Rillion before production use.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/delete-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purchaseOrder",
            "in": "query",
            "required": true,
            "description": "Fill in the fields below, or use Use Variables ({}) on this object to map the whole payload from a previous step. Field semantics: Prime Integration Tables, PurchaseOrder section.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Fill in the fields below, or use Use Variables ({}) on this object to map the whole payload from a previous step. Field semantics: Prime Integration Tables, PurchaseOrder section."
            }
          },
          {
            "name": "purchaseOrder.company",
            "in": "query",
            "required": true,
            "description": "Company to which the orderline belongs (FK to purchase order line)",
            "schema": {
              "type": "string",
              "description": "Company to which the orderline belongs (FK to purchase order line)"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderNo",
            "in": "query",
            "required": true,
            "description": "Order number (FK to purchase order line)",
            "schema": {
              "type": "string",
              "description": "Order number (FK to purchase order line)"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderMatchType",
            "in": "query",
            "required": true,
            "description": "Type of matching: 0=Quantity matching (set by default by the system), 1=Amount matching.",
            "schema": {
              "type": "number",
              "description": "Type of matching: 0=Quantity matching (set by default by the system), 1=Amount matching."
            }
          },
          {
            "name": "purchaseOrder.status",
            "in": "query",
            "required": false,
            "description": "Purchase order status: 0=Created; 1=Ordered; 2=Order confirmed; 3=Delivery notified",
            "schema": {
              "type": "number",
              "description": "Purchase order status: 0=Created; 1=Ordered; 2=Order confirmed; 3=Delivery notified",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseDate",
            "in": "query",
            "required": false,
            "description": "Order date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Order date",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.supplier",
            "in": "query",
            "required": true,
            "description": "Supplier",
            "schema": {
              "type": "string",
              "description": "Supplier"
            }
          },
          {
            "name": "purchaseOrder.supplierPurchaseOrderNo",
            "in": "query",
            "required": false,
            "description": "The supplier’s order number",
            "schema": {
              "type": "string",
              "description": "The supplier’s order number",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.currency",
            "in": "query",
            "required": true,
            "description": "Currency",
            "schema": {
              "type": "string",
              "description": "Currency"
            }
          },
          {
            "name": "purchaseOrder.reference1",
            "in": "query",
            "required": false,
            "description": "Reference of type 1",
            "schema": {
              "type": "string",
              "description": "Reference of type 1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.reference2",
            "in": "query",
            "required": false,
            "description": "Reference of type 2",
            "schema": {
              "type": "string",
              "description": "Reference of type 2",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.plannedDeliveryDate",
            "in": "query",
            "required": false,
            "description": "Planned delivery date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Planned delivery date",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.plannedPaymentDueDate",
            "in": "query",
            "required": false,
            "description": "Planned payment date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Planned payment date",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.headerText",
            "in": "query",
            "required": false,
            "description": "Free text printed out on purchase order",
            "schema": {
              "type": "string",
              "description": "Free text printed out on purchase order",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.note",
            "in": "query",
            "required": false,
            "description": "Free text",
            "schema": {
              "type": "string",
              "description": "Free text",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.invoiceSeries",
            "in": "query",
            "required": false,
            "description": "Invoice series",
            "schema": {
              "type": "string",
              "description": "Invoice series",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.invoiceNo",
            "in": "query",
            "required": false,
            "description": "Invoice number",
            "schema": {
              "type": "number",
              "description": "Invoice number",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.remove",
            "in": "query",
            "required": false,
            "description": "Is the record to be deleted: 0=No; 1=Yes",
            "schema": {
              "type": "number",
              "description": "Is the record to be deleted: 0=No; 1=Yes",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.responsiblePurchaseOrderEmail",
            "in": "query",
            "required": false,
            "description": "E-mail adress to responsible purchaser",
            "schema": {
              "type": "string",
              "description": "E-mail adress to responsible purchaser",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.autoDelivery",
            "in": "query",
            "required": false,
            "description": "AutoDelivery: 1=Delivery automatically created",
            "schema": {
              "type": "boolean",
              "description": "AutoDelivery: 1=Delivery automatically created",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.group1",
            "in": "query",
            "required": false,
            "description": "Free group 1",
            "schema": {
              "type": "string",
              "description": "Free group 1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.group2",
            "in": "query",
            "required": false,
            "description": "Free group 2",
            "schema": {
              "type": "string",
              "description": "Free group 2",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.group3",
            "in": "query",
            "required": false,
            "description": "Free group 3",
            "schema": {
              "type": "string",
              "description": "Free group 3",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.validTo",
            "in": "query",
            "required": false,
            "description": "Valid to date for PurchaseOrder.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Valid to date for PurchaseOrder.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[]",
            "in": "query",
            "required": false,
            "description": "Purchase Order Line lines.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Purchase Order Line lines."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].company",
            "in": "query",
            "required": true,
            "description": "Company to which the orderline belongs (FK to purchase order line)",
            "schema": {
              "type": "string",
              "description": "Company to which the orderline belongs (FK to purchase order line)"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].purchaseOrderNo",
            "in": "query",
            "required": true,
            "description": "Order number (FK to purchase order line)",
            "schema": {
              "type": "string",
              "description": "Order number (FK to purchase order line)"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].lineNo",
            "in": "query",
            "required": true,
            "description": "Line number (FK to purchase order line)",
            "schema": {
              "type": "string",
              "description": "Line number (FK to purchase order line)"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].fullyDelivered",
            "in": "query",
            "required": false,
            "description": "Set the purchase order line status to fully delivered: 0=No, 1=Yes",
            "schema": {
              "type": "number",
              "description": "Set the purchase order line status to fully delivered: 0=No, 1=Yes",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].fullyInvoiced",
            "in": "query",
            "required": false,
            "description": "Set the purchase order line status to fully invoiced: 0=No, 1=Yes",
            "schema": {
              "type": "number",
              "description": "Set the purchase order line status to fully invoiced: 0=No, 1=Yes",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].yourReference",
            "in": "query",
            "required": false,
            "description": "Your reference",
            "schema": {
              "type": "string",
              "description": "Your reference",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].goodsLabel",
            "in": "query",
            "required": false,
            "description": "Goods labelling",
            "schema": {
              "type": "string",
              "description": "Goods labelling",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].item",
            "in": "query",
            "required": true,
            "description": "Item",
            "schema": {
              "type": "string",
              "description": "Item"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].description",
            "in": "query",
            "required": false,
            "description": "Description",
            "schema": {
              "type": "string",
              "description": "Description",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].attribute",
            "in": "query",
            "required": false,
            "description": "Attribute",
            "schema": {
              "type": "string",
              "description": "Attribute",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].number",
            "in": "query",
            "required": true,
            "description": "Quantity",
            "schema": {
              "type": "number",
              "description": "Quantity"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].unit",
            "in": "query",
            "required": false,
            "description": "Unit",
            "schema": {
              "type": "string",
              "description": "Unit",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].price",
            "in": "query",
            "required": true,
            "description": "Unit price",
            "schema": {
              "type": "number",
              "description": "Unit price"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].amount",
            "in": "query",
            "required": true,
            "description": "Line amount",
            "schema": {
              "type": "number",
              "description": "Line amount"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].discount",
            "in": "query",
            "required": true,
            "description": "Discount in %",
            "schema": {
              "type": "number",
              "description": "Discount in %"
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].supplierItem",
            "in": "query",
            "required": false,
            "description": "Supplier’s item number",
            "schema": {
              "type": "string",
              "description": "Supplier’s item number",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].plannedDeliveryDate",
            "in": "query",
            "required": false,
            "description": "Planned delivery date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Planned delivery date",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].note",
            "in": "query",
            "required": false,
            "description": "Free text",
            "schema": {
              "type": "string",
              "description": "Free text",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].deliveryNote",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].invoicedNumber",
            "in": "query",
            "required": false,
            "description": "Quantity of the order already matched to an invoice in the ERP system.",
            "schema": {
              "type": "number",
              "description": "Quantity of the order already matched to an invoice in the ERP system.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].invoicedPrice",
            "in": "query",
            "required": false,
            "description": "Price of the order already matched to an invoice in the ERP system.",
            "schema": {
              "type": "number",
              "description": "Price of the order already matched to an invoice in the ERP system.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].invoicedAmount",
            "in": "query",
            "required": false,
            "description": "Amount of the order already matched to an invoice in the ERP system.",
            "schema": {
              "type": "number",
              "description": "Amount of the order already matched to an invoice in the ERP system.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].invoiceSeries",
            "in": "query",
            "required": false,
            "description": "Invoice series",
            "schema": {
              "type": "string",
              "description": "Invoice series",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].invoiceNo",
            "in": "query",
            "required": false,
            "description": "Invoice number",
            "schema": {
              "type": "number",
              "description": "Invoice number",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].invoiceStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].remove",
            "in": "query",
            "required": false,
            "description": "Is the record to be deleted: 0=No; 1=Yes",
            "schema": {
              "type": "number",
              "description": "Is the record to be deleted: 0=No; 1=Yes",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].group1",
            "in": "query",
            "required": false,
            "description": "Free group 1",
            "schema": {
              "type": "string",
              "description": "Free group 1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].group2",
            "in": "query",
            "required": false,
            "description": "Free group 2",
            "schema": {
              "type": "string",
              "description": "Free group 2",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].group3",
            "in": "query",
            "required": false,
            "description": "Free group 3",
            "schema": {
              "type": "string",
              "description": "Free group 3",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.purchaseOrderLine[].externalSource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.externalSource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.currencyExternalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.currencyExternalSource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.supplierExternalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchaseOrder.supplierExternalSource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "transferFromQueue",
            "in": "query",
            "required": true,
            "description": "Process the deletion from the queue immediately.",
            "schema": {
              "type": "boolean",
              "description": "Process the deletion from the queue immediately."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/get-commodity": {
      "get": {
        "operationId": "rillionPrimeWebService.get-commodity",
        "summary": "Get Commodity",
        "description": "Get one commodity by identifier.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/get-commodity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commodity",
            "in": "query",
            "required": true,
            "description": "Commodity identifier.",
            "schema": {
              "type": "string",
              "description": "Commodity identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/get-invoice-image": {
      "get": {
        "operationId": "rillionPrimeWebService.get-invoice-image",
        "summary": "Get Invoice Image",
        "description": "Get the stored image files for one invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/get-invoice-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceSeries",
            "in": "query",
            "required": true,
            "description": "Invoice series of the invoice.",
            "schema": {
              "type": "string",
              "description": "Invoice series of the invoice."
            }
          },
          {
            "name": "invoiceNo",
            "in": "query",
            "required": true,
            "description": "Invoice number of the invoice.",
            "schema": {
              "type": "number",
              "description": "Invoice number of the invoice."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/get-version": {
      "get": {
        "operationId": "rillionPrimeWebService.get-version",
        "summary": "Get Version",
        "description": "Get the Rillion Prime web service version.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/get-version"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string",
                            "description": "Rillion Prime web service version, e.g. 8.146.8.3086."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/insert-account": {
      "post": {
        "operationId": "rillionPrimeWebService.insert-account",
        "summary": "Insert Account",
        "description": "Insert a general ledger account into the Prime register queue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/insert-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "account",
                  "account.account",
                  "account.keyType",
                  "transferFromQueue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "account": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fill in the fields below, or use Use Variables ({}) on this object to map the whole payload from a previous step. Field semantics: Prime Integration Tables, Account section."
                  },
                  "account.company": {
                    "type": "string",
                    "description": "Company that account is used for",
                    "x-mindcloud-advanced": true
                  },
                  "account.account": {
                    "type": "string",
                    "description": "Account"
                  },
                  "account.name": {
                    "type": "string",
                    "description": "Account name",
                    "x-mindcloud-advanced": true
                  },
                  "account.validTo": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Valid until",
                    "x-mindcloud-advanced": true
                  },
                  "account.vatCode": {
                    "type": "string",
                    "description": "VAT code",
                    "x-mindcloud-advanced": true
                  },
                  "account.allocationsAccount": {
                    "type": "string",
                    "description": "Default allocations account for the account",
                    "x-mindcloud-advanced": true
                  },
                  "account.isAllocationsAccount": {
                    "type": "number",
                    "description": "Can account be used as an allocations account: 0=No; 1=Yes",
                    "x-mindcloud-advanced": true
                  },
                  "account.vatCodeMandatory": {
                    "type": "number",
                    "description": "VatCode is mandatory when using account: 0=No; 1=Yes",
                    "x-mindcloud-advanced": true
                  },
                  "account.noteMandatory": {
                    "type": "number",
                    "description": "Note is mandatory when using account: 0=No; 1=Yes",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject1": {
                    "type": "number",
                    "description": "Is object of Type 1 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject2": {
                    "type": "number",
                    "description": "Is object of Type 2 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject3": {
                    "type": "number",
                    "description": "Is object of Type 3 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject4": {
                    "type": "number",
                    "description": "Is object of Type 4 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject5": {
                    "type": "number",
                    "description": "Is object of Type 5 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject6": {
                    "type": "number",
                    "description": "Is object of Type 6 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject7": {
                    "type": "number",
                    "description": "Is object of Type 7 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.useObject8": {
                    "type": "number",
                    "description": "Is object of Type 8 to be registered: 0=Never; 1=Optional; 2=Mandatory",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject1": {
                    "type": "string",
                    "description": "Which object of Type 1 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject2": {
                    "type": "string",
                    "description": "Which object of Type 2 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject3": {
                    "type": "string",
                    "description": "Which object of Type 3 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject4": {
                    "type": "string",
                    "description": "Which object of Type 4 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject5": {
                    "type": "string",
                    "description": "Which object of Type 5 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject6": {
                    "type": "string",
                    "description": "Which object of Type 6 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject7": {
                    "type": "string",
                    "description": "Which object of Type 7 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.defaultObject8": {
                    "type": "string",
                    "description": "Which object of Type 8 is to be set automatically",
                    "x-mindcloud-advanced": true
                  },
                  "account.group1": {
                    "type": "string",
                    "description": "Free field of Type 1",
                    "x-mindcloud-advanced": true
                  },
                  "account.group2": {
                    "type": "string",
                    "description": "Free field of Type 2",
                    "x-mindcloud-advanced": true
                  },
                  "account.group3": {
                    "type": "string",
                    "description": "Free field of Type 3",
                    "x-mindcloud-advanced": true
                  },
                  "account.remove": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "account.keyType": {
                    "type": "number",
                    "description": "Is the company included in the primary key for the record: 0=No; 1=Yes"
                  },
                  "account.externalId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "account.externalSource": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "transferFromQueue": {
                    "type": "boolean",
                    "description": "Process the record from the queue immediately. Leave true unless your Rillion contact advises otherwise.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/insert-asset": {
      "post": {
        "operationId": "rillionPrimeWebService.insert-asset",
        "summary": "Insert Asset",
        "description": "Insert an asset into the Prime register queue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/insert-asset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "asset",
                  "asset.assetType",
                  "asset.asset",
                  "asset.company",
                  "asset.name",
                  "transferFromQueue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "asset": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fill in the fields below, or use Use Variables ({}) on this object to map the whole payload from a previous step. Field semantics: Prime Integration Tables, Asset section."
                  },
                  "asset.assetType": {
                    "type": "string",
                    "description": "Asset type"
                  },
                  "asset.asset": {
                    "type": "string",
                    "description": "Asset"
                  },
                  "asset.company": {
                    "type": "string",
                    "description": "Company to which asset belongs"
                  },
                  "asset.name": {
                    "type": "string",
                    "description": "Asset name"
                  },
                  "asset.group1": {
                    "type": "string",
                    "description": "Free field of Type 1",
                    "x-mindcloud-advanced": true
                  },
                  "asset.group2": {
                    "type": "string",
                    "description": "Free field of Type 2",
                    "x-mindcloud-advanced": true
                  },
                  "asset.group3": {
                    "type": "string",
                    "description": "Free field of Type 3",
                    "x-mindcloud-advanced": true
                  },
                  "asset.externalId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "asset.externalSource": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "transferFromQueue": {
                    "type": "boolean",
                    "description": "Process the record from the queue immediately. Leave true unless your Rillion contact advises otherwise.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/insert-asset-type": {
      "post": {
        "operationId": "rillionPrimeWebService.insert-asset-type",
        "summary": "Insert Asset Type",
        "description": "Insert an asset type into the Prime register queue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/insert-asset-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "assetType",
                  "assetType.assetType",
                  "assetType.name",
                  "transferFromQueue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assetType": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fill in the fields below, or use Use Variables ({}) on this object to map the whole payload from a previous step. Field semantics: Prime Integration Tables, AssetType section."
                  },
                  "assetType.company": {
                    "type": "string",
                    "description": "Company to which asset type belongs",
                    "x-mindcloud-advanced": true
                  },
                  "assetType.assetType": {
                    "type": "string",
                    "description": "Asset type"
                  },
                  "assetType.name": {
                    "type": "string",
                    "description": "Asset type name"
                  },
                  "assetType.account": {
                    "type": "string",
                    "description": "Account that asset type is to be used for",
                    "x-mindcloud-advanced": true
                  },
                  "assetType.group1": {
                    "type": "string",
                    "description": "Free field of Type 1",
                    "x-mindcloud-advanced": true
                  },
                  "assetType.group2": {
                    "type": "string",
                    "description": "Free field of Type 2",
                    "x-mindcloud-advanced": true
                  },
                  "assetType.group3": {
                    "type": "string",
                    "description": "Free field of Type 3",
                    "x-mindcloud-advanced": true
                  },
                  "assetType.keyType": {
                    "type": "number",
                    "description": "Is the company included in the primary key for the record: 0=No; 1=Yes",
                    "x-mindcloud-advanced": true
                  },
                  "assetType.externalId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "assetType.externalSource": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "transferFromQueue": {
                    "type": "boolean",
                    "description": "Process the record from the queue immediately. Leave true unless your Rillion contact advises otherwise.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/insert-code-relation": {
      "post": {
        "operationId": "rillionPrimeWebService.insert-code-relation",
        "summary": "Insert Code Relation",
        "description": "Insert a coding relation into the Prime register queue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/insert-code-relation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codeRelation",
                  "codeRelation.selectVatCode",
                  "transferFromQueue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codeRelation": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fill in the fields below, or use Use Variables ({}) on this object to map the whole payload from a previous step. Field semantics: Prime Integration Tables, CodeRelation section."
                  },
                  "codeRelation.company": {
                    "type": "string",
                    "description": "Company that rule is linked to",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectAccount": {
                    "type": "string",
                    "description": "Filter by account",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject1": {
                    "type": "string",
                    "description": "Filter by object of Type 1",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject2": {
                    "type": "string",
                    "description": "Filter by object of Type 2",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject3": {
                    "type": "string",
                    "description": "Filter by object of Type 3",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject4": {
                    "type": "string",
                    "description": "Filter by object of Type 4",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject5": {
                    "type": "string",
                    "description": "Filter by object of Type 5",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject6": {
                    "type": "string",
                    "description": "Filter by object of Type 6",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject7": {
                    "type": "string",
                    "description": "Filter by object of Type 7",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectObject8": {
                    "type": "string",
                    "description": "Filter by vat code",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.fromDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Rule active from this date",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.toDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Rule active until this date",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.blocked": {
                    "type": "number",
                    "description": "Does the rule refer to a blocked relation: 0=No; 1=Yes",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.blockedMessage": {
                    "type": "string",
                    "description": "Error text if Blocked=1",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.externalId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.externalSource": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "codeRelation.selectVatCode": {
                    "type": "string",
                    "description": "Filter by object of Type 9"
                  },
                  "codeRelation.useAsFilter": {
                    "type": "boolean",
                    "description": "Allocation setting",
                    "x-mindcloud-advanced": true
                  },
                  "transferFromQueue": {
                    "type": "boolean",
                    "description": "Process the record from the queue immediately. Leave true unless your Rillion contact advises otherwise.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rillionPrimeWebService/latest/actions/insert-commodity": {
      "post": {
        "operationId": "rillionPrimeWebService.insert-commodity",
        "summary": "Insert Commodity",
        "description": "Insert a commodity into the Prime register queue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rillionPrimeWebService/latest/actions/insert-commodity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "commodity",
                  "commodity.commodity",
                  "commodity.expenditureAmount",
                  "transferFromQueue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "commodity": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fill in the fields below, or use Use Variables ({}) on this object to map the whole payload from a previous step. Field semantics: Prime Integration Tables, Commodity section."
                  },
                  "commodity.commodity": {
                    "type": "string",
                    "description": "The name of the commodity"
                  },
                  "commodity.rolePermission": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.linkToSupplier": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.advisoryRole1": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.advisoryRole2": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.advisoryRole3": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.productGroupName": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.itemFormName": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.availableForFreetext": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.commodityCode": {
                    "type": "string",
                    "description": "CommodityCode",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.company": {
                    "type": "string",
                    "description": "Company that commodity is linked to",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.buyersHelp": {
                    "type": "boolean",
                    "description": "ResponsiblePurchaseOrderRole inserted last in the flow: 0=No, 1=Yes",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.responsiblePurchaseOrderRole": {
                    "type": "string",
                    "description": "Responsible PurchaseOrderRole",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.purchaseOrderMatchType": {
                    "type": "number",
                    "description": "PurchaseOrderMatchType 0=Number;1=Amount",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.account": {
                    "type": "string",
                    "description": "Account",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.vatCode": {
                    "type": "string",
                    "description": "VAT Codes",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.expenditureAmount": {
                    "type": "number",
                    "description": "Amount"
                  },
                  "commodity.group1": {
                    "type": "string",
                    "description": "Free field of Type1",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.group2": {
                    "type": "string",
                    "description": "Free field of Type2",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.group3": {
                    "type": "string",
                    "description": "Free field of Type3",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.externalId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "commodity.externalSource": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "transferFromQueue": {
                    "type": "boolean",
                    "description": "Process the record from the queue immediately. Leave true unless your Rillion contact advises otherwise.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
