{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Tabidoo Universal API",
    "version": "0.0.6",
    "description": "Tabidoo is a low-code platform for building custom business apps around tables, records, workflows, and templates."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tabidoo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tabidoo/latest/actions/create-development-app-from-production-app": {
      "post": {
        "operationId": "tabidoo.create-development-app-from-production-app",
        "summary": "Create Development App From Production App",
        "description": "Creates a development app from a production app in Tabidoo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tabidoo/latest/actions/create-development-app-from-production-app"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "applicationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "applicationId": {
                    "type": "string",
                    "description": "The production Tabidoo application ID to clone into a DEV app."
                  },
                  "overrideExistingTemplateId": {
                    "type": "string",
                    "description": "Optional template ID required when the production app was already linked to a previous DEV template and you want to force creating a new DEV app.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tabidoo/latest/actions/get-app": {
      "get": {
        "operationId": "tabidoo.get-app",
        "summary": "Get App",
        "description": "Retrieves an application from a Tabidoo workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tabidoo/latest/actions/get-app"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "description": "The Tabidoo application ID.",
            "schema": {
              "type": "string",
              "description": "The Tabidoo application ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "internalName": {
                            "type": "string"
                          },
                          "isMultiLanguage": {
                            "type": "boolean"
                          },
                          "modules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "header": {
                                  "type": "string"
                                },
                                "shortId": {
                                  "type": "string"
                                },
                                "tableIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "namesI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tabidoo/latest/actions/get-template": {
      "get": {
        "operationId": "tabidoo.get-template",
        "summary": "Get Template",
        "description": "Retrieves a template from the Tabidoo marketplace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tabidoo/latest/actions/get-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "description": "The Tabidoo template ID.",
            "schema": {
              "type": "string",
              "description": "The Tabidoo template ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "descriptionI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cz": {
                                "type": "string"
                              },
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "downloadCount": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "namesI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cz": {
                                "type": "string"
                              },
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "perex": {
                            "type": "string"
                          },
                          "perexI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cz": {
                                "type": "string"
                              },
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "pricing": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "model": {
                                "type": "number"
                              },
                              "priceCzk": {
                                "type": "number"
                              },
                              "priceEur": {
                                "type": "number"
                              },
                              "priceUsd": {
                                "type": "number"
                              }
                            }
                          },
                          "screenshots": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "style": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "background": {
                                "type": "string"
                              },
                              "foreground": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              }
                            }
                          },
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "icon": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "namesI18n": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "cz": {
                                      "type": "string"
                                    },
                                    "en": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tabidoo/latest/actions/list-app-tables": {
      "get": {
        "operationId": "tabidoo.list-app-tables",
        "summary": "List App Tables",
        "description": "Retrieves tables for an application in Tabidoo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tabidoo/latest/actions/list-app-tables"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "description": "The Tabidoo application ID.",
            "schema": {
              "type": "string",
              "description": "The Tabidoo application ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "header": {
                            "type": "string",
                            "description": "Table header."
                          },
                          "id": {
                            "type": "string",
                            "description": "Table ID."
                          },
                          "internalNameApi": {
                            "type": "string",
                            "description": "Internal API name of the table."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "header": {
                                  "type": "string",
                                  "description": "Field header."
                                },
                                "metadata": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Field metadata.",
                                  "properties": {
                                    "description": {
                                      "type": "string",
                                      "description": "Field description."
                                    },
                                    "filterableFields": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "description": "Filterable linked-field keys."
                                      }
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "description": "Whether the field is required."
                                    }
                                  }
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Field name."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Field data type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "scripts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Script name."
                                },
                                "script": {
                                  "type": "string",
                                  "description": "Script body."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Table settings.",
                            "properties": {
                              "userFilters": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "description": "Predefined user filters."
                                }
                              }
                            }
                          },
                          "shortid": {
                            "type": "string",
                            "description": "Table short ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tabidoo/latest/actions/list-apps": {
      "get": {
        "operationId": "tabidoo.list-apps",
        "summary": "List Apps",
        "description": "Retrieves applications from a Tabidoo workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tabidoo/latest/actions/list-apps"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "internalName": {
                            "type": "string"
                          },
                          "isMultiLanguage": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "namesI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tabidoo/latest/actions/list-templates": {
      "get": {
        "operationId": "tabidoo.list-templates",
        "summary": "List Templates",
        "description": "Retrieves templates from the Tabidoo marketplace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tabidoo/latest/actions/list-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "descriptionI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cz": {
                                "type": "string"
                              },
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "downloadCount": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "namesI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cz": {
                                "type": "string"
                              },
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "perex": {
                            "type": "string"
                          },
                          "perexI18n": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cz": {
                                "type": "string"
                              },
                              "en": {
                                "type": "string"
                              }
                            }
                          },
                          "pricing": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "model": {
                                "type": "number"
                              },
                              "priceCzk": {
                                "type": "number"
                              },
                              "priceEur": {
                                "type": "number"
                              },
                              "priceUsd": {
                                "type": "number"
                              }
                            }
                          },
                          "screenshots": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "style": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "background": {
                                "type": "string"
                              },
                              "foreground": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              }
                            }
                          },
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "icon": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "namesI18n": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "cz": {
                                      "type": "string"
                                    },
                                    "en": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
