{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Yanado Universal API",
    "version": "0.0.5",
    "description": "Yanado helps teams manage tasks, email workflows, statuses, users, comments, and notifications directly from Gmail. This MindCloud wrapper covers Yanado's documented public API with API-key authentication."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/yanado/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/yanado/latest/actions/create-task": {
      "post": {
        "operationId": "yanado.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Yanado.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listId",
                  "name",
                  "statusId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listId": {
                    "type": "string",
                    "description": "Yanado list ID where the task should be created."
                  },
                  "name": {
                    "type": "string",
                    "description": "Task name."
                  },
                  "statusId": {
                    "type": "string",
                    "description": "Yanado status ID for the new task."
                  },
                  "assigneeId": {
                    "type": "string",
                    "description": "Assign the new task to this user ID."
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Task due date."
                  },
                  "form": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional task form payload."
                  },
                  "threadEmail": {
                    "type": "string",
                    "description": "Participant email for the thread."
                  },
                  "threadId": {
                    "type": "string",
                    "description": "Thread ID."
                  },
                  "threadName": {
                    "type": "string",
                    "description": "Thread name."
                  },
                  "threadSubject": {
                    "type": "string",
                    "description": "Thread subject."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string",
                            "description": "Assignee ID"
                          },
                          "assigneeName": {
                            "type": "string",
                            "description": "Assignee name"
                          },
                          "createTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task creation time"
                          },
                          "description": {
                            "type": "string",
                            "description": "Task description"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task due date"
                          },
                          "highPriority": {
                            "type": "boolean",
                            "description": "Whether the task is high priority"
                          },
                          "listId": {
                            "type": "string",
                            "description": "List ID"
                          },
                          "listName": {
                            "type": "string",
                            "description": "List name"
                          },
                          "name": {
                            "type": "string",
                            "description": "Task name"
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Status ID"
                          },
                          "statusName": {
                            "type": "string",
                            "description": "Status name"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/get-task": {
      "get": {
        "operationId": "yanado.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from Yanado.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "Yanado task ID.",
            "schema": {
              "type": "string",
              "description": "Yanado task ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string",
                            "description": "Assignee ID"
                          },
                          "assigneeName": {
                            "type": "string",
                            "description": "Assignee name"
                          },
                          "createTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task creation time"
                          },
                          "description": {
                            "type": "string",
                            "description": "Task description"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task due date"
                          },
                          "highPriority": {
                            "type": "boolean",
                            "description": "Whether the task is high priority"
                          },
                          "listId": {
                            "type": "string",
                            "description": "List ID"
                          },
                          "listName": {
                            "type": "string",
                            "description": "List name"
                          },
                          "name": {
                            "type": "string",
                            "description": "Task name"
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Status ID"
                          },
                          "statusName": {
                            "type": "string",
                            "description": "Status name"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-comments": {
      "get": {
        "operationId": "yanado.list-comments",
        "summary": "List Comments",
        "description": "Retrieves comments from Yanado.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-comments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": false,
            "description": "Filter comments by list ID.",
            "schema": {
              "type": "string",
              "description": "Filter comments by list ID."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search comments by query text.",
            "schema": {
              "type": "string",
              "description": "Search comments by query text."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string",
                            "description": "Assignee ID"
                          },
                          "assigneeName": {
                            "type": "string",
                            "description": "Assignee name"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Comment creation time"
                          },
                          "id": {
                            "type": "string",
                            "description": "Comment ID"
                          },
                          "listId": {
                            "type": "string",
                            "description": "List ID"
                          },
                          "listName": {
                            "type": "string",
                            "description": "List name"
                          },
                          "message": {
                            "type": "string",
                            "description": "Comment message"
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Status ID"
                          },
                          "statusName": {
                            "type": "string",
                            "description": "Status name"
                          },
                          "taskCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task creation time"
                          },
                          "taskDescription": {
                            "type": "string",
                            "description": "Task description"
                          },
                          "taskDueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task due date"
                          },
                          "taskHighPriority": {
                            "type": "boolean",
                            "description": "Whether the task is high priority"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          },
                          "taskName": {
                            "type": "string",
                            "description": "Task name"
                          },
                          "userId": {
                            "type": "string",
                            "description": "User ID"
                          },
                          "userName": {
                            "type": "string",
                            "description": "User name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-lists": {
      "get": {
        "operationId": "yanado.list-lists",
        "summary": "List Lists",
        "description": "Retrieves lists from Yanado.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-lists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Yanado list ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Yanado list name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-notifications": {
      "get": {
        "operationId": "yanado.list-notifications",
        "summary": "List Notifications",
        "description": "Retrieves notifications from Yanado by type.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-notifications"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Notification type from the Yanado path parameter.",
            "schema": {
              "type": "string",
              "description": "Notification type from the Yanado path parameter."
            }
          },
          {
            "name": "anyUser",
            "in": "query",
            "required": false,
            "description": "Return notifications for any user.",
            "schema": {
              "type": "boolean",
              "description": "Return notifications for any user."
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": false,
            "description": "Limit notifications to one list.",
            "schema": {
              "type": "string",
              "description": "Limit notifications to one list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string",
                            "description": "Assignee ID"
                          },
                          "assigneeName": {
                            "type": "string",
                            "description": "Assignee name"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Notification creation time"
                          },
                          "id": {
                            "type": "number",
                            "description": "Notification ID"
                          },
                          "listId": {
                            "type": "string",
                            "description": "List ID"
                          },
                          "listName": {
                            "type": "string",
                            "description": "List name"
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Status ID"
                          },
                          "statusName": {
                            "type": "string",
                            "description": "Status name"
                          },
                          "taskCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task creation time"
                          },
                          "taskDescription": {
                            "type": "string",
                            "description": "Task description"
                          },
                          "taskDueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task due date"
                          },
                          "taskHighPriority": {
                            "type": "boolean",
                            "description": "Whether the task is high priority"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          },
                          "taskName": {
                            "type": "string",
                            "description": "Task name"
                          },
                          "userId": {
                            "type": "string",
                            "description": "User ID"
                          },
                          "userName": {
                            "type": "string",
                            "description": "User name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-statuses-from-list": {
      "get": {
        "operationId": "yanado.list-statuses-from-list",
        "summary": "List Statuses From List",
        "description": "Retrieves statuses from a Yanado list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-statuses-from-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": true,
            "description": "Yanado list ID.",
            "schema": {
              "type": "string",
              "description": "Yanado list ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Yanado status ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Yanado status name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-tasks": {
      "get": {
        "operationId": "yanado.list-tasks",
        "summary": "List Tasks",
        "description": "Retrieves tasks from Yanado.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": false,
            "description": "Filter tasks by list ID.",
            "schema": {
              "type": "string",
              "description": "Filter tasks by list ID."
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "description": "Filter tasks by assignee.",
            "schema": {
              "type": "string",
              "description": "Filter tasks by assignee."
            }
          },
          {
            "name": "statusId",
            "in": "query",
            "required": false,
            "description": "Filter tasks by status ID.",
            "schema": {
              "type": "string",
              "description": "Filter tasks by status ID."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search tasks by query text.",
            "schema": {
              "type": "string",
              "description": "Search tasks by query text."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string",
                            "description": "Assignee ID"
                          },
                          "assigneeName": {
                            "type": "string",
                            "description": "Assignee name"
                          },
                          "createTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task creation time"
                          },
                          "description": {
                            "type": "string",
                            "description": "Task description"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task due date"
                          },
                          "highPriority": {
                            "type": "boolean",
                            "description": "Whether the task is high priority"
                          },
                          "listId": {
                            "type": "string",
                            "description": "List ID"
                          },
                          "listName": {
                            "type": "string",
                            "description": "List name"
                          },
                          "name": {
                            "type": "string",
                            "description": "Task name"
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Status ID"
                          },
                          "statusName": {
                            "type": "string",
                            "description": "Status name"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-tasks-with-emails-attached": {
      "get": {
        "operationId": "yanado.list-tasks-with-emails-attached",
        "summary": "List Tasks With Emails Attached",
        "description": "Retrieves tasks with attached emails from Yanado.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-tasks-with-emails-attached"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": false,
            "description": "Filter tasks by list ID.",
            "schema": {
              "type": "string",
              "description": "Filter tasks by list ID."
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "description": "Filter tasks by assignee.",
            "schema": {
              "type": "string",
              "description": "Filter tasks by assignee."
            }
          },
          {
            "name": "statusId",
            "in": "query",
            "required": false,
            "description": "Filter tasks by status ID.",
            "schema": {
              "type": "string",
              "description": "Filter tasks by status ID."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search tasks by query text.",
            "schema": {
              "type": "string",
              "description": "Search tasks by query text."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string",
                            "description": "Assignee ID"
                          },
                          "assigneeName": {
                            "type": "string",
                            "description": "Assignee name"
                          },
                          "id": {
                            "type": "number",
                            "description": "Email task ID"
                          },
                          "listId": {
                            "type": "string",
                            "description": "List ID"
                          },
                          "listName": {
                            "type": "string",
                            "description": "List name"
                          },
                          "participantEmail": {
                            "type": "string",
                            "description": "Participant email"
                          },
                          "participantName": {
                            "type": "string",
                            "description": "Participant name"
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Status ID"
                          },
                          "statusName": {
                            "type": "string",
                            "description": "Status name"
                          },
                          "subject": {
                            "type": "string",
                            "description": "Email subject"
                          },
                          "taskCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task creation time"
                          },
                          "taskDescription": {
                            "type": "string",
                            "description": "Task description"
                          },
                          "taskDueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task due date"
                          },
                          "taskHighPriority": {
                            "type": "boolean",
                            "description": "Whether the task is high priority"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          },
                          "taskName": {
                            "type": "string",
                            "description": "Task name"
                          },
                          "threadId": {
                            "type": "string",
                            "description": "Thread ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-users-from-list": {
      "get": {
        "operationId": "yanado.list-users-from-list",
        "summary": "List Users From List",
        "description": "Retrieves users from a Yanado list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-users-from-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": true,
            "description": "Yanado list ID.",
            "schema": {
              "type": "string",
              "description": "Yanado list ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Yanado user email"
                          },
                          "id": {
                            "type": "string",
                            "description": "Yanado user ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Yanado user name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/list-users-from-team": {
      "get": {
        "operationId": "yanado.list-users-from-team",
        "summary": "List Users From Team",
        "description": "Retrieves users from a Yanado team.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/list-users-from-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "query",
            "required": false,
            "description": "Optionally limit users to one list.",
            "schema": {
              "type": "string",
              "description": "Optionally limit users to one list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Yanado user email"
                          },
                          "id": {
                            "type": "string",
                            "description": "Yanado user ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Yanado user name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yanado/latest/actions/update-task": {
      "put": {
        "operationId": "yanado.update-task",
        "summary": "Update Task",
        "description": "Updates an existing task in Yanado.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yanado/latest/actions/update-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "string",
                    "description": "Yanado task ID."
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Archive state for the task."
                  },
                  "assigneeId": {
                    "type": "string",
                    "description": "Assign the task to this user ID."
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Task due date."
                  },
                  "form": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional task form payload."
                  },
                  "listId": {
                    "type": "string",
                    "description": "Yanado list ID for the task."
                  },
                  "name": {
                    "type": "string",
                    "description": "Task name."
                  },
                  "statusId": {
                    "type": "string",
                    "description": "Yanado status ID for the task."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string",
                            "description": "Assignee ID"
                          },
                          "assigneeName": {
                            "type": "string",
                            "description": "Assignee name"
                          },
                          "createTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task creation time"
                          },
                          "description": {
                            "type": "string",
                            "description": "Task description"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task due date"
                          },
                          "highPriority": {
                            "type": "boolean",
                            "description": "Whether the task is high priority"
                          },
                          "listId": {
                            "type": "string",
                            "description": "List ID"
                          },
                          "listName": {
                            "type": "string",
                            "description": "List name"
                          },
                          "name": {
                            "type": "string",
                            "description": "Task name"
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Status ID"
                          },
                          "statusName": {
                            "type": "string",
                            "description": "Status name"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
