{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Open Brewery DB Universal API",
    "version": "0.0.5",
    "description": "Open Brewery DB is a free public dataset and REST API for brewery, cidery, brewpub, and bottleshop information."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/openBreweryDB/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/openBreweryDB/latest/actions/get-brewery": {
      "get": {
        "operationId": "openBreweryDB.get-brewery",
        "summary": "Get Brewery",
        "description": "Retrieves a brewery from Open Brewery DB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openBreweryDB/latest/actions/get-brewery"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique Open Brewery DB brewery identifier.",
            "schema": {
              "type": "string",
              "description": "Unique Open Brewery DB brewery identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "description": "Primary street address."
                          },
                          "address_2": {
                            "type": "string",
                            "description": "Secondary address line."
                          },
                          "address_3": {
                            "type": "string",
                            "description": "Third address line."
                          },
                          "brewery_type": {
                            "type": "string",
                            "description": "Type of brewery."
                          },
                          "city": {
                            "type": "string",
                            "description": "City name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the brewery."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude coordinate."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude coordinate."
                          },
                          "name": {
                            "type": "string",
                            "description": "Brewery name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Contact phone number."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal or ZIP code."
                          },
                          "state": {
                            "type": "string",
                            "description": "Deprecated state value."
                          },
                          "state_province": {
                            "type": "string",
                            "description": "State or province."
                          },
                          "street": {
                            "type": "string",
                            "description": "Deprecated street address value."
                          },
                          "website_url": {
                            "type": "string",
                            "description": "Brewery website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openBreweryDB/latest/actions/get-brewery-metadata": {
      "get": {
        "operationId": "openBreweryDB.get-brewery-metadata",
        "summary": "Get Brewery Metadata",
        "description": "Retrieves brewery metadata from Open Brewery DB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openBreweryDB/latest/actions/get-brewery-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "byCity",
            "in": "query",
            "required": false,
            "description": "Filter brewery metadata by city. Use underscores or URL encoding for spaces.",
            "schema": {
              "type": "string",
              "description": "Filter brewery metadata by city. Use underscores or URL encoding for spaces."
            }
          },
          {
            "name": "byCountry",
            "in": "query",
            "required": false,
            "description": "Filter brewery metadata by country. Use underscores or URL encoding for spaces.",
            "schema": {
              "type": "string",
              "description": "Filter brewery metadata by country. Use underscores or URL encoding for spaces."
            }
          },
          {
            "name": "byName",
            "in": "query",
            "required": false,
            "description": "Filter brewery metadata by name. Use underscores or URL encoding for spaces.",
            "schema": {
              "type": "string",
              "description": "Filter brewery metadata by name. Use underscores or URL encoding for spaces."
            }
          },
          {
            "name": "byState",
            "in": "query",
            "required": false,
            "description": "Filter brewery metadata by full state name; abbreviations are not supported.",
            "schema": {
              "type": "string",
              "description": "Filter brewery metadata by full state name; abbreviations are not supported."
            }
          },
          {
            "name": "byPostal",
            "in": "query",
            "required": false,
            "description": "Filter brewery metadata by postal or ZIP code. Postal+4 may use a hyphen or underscore.",
            "schema": {
              "type": "string",
              "description": "Filter brewery metadata by postal or ZIP code. Postal+4 may use a hyphen or underscore.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "byType",
            "in": "query",
            "required": false,
            "description": "Filter metadata by brewery type: micro, nano, regional, brewpub, large, planning, bar, contract, proprietor, or closed.",
            "schema": {
              "type": "string",
              "description": "Filter metadata by brewery type: micro, nano, regional, brewpub, large, planning, bar, contract, proprietor, or closed.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "byDistance",
            "in": "query",
            "required": false,
            "description": "Sort/filter metadata by distance from an origin point in latitude,longitude format.",
            "schema": {
              "type": "string",
              "description": "Sort/filter metadata by distance from an origin point in latitude,longitude format.",
              "example": "35.25738891,-97.46818222",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "byIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of brewery IDs for metadata filtering.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of brewery IDs for metadata filtering. Pass multiple values separated by `,`.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "by_state": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Counts grouped by state or province."
                          },
                          "by_type": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Counts grouped by brewery type."
                          },
                          "page": {
                            "type": "number",
                            "description": "Current page number."
                          },
                          "per_page": {
                            "type": "number",
                            "description": "Number of breweries per page."
                          },
                          "total": {
                            "type": "number",
                            "description": "Total number of breweries matching the filters."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openBreweryDB/latest/actions/list-breweries": {
      "get": {
        "operationId": "openBreweryDB.list-breweries",
        "summary": "List Breweries",
        "description": "Retrieves breweries from Open Brewery DB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openBreweryDB/latest/actions/list-breweries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "byCity",
            "in": "query",
            "required": false,
            "description": "Filter breweries by city. Use underscores or URL encoding for spaces.",
            "schema": {
              "type": "string",
              "description": "Filter breweries by city. Use underscores or URL encoding for spaces."
            }
          },
          {
            "name": "byCountry",
            "in": "query",
            "required": false,
            "description": "Filter breweries by country. Use underscores or URL encoding for spaces.",
            "schema": {
              "type": "string",
              "description": "Filter breweries by country. Use underscores or URL encoding for spaces."
            }
          },
          {
            "name": "byName",
            "in": "query",
            "required": false,
            "description": "Filter breweries by name. Use underscores or URL encoding for spaces.",
            "schema": {
              "type": "string",
              "description": "Filter breweries by name. Use underscores or URL encoding for spaces."
            }
          },
          {
            "name": "byState",
            "in": "query",
            "required": false,
            "description": "Filter breweries by full state name; abbreviations are not supported.",
            "schema": {
              "type": "string",
              "description": "Filter breweries by full state name; abbreviations are not supported."
            }
          },
          {
            "name": "byPostal",
            "in": "query",
            "required": false,
            "description": "Filter breweries by postal or ZIP code. Postal+4 may use a hyphen or underscore.",
            "schema": {
              "type": "string",
              "description": "Filter breweries by postal or ZIP code. Postal+4 may use a hyphen or underscore.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "byType",
            "in": "query",
            "required": false,
            "description": "Filter by brewery type: micro, nano, regional, brewpub, large, planning, bar, contract, proprietor, or closed.",
            "schema": {
              "type": "string",
              "description": "Filter by brewery type: micro, nano, regional, brewpub, large, planning, bar, contract, proprietor, or closed.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "byDistance",
            "in": "query",
            "required": false,
            "description": "Sort by distance from an origin point in latitude,longitude format. Do not combine with sort.",
            "schema": {
              "type": "string",
              "description": "Sort by distance from an origin point in latitude,longitude format. Do not combine with sort.",
              "example": "35.25738891,-97.46818222",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "byIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of brewery IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of brewery IDs. Pass multiple values separated by `,`.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "description": "Primary street address."
                          },
                          "address_2": {
                            "type": "string",
                            "description": "Secondary address line."
                          },
                          "address_3": {
                            "type": "string",
                            "description": "Third address line."
                          },
                          "brewery_type": {
                            "type": "string",
                            "description": "Type of brewery."
                          },
                          "city": {
                            "type": "string",
                            "description": "City name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the brewery."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude coordinate."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude coordinate."
                          },
                          "name": {
                            "type": "string",
                            "description": "Brewery name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Contact phone number."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal or ZIP code."
                          },
                          "state": {
                            "type": "string",
                            "description": "Deprecated state value."
                          },
                          "state_province": {
                            "type": "string",
                            "description": "State or province."
                          },
                          "street": {
                            "type": "string",
                            "description": "Deprecated street address value."
                          },
                          "website_url": {
                            "type": "string",
                            "description": "Brewery website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openBreweryDB/latest/actions/list-random-breweries": {
      "get": {
        "operationId": "openBreweryDB.list-random-breweries",
        "summary": "List Random Breweries",
        "description": "Retrieves random breweries from Open Brewery DB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openBreweryDB/latest/actions/list-random-breweries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "description": "Number of random breweries to return. Use 2-50 for a list response; maximum is 50.",
            "schema": {
              "type": "number",
              "description": "Number of random breweries to return. Use 2-50 for a list response; maximum is 50.",
              "default": 2
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "description": "Primary street address."
                          },
                          "address_2": {
                            "type": "string",
                            "description": "Secondary address line."
                          },
                          "address_3": {
                            "type": "string",
                            "description": "Third address line."
                          },
                          "brewery_type": {
                            "type": "string",
                            "description": "Type of brewery."
                          },
                          "city": {
                            "type": "string",
                            "description": "City name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the brewery."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude coordinate."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude coordinate."
                          },
                          "name": {
                            "type": "string",
                            "description": "Brewery name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Contact phone number."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal or ZIP code."
                          },
                          "state": {
                            "type": "string",
                            "description": "Deprecated state value."
                          },
                          "state_province": {
                            "type": "string",
                            "description": "State or province."
                          },
                          "street": {
                            "type": "string",
                            "description": "Deprecated street address value."
                          },
                          "website_url": {
                            "type": "string",
                            "description": "Brewery website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openBreweryDB/latest/actions/search-breweries": {
      "get": {
        "operationId": "openBreweryDB.search-breweries",
        "summary": "Search Breweries",
        "description": "Finds breweries in Open Brewery DB by search term.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openBreweryDB/latest/actions/search-breweries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search term to match against brewery names. Supports partial, case-insensitive matches.",
            "schema": {
              "type": "string",
              "description": "Search term to match against brewery names. Supports partial, case-insensitive matches."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "description": "Primary street address."
                          },
                          "address_2": {
                            "type": "string",
                            "description": "Secondary address line."
                          },
                          "address_3": {
                            "type": "string",
                            "description": "Third address line."
                          },
                          "brewery_type": {
                            "type": "string",
                            "description": "Type of brewery."
                          },
                          "city": {
                            "type": "string",
                            "description": "City name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the brewery."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude coordinate."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude coordinate."
                          },
                          "name": {
                            "type": "string",
                            "description": "Brewery name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Contact phone number."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal or ZIP code."
                          },
                          "state": {
                            "type": "string",
                            "description": "Deprecated state value."
                          },
                          "state_province": {
                            "type": "string",
                            "description": "State or province."
                          },
                          "street": {
                            "type": "string",
                            "description": "Deprecated street address value."
                          },
                          "website_url": {
                            "type": "string",
                            "description": "Brewery website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
