{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Yotpo Loyalty & Referrals Universal API",
    "version": "0.0.7",
    "description": "Manage loyalty customers, points, referrals, and redemptions"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/adjust-customer-points-balance": {
      "put": {
        "operationId": "yotpoLoyaltyReferrals.adjust-customer-points-balance",
        "summary": "Adjust Customer Points Balance",
        "description": "Updates a customer's points balance in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/adjust-customer-points-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pointAdjustmentAmount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address. Required if customerId is not provided."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer identifier from your system."
                  },
                  "pointAdjustmentAmount": {
                    "type": "number",
                    "description": "Positive values add points and negative values remove points."
                  },
                  "applyAdjustmentToPointsEarned": {
                    "type": "boolean",
                    "description": "Whether the adjustment should also change the customer's total points earned value."
                  },
                  "historyTitle": {
                    "type": "string",
                    "description": "Optional override for the history description shown to the customer."
                  },
                  "visibleToCustomer": {
                    "type": "boolean",
                    "description": "Whether the manual adjustment should be visible to the customer."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "Timestamp when the point adjustment was created."
                          },
                          "customerId": {
                            "type": "number",
                            "description": "Yotpo customer identifier affected by the adjustment."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique identifier of the point adjustment event."
                          },
                          "merchantId": {
                            "type": "number",
                            "description": "Yotpo merchant identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Adjustment event name."
                          },
                          "referralId": {
                            "type": "number",
                            "description": "Associated referral identifier when present."
                          },
                          "type": {
                            "type": "string",
                            "description": "Adjustment event type."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Timestamp when the point adjustment was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/anonymize-user": {
      "delete": {
        "operationId": "yotpoLoyaltyReferrals.anonymize-user",
        "summary": "Anonymize User",
        "description": "Deletes and anonymizes user data in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/anonymize-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address of the end-user requesting deletion.",
            "schema": {
              "type": "string",
              "description": "The email address of the end-user requesting deletion."
            }
          },
          {
            "name": "allStores",
            "in": "query",
            "required": false,
            "description": "Delete the user's data across all stores in the organization when true.",
            "schema": {
              "type": "boolean",
              "description": "Delete the user's data across all stores in the organization when true."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/approve-redemption-cancellation": {
      "put": {
        "operationId": "yotpoLoyaltyReferrals.approve-redemption-cancellation",
        "summary": "Approve Redemption Cancellation",
        "description": "Approves a redemption cancellation in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/approve-redemption-cancellation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pointRedemptionId",
                  "rewardText"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pointRedemptionId": {
                    "type": "number",
                    "description": "The redemption identifier to approve."
                  },
                  "rewardText": {
                    "type": "string",
                    "description": "The reward text of the redemption being cancelled."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/check-data-exists": {
      "get": {
        "operationId": "yotpoLoyaltyReferrals.check-data-exists",
        "summary": "Check Data Exists",
        "description": "Checks whether user data exists in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/check-data-exists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address of the user to check.",
            "schema": {
              "type": "string",
              "description": "The email address of the user to check."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hasData": {
                            "type": "boolean",
                            "description": "Whether Yotpo has privacy-related data for the requested email address."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/create-or-update-customer-records": {
      "put": {
        "operationId": "yotpoLoyaltyReferrals.create-or-update-customer-records",
        "summary": "Create or Update Customer Records",
        "description": "Creates or updates customer records in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/create-or-update-customer-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "The customer's email address."
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier used to uniquely identify the customer in your system."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The customer's first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The customer's last name."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The customer's phone number in E.164 format."
                  },
                  "countryIsoCode": {
                    "type": "string",
                    "description": "Use only if phone number cannot be sent in full E.164 format.",
                    "x-mindcloud-advanced": true
                  },
                  "hasAccount": {
                    "type": "boolean",
                    "description": "Whether the customer has an account with the eCommerce platform."
                  },
                  "optedIn": {
                    "type": "boolean",
                    "description": "Whether the customer should be opted in to the loyalty program."
                  },
                  "platformAccountCreatedAt": {
                    "type": "string",
                    "description": "Date and time when the customer created an account with your store.",
                    "x-mindcloud-advanced": true
                  },
                  "posAccountId": {
                    "type": "string",
                    "description": "The point-of-sale unique account identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "tags": {
                    "type": "string",
                    "description": "A comma-separated list of tags or collections this customer belongs to. This overwrites existing tags.",
                    "x-mindcloud-advanced": true
                  },
                  "optedInAt": {
                    "type": "string",
                    "description": "Date and time when the customer was opted in to the loyalty program.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/create-order": {
      "post": {
        "operationId": "yotpoLoyaltyReferrals.create-order",
        "summary": "Create Order",
        "description": "Creates an order in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerEmail",
                  "totalAmountCents",
                  "currencyCode",
                  "orderId",
                  "ipAddress",
                  "userAgent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "The customer's email address."
                  },
                  "totalAmountCents": {
                    "type": "number",
                    "description": "The order total in cents."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "The ISO currency code for the order."
                  },
                  "orderId": {
                    "type": "string",
                    "description": "The merchant order identifier."
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "The customer's IP address."
                  },
                  "userAgent": {
                    "type": "string",
                    "description": "The customer's browser or device user agent."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "The identifier used to uniquely identify the customer in your system."
                  },
                  "status": {
                    "type": "string",
                    "description": "Order status used to determine how Yotpo should process rewards and discount removal."
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "Timestamp describing when this order was placed."
                  },
                  "couponCode": {
                    "type": "string",
                    "description": "Comma-separated list of coupon codes used on the order."
                  },
                  "ignoreIpUa": {
                    "type": "boolean",
                    "description": "Ignore IP address and user-agent fraud checks for this order."
                  },
                  "discountAmountCents": {
                    "type": "number",
                    "description": "Total discount amount applied to the order in cents."
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated list of order tags."
                  },
                  "clerkEmployeeId": {
                    "type": "string",
                    "description": "Employee ID of the store clerk who processed the transaction."
                  },
                  "clerkName": {
                    "type": "string",
                    "description": "Name of the store clerk who processed the transaction."
                  },
                  "storeAddress": {
                    "type": "string",
                    "description": "Street address of the store location for the order."
                  },
                  "storeCity": {
                    "type": "string",
                    "description": "City of the store location for the order."
                  },
                  "storeState": {
                    "type": "string",
                    "description": "State or province of the store location for the order."
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Order channel, such as online or offline."
                  },
                  "items[].id": {
                    "type": "string",
                    "description": "Unique identifier of a purchased product line item."
                  },
                  "items[].name": {
                    "type": "string",
                    "description": "Customer-facing product name for a purchased item."
                  },
                  "items[].quantity": {
                    "type": "number",
                    "description": "Quantity purchased for the item."
                  },
                  "items[].priceCents": {
                    "type": "number",
                    "description": "Unit price for the item in cents."
                  },
                  "items[].collections": {
                    "type": "string",
                    "description": "Comma-separated collections or tags for the item."
                  },
                  "items[].type": {
                    "type": "string",
                    "description": "Product category or type for the purchased item."
                  },
                  "items[].vendor": {
                    "type": "string",
                    "description": "Vendor or manufacturer for the purchased item."
                  },
                  "customer.tags": {
                    "type": "string",
                    "description": "Comma-separated customer tags. Include this if customer-based include or exclude rules are configured."
                  },
                  "customer.hasAccount": {
                    "type": "boolean",
                    "description": "Whether the customer has an account with the ecommerce platform."
                  },
                  "customer.optedIn": {
                    "type": "boolean",
                    "description": "Whether the customer should be opted in to the loyalty program."
                  },
                  "customer.optedInAt": {
                    "type": "string",
                    "description": "Timestamp when the customer opted in to the loyalty program."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/create-redemption": {
      "post": {
        "operationId": "yotpoLoyaltyReferrals.create-redemption",
        "summary": "Create Redemption",
        "description": "Creates a redemption in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/create-redemption"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "redemptionOptionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "redemptionOptionId": {
                    "type": "number",
                    "description": "Unique identifier of the redemption option being redeemed."
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address. Use one customer identifier for the redemption request."
                  },
                  "posAccountId": {
                    "type": "string",
                    "description": "Customer identifier from your POS system. Use one customer identifier for the redemption request."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Customer phone number in E.164 format. Use one customer identifier for the redemption request."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer identifier from your system. Use one customer identifier for the redemption request."
                  },
                  "delayPointsDeduction": {
                    "type": "boolean",
                    "description": "Only deduct points when the associated order is later received."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code to use when the account is configured for multi-currency."
                  },
                  "pointsToRedeem": {
                    "type": "number",
                    "description": "Point amount to redeem for variable redemptions."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approved": {
                            "type": "boolean",
                            "description": "Whether the redemption has been approved."
                          },
                          "approvedAt": {
                            "type": "string",
                            "description": "Timestamp when the redemption was approved, when available."
                          },
                          "atCheckout": {
                            "type": "boolean",
                            "description": "Whether the redemption is associated with checkout."
                          },
                          "code": {
                            "type": "string",
                            "description": "Generated redemption code, when available."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Timestamp when the redemption was created."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique identifier for the redemption record."
                          },
                          "isAdmin": {
                            "type": "boolean",
                            "description": "Whether the redemption was created by an admin flow."
                          },
                          "isPos": {
                            "type": "boolean",
                            "description": "Whether the redemption was created from a POS flow."
                          },
                          "rewardText": {
                            "type": "string",
                            "description": "Reward text or generated redemption text returned by Yotpo."
                          },
                          "thirdPartyId": {
                            "type": "string",
                            "description": "Third-party identifier for the generated code, when available."
                          },
                          "thirdPartyRuleId": {
                            "type": "string",
                            "description": "Third-party rule identifier for the generated code, when available."
                          },
                          "token": {
                            "type": "string",
                            "description": "Redemption token returned by Yotpo."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Timestamp when the redemption was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/create-refund": {
      "post": {
        "operationId": "yotpoLoyaltyReferrals.create-refund",
        "summary": "Create Refund",
        "description": "Creates a refund in Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/create-refund"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderId",
                  "totalAmountCents"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderId": {
                    "type": "string",
                    "description": "The order identifier being refunded."
                  },
                  "totalAmountCents": {
                    "type": "number",
                    "description": "The refund total in cents."
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the refund in your system."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Refund currency code. Required when using multi-currency."
                  },
                  "items[].id": {
                    "type": "string",
                    "description": "Identifier of a refunded line item. Must match the item ID used when the order was created."
                  },
                  "items[].quantity": {
                    "type": "number",
                    "description": "Quantity refunded for the line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/fetch-customer-details": {
      "get": {
        "operationId": "yotpoLoyaltyReferrals.fetch-customer-details",
        "summary": "Fetch Customer Details",
        "description": "Retrieves customer details from Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/fetch-customer-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerEmail",
            "in": "query",
            "required": false,
            "description": "The customer's email address. Required if no pos_account_id, customer_id, or phone_number is passed.",
            "schema": {
              "type": "string",
              "description": "The customer's email address. Required if no pos_account_id, customer_id, or phone_number is passed."
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "description": "The identifier used to uniquely identify the customer in your system. Required if no customer_email, pos_account_id, or phone_number is passed.",
            "schema": {
              "type": "string",
              "description": "The identifier used to uniquely identify the customer in your system. Required if no customer_email, pos_account_id, or phone_number is passed."
            }
          },
          {
            "name": "posAccountId",
            "in": "query",
            "required": false,
            "description": "The identifier used to uniquely identify the customer in your POS system. Required if no customer_email, customer_id, or phone_number is passed.",
            "schema": {
              "type": "string",
              "description": "The identifier used to uniquely identify the customer in your POS system. Required if no customer_email, customer_id, or phone_number is passed."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": false,
            "description": "The customer's phone number in E.164 format. Required if no customer_email, pos_account_id, or customer_id is passed.",
            "schema": {
              "type": "string",
              "description": "The customer's phone number in E.164 format. Required if no customer_email, pos_account_id, or customer_id is passed."
            }
          },
          {
            "name": "countryIsoCode",
            "in": "query",
            "required": false,
            "description": "Only use if phone_number cannot be sent in full E.164 format.",
            "schema": {
              "type": "string",
              "description": "Only use if phone_number cannot be sent in full E.164 format."
            }
          },
          {
            "name": "withReferralCode",
            "in": "query",
            "required": false,
            "description": "Return referral code information when set to true.",
            "schema": {
              "type": "boolean",
              "description": "Return referral code information when set to true.",
              "default": false
            }
          },
          {
            "name": "withHistory",
            "in": "query",
            "required": false,
            "description": "Return point earning and redemption history when set to true.",
            "schema": {
              "type": "boolean",
              "description": "Return point earning and redemption history when set to true.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditBalance": {
                            "type": "string",
                            "description": "Customer credit balance in store currency."
                          },
                          "creditBalanceInCustomerCurrency": {
                            "type": "string",
                            "description": "Customer credit balance in the customer's currency."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "hasStoreAccount": {
                            "type": "boolean",
                            "description": "Whether the customer has a store account."
                          },
                          "historyItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Point earning and redemption history items returned when history is requested."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "lastPurchaseAt": {
                            "type": "string",
                            "description": "Timestamp of the customer's most recent purchase."
                          },
                          "lastSeenAt": {
                            "type": "string",
                            "description": "Timestamp when the customer was last seen."
                          },
                          "nextPointsExpireAmount": {
                            "type": "number",
                            "description": "Amount of points expiring next."
                          },
                          "nextPointsExpireOn": {
                            "type": "string",
                            "description": "Date of the next points expiration event."
                          },
                          "optedInAt": {
                            "type": "string",
                            "description": "Date when the customer opted in."
                          },
                          "optIn": {
                            "type": "boolean",
                            "description": "Whether the customer has opted in."
                          },
                          "perksRedeemed": {
                            "type": "number",
                            "description": "Number of perks the customer has redeemed."
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Customer phone number when available."
                          },
                          "pointsBalance": {
                            "type": "number",
                            "description": "Current points balance."
                          },
                          "pointsEarned": {
                            "type": "number",
                            "description": "Total points earned by the customer."
                          },
                          "pointsExpireAt": {
                            "type": "string",
                            "description": "Timestamp when the customer's points expire."
                          },
                          "posAccountId": {
                            "type": "string",
                            "description": "POS account identifier when available."
                          },
                          "thirdPartyId": {
                            "type": "string",
                            "description": "Third-party customer identifier when available."
                          },
                          "thirtyPartyId": {
                            "type": "string",
                            "description": "Provider legacy typo field mapped from `thirty_party_id`."
                          },
                          "totalPurchases": {
                            "type": "number",
                            "description": "Total number of purchases recorded for the customer."
                          },
                          "totalSpendCents": {
                            "type": "number",
                            "description": "Customer lifetime spend in cents."
                          },
                          "vipTierActionsCompleted": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Progress already completed toward the current VIP tier thresholds."
                          },
                          "vipTierEntryDate": {
                            "type": "string",
                            "description": "Timestamp when the customer entered the current VIP tier."
                          },
                          "vipTierExpiration": {
                            "type": "string",
                            "description": "Timestamp when the current VIP tier expires."
                          },
                          "vipTierMaintenanceRequirements": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Requirements needed to maintain the current VIP tier."
                          },
                          "vipTierName": {
                            "type": "string",
                            "description": "Current VIP tier name when the merchant uses VIP tiers."
                          },
                          "vipTierUpgradeRequirements": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Requirements needed to upgrade to the next VIP tier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/fetch-recently-updated-customers": {
      "get": {
        "operationId": "yotpoLoyaltyReferrals.fetch-recently-updated-customers",
        "summary": "Fetch Recently Updated Customers",
        "description": "Retrieves recently updated customers from Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/fetch-recently-updated-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "birthDay": {
                            "type": "number",
                            "description": "Customer birth day when available."
                          },
                          "birthdayMonth": {
                            "type": "number",
                            "description": "Customer birth month when available."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "hasStoreAccount": {
                            "type": "boolean",
                            "description": "Whether the customer has a store account."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "lastPurchaseAt": {
                            "type": "string",
                            "description": "Timestamp of the customer's most recent purchase."
                          },
                          "lastSeenAt": {
                            "type": "string",
                            "description": "Timestamp when the customer was last seen."
                          },
                          "optedInAt": {
                            "type": "string",
                            "description": "Date when the customer opted in."
                          },
                          "optIn": {
                            "type": "boolean",
                            "description": "Whether the customer has opted in."
                          },
                          "perksRedeemed": {
                            "type": "number",
                            "description": "Number of perks the customer has redeemed."
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Customer phone number when available."
                          },
                          "pointsBalance": {
                            "type": "number",
                            "description": "Current points balance."
                          },
                          "pointsEarned": {
                            "type": "number",
                            "description": "Total points earned by the customer."
                          },
                          "pointsExpireAt": {
                            "type": "string",
                            "description": "Timestamp when the customer's points expire."
                          },
                          "posAccountId": {
                            "type": "string",
                            "description": "POS account identifier when available."
                          },
                          "thirdPartyId": {
                            "type": "string",
                            "description": "Third-party customer identifier when available."
                          },
                          "thirtyPartyId": {
                            "type": "string",
                            "description": "Provider legacy typo field mapped from `thirty_party_id`."
                          },
                          "totalPurchases": {
                            "type": "number",
                            "description": "Total number of purchases recorded for the customer."
                          },
                          "totalSpendCents": {
                            "type": "number",
                            "description": "Customer lifetime spend in cents."
                          },
                          "vipTierActionsCompleted": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Progress already completed toward the current VIP tier thresholds."
                          },
                          "vipTierEntryDate": {
                            "type": "string",
                            "description": "Timestamp when the customer entered the current VIP tier."
                          },
                          "vipTierExpiration": {
                            "type": "string",
                            "description": "Timestamp when the current VIP tier expires."
                          },
                          "vipTierMaintenanceRequirements": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Requirements needed to maintain the current VIP tier."
                          },
                          "vipTierName": {
                            "type": "string",
                            "description": "Current VIP tier name when the merchant uses VIP tiers."
                          },
                          "vipTierUpgradeRequirements": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Requirements needed to upgrade to the next VIP tier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/fetch-vip-tiers": {
      "get": {
        "operationId": "yotpoLoyaltyReferrals.fetch-vip-tiers",
        "summary": "Fetch VIP Tiers",
        "description": "Retrieves VIP tiers from Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/fetch-vip-tiers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "couponReward": {
                            "type": "string",
                            "description": "Coupon reward associated with the tier when configured."
                          },
                          "description": {
                            "type": "string",
                            "description": "VIP tier description shown in Yotpo."
                          },
                          "entryThreshold": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Thresholds required to enter the tier."
                          },
                          "id": {
                            "type": "number",
                            "description": "VIP tier identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "VIP tier name."
                          },
                          "pointsMultiplier": {
                            "type": "string",
                            "description": "Points multiplier applied to the tier."
                          },
                          "pointsReward": {
                            "type": "number",
                            "description": "Points reward granted for entering the tier."
                          },
                          "regainThreshold": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Thresholds required to regain the tier after losing it."
                          },
                          "retainThreshold": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Thresholds required to retain the tier."
                          },
                          "type": {
                            "type": "string",
                            "description": "VIP tier type returned by Yotpo."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yotpoLoyaltyReferrals/latest/actions/get-active-campaigns": {
      "get": {
        "operationId": "yotpoLoyaltyReferrals.get-active-campaigns",
        "summary": "Get Active Campaigns",
        "description": "Retrieves active campaigns from Yotpo Loyalty & Referrals.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yotpoLoyaltyReferrals/latest/actions/get-active-campaigns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withStatus",
            "in": "query",
            "required": false,
            "description": "Include status information when set to true.",
            "schema": {
              "type": "boolean",
              "description": "Include status information when set to true."
            }
          },
          {
            "name": "customerEmail",
            "in": "query",
            "required": false,
            "description": "Filter campaigns for a specific customer email.",
            "schema": {
              "type": "string",
              "description": "Filter campaigns for a specific customer email."
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "description": "Filter campaigns for a specific customer ID.",
            "schema": {
              "type": "string",
              "description": "Filter campaigns for a specific customer ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
[...]
