{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ipregistry Universal API",
    "version": "0.0.6",
    "description": "IP geolocation, threat intelligence, autonomous system, and user-agent parsing API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ipregistry/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ipregistry/latest/actions/get-asn-lookup": {
      "get": {
        "operationId": "ipregistry.get-asn-lookup",
        "summary": "Get ASN Lookup",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ipregistry/latest/actions/get-asn-lookup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn",
            "in": "query",
            "required": true,
            "description": "Autonomous System Number to look up, for example `AS15169`.",
            "schema": {
              "type": "string",
              "description": "Autonomous System Number to look up, for example `AS15169`.",
              "example": "AS15169"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional response filter for ASN lookup results.",
            "schema": {
              "type": "string",
              "description": "Optional response filter for ASN lookup results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allocated": {
                            "type": "string"
                          },
                          "asn": {
                            "type": "number"
                          },
                          "country_code": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "prefixes": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "ipv4": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "cidr": {
                                      "type": "string"
                                    },
                                    "country_code": {
                                      "type": "string"
                                    },
                                    "network_name": {
                                      "type": "string"
                                    },
                                    "organization": {
                                      "type": "string"
                                    },
                                    "registry": {
                                      "type": "string"
                                    },
                                    "size": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "ipv4_count": {
                                "type": "number"
                              },
                              "ipv6": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "cidr": {
                                      "type": "string"
                                    },
                                    "country_code": {
                                      "type": "string"
                                    },
                                    "network_name": {
                                      "type": "string"
                                    },
                                    "organization": {
                                      "type": "string"
                                    },
                                    "registry": {
                                      "type": "string"
                                    },
                                    "size": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "ipv6_count": {
                                "type": "number"
                              }
                            }
                          },
                          "registry": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "downstreams": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "peers": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "upstreams": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ipregistry/latest/actions/get-batch-asn-lookup": {
      "get": {
        "operationId": "ipregistry.get-batch-asn-lookup",
        "summary": "Get Batch ASN Lookup",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ipregistry/latest/actions/get-batch-asn-lookup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asns",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of up to 16 Autonomous System Numbers.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of up to 16 Autonomous System Numbers.",
              "example": "AS15169,AS13335"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional response filter applied to each ASN result item.",
            "schema": {
              "type": "string",
              "description": "Optional response filter applied to each ASN result item.",
              "example": "name,type",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "allocated": {
                                  "type": "string"
                                },
                                "asn": {
                                  "type": "number"
                                },
                                "country_code": {
                                  "type": "string"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "prefixes": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "ipv4": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "cidr": {
                                            "type": "string"
                                          },
                                          "country_code": {
                                            "type": "string"
                                          },
                                          "network_name": {
                                            "type": "string"
                                          },
                                          "organization": {
                                            "type": "string"
                                          },
                                          "registry": {
                                            "type": "string"
                                          },
                                          "size": {
                                            "type": "number"
                                          },
                                          "status": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "ipv4_count": {
                                      "type": "number"
                                    },
                                    "ipv6": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "cidr": {
                                            "type": "string"
                                          },
                                          "country_code": {
                                            "type": "string"
                                          },
                                          "network_name": {
                                            "type": "string"
                                          },
                                          "organization": {
                                            "type": "string"
                                          },
                                          "registry": {
                                            "type": "string"
                                          },
                                          "size": {
                                            "type": "number"
                                          },
                                          "status": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "ipv6_count": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "registry": {
                                  "type": "string"
                                },
                                "relationships": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "downstreams": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "peers": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "upstreams": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                },
                                "type": {
                                  "type": "string"
                                },
                                "updated": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ipregistry/latest/actions/get-batch-ip-lookup": {
      "get": {
        "operationId": "ipregistry.get-batch-ip-lookup",
        "summary": "Get Batch IP Lookup",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ipregistry/latest/actions/get-batch-ip-lookup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddresses",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of up to 1024 IPv4 or IPv6 addresses.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of up to 1024 IPv4 or IPv6 addresses.",
              "example": "8.8.8.8,1.1.1.1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional response filter applied to each result item.",
            "schema": {
              "type": "string",
              "description": "Optional response filter applied to each result item.",
              "example": "location.country.code,location.country.name",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "carrier": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "company": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "domain": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "connection": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "asn": {
                                      "type": "number"
                                    },
                                    "domain": {
                                      "type": "string"
                                    },
                                    "organization": {
                                      "type": "string"
                                    },
                                    "route": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "currency": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "format": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "decimal_separator": {
                                          "type": "string"
                                        },
                                        "group_separator": {
                                          "type": "string"
                                        },
                                        "negative": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "suffix": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "positive": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "suffix": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "name_native": {
                                      "type": "string"
                                    },
                                    "plural": {
                                      "type": "string"
                                    },
                                    "plural_native": {
                                      "type": "string"
                                    },
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "symbol_native": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "ip": {
                                  "type": "string"
                                },
                                "location": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "city": {
                                      "type": "string"
                                    },
                                    "continent": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "country": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "area": {
                                          "type": "number"
                                        },
                                        "borders": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "calling_code": {
                                          "type": "string"
                                        },
                                        "capital": {
                                          "type": "string"
                                        },
                                        "code": {
                                          "type": "string"
                                        },
                                        "flag": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "emoji": {
                                              "type": "string"
                                            },
                                            "emoji_unicode": {
                                              "type": "string"
                                            },
                                            "emojitwo": {
                                              "type": "string"
                                            },
                                            "noto": {
                                              "type": "string"
                                            },
                                            "twemoji": {
                                              "type": "string"
                                            },
                                            "wikimedia": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "languages": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "properties": {
                                              "code": {
                                                "type": "string"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "native": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "population": {
                                          "type": "number"
                                        },
                                        "population_density": {
                                          "type": "number"
                                        },
                                        "tld": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "in_eu": {
                                      "type": "boolean"
                                    },
                                    "language": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "native": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "latitude": {
                                      "type": "number"
                                    },
                                    "longitude": {
                                      "type": "number"
                                    },
                                    "postal": {
                                      "type": "string"
                                    },
                                    "region": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "security": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "is_abuser": {
                                      "type": "boolean"
                                    },
                                    "is_anonymous": {
                                      "type": "boolean"
                                    },
                                    "is_attacker": {
                                      "type": "boolean"
                                    },
                                    "is_bogon": {
                                      "type": "boolean"
                                    },
                                    "is_cloud_provider": {
                                      "type": "boolean"
                                    },
                                    "is_proxy": {
                                      "type": "boolean"
                                    },
                                    "is_relay": {
                                      "type": "boolean"
                                    },
                                    "is_threat": {
                                      "type": "boolean"
                                    },
                                    "is_tor": {
                                      "type": "boolean"
                                    },
                                    "is_tor_exit": {
                                      "type": "boolean"
                                    },
                                    "is_vpn": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "time_zone": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "abbreviation": {
                                      "type": "string"
                                    },
                                    "current_time": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "in_daylight_saving": {
                                      "type": "boolean"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "offset": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ipregistry/latest/actions/get-ip-lookup": {
      "get": {
        "operationId": "ipregistry.get-ip-lookup",
        "summary": "Get IP Lookup",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ipregistry/latest/actions/get-ip-lookup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": true,
            "description": "IPv4 or IPv6 address to look up.",
            "schema": {
              "type": "string",
              "description": "IPv4 or IPv6 address to look up.",
              "example": "8.8.8.8"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional response filter. Example: `location.country.name,security.is_tor`.",
            "schema": {
              "type": "string",
              "description": "Optional response filter. Example: `location.country.name,security.is_tor`.",
              "example": "location.country.name,security.is_tor",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": false,
            "description": "Set to true to include a fresh reverse DNS hostname lookup.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include a fresh reverse DNS hostname lookup.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "company": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "domain": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "connection": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "asn": {
                                "type": "number"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "string"
                              },
                              "route": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "format": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "decimal_separator": {
                                    "type": "string"
                                  },
                                  "group_separator": {
                                    "type": "string"
                                  },
                                  "negative": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "prefix": {
                                        "type": "string"
                                      },
                                      "suffix": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "positive": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "prefix": {
                                        "type": "string"
                                      },
                                      "suffix": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "name_native": {
                                "type": "string"
                              },
                              "plural": {
                                "type": "string"
                              },
                              "plural_native": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "symbol_native": {
                                "type": "string"
                              }
                            }
                          },
                          "ip": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "area": {
                                    "type": "number"
                                  },
                                  "borders": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "calling_code": {
                                    "type": "string"
                                  },
                                  "capital": {
                                    "type": "string"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "flag": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "emoji": {
                                        "type": "string"
                                      },
                                      "emoji_unicode": {
                                        "type": "string"
                                      },
                                      "emojitwo": {
                                        "type": "string"
                                      },
                                      "noto": {
                                        "type": "string"
                                      },
                                      "twemoji": {
                                        "type": "string"
                                      },
                                      "wikimedia": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "languages": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "native": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "population": {
                                    "type": "number"
                                  },
                                  "population_density": {
                                    "type": "number"
                                  },
                                  "tld": {
                                    "type": "string"
                                  }
                                }
                              },
                              "in_eu": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "native": {
                                    "type": "string"
                                  }
                                }
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "postal": {
                                "type": "string"
                              },
                              "region": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "security": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "is_abuser": {
                                "type": "boolean"
                              },
                              "is_anonymous": {
                                "type": "boolean"
                              },
                              "is_attacker": {
                                "type": "boolean"
                              },
                              "is_bogon": {
                                "type": "boolean"
                              },
                              "is_cloud_provider": {
                                "type": "boolean"
                              },
                              "is_proxy": {
                                "type": "boolean"
                              },
                              "is_relay": {
                                "type": "boolean"
                              },
                              "is_threat": {
                                "type": "boolean"
                              },
                              "is_tor": {
                                "type": "boolean"
                              },
                              "is_tor_exit": {
                                "type": "boolean"
                              },
                              "is_vpn": {
                                "type": "boolean"
                              }
                            }
                          },
                          "time_zone": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "abbreviation": {
                                "type": "string"
                              },
                              "current_time": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "in_daylight_saving": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "offset": {
                                "type": "number"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ipregistry/latest/actions/get-origin-asn-lookup": {
      "get": {
        "operationId": "ipregistry.get-origin-asn-lookup",
        "summary": "Get Origin ASN Lookup",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ipregistry/latest/actions/get-origin-asn-lookup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional response filter for origin ASN lookup results.",
            "schema": {
              "type": "string",
              "description": "Optional response filter for origin ASN lookup results.",
              "example": "name,location.country.code",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allocated": {
                            "type": "string"
                          },
                          "asn": {
                            "type": "number"
                          },
                          "country_code": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "prefixes": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "ipv4": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "cidr": {
                                      "type": "string"
                                    },
                                    "country_code": {
                                      "type": "string"
                                    },
                                    "network_name": {
                                      "type": "string"
                                    },
                                    "organization": {
                                      "type": "string"
                                    },
                                    "registry": {
                                      "type": "string"
                                    },
                                    "size": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "ipv4_count": {
                                "type": "number"
                              },
                              "ipv6": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "cidr": {
                                      "type": "string"
                                    },
                                    "country_code": {
                                      "type": "string"
                                    },
                                    "network_name": {
                                      "type": "string"
                                    },
                                    "organization": {
                                      "type": "string"
                                    },
                                    "registry": {
                                      "type": "string"
                                    },
                                    "size": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "ipv6_count": {
                                "type": "number"
                              }
                            }
                          },
                          "registry": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "downstreams": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "peers": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "upstreams": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ipregistry/latest/actions/get-origin-ip-lookup": {
      "get": {
        "operationId": "ipregistry.get-origin-ip-lookup",
        "summary": "Get Origin IP Lookup",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ipregistry/latest/actions/get-origin-ip-lookup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional response filter. Origin IP lookups also include user-agent data.",
            "schema": {
              "type": "string",
              "description": "Optional response filter. Origin IP lookups also include user-agent data.",
              "example": "location.country.name,connection.type",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": false,
            "description": "Set to true to include a fresh reverse DNS hostname lookup.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include a fresh reverse DNS hostname lookup.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "company": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "domain": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "connection": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "asn": {
                                "type": "number"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "string"
                              },
                              "route": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "format": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "decimal_separator": {
                                    "type": "string"
                                  },
                                  "group_separator": {
                                    "type": "string"
                                  },
                                  "negative": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "prefix": {
                                        "type": "string"
                                      },
                                      "suffix": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "positive": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "prefix": {
                                        "type": "string"
                                      },
                                      "suffix": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "name_native": {
                                "type": "string"
                              },
                              "plural": {
                                "type": "string"
                              },
                              "plural_native": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "symbol_native": {
                                "type": "string"
                              }
                            }
                          },
                          "ip": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "area": {
                                    "type": "number"
                                  },
                                  "borders": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "calling_code": {
                                    "type": "string"
                                  },
                                  "capital": {
                                    "type": "string"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "flag": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "emoji": {
                                        "type": "string"
                                      },
                                      "emoji_unicode": {
                                        "type": "string"
                                      },
                                      "emojitwo": {
                                        "type": "string"
                                      },
                                      "noto": {
                                        "type": "string"
                                      },
                                      "twemoji": {
                                        "type": "string"
                                      },
                                      "wikimedia": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "languages": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "native": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "population": {
                                    "type": "number"
                                  },
                                  "population_density": {
                                    "type": "number"
                                  },
                                  "tld": {
                                    "type": "string"
                                  }
                                }
                              },
                              "in_eu": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "native": {
                                    "type": "string"
                                  }
                                }
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "postal": {
                                "type": "string"
                              },
                              "region": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "security": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "is_abuser": {
                                "type": "boolean"
                              },
                              "is_anonymous": {
                                "type": "boolean"
                              },
                              "is_attacker": {
                                "type": "boolean"
                              },
                              "is_bogon": {
                                "type": "boolean"
                              },
                              "is_cloud_provider": {
                                "type": "boolean"
                              },
                              "is_proxy": {
                                "type": "boolean"
                              },
                              "is_relay": {
                                "type": "boolean"
                              },
                              "is_threat": {
                                "type": "boolean"
                              },
                              "is_tor": {
                                "type": "boolean"
                              },
                              "is_tor_exit": {
                                "type": "boolean"
                              },
                              "is_vpn": {
                                "type": "boolean"
                              }
                            }
                          },
                          "time_zone": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "abbreviation": {
                                "type": "string"
                              },
                              "current_time": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "in_daylight_saving": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "offset": {
                                "type": "number"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "user_agent": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "device": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "brand": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "engine": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "version": {
                                    "type": "string"
                                  },
                                  "version_major": {
                                    "type": "string"
                                  }
                                }
                              },
                              "header": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "os": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              },
                              "version": {
                                "type": "string"
                              },
                              "version_major": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
[...]
