{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DenserChat Universal API",
    "version": "0.0.6",
    "description": "Query DenserChat chatbots over REST from custom apps, internal tools, and automations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/denserChat/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/denserChat/latest/actions/query-chatbot": {
      "get": {
        "operationId": "denserChat.query-chatbot",
        "summary": "Query Chatbot",
        "description": "Retrieves a chatbot answer from DenserChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/denserChat/latest/actions/query-chatbot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "in": "query",
            "required": true,
            "description": "The question to send to the Denser chatbot.",
            "schema": {
              "type": "string",
              "description": "The question to send to the Denser chatbot.",
              "example": "What are the pricing options for denserbot?"
            }
          },
          {
            "name": "context[]",
            "in": "query",
            "required": false,
            "description": "Prior conversation turns to send with the question.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Prior conversation turns to send with the question."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "prompt",
            "in": "query",
            "required": false,
            "description": "An optional prompt override for this request.",
            "schema": {
              "type": "string",
              "description": "An optional prompt override for this request.",
              "example": "Please provide your answer in the following format: ..."
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "An optional model name for this request.",
            "schema": {
              "type": "string",
              "description": "An optional model name for this request.",
              "enum": [
                "claude-3-5-haiku",
                "claude-3-5-sonnet",
                "claude-3-7-sonnet",
                "gpt-3.5",
                "gpt-4",
                "gpt-4o",
                "gpt-4o-mini"
              ]
            }
          },
          {
            "name": "citation",
            "in": "query",
            "required": false,
            "description": "Whether to include citations in the response.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include citations in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "The chatbot answer text."
                          },
                          "passages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The supporting citation passages returned by Denser."
                          },
                          "statusCode": {
                            "type": "string",
                            "description": "The status code reported in the Denser response body."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
