{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Evoliz Universal API",
    "version": "0.0.5",
    "description": "Manage clients, quotes, invoices, and sales documents"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/evoliz/latest/actions/create-client": {
      "post": {
        "operationId": "evoliz.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "object",
                                "properties": {
                                  "iso2": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "town": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "clientid": {
                            "type": "number"
                          },
                          "code": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "safe_amount": {
                            "type": "number"
                          },
                          "stampdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ttc": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "string"
                          },
                          "userid": {
                            "type": "number"
                          },
                          "vat_number": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/create-client-contact": {
      "post": {
        "operationId": "evoliz.create-client-contact",
        "summary": "Create Client Contact",
        "description": "Creates a new client contact in Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/create-client-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "civility": {
                            "type": "string"
                          },
                          "client": {
                            "type": "object",
                            "properties": {
                              "clientid": {
                                "type": "number"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "consent": {
                            "type": "string"
                          },
                          "contactid": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "favorite": {
                            "type": "boolean"
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "lastname": {
                            "type": "string"
                          },
                          "userid": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/create-invoice": {
      "post": {
        "operationId": "evoliz.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "properties": {
                              "clientid": {
                                "type": "number"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default_currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "document_number": {
                            "type": "string"
                          },
                          "documentdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duedate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "file": {
                            "type": "string"
                          },
                          "invoiceid": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "articleid": {
                                  "type": "number"
                                },
                                "designation": {
                                  "type": "string"
                                },
                                "itemid": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "unit_price_vat_exclude": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "string"
                          },
                          "locked": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          },
                          "prices_include_vat": {
                            "type": "boolean"
                          },
                          "recovery_number": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_code": {
                            "type": "number"
                          },
                          "template": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "templateid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "advance": {
                                "type": "number"
                              },
                              "net_to_pay": {
                                "type": "number"
                              },
                              "paid": {
                                "type": "number"
                              },
                              "vat": {
                                "type": "number"
                              },
                              "vat_exclude": {
                                "type": "number"
                              },
                              "vat_include": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "typedoc": {
                            "type": "string"
                          },
                          "userid": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/create-quote": {
      "post": {
        "operationId": "evoliz.create-quote",
        "summary": "Create Quote",
        "description": "Creates a new quote in Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/create-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "properties": {
                              "clientid": {
                                "type": "number"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default_currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "document_number": {
                            "type": "string"
                          },
                          "documentdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duedate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "file": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "articleid": {
                                  "type": "number"
                                },
                                "designation": {
                                  "type": "string"
                                },
                                "itemid": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "unit_price_vat_exclude": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "prices_include_vat": {
                            "type": "boolean"
                          },
                          "quoteid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_code": {
                            "type": "number"
                          },
                          "status_dates": {
                            "type": "object",
                            "properties": {
                              "create": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "template": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "templateid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "net_to_pay": {
                                "type": "number"
                              },
                              "vat": {
                                "type": "number"
                              },
                              "vat_exclude": {
                                "type": "number"
                              },
                              "vat_include": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userid": {
                            "type": "number"
                          },
                          "webdoc": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/create-sale-order": {
      "post": {
        "operationId": "evoliz.create-sale-order",
        "summary": "Create Sale Order",
        "description": "Creates a new sale order in Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/create-sale-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "properties": {
                              "clientid": {
                                "type": "number"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default_currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "document_number": {
                            "type": "string"
                          },
                          "documentdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duedate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "file": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "articleid": {
                                  "type": "number"
                                },
                                "designation": {
                                  "type": "string"
                                },
                                "itemid": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "unit_price_vat_exclude": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "orderid": {
                            "type": "number"
                          },
                          "prices_include_vat": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_code": {
                            "type": "number"
                          },
                          "status_dates": {
                            "type": "object",
                            "properties": {
                              "create": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "template": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "templateid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "net_to_pay": {
                                "type": "number"
                              },
                              "vat": {
                                "type": "number"
                              },
                              "vat_exclude": {
                                "type": "number"
                              },
                              "vat_include": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userid": {
                            "type": "number"
                          },
                          "webdoc": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/get-article": {
      "get": {
        "operationId": "evoliz.get-article",
        "summary": "Get Article",
        "description": "Retrieves an article from Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/get-article"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "articleId",
            "in": "query",
            "required": true,
            "description": "The Evoliz article ID.",
            "schema": {
              "type": "number",
              "description": "The Evoliz article ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "articleid": {
                            "type": "number"
                          },
                          "designation": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "picture_link": {
                            "type": "string"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "sale_classification": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "label": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "stock_management": {
                            "type": "boolean"
                          },
                          "stocked_quantity": {
                            "type": "number"
                          },
                          "ttc": {
                            "type": "boolean"
                          },
                          "unit_price_vat_exclude": {
                            "type": "number"
                          },
                          "unit_price_vat_include": {
                            "type": "number"
                          },
                          "userid": {
                            "type": "number"
                          },
                          "vat": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/get-client": {
      "get": {
        "operationId": "evoliz.get-client",
        "summary": "Get Client",
        "description": "Retrieves a client from Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/get-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "description": "The Evoliz client ID.",
            "schema": {
              "type": "number",
              "description": "The Evoliz client ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "object",
                                "properties": {
                                  "iso2": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "town": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "clientid": {
                            "type": "number"
                          },
                          "code": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "safe_amount": {
                            "type": "number"
                          },
                          "stampdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ttc": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "string"
                          },
                          "userid": {
                            "type": "number"
                          },
                          "vat_number": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/get-invoice": {
      "get": {
        "operationId": "evoliz.get-invoice",
        "summary": "Get Invoice",
        "description": "Retrieves an invoice from Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "required": true,
            "description": "The Evoliz invoice ID.",
            "schema": {
              "type": "number",
              "description": "The Evoliz invoice ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "properties": {
                              "clientid": {
                                "type": "number"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default_currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "document_number": {
                            "type": "string"
                          },
                          "documentdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duedate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "file": {
                            "type": "string"
                          },
                          "invoiceid": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "articleid": {
                                  "type": "number"
                                },
                                "designation": {
                                  "type": "string"
                                },
                                "itemid": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "unit_price_vat_exclude": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "string"
                          },
                          "locked": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          },
                          "prices_include_vat": {
                            "type": "boolean"
                          },
                          "recovery_number": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_code": {
                            "type": "number"
                          },
                          "template": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "templateid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "advance": {
                                "type": "number"
                              },
                              "net_to_pay": {
                                "type": "number"
                              },
                              "paid": {
                                "type": "number"
                              },
                              "vat": {
                                "type": "number"
                              },
                              "vat_exclude": {
                                "type": "number"
                              },
                              "vat_include": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "typedoc": {
                            "type": "string"
                          },
                          "userid": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/get-quote": {
      "get": {
        "operationId": "evoliz.get-quote",
        "summary": "Get Quote",
        "description": "Retrieves a quote from Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/get-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quoteId",
            "in": "query",
            "required": true,
            "description": "The Evoliz quote ID.",
            "schema": {
              "type": "number",
              "description": "The Evoliz quote ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "properties": {
                              "clientid": {
                                "type": "number"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default_currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "document_number": {
                            "type": "string"
                          },
                          "documentdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duedate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "file": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "articleid": {
                                  "type": "number"
                                },
                                "designation": {
                                  "type": "string"
                                },
                                "itemid": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "unit_price_vat_exclude": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "prices_include_vat": {
                            "type": "boolean"
                          },
                          "quoteid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_code": {
                            "type": "number"
                          },
                          "status_dates": {
                            "type": "object",
                            "properties": {
                              "create": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "template": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "templateid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "net_to_pay": {
                                "type": "number"
                              },
                              "vat": {
                                "type": "number"
                              },
                              "vat_exclude": {
                                "type": "number"
                              },
                              "vat_include": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userid": {
                            "type": "number"
                          },
                          "webdoc": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/get-sale-order": {
      "get": {
        "operationId": "evoliz.get-sale-order",
        "summary": "Get Sale Order",
        "description": "Retrieves a sale order from Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/get-sale-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "The Evoliz sale order ID.",
            "schema": {
              "type": "number",
              "description": "The Evoliz sale order ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "properties": {
                              "clientid": {
                                "type": "number"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default_currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "document_number": {
                            "type": "string"
                          },
                          "documentdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duedate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "file": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "articleid": {
                                  "type": "number"
                                },
                                "designation": {
                                  "type": "string"
                                },
                                "itemid": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "unit_price_vat_exclude": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "orderid": {
                            "type": "number"
                          },
                          "prices_include_vat": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "status_code": {
                            "type": "number"
                          },
                          "status_dates": {
                            "type": "object",
                            "properties": {
                              "create": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "template": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "templateid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "net_to_pay": {
                                "type": "number"
                              },
                              "vat": {
                                "type": "number"
                              },
                              "vat_exclude": {
                                "type": "number"
                              },
                              "vat_include": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userid": {
                            "type": "number"
                          },
                          "webdoc": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/evoliz/latest/actions/list-articles": {
      "get": {
        "operationId": "evoliz.list-articles",
        "summary": "List Articles",
        "description": "Retrieves articles from Evoliz.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/evoliz/latest/actions/list-articles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
[...]
