{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "OxaPay Crypto Payment Gateway Universal API",
    "version": "0.0.4",
    "description": "Accept crypto payments with OxaPay merchant APIs, retrieve payment details, manage static addresses, and read public network and pricing metadata."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/generate-invoice": {
      "post": {
        "operationId": "oxaPayCryptoPaymentGateway.generate-invoice",
        "summary": "Generate Invoice",
        "description": "Creates a new invoice in OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/generate-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Invoice amount."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Fiat currency symbol."
                  },
                  "sandbox": {
                    "type": "boolean",
                    "description": "Create a sandbox invoice."
                  },
                  "order_id": {
                    "type": "string",
                    "description": "Merchant order id."
                  },
                  "description": {
                    "type": "string",
                    "description": "Invoice description."
                  },
                  "pay_currency": {
                    "type": "string",
                    "description": "Requested crypto payment currency."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Generated invoice payload.",
                            "properties": {
                              "date": {
                                "type": "number",
                                "description": "Creation timestamp."
                              },
                              "expiredAt": {
                                "type": "number",
                                "description": "Invoice expiration time."
                              },
                              "paymentUrl": {
                                "type": "string",
                                "description": "Hosted payment URL."
                              },
                              "trackId": {
                                "type": "number",
                                "description": "Payment track identifier."
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/generate-static-address": {
      "post": {
        "operationId": "oxaPayCryptoPaymentGateway.generate-static-address",
        "summary": "Generate Static Address",
        "description": "Creates a new static address in OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/generate-static-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "network"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "to_currency": {
                    "type": "string",
                    "description": "Optional payout token or currency on the selected network."
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network key."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Webhook callback URL."
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email."
                  },
                  "order_id": {
                    "type": "string",
                    "description": "Merchant order id."
                  },
                  "description": {
                    "type": "string",
                    "description": "Static address description."
                  },
                  "sandbox": {
                    "type": "boolean",
                    "description": "Create a sandbox static address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Generated static-address payload.",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Static deposit address."
                              },
                              "date": {
                                "type": "number",
                                "description": "Creation timestamp."
                              },
                              "memo": {
                                "type": "string",
                                "description": "Memo or destination tag when provided."
                              },
                              "network": {
                                "type": "string",
                                "description": "Selected blockchain network."
                              },
                              "qrCode": {
                                "type": "string",
                                "description": "QR code image or data URL."
                              },
                              "trackId": {
                                "type": "number",
                                "description": "Static-address track identifier."
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/generate-white-label": {
      "post": {
        "operationId": "oxaPayCryptoPaymentGateway.generate-white-label",
        "summary": "Generate White Label",
        "description": "Creates a new white-label payment in OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/generate-white-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "pay_currency",
                  "network"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "White label invoice amount."
                  },
                  "pay_currency": {
                    "type": "string",
                    "description": "Requested crypto payment currency."
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network key."
                  },
                  "sandbox": {
                    "type": "boolean",
                    "description": "Create a sandbox white label payment."
                  },
                  "order_id": {
                    "type": "string",
                    "description": "Merchant order id."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Generated white-label payment payload.",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Deposit address."
                              },
                              "amount": {
                                "type": "number",
                                "description": "Requested amount."
                              },
                              "callbackUrl": {
                                "type": "string",
                                "description": "Webhook callback URL."
                              },
                              "currency": {
                                "type": "string",
                                "description": "Settlement currency."
                              },
                              "date": {
                                "type": "number",
                                "description": "Creation timestamp."
                              },
                              "description": {
                                "type": "string",
                                "description": "Merchant description."
                              },
                              "email": {
                                "type": "string",
                                "description": "Customer email."
                              },
                              "expiredAt": {
                                "type": "number",
                                "description": "Invoice expiration time."
                              },
                              "feePaidByPayer": {
                                "type": "number",
                                "description": "Fee handling flag."
                              },
                              "lifetime": {
                                "type": "number",
                                "description": "Invoice lifetime."
                              },
                              "memo": {
                                "type": "string",
                                "description": "Memo or destination tag when provided."
                              },
                              "network": {
                                "type": "string",
                                "description": "Blockchain network."
                              },
                              "orderId": {
                                "type": "string",
                                "description": "Merchant order identifier."
                              },
                              "payAmount": {
                                "type": "number",
                                "description": "Amount the payer must send."
                              },
                              "payCurrency": {
                                "type": "string",
                                "description": "Currency used by the payer."
                              },
                              "qrCode": {
                                "type": "string",
                                "description": "QR code image or data URL."
                              },
                              "rate": {
                                "type": "number",
                                "description": "Exchange rate."
                              },
                              "trackId": {
                                "type": "number",
                                "description": "Payment track identifier."
                              },
                              "underPaidCoverage": {
                                "type": "number",
                                "description": "Underpayment coverage percentage."
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/get-payment": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.get-payment",
        "summary": "Get Payment",
        "description": "Retrieves a payment from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/get-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "required": true,
            "description": "OxaPay payment track id.",
            "schema": {
              "type": "string",
              "description": "OxaPay payment track id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Payment detail response.",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Deposit address."
                              },
                              "amount": {
                                "type": "number",
                                "description": "Requested amount."
                              },
                              "currency": {
                                "type": "string",
                                "description": "Requested settlement currency."
                              },
                              "date": {
                                "type": "number",
                                "description": "Creation timestamp."
                              },
                              "description": {
                                "type": "string",
                                "description": "Merchant description."
                              },
                              "email": {
                                "type": "string",
                                "description": "Customer email."
                              },
                              "expiredAt": {
                                "type": "number",
                                "description": "Invoice expiration time."
                              },
                              "network": {
                                "type": "string",
                                "description": "Blockchain network."
                              },
                              "orderId": {
                                "type": "string",
                                "description": "Merchant order identifier."
                              },
                              "payAmount": {
                                "type": "number",
                                "description": "Amount paid by the payer when available."
                              },
                              "payCurrency": {
                                "type": "string",
                                "description": "Currency used by the payer when available."
                              },
                              "status": {
                                "type": "string",
                                "description": "Current payment status."
                              },
                              "trackId": {
                                "type": "number",
                                "description": "Payment track identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Payment type."
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/get-system-status": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.get-system-status",
        "summary": "Get System Status",
        "description": "Retrieves system status from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/get-system-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Status payload.",
                            "properties": {
                              "status": {
                                "type": "string",
                                "description": "Current API status."
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/list-accepted-currencies": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.list-accepted-currencies",
        "summary": "List Accepted Currencies",
        "description": "Retrieves accepted currencies from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/list-accepted-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Accepted currency response.",
                            "properties": {
                              "list": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Accepted currency symbols."
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/list-payments": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.list-payments",
        "summary": "List Payments",
        "description": "Retrieves payments from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/list-payments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "number",
              "description": "Page number."
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "number",
              "description": "Page size."
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "required": false,
            "description": "Filter by payment track id.",
            "schema": {
              "type": "string",
              "description": "Filter by payment track id."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by payment type.",
            "schema": {
              "type": "string",
              "description": "Filter by payment type."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by payment status.",
            "schema": {
              "type": "string",
              "description": "Filter by payment status."
            }
          },
          {
            "name": "pay_currency",
            "in": "query",
            "required": false,
            "description": "Filter by pay currency symbol.",
            "schema": {
              "type": "string",
              "description": "Filter by pay currency symbol."
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Filter by invoice currency symbol.",
            "schema": {
              "type": "string",
              "description": "Filter by invoice currency symbol."
            }
          },
          {
            "name": "network",
            "in": "query",
            "required": false,
            "description": "Filter by blockchain network.",
            "schema": {
              "type": "string",
              "description": "Filter by blockchain network."
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Filter by destination address.",
            "schema": {
              "type": "string",
              "description": "Filter by destination address."
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "description": "UNIX start timestamp.",
            "schema": {
              "type": "number",
              "description": "UNIX start timestamp."
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "description": "UNIX end timestamp.",
            "schema": {
              "type": "number",
              "description": "UNIX end timestamp."
            }
          },
          {
            "name": "from_amount",
            "in": "query",
            "required": false,
            "description": "Minimum amount filter.",
            "schema": {
              "type": "number",
              "description": "Minimum amount filter."
            }
          },
          {
            "name": "to_amount",
            "in": "query",
            "required": false,
            "description": "Maximum amount filter.",
            "schema": {
              "type": "number",
              "description": "Maximum amount filter."
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "description": "Sort field."
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "description": "Sort direction."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Payment list response.",
                            "properties": {
                              "list": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Deposit address."
                                    },
                                    "amount": {
                                      "type": "number",
                                      "description": "Requested amount."
                                    },
                                    "currency": {
                                      "type": "string",
                                      "description": "Requested settlement currency."
                                    },
                                    "date": {
                                      "type": "number",
                                      "description": "Creation timestamp."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Merchant description."
                                    },
                                    "email": {
                                      "type": "string",
                                      "description": "Customer email."
                                    },
                                    "expiredAt": {
                                      "type": "number",
                                      "description": "Invoice expiration time."
                                    },
                                    "network": {
                                      "type": "string",
                                      "description": "Blockchain network."
                                    },
                                    "orderId": {
                                      "type": "string",
                                      "description": "Merchant order identifier."
                                    },
                                    "payAmount": {
                                      "type": "number",
                                      "description": "Amount paid by the payer when available."
                                    },
                                    "payCurrency": {
                                      "type": "string",
                                      "description": "Currency used by the payer when available."
                                    },
                                    "status": {
                                      "type": "string",
                                      "description": "Current payment status."
                                    },
                                    "trackId": {
                                      "type": "number",
                                      "description": "Payment track identifier."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Payment type."
                                    }
                                  }
                                },
                                "description": "Payments matching the current filters."
                              },
                              "meta": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Pagination metadata.",
                                "properties": {
                                  "lastPage": {
                                    "type": "number",
                                    "description": "Last page number."
                                  },
                                  "page": {
                                    "type": "number",
                                    "description": "Current page."
                                  },
                                  "total": {
                                    "type": "number",
                                    "description": "Total matching payments."
                                  }
                                }
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/list-prices": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.list-prices",
        "summary": "List Prices",
        "description": "Retrieves prices from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/list-prices"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Price map keyed by symbol."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/list-static-addresses": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.list-static-addresses",
        "summary": "List Static Addresses",
        "description": "Retrieves static addresses from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/list-static-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "number",
              "description": "Page number."
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "number",
              "description": "Page size."
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "required": false,
            "description": "Filter by static address track id.",
            "schema": {
              "type": "string",
              "description": "Filter by static address track id."
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "description": "Filter by merchant order id.",
            "schema": {
              "type": "string",
              "description": "Filter by merchant order id."
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter by customer email.",
            "schema": {
              "type": "string",
              "description": "Filter by customer email."
            }
          },
          {
            "name": "have_tx",
            "in": "query",
            "required": false,
            "description": "Filter static addresses with transactions.",
            "schema": {
              "type": "boolean",
              "description": "Filter static addresses with transactions."
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Filter by currency symbol.",
            "schema": {
              "type": "string",
              "description": "Filter by currency symbol."
            }
          },
          {
            "name": "network",
            "in": "query",
            "required": false,
            "description": "Filter by blockchain network.",
            "schema": {
              "type": "string",
              "description": "Filter by blockchain network."
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Filter by static address.",
            "schema": {
              "type": "string",
              "description": "Filter by static address."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Static-address list response.",
                            "properties": {
                              "list": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "Static deposit address."
                                    },
                                    "callbackUrl": {
                                      "type": "string",
                                      "description": "Webhook callback URL."
                                    },
                                    "date": {
                                      "type": "number",
                                      "description": "Creation timestamp."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Merchant description."
                                    },
                                    "email": {
                                      "type": "string",
                                      "description": "Customer email."
                                    },
                                    "memo": {
                                      "type": "string",
                                      "description": "Memo or destination tag when provided."
                                    },
                                    "network": {
                                      "type": "string",
                                      "description": "Blockchain network."
                                    },
                                    "orderId": {
                                      "type": "string",
                                      "description": "Merchant order identifier."
                                    },
                                    "trackId": {
                                      "type": "number",
                                      "description": "Static-address track identifier."
                                    }
                                  }
                                },
                                "description": "Static addresses matching the current filters."
                              },
                              "meta": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Pagination metadata.",
                                "properties": {
                                  "lastPage": {
                                    "type": "number",
                                    "description": "Last page number."
                                  },
                                  "page": {
                                    "type": "number",
                                    "description": "Current page."
                                  },
                                  "total": {
                                    "type": "number",
                                    "description": "Total matching static addresses."
                                  }
                                }
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/list-supported-currencies": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.list-supported-currencies",
        "summary": "List Supported Currencies",
        "description": "Retrieves supported currencies from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/list-supported-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Supported currency map keyed by symbol."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oxaPayCryptoPaymentGateway/latest/actions/list-supported-fiat-currencies": {
      "get": {
        "operationId": "oxaPayCryptoPaymentGateway.list-supported-fiat-currencies",
        "summary": "List Supported Fiat Currencies",
        "description": "Retrieves supported fiat currencies from OxaPay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oxaPayCryptoPaymentGateway/latest/actions/list-supported-fiat-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Supported fiat currency map keyed by symbol."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload when present."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message."
                          },
                          "status": {
                            "type": "number",
                            "description": "HTTP-style status code."
                          },
                          "version": {
                            "type": "string",
                            "description": "Provider API version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
[...]
