{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Hebcal Universal API",
    "version": "0.0.2",
    "description": "Public Jewish calendar and zmanim API for Hebrew date conversion, holiday calendars, Torah readings, Shabbat times, yahrzeit schedules, and halachic times."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/hebcal/latest/actions/check-assur-melacha-at-date-time": {
      "get": {
        "operationId": "hebcal.check-assur-melacha-at-date-time",
        "summary": "Check Assur Melacha at Date Time",
        "description": "Checks whether work is forbidden at a date and time in Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/check-assur-melacha-at-date-time"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt",
            "in": "query",
            "required": true,
            "description": "ISO 8601 date-time to check.",
            "schema": {
              "type": "string",
              "description": "ISO 8601 date-time to check."
            }
          },
          {
            "name": "geonameid",
            "in": "query",
            "required": false,
            "description": "GeoNames numeric ID for the location.",
            "schema": {
              "type": "string",
              "description": "GeoNames numeric ID for the location."
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "United States ZIP code for the location.",
            "schema": {
              "type": "string",
              "description": "United States ZIP code for the location."
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude for the location.",
            "schema": {
              "type": "string",
              "description": "Latitude for the location."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude for the location.",
            "schema": {
              "type": "string",
              "description": "Longitude for the location."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "admin1": {
                                "type": "string"
                              },
                              "asciiname": {
                                "type": "string"
                              },
                              "cc": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "geonameid": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "tzid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "isAssurBemlacha": {
                                "type": "boolean"
                              },
                              "localTime": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/check-assur-melacha-now": {
      "get": {
        "operationId": "hebcal.check-assur-melacha-now",
        "summary": "Check Assur Melacha Now",
        "description": "Checks whether work is forbidden now in Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/check-assur-melacha-now"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geonameid",
            "in": "query",
            "required": false,
            "description": "GeoNames numeric ID for the location.",
            "schema": {
              "type": "string",
              "description": "GeoNames numeric ID for the location."
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "United States ZIP code for the location.",
            "schema": {
              "type": "string",
              "description": "United States ZIP code for the location."
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude for the location.",
            "schema": {
              "type": "string",
              "description": "Latitude for the location."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude for the location.",
            "schema": {
              "type": "string",
              "description": "Longitude for the location."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "admin1": {
                                "type": "string"
                              },
                              "asciiname": {
                                "type": "string"
                              },
                              "cc": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "geonameid": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "tzid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "isAssurBemlacha": {
                                "type": "boolean"
                              },
                              "localTime": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-gregorian-date-from-hebrew-date": {
      "get": {
        "operationId": "hebcal.get-gregorian-date-from-hebrew-date",
        "summary": "Get Gregorian Date from Hebrew Date",
        "description": "Retrieves a Gregorian date from a Hebrew date in Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-gregorian-date-from-hebrew-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hy",
            "in": "query",
            "required": true,
            "description": "Hebrew year.",
            "schema": {
              "type": "string",
              "description": "Hebrew year."
            }
          },
          {
            "name": "hm",
            "in": "query",
            "required": true,
            "description": "Hebrew month name.",
            "schema": {
              "type": "string",
              "description": "Hebrew month name."
            }
          },
          {
            "name": "hd",
            "in": "query",
            "required": true,
            "description": "Hebrew day of month.",
            "schema": {
              "type": "string",
              "description": "Hebrew day of month."
            }
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "description": "Return an error for invalid dates when enabled.",
            "schema": {
              "type": "string",
              "description": "Return an error for invalid dates when enabled."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "afterSunset": {
                            "type": "boolean"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "gd": {
                            "type": "number"
                          },
                          "gm": {
                            "type": "number"
                          },
                          "gy": {
                            "type": "number"
                          },
                          "hd": {
                            "type": "number"
                          },
                          "hebrew": {
                            "type": "string"
                          },
                          "heDateParts": {
                            "type": "object",
                            "properties": {
                              "d": {
                                "type": "string"
                              },
                              "m": {
                                "type": "string"
                              },
                              "y": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hm": {
                            "type": "string"
                          },
                          "hy": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-gregorian-dates-for-hebrew-range": {
      "get": {
        "operationId": "hebcal.get-gregorian-dates-for-hebrew-range",
        "summary": "Get Gregorian Dates for Hebrew Range",
        "description": "Retrieves Gregorian dates for a Hebrew date range in Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-gregorian-dates-for-hebrew-range"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hy",
            "in": "query",
            "required": true,
            "description": "Hebrew year.",
            "schema": {
              "type": "string",
              "description": "Hebrew year."
            }
          },
          {
            "name": "hm",
            "in": "query",
            "required": true,
            "description": "Hebrew month name.",
            "schema": {
              "type": "string",
              "description": "Hebrew month name."
            }
          },
          {
            "name": "hd",
            "in": "query",
            "required": true,
            "description": "Hebrew day of month.",
            "schema": {
              "type": "string",
              "description": "Hebrew day of month."
            }
          },
          {
            "name": "ndays",
            "in": "query",
            "required": true,
            "description": "Number of days to calculate.",
            "schema": {
              "type": "string",
              "description": "Number of days to calculate."
            }
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "description": "Return an error for invalid dates when enabled.",
            "schema": {
              "type": "string",
              "description": "Return an error for invalid dates when enabled."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-hebrew-anniversaries": {
      "get": {
        "operationId": "hebcal.get-hebrew-anniversaries",
        "summary": "Get Hebrew Anniversaries",
        "description": "Retrieves Hebrew anniversaries from Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-hebrew-anniversaries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n1",
            "in": "query",
            "required": false,
            "description": "Optional name for the couple or person.",
            "schema": {
              "type": "string",
              "description": "Optional name for the couple or person."
            }
          },
          {
            "name": "y1",
            "in": "query",
            "required": true,
            "description": "Gregorian anniversary year.",
            "schema": {
              "type": "string",
              "description": "Gregorian anniversary year."
            }
          },
          {
            "name": "m1",
            "in": "query",
            "required": true,
            "description": "Gregorian anniversary month.",
            "schema": {
              "type": "string",
              "description": "Gregorian anniversary month."
            }
          },
          {
            "name": "d1",
            "in": "query",
            "required": true,
            "description": "Gregorian anniversary day.",
            "schema": {
              "type": "string",
              "description": "Gregorian anniversary day."
            }
          },
          {
            "name": "s1",
            "in": "query",
            "required": false,
            "description": "Set on if the event occurred after sunset.",
            "schema": {
              "type": "string",
              "description": "Set on if the event occurred after sunset."
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "description": "How many Hebrew years to calculate.",
            "schema": {
              "type": "string",
              "description": "How many Hebrew years to calculate."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Starting Hebrew year for calculations.",
            "schema": {
              "type": "string",
              "description": "Starting Hebrew year for calculations."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Ending Hebrew year for calculations.",
            "schema": {
              "type": "string",
              "description": "Ending Hebrew year for calculations."
            }
          },
          {
            "name": "hebdate",
            "in": "query",
            "required": false,
            "description": "Append Hebrew date to event titles.",
            "schema": {
              "type": "string",
              "description": "Append Hebrew date to event titles."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "anniversary": {
                                  "type": "number"
                                },
                                "category": {
                                  "type": "string"
                                },
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "hdate": {
                                  "type": "string"
                                },
                                "memo": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "range": {
                            "type": "object",
                            "properties": {
                              "end": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "start": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-hebrew-birthdays": {
      "get": {
        "operationId": "hebcal.get-hebrew-birthdays",
        "summary": "Get Hebrew Birthdays",
        "description": "Retrieves Hebrew birthdays from Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-hebrew-birthdays"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n1",
            "in": "query",
            "required": false,
            "description": "Optional name for the person.",
            "schema": {
              "type": "string",
              "description": "Optional name for the person."
            }
          },
          {
            "name": "y1",
            "in": "query",
            "required": true,
            "description": "Gregorian birth year.",
            "schema": {
              "type": "string",
              "description": "Gregorian birth year."
            }
          },
          {
            "name": "m1",
            "in": "query",
            "required": true,
            "description": "Gregorian birth month.",
            "schema": {
              "type": "string",
              "description": "Gregorian birth month."
            }
          },
          {
            "name": "d1",
            "in": "query",
            "required": true,
            "description": "Gregorian birth day.",
            "schema": {
              "type": "string",
              "description": "Gregorian birth day."
            }
          },
          {
            "name": "s1",
            "in": "query",
            "required": false,
            "description": "Set on if the birth occurred after sunset.",
            "schema": {
              "type": "string",
              "description": "Set on if the birth occurred after sunset."
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "description": "How many Hebrew years to calculate.",
            "schema": {
              "type": "string",
              "description": "How many Hebrew years to calculate."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Starting Hebrew year for calculations.",
            "schema": {
              "type": "string",
              "description": "Starting Hebrew year for calculations."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Ending Hebrew year for calculations.",
            "schema": {
              "type": "string",
              "description": "Ending Hebrew year for calculations."
            }
          },
          {
            "name": "hebdate",
            "in": "query",
            "required": false,
            "description": "Append Hebrew date to event titles.",
            "schema": {
              "type": "string",
              "description": "Append Hebrew date to event titles."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "anniversary": {
                                  "type": "number"
                                },
                                "category": {
                                  "type": "string"
                                },
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "hdate": {
                                  "type": "string"
                                },
                                "memo": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "range": {
                            "type": "object",
                            "properties": {
                              "end": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "start": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-hebrew-date-from-gregorian-date": {
      "get": {
        "operationId": "hebcal.get-hebrew-date-from-gregorian-date",
        "summary": "Get Hebrew Date from Gregorian Date",
        "description": "Retrieves a Hebrew date from a Gregorian date in Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-hebrew-date-from-gregorian-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Gregorian date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Gregorian date in YYYY-MM-DD format."
            }
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "description": "Return an error for invalid dates when enabled.",
            "schema": {
              "type": "string",
              "description": "Return an error for invalid dates when enabled."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "afterSunset": {
                            "type": "boolean"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "gd": {
                            "type": "number"
                          },
                          "gm": {
                            "type": "number"
                          },
                          "gy": {
                            "type": "number"
                          },
                          "hd": {
                            "type": "number"
                          },
                          "hebrew": {
                            "type": "string"
                          },
                          "heDateParts": {
                            "type": "object",
                            "properties": {
                              "d": {
                                "type": "string"
                              },
                              "m": {
                                "type": "string"
                              },
                              "y": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hm": {
                            "type": "string"
                          },
                          "hy": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-hebrew-date-from-gregorian-parts": {
      "get": {
        "operationId": "hebcal.get-hebrew-date-from-gregorian-parts",
        "summary": "Get Hebrew Date from Gregorian Parts",
        "description": "Retrieves a Hebrew date from Gregorian date parts in Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-hebrew-date-from-gregorian-parts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gy",
            "in": "query",
            "required": true,
            "description": "Gregorian year.",
            "schema": {
              "type": "string",
              "description": "Gregorian year."
            }
          },
          {
            "name": "gm",
            "in": "query",
            "required": true,
            "description": "Gregorian month number.",
            "schema": {
              "type": "string",
              "description": "Gregorian month number."
            }
          },
          {
            "name": "gd",
            "in": "query",
            "required": true,
            "description": "Gregorian day of month.",
            "schema": {
              "type": "string",
              "description": "Gregorian day of month."
            }
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "description": "Return an error for invalid dates when enabled.",
            "schema": {
              "type": "string",
              "description": "Return an error for invalid dates when enabled."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "afterSunset": {
                            "type": "boolean"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "gd": {
                            "type": "number"
                          },
                          "gm": {
                            "type": "number"
                          },
                          "gy": {
                            "type": "number"
                          },
                          "hd": {
                            "type": "number"
                          },
                          "hebrew": {
                            "type": "string"
                          },
                          "heDateParts": {
                            "type": "object",
                            "properties": {
                              "d": {
                                "type": "string"
                              },
                              "m": {
                                "type": "string"
                              },
                              "y": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hm": {
                            "type": "string"
                          },
                          "hy": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-hebrew-dates-for-gregorian-range": {
      "get": {
        "operationId": "hebcal.get-hebrew-dates-for-gregorian-range",
        "summary": "Get Hebrew Dates for Gregorian Range",
        "description": "Retrieves Hebrew dates for a Gregorian date range in Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-hebrew-dates-for-gregorian-range"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Gregorian start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Gregorian start date in YYYY-MM-DD format."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "Gregorian end date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Gregorian end date in YYYY-MM-DD format."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hdates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "events": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "hd": {
                                  "type": "number"
                                },
                                "hebrew": {
                                  "type": "string"
                                },
                                "heDateParts": {
                                  "type": "object",
                                  "properties": {
                                    "d": {
                                      "type": "string"
                                    },
                                    "m": {
                                      "type": "string"
                                    },
                                    "y": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hm": {
                                  "type": "string"
                                },
                                "hy": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-shabbat-times-for-date": {
      "get": {
        "operationId": "hebcal.get-shabbat-times-for-date",
        "summary": "Get Shabbat Times for Date",
        "description": "Retrieves Shabbat times for a date from Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-shabbat-times-for-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gy",
            "in": "query",
            "required": true,
            "description": "Gregorian year.",
            "schema": {
              "type": "string",
              "description": "Gregorian year."
            }
          },
          {
            "name": "gm",
            "in": "query",
            "required": true,
            "description": "Gregorian month number.",
            "schema": {
              "type": "string",
              "description": "Gregorian month number."
            }
          },
          {
            "name": "gd",
            "in": "query",
            "required": true,
            "description": "Gregorian day of month.",
            "schema": {
              "type": "string",
              "description": "Gregorian day of month."
            }
          },
          {
            "name": "lg",
            "in": "query",
            "required": false,
            "description": "Event title language.",
            "schema": {
              "type": "string",
              "description": "Event title language."
            }
          },
          {
            "name": "b",
            "in": "query",
            "required": false,
            "description": "Minutes before sunset for candle lighting.",
            "schema": {
              "type": "string",
              "description": "Minutes before sunset for candle lighting."
            }
          },
          {
            "name": "m",
            "in": "query",
            "required": false,
            "description": "Fixed minutes after sundown for havdalah.",
            "schema": {
              "type": "string",
              "description": "Fixed minutes after sundown for havdalah."
            }
          },
          {
            "name": "geonameid",
            "in": "query",
            "required": false,
            "description": "GeoNames numeric ID for the location.",
            "schema": {
              "type": "string",
              "description": "GeoNames numeric ID for the location."
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "United States ZIP code for the location.",
            "schema": {
              "type": "string",
              "description": "United States ZIP code for the location."
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude for the location.",
            "schema": {
              "type": "string",
              "description": "Latitude for the location."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude for the location.",
            "schema": {
              "type": "string",
              "description": "Longitude for the location."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "hdate": {
                                  "type": "string"
                                },
                                "hebrew": {
                                  "type": "string"
                                },
                                "link": {
                                  "type": "string"
                                },
                                "memo": {
                                  "type": "string"
                                },
                                "subcat": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "admin1": {
                                "type": "string"
                              },
                              "asciiname": {
                                "type": "string"
                              },
                              "cc": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "elevation": {
                                "type": "number"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "geonameid": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "tzid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "range": {
                            "type": "object",
                            "properties": {
                              "end": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "start": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hebcal/latest/actions/get-todays-zmanim": {
      "get": {
        "operationId": "hebcal.get-todays-zmanim",
        "summary": "Get Today's Zmanim",
        "description": "Retrieves today's zmanim from Hebcal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hebcal/latest/actions/get-todays-zmanim"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geonameid",
            "in": "query",
            "required": false,
            "description": "GeoNames numeric ID for the location.",
            "schema": {
              "type": "string",
              "description": "GeoNames numeric ID for the location."
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "United States ZIP code for the location.",
            "schema": {
              "type": "string",
              "description": "United States ZIP code for the location."
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude for the location.",
            "schema": {
              "type": "string",
              "description": "Latitude for the location."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude for the location.",
            "schema": {
              "type": "string",
              "description": "Longitude for the location."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "admin1": {
                                "type": "string"
                              },
                              "asciiname": {
                                "type": "string"
                              },
                              "cc": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "geo": {
                                "type": "string"
                              },
                              "geonameid": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "tzid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "times": {
                            "type": "object",
                            "properties": {
                              "alosBaalHatanya": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "alotHaShachar": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "beinHaShmashos": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "chatzot": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "chatzotNight": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dawn": {
                                "type": "string",
[...]
