{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Encodian Universal API",
    "version": "0.0.6",
    "description": "Create, convert, secure, split, merge, and extract data from PDF and Office documents with Encodian Flowr document automation."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/encodian/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/encodian/latest/actions/convert-excel": {
      "post": {
        "operationId": "encodian.convert-excel",
        "summary": "Convert Excel",
        "description": "Converts an Excel file in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFormat",
                  "filename",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFormat": {
                    "type": "string",
                    "example": "PDF",
                    "default": "PDF"
                  },
                  "filename": {
                    "type": "string",
                    "example": "hello.csv"
                  },
                  "fileContent": {
                    "type": "string",
                    "example": "Base64 encoded Excel or CSV file content"
                  },
                  "autoFit": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "worksheet": {
                    "type": "string",
                    "example": "Sheet1",
                    "x-mindcloud-advanced": true
                  },
                  "onePagePerSheet": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "allColumnsInOnePagePerSheetName": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "removeMarkup": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "exportHiddenSheets": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "csvDelimiter": {
                    "type": "string",
                    "example": ",",
                    "x-mindcloud-advanced": true
                  },
                  "cultureName": {
                    "type": "string",
                    "example": "en-US",
                    "x-mindcloud-advanced": true
                  },
                  "generateBookmarks": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "pdfACompliant": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "pdfAComplianceLevel": {
                    "type": "string",
                    "example": "1b",
                    "x-mindcloud-advanced": true
                  },
                  "compression": {
                    "type": "string",
                    "example": "LZW",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fileContent": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-file-to-pdf": {
      "post": {
        "operationId": "encodian.convert-file-to-pdf",
        "summary": "Convert File To PDF",
        "description": "Converts a file to PDF in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-file-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent",
                  "outputFilename",
                  "filename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "A Base64 encoded representation of the file to be converted.",
                    "example": "Base64 encoded file content"
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename to assign to the resulting PDF document.",
                    "example": "hello.pdf"
                  },
                  "filename": {
                    "type": "string",
                    "description": "The filename, including the file extension, of the file to be converted.",
                    "example": "hello.txt"
                  },
                  "removeMarkup": {
                    "type": "boolean",
                    "description": "Sets whether comments and tracked changes should be removed from the document upon conversion.",
                    "example": false,
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "pdfACompliant": {
                    "type": "boolean",
                    "description": "Sets whether the resulting document should conform to PDF/A format.",
                    "example": false,
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "pdfAComplianceLevel": {
                    "type": "string",
                    "description": "Sets the required level of PDF/A compliance.",
                    "example": "1b",
                    "x-mindcloud-advanced": true
                  },
                  "generateBookmarks": {
                    "type": "boolean",
                    "description": "Set whether bookmarks should be automatically created for Microsoft Word documents that are converted to PDF.",
                    "example": false,
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "cultureName": {
                    "type": "string",
                    "description": "Set the culture for the documents prior to conversion.",
                    "example": "en-US",
                    "x-mindcloud-advanced": true
                  },
                  "returnFile": {
                    "type": "boolean",
                    "description": "Sets whether the action should return a file or, alternatively, an operation ID.",
                    "example": true,
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fileContent": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-html-to-pdf-v2": {
      "post": {
        "operationId": "encodian.convert-html-to-pdf-v2",
        "summary": "Convert HTML To PDF V2",
        "description": "Converts HTML to PDF in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-html-to-pdf-v2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "htmlData": {
                    "type": "string",
                    "example": "<html><body><h1>Hello Encodian</h1></body></html>"
                  },
                  "htmlUrl": {
                    "type": "string",
                    "example": "https://example.com"
                  },
                  "filename": {
                    "type": "string",
                    "example": "sample.html"
                  },
                  "fileContent": {
                    "type": "string",
                    "example": "Base64 encoded HTML file content"
                  },
                  "pageOrientation": {
                    "type": "string",
                    "example": "Portrait"
                  },
                  "pageSize": {
                    "type": "string",
                    "example": "A4"
                  },
                  "createBookmarks": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "createTableOfContents": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "cssType": {
                    "type": "string",
                    "example": "Print",
                    "x-mindcloud-advanced": true
                  },
                  "decodeHtmlData": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "delay": {
                    "type": "number",
                    "example": 1000,
                    "x-mindcloud-advanced": true
                  },
                  "enableHyperlinks": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "enableJavaScript": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "topMargin": {
                    "type": "number",
                    "example": 0,
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "bottomMargin": {
                    "type": "number",
                    "example": 0,
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "rightMargin": {
                    "type": "number",
                    "example": 0,
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "leftMargin": {
                    "type": "number",
                    "example": 0,
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "pageRotation": {
                    "type": "string",
                    "example": "0",
                    "x-mindcloud-advanced": true
                  },
                  "scale": {
                    "type": "number",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "viewPort": {
                    "type": "string",
                    "example": "1280x720",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian, if any."
                          },
                          "fileContent": {
                            "type": "string",
                            "description": "The Base64 encoded generated PDF when available."
                          },
                          "filename": {
                            "type": "string",
                            "description": "The generated PDF file name when available."
                          },
                          "httpStatusCode": {
                            "type": "number",
                            "description": "The HTTP status code returned by Encodian."
                          },
                          "httpStatusMessage": {
                            "type": "string",
                            "description": "The HTTP status message returned by Encodian."
                          },
                          "operationId": {
                            "type": "string",
                            "description": "The Encodian operation ID for the queued conversion."
                          },
                          "operationStatus": {
                            "type": "string",
                            "description": "The Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-image-to-pdf": {
      "post": {
        "operationId": "encodian.convert-image-to-pdf",
        "summary": "Convert Image To PDF",
        "description": "Converts an image to PDF in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-image-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ocrType",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ocrType": {
                    "type": "string",
                    "default": "None"
                  },
                  "fileContent": {
                    "type": "string"
                  },
                  "ocrLanguage": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "returnFile": {
                    "type": "boolean",
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fileContent": {
                            "type": "string"
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-json-to-excel": {
      "post": {
        "operationId": "encodian.convert-json-to-excel",
        "summary": "Convert JSON To Excel",
        "description": "Converts JSON data to Excel in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-json-to-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFilename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename including extension of the output document.",
                    "example": "output.xlsx"
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Optional base64 encoded representation of the JSON file to process.",
                    "example": "base64-encoded-json-file"
                  },
                  "jsonData": {
                    "type": "string",
                    "description": "Optional JSON data string to process.",
                    "example": "[object Object]"
                  },
                  "firstRow": {
                    "type": "number",
                    "description": "The first row to be written to.",
                    "x-mindcloud-advanced": true
                  },
                  "firstColumn": {
                    "type": "number",
                    "description": "The first column to be written to.",
                    "x-mindcloud-advanced": true
                  },
                  "worksheetName": {
                    "type": "string",
                    "description": "The worksheet name that the JSON data is added to.",
                    "example": "Sheet1",
                    "x-mindcloud-advanced": true
                  },
                  "convertNumericAndDate": {
                    "type": "boolean",
                    "description": "Auto parse numeric and date values and set matching cell formats.",
                    "x-mindcloud-advanced": true
                  },
                  "dateFormat": {
                    "type": "string",
                    "description": "Custom date and time format string.",
                    "example": "yyyy-MM-dd",
                    "x-mindcloud-advanced": true
                  },
                  "numericFormat": {
                    "type": "string",
                    "description": "Numeric format string.",
                    "example": "0.00",
                    "x-mindcloud-advanced": true
                  },
                  "ignoreNullValues": {
                    "type": "boolean",
                    "description": "Ignore JSON properties that contain null values.",
                    "x-mindcloud-advanced": true
                  },
                  "titleFontColor": {
                    "type": "string",
                    "description": "The title font color.",
                    "example": "#1F4E79",
                    "x-mindcloud-advanced": true
                  },
                  "titleFontBold": {
                    "type": "boolean",
                    "description": "Set the title text to bold.",
                    "x-mindcloud-advanced": true
                  },
                  "titleWrapText": {
                    "type": "boolean",
                    "description": "Set whether title text wraps.",
                    "x-mindcloud-advanced": true
                  },
                  "ignoreAttributeTitles": {
                    "type": "boolean",
                    "description": "Ignore JSON attribute titles in the output workbook.",
                    "x-mindcloud-advanced": true
                  },
                  "cultureName": {
                    "type": "string",
                    "description": "Set the workbook culture before conversion.",
                    "example": "en-GB",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fileContent": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-pdf-to-excel": {
      "post": {
        "operationId": "encodian.convert-pdf-to-excel",
        "summary": "Convert PDF To Excel",
        "description": "Converts a PDF document to Excel in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-pdf-to-excel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "A Base64 encoded representation of the PDF file to be processed."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian, if any."
                          },
                          "fileContent": {
                            "type": "string",
                            "description": "The Base64 encoded converted file when available."
                          },
                          "filename": {
                            "type": "string",
                            "description": "The converted file name when available."
                          },
                          "httpStatusCode": {
                            "type": "number",
                            "description": "The HTTP status code returned by Encodian."
                          },
                          "httpStatusMessage": {
                            "type": "string",
                            "description": "The HTTP status message returned by Encodian."
                          },
                          "operationId": {
                            "type": "string",
                            "description": "The Encodian operation ID for the queued conversion."
                          },
                          "operationStatus": {
                            "type": "string",
                            "description": "The Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-pdf-to-images": {
      "post": {
        "operationId": "encodian.convert-pdf-to-images",
        "summary": "Convert PDF To Images",
        "description": "Converts a PDF document to images in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-pdf-to-images"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent",
                  "imageFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "A Base64 encoded representation of the PDF file to be processed."
                  },
                  "imageFormat": {
                    "type": "string",
                    "description": "Set the format for the output image files.",
                    "default": "PNG"
                  },
                  "filenamePrefix": {
                    "type": "string",
                    "description": "The prefix filename for the output image files."
                  },
                  "resolution": {
                    "type": "number",
                    "description": "Set the output image resolution.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The collection of images created from the PDF document."
                          },
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Any error messages returned by the operation."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "The HTTP status code for the response."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "The HTTP status message for the response."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "The unique ID assigned to this operation."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Indicates whether the operation completed, queued, or failed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-pdf-to-word": {
      "post": {
        "operationId": "encodian.convert-pdf-to-word",
        "summary": "Convert PDF To Word",
        "description": "Converts a PDF document to Word in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-pdf-to-word"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFilename",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The output Microsoft Word filename including the file extension."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "A Base64 encoded representation of the PDF file to be converted."
                  },
                  "conversionMode": {
                    "type": "string",
                    "description": "Select the conversion mode to use.",
                    "default": "Full"
                  },
                  "recognizeBullets": {
                    "type": "boolean",
                    "description": "Enable or disable the recognition of bullets.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Any error messages returned by the operation."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "The processed Microsoft Word document content in Base64."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "The filename of the Microsoft Word document."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "The HTTP status code for the response."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "The HTTP status message for the response."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "The unique ID assigned to this operation."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Indicates whether the operation completed, queued, or failed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-word": {
      "post": {
        "operationId": "encodian.convert-word",
        "summary": "Convert Word",
        "description": "Converts a Word document in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-word"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFormat",
                  "filename",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFormat": {
                    "type": "string",
                    "example": "PDF",
                    "default": "PDF"
                  },
                  "filename": {
                    "type": "string",
                    "example": "hello.docx"
                  },
                  "fileContent": {
                    "type": "string",
                    "example": "Base64 encoded Word file content"
                  },
                  "pageOrientation": {
                    "type": "string",
                    "example": "Portrait"
                  },
                  "pageSize": {
                    "type": "string",
                    "example": "A4"
                  },
                  "removeMarkup": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "showRevisionsInBalloons": {
                    "type": "string",
                    "example": "None",
                    "x-mindcloud-advanced": true
                  },
                  "trackedChangesInsertedTextColor": {
                    "type": "string",
                    "example": "Blue",
                    "x-mindcloud-advanced": true
                  },
                  "trackedChangesDeletedTextColor": {
                    "type": "string",
                    "example": "Red",
                    "x-mindcloud-advanced": true
                  },
                  "trackedChangesMovedToTextColor": {
                    "type": "string",
                    "example": "Green",
                    "x-mindcloud-advanced": true
                  },
                  "trackedChangesMovedFromTextColor": {
                    "type": "string",
                    "example": "Purple",
                    "x-mindcloud-advanced": true
                  },
                  "trackedChangesCommentsColor": {
                    "type": "string",
                    "example": "Yellow",
                    "x-mindcloud-advanced": true
                  },
                  "timeZone": {
                    "type": "string",
                    "example": "UTC",
                    "x-mindcloud-advanced": true
                  },
                  "cultureName": {
                    "type": "string",
                    "example": "en-US",
                    "x-mindcloud-advanced": true
                  },
                  "htmlVersion": {
                    "type": "string",
                    "example": "HTML5",
                    "x-mindcloud-advanced": true
                  },
                  "exportListLabels": {
                    "type": "string",
                    "example": "Auto",
                    "x-mindcloud-advanced": true
                  },
                  "generateBookmarks": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "customProperties": {
                    "type": "string",
                    "example": "None",
                    "x-mindcloud-advanced": true
                  },
                  "pdfACompliant": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "pdfAComplianceLevel": {
                    "type": "string",
                    "example": "1b",
                    "x-mindcloud-advanced": true
                  },
                  "convertToPdfForm": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "enableOpenType": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "pageIndex": {
                    "type": "number",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "compression": {
                    "type": "string",
                    "example": "LZW",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fileContent": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/convert-word-to-pdf-form": {
      "post": {
        "operationId": "encodian.convert-word-to-pdf-form",
        "summary": "Convert Word To PDF Form",
        "description": "Converts Word to a PDF form in Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/convert-word-to-pdf-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFilename",
                  "filename",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFilename": {
                    "type": "string",
                    "description": "The filename to assign to the resulting PDF document.",
                    "example": "form-output.pdf"
                  },
                  "filename": {
                    "type": "string",
                    "description": "The filename including extension of the file to be converted.",
                    "example": "template.docx"
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "The base64 encoded representation of the file to be converted."
                  },
                  "returnFile": {
                    "type": "boolean",
                    "description": "Set whether the action returns a file or an operation ID.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fileContent": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/email-extract-attachments": {
      "get": {
        "operationId": "encodian.email-extract-attachments",
        "summary": "Email Extract Attachments",
        "description": "Retrieves email attachments from Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/email-extract-attachments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "description": "The filename, including file extension, of the source email file.",
            "schema": {
              "type": "string",
              "description": "The filename, including file extension, of the source email file.",
              "example": "sample.eml"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "A Base64 encoded representation of the email file to be processed.",
            "schema": {
              "type": "string",
              "description": "A Base64 encoded representation of the email file to be processed.",
              "example": "Base64 encoded EML or MSG content"
            }
          },
          {
            "name": "getInlineAttachments",
            "in": "query",
            "required": false,
            "description": "Set whether to extract inline attachments.",
            "schema": {
              "type": "boolean",
              "description": "Set whether to extract inline attachments.",
              "example": false,
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fileContent": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodian/latest/actions/email-extract-metadata": {
      "get": {
        "operationId": "encodian.email-extract-metadata",
        "summary": "Email Extract Metadata",
        "description": "Retrieves email metadata from Encodian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodian/latest/actions/email-extract-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "A Base64 encoded representation of the email file to be processed.",
            "schema": {
              "type": "string",
              "description": "A Base64 encoded representation of the email file to be processed.",
              "example": "Base64 encoded EML or MSG content"
            }
          },
          {
            "name": "cultureName",
            "in": "query",
            "required": false,
            "description": "Set the culture for the document prior to conversion.",
            "schema": {
              "type": "string",
              "description": "Set the culture for the document prior to conversion.",
              "example": "en-US",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bcc": {
                            "type": "string"
                          },
                          "bccArray": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "bodyHtml": {
                            "type": "string"
                          },
                          "bodyText": {
                            "type": "string"
                          },
                          "cc": {
                            "type": "string"
                          },
                          "ccArray": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fileSize": {
                            "type": "string"
                          },
                          "from": {
[...]
