{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Grants.gov Universal API",
    "version": "0.0.5",
    "description": "Search public federal grant opportunities and retrieve opportunity details through the Grants.gov Applicant REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/grantsgov/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/grantsgov/latest/actions/fetch-opportunity": {
      "get": {
        "operationId": "grantsgov.fetch-opportunity",
        "summary": "Fetch Opportunity",
        "description": "Retrieves grant opportunity details from Grants.gov by opportunity ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/grantsgov/latest/actions/fetch-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opportunityId",
            "in": "query",
            "required": true,
            "description": "Numeric Grants.gov opportunity identifier returned by Search Opportunities.",
            "schema": {
              "type": "number",
              "description": "Numeric Grants.gov opportunity identifier returned by Search Opportunities."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agencyDetails": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Agency metadata for the opportunity."
                          },
                          "assistCompatible": {
                            "type": "boolean",
                            "description": "Whether the opportunity is ASSIST-compatible."
                          },
                          "assistURL": {
                            "type": "string",
                            "description": "ASSIST URL when available."
                          },
                          "cfdas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "CFDA / Assistance Listing entries."
                          },
                          "closedOpportunityPkgs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Closed application package metadata."
                          },
                          "docType": {
                            "type": "string",
                            "description": "Document type such as synopsis or forecast."
                          },
                          "draftMode": {
                            "type": "string",
                            "description": "Draft mode flag."
                          },
                          "errorMessages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Provider error messages, if any."
                          },
                          "flag2006": {
                            "type": "string",
                            "description": "Legacy Grants.gov flag value."
                          },
                          "id": {
                            "type": "number",
                            "description": "Grants.gov opportunity identifier."
                          },
                          "listed": {
                            "type": "string",
                            "description": "Listing flag."
                          },
                          "opportunityCategory": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Opportunity category metadata."
                          },
                          "opportunityNumber": {
                            "type": "string",
                            "description": "Funding Opportunity Number."
                          },
                          "opportunityPkgs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Application package metadata."
                          },
                          "opportunityTitle": {
                            "type": "string",
                            "description": "Opportunity title."
                          },
                          "originalDueDate": {
                            "type": "string",
                            "description": "Original application due date."
                          },
                          "originalDueDateDesc": {
                            "type": "string",
                            "description": "Original application due date description."
                          },
                          "ost": {
                            "type": "string",
                            "description": "Opportunity status token."
                          },
                          "owningAgencyCode": {
                            "type": "string",
                            "description": "Owning agency code."
                          },
                          "relatedOpps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related opportunities."
                          },
                          "revision": {
                            "type": "number",
                            "description": "Opportunity revision number."
                          },
                          "synopsis": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Detailed synopsis and funding metadata."
                          },
                          "synopsisAttachmentFolders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Attachment folder metadata and files."
                          },
                          "synopsisDocumentURLs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Supplemental synopsis document URLs."
                          },
                          "topAgencyDetails": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Top-level agency metadata."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/grantsgov/latest/actions/search-opportunities": {
      "get": {
        "operationId": "grantsgov.search-opportunities",
        "summary": "Search Opportunities",
        "description": "Finds grant opportunities in Grants.gov by public search filters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/grantsgov/latest/actions/search-opportunities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Keyword search over public grant opportunity titles and details.",
            "schema": {
              "type": "string",
              "description": "Keyword search over public grant opportunity titles and details."
            }
          },
          {
            "name": "oppNum",
            "in": "query",
            "required": false,
            "description": "Funding Opportunity Number to search for.",
            "schema": {
              "type": "string",
              "description": "Funding Opportunity Number to search for."
            }
          },
          {
            "name": "cfda",
            "in": "query",
            "required": false,
            "description": "CFDA or Assistance Listing Number. This key is runtime-verified even though the docs sample still shows aln.",
            "schema": {
              "type": "string",
              "description": "CFDA or Assistance Listing Number. This key is runtime-verified even though the docs sample still shows aln."
            }
          },
          {
            "name": "agencies",
            "in": "query",
            "required": false,
            "description": "Agency or sub-agency code filter such as HHS or HHS-NIH11.",
            "schema": {
              "type": "string",
              "description": "Agency or sub-agency code filter such as HHS or HHS-NIH11."
            }
          },
          {
            "name": "eligibilities",
            "in": "query",
            "required": false,
            "description": "Eligibility code filter such as 01 for county governments.",
            "schema": {
              "type": "string",
              "description": "Eligibility code filter such as 01 for county governments."
            }
          },
          {
            "name": "fundingCategories",
            "in": "query",
            "required": false,
            "description": "Funding activity category code such as HL for Health.",
            "schema": {
              "type": "string",
              "description": "Funding activity category code such as HL for Health."
            }
          },
          {
            "name": "oppStatuses",
            "in": "query",
            "required": false,
            "description": "One or more opportunity statuses to include.",
            "schema": {
              "type": "string",
              "description": "One or more opportunity statuses to include. Pass multiple values separated by `|`.",
              "enum": [
                "archived",
                "closed",
                "forecasted",
                "posted"
              ],
              "default": "forecasted|posted"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "description": "Maximum number of opportunities to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of opportunities to return.",
              "default": 10
            }
          },
          {
            "name": "fundingInstruments",
            "in": "query",
            "required": false,
            "description": "Funding instrument code such as G for Grant or CA for Cooperative Agreement.",
            "schema": {
              "type": "string",
              "description": "Funding instrument code such as G for Grant or CA for Cooperative Agreement."
            }
          },
          {
            "name": "startRecordNum",
            "in": "query",
            "required": false,
            "description": "Zero-based record offset for paged search results.",
            "schema": {
              "type": "number",
              "description": "Zero-based record offset for paged search results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agency": {
                            "type": "string",
                            "description": "Owning agency display name."
                          },
                          "agencyCode": {
                            "type": "string",
                            "description": "Owning agency or sub-agency code."
                          },
                          "cfdaList": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "CFDA / Assistance Listing numbers associated with the opportunity."
                          },
                          "closeDate": {
                            "type": "string",
                            "description": "Opportunity close date as returned by Grants.gov."
                          },
                          "docType": {
                            "type": "string",
                            "description": "Document type such as synopsis or forecast."
                          },
                          "id": {
                            "type": "string",
                            "description": "Grants.gov opportunity identifier returned in search results."
                          },
                          "number": {
                            "type": "string",
                            "description": "Funding Opportunity Number."
                          },
                          "openDate": {
                            "type": "string",
                            "description": "Opportunity open date as returned by Grants.gov."
                          },
                          "oppStatus": {
                            "type": "string",
                            "description": "Opportunity status."
                          },
                          "title": {
                            "type": "string",
                            "description": "Opportunity title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
