{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Books Universal API",
    "version": "0.0.9",
    "description": "Manage invoices, expenses, taxes, reconciliation, and financial reports"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoBooks/latest/actions/create-bill": {
      "post": {
        "operationId": "zohoBooks.create-bill",
        "summary": "Create Bill",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/create-bill"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "billNumber",
                  "organizationId",
                  "vendorId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "billNumber": {
                    "type": "string",
                    "description": "Bill number."
                  },
                  "date": {
                    "type": "string",
                    "description": "Bill date."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Bill due date."
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Line items of the bill."
                  },
                  "lineItems[].accountId": {
                    "type": "string",
                    "description": "Expense account for the bill line item."
                  },
                  "lineItems[].description": {
                    "type": "string",
                    "description": "Bill line item description."
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Bill line item quantity."
                  },
                  "lineItems[].rate": {
                    "type": "number",
                    "description": "Bill line item rate."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes for the bill."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Reference number."
                  },
                  "vendorId": {
                    "type": "string",
                    "description": "Vendor for the bill."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bill": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string"
                              },
                              "accountName": {
                                "type": "string"
                              },
                              "attachmentName": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "number"
                              },
                              "billId": {
                                "type": "string"
                              },
                              "billingAddress": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "billNumber": {
                                "type": "string"
                              },
                              "createdTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currencyCode": {
                                "type": "string"
                              },
                              "currencyId": {
                                "type": "string"
                              },
                              "currencySymbol": {
                                "type": "string"
                              },
                              "currentSubStatus": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dueDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "entityType": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "number"
                              },
                              "lastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lineItems": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "notes": {
                                "type": "string"
                              },
                              "paymentMade": {
                                "type": "number"
                              },
                              "pricePrecision": {
                                "type": "number"
                              },
                              "referenceNumber": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "subTotal": {
                                "type": "number"
                              },
                              "taxTotal": {
                                "type": "number"
                              },
                              "templateId": {
                                "type": "string"
                              },
                              "templateName": {
                                "type": "string"
                              },
                              "total": {
                                "type": "number"
                              },
                              "vendorCreditsApplied": {
                                "type": "number"
                              },
                              "vendorId": {
                                "type": "string"
                              },
                              "vendorName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoBooks/latest/actions/create-contact": {
      "post": {
        "operationId": "zohoBooks.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactName": {
                    "type": "string",
                    "description": "Display name for the contact."
                  },
                  "contactType": {
                    "type": "string",
                    "description": "Determines whether the contact is a customer or vendor.",
                    "enum": [
                      "customer",
                      "vendor"
                    ]
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Legal or registered company name for the contact."
                  },
                  "website": {
                    "type": "string",
                    "description": "Official website URL of the contact."
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "Preferred language for the contact.",
                    "enum": [
                      "de",
                      "en",
                      "en_gb",
                      "es",
                      "fr",
                      "it",
                      "ja",
                      "nl",
                      "pt",
                      "pt_br",
                      "sv",
                      "zh"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "customerSubType": {
                    "type": "string",
                    "description": "Additional classification for customer contacts.",
                    "enum": [
                      "business",
                      "individual"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "creditLimit": {
                    "type": "number",
                    "description": "Maximum credit amount allowed for the customer.",
                    "x-mindcloud-advanced": true
                  },
                  "contactNumber": {
                    "type": "string",
                    "description": "Internal contact number.",
                    "x-mindcloud-advanced": true
                  },
                  "paymentTerms": {
                    "type": "number",
                    "description": "Number of days allowed for payment.",
                    "x-mindcloud-advanced": true
                  },
                  "notes": {
                    "type": "string",
                    "description": "Additional notes about the contact."
                  },
                  "billingAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Billing address information for the contact."
                  },
                  "billingAddress.address": {
                    "type": "string",
                    "description": "Street address line 1 for the billing address."
                  },
                  "billingAddress.city": {
                    "type": "string",
                    "description": "City for the billing address."
                  },
                  "billingAddress.state": {
                    "type": "string",
                    "description": "State for the billing address."
                  },
                  "billingAddress.zip": {
                    "type": "string",
                    "description": "Postal code for the billing address."
                  },
                  "billingAddress.country": {
                    "type": "string",
                    "description": "Country for the billing address."
                  },
                  "contactPersons[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Contact people associated with the contact."
                  },
                  "contactPersons[].firstName": {
                    "type": "string",
                    "description": "First name of the contact person."
                  },
                  "contactPersons[].lastName": {
                    "type": "string",
                    "description": "Last name of the contact person."
                  },
                  "contactPersons[].email": {
                    "type": "string",
                    "description": "Email address of the contact person."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "achSupported": {
                            "type": "boolean"
                          },
                          "billingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "contactPersons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contactType": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "customerSubType": {
                            "type": "string"
                          },
                          "customFieldHash": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "email": {
                            "type": "string"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "number"
                          },
                          "paymentTermsLabel": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "salesChannel": {
                            "type": "string"
                          },
                          "shippingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoBooks/latest/actions/create-customer-payment": {
      "post": {
        "operationId": "zohoBooks.create-customer-payment",
        "summary": "Create Customer Payment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/create-customer-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "customerId",
                  "date",
                  "invoiceId",
                  "invoices[]",
                  "organizationId",
                  "paymentMode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount."
                  },
                  "amountApplied": {
                    "type": "number",
                    "description": "Top-level applied amount documented by Zoho for payment creation."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer involved in the payment."
                  },
                  "date": {
                    "type": "string",
                    "description": "Payment date."
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description."
                  },
                  "invoiceId": {
                    "type": "string",
                    "description": "Top-level invoice identifier documented by Zoho for payment creation."
                  },
                  "invoices[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Invoices associated with the payment."
                  },
                  "invoices[].amountApplied": {
                    "type": "number",
                    "description": "Amount applied to the invoice inside the invoices array."
                  },
                  "invoices[].invoiceId": {
                    "type": "string",
                    "description": "Invoice identifier inside the invoices array."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization."
                  },
                  "paymentMode": {
                    "type": "string",
                    "description": "Payment mode."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Reference number."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string"
                              },
                              "accountName": {
                                "type": "string"
                              },
                              "accountType": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "bankCharges": {
                                "type": "number"
                              },
                              "canSendInMail": {
                                "type": "boolean"
                              },
                              "canSendPaymentSms": {
                                "type": "boolean"
                              },
                              "createdBy": {
                                "type": "string"
                              },
                              "createdTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currencyCode": {
                                "type": "string"
                              },
                              "currencyId": {
                                "type": "string"
                              },
                              "currencySymbol": {
                                "type": "string"
                              },
                              "customerAdvanceAccountId": {
                                "type": "string"
                              },
                              "customerAdvanceAccountName": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "customerName": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "description": {
                                "type": "string"
                              },
                              "discountAmount": {
                                "type": "number"
                              },
                              "exchangeRate": {
                                "type": "number"
                              },
                              "invoices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "isPaymentDetailsRequired": {
                                "type": "boolean"
                              },
                              "lastFourDigits": {
                                "type": "string"
                              },
                              "lockDetails": {
                                "type": "object",
                                "properties": {
                                  "canLock": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "paymentGateway": {
                                "type": "string"
                              },
                              "paymentId": {
                                "type": "string"
                              },
                              "paymentLinkId": {
                                "type": "string"
                              },
                              "paymentMode": {
                                "type": "string"
                              },
                              "paymentNumber": {
                                "type": "string"
                              },
                              "paymentStatus": {
                                "type": "string"
                              },
                              "pricePrecision": {
                                "type": "number"
                              },
                              "referenceNumber": {
                                "type": "string"
                              },
                              "roundingMode": {
                                "type": "string"
                              },
                              "settlementStatus": {
                                "type": "string"
                              },
                              "taxAmountWithheld": {
                                "type": "number"
                              },
                              "templateId": {
                                "type": "string"
                              },
                              "templateName": {
                                "type": "string"
                              },
                              "unusedAmount": {
                                "type": "number"
                              },
                              "updatedTime": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoBooks/latest/actions/create-estimate": {
      "post": {
        "operationId": "zohoBooks.create-estimate",
        "summary": "Create Estimate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "customerId",
                  "lineItems[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string"
                  },
                  "send": {
                    "type": "boolean"
                  },
                  "ignoreAutoNumberGeneration": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "estimateNumber": {
                    "type": "string",
                    "example": "EST-STAGE3-20260311"
                  },
                  "referenceNumber": {
                    "type": "string",
                    "example": "REF-STAGE3-20260311"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-11"
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-31"
                  },
                  "discount": {
                    "type": "string",
                    "example": "10%",
                    "x-mindcloud-advanced": true
                  },
                  "isDiscountBeforeTax": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "discountType": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "isInclusiveTax": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "notes": {
                    "type": "string",
                    "example": "Prepared by Codex for Stage 3 validation.",
                    "x-mindcloud-advanced": true
                  },
                  "terms": {
                    "type": "string",
                    "example": "Valid for 30 days.",
                    "x-mindcloud-advanced": true
                  },
                  "shippingCharge": {
                    "type": "number",
                    "example": 5,
                    "x-mindcloud-advanced": true
                  },
                  "adjustment": {
                    "type": "number",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "adjustmentDescription": {
                    "type": "string",
                    "example": "Round-off",
                    "x-mindcloud-advanced": true
                  },
                  "locationId": {
                    "type": "string",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "projectId": {
                    "type": "string",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "acceptRetainer": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "retainerPercentage": {
                    "type": "number",
                    "example": 25,
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "lineItems[].itemId": {
                    "type": "string"
                  },
                  "lineItems[].name": {
                    "type": "string",
                    "example": "Codex Stage3 Item 20260311 Updated",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].description": {
                    "type": "string",
                    "example": "Updated during Zoho Books Stage 3 validation",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].rate": {
                    "type": "number",
                    "example": 150
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "example": 1
                  },
                  "lineItems[].discountAmount": {
                    "type": "number",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].discount": {
                    "type": "string",
                    "example": "0%",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].locationId": {
                    "type": "string",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adjustment": {
                            "type": "number",
                            "description": "Adjustment amount."
                          },
                          "createdTime": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "currencyCode": {
                            "type": "string",
                            "description": "Currency code."
                          },
                          "currencyId": {
                            "type": "string",
                            "description": "Currency identifier."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "Customer identifier."
                          },
                          "customerName": {
                            "type": "string",
                            "description": "Customer name."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Estimate date."
                          },
                          "discount": {
                            "type": "number",
                            "description": "Applied discount value."
                          },
                          "discountType": {
                            "type": "string",
                            "description": "Discount application mode."
                          },
                          "estimateId": {
                            "type": "string",
                            "description": "Unique identifier of the estimate."
                          },
                          "estimateNumber": {
                            "type": "string",
                            "description": "Estimate number."
                          },
                          "exchangeRate": {
                            "type": "number",
                            "description": "Exchange rate for the estimate."
                          },
                          "expiryDate": {
                            "type": "string",
                            "description": "Expiry date when present."
                          },
                          "isDiscountBeforeTax": {
                            "type": "boolean",
                            "description": "Whether discount is applied before tax."
                          },
                          "isInclusiveTax": {
                            "type": "boolean",
                            "description": "Whether taxes are inclusive."
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "description": "Last modification timestamp."
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Line items included in the estimate."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Customer-facing notes."
                          },
                          "referenceNumber": {
                            "type": "string",
                            "description": "External reference number."
                          },
                          "shippingCharge": {
                            "type": "number",
                            "description": "Shipping charge amount."
                          },
                          "status": {
                            "type": "string",
                            "description": "Estimate status."
                          },
                          "subTotal": {
                            "type": "number",
                            "description": "Subtotal amount."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags associated with the estimate."
                          },
                          "taxTotal": {
                            "type": "number",
                            "description": "Tax total amount."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template identifier."
                          },
                          "templateName": {
                            "type": "string",
                            "description": "Template name."
                          },
                          "terms": {
                            "type": "string",
                            "description": "Terms for the estimate."
                          },
                          "total": {
                            "type": "number",
                            "description": "Total amount."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoBooks/latest/actions/create-invoice": {
      "post": {
        "operationId": "zohoBooks.create-invoice",
        "summary": "Create Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "lineItems[]",
                  "lineItems[].itemId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "send": {
                    "type": "boolean",
                    "description": "Send the invoice to the associated contact persons after creation."
                  },
                  "ignoreAutoNumberGeneration": {
                    "type": "boolean",
                    "description": "Require a custom invoice number instead of auto-generation.",
                    "x-mindcloud-advanced": true
                  },
                  "isQuickCreate": {
                    "type": "boolean",
                    "description": "Enable quick create mode for simplified invoice creation.",
                    "x-mindcloud-advanced": true
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Unique identifier of the customer for whom the invoice is created."
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "Custom invoice number when auto-number generation is disabled."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice date in yyyy-mm-dd format."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice due date in yyyy-mm-dd format."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "External reference number for the invoice."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes printed on the invoice."
                  },
                  "terms": {
                    "type": "string",
                    "description": "Terms and conditions for the invoice."
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Line items to include on the invoice."
                  },
                  "lineItems[].itemId": {
                    "type": "string",
                    "description": "Unique identifier of the item to bill."
                  },
                  "lineItems[].name": {
                    "type": "string",
                    "description": "Display name for the line item."
                  },
                  "lineItems[].description": {
                    "type": "string",
                    "description": "Description for the line item."
                  },
                  "lineItems[].rate": {
                    "type": "number",
                    "description": "Unit rate for the line item."
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity for the line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number"
                          },
                          "billingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactPersons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "contactPersonsAssociated": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "currentSubStatus": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "invoiceId": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "invoiceUrl": {
                            "type": "string"
                          },
                          "isEmailed": {
                            "type": "boolean"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "number"
                          },
                          "paymentTermsLabel": {
                            "type": "string"
                          },
                          "referenceNumber": {
                            "type": "string"
                          },
                          "salesChannel": {
                            "type": "string"
                          },
                          "shippingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "taxTotal": {
                            "type": "number"
                          },
                          "templateId": {
                            "type": "string"
                          },
                          "templateName": {
                            "type": "string"
                          },
                          "templateType": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoBooks/latest/actions/create-item": {
      "post": {
        "operationId": "zohoBooks.create-item",
        "summary": "Create Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/create-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "name",
                  "rate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the item.",
                    "example": "Hard Drive"
                  },
                  "rate": {
                    "type": "number",
                    "description": "Price of the item.",
                    "example": 120
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the item.",
                    "example": "500GB external SSD"
                  },
                  "sku": {
                    "type": "string",
                    "description": "SKU value for the item.",
                    "example": "HD-500GB"
                  },
                  "productType": {
                    "type": "string",
                    "description": "Type of the item.",
                    "enum": [
                      "capital_goods",
                      "capital_service",
                      "digital_service",
                      "goods",
                      "service"
                    ]
                  },
                  "itemType": {
                    "type": "string",
                    "description": "Commercial type of the item.",
                    "enum": [
                      "inventory",
                      "purchases",
                      "sales",
                      "sales_and_purchases"
                    ]
                  },
                  "taxId": {
                    "type": "string",
                    "description": "Tax ID for the item.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Whether the item is taxable.",
                    "x-mindcloud-advanced": true
                  },
                  "taxExemptionId": {
                    "type": "string",
                    "description": "Tax exemption ID when the item is not taxable.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Revenue account ID for the item.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "vendorId": {
                    "type": "string",
                    "description": "Preferred vendor ID.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "reorderLevel": {
                    "type": "number",
                    "description": "Reorder level for the item.",
                    "example": 10,
                    "x-mindcloud-advanced": true
                  },
                  "purchaseDescription": {
                    "type": "string",
                    "description": "Purchase description for the item.",
                    "example": "Warehouse replenishment",
                    "x-mindcloud-advanced": true
                  },
                  "purchaseRate": {
                    "type": "number",
                    "description": "Purchase price of the item.",
                    "example": 80,
                    "x-mindcloud-advanced": true
                  },
                  "purchaseAccountId": {
                    "type": "string",
                    "description": "COGS account ID for purchase or inventory items.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "inventoryAccountId": {
                    "type": "string",
                    "description": "Inventory account ID for inventory items.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "locations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Per-location opening stock details.",
                    "x-mindcloud-advanced": true
                  },
                  "locations[].locationId": {
                    "type": "string",
                    "description": "Location ID.",
                    "example": "1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "locations[].initialStock": {
                    "type": "number",
                    "description": "Opening stock for the location.",
                    "example": 25,
                    "x-mindcloud-advanced": true
                  },
                  "locations[].initialStockRate": {
                    "type": "number",
                    "description": "Unit price of the opening stock.",
                    "example": 80,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string",
                            "description": "Associated sales account ID."
                          },
                          "accountName": {
                            "type": "string",
                            "description": "Associated sales account name."
                          },
                          "createdTime": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Item description."
                          },
                          "hasAttachment": {
                            "type": "boolean",
                            "description": "Whether the item has an attachment."
                          },
                          "isTaxable": {
                            "type": "boolean",
                            "description": "Whether the item is taxable."
                          },
                          "itemId": {
                            "type": "string",
                            "description": "Unique identifier of the item."
                          },
                          "itemType": {
                            "type": "string",
                            "description": "Type of the item."
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "description": "Last modification timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Item name."
                          },
                          "productTaxCategory": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Product tax category details."
                          },
                          "productType": {
                            "type": "string",
                            "description": "Product classification of the item."
                          },
                          "purchaseRate": {
                            "type": "number",
                            "description": "Purchase rate of the item."
                          },
                          "rate": {
                            "type": "number",
                            "description": "Sales rate of the item."
                          },
                          "sku": {
                            "type": "string",
                            "description": "Stock keeping unit."
                          },
                          "status": {
                            "type": "string",
                            "description": "Item status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags associated with the item."
                          },
                          "unit": {
                            "type": "string",
                            "description": "Measurement unit for the item."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoBooks/latest/actions/get-bill": {
      "get": {
        "operationId": "zohoBooks.get-bill",
        "summary": "Get Bill",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/get-bill"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bill_id",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the bill.",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the bill."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization.",
            "schema": {
              "type": "string",
              "description": "ID of the organization."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bill": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string"
                              },
                              "accountName": {
                                "type": "string"
                              },
                              "attachmentName": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "number"
                              },
                              "billId": {
                                "type": "string"
                              },
                              "billingAddress": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "billNumber": {
                                "type": "string"
                              },
                              "createdTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currencyCode": {
                                "type": "string"
                              },
                              "currencyId": {
                                "type": "string"
                              },
                              "currencySymbol": {
                                "type": "string"
                              },
                              "currentSubStatus": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dueDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "entityType": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "number"
                              },
                              "lastModifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lineItems": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "notes": {
                                "type": "string"
                              },
                              "paymentMade": {
                                "type": "number"
                              },
                              "pricePrecision": {
                                "type": "number"
                              },
                              "referenceNumber": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "subTotal": {
                                "type": "number"
                              },
                              "taxTotal": {
                                "type": "number"
                              },
                              "templateId": {
                                "type": "string"
                              },
                              "templateName": {
                                "type": "string"
                              },
                              "total": {
                                "type": "number"
                              },
                              "vendorCreditsApplied": {
                                "type": "number"
                              },
                              "vendorId": {
                                "type": "string"
                              },
                              "vendorName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoBooks/latest/actions/get-contact": {
      "get": {
        "operationId": "zohoBooks.get-contact",
        "summary": "Get Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoBooks/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the contact.",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the contact."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "achSupported": {
                            "type": "boolean"
                          },
                          "billingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "contactPersons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contactType": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
[...]
