{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Edusign Universal API",
    "version": "0.0.3",
    "description": "Manage attendance, documents, surveys, and training operations"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/edusign/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/edusign/latest/actions/add-students-or-professors-to-training": {
      "post": {
        "operationId": "edusign.add-students-or-professors-to-training",
        "summary": "Add Students Or Professors To Training",
        "description": "Adds students or professors to a training in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/add-students-or-professors-to-training"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "trainingId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "trainingId": {
                    "type": "string",
                    "description": "The unique ID of the training"
                  },
                  "studentsIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "professorsIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "options.pastSheets": {
                    "type": "boolean",
                    "description": "If you want to add the students to past attendance sheets",
                    "x-mindcloud-advanced": true
                  },
                  "options.pastDocuments": {
                    "type": "boolean",
                    "description": "If you want to add the students to past documents",
                    "x-mindcloud-advanced": true
                  },
                  "options.pastSurveys": {
                    "type": "boolean",
                    "description": "If you want to add the students to past surveys",
                    "x-mindcloud-advanced": true
                  },
                  "options.futureSheets": {
                    "type": "boolean",
                    "description": "If you want to add the students to future attendance sheets",
                    "x-mindcloud-advanced": true
                  },
                  "options.futureDocuments": {
                    "type": "boolean",
                    "description": "If you want to add the students to future documents",
                    "x-mindcloud-advanced": true
                  },
                  "options.futureSurveys": {
                    "type": "boolean",
                    "description": "If you want to add the students to future surveys",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/archive-professor": {
      "delete": {
        "operationId": "edusign.archive-professor",
        "summary": "Archive Professor",
        "description": "Archives an existing professor in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/archive-professor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "professorId",
            "in": "query",
            "required": true,
            "description": "Professor ID",
            "schema": {
              "type": "string",
              "description": "Professor ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/archive-student": {
      "delete": {
        "operationId": "edusign.archive-student",
        "summary": "Archive Student",
        "description": "Archives an existing student in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/archive-student"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "studentId",
            "in": "query",
            "required": true,
            "description": "Student ID",
            "schema": {
              "type": "string",
              "description": "Student ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/archive-training": {
      "delete": {
        "operationId": "edusign.archive-training",
        "summary": "Archive Training",
        "description": "Archives an existing training in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/archive-training"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trainingId",
            "in": "query",
            "required": true,
            "description": "Training ID",
            "schema": {
              "type": "string",
              "description": "Training ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/create-course": {
      "post": {
        "operationId": "edusign.create-course",
        "summary": "Create Course",
        "description": "Creates a new course in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/create-course"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "course",
                  "course.name",
                  "course.start",
                  "course.end",
                  "course.professor",
                  "course.needStudentsSignature"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "course": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "course.name": {
                    "type": "string",
                    "description": "Name of the course"
                  },
                  "course.description": {
                    "type": "string",
                    "description": "Description of the course"
                  },
                  "course.start": {
                    "type": "string",
                    "description": "Start date of the course (ISO 8601 datetime)"
                  },
                  "course.end": {
                    "type": "string",
                    "description": "End date of the course (ISO 8601 datetime)"
                  },
                  "course.professor": {
                    "type": "string",
                    "description": "Professor ID"
                  },
                  "course.professor2": {
                    "type": "string",
                    "description": "Professor 2 ID"
                  },
                  "course.professor3": {
                    "type": "string",
                    "description": "Professor 3 ID"
                  },
                  "course.classroom": {
                    "type": "string",
                    "description": "Classroom"
                  },
                  "course.schoolGroup[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "course.maxStudents": {
                    "type": "number",
                    "description": "Maximum number of students"
                  },
                  "course.zoom": {
                    "type": "boolean",
                    "description": "Zoom course"
                  },
                  "course.apiId": {
                    "type": "string",
                    "description": "API ID"
                  },
                  "course.surveyId": {
                    "type": "string",
                    "description": "Survey Template ID"
                  },
                  "course.surveyId2": {
                    "type": "string",
                    "description": "Survey Template ID 2. <br/> It's possible to send several surveys to students"
                  },
                  "course.survey1AutomaticSendDate": {
                    "type": "string",
                    "description": "Survey 1 automatic send date (ISO 8601 datetime)"
                  },
                  "course.survey2AutomaticSendDate": {
                    "type": "string",
                    "description": "Survey 2 automatic send date (ISO 8601 datetime)"
                  },
                  "course.teacherSurvey": {
                    "type": "string",
                    "description": "Teacher survey ID"
                  },
                  "course.trainingId": {
                    "type": "string",
                    "description": "Training ID"
                  },
                  "course.needStudentsSignature": {
                    "type": "boolean",
                    "description": "Need students signature"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/create-document-using-base64": {
      "post": {
        "operationId": "edusign.create-document-using-base64",
        "summary": "Create Document Using Base64",
        "description": "Creates a new document in Edusign from Base64.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/create-document-using-base64"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "sendDocumentToSignByEmail",
                  "sendDocumentByEmailWhenCompleted",
                  "signatureValidationMethod",
                  "signWithOrder",
                  "sendCustomDocumentEmail.subject",
                  "sendCustomDocumentEmail.body",
                  "sendCustomSignatureReminderEmail.subject",
                  "sendCustomSignatureReminderEmail.body",
                  "sendCustomSignatureReminderEmail.amount",
                  "sendCustomSignatureReminderEmail.interval",
                  "sendCustomEmailWhenDocumentCompleted.subject",
                  "sendCustomEmailWhenDocumentCompleted.body",
                  "adminId",
                  "recipients[]",
                  "inputs[]",
                  "document",
                  "document.name",
                  "document.base64",
                  "attachedDocuments[].name",
                  "attachedDocuments[].url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "directoryId": {
                    "type": "string",
                    "description": "Sélectionnez le dossier existant dans lequel vous souhaitez enregistrer les documents que vous créez"
                  },
                  "trainingId": {
                    "type": "string",
                    "description": "This field is used to select the existing training in which you want to link the documents you are creating"
                  },
                  "sendDocumentToSignByEmail": {
                    "type": "string",
                    "description": "This field is used to choose if the document should be sent by email to all recipients to allow them to sign it. Default: true"
                  },
                  "sendDocumentByEmailWhenCompleted": {
                    "type": "string",
                    "description": "This field is used to choose if the document should be sent by email to all recipients once it is fully signed. Default: true"
                  },
                  "redirectionLinkOnceSigned": {
                    "type": "string",
                    "description": "Redirigez l'utilisateur vers une URL spécifique une fois qu'il a signé"
                  },
                  "signatureValidationMethod": {
                    "type": "string",
                    "description": "Allowed values: \"email\", \"sms\", \"none\" (none make the signature validation optional). Default: \"email\""
                  },
                  "signWithOrder": {
                    "type": "boolean",
                    "description": "This field allows to send the document to the recipients one after the other only when the previous recipient has signed"
                  },
                  "expirationDate": {
                    "type": "string",
                    "description": "This field allows you to define a date from which it will no longer be possible to sign the document"
                  },
                  "attachedDocuments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "sendCustomDocumentEmail": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "sendCustomDocumentEmail.subject": {
                    "type": "string",
                    "description": "The subject of the email"
                  },
                  "sendCustomDocumentEmail.body": {
                    "type": "string",
                    "description": "The body of the email"
                  },
                  "sendCustomSignatureReminderEmail": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "sendCustomSignatureReminderEmail.subject": {
                    "type": "string",
                    "description": "The subject of the email"
                  },
                  "sendCustomSignatureReminderEmail.body": {
                    "type": "string",
                    "description": "The body of the email"
                  },
                  "sendCustomSignatureReminderEmail.amount": {
                    "type": "number",
                    "description": "The number of reminder emails you want to send"
                  },
                  "sendCustomSignatureReminderEmail.interval": {
                    "type": "number",
                    "description": "The interval in hours between each reminder email (in hours)"
                  },
                  "sendCustomEmailWhenDocumentCompleted": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "sendCustomEmailWhenDocumentCompleted.subject": {
                    "type": "string",
                    "description": "The subject of the email"
                  },
                  "sendCustomEmailWhenDocumentCompleted.body": {
                    "type": "string",
                    "description": "The body of the email"
                  },
                  "adminId": {
                    "type": "string",
                    "description": "The ID of the admin who sends the document"
                  },
                  "recipients[]": {
                    "type": "array",
                    "items": {},
                    "description": "An array containing arrays of recipients for each document to be sent <br> Each array of recipients represents a document that will be sent. All recipient arrays must be identical (same number of recipients in the same order), only the IDs must be different from one array to another\n<strong style=\"color:gold\">WARNING</strong> : All recipient arrays must be identical (same number of recipients in the same order), only the IDs must be different from one array to another"
                  },
                  "inputs[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "document": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The document you want to send"
                  },
                  "document.name": {
                    "type": "string",
                    "description": "The name of the document"
                  },
                  "document.base64": {
                    "type": "string",
                    "description": "The base64 string of the document"
                  },
                  "useNativeCoordinates": {
                    "type": "boolean",
                    "description": "This field allows you to use native coordinates for the document? If true, the coordinates will be used as is, if false, the coordinates will be scaled to the document size"
                  },
                  "attachedDocuments[].name": {
                    "type": "string",
                    "description": "Nom du document joint"
                  },
                  "attachedDocuments[].url": {
                    "type": "string",
                    "description": "URL du document joint"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "directoryId": {
                                "type": "string"
                              },
                              "documents": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "signatureLinks": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "signatoryEmail": {
                                            "type": "string"
                                          },
                                          "signatoryId": {
                                            "type": "string"
                                          },
                                          "signatureLink": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "documentsSuccess": {
                                "type": "number"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/create-event": {
      "post": {
        "operationId": "edusign.create-event",
        "summary": "Create Event",
        "description": "Creates a new event in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "start",
                  "end",
                  "apiId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "apiIdMode": {
                    "type": "string",
                    "description": "Switch between internal IDs and external API IDs for students/professors\n<br><strong style=\"color:gold\">Important:</strong> When enabled, use external API IDs in the students and professors arrays instead of internal Edusign IDs."
                  },
                  "name": {
                    "type": "string",
                    "description": "Event title (required)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the event (optional)"
                  },
                  "start": {
                    "type": "string",
                    "description": "Event start date and time (required, format: ISO 8601, e.g., \"2020-01-20T15:00:00.000Z\")"
                  },
                  "end": {
                    "type": "string",
                    "description": "Event end date and time (required, format: ISO 8601, e.g., \"2020-01-20T18:00:00.000Z\")"
                  },
                  "professors[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "students[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "classroom": {
                    "type": "string",
                    "description": "Classroom or location name (will be automatically created if it doesn't exist)"
                  },
                  "apiId": {
                    "type": "string",
                    "description": "External API identifier for this event (required for tracking and updates)"
                  },
                  "apiType": {
                    "type": "string",
                    "description": "Source system or category for the external API (e.g., \"calendar_system\")"
                  },
                  "color": {
                    "type": "string",
                    "description": "Display color for the event in hex format (e.g., \"#4c00ff\")"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/create-professor": {
      "post": {
        "operationId": "edusign.create-professor",
        "summary": "Create Professor",
        "description": "Creates a new professor in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/create-professor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "professor",
                  "professor.firstname",
                  "professor.lastname",
                  "professor.email",
                  "dontSendCredentials"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "professor": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "professor.firstname": {
                    "type": "string",
                    "description": "Firstname of the professor"
                  },
                  "professor.lastname": {
                    "type": "string",
                    "description": "Lastname of the professor"
                  },
                  "professor.email": {
                    "type": "string",
                    "description": "Email of the professor"
                  },
                  "professor.speciality": {
                    "type": "string",
                    "description": "Speciality of the professor"
                  },
                  "professor.apiId": {
                    "type": "string",
                    "description": "API ID of the professor"
                  },
                  "professor.apiType": {
                    "type": "string",
                    "description": "API type of the professor"
                  },
                  "professor.tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "professor.phone": {
                    "type": "string",
                    "description": "Phone of the professor"
                  },
                  "professor.variables[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "x-mindcloud-advanced": true
                  },
                  "dontSendCredentials": {
                    "type": "boolean",
                    "description": "If true, the credentials won't be sent to the professor"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/create-student": {
      "post": {
        "operationId": "edusign.create-student",
        "summary": "Create Student",
        "description": "Creates a new student in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/create-student"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "student",
                  "student.firstname",
                  "student.lastname",
                  "student.email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "student": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "student.firstname": {
                    "type": "string",
                    "description": "Student's first name"
                  },
                  "student.lastname": {
                    "type": "string",
                    "description": "Student's last name"
                  },
                  "student.email": {
                    "type": "string",
                    "description": "Student's email"
                  },
                  "student.fileNumber": {
                    "type": "string"
                  },
                  "student.photo": {
                    "type": "string",
                    "description": "Student's photo"
                  },
                  "student.phone": {
                    "type": "string",
                    "description": "Student's phone"
                  },
                  "student.groups[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "student.trainingName": {
                    "type": "string",
                    "description": "Student training's name"
                  },
                  "student.company": {
                    "type": "string",
                    "description": "Student's company"
                  },
                  "student.tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "student.sendEmailCredentials": {
                    "type": "boolean",
                    "description": "boolean to know if the API sends the credentials to the mail of the student"
                  },
                  "student.apiId": {
                    "type": "string",
                    "description": "Student's External Id"
                  },
                  "student.apiType": {
                    "type": "string",
                    "description": "name of the connector the student if part of (if he is)"
                  },
                  "student.badgeId": {
                    "type": "string"
                  },
                  "student.studentFollowerId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "student.isicId": {
                    "type": "string",
                    "description": "Student's ISIC ID"
                  },
                  "student.studentCard": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "student.studentCard.birthDate": {
                    "type": "string",
                    "description": "Student's birth date"
                  },
                  "student.studentCard.diploma": {
                    "type": "string",
                    "description": "Student's diploma"
                  },
                  "student.studentCard.studentNationalId": {
                    "type": "string",
                    "description": "Student's national ID"
                  },
                  "student.studentCard.cardExpirationDate": {
                    "type": "string",
                    "description": "Student's card expiration date"
                  },
                  "student.studentCard.schoolYear": {
                    "type": "string",
                    "description": "Student's school year"
                  },
                  "student.newPasswordNeeded": {
                    "type": "boolean",
                    "description": "Ask the student to change the password on first login (default: true)"
                  },
                  "student.hidden": {
                    "type": "number",
                    "description": "Student's hidden status"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/create-survey": {
      "post": {
        "operationId": "edusign.create-survey",
        "summary": "Create Survey",
        "description": "Creates a new survey in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/create-survey"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "survey",
                  "students[]",
                  "professors[]",
                  "externals[]",
                  "sendingDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "survey": {
                    "type": "string",
                    "description": "Template ID of the survey"
                  },
                  "students[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "professors[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "externals[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sendingDate": {
                    "type": "string",
                    "description": "Sending date"
                  },
                  "trainingId": {
                    "type": "string",
                    "description": "Training ID"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/create-training": {
      "post": {
        "operationId": "edusign.create-training",
        "summary": "Create Training",
        "description": "Creates a new training in Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/create-training"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "start",
                  "end"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Training name"
                  },
                  "start": {
                    "type": "string",
                    "description": "Start date of the training"
                  },
                  "end": {
                    "type": "string",
                    "description": "End date of the training (format YYYY-MM-DD HH:mm:ss, ISO 8601)"
                  },
                  "goals": {
                    "type": "string",
                    "description": "Training goals"
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "students[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "apiId": {
                    "type": "string",
                    "description": "The ID of your API resource representing the training"
                  },
                  "apiType": {
                    "type": "string",
                    "description": "The name of your API from where you created the training"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/delete-course": {
      "delete": {
        "operationId": "edusign.delete-course",
        "summary": "Delete Course",
        "description": "Deletes an existing course from Edusign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/delete-course"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Course ID",
            "schema": {
              "type": "string",
              "description": "Course ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/edusign/latest/actions/get-course-by-id": {
      "get": {
        "operationId": "edusign.get-course-by-id",
        "summary": "Get Course By ID",
        "description": "Retrieves a course from Edusign by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/edusign/latest/actions/get-course-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Course id",
            "schema": {
              "type": "string",
              "description": "Course id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "absenceSent": {
                                "type": "number"
                              },
                              "adminAnnotation": {
                                "type": "string"
                              },
                              "annotation": {
[...]
