{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "VatcheckAPI Universal API",
    "version": "0.0.2",
    "description": "VAT number validation and lookup API for checking VAT number format, checksum, registration details, and account quota status."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/vatcheckAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/vatcheckAPI/latest/actions/check-status": {
      "get": {
        "operationId": "vatcheckAPI.check-status",
        "summary": "Check Status",
        "description": "Retrieves the current quota status from VatcheckAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vatcheckAPI/latest/actions/check-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "number",
                            "description": "VatcheckAPI account identifier for the current API key."
                          },
                          "quotas": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Quota information grouped by period.",
                            "properties": {
                              "grace": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Grace quota information.",
                                "properties": {
                                  "remaining": {
                                    "type": "number",
                                    "description": "Remaining grace quota calls."
                                  },
                                  "total": {
                                    "type": "number",
                                    "description": "Total grace quota calls."
                                  },
                                  "used": {
                                    "type": "number",
                                    "description": "Used grace quota calls."
                                  }
                                }
                              },
                              "month": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Monthly quota information.",
                                "properties": {
                                  "remaining": {
                                    "type": "number",
                                    "description": "Remaining calls in the month."
                                  },
                                  "total": {
                                    "type": "number",
                                    "description": "Total available calls in the month."
                                  },
                                  "used": {
                                    "type": "number",
                                    "description": "Used calls in the month."
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vatcheckAPI/latest/actions/validate-vat-number": {
      "get": {
        "operationId": "vatcheckAPI.validate-vat-number",
        "summary": "Validate VAT Number",
        "description": "Validates a VAT number in VatcheckAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vatcheckAPI/latest/actions/validate-vat-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vat_number",
            "in": "query",
            "required": true,
            "description": "VAT number to query. It can include the country prefix, or be provided with Country Code.",
            "schema": {
              "type": "string",
              "description": "VAT number to query. It can include the country prefix, or be provided with Country Code.",
              "example": "LU26375245"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "description": "ISO Alpha-2 country code for the VAT number, for example LU. Required only when the VAT number does not include its country prefix.",
            "schema": {
              "type": "string",
              "description": "ISO Alpha-2 country code for the VAT number, for example LU. Required only when the VAT number does not include its country prefix.",
              "example": "LU",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checksum_valid": {
                            "type": "boolean",
                            "description": "Whether the VAT number checksum is valid."
                          },
                          "country_code": {
                            "type": "string",
                            "description": "ISO Alpha-2 country code for the VAT number."
                          },
                          "format_valid": {
                            "type": "boolean",
                            "description": "Whether the VAT number format is valid."
                          },
                          "registration_info": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Current registration details returned when available.",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Registered company address."
                              },
                              "address_parts": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Structured address parts, when available."
                              },
                              "checked_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the current registration data was checked."
                              },
                              "is_registered": {
                                "type": "boolean",
                                "description": "Whether the VAT number is currently registered."
                              },
                              "name": {
                                "type": "string",
                                "description": "Registered company name."
                              }
                            }
                          },
                          "registration_info_history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "description": "Registered company address for this history entry."
                                },
                                "checked_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Timestamp when this historical registration state was checked."
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Timestamp when this historical entry was created."
                                },
                                "is_registered": {
                                  "type": "boolean",
                                  "description": "Whether the VAT number was registered for this history entry."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Registered company name for this history entry."
                                }
                              }
                            },
                            "description": "Historical registration information entries."
                          },
                          "vat_number": {
                            "type": "string",
                            "description": "VAT number returned by the validation endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
