{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Documentum Universal API",
    "version": "0.0.2",
    "description": "Manage enterprise content, repositories, documents, folders, workflows, permissions, lifecycle operations, and compliant content processes in OpenText Documentum Content Management."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/documentum/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/documentum/latest/actions/apply-lifecycle-state": {
      "put": {
        "operationId": "documentum.apply-lifecycle-state",
        "summary": "Apply Lifecycle State",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/apply-lifecycle-state"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "repositoryName",
                  "properties"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "repositoryName": {
                    "type": "string",
                    "description": "Documentum repository name.",
                    "example": "d2repo"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Lifecycle transition JSON payload, including object IDs, target state, signoff inputs, and optional properties bag as needed."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Transitioned object identifier."
                                },
                                "message": {
                                  "type": "string",
                                  "description": "Transitioned object message."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Transitioned object status."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Lifecycle response identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "Lifecycle transition message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Lifecycle transition status."
                          },
                          "title": {
                            "type": "string",
                            "description": "Lifecycle response title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/apply-template-to-object": {
      "put": {
        "operationId": "documentum.apply-template-to-object",
        "summary": "Apply Template To Object",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/apply-template-to-object"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "repositoryName",
                  "objectId",
                  "properties"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "repositoryName": {
                    "type": "string",
                    "description": "Documentum repository name.",
                    "example": "d2repo"
                  },
                  "objectId": {
                    "type": "string",
                    "description": "Documentum object ID to update with a template.",
                    "example": "090000018000abcd"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON properties payload, for example template_name and folder_id."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Document identifier."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Document link URL."
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Document link relation."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "objectId": {
                                "type": "string",
                                "description": "Document object identifier."
                              },
                              "objectName": {
                                "type": "string",
                                "description": "Document object name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string",
                            "description": "Document title."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/check-in-object-version": {
      "put": {
        "operationId": "documentum.check-in-object-version",
        "summary": "Check In Object Version",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/check-in-object-version"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "repositoryName",
                  "chronicleId",
                  "objectId",
                  "versionPolicy"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "repositoryName": {
                    "type": "string",
                    "description": "Documentum repository name.",
                    "example": "d2repo"
                  },
                  "chronicleId": {
                    "type": "string",
                    "description": "Chronicle ID of the object being checked in.",
                    "example": "090000018000ffff"
                  },
                  "objectId": {
                    "type": "string",
                    "description": "Current object ID being checked in.",
                    "example": "090000018000abcd"
                  },
                  "versionPolicy": {
                    "type": "string",
                    "description": "Versioning policy: next-major, next-minor, branch-version, or same-version.",
                    "example": "next-minor"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional JSON properties payload for the check-in.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Versioned object identifier."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Object link URL."
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Object link relation."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "objectName": {
                                "type": "string",
                                "description": "Object name."
                              },
                              "versionLabel": {
                                "type": "string",
                                "description": "Version label."
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string",
                            "description": "Object title."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/create-d2-object": {
      "post": {
        "operationId": "documentum.create-d2-object",
        "summary": "Create D2 Object",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/create-d2-object"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "repositoryName",
                  "properties"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "repositoryName": {
                    "type": "string",
                    "description": "Documentum repository name.",
                    "example": "d2repo"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON object properties for creation, including r_object_type, object_name, and D2 configuration values as needed."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Created object identifier."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Object link URL."
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Object link relation."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "objectName": {
                                "type": "string",
                                "description": "Object name."
                              },
                              "objectType": {
                                "type": "string",
                                "description": "Object type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string",
                            "description": "Created object title."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/export-object-audit": {
      "get": {
        "operationId": "documentum.export-object-audit",
        "summary": "Export Object Audit",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/export-object-audit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "description": "Documentum object or workflow ID whose audit should be exported.",
            "schema": {
              "type": "string",
              "description": "Documentum object or workflow ID whose audit should be exported.",
              "example": "090000018000abcd"
            }
          },
          {
            "name": "allVersions",
            "in": "query",
            "required": false,
            "description": "When true, export audit data for all versions. Defaults to true.",
            "schema": {
              "type": "boolean",
              "description": "When true, export audit data for all versions. Defaults to true.",
              "default": true
            }
          },
          {
            "name": "exportType",
            "in": "query",
            "required": false,
            "description": "Audit export file type. The documented value is XLSX.",
            "schema": {
              "type": "string",
              "description": "Audit export file type. The documented value is XLSX.",
              "default": "XLSX"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Optional audit filter expression.",
            "schema": {
              "type": "string",
              "description": "Optional audit filter expression.",
              "example": "contains(event_name,'approve')",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": false,
            "description": "Optional custom audit export file name.",
            "schema": {
              "type": "string",
              "description": "Optional custom audit export file name.",
              "example": "audit-export.xlsx",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentLength": {
                            "type": "number",
                            "description": "Returned file content length."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Returned file content type."
                          },
                          "exportType": {
                            "type": "string",
                            "description": "Audit export format."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Audit export file name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/export-object-locations": {
      "get": {
        "operationId": "documentum.export-object-locations",
        "summary": "Export Object Locations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/export-object-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "description": "Documentum object ID whose locations should be exported.",
            "schema": {
              "type": "string",
              "description": "Documentum object ID whose locations should be exported.",
              "example": "090000018000abcd"
            }
          },
          {
            "name": "exportType",
            "in": "query",
            "required": false,
            "description": "Locations export file type. The documented value is XLSX.",
            "schema": {
              "type": "string",
              "description": "Locations export file type. The documented value is XLSX.",
              "default": "XLSX"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": false,
            "description": "Optional custom locations export file name.",
            "schema": {
              "type": "string",
              "description": "Optional custom locations export file name.",
              "example": "locations-export.xlsx",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentLength": {
                            "type": "number",
                            "description": "Returned file content length."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Returned file content type."
                          },
                          "exportType": {
                            "type": "string",
                            "description": "Locations export format."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Locations export file name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/get-audit-trail-event-source-facets": {
      "get": {
        "operationId": "documentum.get-audit-trail-event-source-facets",
        "summary": "Get Audit Trail Event Source Facets",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/get-audit-trail-event-source-facets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "description": "Documentum object ID whose audit facets should be returned.",
            "schema": {
              "type": "string",
              "description": "Documentum object ID whose audit facets should be returned.",
              "example": "090000018000abcd"
            }
          },
          {
            "name": "allVersions",
            "in": "query",
            "required": false,
            "description": "When true, include all versions when grouping audit facets.",
            "schema": {
              "type": "boolean",
              "description": "When true, include all versions when grouping audit facets.",
              "default": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Optional audit filter expression.",
            "schema": {
              "type": "string",
              "description": "Optional audit filter expression.",
              "example": "contains(event_name,'approve')",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Audit count for the event source."
                          },
                          "eventSource": {
                            "type": "string",
                            "description": "Audit event source."
                          },
                          "title": {
                            "type": "string",
                            "description": "Event source facet label."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/get-audit-trail-relative-date-facets": {
      "get": {
        "operationId": "documentum.get-audit-trail-relative-date-facets",
        "summary": "Get Audit Trail Relative Date Facets",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/get-audit-trail-relative-date-facets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "description": "Documentum object ID whose audit facets should be returned.",
            "schema": {
              "type": "string",
              "description": "Documentum object ID whose audit facets should be returned.",
              "example": "090000018000abcd"
            }
          },
          {
            "name": "eventSource",
            "in": "query",
            "required": false,
            "description": "Audit event source: Automatic, Manual, or All. Defaults to All.",
            "schema": {
              "type": "string",
              "description": "Audit event source: Automatic, Manual, or All. Defaults to All.",
              "default": "All"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Audit count for the facet."
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Facet end date."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Facet start date."
                          },
                          "title": {
                            "type": "string",
                            "description": "Relative date facet label."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/get-creation-profile": {
      "get": {
        "operationId": "documentum.get-creation-profile",
        "summary": "Get Creation Profile",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/get-creation-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "required": true,
            "description": "Object ID of the D2 creation profile.",
            "schema": {
              "type": "string",
              "description": "Object ID of the D2 creation profile.",
              "example": "0900000180001234"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Creation profile identifier."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Profile link URL."
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Profile link relation."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "title": {
                            "type": "string",
                            "description": "Creation profile title."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/get-d2-type": {
      "get": {
        "operationId": "documentum.get-d2-type",
        "summary": "Get D2 Type",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/get-d2-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "typeId",
            "in": "query",
            "required": true,
            "description": "Object ID of the D2 type configuration.",
            "schema": {
              "type": "string",
              "description": "Object ID of the D2 type configuration.",
              "example": "dm_document"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "required": true,
            "description": "Object ID of the D2 creation profile that owns the type.",
            "schema": {
              "type": "string",
              "description": "Object ID of the D2 creation profile that owns the type.",
              "example": "0900000180001234"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Type identifier."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Type link URL."
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Type link relation."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "title": {
                            "type": "string",
                            "description": "Type title."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/get-encrypted-dm-ticket": {
      "get": {
        "operationId": "documentum.get-encrypted-dm-ticket",
        "summary": "Get Encrypted DM Ticket",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/get-encrypted-dm-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "secure",
            "in": "query",
            "required": false,
            "description": "Set to true to request an encrypted DM ticket.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to request an encrypted DM ticket.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "secure": {
                            "type": "boolean",
                            "description": "Whether the ticket request used secure mode."
                          },
                          "ticket": {
                            "type": "string",
                            "description": "Encrypted DM ticket."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/get-native-annotations": {
      "get": {
        "operationId": "documentum.get-native-annotations",
        "summary": "Get Native Annotations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/get-native-annotations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "description": "Documentum document or task object ID.",
            "schema": {
              "type": "string",
              "description": "Documentum document or task object ID.",
              "example": "090000018000abcd"
            }
          },
          {
            "name": "inline",
            "in": "query",
            "required": false,
            "description": "When true, return annotation details inline.",
            "schema": {
              "type": "boolean",
              "description": "When true, return annotation details inline.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "annotations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Annotation content."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Annotation identifier."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Annotation type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "content": {
                            "type": "string",
                            "description": "Native annotation content reference."
                          },
                          "id": {
                            "type": "string",
                            "description": "Document identifier."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Annotation link URL."
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Annotation link relation."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "title": {
                            "type": "string",
                            "description": "Document title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/documentum/latest/actions/get-search-configuration": {
      "get": {
        "operationId": "documentum.get-search-configuration",
        "summary": "Get Search Configuration",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/documentum/latest/actions/get-search-configuration"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repositoryName",
            "in": "query",
            "required": true,
            "description": "Documentum repository name.",
            "schema": {
              "type": "string",
              "description": "Documentum repository name.",
              "example": "d2repo"
            }
          },
          {
            "name": "configId",
            "in": "query",
            "required": true,
            "description": "Object ID of the D2 search configuration.",
            "schema": {
              "type": "string",
              "description": "Object ID of the D2 search configuration.",
              "example": "0900000180005678"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Search configuration identifier."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "Configuration link URL."
                                },
                                "rel": {
                                  "type": "string",
                                  "description": "Configuration link relation."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "title": {
                            "type": "string",
                            "description": "Search configuration title."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
[...]
