{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "LinkedIn Ads Reports Universal API",
    "version": "0.1.2",
    "description": "Retrieve LinkedIn Ads reporting, campaign structure, and related marketing analytics data from LinkedIn Marketing APIs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/linkedInAdsReports/latest/actions/get-account-analytics": {
      "get": {
        "operationId": "linkedInAdsReports.get-account-analytics",
        "summary": "Get Account Analytics",
        "description": "Retrieves account analytics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-account-analytics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
              "default": "accounts=List(urn%3Ali%3AsponsoredAccount%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalWebsiteConversions": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "landingPageClicks": {
                            "type": "number"
                          },
                          "pivotValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-ad-account": {
      "get": {
        "operationId": "linkedInAdsReports.get-ad-account",
        "summary": "Get Ad Account",
        "description": "Retrieves an ad account from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-ad-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adAccountId",
            "in": "query",
            "required": true,
            "description": "LinkedIn numeric ad account ID.",
            "schema": {
              "type": "string",
              "description": "LinkedIn numeric ad account ID.",
              "default": "123456"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-ad-analytics": {
      "get": {
        "operationId": "linkedInAdsReports.get-ad-analytics",
        "summary": "Get Ad Analytics",
        "description": "Retrieves ad analytics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-ad-analytics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pivot",
            "in": "query",
            "required": true,
            "description": "LinkedIn ad analytics pivot to group results by.",
            "schema": {
              "type": "string",
              "description": "LinkedIn ad analytics pivot to group results by.",
              "default": "ACCOUNT"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn reporting facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn reporting facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
              "default": "accounts=List(urn%3Ali%3AsponsoredAccount%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "comments": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalWebsiteConversions": {
                            "type": "number"
                          },
                          "follows": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "landingPageClicks": {
                            "type": "number"
                          },
                          "likes": {
                            "type": "number"
                          },
                          "pivotValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "shares": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-ad-statistics": {
      "get": {
        "operationId": "linkedInAdsReports.get-ad-statistics",
        "summary": "Get Ad Statistics",
        "description": "Retrieves ad statistics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-ad-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pivots",
            "in": "query",
            "required": true,
            "description": "LinkedIn Rest.li pivot list, for example List(ACCOUNT).",
            "schema": {
              "type": "string",
              "description": "LinkedIn Rest.li pivot list, for example List(ACCOUNT).",
              "default": "List(ACCOUNT)"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn reporting facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn reporting facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
              "default": "accounts=List(urn%3Ali%3AsponsoredAccount%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "comments": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalWebsiteConversions": {
                            "type": "number"
                          },
                          "follows": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "landingPageClicks": {
                            "type": "number"
                          },
                          "likes": {
                            "type": "number"
                          },
                          "pivotValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "shares": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-campaign": {
      "get": {
        "operationId": "linkedInAdsReports.get-campaign",
        "summary": "Get Campaign",
        "description": "Retrieves a campaign from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adAccountId",
            "in": "query",
            "required": true,
            "description": "LinkedIn numeric ad account ID.",
            "schema": {
              "type": "string",
              "description": "LinkedIn numeric ad account ID.",
              "default": "123456"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "LinkedIn numeric sponsored campaign ID.",
            "schema": {
              "type": "string",
              "description": "LinkedIn numeric sponsored campaign ID.",
              "default": "123456"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignGroup": {
                            "type": "string"
                          },
                          "dailyBudget": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "runSchedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-campaign-analytics": {
      "get": {
        "operationId": "linkedInAdsReports.get-campaign-analytics",
        "summary": "Get Campaign Analytics",
        "description": "Retrieves campaign analytics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-campaign-analytics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn campaign facet expression, for example campaigns=List(urn%3Ali%3AsponsoredCampaign%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn campaign facet expression, for example campaigns=List(urn%3Ali%3AsponsoredCampaign%3A123456).",
              "default": "campaigns=List(urn%3Ali%3AsponsoredCampaign%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalWebsiteConversions": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "landingPageClicks": {
                            "type": "number"
                          },
                          "pivotValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-campaign-group": {
      "get": {
        "operationId": "linkedInAdsReports.get-campaign-group",
        "summary": "Get Campaign Group",
        "description": "Retrieves a campaign group from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-campaign-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adAccountId",
            "in": "query",
            "required": true,
            "description": "LinkedIn numeric ad account ID.",
            "schema": {
              "type": "string",
              "description": "LinkedIn numeric ad account ID.",
              "default": "123456"
            }
          },
          {
            "name": "campaignGroupId",
            "in": "query",
            "required": true,
            "description": "LinkedIn numeric sponsored campaign group ID.",
            "schema": {
              "type": "string",
              "description": "LinkedIn numeric sponsored campaign group ID.",
              "default": "123456"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "runSchedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalBudget": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-company-demographics": {
      "get": {
        "operationId": "linkedInAdsReports.get-company-demographics",
        "summary": "Get Company Demographics",
        "description": "Retrieves company demographics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-company-demographics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
              "default": "accounts=List(urn%3Ali%3AsponsoredAccount%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "pivotValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-country-demographics": {
      "get": {
        "operationId": "linkedInAdsReports.get-country-demographics",
        "summary": "Get Country Demographics",
        "description": "Retrieves country demographics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-country-demographics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
              "default": "accounts=List(urn%3Ali%3AsponsoredAccount%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "pivotValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-creative": {
      "get": {
        "operationId": "linkedInAdsReports.get-creative",
        "summary": "Get Creative",
        "description": "Retrieves a creative from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-creative"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adAccountId",
            "in": "query",
            "required": true,
            "description": "LinkedIn numeric ad account ID.",
            "schema": {
              "type": "string",
              "description": "LinkedIn numeric ad account ID.",
              "default": "123456"
            }
          },
          {
            "name": "creativeId",
            "in": "query",
            "required": true,
            "description": "LinkedIn numeric creative ID.",
            "schema": {
              "type": "string",
              "description": "LinkedIn numeric creative ID.",
              "default": "urn%3Ali%3AsponsoredCreative%3A123456"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string"
                          },
                          "campaign": {
                            "type": "string"
                          },
                          "content": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastModifiedAt": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-creative-analytics": {
      "get": {
        "operationId": "linkedInAdsReports.get-creative-analytics",
        "summary": "Get Creative Analytics",
        "description": "Retrieves creative analytics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-creative-analytics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn creative facet expression, for example creatives=List(urn%3Ali%3AsponsoredCreative%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn creative facet expression, for example creatives=List(urn%3Ali%3AsponsoredCreative%3A123456).",
              "default": "creatives=List(urn%3Ali%3AsponsoredCreative%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalWebsiteConversions": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "landingPageClicks": {
                            "type": "number"
                          },
                          "pivotValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkedInAdsReports/latest/actions/get-industry-demographics": {
      "get": {
        "operationId": "linkedInAdsReports.get-industry-demographics",
        "summary": "Get Industry Demographics",
        "description": "Retrieves industry demographics from LinkedIn Ads Reports.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkedInAdsReports/latest/actions/get-industry-demographics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet",
            "in": "query",
            "required": true,
            "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
            "schema": {
              "type": "string",
              "description": "LinkedIn account facet expression, for example accounts=List(urn%3Ali%3AsponsoredAccount%3A123456).",
              "default": "accounts=List(urn%3Ali%3AsponsoredAccount%3A123456)"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": true,
            "description": "Start date year.",
            "schema": {
              "type": "number",
              "description": "Start date year.",
              "default": 2026
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "required": true,
            "description": "Start date month.",
            "schema": {
              "type": "number",
              "description": "Start date month.",
              "default": 4
            }
          },
          {
            "name": "startDay",
            "in": "query",
            "required": true,
            "description": "Start date day.",
            "schema": {
              "type": "number",
              "description": "Start date day.",
              "default": 1
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": true,
            "description": "End date year.",
            "schema": {
              "type": "number",
              "description": "End date year.",
              "default": 2026
            }
          },
          {
            "name": "endMonth",
            "in": "query",
            "required": true,
            "description": "End date month.",
            "schema": {
              "type": "number",
              "description": "End date month.",
              "default": 4
            }
          },
          {
            "name": "endDay",
            "in": "query",
            "required": true,
            "description": "End date day.",
            "schema": {
              "type": "number",
              "description": "End date day.",
              "default": 26
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "description": "Time grouping for the report, such as DAILY or ALL.",
            "schema": {
              "type": "string",
              "description": "Time grouping for the report, such as DAILY or ALL.",
              "default": "DAILY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number"
                          },
                          "costInLocalCurrency": {
                            "type": "number"
                          },
                          "dateRange": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "pivotValues": {
[...]
