{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Loyverse Universal API",
    "version": "0.0.7",
    "description": "Loyverse: Manage retail items, inventory, receipts, and customers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/loyverse/latest/actions/batch-update-inventory-levels": {
      "put": {
        "operationId": "loyverse.batch-update-inventory-levels",
        "summary": "Batch Update Inventory Levels",
        "description": "Updates inventory levels in batch in Loyverse.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest/actions/batch-update-inventory-levels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "inventoryLevels[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inventoryLevels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "inStock": {
                                  "type": "number",
                                  "description": "The current stock at the specified store"
                                },
                                "storeId": {
                                  "type": "string",
                                  "description": "The store id"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The time when specified stock was calculated"
                                },
                                "variantId": {
                                  "type": "string",
                                  "description": "The item variant id"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loyverse/latest/actions/create-or-update-category": {
      "put": {
        "operationId": "loyverse.create-or-update-category",
        "summary": "Create or Update Category",
        "description": "Creates or updates a category in Loyverse.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest/actions/create-or-update-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The category id. If included in the POST request it will cause an update instead of a creating a new object."
                  },
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                  },
                  "deletedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                          },
                          "id": {
                            "type": "string",
                            "description": "The category id. If included in the POST request it will cause an update instead of a creating a new object."
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loyverse/latest/actions/create-or-update-customer": {
      "put": {
        "operationId": "loyverse.create-or-update-customer",
        "summary": "Create or Update Customer",
        "description": "Creates or updates a customer in Loyverse.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest/actions/create-or-update-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The customer id. If included in the POST request it will cause an update instead of a creating a new object."
                  },
                  "name": {
                    "type": "string",
                    "description": "The customer's name"
                  },
                  "email": {
                    "type": "string",
                    "description": "The customer's email"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The customer's phone number"
                  },
                  "address": {
                    "type": "string",
                    "description": "The customer's address"
                  },
                  "city": {
                    "type": "string",
                    "description": "The customer's city, town, or village."
                  },
                  "region": {
                    "type": "string",
                    "description": "The customer’s region name. Typically a province, a state, or a prefecture."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "The customer’s postal code, also known as zip, postcode, Eircode, etc."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "The two-letter country code corresponding to the customer's country in ISO 3166-1-alpha-2 format."
                  },
                  "customerCode": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string",
                    "description": "The note about the customer"
                  },
                  "firstVisit": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date of the first customer visit"
                  },
                  "lastVisit": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date of the most recent customer visit"
                  },
                  "totalVisits": {
                    "type": "number",
                    "description": "The total number of visits"
                  },
                  "totalSpent": {
                    "type": "number",
                    "description": "The total money amount that customer had spent"
                  },
                  "totalPoints": {
                    "type": "number",
                    "description": "Actual customer points balance"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was updated (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)"
                  },
                  "deletedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                  },
                  "permanentDeletionAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when the customer data will be permanently deleted (usually 24 hours after soft deletion)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The customer's address"
                          },
                          "city": {
                            "type": "string",
                            "description": "The customer's city, town, or village."
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "The two-letter country code corresponding to the customer's country in ISO 3166-1-alpha-2 format."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                          },
                          "email": {
                            "type": "string",
                            "description": "The customer's email"
                          },
                          "firstVisit": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date of the first customer visit"
                          },
                          "id": {
                            "type": "string",
                            "description": "The customer id. If included in the POST request it will cause an update instead of a creating a new object."
                          },
                          "lastVisit": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date of the most recent customer visit"
                          },
                          "name": {
                            "type": "string",
                            "description": "The customer's name"
                          },
                          "note": {
                            "type": "string",
                            "description": "The note about the customer"
                          },
                          "permanentDeletionAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when the customer data will be permanently deleted (usually 24 hours after soft deletion)"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "The customer's phone number"
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "The customer’s postal code, also known as zip, postcode, Eircode, etc."
                          },
                          "region": {
                            "type": "string",
                            "description": "The customer’s region name. Typically a province, a state, or a prefecture."
                          },
                          "totalPoints": {
                            "type": "number",
                            "description": "Actual customer points balance"
                          },
                          "totalSpent": {
                            "type": "number",
                            "description": "The total money amount that customer had spent"
                          },
                          "totalVisits": {
                            "type": "number",
                            "description": "The total number of visits"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was updated (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loyverse/latest/actions/create-or-update-item": {
      "put": {
        "operationId": "loyverse.create-or-update-item",
        "summary": "Create or Update Item",
        "description": "Creates or updates an item in Loyverse.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest/actions/create-or-update-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "itemName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Read-only internal id of the item. If included in the POST request it will cause an update instead of a creating a new object."
                  },
                  "handle": {
                    "type": "string"
                  },
                  "itemName": {
                    "type": "string",
                    "description": "The item name."
                  },
                  "description": {
                    "type": "string",
                    "description": "The item description."
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "External reference id for the item"
                  },
                  "categoryId": {
                    "type": "string",
                    "description": "The category id of the item"
                  },
                  "trackStock": {
                    "type": "boolean",
                    "description": "If true, the system tracks inventory for this item at all stores. Make sure you don't accidentally disable track stock. If you set `track_stock` to false then all inventory levels of this item are set to 0"
                  },
                  "soldByWeight": {
                    "type": "boolean",
                    "description": "If true, a fractional quantity for this item can be specified at the time of a sale (for example 1.5)"
                  },
                  "isComposite": {
                    "type": "boolean",
                    "description": "If true, the item contains a specified quantity of other items. [Learn more](https://help.loyverse.com/help/how-create-composite-item)"
                  },
                  "useProduction": {
                    "type": "boolean",
                    "description": "If true, the system tracks stock not only for its components but also for this item. This property can be set only for composite items. [Learn more](https://help.loyverse.com/help/how-work-production)"
                  },
                  "components[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The list of components for the item. [Learn more](https://help.loyverse.com/help/how-create-composite-item)"
                  },
                  "primarySupplierId": {
                    "type": "string"
                  },
                  "taxIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of tax ids applied to this item"
                  },
                  "modifiersIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of modifiers ids applied to this item"
                  },
                  "form": {
                    "type": "string",
                    "description": "The visual form of the item that is displayed on the POS"
                  },
                  "color": {
                    "type": "string",
                    "description": "One of the predefined colors for the item that is displayed on the POS"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "option1Name": {
                    "type": "string",
                    "description": "The name of the first option (for example \"Size\"). [Learn more](https://help.loyverse.com/help/how-use-variants-items)"
                  },
                  "option2Name": {
                    "type": "string",
                    "description": "The name of the first option (for example \"Color\"). [Learn more](https://help.loyverse.com/help/how-use-variants-items)"
                  },
                  "option3Name": {
                    "type": "string",
                    "description": "The name of the first option (for example \"Material\"). [Learn more](https://help.loyverse.com/help/how-use-variants-items)"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was updated (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)"
                  },
                  "deletedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                  },
                  "variants[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categoryId": {
                            "type": "string",
                            "description": "The category id of the item"
                          },
                          "color": {
                            "type": "string",
                            "description": "One of the predefined colors for the item that is displayed on the POS"
                          },
                          "components": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "quantity": {
                                  "type": "number"
                                },
                                "variantId": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "The list of components for the item. [Learn more](https://help.loyverse.com/help/how-create-composite-item)"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                          },
                          "description": {
                            "type": "string",
                            "description": "The item description."
                          },
                          "form": {
                            "type": "string",
                            "description": "The visual form of the item that is displayed on the POS"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "description": "Read-only internal id of the item. If included in the POST request it will cause an update instead of a creating a new object."
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "isComposite": {
                            "type": "boolean",
                            "description": "If true, the item contains a specified quantity of other items. [Learn more](https://help.loyverse.com/help/how-create-composite-item)"
                          },
                          "itemName": {
                            "type": "string",
                            "description": "The item name."
                          },
                          "modifiersIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The list of modifiers ids applied to this item"
                          },
                          "option1Name": {
                            "type": "string",
                            "description": "The name of the first option (for example \"Size\"). [Learn more](https://help.loyverse.com/help/how-use-variants-items)"
                          },
                          "option2Name": {
                            "type": "string",
                            "description": "The name of the first option (for example \"Color\"). [Learn more](https://help.loyverse.com/help/how-use-variants-items)"
                          },
                          "option3Name": {
                            "type": "string",
                            "description": "The name of the first option (for example \"Material\"). [Learn more](https://help.loyverse.com/help/how-use-variants-items)"
                          },
                          "primarySupplierId": {
                            "type": "string"
                          },
                          "referenceId": {
                            "type": "string",
                            "description": "External reference id for the item"
                          },
                          "soldByWeight": {
                            "type": "boolean",
                            "description": "If true, a fractional quantity for this item can be specified at the time of a sale (for example 1.5)"
                          },
                          "taxIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The list of tax ids applied to this item"
                          },
                          "trackStock": {
                            "type": "boolean",
                            "description": "If true, the system tracks inventory for this item at all stores. Make sure you don't accidentally disable track stock. If you set `track_stock` to false then all inventory levels of this item are set to 0"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was updated (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)"
                          },
                          "useProduction": {
                            "type": "boolean",
                            "description": "If true, the system tracks stock not only for its components but also for this item. This property can be set only for composite items. [Learn more](https://help.loyverse.com/help/how-work-production)"
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "barcode": {
                                  "type": "string"
                                },
                                "cost": {
                                  "type": "number",
                                  "description": "The variant cost"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The time when this resource was created"
                                },
                                "defaultPrice": {
                                  "type": "number",
                                  "description": "The default variant price (only for `pricing_type: FIXED`) If there are several stores in the account than the price of the variant in each store is equal to this value by default unless different value is specified in the `stores` array for a particular store."
                                },
                                "defaultPricingType": {
                                  "type": "string",
                                  "description": "The default variant pricing type. If the value is `VARIABLE` than the price is specified at the time of a sale. If there are several stores in the account than the price of the variant in each store is equal to this value by default unless different value is specified in the `stores` array for a particular store."
                                },
                                "deletedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The time when this resource was created"
                                },
                                "itemId": {
                                  "type": "string",
                                  "description": "The item id this variant is attached to."
                                },
                                "option1Value": {
                                  "type": "string",
                                  "description": "The value of the first option for this variant. Required if option1_name is set for the item this variant is attached to."
                                },
                                "option2Value": {
                                  "type": "string",
                                  "description": "The value of the second option for this variant. Required if option2_name is set for the item this variant is attached to."
                                },
                                "option3Value": {
                                  "type": "string",
                                  "description": "The value of the third option for this variant. Required if option3_name is set for the item this variant is attached to."
                                },
                                "purchaseCost": {
                                  "type": "number",
                                  "description": "The variant purchase cost"
                                },
                                "referenceVariantId": {
                                  "type": "string",
                                  "description": "External reference id for the variant"
                                },
                                "sku": {
                                  "type": "string",
                                  "description": "The variant sku. It should be unique."
                                },
                                "stores": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "availableForSale": {
                                        "type": "boolean",
                                        "description": "If true, variant is available for sale at this store"
                                      },
                                      "lowStock": {
                                        "type": "number",
                                        "description": "The low stock threshold for the variant. If the variant stock is equal or below this threshold, the system shows alert in the back-office and sends email (if enabled). [Learn more](https://help.loyverse.com/help/low-stocks)"
                                      },
                                      "optimalStock": {
                                        "type": "number",
                                        "description": "The variant optimal stock. This value is used to automatically calculate stock while creating purchase order. [Learn more](https://help.loyverse.com/help/autofill-items-purchase-order)"
                                      },
                                      "price": {
                                        "type": "number",
                                        "description": "The variant price in this store (only if pricing_type in this store is `FIXED`). The value is equal to `default_price` by default"
                                      },
                                      "pricingType": {
                                        "type": "string",
                                        "description": "The variant pricing type. If the value is `VARIABLE` than the price is specified at the time of a sale. The value is equal to `default_pricing_type` by default"
                                      },
                                      "storeId": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "description": "The list of values that are unique for each store"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The time when this resource was created"
                                },
                                "variantId": {
                                  "type": "string",
                                  "description": "The read only internal id of the variant."
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loyverse/latest/actions/create-or-update-supplier": {
      "put": {
        "operationId": "loyverse.create-or-update-supplier",
        "summary": "Create or Update Supplier",
        "description": "Creates or updates a supplier in Loyverse.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest/actions/create-or-update-supplier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The supplier id. If included in the POST request it will cause an update instead of a creating a new object."
                  },
                  "name": {
                    "type": "string",
                    "description": "The supplier company name"
                  },
                  "contact": {
                    "type": "string",
                    "description": "The supplier contact person name"
                  },
                  "email": {
                    "type": "string",
                    "description": "The supplier email"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string",
                    "description": "The supplier website page"
                  },
                  "address1": {
                    "type": "string",
                    "description": "The supplier address"
                  },
                  "address2": {
                    "type": "string",
                    "description": "The supplier address"
                  },
                  "city": {
                    "type": "string",
                    "description": "The supplier city, town, or village."
                  },
                  "region": {
                    "type": "string",
                    "description": "The supplier’s region name. Typically a province, a state, or a prefecture."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "The supplier’s postal code, also known as zip, postcode, Eircode, etc."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "The two-letter country code corresponding to the supplier country in ISO 3166-1-alpha-2 format."
                  },
                  "note": {
                    "type": "string"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was updated (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)"
                  },
                  "deletedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string",
                            "description": "The supplier address"
                          },
                          "address2": {
                            "type": "string",
                            "description": "The supplier address"
                          },
                          "city": {
                            "type": "string",
                            "description": "The supplier city, town, or village."
                          },
                          "contact": {
                            "type": "string",
                            "description": "The supplier contact person name"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "The two-letter country code corresponding to the supplier country in ISO 3166-1-alpha-2 format."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)"
                          },
                          "email": {
                            "type": "string",
                            "description": "The supplier email"
                          },
                          "id": {
                            "type": "string",
                            "description": "The supplier id. If included in the POST request it will cause an update instead of a creating a new object."
                          },
                          "name": {
                            "type": "string",
                            "description": "The supplier company name"
                          },
                          "note": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "The supplier’s postal code, also known as zip, postcode, Eircode, etc."
                          },
                          "region": {
                            "type": "string",
                            "description": "The supplier’s region name. Typically a province, a state, or a prefecture."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was updated (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)"
                          },
                          "website": {
                            "type": "string",
                            "description": "The supplier website page"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loyverse/latest/actions/create-or-update-variant": {
      "put": {
        "operationId": "loyverse.create-or-update-variant",
        "summary": "Create or Update Variant",
        "description": "Creates or updates a product variant in Loyverse.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest/actions/create-or-update-variant"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "variantId": {
                    "type": "string",
                    "description": "The read only internal id of the variant. If included in the POST request it will cause an update instead of a creating a new object."
                  },
                  "itemId": {
                    "type": "string",
                    "description": "The item id this variant is attached to."
                  },
                  "sku": {
                    "type": "string",
                    "description": "The variant sku. It should be unique."
                  },
                  "referenceVariantId": {
                    "type": "string",
                    "description": "External reference id for the variant"
                  },
                  "option1Value": {
                    "type": "string",
                    "description": "The value of the first option for this variant. Required if option1_name is set for the item this variant is attached to."
                  },
                  "option2Value": {
                    "type": "string",
                    "description": "The value of the second option for this variant. Required if option2_name is set for the item this variant is attached to."
                  },
                  "option3Value": {
                    "type": "string",
                    "description": "The value of the third option for this variant. Required if option3_name is set for the item this variant is attached to."
                  },
                  "barcode": {
                    "type": "string"
                  },
                  "cost": {
                    "type": "number",
                    "description": "The variant cost"
                  },
                  "purchaseCost": {
                    "type": "number",
                    "description": "The variant purchase cost"
                  },
                  "defaultPricingType": {
                    "type": "string",
                    "description": "The default variant pricing type. If the value is `VARIABLE` than the price is specified at the time of a sale. If there are several stores in the account than the price of the variant in each store is equal to this value by default unless different value is specified in the `stores` array for a particular store."
                  },
                  "defaultPrice": {
                    "type": "number",
                    "description": "The default variant price (only for `pricing_type: FIXED`) If there are several stores in the account than the price of the variant in each store is equal to this value by default unless different value is specified in the `stores` array for a particular store."
                  },
                  "stores[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The list of values that are unique for each store"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was created"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was created"
                  },
                  "deletedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time when this resource was created"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "barcode": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number",
                            "description": "The variant cost"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was created"
                          },
                          "defaultPrice": {
                            "type": "number",
                            "description": "The default variant price (only for `pricing_type: FIXED`) If there are several stores in the account than the price of the variant in each store is equal to this value by default unless different value is specified in the `stores` array for a particular store."
                          },
                          "defaultPricingType": {
                            "type": "string",
                            "description": "The default variant pricing type. If the value is `VARIABLE` than the price is specified at the time of a sale. If there are several stores in the account than the price of the variant in each store is equal to this value by default unless different value is specified in the `stores` array for a particular store."
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was created"
                          },
                          "itemId": {
                            "type": "string",
                            "description": "The item id this variant is attached to."
                          },
                          "option1Value": {
                            "type": "string",
                            "description": "The value of the first option for this variant. Required if option1_name is set for the item this variant is attached to."
                          },
                          "option2Value": {
                            "type": "string",
                            "description": "The value of the second option for this variant. Required if option2_name is set for the item this variant is attached to."
                          },
                          "option3Value": {
                            "type": "string",
                            "description": "The value of the third option for this variant. Required if option3_name is set for the item this variant is attached to."
                          },
                          "purchaseCost": {
                            "type": "number",
                            "description": "The variant purchase cost"
                          },
                          "referenceVariantId": {
                            "type": "string",
                            "description": "External reference id for the variant"
                          },
                          "sku": {
                            "type": "string",
                            "description": "The variant sku. It should be unique."
                          },
                          "stores": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "availableForSale": {
                                  "type": "boolean",
                                  "description": "If true, variant is available for sale at this store"
                                },
                                "lowStock": {
                                  "type": "number",
                                  "description": "The low stock threshold for the variant. If the variant stock is equal or below this threshold, the system shows alert in the back-office and sends email (if enabled). [Learn more](https://help.loyverse.com/help/low-stocks)"
                                },
                                "optimalStock": {
                                  "type": "number",
                                  "description": "The variant optimal stock. This value is used to automatically calculate stock while creating purchase order. [Learn more](https://help.loyverse.com/help/autofill-items-purchase-order)"
                                },
                                "price": {
                                  "type": "number",
                                  "description": "The variant price in this store (only if pricing_type in this store is `FIXED`). The value is equal to `default_price` by default"
                                },
                                "pricingType": {
                                  "type": "string",
                                  "description": "The variant pricing type. If the value is `VARIABLE` than the price is specified at the time of a sale. The value is equal to `default_pricing_type` by default"
                                },
                                "storeId": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "The list of values that are unique for each store"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this resource was created"
                          },
                          "variantId": {
                            "type": "string",
                            "description": "The read only internal id of the variant."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loyverse/latest/actions/create-refund-receipt": {
      "post": {
        "operationId": "loyverse.create-refund-receipt",
        "summary": "Create Refund Receipt",
        "description": "Creates a refund receipt in Loyverse.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loyverse/latest/actions/create-refund-receipt"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "receiptNumber",
                  "lineItems[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "receiptNumber": {
                    "type": "string",
                    "description": "The sales receipt number for a refund"
                  },
                  "receiptDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "By default, it matches the created_at value (time when receipt was created on the Loyverse server). You can set receipt_date to the value that is equal to the date and time in the past when the refund was created in another system."
                  },
                  "source": {
                    "type": "string",
                    "description": "The name of the the source this receipt comes from. By default it is the name of the application that created the receipt."
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "The employee id associated with the receipt"
                  },
                  "storeId": {
                    "type": "string",
                    "description": "The store id associated with the refund receipt. By default, it matches the store id of the sales receipt."
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The line items included in the refund"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelledAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when this receipt was cancelled"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The autogenerated date and time when the receipt was created in Loyverse."
                          },
                          "customerId": {
                            "type": "string",
                            "description": "The customer id associated with the receipt"
                          },
                          "diningOption": {
                            "type": "string",
                            "description": "The dining option selected for the receipt"
                          },
                          "employeeId": {
                            "type": "string",
                            "description": "The employee id associated with the receipt"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "cost": {
                                  "type": "number",
                                  "description": "The cost of the single item at the moment of transaction"
                                },
                                "costTotal": {
                                  "type": "number",
                                  "description": "The total cost for this line item at the moment of transaction"
                                },
                                "grossTotalMoney": {
                                  "type": "number",
                                  "description": "The total money amount for this line item including modifiers. It doesn't include discounts and taxes which type is ADDED."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "The unique id that identifies this line item in the receipt"
                                },
                                "itemId": {
                                  "type": "string",
                                  "description": "The item id for this line item"
                                },
                                "itemName": {
                                  "type": "string",
                                  "description": "The item name"
                                },
                                "lineDiscounts": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The discount id"
                                      },
                                      "moneyAmount": {
                                        "type": "number",
                                        "description": "The money amount of this discount for the line item. The value is always positive."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The discount name"
                                      },
                                      "percentage": {
                                        "type": "number",
                                        "description": "The percentage of the discount. For example value 10.55 corresponds to a percentage of 10.55%. The value is not set for amount based discounts."
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "The discount type"
                                      }
                                    }
                                  },
                                  "description": "The list of discounts applied to the line item"
                                },
                                "lineModifiers": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The modifier id"
                                      },
                                      "modifierOptionId": {
                                        "type": "string",
                                        "description": "The modifier option id applied to the line item"
                                      },
                                      "moneyAmount": {
                                        "type": "number",
                                        "description": "The total money amount of the modifier applied to the line item. It is equal to the price of the modifier option multiplied by the line item's quantity"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The modifier name"
                                      },
                                      "option": {
                                        "type": "string",
                                        "description": "The name of the modifier option applied to the line item"
                                      },
                                      "price": {
                                        "type": "number",
                                        "description": "The base price of a single modifier option"
                                      }
                                    }
                                  },
                                  "description": "The list of modifiers applied to the line item"
                                },
                                "lineNote": {
                                  "type": "string",
                                  "description": "The line item note"
                                },
                                "lineTaxes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The tax id"
                                      },
                                      "moneyAmount": {
                                        "type": "number",
                                        "description": "The money amount of this tax for the line item"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The tax name"
                                      },
                                      "rate": {
                                        "type": "number",
                                        "description": "The rate of the tax. For example, a value of \"5.255\" corresponds to a percentage of 5.255%"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "description": "The list of taxes applied to the line item"
                                },
                                "price": {
                                  "type": "number",
                                  "description": "The price of the one item. It includes taxes which type is INCLUDED. It doesn't include modifiers, discounts and taxes which type is ADDED."
                                },
                                "quantity": {
                                  "type": "number",
                                  "description": "The number of items that were purchased (or refunded in case of refund)"
                                },
                                "sku": {
                                  "type": "string",
                                  "description": "The variant sku"
                                },
                                "totalDiscount": {
                                  "type": "number",
                                  "description": "The total discount amount applied to the line item. The value is always positive."
                                },
                                "totalMoney": {
                                  "type": "number",
                                  "description": "The total money amount for this line item after applying discounts and all taxes for this line item"
                                },
                                "variantId": {
                                  "type": "string",
                                  "description": "The variant id for this line item"
                                },
                                "variantName": {
                                  "type": "string",
                                  "description": "The variant name (for example XL / Red)"
                                }
                              }
                            },
                            "description": "The line items included in the receipt"
                          },
                          "note": {
                            "type": "string",
                            "description": "The receipt's note"
                          },
                          "order": {
                            "type": "string",
                            "description": "The order name or number associated with this receipt"
                          },
                          "payments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "moneyAmount": {
                                  "type": "number",
                                  "description": "The total money amount of this payment (including tips and surcharge)"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the payment type"
                                },
                                "paidAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The time when this payment was created"
                                },
                                "paymentDetails": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "The payment details for integrated payment types",
                                  "properties": {
                                    "authorizationCode": {
                                      "type": "string",
                                      "description": "The authorization code associated with the transaction"
                                    },
                                    "cardCompany": {
                                      "type": "string",
                                      "description": "The credit card company (if available)"
                                    },
                                    "cardNumber": {
                                      "type": "string",
                                      "description": "The masked credit card number"
                                    },
                                    "entryMethod": {
                                      "type": "string",
                                      "description": "The entry method of the credit card on the terminal (if available)"
                                    },
                                    "referenceId": {
                                      "type": "string",
                                      "description": "An id attached to the transaction by the gateway"
                                    }
                                  }
                                },
                                "paymentTypeId": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "The list of receipt payments"
                          },
                          "pointsBalance": {
                            "type": "number",
                            "description": "The customer's points balance after transaction"
                          },
                          "pointsDeducted": {
                            "type": "number",
                            "description": "The total amount of points deducted from customer's points balance (in case of refund). The value is always positive."
                          },
                          "pointsEarned": {
                            "type": "number",
                            "description": "The total amount of points added to customer's points balance"
                          },
                          "posDeviceId": {
                            "type": "string",
                            "description": "The POS id where the receipt was paid"
                          },
                          "receiptDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "By default, it matches the created_at value. You can set receipt_date to the value that is equal to the date and time in the past when the receipt was created in another system."
                          },
                          "receiptNumber": {
                            "type": "string",
                            "description": "The internal identifier for the receipt. It is unique."
                          },
                          "receiptType": {
                            "type": "string",
                            "description": "The type of the receipt"
                          },
[...]
