{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Quaderno Universal API",
    "version": "0.0.5",
    "description": "Quaderno is tax compliance software that automates sales tax, VAT, and GST calculations, invoicing, and reporting for SaaS, ecommerce, and digital businesses worldwide."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/quaderno/latest/actions/create-contact": {
      "post": {
        "operationId": "quaderno.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Quaderno.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "city": {
                    "type": "string",
                    "description": "City for the contact."
                  },
                  "contactPerson": {
                    "type": "string",
                    "description": "Named contact person."
                  },
                  "country": {
                    "type": "string",
                    "description": "Two-letter country code for the contact."
                  },
                  "department": {
                    "type": "string",
                    "description": "Department name."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Full name for the contact."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Whether the contact is a company or person."
                  },
                  "language": {
                    "type": "string",
                    "description": "Preferred language code."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Contact last name."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Internal notes for the contact."
                  },
                  "phone1": {
                    "type": "string",
                    "description": "Primary phone number."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "Postal code for the contact."
                  },
                  "processor": {
                    "type": "string",
                    "description": "External processor name for the contact."
                  },
                  "processorId": {
                    "type": "string",
                    "description": "External processor identifier for the contact."
                  },
                  "region": {
                    "type": "string",
                    "description": "Region or state for the contact."
                  },
                  "streetLine1": {
                    "type": "string",
                    "description": "Primary street address."
                  },
                  "streetLine2": {
                    "type": "string",
                    "description": "Secondary street address."
                  },
                  "taxId": {
                    "type": "string",
                    "description": "Contact tax identification number."
                  },
                  "taxStatus": {
                    "type": "string",
                    "description": "Tax treatment for the contact."
                  },
                  "web": {
                    "type": "string",
                    "description": "Contact website URL."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "phone1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "postalCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processorId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "region": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "streetLine1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "streetLine2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxStatus": {
                            "type": "string"
                          },
                          "web": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/quaderno/latest/actions/create-credit-note": {
      "post": {
        "operationId": "quaderno.create-credit-note",
        "summary": "Create Credit Note",
        "description": "Creates a credit note for an invoice in Quaderno.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest/actions/create-credit-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoiceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoiceId": {
                    "type": "number",
                    "description": "ID of the invoice to credit.",
                    "example": 502260
                  },
                  "paymentMethod": {
                    "type": "string",
                    "description": "Payment method applied to the credit note.",
                    "example": "credit_card"
                  },
                  "creditedAmount": {
                    "type": "number",
                    "description": "Partial amount to credit for a single-item invoice.",
                    "example": 12.5
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blocked": {
                            "type": "boolean"
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "number"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "phone1": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processorId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxStatus": {
                                "type": "string"
                              },
                              "web": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "deliveryState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountCents": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "issueDate": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "discountCents": {
                                  "type": "number"
                                },
                                "grossAmountCents": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "subtotalCents": {
                                  "type": "number"
                                },
                                "tax1Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1TransactionType": {
                                  "type": "string"
                                },
                                "tax2Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2TransactionType": {
                                  "type": "string"
                                },
                                "unitPriceCents": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "number": {
                            "type": "string"
                          },
                          "paymentDetails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "payments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amountCents": {
                                  "type": "number"
                                },
                                "date": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "paymentMethod": {
                                  "type": "string"
                                },
                                "processor": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "processorId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "pdf": {
                            "type": "string"
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "poNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "postalCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processorId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "region": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "relatedDocument": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "secureId": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "streetLine1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "streetLine2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subtotalCents": {
                            "type": "number"
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalCents": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "verificationCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verificationPermalink": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/quaderno/latest/actions/create-invoice": {
      "post": {
        "operationId": "quaderno.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in Quaderno.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contact",
                  "items[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contact": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Existing contact ID or contact object."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Invoice currency code."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Invoice notes."
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Invoice line items array."
                  },
                  "issueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice issue date."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice due date."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blocked": {
                            "type": "boolean"
                          },
                          "city": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "number"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "phone1": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processorId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxStatus": {
                                "type": "string"
                              },
                              "web": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "deliveryState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountCents": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "issueDate": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "discountCents": {
                                  "type": "number"
                                },
                                "grossAmountCents": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "productCode": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "subtotalCents": {
                                  "type": "number"
                                },
                                "tax1Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1TransactionType": {
                                  "type": "string"
                                },
                                "tax2Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2TransactionType": {
                                  "type": "string"
                                },
                                "unitPriceCents": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "paymentDetails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pdf": {
                            "type": "string"
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "poNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "processor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processorFeeCents": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processorId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "region": {
                            "type": "string"
                          },
                          "secureId": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "streetLine1": {
                            "type": "string"
                          },
                          "streetLine2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subtotalCents": {
                            "type": "number"
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalCents": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "verificationCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verificationPermalink": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/quaderno/latest/actions/create-product": {
      "post": {
        "operationId": "quaderno.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Quaderno.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "Product code."
                  },
                  "description": {
                    "type": "string",
                    "description": "Product description."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Whether the product is one-off or subscription."
                  },
                  "name": {
                    "type": "string",
                    "description": "Product name."
                  },
                  "productType": {
                    "type": "string",
                    "description": "Whether the product is a good or service."
                  },
                  "stock": {
                    "type": "string",
                    "description": "Available stock quantity."
                  },
                  "taxBasedOn": {
                    "type": "string",
                    "description": "Whether tax is based on customer country or product country."
                  },
                  "taxClass": {
                    "type": "string",
                    "description": "Tax class for the product."
                  },
                  "taxType": {
                    "type": "string",
                    "description": "Whether tax is included or excluded."
                  },
                  "unitCost": {
                    "type": "string",
                    "description": "Unit cost for the product."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "productType": {
                            "type": "string"
                          },
                          "stock": {
                            "type": "string"
                          },
                          "taxBasedOn": {
                            "type": "string"
                          },
                          "taxClass": {
                            "type": "string"
                          },
                          "taxType": {
                            "type": "string"
                          },
                          "unitCost": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/quaderno/latest/actions/create-receipt": {
      "post": {
        "operationId": "quaderno.create-receipt",
        "summary": "Create Receipt",
        "description": "Creates a paid receipt in Quaderno.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest/actions/create-receipt"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contact",
                  "items[]",
                  "payments[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contact": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Existing contact object."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Receipt currency code."
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Receipt line items array."
                  },
                  "payments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Receipt payments array."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blocked": {
                            "type": "boolean"
                          },
                          "city": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "number"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "phone1": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processorId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxStatus": {
                                "type": "string"
                              },
                              "web": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "deliveryState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountCents": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "issueDate": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "discountCents": {
                                  "type": "number"
                                },
                                "discountRate": {
                                  "type": "number"
                                },
                                "grossAmountCents": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "productCode": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "subtotalCents": {
                                  "type": "number"
                                },
                                "tax1Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1TransactionType": {
                                  "type": "string"
                                },
                                "tax2Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2TransactionType": {
                                  "type": "string"
                                },
                                "unitPriceCents": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "number": {
                            "type": "string"
                          },
                          "pdf": {
                            "type": "string"
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "poNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "processor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processorFeeCents": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processorId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "region": {
                            "type": "string"
                          },
                          "secureId": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "streetLine1": {
                            "type": "string"
                          },
                          "streetLine2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subtotalCents": {
                            "type": "number"
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalCents": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "verificationCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verificationPermalink": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/quaderno/latest/actions/create-recurring-document": {
      "post": {
        "operationId": "quaderno.create-recurring-document",
        "summary": "Create Recurring Document",
        "description": "Creates a recurring billing document in Quaderno.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest/actions/create-recurring-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contact.first_name",
                  "items[].description",
                  "items[].unit_price"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Issue date for the first recurring document.",
                    "example": "2026-03-19"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Issue date for the last recurring document.",
                    "example": "2026-12-31"
                  },
                  "frequency": {
                    "type": "string",
                    "description": "Deprecated recurring frequency option.",
                    "example": "monthly",
                    "x-mindcloud-advanced": true
                  },
                  "recurringPeriod": {
                    "type": "string",
                    "description": "Recurring period unit.",
                    "example": "months"
                  },
                  "recurringFrequency": {
                    "type": "number",
                    "description": "Number of recurring periods between documents.",
                    "example": 1
                  },
                  "dueDays": {
                    "type": "string",
                    "description": "Number of days until payment is due.",
                    "example": "7"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Three-letter ISO currency code.",
                    "example": "USD"
                  },
                  "paymentDetails": {
                    "type": "string",
                    "description": "Accepted payment method details.",
                    "example": "Charge card on file"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Extra notes for the recurring document.",
                    "example": "Created by MindCloud Stage 3"
                  },
                  "contact.first_name": {
                    "type": "string",
                    "description": "Contact first name.",
                    "example": "Stage3"
                  },
                  "contact.last_name": {
                    "type": "string",
                    "description": "Contact last name.",
                    "example": "Tester"
                  },
                  "contact.email": {
                    "type": "string",
                    "description": "Contact email address.",
                    "example": "apps+quaderno-recurring@mindcloud.co"
                  },
                  "contact.country": {
                    "type": "string",
                    "description": "Two-letter ISO country code for the contact.",
                    "example": "US"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Summary description for the recurring document.",
                    "example": "Stage 3 recurring document"
                  },
                  "items[].description": {
                    "type": "string",
                    "description": "Line item description.",
                    "example": "Monthly advisory service"
                  },
                  "items[].quantity": {
                    "type": "number",
                    "description": "Line item quantity.",
                    "example": 1
                  },
                  "items[].unit_price": {
                    "type": "number",
                    "description": "Line item unit price.",
                    "example": 49.99
                  },
                  "items[].tax_1_transaction_type": {
                    "type": "string",
                    "description": "Primary tax classification for the line item.",
                    "example": "standard"
                  },
                  "customMetadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata object for the recurring document."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact": {
                            "type": "object",
                            "properties": {
                              "contactPerson": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "number"
                              },
                              "department": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "phone1": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processorId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxStatus": {
                                "type": "string"
                              },
                              "web": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customMetadata": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "discount": {
                            "type": "number"
                          },
                          "dueDays": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "frequency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "discountCents": {
                                  "type": "number"
                                },
                                "discountRate": {
                                  "type": "number"
                                },
                                "grossAmountCents": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "productCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "reference": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "subtotalCents": {
                                  "type": "number"
                                },
                                "tax1Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax1TransactionType": {
                                  "type": "string"
                                },
                                "tax2Country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Rate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2Region": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tax2TransactionType": {
                                  "type": "string"
                                },
                                "unitPriceCents": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "paymentDetails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "poNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recurringDocument": {
                            "type": "string"
                          },
                          "recurringFrequency": {
                            "type": "number"
                          },
                          "recurringPeriod": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "subtotal": {
                            "type": "number"
                          },
                          "totalCents": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/quaderno/latest/actions/create-tax-id": {
      "post": {
        "operationId": "quaderno.create-tax-id",
        "summary": "Create Tax ID",
        "description": "Creates a registered tax ID in Quaderno.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quaderno/latest/actions/create-tax-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jurisdictionId",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jurisdictionId": {
                    "type": "number",
                    "description": "Jurisdiction ID to register.",
                    "example": 11
                  },
                  "value": {
                    "type": "string",
                    "description": "Tax ID value.",
                    "example": "FR40303265045"
                  },
                  "validFrom": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date for validity.",
                    "example": "2026-03-21"
                  },
                  "validUntil": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date for validity.",
                    "example": "2026-12-31"
                  },
                  "permanentEstablishment": {
                    "type": "boolean",
                    "description": "Whether this is a permanent establishment.",
                    "example": false
                  },
                  "importScheme": {
                    "type": "boolean",
                    "description": "Whether the registration uses the import scheme.",
                    "example": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "importScheme": {
                            "type": "boolean"
                          },
                          "jurisdiction": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "permanentEstablishment": {
                            "type": "boolean"
                          },
                          "state": {
                            "type": "string"
                          },
                          "validFrom": {
                            "type": "string"
                          },
                          "validUntil": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
[...]
