{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Simple Analytics Universal API",
    "version": "0.0.5",
    "description": "Simple Analytics provides privacy-friendly website analytics APIs for aggregated stats, raw data exports, and account website administration."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/simpleAnalytics/latest/actions/add-website": {
      "post": {
        "operationId": "simpleAnalytics.add-website",
        "summary": "Add Website",
        "description": "Creates a new website in Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/add-website"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "hostname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "hostname": {
                    "type": "string",
                    "description": "Hostname to add, for example `example.com`."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA time zone for the new website."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "Whether the website should be public.",
                    "default": false
                  },
                  "label": {
                    "type": "string",
                    "description": "Optional label shown on the websites overview page."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string",
                            "description": "Provider error message when website creation fails."
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether the website creation request was accepted."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the website creation request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/export-data-points": {
      "get": {
        "operationId": "simpleAnalytics.export-data-points",
        "summary": "Export Data Points",
        "description": "Exports raw data points from Simple Analytics in JSON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/export-data-points"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "description": "Website hostname to export data for, for example `simpleanalytics.com`.",
            "schema": {
              "type": "string",
              "description": "Website hostname to export data for, for example `simpleanalytics.com`."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start date in `YYYY-MM-DD` or `YYYY-MM-DDTHH` format.",
            "schema": {
              "type": "string",
              "description": "Start date in `YYYY-MM-DD` or `YYYY-MM-DDTHH` format."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End date in `YYYY-MM-DD` or `YYYY-MM-DDTHH` format.",
            "schema": {
              "type": "string",
              "description": "End date in `YYYY-MM-DD` or `YYYY-MM-DDTHH` format."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "description": "Comma-separated raw data fields to return, such as `added_iso,path`.",
            "schema": {
              "type": "string",
              "description": "Comma-separated raw data fields to return, such as `added_iso,path`."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Export data type, for example `pageviews`.",
            "schema": {
              "type": "string",
              "description": "Export data type, for example `pageviews`."
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA time zone such as `Europe/Amsterdam`.",
            "schema": {
              "type": "string",
              "description": "IANA time zone such as `Europe/Amsterdam`."
            }
          },
          {
            "name": "robots",
            "in": "query",
            "required": false,
            "description": "Whether to include robot traffic in the export.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include robot traffic in the export.",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datapoints": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Exported datapoints matching the requested filters."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Export metadata including record count and generation timestamps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/export-data-points-csv": {
      "get": {
        "operationId": "simpleAnalytics.export-data-points-csv",
        "summary": "Export Data Points CSV",
        "description": "Exports raw data points from Simple Analytics in CSV.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/export-data-points-csv"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robots",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "csv": {
                            "type": "string",
                            "description": "Raw CSV export body returned by the Simple Analytics export API."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/export-hourly-data-csv": {
      "get": {
        "operationId": "simpleAnalytics.export-hourly-data-csv",
        "summary": "Export Hourly Data CSV",
        "description": "Exports hourly data from Simple Analytics in CSV.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/export-hourly-data-csv"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "csv": {
                            "type": "string",
                            "description": "Raw CSV export body returned for the requested hourly window."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/export-hourly-data-json": {
      "get": {
        "operationId": "simpleAnalytics.export-hourly-data-json",
        "summary": "Export Hourly Data JSON",
        "description": "Exports hourly data from Simple Analytics in JSON.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/export-hourly-data-json"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datapoints": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Exported datapoints for the requested hourly window."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Export metadata including amount, creation time, and generation time."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/get-browser-names-breakdown": {
      "get": {
        "operationId": "simpleAnalytics.get-browser-names-breakdown",
        "summary": "Get Browser Names Breakdown",
        "description": "Retrieves a browser breakdown from Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/get-browser-names-breakdown"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "browser_names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Top browser names with aggregated pageviews and visitors."
                          },
                          "docs": {
                            "type": "string",
                            "description": "Documentation URL returned by the API."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp for the requested reporting window."
                          },
                          "generated_in_ms": {
                            "type": "number",
                            "description": "Server-side generation time in milliseconds."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Hostname queried for analytics."
                          },
                          "info": {
                            "type": "boolean",
                            "description": "Whether informational fields are included."
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether the browser names breakdown response is valid."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path segment covered by the report."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp for the requested reporting window."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone applied to the report."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical website URL."
                          },
                          "version": {
                            "type": "number",
                            "description": "Simple Analytics API version used for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/get-countries-breakdown": {
      "get": {
        "operationId": "simpleAnalytics.get-countries-breakdown",
        "summary": "Get Countries Breakdown",
        "description": "Retrieves a country breakdown from Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/get-countries-breakdown"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Top countries with aggregated pageviews and visitors."
                          },
                          "docs": {
                            "type": "string",
                            "description": "Documentation URL returned by the API."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp for the requested reporting window."
                          },
                          "generated_in_ms": {
                            "type": "number",
                            "description": "Server-side generation time in milliseconds."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Hostname queried for analytics."
                          },
                          "info": {
                            "type": "boolean",
                            "description": "Whether informational fields are included."
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether the countries breakdown response is valid."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path segment covered by the report."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp for the requested reporting window."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone applied to the report."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical website URL."
                          },
                          "version": {
                            "type": "number",
                            "description": "Simple Analytics API version used for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/get-device-types-breakdown": {
      "get": {
        "operationId": "simpleAnalytics.get-device-types-breakdown",
        "summary": "Get Device Types Breakdown",
        "description": "Retrieves a device type breakdown from Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/get-device-types-breakdown"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "device_types": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Top device types with aggregated pageviews and visitors."
                          },
                          "docs": {
                            "type": "string",
                            "description": "Documentation URL returned by the API."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp for the requested reporting window."
                          },
                          "generated_in_ms": {
                            "type": "number",
                            "description": "Server-side generation time in milliseconds."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Hostname queried for analytics."
                          },
                          "info": {
                            "type": "boolean",
                            "description": "Whether informational fields are included."
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether the device types breakdown response is valid."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path segment covered by the report."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp for the requested reporting window."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone applied to the report."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical website URL."
                          },
                          "version": {
                            "type": "number",
                            "description": "Simple Analytics API version used for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/get-event-counts": {
      "get": {
        "operationId": "simpleAnalytics.get-event-counts",
        "summary": "Get Event Counts",
        "description": "Retrieves specified event counts from Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/get-event-counts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "description": "Website hostname to query, for example `simpleanalytics.com`.",
            "schema": {
              "type": "string",
              "description": "Website hostname to query, for example `simpleanalytics.com`."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start date or placeholder such as `yesterday`.",
            "schema": {
              "type": "string",
              "description": "Start date or placeholder such as `yesterday`."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End date or placeholder such as `today`.",
            "schema": {
              "type": "string",
              "description": "End date or placeholder such as `today`."
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA time zone such as `Europe/Amsterdam`.",
            "schema": {
              "type": "string",
              "description": "IANA time zone such as `Europe/Amsterdam`."
            }
          },
          {
            "name": "events",
            "in": "query",
            "required": true,
            "description": "Comma-separated event names, or `*` for all events.",
            "schema": {
              "type": "string",
              "description": "Comma-separated event names, or `*` for all events."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docs": {
                            "type": "string",
                            "description": "Documentation URL returned by the API."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp for the requested reporting window."
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Event totals returned for the requested selector."
                          },
                          "generated_in_ms": {
                            "type": "number",
                            "description": "Server-side generation time in milliseconds."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Hostname queried for analytics."
                          },
                          "info": {
                            "type": "boolean",
                            "description": "Whether informational fields are included."
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether the event report response is valid."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path segment covered by the report."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp for the requested reporting window."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone applied to the report."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical website URL."
                          },
                          "version": {
                            "type": "number",
                            "description": "Simple Analytics API version used for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/get-filtered-stats": {
      "get": {
        "operationId": "simpleAnalytics.get-filtered-stats",
        "summary": "Get Filtered Stats",
        "description": "Retrieves filtered stats from Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/get-filtered-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "description": "Website hostname to query.",
            "schema": {
              "type": "string",
              "description": "Website hostname to query."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start date like 2026-04-01, today, or today-30d.",
            "schema": {
              "type": "string",
              "description": "Start date like 2026-04-01, today, or today-30d."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End date like 2026-04-14, yesterday, or today.",
            "schema": {
              "type": "string",
              "description": "End date like 2026-04-14, yesterday, or today."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit returned breakdown rows between 1 and 1000.",
            "schema": {
              "type": "string",
              "description": "Limit returned breakdown rows between 1 and 1000."
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "Timezone like Europe/Amsterdam or UTC.",
            "schema": {
              "type": "string",
              "description": "Timezone like Europe/Amsterdam or UTC."
            }
          },
          {
            "name": "info",
            "in": "query",
            "required": false,
            "description": "Include informational helper fields in the response.",
            "schema": {
              "type": "string",
              "description": "Include informational helper fields in the response."
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "Wrap the response in a JSONP callback.",
            "schema": {
              "type": "string",
              "description": "Wrap the response in a JSONP callback."
            }
          },
          {
            "name": "events",
            "in": "query",
            "required": false,
            "description": "Comma-separated event names or * to return all events.",
            "schema": {
              "type": "string",
              "description": "Comma-separated event names or * to return all events."
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Histogram interval: hour, day, week, month, or year.",
            "schema": {
              "type": "string",
              "description": "Histogram interval: hour, day, week, month, or year."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields like histogram,pages,countries or seconds_on_page.",
            "schema": {
              "type": "string",
              "description": "Comma-separated fields like histogram,pages,countries or seconds_on_page."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Filter by one page path.",
            "schema": {
              "type": "string",
              "description": "Filter by one page path."
            }
          },
          {
            "name": "pages",
            "in": "query",
            "required": false,
            "description": "Filter by comma-separated page paths or wildcard patterns.",
            "schema": {
              "type": "string",
              "description": "Filter by comma-separated page paths or wildcard patterns."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter by one country code.",
            "schema": {
              "type": "string",
              "description": "Filter by one country code."
            }
          },
          {
            "name": "referrer",
            "in": "query",
            "required": false,
            "description": "Filter by one normalized referrer.",
            "schema": {
              "type": "string",
              "description": "Filter by one normalized referrer."
            }
          },
          {
            "name": "utm_source",
            "in": "query",
            "required": false,
            "description": "Filter by one UTM source.",
            "schema": {
              "type": "string",
              "description": "Filter by one UTM source."
            }
          },
          {
            "name": "utm_medium",
            "in": "query",
            "required": false,
            "description": "Filter by one UTM medium.",
            "schema": {
              "type": "string",
              "description": "Filter by one UTM medium."
            }
          },
          {
            "name": "utm_campaign",
            "in": "query",
            "required": false,
            "description": "Filter by one UTM campaign.",
            "schema": {
              "type": "string",
              "description": "Filter by one UTM campaign."
            }
          },
          {
            "name": "utm_content",
            "in": "query",
            "required": false,
            "description": "Filter by one UTM content.",
            "schema": {
              "type": "string",
              "description": "Filter by one UTM content."
            }
          },
          {
            "name": "utm_term",
            "in": "query",
            "required": false,
            "description": "Filter by one UTM term.",
            "schema": {
              "type": "string",
              "description": "Filter by one UTM term."
            }
          },
          {
            "name": "browser_name",
            "in": "query",
            "required": false,
            "description": "Filter by one browser name.",
            "schema": {
              "type": "string",
              "description": "Filter by one browser name."
            }
          },
          {
            "name": "os_name",
            "in": "query",
            "required": false,
            "description": "Filter by one operating system name.",
            "schema": {
              "type": "string",
              "description": "Filter by one operating system name."
            }
          },
          {
            "name": "device_type",
            "in": "query",
            "required": false,
            "description": "Filter by one device type.",
            "schema": {
              "type": "string",
              "description": "Filter by one device type."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/get-histogram": {
      "get": {
        "operationId": "simpleAnalytics.get-histogram",
        "summary": "Get Histogram",
        "description": "Retrieves histogram stats for a website in Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/get-histogram"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docs": {
                            "type": "string",
                            "description": "Documentation URL returned by the API."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp for the requested reporting window."
                          },
                          "generated_in_ms": {
                            "type": "number",
                            "description": "Server-side generation time in milliseconds."
                          },
                          "histogram": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Daily histogram buckets with pageviews and visitors."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Hostname queried for analytics."
                          },
                          "info": {
                            "type": "boolean",
                            "description": "Whether informational fields are included."
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether the histogram response is valid."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path segment covered by the report."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp for the requested reporting window."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone applied to the report."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical website URL."
                          },
                          "version": {
                            "type": "number",
                            "description": "Simple Analytics API version used for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleAnalytics/latest/actions/get-os-names-breakdown": {
      "get": {
        "operationId": "simpleAnalytics.get-os-names-breakdown",
        "summary": "Get OS Names Breakdown",
        "description": "Retrieves an operating system breakdown from Simple Analytics.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleAnalytics/latest/actions/get-os-names-breakdown"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docs": {
                            "type": "string",
                            "description": "Documentation URL returned by the API."
                          },
                          "end": {
                            "type": "string",
                            "description": "End timestamp for the requested reporting window."
                          },
                          "generated_in_ms": {
                            "type": "number",
                            "description": "Server-side generation time in milliseconds."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Hostname queried for analytics."
                          },
                          "info": {
                            "type": "boolean",
                            "description": "Whether informational fields are included."
                          },
                          "ok": {
                            "type": "boolean",
                            "description": "Whether the operating system breakdown response is valid."
                          },
                          "os_names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Top operating systems with aggregated pageviews and visitors."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path segment covered by the report."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start timestamp for the requested reporting window."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone applied to the report."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical website URL."
                          },
                          "version": {
                            "type": "number",
                            "description": "Simple Analytics API version used for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
[...]
