{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TED Radio Hour Podcast Universal API",
    "version": "0.0.2",
    "description": "Browse TED Radio Hour episodes and podcast metadata from NPR"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tEDRadioHourPodcast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tEDRadioHourPodcast/latest/actions/list-episodes": {
      "get": {
        "operationId": "tEDRadioHourPodcast.list-episodes",
        "summary": "List Episodes",
        "description": "Retrieves episodes from the TED Radio Hour Podcast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tEDRadioHourPodcast/latest/actions/list-episodes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioLength": {
                            "type": "number",
                            "description": "Episode audio file length in bytes"
                          },
                          "audioType": {
                            "type": "string",
                            "description": "Episode audio MIME type"
                          },
                          "audioUrl": {
                            "type": "string",
                            "description": "Episode audio file URL"
                          },
                          "contentEncoded": {
                            "type": "string",
                            "description": "Full encoded episode content"
                          },
                          "description": {
                            "type": "string",
                            "description": "Episode description from the RSS feed"
                          },
                          "duration": {
                            "type": "number",
                            "description": "Episode duration in seconds"
                          },
                          "episodeType": {
                            "type": "string",
                            "description": "Episode type from the feed"
                          },
                          "explicit": {
                            "type": "string",
                            "description": "Explicit-content flag from the feed"
                          },
                          "guid": {
                            "type": "string",
                            "description": "Episode GUID"
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Episode image URL"
                          },
                          "link": {
                            "type": "string",
                            "description": "Canonical NPR episode URL"
                          },
                          "pubDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Episode publish date"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Episode thumbnail URL"
                          },
                          "title": {
                            "type": "string",
                            "description": "Episode title"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
