{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ninety.io Universal API",
    "version": "0.0.4",
    "description": "Access Ninety issues, to-dos, teams, scorecard measurables, rocks, and milestones through the Ninety Public API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ninetyio/latest/actions/create-issue": {
      "post": {
        "operationId": "ninetyio.create-issue",
        "summary": "Create Issue",
        "description": "Creates a new issue in Ninety.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/create-issue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "teamId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string"
                  },
                  "teamId": {
                    "type": "string"
                  },
                  "interval": {
                    "type": "string",
                    "description": "Issue classification"
                  },
                  "description": {
                    "type": "string",
                    "description": "HTML description of the Issue"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority level from 0 (none) to 5 (highest)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "archivedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdByUserId": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "deletedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Id": {
                            "type": "string"
                          },
                          "imported": {
                            "type": "boolean"
                          },
                          "intervalCode": {
                            "type": "string"
                          },
                          "numOfLikes": {
                            "type": "number"
                          },
                          "ordinal": {
                            "type": "number"
                          },
                          "planningBoardOrdinal": {
                            "type": "number"
                          },
                          "rating": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "freePlanNotificationDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "guideDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "guideEnabled": {
                                "type": "boolean"
                              },
                              "guideViewed": {
                                "type": "boolean"
                              },
                              "hasRubiconAccess": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "howCanWeHelpList": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "Id": {
                                "type": "string"
                              },
                              "inviteFailed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isHelpful": {
                                "type": "boolean"
                              },
                              "isImplementer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastOpenedNotificationFeedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "liteMeasurables": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "localMetadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "managerPermissionChangesNotificationDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "deleted": {
                                    "type": "boolean"
                                  },
                                  "Id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "object",
                                    "properties": {
                                      "first": {
                                        "type": "string"
                                      },
                                      "last": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pageViews": {
                                "type": "object",
                                "properties": {
                                  "userSettings": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "personId": {
                                "type": "string"
                              },
                              "personMetadataId": {
                                "type": "string"
                              },
                              "preImplementer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "primaryEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "renewalNotificationDismissedKey": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "roleCode": {
                                "type": "string"
                              },
                              "shouldInvite": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "signupCompanyRole": {
                                "type": "string"
                              },
                              "status": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tutorialsHidden": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedSubscriptionDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "V": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/create-milestone": {
      "post": {
        "operationId": "ninetyio.create-milestone",
        "summary": "Create Milestone",
        "description": "Creates a new milestone in Ninety.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/create-milestone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "rockId",
                  "title",
                  "dueDate",
                  "teamId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "rockId": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-06-30T23:59:59.000Z"
                  },
                  "teamId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the Milestone"
                  },
                  "userOrdinal": {
                    "type": "number",
                    "description": "The ordinal position of this Milestone for the user"
                  },
                  "toDoId": {
                    "type": "string",
                    "description": "The Id of a related To-Do item, if any"
                  },
                  "isDone": {
                    "type": "boolean",
                    "description": "True if the Milestone is already done at creation time"
                  },
                  "completedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date the Milestone was completed"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Id": {
                            "type": "string"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "isDone": {
                            "type": "boolean"
                          },
                          "ownedByUserId": {
                            "type": "string"
                          },
                          "rockId": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "toDoId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "userOrdinal": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/create-rock": {
      "post": {
        "operationId": "ninetyio.create-rock",
        "summary": "Create Rock",
        "description": "Creates a new rock in Ninety.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/create-rock"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "teamId",
                  "title",
                  "dueDate",
                  "statusCode",
                  "levelCode",
                  "quarter"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "teamId": {
                    "type": "string",
                    "description": "The Id of the team the Rock belongs to"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the Rock",
                    "example": "Launch new customer onboarding flow"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The due date of the Rock (ISO 8601)",
                    "example": "2026-06-30T23:59:59.000Z"
                  },
                  "statusCode": {
                    "type": "string",
                    "description": "The status of the Rock: OFF_TRACK, ON_TRACK, DONE, or CANCELED",
                    "enum": [
                      "CANCELED",
                      "DONE",
                      "OFF_TRACK",
                      "ON_TRACK"
                    ]
                  },
                  "levelCode": {
                    "type": "string",
                    "description": "The level of the Rock: USER, COMPANY_AND_DEPARTMENT, COMPANY, or DEPARTMENT",
                    "enum": [
                      "COMPANY",
                      "COMPANY_AND_DEPARTMENT",
                      "DEPARTMENT",
                      "USER"
                    ]
                  },
                  "quarter": {
                    "type": "string",
                    "description": "The quarter associated with the Rock: Q1, Q2, Q3, Q4, or None",
                    "enum": [
                      "None",
                      "Q1",
                      "Q2",
                      "Q3",
                      "Q4"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the Rock",
                    "example": "Redesign the onboarding wizard to reduce drop-off by 20%"
                  },
                  "additionalTeamIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Additional team Ids that can also view this Rock"
                  },
                  "futureScope": {
                    "type": "string",
                    "description": "The future scope of the Rock: Current, Next, Later, or Future",
                    "enum": [
                      "Current",
                      "Future",
                      "Later",
                      "Next"
                    ]
                  },
                  "rockQuarterYearDueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The quarter-aligned year due date of the Rock (ISO 8601)",
                    "example": "2026-06-30T23:59:59.999Z"
                  },
                  "addCreatorToFollowersList": {
                    "type": "boolean",
                    "description": "When true, the authenticated user is added to the Rock's followers list",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "archivedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdByUserId": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "dueDateQuarter": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Id": {
                            "type": "string"
                          },
                          "levelCode": {
                            "type": "string"
                          },
                          "ordinal": {
                            "type": "number"
                          },
                          "planningBoardOrdinal": {
                            "type": "number"
                          },
                          "quarter": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userOrdinal": {
                            "type": "number"
                          },
                          "V": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/create-todo": {
      "post": {
        "operationId": "ninetyio.create-todo",
        "summary": "Create To-Do",
        "description": "Creates a new to-do in Ninety.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/create-todo"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the To-Do"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Due date in YYYY-MM-DD format"
                  },
                  "teamId": {
                    "type": "string",
                    "description": "The Id of the team to assign this To-Do to"
                  },
                  "repeat": {
                    "type": "string",
                    "description": "Recurrence pattern for the To-Do"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Id of the user to assign the To-Do to"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "archivedByUserId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "archivedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoGenerated": {
                            "type": "boolean"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedByUserId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "completedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdByUserId": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "deletedByUserId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "dueDateChanged": {
                            "type": "boolean"
                          },
                          "followers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Id": {
                            "type": "string"
                          },
                          "imported": {
                            "type": "boolean"
                          },
                          "isPersonal": {
                            "type": "boolean"
                          },
                          "milestoneId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ordinal": {
                            "type": "number"
                          },
                          "originalDueDate": {
                            "type": "string"
                          },
                          "repeat": {
                            "type": "string"
                          },
                          "seriesId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "teamId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userOrdinal": {
                            "type": "number"
                          },
                          "Version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/delete-issue": {
      "delete": {
        "operationId": "ninetyio.delete-issue",
        "summary": "Delete Issue",
        "description": "Deletes an existing issue from Ninety.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/delete-issue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueId",
            "in": "query",
            "required": true,
            "description": "The Issue Id",
            "schema": {
              "type": "string",
              "description": "The Issue Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/delete-measurable-note": {
      "delete": {
        "operationId": "ninetyio.delete-measurable-note",
        "summary": "Delete Measurable Note",
        "description": "Deletes a measurable note from Ninety.io for a period.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/delete-measurable-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kpiId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/delete-measurable-score": {
      "delete": {
        "operationId": "ninetyio.delete-measurable-score",
        "summary": "Delete Measurable Score",
        "description": "Deletes a measurable score from Ninety.io for a period.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/delete-measurable-score"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kpiId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/delete-rock": {
      "delete": {
        "operationId": "ninetyio.delete-rock",
        "summary": "Delete Rock",
        "description": "Soft-deletes an existing rock in Ninety.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/delete-rock"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/delete-todo": {
      "delete": {
        "operationId": "ninetyio.delete-todo",
        "summary": "Delete To-Do",
        "description": "Deletes an existing to-do from Ninety.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/delete-todo"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The To-Do Id",
            "schema": {
              "type": "string",
              "description": "The To-Do Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/get-issue-by-id": {
      "get": {
        "operationId": "ninetyio.get-issue-by-id",
        "summary": "Get Issue by Id",
        "description": "Retrieves an issue from Ninety.io by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/get-issue-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueId",
            "in": "query",
            "required": true,
            "description": "The Issue Id",
            "schema": {
              "type": "string",
              "description": "The Issue Id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "archivedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdByUserId": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Id": {
                            "type": "string"
                          },
                          "imported": {
                            "type": "boolean"
                          },
                          "intervalCode": {
                            "type": "string"
                          },
                          "numOfLikes": {
                            "type": "number"
                          },
                          "ordinal": {
                            "type": "number"
                          },
                          "originalDueDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "planningBoardOrdinal": {
                            "type": "number"
                          },
                          "rating": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "freePlanNotificationDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "guideDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "guideEnabled": {
                                "type": "boolean"
                              },
                              "guideViewed": {
                                "type": "boolean"
                              },
                              "hasRubiconAccess": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "howCanWeHelpList": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "Id": {
                                "type": "string"
                              },
                              "inviteFailed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isHelpful": {
                                "type": "boolean"
                              },
                              "isImplementer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastOpenedNotificationFeedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "liteMeasurables": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "localMetadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "managerPermissionChangesNotificationDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "deleted": {
                                    "type": "boolean"
                                  },
                                  "Id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "object",
                                    "properties": {
                                      "first": {
                                        "type": "string"
                                      },
                                      "last": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pageViews": {
                                "type": "object",
                                "properties": {
                                  "userSettings": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "personId": {
                                "type": "string"
                              },
                              "personMetadataId": {
                                "type": "string"
                              },
                              "preImplementer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "primaryEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "renewalNotificationDismissedKey": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "roleCode": {
                                "type": "string"
                              },
                              "shouldInvite": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "signupCompanyRole": {
                                "type": "string"
                              },
                              "status": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tutorialsHidden": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedSubscriptionDismissed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "V": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/get-milestone-by-id": {
      "get": {
        "operationId": "ninetyio.get-milestone-by-id",
        "summary": "Get Milestone by Id",
        "description": "Retrieves a milestone from Ninety.io by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/get-milestone-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninetyio/latest/actions/get-rock-by-id": {
      "get": {
        "operationId": "ninetyio.get-rock-by-id",
        "summary": "Get Rock by Id",
        "description": "Retrieves a rock from Ninety.io by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninetyio/latest/actions/get-rock-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "archivedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdByUserId": {
                            "type": "string"
                          },
[...]
