{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Kalent Universal API",
    "version": "0.0.5",
    "description": "Search millions of professional profiles with Kalent's live talent search API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/kalent/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/kalent/latest/actions/search-talents": {
      "get": {
        "operationId": "kalent.search-talents",
        "summary": "Search Talents",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kalent/latest/actions/search-talents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[]",
            "in": "query",
            "required": true,
            "description": "Required array of Kalent search filter objects. Each object follows the provider request shape and can include filterType, value, isRequired, isExcluded, isExactMatch, radius, and history.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Required array of Kalent search filter objects. Each object follows the provider request shape and can include filterType, value, isRequired, isExcluded, isExactMatch, radius, and history."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "relatedSearchTransactionIds[]",
            "in": "query",
            "required": false,
            "description": "Optional array of previous searchTransactionId values used by Kalent to continue searches without duplicate profiles.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional array of previous searchTransactionId values used by Kalent to continue searches without duplicate profiles.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "certifications": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Candidate certification entries."
                          },
                          "city": {
                            "type": "string",
                            "description": "Candidate city."
                          },
                          "country": {
                            "type": "string",
                            "description": "Candidate country."
                          },
                          "currentOrganization": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Current organization summary."
                          },
                          "educations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Candidate education entries."
                          },
                          "experiences": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Candidate work experience entries."
                          },
                          "firstname": {
                            "type": "string",
                            "description": "Candidate first name."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Candidate gender label."
                          },
                          "headline": {
                            "type": "string",
                            "description": "Candidate professional headline."
                          },
                          "id": {
                            "type": "string",
                            "description": "Kalent candidate identifier."
                          },
                          "interests": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Candidate interests."
                          },
                          "jobTitle": {
                            "type": "string",
                            "description": "Candidate current or primary job title."
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Candidate language entries."
                          },
                          "lastname": {
                            "type": "string",
                            "description": "Candidate last name."
                          },
                          "linkedinUrl": {
                            "type": "string",
                            "description": "Candidate LinkedIn profile URL."
                          },
                          "photoUrl": {
                            "type": "string",
                            "description": "Candidate profile photo URL."
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Candidate skill labels."
                          },
                          "state": {
                            "type": "string",
                            "description": "Candidate state or region."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Candidate summary or profile bio."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
