{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BILL Spend & Expense Universal API",
    "version": "0.0.4",
    "description": "Manage BILL Spend & Expense budgets, users, cards, transactions, and reimbursements."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/bILLSpendExpense/latest/actions/add-reimbursement-receipt": {
      "post": {
        "operationId": "bILLSpendExpense.add-reimbursement-receipt",
        "summary": "Add Reimbursement Receipt",
        "description": "Adds a receipt to a reimbursement in BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/add-reimbursement-receipt"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "filename",
                  "reimbursementId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Receipt file name."
                  },
                  "reimbursementId": {
                    "type": "string",
                    "description": "BILL-generated ID or UUID of the reimbursement."
                  },
                  "url": {
                    "type": "string",
                    "description": "Uploaded receipt URL returned by the reimbursement upload URL flow."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/create-budget": {
      "post": {
        "operationId": "bILLSpendExpense.create-budget",
        "summary": "Create Budget",
        "description": "Creates a new budget in BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/create-budget"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "owners[]",
                  "recurringInterval",
                  "limit"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string",
                    "description": "Budget description."
                  },
                  "name": {
                    "type": "string",
                    "description": "Budget name."
                  },
                  "owners[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of BILL-generated user IDs or UUIDs of budget owners. You must specify at least one budget owner."
                  },
                  "recurringInterval": {
                    "type": "string",
                    "description": "Interval after which the budget is reset.",
                    "enum": [
                      "DAILY",
                      "MONTHLY",
                      "NONE",
                      "QUARTERLY",
                      "WEEKLY",
                      "YEARLY"
                    ]
                  },
                  "limit": {
                    "type": "number",
                    "description": "Spend limit for the initial budget period. Required unless limitless overspend is enabled."
                  },
                  "recurringLimit": {
                    "type": "number",
                    "description": "Spend limit for all future budget periods. Required when recurring interval is not NONE."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoAddUsers": {
                            "type": "boolean"
                          },
                          "budgetGroup": {
                            "type": "boolean"
                          },
                          "carryOver": {
                            "type": "boolean"
                          },
                          "currentPeriod": {
                            "type": "object",
                            "properties": {
                              "assigned": {
                                "type": "number"
                              },
                              "limit": {
                                "type": "number"
                              },
                              "spent": {
                                "type": "object",
                                "properties": {
                                  "cleared": {
                                    "type": "number"
                                  },
                                  "pending": {
                                    "type": "number"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "startDate": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "limitlessOverspend": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "receiptRequired": {
                            "type": "boolean"
                          },
                          "recurringInterval": {
                            "type": "string"
                          },
                          "recurringLimit": {
                            "type": "number"
                          },
                          "retired": {
                            "type": "boolean"
                          },
                          "shareFunds": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/create-reimbursement": {
      "post": {
        "operationId": "bILLSpendExpense.create-reimbursement",
        "summary": "Create Reimbursement",
        "description": "Creates a new reimbursement in BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/create-reimbursement"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "budgetId",
                  "merchantName",
                  "note",
                  "occurredDate",
                  "userId",
                  "receiptUrl",
                  "receiptFilename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Reimbursement amount."
                  },
                  "budgetId": {
                    "type": "string",
                    "description": "BILL-generated ID of the budget used for the reimbursement."
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom field objects and values for the reimbursement."
                  },
                  "merchantName": {
                    "type": "string",
                    "description": "Merchant name for the expense."
                  },
                  "note": {
                    "type": "string",
                    "description": "Business purpose for the expense."
                  },
                  "occurredDate": {
                    "type": "string",
                    "description": "Expense date in yyyy-MM-dd format, for example 2026-10-15.",
                    "example": "yyyy-MM-dd"
                  },
                  "userId": {
                    "type": "string",
                    "description": "BILL-generated ID of the user to be reimbursed."
                  },
                  "receiptUrl": {
                    "type": "string",
                    "description": "Use the upload URL returned by Create Reimbursement Upload URL after uploading the JPG or PNG receipt image to that URL."
                  },
                  "receiptFilename": {
                    "type": "string",
                    "description": "Receipt file name with extension, for example receipt.jpg or receipt.png. BILL stores this together with the uploaded receipt URL."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "budgetId": {
                            "type": "string"
                          },
                          "budgetUuid": {
                            "type": "string"
                          },
                          "fundRequestAmount": {
                            "type": "number"
                          },
                          "fundRequestBudgetAmount": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "merchantName": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "occurredDate": {
                            "type": "string"
                          },
                          "receipts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filename": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "retired": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusHistory": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "actorId": {
                                  "type": "string"
                                },
                                "actorRole": {
                                  "type": "string"
                                },
                                "note": {
                                  "type": "string"
                                },
                                "occurredTime": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "submittedTime": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/create-reimbursement-upload-url": {
      "post": {
        "operationId": "bILLSpendExpense.create-reimbursement-upload-url",
        "summary": "Create Reimbursement Upload URL",
        "description": "Creates a reimbursement upload URL in BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/create-reimbursement-upload-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/create-user": {
      "post": {
        "operationId": "bILLSpendExpense.create-user",
        "summary": "Create User",
        "description": "Creates a new user in BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "firstName",
                  "lastName",
                  "role"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "User email address."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "User first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "User last name."
                  },
                  "role": {
                    "type": "string",
                    "description": "User role."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hasDateOfBirth": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "retired": {
                            "type": "boolean"
                          },
                          "role": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/create-vendor-card": {
      "post": {
        "operationId": "bILLSpendExpense.create-vendor-card",
        "summary": "Create Vendor Card",
        "description": "Creates a new vendor card in BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/create-vendor-card"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "budgetId",
                  "userId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "expirationDate": {
                    "type": "string",
                    "description": "User-generated expiration date in yyyy-MM-dd format."
                  },
                  "name": {
                    "type": "string",
                    "description": "Card name."
                  },
                  "budgetId": {
                    "type": "string",
                    "description": "BILL-generated ID or UUID of the budget assigned to the card."
                  },
                  "userId": {
                    "type": "string",
                    "description": "BILL-generated ID or UUID of the user assigned to the card."
                  },
                  "shareBudgetFunds": {
                    "type": "boolean",
                    "description": "Set true to share all budget funds with the card."
                  },
                  "limit": {
                    "type": "number",
                    "description": "Card spend limit for the current budget period. Required unless share budget funds is enabled."
                  },
                  "recurringLimit": {
                    "type": "number",
                    "description": "Card spend limit for all future budget periods when the assigned budget is recurring."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "budgetId": {
                            "type": "string"
                          },
                          "budgetUuid": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "currentPeriod": {
                            "type": "object",
                            "properties": {
                              "limit": {
                                "type": "number"
                              },
                              "spent": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastFour": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "recurring": {
                            "type": "boolean"
                          },
                          "recurringLimit": {
                            "type": "number"
                          },
                          "shareBudgetFunds": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedTime": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "validThru": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/delete-budget-member": {
      "delete": {
        "operationId": "bILLSpendExpense.delete-budget-member",
        "summary": "Delete Budget Member",
        "description": "Deletes an existing budget member from BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/delete-budget-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "budgetId",
            "in": "query",
            "required": true,
            "description": "BILL-generated ID or UUID of the budget.",
            "schema": {
              "type": "string",
              "description": "BILL-generated ID or UUID of the budget."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "BILL-generated ID or UUID of the user.",
            "schema": {
              "type": "string",
              "description": "BILL-generated ID or UUID of the user."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/get-budget": {
      "get": {
        "operationId": "bILLSpendExpense.get-budget",
        "summary": "Get Budget",
        "description": "Retrieves a budget from BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/get-budget"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "budgetId",
            "in": "query",
            "required": true,
            "description": "BILL-generated ID or UUID of the budget.",
            "schema": {
              "type": "string",
              "description": "BILL-generated ID or UUID of the budget."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoAddUsers": {
                            "type": "boolean"
                          },
                          "budgetGroup": {
                            "type": "boolean"
                          },
                          "carryOver": {
                            "type": "boolean"
                          },
                          "currentPeriod": {
                            "type": "object",
                            "properties": {
                              "assigned": {
                                "type": "number"
                              },
                              "endDate": {
                                "type": "string"
                              },
                              "limit": {
                                "type": "number"
                              },
                              "overspendBuffer": {
                                "type": "number"
                              },
                              "spent": {
                                "type": "object",
                                "properties": {
                                  "cleared": {
                                    "type": "number"
                                  },
                                  "pending": {
                                    "type": "number"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "startDate": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "default": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "limitlessOverspend": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "receiptRequired": {
                            "type": "boolean"
                          },
                          "recurringInterval": {
                            "type": "string"
                          },
                          "recurringLimit": {
                            "type": "number"
                          },
                          "retired": {
                            "type": "boolean"
                          },
                          "shareFunds": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/get-card": {
      "get": {
        "operationId": "bILLSpendExpense.get-card",
        "summary": "Get Card",
        "description": "Retrieves a vendor card from BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/get-card"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "query",
            "required": true,
            "description": "BILL-generated ID or UUID of the card.",
            "schema": {
              "type": "string",
              "description": "BILL-generated ID or UUID of the card."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "budgetId": {
                            "type": "string"
                          },
                          "budgetUuid": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "currentPeriod": {
                            "type": "object",
                            "properties": {
                              "limit": {
                                "type": "number"
                              },
                              "spent": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastFour": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "recurring": {
                            "type": "boolean"
                          },
                          "recurringLimit": {
                            "type": "number"
                          },
                          "shareBudgetFunds": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedTime": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "validThru": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/get-reimbursement": {
      "get": {
        "operationId": "bILLSpendExpense.get-reimbursement",
        "summary": "Get Reimbursement",
        "description": "Retrieves a reimbursement from BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/get-reimbursement"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reimbursementId",
            "in": "query",
            "required": true,
            "description": "BILL-generated ID or UUID of the reimbursement.",
            "schema": {
              "type": "string",
              "description": "BILL-generated ID or UUID of the reimbursement."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "budgetId": {
                            "type": "string"
                          },
                          "budgetUuid": {
                            "type": "string"
                          },
                          "fundRequestAmount": {
                            "type": "number"
                          },
                          "fundRequestBudgetAmount": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "merchantName": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "occurredDate": {
                            "type": "string"
                          },
                          "receipts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filename": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "retired": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusHistory": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "actorId": {
                                  "type": "string"
                                },
                                "actorRole": {
                                  "type": "string"
                                },
                                "note": {
                                  "type": "string"
                                },
                                "occurredTime": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "submittedTime": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/get-transaction": {
      "get": {
        "operationId": "bILLSpendExpense.get-transaction",
        "summary": "Get Transaction",
        "description": "Retrieves a transaction from BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/get-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showCustomFieldIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of custom field IDs or UUIDs to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of custom field IDs or UUIDs to include in the response."
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "required": true,
            "description": "BILL-generated ID or UUID of the transaction.",
            "schema": {
              "type": "string",
              "description": "BILL-generated ID or UUID of the transaction."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "authorizedTime": {
                            "type": "string"
                          },
                          "budgetId": {
                            "type": "string"
                          },
                          "budgetName": {
                            "type": "string"
                          },
                          "budgetUuid": {
                            "type": "string"
                          },
                          "cardId": {
                            "type": "string"
                          },
                          "cardLastFour": {
                            "type": "string"
                          },
                          "cardPresent": {
                            "type": "boolean"
                          },
                          "cardType": {
                            "type": "string"
                          },
                          "cardUuid": {
                            "type": "string"
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "fees": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "isParent": {
                            "type": "boolean"
                          },
                          "isReconciled": {
                            "type": "boolean"
                          },
                          "merchantCategoryCode": {
                            "type": "string"
                          },
                          "merchantName": {
                            "type": "string"
                          },
                          "network": {
                            "type": "string"
                          },
                          "occurredTime": {
                            "type": "string"
                          },
                          "originalAuthTransactionId": {
                            "type": "string"
                          },
                          "originalAuthTransactionUuid": {
                            "type": "string"
                          },
                          "rawMerchantName": {
                            "type": "string"
                          },
                          "receiptRequired": {
                            "type": "boolean"
                          },
                          "receiptStatus": {
                            "type": "string"
                          },
                          "receiptSyncStatus": {
                            "type": "string"
                          },
                          "reviewRequired": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transactedAmount": {
                            "type": "number"
                          },
                          "transactionType": {
                            "type": "string"
                          },
                          "updatedTime": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bILLSpendExpense/latest/actions/get-user": {
      "get": {
        "operationId": "bILLSpendExpense.get-user",
        "summary": "Get User",
        "description": "Retrieves a user from BILL Spend & Expense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bILLSpendExpense/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "BILL-generated ID or UUID of the user.",
            "schema": {
              "type": "string",
              "description": "BILL-generated ID or UUID of the user."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hasDateOfBirth": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "retired": {
                            "type": "boolean"
                          },
                          "role": {
                            "type": "string"
                          },
                          "smsOptIn": {
                            "type": "boolean"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
[...]
