{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "RealFaviconGenerator Universal API",
    "version": "0.1.3",
    "description": "RealFaviconGenerator creates favicon packages, HTML markup, and update metadata for browser and platform favicon support."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/realFaviconGenerator/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/realFaviconGenerator/latest/actions/list-change-log": {
      "get": {
        "operationId": "realFaviconGenerator.list-change-log",
        "summary": "List change log",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/realFaviconGenerator/latest/actions/list-change-log"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only return changes after this existing RealFaviconGenerator version, such as 0.5.",
            "schema": {
              "type": "string",
              "description": "Only return changes after this existing RealFaviconGenerator version, such as 0.5.",
              "example": "0.5"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Human-readable description format returned by the API.",
            "schema": {
              "type": "string",
              "description": "Human-readable description format returned by the API.",
              "enum": [
                "html",
                "markdown"
              ],
              "default": "html"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release date from the provider response."
                          },
                          "description": {
                            "type": "string",
                            "description": "Release description in the requested format."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Provider importance label."
                          },
                          "relevance": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Relevance flags for automated and manual updates."
                          },
                          "updateOrNot": {
                            "type": "string",
                            "description": "Provider guidance about whether to update."
                          },
                          "version": {
                            "type": "string",
                            "description": "RealFaviconGenerator package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/realFaviconGenerator/latest/actions/list-versions": {
      "get": {
        "operationId": "realFaviconGenerator.list-versions",
        "summary": "List versions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/realFaviconGenerator/latest/actions/list-versions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release date from the provider response."
                          },
                          "description": {
                            "type": "string",
                            "description": "Release description, returned as HTML by the versions endpoint."
                          },
                          "importance": {
                            "type": "string",
                            "description": "Provider importance label."
                          },
                          "relevance": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Relevance flags for automated and manual updates."
                          },
                          "updateOrNot": {
                            "type": "string",
                            "description": "Provider guidance about whether to update."
                          },
                          "version": {
                            "type": "string",
                            "description": "RealFaviconGenerator package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/realFaviconGenerator/latest/actions/start-favicon-generation": {
      "post": {
        "operationId": "realFaviconGenerator.start-favicon-generation",
        "summary": "Start favicon generation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/realFaviconGenerator/latest/actions/start-favicon-generation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "masterPictureType": {
                    "type": "string",
                    "description": "How the master favicon picture is supplied: no picture, URL, or inline Base64 content.",
                    "enum": [
                      "inline",
                      "no_picture",
                      "url"
                    ],
                    "default": "no_picture"
                  },
                  "masterPictureUrl": {
                    "type": "string",
                    "description": "URL of the source image when Master picture type is url.",
                    "example": "https://example.com/logo.png"
                  },
                  "masterPictureContent": {
                    "type": "string",
                    "description": "Base64-encoded image content when Master picture type is inline.",
                    "x-mindcloud-advanced": true
                  },
                  "demo": {
                    "type": "boolean",
                    "description": "When no master picture is supplied, show RealFaviconGenerator's demo option.",
                    "default": false
                  },
                  "filesLocationType": {
                    "type": "string",
                    "description": "How the favicon file deployment location is chosen.",
                    "enum": [
                      "no_location",
                      "path",
                      "root"
                    ],
                    "default": "no_location"
                  },
                  "filesLocationPath": {
                    "type": "string",
                    "description": "Deployment path when Files location type is path, such as /assets/icons.",
                    "example": "/assets/icons"
                  },
                  "callbackType": {
                    "type": "string",
                    "description": "Whether RealFaviconGenerator redirects to a callback URL or lets the user download directly.",
                    "enum": [
                      "none",
                      "url"
                    ],
                    "default": "none"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "URL RealFaviconGenerator redirects to after generation when Callback type is url.",
                    "example": "https://example.com/rfg-callback"
                  },
                  "shortUrl": {
                    "type": "boolean",
                    "description": "Return a json_result_url callback instead of embedding the JSON result in the callback URL.",
                    "default": false
                  },
                  "pathOnly": {
                    "type": "boolean",
                    "description": "When short callback URLs are enabled, return only a path so the receiver can prepend the RealFaviconGenerator host.",
                    "default": false
                  },
                  "customParameter": {
                    "type": "string",
                    "description": "Custom query-string fragment returned to the callback URL, such as ref=157539001.",
                    "example": "ref=157539001",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
