{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Microsoft Entra Universal API",
    "version": "0.0.1",
    "description": "Manage Microsoft Entra users, groups, memberships, and directory data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/microsoftEntra/latest/actions/create-group": {
      "post": {
        "operationId": "microsoftEntra.create-group",
        "summary": "Create Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "displayName",
                  "mailEnabled",
                  "mailNickname",
                  "securityEnabled"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "mailEnabled": {
                    "type": "boolean"
                  },
                  "mailNickname": {
                    "type": "string"
                  },
                  "securityEnabled": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "groupTypes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Use Unified for a Microsoft 365 group; leave empty for an assigned security group. Dynamic groups require additional configuration."
                  },
                  "members[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Full Microsoft Graph resource URLs, such as https://graph.microsoft.com/v1.0/users/{id}."
                  },
                  "owners[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Full Microsoft Graph resource URLs, such as https://graph.microsoft.com/v1.0/users/{id}."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "expirationDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAssignableToRole": {
                            "type": "boolean"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mailEnabled": {
                            "type": "boolean"
                          },
                          "mailNickname": {
                            "type": "string"
                          },
                          "membershipRule": {
                            "type": "string"
                          },
                          "membershipRuleProcessingState": {
                            "type": "string"
                          },
                          "onPremisesDomainName": {
                            "type": "string"
                          },
                          "onPremisesLastSyncDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "onPremisesNetBiosName": {
                            "type": "string"
                          },
                          "onPremisesSamAccountName": {
                            "type": "string"
                          },
                          "onPremisesSecurityIdentifier": {
                            "type": "string"
                          },
                          "onPremisesSyncEnabled": {
                            "type": "boolean"
                          },
                          "preferredDataLocation": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "renewedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "securityEnabled": {
                            "type": "boolean"
                          },
                          "securityIdentifier": {
                            "type": "string"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "uniqueName": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/create-user": {
      "post": {
        "operationId": "microsoftEntra.create-user",
        "summary": "Create User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "displayName",
                  "passwordProfile.password",
                  "userPrincipalName",
                  "mailNickname",
                  "accountEnabled",
                  "passwordProfile"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "displayName": {
                    "type": "string",
                    "example": "Ava T."
                  },
                  "passwordProfile.password": {
                    "type": "string"
                  },
                  "passwordProfile.forceChangePasswordNextSignIn": {
                    "type": "boolean",
                    "example": true
                  },
                  "userPrincipalName": {
                    "type": "string",
                    "description": "The domain must be a verified domain in your tenant.",
                    "example": "ava@contoso.com"
                  },
                  "mailNickname": {
                    "type": "string",
                    "example": "ava"
                  },
                  "accountEnabled": {
                    "type": "boolean",
                    "example": false
                  },
                  "passwordProfile": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "onPremisesImmutableId": {
                    "type": "string",
                    "description": "Required when the user's sign-in domain is federated.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "givenName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mobilePhone": {
                            "type": "string"
                          },
                          "officeLocation": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "surname": {
                            "type": "string"
                          },
                          "userPrincipalName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/delete-user": {
      "delete": {
        "operationId": "microsoftEntra.delete-user",
        "summary": "Delete User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87d349ed-44d7-43e1-9a83-5f2406dee5bd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/get-group": {
      "get": {
        "operationId": "microsoftEntra.get-group",
        "summary": "Get Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/get-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "expirationDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAssignableToRole": {
                            "type": "boolean"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mailEnabled": {
                            "type": "boolean"
                          },
                          "mailNickname": {
                            "type": "string"
                          },
                          "membershipRule": {
                            "type": "string"
                          },
                          "membershipRuleProcessingState": {
                            "type": "string"
                          },
                          "onPremisesDomainName": {
                            "type": "string"
                          },
                          "onPremisesLastSyncDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "onPremisesNetBiosName": {
                            "type": "string"
                          },
                          "onPremisesSamAccountName": {
                            "type": "string"
                          },
                          "onPremisesSecurityIdentifier": {
                            "type": "string"
                          },
                          "onPremisesSyncEnabled": {
                            "type": "boolean"
                          },
                          "preferredDataLocation": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "renewedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "securityEnabled": {
                            "type": "boolean"
                          },
                          "securityIdentifier": {
                            "type": "string"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "uniqueName": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/get-organization": {
      "get": {
        "operationId": "microsoftEntra.get-organization",
        "summary": "Get Organization",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/get-organization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "6896b3d0-16dc-41bb-b79b-1f5c12b26cde"
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated organization properties to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated organization properties to return.",
              "example": "id,displayName",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedPlans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "assignedDateTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "capabilityStatus": {
                                  "type": "string"
                                },
                                "service": {
                                  "type": "string"
                                },
                                "servicePlanId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "businessPhones": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryLetterCode": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "defaultUsageLocation": {
                            "type": "string"
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "directorySizeQuota": {
                            "type": "object",
                            "properties": {
                              "total": {
                                "type": "number"
                              },
                              "used": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isMultipleDataLocationsForServicesEnabled": {
                            "type": "boolean"
                          },
                          "onPremisesLastSyncDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "onPremisesSyncEnabled": {
                            "type": "boolean"
                          },
                          "partnerTenantType": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "privacyProfile": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "provisionedPlans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "capabilityStatus": {
                                  "type": "string"
                                },
                                "provisioningStatus": {
                                  "type": "string"
                                },
                                "service": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "state": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "technicalNotificationMails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tenantType": {
                            "type": "string"
                          },
                          "verifiedDomains": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "capabilities": {
                                  "type": "string"
                                },
                                "isDefault": {
                                  "type": "boolean"
                                },
                                "isInitial": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/get-user": {
      "get": {
        "operationId": "microsoftEntra.get-user",
        "summary": "Get User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated properties, such as id,displayName.",
            "schema": {
              "type": "string",
              "description": "Comma-separated properties, such as id,displayName.",
              "example": "id,displayName",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87d349ed-44d7-43e1-9a83-5f2406dee5bd"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "givenName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mobilePhone": {
                            "type": "string"
                          },
                          "officeLocation": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "surname": {
                            "type": "string"
                          },
                          "userPrincipalName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/get-user-manager": {
      "get": {
        "operationId": "microsoftEntra.get-user-manager",
        "summary": "Get User Manager",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/get-user-manager"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The user's ID or user principal name.",
            "schema": {
              "type": "string",
              "description": "The user's ID or user principal name."
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated properties to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated properties to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "An OData expansion expression.",
            "schema": {
              "type": "string",
              "description": "An OData expansion expression.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "userPrincipalName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/list-group-memberships": {
      "get": {
        "operationId": "microsoftEntra.list-group-memberships",
        "summary": "List Group Memberships",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/list-group-memberships"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData filter expression; requires Include Count.",
            "schema": {
              "type": "string",
              "description": "OData filter expression; requires Include Count."
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search displayName or description; requires Include Count.",
            "schema": {
              "type": "string",
              "description": "Search displayName or description; requires Include Count."
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated property names.",
            "schema": {
              "type": "string",
              "description": "Comma-separated property names.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Required for advanced directory queries.",
            "schema": {
              "type": "boolean",
              "description": "Required for advanced directory queries."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "expirationDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAssignableToRole": {
                            "type": "boolean"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mailEnabled": {
                            "type": "boolean"
                          },
                          "mailNickname": {
                            "type": "string"
                          },
                          "membershipRule": {
                            "type": "string"
                          },
                          "membershipRuleProcessingState": {
                            "type": "string"
                          },
                          "onPremisesDomainName": {
                            "type": "string"
                          },
                          "onPremisesLastSyncDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "onPremisesNetBiosName": {
                            "type": "string"
                          },
                          "onPremisesSamAccountName": {
                            "type": "string"
                          },
                          "onPremisesSecurityIdentifier": {
                            "type": "string"
                          },
                          "onPremisesSyncEnabled": {
                            "type": "boolean"
                          },
                          "preferredDataLocation": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "renewedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "securityEnabled": {
                            "type": "boolean"
                          },
                          "securityIdentifier": {
                            "type": "string"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "uniqueName": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/list-group-transitive-memberships": {
      "get": {
        "operationId": "microsoftEntra.list-group-transitive-memberships",
        "summary": "List Group Transitive Memberships",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/list-group-transitive-memberships"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData filter expression; requires Include Count.",
            "schema": {
              "type": "string",
              "description": "OData filter expression; requires Include Count."
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search displayName or description; requires Include Count.",
            "schema": {
              "type": "string",
              "description": "Search displayName or description; requires Include Count."
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated property names.",
            "schema": {
              "type": "string",
              "description": "Comma-separated property names.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Required for advanced directory queries.",
            "schema": {
              "type": "boolean",
              "description": "Required for advanced directory queries."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "expirationDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAssignableToRole": {
                            "type": "boolean"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mailEnabled": {
                            "type": "boolean"
                          },
                          "mailNickname": {
                            "type": "string"
                          },
                          "membershipRule": {
                            "type": "string"
                          },
                          "membershipRuleProcessingState": {
                            "type": "string"
                          },
                          "onPremisesDomainName": {
                            "type": "string"
                          },
                          "onPremisesLastSyncDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "onPremisesNetBiosName": {
                            "type": "string"
                          },
                          "onPremisesSamAccountName": {
                            "type": "string"
                          },
                          "onPremisesSecurityIdentifier": {
                            "type": "string"
                          },
                          "onPremisesSyncEnabled": {
                            "type": "boolean"
                          },
                          "preferredDataLocation": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "renewedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "securityEnabled": {
                            "type": "boolean"
                          },
                          "securityIdentifier": {
                            "type": "string"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "uniqueName": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/list-groups": {
      "get": {
        "operationId": "microsoftEntra.list-groups",
        "summary": "List Groups",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/list-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData filter expression; advanced queries require Include Count.",
            "schema": {
              "type": "string",
              "description": "OData filter expression; advanced queries require Include Count."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search expression, such as \"displayName:Sales\"; requires Include Count.",
            "schema": {
              "type": "string",
              "description": "Search expression, such as \"displayName:Sales\"; requires Include Count."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Required for advanced directory queries.",
            "schema": {
              "type": "boolean",
              "description": "Required for advanced directory queries."
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated group properties.",
            "schema": {
              "type": "string",
              "description": "Comma-separated group properties.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Related resources to include; incompatible with advanced queries.",
            "schema": {
              "type": "string",
              "description": "Related resources to include; incompatible with advanced queries.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "expirationDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAssignableToRole": {
                            "type": "boolean"
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mailEnabled": {
                            "type": "boolean"
                          },
                          "mailNickname": {
                            "type": "string"
                          },
                          "membershipRule": {
                            "type": "string"
                          },
                          "membershipRuleProcessingState": {
                            "type": "string"
                          },
                          "onPremisesDomainName": {
                            "type": "string"
                          },
                          "onPremisesLastSyncDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "onPremisesNetBiosName": {
                            "type": "string"
                          },
                          "onPremisesSamAccountName": {
                            "type": "string"
                          },
                          "onPremisesSecurityIdentifier": {
                            "type": "string"
                          },
                          "onPremisesSyncEnabled": {
                            "type": "boolean"
                          },
                          "preferredDataLocation": {
                            "type": "string"
                          },
                          "preferredLanguage": {
                            "type": "string"
                          },
                          "renewedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "securityEnabled": {
                            "type": "boolean"
                          },
                          "securityIdentifier": {
                            "type": "string"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "uniqueName": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftEntra/latest/actions/list-organizations": {
      "get": {
        "operationId": "microsoftEntra.list-organizations",
        "summary": "List Organizations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftEntra/latest/actions/list-organizations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated organization properties to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated organization properties to return.",
              "example": "id,displayName,verifiedDomains",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedPlans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "assignedDateTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "capabilityStatus": {
                                  "type": "string"
                                },
                                "service": {
                                  "type": "string"
                                },
                                "servicePlanId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "businessPhones": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryLetterCode": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "defaultUsageLocation": {
                            "type": "string"
                          },
                          "deletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "directorySizeQuota": {
                            "type": "object",
                            "properties": {
                              "total": {
                                "type": "number"
                              },
                              "used": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isMultipleDataLocationsForServicesEnabled": {
                            "type": "boolean"
                          },
                          "onPremisesLastSyncDateTime": {
[...]
