{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Nucleus One Universal API",
    "version": "0.0.7",
    "description": "Access Nucleus One organizations, projects, documents, folders, tasks, comments, forms, approvals, and related workflow resources via the official REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nucleusOne/latest/actions/get-organization-membership-package": {
      "get": {
        "operationId": "nucleusOne.get-organization-membership-package",
        "summary": "Get Organization Membership Package",
        "description": "Retrieves organization membership details from Nucleus One.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/get-organization-membership-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization",
            "schema": {
              "type": "string",
              "description": "ID of the organization",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "Expiration": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "FreeUsers": {
                            "type": "number"
                          },
                          "IsAdmin": {
                            "type": "boolean"
                          },
                          "IsExpired": {
                            "type": "boolean"
                          },
                          "IsExpiringSoon": {
                            "type": "boolean"
                          },
                          "Organization": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "OrganizationMember": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "UserID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/get-organization-permissions": {
      "get": {
        "operationId": "nucleusOne.get-organization-permissions",
        "summary": "Get Organization Permissions",
        "description": "Retrieves organization permissions from Nucleus One.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/get-organization-permissions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization",
            "schema": {
              "type": "string",
              "description": "ID of the organization",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "Disabled": {
                            "type": "boolean"
                          },
                          "IsAdmin": {
                            "type": "boolean"
                          },
                          "IsReadOnly": {
                            "type": "boolean"
                          },
                          "OrganizationID": {
                            "type": "string"
                          },
                          "OrganizationMemberID": {
                            "type": "string"
                          },
                          "OrganizationName": {
                            "type": "string"
                          },
                          "UserEmail": {
                            "type": "string"
                          },
                          "UserID": {
                            "type": "string"
                          },
                          "UserName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/get-project": {
      "get": {
        "operationId": "nucleusOne.get-project",
        "summary": "Get Project",
        "description": "Retrieves a project from Nucleus One.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "description": "Organization ID",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string",
              "description": "Project ID",
              "example": "Enter projectId"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "Access": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "AccessModifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "AccessType": {
                            "type": "string"
                          },
                          "AccessTypeModifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CreatedByUserEmail": {
                            "type": "string"
                          },
                          "CreatedByUserID": {
                            "type": "string"
                          },
                          "CreatedByUserName": {
                            "type": "string"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Disabled": {
                            "type": "boolean"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "IsMarkedForPurge": {
                            "type": "boolean"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "NameLower": {
                            "type": "string"
                          },
                          "OrganizationID": {
                            "type": "string"
                          },
                          "PurgeMarkedByUserEmail": {
                            "type": "string"
                          },
                          "PurgeMarkedByUserID": {
                            "type": "string"
                          },
                          "PurgeMarkedByUserName": {
                            "type": "string"
                          },
                          "PurgeMarkedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "SourceContentCopy": {
                            "type": "boolean"
                          },
                          "SourceID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/get-project-settings": {
      "get": {
        "operationId": "nucleusOne.get-project-settings",
        "summary": "Get Project Settings",
        "description": "Retrieves project settings from Nucleus One.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/get-project-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "description": "Organization ID",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string",
              "description": "Project ID",
              "example": "Enter projectId"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "AllowPublicDocumentFolders": {
                            "type": "boolean"
                          },
                          "DocumentRootLabel": {
                            "type": "string"
                          },
                          "ProjectAccess": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ProjectID": {
                            "type": "string"
                          },
                          "ProjectName": {
                            "type": "string"
                          },
                          "PublicCardActionBarBackgroundColor": {
                            "type": "string"
                          },
                          "PublicDefaultBackgroundColor": {
                            "type": "string"
                          },
                          "PublicFolderIconURL": {
                            "type": "string"
                          },
                          "PublicFontFamily": {
                            "type": "string"
                          },
                          "PublicFontURL": {
                            "type": "string"
                          },
                          "PublicPaneBackgroundColor": {
                            "type": "string"
                          },
                          "PublicPaperBackgroundColor": {
                            "type": "string"
                          },
                          "PublicPrimaryAccentColor": {
                            "type": "string"
                          },
                          "PublicPrimaryColor": {
                            "type": "string"
                          },
                          "PublicSecondaryAccentColor": {
                            "type": "string"
                          },
                          "PublicSecondaryColor": {
                            "type": "string"
                          },
                          "PublicToolBarBackgroundColor": {
                            "type": "string"
                          },
                          "PublicTreeNodeHighlightBackgroundColor": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/get-task-stats": {
      "get": {
        "operationId": "nucleusOne.get-task-stats",
        "summary": "Get Task Stats",
        "description": "Retrieves task statistics from a Nucleus One project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/get-task-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization",
            "schema": {
              "type": "string",
              "description": "ID of the organization",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "string",
              "description": "ID of the project",
              "example": "Enter projectId"
            }
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "description": "Include only active tasks",
            "schema": {
              "type": "boolean",
              "description": "Include only active tasks",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "completedOnly",
            "in": "query",
            "required": false,
            "description": "Include only completed tasks",
            "schema": {
              "type": "boolean",
              "description": "Include only completed tasks",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "deniedOnly",
            "in": "query",
            "required": false,
            "description": "Include only denied tasks",
            "schema": {
              "type": "boolean",
              "description": "Include only denied tasks",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "TotalDurationAsString": {
                            "type": "string"
                          },
                          "TotalDurationInMinutes": {
                            "type": "number"
                          },
                          "TotalInFilter": {
                            "type": "number"
                          },
                          "TotalOnTime": {
                            "type": "number"
                          },
                          "TotalPastDue": {
                            "type": "number"
                          },
                          "TotalUnscheduled": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/get-user-profile": {
      "get": {
        "operationId": "nucleusOne.get-user-profile",
        "summary": "Get User Profile",
        "description": "Retrieves the current user profile from Nucleus One.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/get-user-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "OTPSMSNumber": {
                            "type": "string"
                          },
                          "UserEmail": {
                            "type": "string"
                          },
                          "UserName": {
                            "type": "string"
                          },
                          "UserNameOverride": {
                            "type": "string"
                          },
                          "UserPhone": {
                            "type": "string"
                          },
                          "UserProvider": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/list-approvals": {
      "get": {
        "operationId": "nucleusOne.list-approvals",
        "summary": "List Approvals",
        "description": "Retrieves pending approvals from a Nucleus One project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/list-approvals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization",
            "schema": {
              "type": "string",
              "description": "ID of the organization",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "string",
              "description": "ID of the project",
              "example": "Enter projectId"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor. Leave empty to get the first page of results.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor. Leave empty to get the first page of results.",
              "example": "Paste a cursor from a previous response",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AssetItemTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "AssignmentUserEmail": {
                            "type": "string"
                          },
                          "AssignmentUserName": {
                            "type": "string"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DocumentCreatedByUserEmail": {
                            "type": "string"
                          },
                          "DocumentCreatedByUserID": {
                            "type": "string"
                          },
                          "DocumentCreatedByUserName": {
                            "type": "string"
                          },
                          "DocumentCreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DocumentFileSize": {
                            "type": "number"
                          },
                          "DocumentIsSigned": {
                            "type": "boolean"
                          },
                          "DocumentName": {
                            "type": "string"
                          },
                          "DocumentPageCount": {
                            "type": "number"
                          },
                          "DocumentPreviewMetadata": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ID": {
                            "type": "string"
                          },
                          "ItemAncestorIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ItemCompletedByUserEmail": {
                            "type": "string"
                          },
                          "ItemCompletedByUserID": {
                            "type": "string"
                          },
                          "ItemCompletedByUserName": {
                            "type": "string"
                          },
                          "ItemCompletedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ItemCreatedByUserEmail": {
                            "type": "string"
                          },
                          "ItemCreatedByUserID": {
                            "type": "string"
                          },
                          "ItemCreatedByUserName": {
                            "type": "string"
                          },
                          "ItemCreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ItemDescription": {
                            "type": "string"
                          },
                          "ItemID": {
                            "type": "string"
                          },
                          "ItemName": {
                            "type": "string"
                          },
                          "ItemParentName": {
                            "type": "string"
                          },
                          "ItemPreviewMetadata": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ItemType": {
                            "type": "string"
                          },
                          "OrganizationID": {
                            "type": "string"
                          },
                          "ProcessElementID": {
                            "type": "string"
                          },
                          "ProcessElementName": {
                            "type": "string"
                          },
                          "ProcessID": {
                            "type": "string"
                          },
                          "ProcessName": {
                            "type": "string"
                          },
                          "ProjectID": {
                            "type": "string"
                          },
                          "ProjectName": {
                            "type": "string"
                          },
                          "ReceivedFromEmail": {
                            "type": "string"
                          },
                          "ReceivedFromName": {
                            "type": "string"
                          },
                          "ReceivedFromResult": {
                            "type": "string"
                          },
                          "Result": {
                            "type": "string"
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "TaskDueOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ThumbnailUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/list-completed-tasks": {
      "get": {
        "operationId": "nucleusOne.list-completed-tasks",
        "summary": "List Completed Tasks",
        "description": "Retrieves completed tasks from a Nucleus One project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/list-completed-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization",
            "schema": {
              "type": "string",
              "description": "ID of the organization",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "string",
              "description": "ID of the project",
              "example": "Enter projectId"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor. Leave empty to get the first page of results.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor. Leave empty to get the first page of results.",
              "example": "Paste a cursor from a previous response",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "AssetItemTagAssetItemIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "AssetItemTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "AssignmentUserEmail": {
                            "type": "string"
                          },
                          "AssignmentUserName": {
                            "type": "string"
                          },
                          "AssignmentUserNameLower": {
                            "type": "string"
                          },
                          "CompletedByUserEmail": {
                            "type": "string"
                          },
                          "CompletedByUserID": {
                            "type": "string"
                          },
                          "CompletedByUserName": {
                            "type": "string"
                          },
                          "CompletedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CreatedByUserEmail": {
                            "type": "string"
                          },
                          "CreatedByUserID": {
                            "type": "string"
                          },
                          "CreatedByUserName": {
                            "type": "string"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "DescriptionHtml": {
                            "type": "string"
                          },
                          "DescriptionRichTextJson": {
                            "type": "string"
                          },
                          "DueOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DueOnModifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DurationInterval": {
                            "type": "string"
                          },
                          "DurationMultiplier": {
                            "type": "number"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "ModifiedByUserEmail": {
                            "type": "string"
                          },
                          "ModifiedByUserID": {
                            "type": "string"
                          },
                          "ModifiedByUserName": {
                            "type": "string"
                          },
                          "ModifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "NameLower": {
                            "type": "string"
                          },
                          "OrganizationID": {
                            "type": "string"
                          },
                          "ParentTaskID": {
                            "type": "string"
                          },
                          "PrimaryDocument": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Priority": {
                            "type": "number"
                          },
                          "ProcessElementID": {
                            "type": "string"
                          },
                          "ProcessElementName": {
                            "type": "string"
                          },
                          "ProcessElementNameLower": {
                            "type": "string"
                          },
                          "ProcessID": {
                            "type": "string"
                          },
                          "ProcessName": {
                            "type": "string"
                          },
                          "ProcessNameLower": {
                            "type": "string"
                          },
                          "ProjectAccess": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ProjectID": {
                            "type": "string"
                          },
                          "ProjectName": {
                            "type": "string"
                          },
                          "Reminder_1_Day": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Reminder_3_Day": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Reminder_7_Day": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Result": {
                            "type": "string"
                          },
                          "Revision": {
                            "type": "number"
                          },
                          "Stakeholders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "SubTasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "TaskMilestoneID": {
                            "type": "string"
                          },
                          "TaskMilestoneName": {
                            "type": "string"
                          },
                          "TaskMilestoneNameLower": {
                            "type": "string"
                          },
                          "TaskStateID": {
                            "type": "string"
                          },
                          "TaskStateName": {
                            "type": "string"
                          },
                          "TaskStateNameLower": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/list-denied-tasks": {
      "get": {
        "operationId": "nucleusOne.list-denied-tasks",
        "summary": "List Denied Tasks",
        "description": "Retrieves denied tasks from a Nucleus One project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/list-denied-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization",
            "schema": {
              "type": "string",
              "description": "ID of the organization",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "string",
              "description": "ID of the project",
              "example": "Enter projectId"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor. Leave empty to get the first page of results.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor. Leave empty to get the first page of results.",
              "example": "Paste a cursor from a previous response",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "AssetItemTagAssetItemIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "AssetItemTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "AssignmentUserEmail": {
                            "type": "string"
                          },
                          "AssignmentUserName": {
                            "type": "string"
                          },
                          "AssignmentUserNameLower": {
                            "type": "string"
                          },
                          "CompletedByUserEmail": {
                            "type": "string"
                          },
                          "CompletedByUserID": {
                            "type": "string"
                          },
                          "CompletedByUserName": {
                            "type": "string"
                          },
                          "CompletedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CreatedByUserEmail": {
                            "type": "string"
                          },
                          "CreatedByUserID": {
                            "type": "string"
                          },
                          "CreatedByUserName": {
                            "type": "string"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "DescriptionHtml": {
                            "type": "string"
                          },
                          "DescriptionRichTextJson": {
                            "type": "string"
                          },
                          "DueOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DueOnModifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DurationInterval": {
                            "type": "string"
                          },
                          "DurationMultiplier": {
                            "type": "number"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "ModifiedByUserEmail": {
                            "type": "string"
                          },
                          "ModifiedByUserID": {
                            "type": "string"
                          },
                          "ModifiedByUserName": {
                            "type": "string"
                          },
                          "ModifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "NameLower": {
                            "type": "string"
                          },
                          "OrganizationID": {
                            "type": "string"
                          },
                          "ParentTaskID": {
                            "type": "string"
                          },
                          "PrimaryDocument": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Priority": {
                            "type": "number"
                          },
                          "ProcessElementID": {
                            "type": "string"
                          },
                          "ProcessElementName": {
                            "type": "string"
                          },
                          "ProcessElementNameLower": {
                            "type": "string"
                          },
                          "ProcessID": {
                            "type": "string"
                          },
                          "ProcessName": {
                            "type": "string"
                          },
                          "ProcessNameLower": {
                            "type": "string"
                          },
                          "ProjectAccess": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ProjectID": {
                            "type": "string"
                          },
                          "ProjectName": {
                            "type": "string"
                          },
                          "Reminder_1_Day": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Reminder_3_Day": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Reminder_7_Day": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Result": {
                            "type": "string"
                          },
                          "Revision": {
                            "type": "number"
                          },
                          "Stakeholders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "SubTasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "TaskMilestoneID": {
                            "type": "string"
                          },
                          "TaskMilestoneName": {
                            "type": "string"
                          },
                          "TaskMilestoneNameLower": {
                            "type": "string"
                          },
                          "TaskStateID": {
                            "type": "string"
                          },
                          "TaskStateName": {
                            "type": "string"
                          },
                          "TaskStateNameLower": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/list-document-filter-sort-fields": {
      "get": {
        "operationId": "nucleusOne.list-document-filter-sort-fields",
        "summary": "List Document Filter Sort Fields",
        "description": "Retrieves document filter and sort fields from Nucleus One.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/list-document-filter-sort-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "organizationId path parameter.",
            "schema": {
              "type": "string",
              "description": "organizationId path parameter.",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "projectId path parameter.",
            "schema": {
              "type": "string",
              "description": "projectId path parameter.",
              "example": "Enter projectId"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "filterFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sortFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nucleusOne/latest/actions/list-document-folders": {
      "get": {
        "operationId": "nucleusOne.list-document-folders",
        "summary": "List Document Folders",
        "description": "Retrieves document folders from a Nucleus One project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nucleusOne/latest/actions/list-document-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "ID of the organization",
            "schema": {
              "type": "string",
              "description": "ID of the organization",
              "example": "Enter organizationId"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "string",
              "description": "ID of the project",
              "example": "Enter projectId"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$schema": {
                            "type": "string"
                          },
                          "AncestorAssignmentUserEmails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "AncestorIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "AssignmentUserEmails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "CreatedByUserEmail": {
                            "type": "string"
                          },
                          "CreatedByUserID": {
                            "type": "string"
                          },
                          "CreatedByUserName": {
                            "type": "string"
                          },
                          "CreatedByWorkflow": {
                            "type": "boolean"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Depth": {
                            "type": "number"
                          },
                          "HexColor": {
                            "type": "string"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "ModifiedByUserEmail": {
                            "type": "string"
[...]
