{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Abstract VAT Validator Universal API",
    "version": "0.0.5",
    "description": "Validate VAT numbers, calculate VAT amounts, and retrieve VAT category rates using Abstract's VAT Validation API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/abstractVATValidator/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/abstractVATValidator/latest/actions/calculate-vat": {
      "get": {
        "operationId": "abstractVATValidator.calculate-vat",
        "summary": "Calculate VAT",
        "description": "Calculates VAT-compliant pricing for a country in Abstract VAT Validator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/abstractVATValidator/latest/actions/calculate-vat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "The amount to calculate VAT for or from.",
            "schema": {
              "type": "number",
              "description": "The amount to calculate VAT for or from.",
              "example": 175
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": true,
            "description": "Two-letter ISO 3166-1 alpha-2 country code for the transaction.",
            "schema": {
              "type": "string",
              "description": "Two-letter ISO 3166-1 alpha-2 country code for the transaction.",
              "example": "DE"
            }
          },
          {
            "name": "is_vat_incl",
            "in": "query",
            "required": false,
            "description": "Set true when the amount already includes VAT and the API should split VAT out.",
            "schema": {
              "type": "boolean",
              "description": "Set true when the amount already includes VAT and the API should split VAT out.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "vat_category",
            "in": "query",
            "required": false,
            "description": "Optional reduced-rate goods category to apply when supported for the country.",
            "schema": {
              "type": "string",
              "description": "Optional reduced-rate goods category to apply when supported for the country.",
              "example": "standard",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount_excluding_vat": {
                            "type": "string",
                            "description": "Amount excluding VAT returned by the calculation."
                          },
                          "amount_including_vat": {
                            "type": "string",
                            "description": "Amount including VAT returned by the calculation."
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Two-letter country code used for the calculation."
                              },
                              "name": {
                                "type": "string",
                                "description": "Country name used for the calculation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "vat_amount": {
                            "type": "string",
                            "description": "Calculated VAT amount."
                          },
                          "vat_category": {
                            "type": "string",
                            "description": "VAT category used for the calculation."
                          },
                          "vat_rate": {
                            "type": "string",
                            "description": "VAT rate used for the calculation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/abstractVATValidator/latest/actions/get-vat-categories": {
      "get": {
        "operationId": "abstractVATValidator.get-vat-categories",
        "summary": "Get VAT Categories",
        "description": "Retrieves VAT rate categories for a country from Abstract VAT Validator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/abstractVATValidator/latest/actions/get-vat-categories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": true,
            "description": "Two-letter ISO 3166-1 alpha-2 country code to retrieve VAT categories for.",
            "schema": {
              "type": "string",
              "description": "Two-letter ISO 3166-1 alpha-2 country code to retrieve VAT categories for.",
              "example": "DE"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "VAT category name."
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Two-letter country code for the VAT category."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the VAT category."
                          },
                          "rate": {
                            "type": "string",
                            "description": "VAT rate for the category."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/abstractVATValidator/latest/actions/validate-vat-number": {
      "get": {
        "operationId": "abstractVATValidator.validate-vat-number",
        "summary": "Validate VAT Number",
        "description": "Validates a VAT number and returns company details from Abstract VAT Validator.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/abstractVATValidator/latest/actions/validate-vat-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vat_number",
            "in": "query",
            "required": true,
            "description": "The VAT number to validate.",
            "schema": {
              "type": "string",
              "description": "The VAT number to validate.",
              "example": "SE556656688001"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Registered company address returned for a valid VAT number."
                              },
                              "name": {
                                "type": "string",
                                "description": "Registered company name returned for a valid VAT number."
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Two-letter country code returned for the VAT number."
                              },
                              "name": {
                                "type": "string",
                                "description": "Country name returned for the VAT number."
                              }
                            },
                            "additionalProperties": false
                          },
                          "valid": {
                            "type": "boolean",
                            "description": "Whether the submitted VAT number is valid."
                          },
                          "vat_number": {
                            "type": "string",
                            "description": "VAT number returned by the validation request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
