{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zillow MLS Data Universal API",
    "version": "0.0.2",
    "description": "Bridge-hosted Zillow MLS and OData data access. Requires a Bridge account and approved datasets."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zillowMLSData/latest/actions/get-agent": {
      "get": {
        "operationId": "zillowMLSData.get-agent",
        "summary": "Get agent",
        "description": "Retrieves a specific agent from Zillow MLS Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/get-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that contains the agent.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that contains the agent."
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "description": "Agent identifier from the Bridge dataset.",
            "schema": {
              "type": "string",
              "description": "Agent identifier from the Bridge dataset."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last Bridge-side modification timestamp."
                          },
                          "JobTitle": {
                            "type": "string",
                            "description": "Member job title."
                          },
                          "MemberCity": {
                            "type": "string",
                            "description": "Member city."
                          },
                          "MemberFirstName": {
                            "type": "string",
                            "description": "Member first name."
                          },
                          "MemberFullName": {
                            "type": "string",
                            "description": "Member full name."
                          },
                          "MemberKey": {
                            "type": "string",
                            "description": "Primary member key."
                          },
                          "MemberLastName": {
                            "type": "string",
                            "description": "Member last name."
                          },
                          "MemberMlsId": {
                            "type": "string",
                            "description": "MLS member identifier."
                          },
                          "MemberMobilePhone": {
                            "type": "string",
                            "description": "Member mobile phone."
                          },
                          "MemberOfficePhone": {
                            "type": "string",
                            "description": "Member office phone."
                          },
                          "MemberStateOrProvince": {
                            "type": "string",
                            "description": "Member state or province."
                          },
                          "MemberStatus": {
                            "type": "string",
                            "description": "Member status."
                          },
                          "MemberType": {
                            "type": "string",
                            "description": "Member type."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last member modification timestamp."
                          },
                          "OfficeKey": {
                            "type": "string",
                            "description": "Associated office key."
                          },
                          "OfficeName": {
                            "type": "string",
                            "description": "Associated office name."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/get-data-systems": {
      "get": {
        "operationId": "zillowMLSData.get-data-systems",
        "summary": "Get data systems",
        "description": "Retrieves data systems from Zillow MLS Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/get-data-systems"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DataDictionaryVersion": {
                            "type": "string",
                            "description": "RESO data dictionary version."
                          },
                          "DateTimeStamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp for the current data-system snapshot."
                          },
                          "ID": {
                            "type": "string",
                            "description": "Unique data-system identifier."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Data system name."
                          },
                          "Resources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Resources exposed by the data system."
                          },
                          "ServiceURI": {
                            "type": "string",
                            "description": "Base service URI for the data system."
                          },
                          "TransportVersion": {
                            "type": "string",
                            "description": "Transport version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/get-listing": {
      "get": {
        "operationId": "zillowMLSData.get-listing",
        "summary": "Get listing",
        "description": "Retrieves a specific listing from Zillow MLS Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/get-listing"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that contains the listing.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that contains the listing."
            }
          },
          {
            "name": "listingId",
            "in": "query",
            "required": true,
            "description": "Listing identifier from the Bridge dataset.",
            "schema": {
              "type": "string",
              "description": "Listing identifier from the Bridge dataset."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BathroomsTotalDecimal": {
                            "type": "number",
                            "description": "Decimal bathroom count."
                          },
                          "BathroomsTotalInteger": {
                            "type": "number",
                            "description": "Integer bathroom count."
                          },
                          "BedroomsTotal": {
                            "type": "number",
                            "description": "Total bedrooms."
                          },
                          "City": {
                            "type": "string",
                            "description": "Listing city."
                          },
                          "ListAgentFullName": {
                            "type": "string",
                            "description": "Listing agent full name."
                          },
                          "ListingKey": {
                            "type": "string",
                            "description": "Primary listing key."
                          },
                          "ListOfficeName": {
                            "type": "string",
                            "description": "Listing office name."
                          },
                          "ListPrice": {
                            "type": "number",
                            "description": "Current list price."
                          },
                          "LivingArea": {
                            "type": "number",
                            "description": "Living area."
                          },
                          "MlsStatus": {
                            "type": "string",
                            "description": "MLS status."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last listing modification timestamp."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "Listing postal code."
                          },
                          "PropertyType": {
                            "type": "string",
                            "description": "Property type."
                          },
                          "StandardStatus": {
                            "type": "string",
                            "description": "Standardized listing status."
                          },
                          "StateOrProvince": {
                            "type": "string",
                            "description": "Listing state or province."
                          },
                          "UnparsedAddress": {
                            "type": "string",
                            "description": "Full unparsed street address."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/get-member-o-data": {
      "get": {
        "operationId": "zillowMLSData.get-member-o-data",
        "summary": "Get member (OData)",
        "description": "Retrieves a member record from Zillow MLS Data using OData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/get-member-o-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that contains the OData member.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that contains the OData member."
            }
          },
          {
            "name": "memberKey",
            "in": "query",
            "required": true,
            "description": "OData member identifier from Bridge.",
            "schema": {
              "type": "string",
              "description": "OData member identifier from Bridge."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last Bridge-side modification timestamp."
                          },
                          "JobTitle": {
                            "type": "string",
                            "description": "Member job title."
                          },
                          "MemberCity": {
                            "type": "string",
                            "description": "Member city."
                          },
                          "MemberFirstName": {
                            "type": "string",
                            "description": "Member first name."
                          },
                          "MemberFullName": {
                            "type": "string",
                            "description": "Member full name."
                          },
                          "MemberKey": {
                            "type": "string",
                            "description": "Primary member key."
                          },
                          "MemberLastName": {
                            "type": "string",
                            "description": "Member last name."
                          },
                          "MemberMlsId": {
                            "type": "string",
                            "description": "MLS member identifier."
                          },
                          "MemberMobilePhone": {
                            "type": "string",
                            "description": "Member mobile phone."
                          },
                          "MemberOfficePhone": {
                            "type": "string",
                            "description": "Member office phone."
                          },
                          "MemberStateOrProvince": {
                            "type": "string",
                            "description": "Member state or province."
                          },
                          "MemberStatus": {
                            "type": "string",
                            "description": "Member status."
                          },
                          "MemberType": {
                            "type": "string",
                            "description": "Member type."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last member modification timestamp."
                          },
                          "OfficeKey": {
                            "type": "string",
                            "description": "Associated office key."
                          },
                          "OfficeName": {
                            "type": "string",
                            "description": "Associated office name."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/get-office": {
      "get": {
        "operationId": "zillowMLSData.get-office",
        "summary": "Get office",
        "description": "Retrieves a specific office from Zillow MLS Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/get-office"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that contains the office.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that contains the office."
            }
          },
          {
            "name": "officeId",
            "in": "query",
            "required": true,
            "description": "Office identifier from the Bridge dataset.",
            "schema": {
              "type": "string",
              "description": "Office identifier from the Bridge dataset."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last Bridge-side modification timestamp."
                          },
                          "FranchiseAffiliation": {
                            "type": "string",
                            "description": "Office franchise affiliation."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last office modification timestamp."
                          },
                          "OfficeAddress1": {
                            "type": "string",
                            "description": "Office street address."
                          },
                          "OfficeBranchType": {
                            "type": "string",
                            "description": "Office branch type."
                          },
                          "OfficeCity": {
                            "type": "string",
                            "description": "Office city."
                          },
                          "OfficeEmail": {
                            "type": "string",
                            "description": "Office email address."
                          },
                          "OfficeKey": {
                            "type": "string",
                            "description": "Primary office key."
                          },
                          "OfficeMlsId": {
                            "type": "string",
                            "description": "MLS office identifier."
                          },
                          "OfficeName": {
                            "type": "string",
                            "description": "Office name."
                          },
                          "OfficePhone": {
                            "type": "string",
                            "description": "Office phone number."
                          },
                          "OfficePostalCode": {
                            "type": "string",
                            "description": "Office postal code."
                          },
                          "OfficeStateOrProvince": {
                            "type": "string",
                            "description": "Office state or province."
                          },
                          "OfficeStatus": {
                            "type": "string",
                            "description": "Office status."
                          },
                          "OfficeType": {
                            "type": "string",
                            "description": "Office type."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/get-office-o-data": {
      "get": {
        "operationId": "zillowMLSData.get-office-o-data",
        "summary": "Get office (OData)",
        "description": "Retrieves an office record from Zillow MLS Data using OData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/get-office-o-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that contains the OData office.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that contains the OData office."
            }
          },
          {
            "name": "officeKey",
            "in": "query",
            "required": true,
            "description": "OData office identifier from Bridge.",
            "schema": {
              "type": "string",
              "description": "OData office identifier from Bridge."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last Bridge-side modification timestamp."
                          },
                          "FranchiseAffiliation": {
                            "type": "string",
                            "description": "Office franchise affiliation."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last office modification timestamp."
                          },
                          "OfficeAddress1": {
                            "type": "string",
                            "description": "Office street address."
                          },
                          "OfficeBranchType": {
                            "type": "string",
                            "description": "Office branch type."
                          },
                          "OfficeCity": {
                            "type": "string",
                            "description": "Office city."
                          },
                          "OfficeEmail": {
                            "type": "string",
                            "description": "Office email address."
                          },
                          "OfficeKey": {
                            "type": "string",
                            "description": "Primary office key."
                          },
                          "OfficeMlsId": {
                            "type": "string",
                            "description": "MLS office identifier."
                          },
                          "OfficeName": {
                            "type": "string",
                            "description": "Office name."
                          },
                          "OfficePhone": {
                            "type": "string",
                            "description": "Office phone number."
                          },
                          "OfficePostalCode": {
                            "type": "string",
                            "description": "Office postal code."
                          },
                          "OfficeStateOrProvince": {
                            "type": "string",
                            "description": "Office state or province."
                          },
                          "OfficeStatus": {
                            "type": "string",
                            "description": "Office status."
                          },
                          "OfficeType": {
                            "type": "string",
                            "description": "Office type."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/get-property-o-data": {
      "get": {
        "operationId": "zillowMLSData.get-property-o-data",
        "summary": "Get property (OData)",
        "description": "Retrieves a property record from Zillow MLS Data using OData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/get-property-o-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that contains the OData property.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that contains the OData property."
            }
          },
          {
            "name": "listingKey",
            "in": "query",
            "required": true,
            "description": "OData property identifier from Bridge.",
            "schema": {
              "type": "string",
              "description": "OData property identifier from Bridge."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BathroomsTotalDecimal": {
                            "type": "number",
                            "description": "Decimal bathroom count."
                          },
                          "BathroomsTotalInteger": {
                            "type": "number",
                            "description": "Integer bathroom count."
                          },
                          "BedroomsTotal": {
                            "type": "number",
                            "description": "Total bedrooms."
                          },
                          "City": {
                            "type": "string",
                            "description": "Listing city."
                          },
                          "ListAgentFullName": {
                            "type": "string",
                            "description": "Listing agent full name."
                          },
                          "ListingKey": {
                            "type": "string",
                            "description": "Primary listing key."
                          },
                          "ListOfficeName": {
                            "type": "string",
                            "description": "Listing office name."
                          },
                          "ListPrice": {
                            "type": "number",
                            "description": "Current list price."
                          },
                          "LivingArea": {
                            "type": "number",
                            "description": "Living area."
                          },
                          "MlsStatus": {
                            "type": "string",
                            "description": "MLS status."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last listing modification timestamp."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "Listing postal code."
                          },
                          "PropertyType": {
                            "type": "string",
                            "description": "Property type."
                          },
                          "StandardStatus": {
                            "type": "string",
                            "description": "Standardized listing status."
                          },
                          "StateOrProvince": {
                            "type": "string",
                            "description": "Listing state or province."
                          },
                          "UnparsedAddress": {
                            "type": "string",
                            "description": "Full unparsed street address."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/list-agents": {
      "get": {
        "operationId": "zillowMLSData.list-agents",
        "summary": "List agents",
        "description": "Retrieves agents from a Zillow MLS Data dataset.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/list-agents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code to read agents from.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code to read agents from."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last Bridge-side modification timestamp."
                          },
                          "JobTitle": {
                            "type": "string",
                            "description": "Member job title."
                          },
                          "MemberCity": {
                            "type": "string",
                            "description": "Member city."
                          },
                          "MemberFirstName": {
                            "type": "string",
                            "description": "Member first name."
                          },
                          "MemberFullName": {
                            "type": "string",
                            "description": "Member full name."
                          },
                          "MemberKey": {
                            "type": "string",
                            "description": "Primary member key."
                          },
                          "MemberLastName": {
                            "type": "string",
                            "description": "Member last name."
                          },
                          "MemberMlsId": {
                            "type": "string",
                            "description": "MLS member identifier."
                          },
                          "MemberMobilePhone": {
                            "type": "string",
                            "description": "Member mobile phone."
                          },
                          "MemberOfficePhone": {
                            "type": "string",
                            "description": "Member office phone."
                          },
                          "MemberStateOrProvince": {
                            "type": "string",
                            "description": "Member state or province."
                          },
                          "MemberStatus": {
                            "type": "string",
                            "description": "Member status."
                          },
                          "MemberType": {
                            "type": "string",
                            "description": "Member type."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last member modification timestamp."
                          },
                          "OfficeKey": {
                            "type": "string",
                            "description": "Associated office key."
                          },
                          "OfficeName": {
                            "type": "string",
                            "description": "Associated office name."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/list-datasets": {
      "get": {
        "operationId": "zillowMLSData.list-datasets",
        "summary": "List datasets",
        "description": "Retrieves available datasets from Zillow MLS Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/list-datasets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datasetCode": {
                            "type": "string",
                            "description": "Bridge dataset code."
                          },
                          "description": {
                            "type": "string",
                            "description": "Dataset description."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique dataset identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Dataset name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/list-idx-field-rules-o-data": {
      "get": {
        "operationId": "zillowMLSData.list-idx-field-rules-o-data",
        "summary": "List IDX field rules (OData)",
        "description": "Retrieves IDX field rules from Zillow MLS Data using OData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/list-idx-field-rules-o-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that scopes the OData IDX field rules query.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that scopes the OData IDX field rules query."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/list-idx-properties-o-data": {
      "get": {
        "operationId": "zillowMLSData.list-idx-properties-o-data",
        "summary": "List IDX properties (OData)",
        "description": "Retrieves IDX property records from Zillow MLS Data using OData.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/list-idx-properties-o-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code that scopes the OData IDX properties query.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code that scopes the OData IDX properties query."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BathroomsTotalDecimal": {
                            "type": "number",
                            "description": "Decimal bathroom count."
                          },
                          "BathroomsTotalInteger": {
                            "type": "number",
                            "description": "Integer bathroom count."
                          },
                          "BedroomsTotal": {
                            "type": "number",
                            "description": "Total bedrooms."
                          },
                          "City": {
                            "type": "string",
                            "description": "Listing city."
                          },
                          "ListAgentFullName": {
                            "type": "string",
                            "description": "Listing agent full name."
                          },
                          "ListingKey": {
                            "type": "string",
                            "description": "Primary listing key."
                          },
                          "ListOfficeName": {
                            "type": "string",
                            "description": "Listing office name."
                          },
                          "ListPrice": {
                            "type": "number",
                            "description": "Current list price."
                          },
                          "LivingArea": {
                            "type": "number",
                            "description": "Living area."
                          },
                          "MlsStatus": {
                            "type": "string",
                            "description": "MLS status."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last listing modification timestamp."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "Listing postal code."
                          },
                          "PropertyType": {
                            "type": "string",
                            "description": "Property type."
                          },
                          "StandardStatus": {
                            "type": "string",
                            "description": "Standardized listing status."
                          },
                          "StateOrProvince": {
                            "type": "string",
                            "description": "Listing state or province."
                          },
                          "UnparsedAddress": {
                            "type": "string",
                            "description": "Full unparsed street address."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowMLSData/latest/actions/list-listings": {
      "get": {
        "operationId": "zillowMLSData.list-listings",
        "summary": "List listings",
        "description": "Retrieves listings from a Zillow MLS Data dataset.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowMLSData/latest/actions/list-listings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "Bridge dataset code to read listings from.",
            "schema": {
              "type": "string",
              "description": "Bridge dataset code to read listings from."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BathroomsTotalDecimal": {
                            "type": "number",
                            "description": "Decimal bathroom count."
                          },
                          "BathroomsTotalInteger": {
                            "type": "number",
                            "description": "Integer bathroom count."
                          },
                          "BedroomsTotal": {
                            "type": "number",
                            "description": "Total bedrooms."
                          },
                          "City": {
                            "type": "string",
                            "description": "Listing city."
                          },
                          "ListAgentFullName": {
                            "type": "string",
                            "description": "Listing agent full name."
                          },
                          "ListingKey": {
                            "type": "string",
                            "description": "Primary listing key."
                          },
                          "ListOfficeName": {
                            "type": "string",
                            "description": "Listing office name."
                          },
                          "ListPrice": {
                            "type": "number",
                            "description": "Current list price."
                          },
                          "LivingArea": {
                            "type": "number",
                            "description": "Living area."
                          },
                          "MlsStatus": {
                            "type": "string",
                            "description": "MLS status."
                          },
                          "ModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last listing modification timestamp."
                          },
                          "OriginatingSystemName": {
                            "type": "string",
                            "description": "Originating system name."
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "Listing postal code."
                          },
                          "PropertyType": {
                            "type": "string",
                            "description": "Property type."
                          },
                          "StandardStatus": {
                            "type": "string",
                            "description": "Standardized listing status."
                          },
                          "StateOrProvince": {
                            "type": "string",
                            "description": "Listing state or province."
                          },
                          "UnparsedAddress": {
                            "type": "string",
                            "description": "Full unparsed street address."
                          }
                        },
                        "additionalProperties": false
                      }
[...]
