{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Content Snare Universal API",
    "version": "0.0.5",
    "description": "Manage requests, clients, team members, templates, and webhooks"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/contentSnare/latest/actions/approve-all-submitted-fields": {
      "put": {
        "operationId": "contentSnare.approve-all-submitted-fields",
        "summary": "Approve All Submitted Fields",
        "description": "Approves all submitted fields for a request in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/approve-all-submitted-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Request ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/approve-all-submitted-page-fields": {
      "put": {
        "operationId": "contentSnare.approve-all-submitted-page-fields",
        "summary": "Approve All Submitted Page Fields",
        "description": "Approves all submitted fields for a page in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/approve-all-submitted-page-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Page ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/approve-all-submitted-section-fields": {
      "put": {
        "operationId": "contentSnare.approve-all-submitted-section-fields",
        "summary": "Approve All Submitted Section Fields",
        "description": "Approves all submitted fields for a section in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/approve-all-submitted-section-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Section ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/create-client": {
      "post": {
        "operationId": "contentSnare.create-client",
        "summary": "Create Client",
        "description": "Creates a client in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "fullName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientCompanies[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Client Companies."
                  },
                  "clientCompanies[].name": {
                    "type": "string",
                    "description": "Company name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email address"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Contact full name"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Contact first name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Contact last name"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number"
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "Language code"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatar": {
                            "type": "string"
                          },
                          "client_companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "language_code": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/create-page": {
      "post": {
        "operationId": "contentSnare.create-page",
        "summary": "Create Page",
        "description": "Creates a page in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/create-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "requestId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Page name. If it isn't set then the source template name is used."
                  },
                  "requestId": {
                    "type": "string",
                    "description": "Id of a request where a new page should be added"
                  },
                  "sourceTemplateId": {
                    "type": "string",
                    "description": "Source page template id (`source_template_id` or `source_template_name` should be set)"
                  },
                  "sourceTemplateName": {
                    "type": "string",
                    "description": "Source page template name (`source_template_id` or `source_template_name` should be set)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approved_fields_count": {
                            "type": "number"
                          },
                          "done_fields_count": {
                            "type": "number"
                          },
                          "fields_count": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instruction_text": {
                            "type": "string"
                          },
                          "is_approved": {
                            "type": "boolean"
                          },
                          "is_done": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "redo_fields_count": {
                            "type": "number"
                          },
                          "reference_id": {
                            "type": "string",
                            "description": "A reference ID is an identifier, unique within a request, that remains consistent across all instances of a page in multiple requests and request templates"
                          },
                          "sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "additional_fields": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "sorting_position": {
                                              "type": "number"
                                            },
                                            "text": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "answers": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "attachment": {
                                              "type": "object",
                                              "properties": {
                                                "byte_size": {
                                                  "type": "number"
                                                },
                                                "filename": {
                                                  "type": "string"
                                                },
                                                "signed_id": {
                                                  "type": "string"
                                                },
                                                "url": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "field_id": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "link": {
                                              "type": "string"
                                            },
                                            "rejection_comment": {
                                              "type": "string"
                                            },
                                            "row": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "field_column_id": {
                                                    "type": "string"
                                                  },
                                                  "text": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            },
                                            "sorting_position": {
                                              "type": "number"
                                            },
                                            "status": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "array",
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "field_columns": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "read_only": {
                                              "type": "boolean"
                                            },
                                            "required": {
                                              "type": "boolean"
                                            },
                                            "sorting_position": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "field_configuration": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "settings": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "images": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "byte_size": {
                                              "type": "number"
                                            },
                                            "filename": {
                                              "type": "string"
                                            },
                                            "image": {
                                              "type": "object",
                                              "properties": {
                                                "height": {
                                                  "type": "number"
                                                },
                                                "url": {
                                                  "type": "string"
                                                },
                                                "width": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "signed_id": {
                                              "type": "string"
                                            },
                                            "thumbnail": {
                                              "type": "object",
                                              "properties": {
                                                "height": {
                                                  "type": "number"
                                                },
                                                "url": {
                                                  "type": "string"
                                                },
                                                "width": {
                                                  "type": "number"
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "url": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "instruction_text": {
                                        "type": "string"
                                      },
                                      "internal": {
                                        "type": "boolean",
                                        "description": "A boolean value indicating whether the field is visible only to team members and hidden from clients"
                                      },
                                      "max_answer_count": {
                                        "type": "number"
                                      },
                                      "min_answer_count": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "placeholder": {
                                        "type": "string"
                                      },
                                      "reference_id": {
                                        "type": "string",
                                        "description": "A reference ID is a unique identifier that remains consistent across all instances of a field, whether in multiple requests or within repeated sections of the same request"
                                      },
                                      "rejection_message": {
                                        "type": "object",
                                        "properties": {
                                          "text": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "repeater_enabled": {
                                        "type": "boolean"
                                      },
                                      "required": {
                                        "type": "boolean"
                                      },
                                      "show_instruction": {
                                        "type": "boolean"
                                      },
                                      "sorting_position": {
                                        "type": "number"
                                      },
                                      "status": {
                                        "type": "string"
                                      },
                                      "sub_type": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      },
                                      "values_flat": {
                                        "type": "string"
                                      },
                                      "values_structured": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "instruction_text": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "reference_id": {
                                  "type": "string",
                                  "description": "A reference ID is an identifier, unique within a page, that remains consistent across all instances of a section, whether in multiple requests or within duplicated pages of the same request"
                                },
                                "show_instruction": {
                                  "type": "boolean"
                                },
                                "sorting_position": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "show_instruction": {
                            "type": "boolean"
                          },
                          "sorting_position": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/create-request": {
      "post": {
        "operationId": "contentSnare.create-request",
        "summary": "Create Request",
        "description": "Creates a request in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/create-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientEmail": {
                    "type": "string",
                    "description": "Client email. This will look up an existing client, or create a new one. For a new client, you must also include their full name."
                  },
                  "clientFullName": {
                    "type": "string",
                    "description": "Required for new clients. You may leave blank for existing clients. Providing a value will overwrite the existing name."
                  },
                  "clientPhone": {
                    "type": "string",
                    "description": "For existing clients, providing a value will overwrite the existing phone."
                  },
                  "commentsEnabled": {
                    "type": "boolean",
                    "description": "Enable client comments. This allows your client to ask questions about each field."
                  },
                  "communicationTemplateId": {
                    "type": "string",
                    "description": "Id of communications schedule"
                  },
                  "communicationTemplateName": {
                    "type": "string",
                    "description": "Name of communications schedule"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "If this company name is not already associated with this client, it will be created."
                  },
                  "due": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Due date for the request. <br><b>Format:</b> yyyy-mm-dd"
                  },
                  "folderId": {
                    "type": "string",
                    "description": "Folder id. Requests may be grouped in to folders on the requests page. Don't send it if you do not wish to group your Requests."
                  },
                  "folderName": {
                    "type": "string",
                    "description": "Folder name. Requests may be grouped in to folders on the requests page. Don't send it if you do not wish to group your Requests."
                  },
                  "name": {
                    "type": "string",
                    "description": "Request name"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "Request owner (team member) id"
                  },
                  "ownerEmail": {
                    "type": "string",
                    "description": "Request owner (team member) email"
                  },
                  "passcodeEnabled": {
                    "type": "boolean",
                    "description": "Protect share with a pin code. Your client will be asked to set their own pincode when they first access the request."
                  },
                  "requestTemplateId": {
                    "type": "string",
                    "description": "Request template id (`request_template_id` or `request_template_name` should be set)"
                  },
                  "requestTemplateName": {
                    "type": "string",
                    "description": "Request template name (`request_template_id` or `request_template_name` should be set)"
                  },
                  "shareViaLinkEnabled": {
                    "type": "boolean",
                    "description": "Allow share via link without requiring login"
                  },
                  "status": {
                    "type": "string",
                    "description": "Request status"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Updated At."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author_name": {
                            "type": "string"
                          },
                          "client_status": {
                            "type": "string"
                          },
                          "client": {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "company_name": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "clients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatar": {
                                  "type": "string"
                                },
                                "company_name": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "full_name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "comments_enabled": {
                            "type": "boolean"
                          },
                          "communications_template_name": {
                            "type": "string"
                          },
                          "completion_percentage": {
                            "type": "number"
                          },
                          "due": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "folder_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instruction_text": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner_name": {
                            "type": "string"
                          },
                          "passcode_enabled": {
                            "type": "boolean"
                          },
                          "request_template_name": {
                            "type": "string"
                          },
                          "share_link": {
                            "type": "string"
                          },
                          "share_via_link_enabled": {
                            "type": "boolean"
                          },
                          "show_instruction": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/create-section": {
      "post": {
        "operationId": "contentSnare.create-section",
        "summary": "Create Section",
        "description": "Creates a section in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/create-section"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pageId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Section name. If it isn't set then the source template name is used."
                  },
                  "pageId": {
                    "type": "string",
                    "description": "Id of a page where a new section should be added"
                  },
                  "sourceTemplateId": {
                    "type": "string",
                    "description": "Source section template id (`source_template_id` or `source_template_name` should be set)"
                  },
                  "sourceTemplateName": {
                    "type": "string",
                    "description": "Source section template name (`source_template_id` or `source_template_name` should be set)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "additional_fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "sorting_position": {
                                        "type": "number"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "answers": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "attachment": {
                                        "type": "object",
                                        "properties": {
                                          "byte_size": {
                                            "type": "number"
                                          },
                                          "filename": {
                                            "type": "string"
                                          },
                                          "signed_id": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "field_id": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": "string"
                                      },
                                      "rejection_comment": {
                                        "type": "string"
                                      },
                                      "row": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "field_column_id": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "sorting_position": {
                                        "type": "number"
                                      },
                                      "status": {
                                        "type": "string"
                                      },
                                      "text": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "field_columns": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "read_only": {
                                        "type": "boolean"
                                      },
                                      "required": {
                                        "type": "boolean"
                                      },
                                      "sorting_position": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "field_configuration": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "settings": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string"
                                },
                                "images": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "byte_size": {
                                        "type": "number"
                                      },
                                      "filename": {
                                        "type": "string"
                                      },
                                      "image": {
                                        "type": "object",
                                        "properties": {
                                          "height": {
                                            "type": "number"
                                          },
                                          "url": {
                                            "type": "string"
                                          },
                                          "width": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "signed_id": {
                                        "type": "string"
                                      },
                                      "thumbnail": {
                                        "type": "object",
                                        "properties": {
                                          "height": {
                                            "type": "number"
                                          },
                                          "url": {
                                            "type": "string"
                                          },
                                          "width": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "url": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "instruction_text": {
                                  "type": "string"
                                },
                                "internal": {
                                  "type": "boolean",
                                  "description": "A boolean value indicating whether the field is visible only to team members and hidden from clients"
                                },
                                "max_answer_count": {
                                  "type": "number"
                                },
                                "min_answer_count": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "placeholder": {
                                  "type": "string"
                                },
                                "reference_id": {
                                  "type": "string",
                                  "description": "A reference ID is a unique identifier that remains consistent across all instances of a field, whether in multiple requests or within repeated sections of the same request"
                                },
                                "rejection_message": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "repeater_enabled": {
                                  "type": "boolean"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "show_instruction": {
                                  "type": "boolean"
                                },
                                "sorting_position": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "sub_type": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "values_flat": {
                                  "type": "string"
                                },
                                "values_structured": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "instruction_text": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "reference_id": {
                            "type": "string",
                            "description": "A reference ID is an identifier, unique within a page, that remains consistent across all instances of a section, whether in multiple requests or within duplicated pages of the same request"
                          },
                          "show_instruction": {
                            "type": "boolean"
                          },
                          "sorting_position": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/create-team-member": {
      "post": {
        "operationId": "contentSnare.create-team-member",
        "summary": "Create Team Member",
        "description": "Creates a team member in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/create-team-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "fullName",
                  "role"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email address"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Contact full name"
                  },
                  "personalMessage": {
                    "type": "string",
                    "description": "The message is included in the invitation email"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number"
                  },
                  "role": {
                    "type": "string",
                    "description": "The user’s current role"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/create-webhook": {
      "post": {
        "operationId": "contentSnare.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a webhook in Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Specifies if webhook is enabled"
                  },
                  "subscriptions[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of events associated with webhook"
                  },
                  "url": {
                    "type": "string",
                    "description": "Your webhook URL"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "subscriptions": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contentSnare/latest/actions/delete-client": {
      "delete": {
        "operationId": "contentSnare.delete-client",
        "summary": "Delete Client",
        "description": "Deletes a client from Content Snare.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contentSnare/latest/actions/delete-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Client ID.",
            "schema": {
              "type": "string",
              "description": "Client ID."
            }
          }
        ],
        "responses": {
          "200": {
[...]
