{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Microsoft Exchange Universal API",
    "version": "0.0.6",
    "description": "Connect to Microsoft Exchange mail through Microsoft Graph."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/microsoftExchange/latest/actions/add-file-attachment-to-message": {
      "post": {
        "operationId": "microsoftExchange.add-file-attachment-to-message",
        "summary": "Add File Attachment to Message",
        "description": "Creates a file attachment on a message in Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/add-file-attachment-to-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "messageId",
                  "name",
                  "contentType",
                  "contentBytes"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "The draft or message ID to attach the file to."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the file attachment."
                  },
                  "contentType": {
                    "type": "string",
                    "description": "MIME type of the attachment content.",
                    "default": "text/plain"
                  },
                  "contentBytes": {
                    "type": "string",
                    "description": "Base64-encoded file content. Microsoft Graph supports this action for attachments under 3 MB."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@odata": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Microsoft Graph attachment resource discriminator."
                              }
                            },
                            "additionalProperties": false
                          },
                          "contentBytes": {
                            "type": "string",
                            "description": "Base64-encoded attachment content returned by Microsoft Graph."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Attachment MIME type."
                          },
                          "id": {
                            "type": "string",
                            "description": "Microsoft Graph attachment ID."
                          },
                          "isInline": {
                            "type": "boolean",
                            "description": "Whether the attachment is inline."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the attachment was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "Attachment file name."
                          },
                          "size": {
                            "type": "number",
                            "description": "Attachment size in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/authorize-application": {
      "get": {
        "operationId": "microsoftExchange.authorize-application",
        "summary": "Authorize Application",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/authorize-application"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessToken": {
                            "type": "string"
                          },
                          "expiresIn": {
                            "type": "number"
                          },
                          "extExpiresIn": {
                            "type": "number"
                          },
                          "tokenType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/create-draft-message": {
      "post": {
        "operationId": "microsoftExchange.create-draft-message",
        "summary": "Create Draft Message",
        "description": "Creates a draft message in Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/create-draft-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "toRecipients[].emailAddress.address": {
                    "type": "string",
                    "description": "The email address to add as the draft recipient.",
                    "example": "jamie@mindcloud.co"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The draft email subject line.",
                    "example": "MindCloud Exchange draft test"
                  },
                  "body.content": {
                    "type": "string",
                    "description": "The draft email body content.",
                    "example": "This is a draft email created by the MindCloud Microsoft Exchange app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "A text preview of the draft body."
                          },
                          "id": {
                            "type": "string",
                            "description": "The created draft message ID."
                          },
                          "subject": {
                            "type": "string",
                            "description": "The draft subject line."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "A link to open the draft in Outlook on the web."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/delete-message": {
      "delete": {
        "operationId": "microsoftExchange.delete-message",
        "summary": "Delete Message",
        "description": "Deletes a message from Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/delete-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The ID of the Exchange message to delete.",
            "schema": {
              "type": "string",
              "description": "The ID of the Exchange message to delete.",
              "example": "AAMkAG..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/forward-message": {
      "post": {
        "operationId": "microsoftExchange.forward-message",
        "summary": "Forward Message",
        "description": "Forwards a message from Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/forward-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "messageId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "The ID of the Exchange message to forward.",
                    "example": "AAMkAG..."
                  },
                  "toRecipients[].emailAddress.address": {
                    "type": "string",
                    "description": "The email address to forward the message to.",
                    "example": "jamie@mindcloud.co"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional text to include above the forwarded message.",
                    "example": "Forwarding this message from the MindCloud Microsoft Exchange app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/get-message": {
      "get": {
        "operationId": "microsoftExchange.get-message",
        "summary": "Get Message",
        "description": "Retrieves a message from Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/get-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The ID of the Exchange message.",
            "schema": {
              "type": "string",
              "description": "The ID of the Exchange message.",
              "example": "AAMkAG..."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "A text preview of the message body."
                          },
                          "hasAttachments": {
                            "type": "boolean",
                            "description": "Whether the message has attachments."
                          },
                          "id": {
                            "type": "string",
                            "description": "The Microsoft Graph message ID."
                          },
                          "importance": {
                            "type": "string",
                            "description": "The message importance level."
                          },
                          "isDraft": {
                            "type": "boolean",
                            "description": "Whether the message is a draft."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the message has been read."
                          },
                          "receivedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was received."
                          },
                          "sentDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was sent."
                          },
                          "subject": {
                            "type": "string",
                            "description": "The message subject line."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "A link to open the message in Outlook on the web."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/get-message-attachment": {
      "get": {
        "operationId": "microsoftExchange.get-message-attachment",
        "summary": "Get Message Attachment",
        "description": "Retrieves a message attachment from Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/get-message-attachment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The Exchange message ID that contains the attachment.",
            "schema": {
              "type": "string",
              "description": "The Exchange message ID that contains the attachment.",
              "example": "AAMkAG..."
            }
          },
          {
            "name": "attachmentId",
            "in": "query",
            "required": true,
            "description": "The Exchange attachment ID returned by the attachment list action.",
            "schema": {
              "type": "string",
              "description": "The Exchange attachment ID returned by the attachment list action."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "The attachment MIME type."
                          },
                          "id": {
                            "type": "string",
                            "description": "The attachment ID."
                          },
                          "isInline": {
                            "type": "boolean",
                            "description": "Whether the attachment is inline."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the attachment was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The attachment file name."
                          },
                          "size": {
                            "type": "number",
                            "description": "The attachment size in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/get-user-folder-name": {
      "get": {
        "operationId": "microsoftExchange.get-user-folder-name",
        "summary": "Get User Folder Name",
        "description": "Finds messages in a user's mailbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/get-user-folder-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userIdOrPrincipalName",
            "in": "query",
            "required": true,
            "description": "The Microsoft Graph user id or userPrincipalName for the mailbox whose folder messages should be listed. Use the Entra user id when the mail address differs from the userPrincipalName.",
            "schema": {
              "type": "string",
              "description": "The Microsoft Graph user id or userPrincipalName for the mailbox whose folder messages should be listed. Use the Entra user id when the mail address differs from the userPrincipalName.",
              "example": "user@company.com or Entra user id"
            }
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "Maximum number of messages to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of messages to return.",
              "default": 10
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "Comma-separated Microsoft Graph message fields to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated Microsoft Graph message fields to return.",
              "default": "id,subject,receivedDateTime,sentDateTime,bodyPreview,hasAttachments,importance,isRead,from,sender,toRecipients,ccRecipients,bccRecipients,webLink",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Optional Microsoft Graph OData filter expression.",
            "schema": {
              "type": "string",
              "description": "Optional Microsoft Graph OData filter expression.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "true",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "parentFolderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "contentType": {
                                  "type": "string",
                                  "description": "The attachment content type."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "The attachment ID."
                                },
                                "isInline": {
                                  "type": "boolean",
                                  "description": "Whether the attachment is inline content, such as an embedded image."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The attachment file name or inline content name."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "bccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "The email address of a Bcc recipient."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of a Bcc recipient."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "bodyPreview": {
                            "type": "string",
                            "description": "A text preview of the message body."
                          },
                          "ccRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "The email address of a Cc recipient."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of a Cc recipient."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "The sender email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The display name of the sender."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasAttachments": {
                            "type": "boolean",
                            "description": "Whether the message has non-inline attachments according to Microsoft Graph. Inline-only attachments can still appear in attachments[]."
                          },
                          "id": {
                            "type": "string",
                            "description": "The Microsoft Graph message ID."
                          },
                          "importance": {
                            "type": "string",
                            "description": "The message importance level."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the message has been read."
                          },
                          "receivedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was received."
                          },
                          "sender": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "The sending account email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The display name of the sending account."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "sentDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was sent."
                          },
                          "subject": {
                            "type": "string",
                            "description": "The message subject line."
                          },
                          "toRecipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emailAddress": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string",
                                      "description": "The email address of a To recipient."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The display name of a To recipient."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "webLink": {
                            "type": "string",
                            "description": "A link to open the message in Outlook on the web."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/list-child-mail-folders": {
      "get": {
        "operationId": "microsoftExchange.list-child-mail-folders",
        "summary": "List Child Mail Folders",
        "description": "Retrieves child mail folders from Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/list-child-mail-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mailFolderId",
            "in": "query",
            "required": true,
            "description": "Choose the parent mail folder. If you are not sure where to start, choose Inbox.",
            "schema": {
              "type": "string",
              "description": "Choose the parent mail folder. If you are not sure where to start, choose Inbox.",
              "example": "inbox"
            }
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "Maximum number of child folders to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of child folders to return.",
              "default": 25
            }
          },
          {
            "name": "includeHiddenFolders",
            "in": "query",
            "required": false,
            "description": "Whether to include hidden child folders in the results.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include hidden child folders in the results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "childFolderCount": {
                            "type": "number",
                            "description": "The number of child folders."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "The child mail folder display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "The child mail folder ID."
                          },
                          "isHidden": {
                            "type": "boolean",
                            "description": "Whether the folder is hidden."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "The parent mail folder ID."
                          },
                          "totalItemCount": {
                            "type": "number",
                            "description": "The total number of items."
                          },
                          "unreadItemCount": {
                            "type": "number",
                            "description": "The number of unread items."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/list-inbox-messages": {
      "get": {
        "operationId": "microsoftExchange.list-inbox-messages",
        "summary": "List Inbox Messages",
        "description": "Finds inbox messages in Microsoft Exchange by newest first.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/list-inbox-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "Number of newest inbox messages to return.",
            "schema": {
              "type": "number",
              "description": "Number of newest inbox messages to return.",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "A text preview of the message body."
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "The sender email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The sender display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasAttachments": {
                            "type": "boolean",
                            "description": "Whether the message has attachments."
                          },
                          "id": {
                            "type": "string",
                            "description": "The Microsoft Graph message ID."
                          },
                          "importance": {
                            "type": "string",
                            "description": "The message importance level."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the message has been read."
                          },
                          "receivedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was received."
                          },
                          "sentDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was sent."
                          },
                          "subject": {
                            "type": "string",
                            "description": "The message subject line."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "A link to open the message in Outlook on the web."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/list-mail-folders": {
      "get": {
        "operationId": "microsoftExchange.list-mail-folders",
        "summary": "List Mail Folders",
        "description": "Retrieves mail folders from Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/list-mail-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "Upper bound on the number of top-level folders to return from the current page.",
            "schema": {
              "type": "number",
              "description": "Upper bound on the number of top-level folders to return from the current page.",
              "default": 25
            }
          },
          {
            "name": "includeHiddenFolders",
            "in": "query",
            "required": false,
            "description": "Whether to include hidden mail folders in the results.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include hidden mail folders in the results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "childFolderCount": {
                            "type": "number",
                            "description": "The number of child folders."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "The mail folder display name."
                          },
                          "id": {
                            "type": "string",
                            "description": "The mail folder ID."
                          },
                          "isHidden": {
                            "type": "boolean",
                            "description": "Whether the folder is hidden."
                          },
                          "parentFolderId": {
                            "type": "string",
                            "description": "The parent mail folder ID."
                          },
                          "totalItemCount": {
                            "type": "number",
                            "description": "The total number of items."
                          },
                          "unreadItemCount": {
                            "type": "number",
                            "description": "The number of unread items."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/list-message-attachments": {
      "get": {
        "operationId": "microsoftExchange.list-message-attachments",
        "summary": "List Message Attachments",
        "description": "Retrieves attachments for a message from Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/list-message-attachments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The Exchange message ID whose attachments you want to list.",
            "schema": {
              "type": "string",
              "description": "The Exchange message ID whose attachments you want to list.",
              "example": "AAMkAG..."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "The attachment MIME type."
                          },
                          "id": {
                            "type": "string",
                            "description": "The attachment ID."
                          },
                          "isInline": {
                            "type": "boolean",
                            "description": "Whether the attachment is inline."
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the attachment was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The attachment file name."
                          },
                          "size": {
                            "type": "number",
                            "description": "The attachment size in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftExchange/latest/actions/list-messages-in-folder": {
      "get": {
        "operationId": "microsoftExchange.list-messages-in-folder",
        "summary": "List Messages in Folder",
        "description": "Finds messages in a mail folder in Microsoft Exchange.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftExchange/latest/actions/list-messages-in-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mailFolderId",
            "in": "query",
            "required": true,
            "description": "The mail folder ID or a well-known folder name such as inbox or archive.",
            "schema": {
              "type": "string",
              "description": "The mail folder ID or a well-known folder name such as inbox or archive.",
              "example": "inbox"
            }
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "Maximum number of messages to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of messages to return.",
              "default": 10
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "OData expand expression for returning attachment metadata, including inline attachment flags.",
            "schema": {
              "type": "string",
              "description": "OData expand expression for returning attachment metadata, including inline attachment flags.",
              "default": "attachments($select=id,name,contentType,contentId,isInline)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
