{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Schiphol Airport Universal API",
    "version": "0.1.4",
    "description": "Access Amsterdam Airport Schiphol public flight information, including flights, airlines, aircraft types, destinations, and flight status data from the Public Flight API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/schipholAirport/latest/actions/get-airline": {
      "get": {
        "operationId": "schipholAirport.get-airline",
        "summary": "Get Airline",
        "description": "Retrieves an airline from Schiphol Airport by IATA or ICAO code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/get-airline"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline",
            "in": "query",
            "required": true,
            "description": "IATA or ICAO airline code, such as KL or KLM.",
            "schema": {
              "type": "string",
              "description": "IATA or ICAO airline code, such as KL or KLM."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iata": {
                            "type": "string"
                          },
                          "icao": {
                            "type": "string"
                          },
                          "nvls": {
                            "type": "number"
                          },
                          "publicName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/schipholAirport/latest/actions/get-destination": {
      "get": {
        "operationId": "schipholAirport.get-destination",
        "summary": "Get Destination",
        "description": "Retrieves a destination from Schiphol Airport by IATA code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/get-destination"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata",
            "in": "query",
            "required": true,
            "description": "Three-character destination IATA code.",
            "schema": {
              "type": "string",
              "description": "Three-character destination IATA code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "iata": {
                            "type": "string"
                          },
                          "publicName": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/schipholAirport/latest/actions/get-flight": {
      "get": {
        "operationId": "schipholAirport.get-flight",
        "summary": "Get Flight",
        "description": "Retrieves a flight from Schiphol Airport by flight ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/get-flight"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique numeric Schiphol flight ID.",
            "schema": {
              "type": "string",
              "description": "Unique numeric Schiphol flight ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aircraftRegistration": {
                            "type": "string"
                          },
                          "aircraftType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "baggageClaim": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "codeshares": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "flightDirection": {
                            "type": "string"
                          },
                          "flightName": {
                            "type": "string"
                          },
                          "flightNumber": {
                            "type": "number"
                          },
                          "gate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "pier": {
                            "type": "string"
                          },
                          "publicFlightState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "route": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduleDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduleTime": {
                            "type": "string"
                          },
                          "terminal": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/schipholAirport/latest/actions/list-aircraft-types": {
      "get": {
        "operationId": "schipholAirport.list-aircraft-types",
        "summary": "List Aircraft Types",
        "description": "Retrieves aircraft types from Schiphol Airport.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/list-aircraft-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iataMain",
            "in": "query",
            "required": false,
            "description": "Three-character IATA main aircraft type code.",
            "schema": {
              "type": "string",
              "description": "Three-character IATA main aircraft type code."
            }
          },
          {
            "name": "iataSub",
            "in": "query",
            "required": false,
            "description": "Three-character IATA sub aircraft type code.",
            "schema": {
              "type": "string",
              "description": "Three-character IATA sub aircraft type code."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page number, starting at 0.",
            "schema": {
              "type": "number",
              "description": "Result page number, starting at 0.",
              "default": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort expression using iataMain, iataSub, longDescription, or shortDescription.",
            "schema": {
              "type": "string",
              "description": "Sort expression using iataMain, iataSub, longDescription, or shortDescription.",
              "default": "+iataMain",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iataMain": {
                            "type": "string"
                          },
                          "iataSub": {
                            "type": "string"
                          },
                          "longDescription": {
                            "type": "string"
                          },
                          "shortDescription": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/schipholAirport/latest/actions/list-airlines": {
      "get": {
        "operationId": "schipholAirport.list-airlines",
        "summary": "List Airlines",
        "description": "Retrieves a list of airlines from Schiphol Airport.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/list-airlines"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page number, starting at 0.",
            "schema": {
              "type": "number",
              "description": "Result page number, starting at 0.",
              "default": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort expression using publicName, iata, icao, or nvls.",
            "schema": {
              "type": "string",
              "description": "Sort expression using publicName, iata, icao, or nvls.",
              "default": "+iata",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iata": {
                            "type": "string"
                          },
                          "icao": {
                            "type": "string"
                          },
                          "nvls": {
                            "type": "number"
                          },
                          "publicName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/schipholAirport/latest/actions/list-destinations": {
      "get": {
        "operationId": "schipholAirport.list-destinations",
        "summary": "List Destinations",
        "description": "Retrieves a list of destinations from Schiphol Airport.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/list-destinations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page number, starting at 0.",
            "schema": {
              "type": "number",
              "description": "Result page number, starting at 0.",
              "default": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort expression using publicName.dutch, publicName.english, iata, country, or city.",
            "schema": {
              "type": "string",
              "description": "Sort expression using publicName.dutch, publicName.english, iata, country, or city.",
              "default": "+iata",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "iata": {
                            "type": "string"
                          },
                          "publicName": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/schipholAirport/latest/actions/list-flight-ids": {
      "get": {
        "operationId": "schipholAirport.list-flight-ids",
        "summary": "List Flight IDs",
        "description": "Retrieves flight IDs from Schiphol Airport by datetime range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/list-flight-ids"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "required": true,
            "description": "Start of the scheduleDateTime range, formatted yyyy-MM-ddTHH:mm:ss.",
            "schema": {
              "type": "string",
              "description": "Start of the scheduleDateTime range, formatted yyyy-MM-ddTHH:mm:ss."
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "required": true,
            "description": "End of the scheduleDateTime range, formatted yyyy-MM-ddTHH:mm:ss. Maximum range is three days.",
            "schema": {
              "type": "string",
              "description": "End of the scheduleDateTime range, formatted yyyy-MM-ddTHH:mm:ss. Maximum range is three days."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Schiphol flight ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/schipholAirport/latest/actions/list-flights": {
      "get": {
        "operationId": "schipholAirport.list-flights",
        "summary": "List Flights",
        "description": "Retrieves flights from Schiphol Airport for a specific date.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/schipholAirport/latest/actions/list-flights"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleDate",
            "in": "query",
            "required": false,
            "description": "Scheduled date to retrieve flights for, formatted YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Scheduled date to retrieve flights for, formatted YYYY-MM-DD."
            }
          },
          {
            "name": "scheduleTime",
            "in": "query",
            "required": false,
            "description": "Scheduled time to retrieve flights from, formatted HH:mm.",
            "schema": {
              "type": "string",
              "description": "Scheduled time to retrieve flights from, formatted HH:mm."
            }
          },
          {
            "name": "flightName",
            "in": "query",
            "required": false,
            "description": "Flight number as printed on the ticket, such as KL1234.",
            "schema": {
              "type": "string",
              "description": "Flight number as printed on the ticket, such as KL1234."
            }
          },
          {
            "name": "flightDirection",
            "in": "query",
            "required": false,
            "description": "Flight direction: A for arrivals or D for departures.",
            "schema": {
              "type": "string",
              "description": "Flight direction: A for arrivals or D for departures.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "airline",
            "in": "query",
            "required": false,
            "description": "IATA or ICAO airline prefix, such as KL or KLM.",
            "schema": {
              "type": "string",
              "description": "IATA or ICAO airline prefix, such as KL or KLM."
            }
          },
          {
            "name": "airlineCode",
            "in": "query",
            "required": false,
            "description": "Schiphol numeric airline code.",
            "schema": {
              "type": "number",
              "description": "Schiphol numeric airline code."
            }
          },
          {
            "name": "route",
            "in": "query",
            "required": false,
            "description": "IATA or ICAO route airport code; multiple values can be comma separated.",
            "schema": {
              "type": "string",
              "description": "IATA or ICAO route airport code; multiple values can be comma separated."
            }
          },
          {
            "name": "includedelays",
            "in": "query",
            "required": false,
            "description": "Include earlier scheduled flights delayed into the requested date.",
            "schema": {
              "type": "boolean",
              "description": "Include earlier scheduled flights delayed into the requested date.",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page number, starting at 0.",
            "schema": {
              "type": "number",
              "description": "Result page number, starting at 0.",
              "default": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort expression such as +scheduleTime or -scheduleDate,+scheduleTime.",
            "schema": {
              "type": "string",
              "description": "Sort expression such as +scheduleTime or -scheduleDate,+scheduleTime.",
              "default": "+scheduleTime",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "required": false,
            "description": "Start of a DateTime search range, formatted yyyy-MM-ddTHH:mm:ss.",
            "schema": {
              "type": "string",
              "description": "Start of a DateTime search range, formatted yyyy-MM-ddTHH:mm:ss.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "required": false,
            "description": "End of a DateTime search range, formatted yyyy-MM-ddTHH:mm:ss.",
            "schema": {
              "type": "string",
              "description": "End of a DateTime search range, formatted yyyy-MM-ddTHH:mm:ss.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "searchDateTimeField",
            "in": "query",
            "required": false,
            "description": "DateTime field to query when using fromDateTime and toDateTime.",
            "schema": {
              "type": "string",
              "description": "DateTime field to query when using fromDateTime and toDateTime.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fromScheduleDate",
            "in": "query",
            "required": false,
            "description": "Start scheduled date for a scheduleDate range, formatted YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start scheduled date for a scheduleDate range, formatted YYYY-MM-DD.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "toScheduleDate",
            "in": "query",
            "required": false,
            "description": "End scheduled date for a scheduleDate range, formatted YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End scheduled date for a scheduleDate range, formatted YYYY-MM-DD.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "isOperationalFlight",
            "in": "query",
            "required": false,
            "description": "Filter by operational or non-operational flights.",
            "schema": {
              "type": "boolean",
              "description": "Filter by operational or non-operational flights.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aircraftRegistration": {
                            "type": "string"
                          },
                          "aircraftType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "baggageClaim": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "codeshares": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "flightDirection": {
                            "type": "string"
                          },
                          "flightName": {
                            "type": "string",
                            "description": "Flight number as printed on the ticket"
                          },
                          "flightNumber": {
                            "type": "number"
                          },
                          "gate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique Schiphol flight ID"
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "pier": {
                            "type": "string"
                          },
                          "publicFlightState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "route": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduleDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduleTime": {
                            "type": "string"
                          },
                          "terminal": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
