{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "News API Universal API",
    "version": "0.0.4",
    "description": "Search breaking news headlines, source metadata, and historical articles from News API's REST endpoints."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/newsAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/newsAPI/latest/actions/list-sources": {
      "get": {
        "operationId": "newsAPI.list-sources",
        "summary": "List Sources",
        "description": "Retrieves top-headline news sources from News API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsAPI/latest/actions/list-sources"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category of sources to return.",
            "schema": {
              "type": "string",
              "description": "Category of sources to return.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language of sources to return.",
            "schema": {
              "type": "string",
              "description": "Language of sources to return.",
              "enum": [
                "0",
                "1",
                "10",
                "11",
                "12",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country of sources to return.",
            "schema": {
              "type": "string",
              "description": "Country of sources to return.",
              "enum": [
                "0",
                "1",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "2",
                "20",
                "21",
                "22",
                "23",
                "24",
                "25",
                "26",
                "27",
                "28",
                "29",
                "3",
                "30",
                "31",
                "32",
                "33",
                "34",
                "35",
                "36",
                "37",
                "38",
                "39",
                "4",
                "40",
                "41",
                "42",
                "43",
                "44",
                "45",
                "46",
                "47",
                "48",
                "49",
                "5",
                "50",
                "51",
                "52",
                "53",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The matching news sources returned by the request."
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status from News API."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsAPI/latest/actions/list-top-headlines": {
      "get": {
        "operationId": "newsAPI.list-top-headlines",
        "summary": "List Top Headlines",
        "description": "Finds top headlines in News API by country, category, or source.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsAPI/latest/actions/list-top-headlines"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter ISO 3166-1 country code to fetch headlines for.",
            "schema": {
              "type": "string",
              "description": "Two-letter ISO 3166-1 country code to fetch headlines for.",
              "enum": [
                "0"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Keywords or a phrase to search for. Defaults to `news` when no other top-headlines filter is supplied.",
            "schema": {
              "type": "string",
              "description": "Keywords or a phrase to search for. Defaults to `news` when no other top-headlines filter is supplied.",
              "default": "news"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated source identifiers to fetch headlines from.",
            "schema": {
              "type": "string",
              "description": "Comma-separated source identifiers to fetch headlines from."
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category of headlines to return.",
            "schema": {
              "type": "string",
              "description": "Category of headlines to return.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of results to return per page."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number of the results to return.",
            "schema": {
              "type": "number",
              "description": "Page number of the results to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "articles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The top headline articles returned by the request."
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status from News API."
                          },
                          "totalResults": {
                            "type": "number",
                            "description": "Total number of matching headlines available for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsAPI/latest/actions/search-everything": {
      "get": {
        "operationId": "newsAPI.search-everything",
        "summary": "Search Everything",
        "description": "Finds articles in News API by keyword or phrase.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsAPI/latest/actions/search-everything"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains",
            "in": "query",
            "required": false,
            "description": "Comma-separated domains to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated domains to include."
            }
          },
          {
            "name": "excludeDomains",
            "in": "query",
            "required": false,
            "description": "Comma-separated domains to exclude.",
            "schema": {
              "type": "string",
              "description": "Comma-separated domains to exclude."
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "A date and optional time for the oldest allowed article.",
            "schema": {
              "type": "string",
              "description": "A date and optional time for the oldest allowed article."
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Keywords or a phrase to search for.",
            "schema": {
              "type": "string",
              "description": "Keywords or a phrase to search for."
            }
          },
          {
            "name": "searchIn",
            "in": "query",
            "required": false,
            "description": "Restrict the search to article fields such as title, description, or content.",
            "schema": {
              "type": "string",
              "description": "Restrict the search to article fields such as title, description, or content."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated source identifiers to search within.",
            "schema": {
              "type": "string",
              "description": "Comma-separated source identifiers to search within."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "A date and optional time for the newest allowed article.",
            "schema": {
              "type": "string",
              "description": "A date and optional time for the newest allowed article."
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Restrict articles to a single language.",
            "schema": {
              "type": "string",
              "description": "Restrict articles to a single language.",
              "enum": [
                "0",
                "1",
                "10",
                "11",
                "12",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort order for returned articles.",
            "schema": {
              "type": "string",
              "description": "Sort order for returned articles.",
              "enum": [
                "0",
                "1",
                "2"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of results to return per page."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number of the results to return.",
            "schema": {
              "type": "number",
              "description": "Page number of the results to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "articles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The articles returned by the request."
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status from News API."
                          },
                          "totalResults": {
                            "type": "number",
                            "description": "Total number of matching articles available for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
