{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Veterans Affairs Forms Universal API",
    "version": "0.0.2",
    "description": "Look up VA forms, search form metadata, retrieve PDF links, and check revision history from the Department of Veterans Affairs VA Forms API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/veteransAffairsForms/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/veteransAffairsForms/latest/actions/get-va-form": {
      "get": {
        "operationId": "veteransAffairsForms.get-va-form",
        "summary": "Get VA Form",
        "description": "Retrieves a VA form by form name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/veteransAffairsForms/latest/actions/get-va-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formName",
            "in": "query",
            "required": true,
            "description": "Exact VA form name, including proper placement of prefixes and hyphens. Example: 10-10EZ.",
            "schema": {
              "type": "string",
              "description": "Exact VA form name, including proper placement of prefixes and hyphens. Example: 10-10EZ.",
              "example": "10-10EZ"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "benefit_categories": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Benefit categories related to the form."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "VA.gov internal creation timestamp."
                              },
                              "deleted_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Deletion timestamp when VA has removed the form."
                              },
                              "first_issued_on": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date the form first became available."
                              },
                              "form_details_url": {
                                "type": "string",
                                "description": "VA.gov details page URL, when available."
                              },
                              "form_name": {
                                "type": "string",
                                "description": "VA form name, such as 10-10EZ."
                              },
                              "form_tool_intro": {
                                "type": "string",
                                "description": "Introductory text for an online tool, when available."
                              },
                              "form_tool_url": {
                                "type": "string",
                                "description": "Online tool URL, when available."
                              },
                              "form_type": {
                                "type": "string",
                                "description": "VA form type."
                              },
                              "form_usage": {
                                "type": "string",
                                "description": "Description of how the form is used."
                              },
                              "language": {
                                "type": "string",
                                "description": "Language code."
                              },
                              "last_revision_on": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date the form was last revised."
                              },
                              "last_sha256_change": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date of the last SHA256 hash change."
                              },
                              "pages": {
                                "type": "number",
                                "description": "Number of pages."
                              },
                              "related_forms": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Related VA form names."
                              },
                              "sha256": {
                                "type": "string",
                                "description": "SHA256 hash for the form PDF."
                              },
                              "title": {
                                "type": "string",
                                "description": "VA form title."
                              },
                              "url": {
                                "type": "string",
                                "description": "PDF URL for the form when published."
                              },
                              "va_form_administration": {
                                "type": "string",
                                "description": "VA organization administering the form."
                              },
                              "valid_pdf": {
                                "type": "boolean",
                                "description": "Whether the PDF URL was confirmed valid."
                              },
                              "versions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Revision history including SHA256 and revision date."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "JSON API identifier."
                          },
                          "type": {
                            "type": "string",
                            "description": "JSON API resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/veteransAffairsForms/latest/actions/list-va-forms": {
      "get": {
        "operationId": "veteransAffairsForms.list-va-forms",
        "summary": "List VA Forms",
        "description": "Finds VA forms by number, keyword, or title.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/veteransAffairsForms/latest/actions/list-va-forms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Optional form number, keyword, or title used to filter VA forms.",
            "schema": {
              "type": "string",
              "description": "Optional form number, keyword, or title used to filter VA forms.",
              "example": "10-10EZ or health benefits"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "benefit_categories": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Benefit categories related to the form."
                              },
                              "deleted_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Deletion timestamp when VA has removed the form."
                              },
                              "first_issued_on": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date the form first became available."
                              },
                              "form_details_url": {
                                "type": "string",
                                "description": "VA.gov details page URL, when available."
                              },
                              "form_name": {
                                "type": "string",
                                "description": "VA form name, such as 10-10EZ."
                              },
                              "form_tool_intro": {
                                "type": "string",
                                "description": "Introductory text for an online tool, when available."
                              },
                              "form_tool_url": {
                                "type": "string",
                                "description": "Online tool URL, when available."
                              },
                              "form_type": {
                                "type": "string",
                                "description": "VA form type."
                              },
                              "form_usage": {
                                "type": "string",
                                "description": "Description of how the form is used."
                              },
                              "language": {
                                "type": "string",
                                "description": "Language code."
                              },
                              "last_revision_on": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date the form was last revised."
                              },
                              "last_sha256_change": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date of the last SHA256 hash change."
                              },
                              "pages": {
                                "type": "number",
                                "description": "Number of pages."
                              },
                              "related_forms": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Related VA form names."
                              },
                              "sha256": {
                                "type": "string",
                                "description": "SHA256 hash for the form PDF."
                              },
                              "title": {
                                "type": "string",
                                "description": "VA form title."
                              },
                              "url": {
                                "type": "string",
                                "description": "PDF URL for the form when published."
                              },
                              "va_form_administration": {
                                "type": "string",
                                "description": "VA organization administering the form."
                              },
                              "valid_pdf": {
                                "type": "boolean",
                                "description": "Whether the PDF URL was confirmed valid."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "JSON API identifier."
                          },
                          "type": {
                            "type": "string",
                            "description": "JSON API resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
