{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ServiceM8 Universal API",
    "version": "0.0.7",
    "description": "Manage field service jobs, clients, staff, and job templates"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/serviceM8/latest/actions/create-client": {
      "post": {
        "operationId": "serviceM8.create-client",
        "summary": "Create Client",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Company name."
                  },
                  "website": {
                    "type": "string",
                    "description": "Website URL."
                  },
                  "address": {
                    "type": "string",
                    "description": "Primary address."
                  },
                  "addressStreet": {
                    "type": "string",
                    "description": "Street address."
                  },
                  "addressCity": {
                    "type": "string",
                    "description": "Address city."
                  },
                  "addressState": {
                    "type": "string",
                    "description": "Address state."
                  },
                  "addressPostcode": {
                    "type": "string",
                    "description": "Address postcode."
                  },
                  "addressCountry": {
                    "type": "string",
                    "description": "Address country."
                  },
                  "billingAddress": {
                    "type": "string",
                    "description": "Billing address.",
                    "x-mindcloud-advanced": true
                  },
                  "billingAttention": {
                    "type": "string",
                    "description": "Billing attention line.",
                    "x-mindcloud-advanced": true
                  },
                  "paymentTerms": {
                    "type": "string",
                    "description": "Payment terms.",
                    "x-mindcloud-advanced": true
                  },
                  "abnNumber": {
                    "type": "string",
                    "description": "Australian Business Number.",
                    "x-mindcloud-advanced": true
                  },
                  "faxNumber": {
                    "type": "string",
                    "description": "Fax number.",
                    "x-mindcloud-advanced": true
                  },
                  "taxRateUuid": {
                    "type": "string",
                    "description": "Tax rate UUID.",
                    "x-mindcloud-advanced": true
                  },
                  "parentCompanyUuid": {
                    "type": "string",
                    "description": "Parent company UUID for site records.",
                    "x-mindcloud-advanced": true
                  },
                  "badges": {
                    "type": "string",
                    "description": "JSON array of badge UUIDs.",
                    "x-mindcloud-advanced": true
                  },
                  "uuid": {
                    "type": "string",
                    "description": "Optional record UUID.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordUuid": {
                            "type": "string",
                            "description": "UUID of the created client."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/create-company-contact": {
      "post": {
        "operationId": "serviceM8.create-company-contact",
        "summary": "Create Company Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/create-company-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyUuid": {
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "first": {
                    "type": "string"
                  },
                  "last": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1 555 123 4567"
                  },
                  "mobile": {
                    "type": "string",
                    "example": "+1 555 123 4567"
                  },
                  "email": {
                    "type": "string",
                    "example": "name@example.com"
                  },
                  "type": {
                    "type": "string"
                  },
                  "isPrimaryContact": {
                    "type": "boolean"
                  },
                  "uuid": {
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordUuid": {
                            "type": "string",
                            "description": "UUID of the created company contact."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/create-job": {
      "post": {
        "operationId": "serviceM8.create-job",
        "summary": "Create Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyUuid": {
                    "type": "string",
                    "description": "Existing client UUID to attach to the new job."
                  },
                  "status": {
                    "type": "string",
                    "description": "Initial ServiceM8 job status."
                  },
                  "jobAddress": {
                    "type": "string",
                    "description": "Address for the new job."
                  },
                  "jobDescription": {
                    "type": "string",
                    "description": "Description for the new job."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordUuid": {
                            "type": "string",
                            "description": "UUID of the created job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/create-job-activity": {
      "post": {
        "operationId": "serviceM8.create-job-activity",
        "summary": "Create Job Activity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/create-job-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobUuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "staffUuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 12:00:00"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 13:00:00"
                  },
                  "activityWasScheduled": {
                    "type": "boolean",
                    "example": true
                  },
                  "activityWasRecorded": {
                    "type": "boolean",
                    "example": false
                  },
                  "materialUuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "x-mindcloud-advanced": true
                  },
                  "activityWasAutomated": {
                    "type": "string",
                    "example": "0",
                    "x-mindcloud-advanced": true
                  },
                  "hasBeenOpened": {
                    "type": "boolean",
                    "example": false,
                    "x-mindcloud-advanced": true
                  },
                  "hasBeenOpenedTimestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 12:15:00",
                    "x-mindcloud-advanced": true
                  },
                  "travelTimeInSeconds": {
                    "type": "number",
                    "example": 900,
                    "x-mindcloud-advanced": true
                  },
                  "travelDistanceInMeters": {
                    "type": "number",
                    "example": 5000,
                    "x-mindcloud-advanced": true
                  },
                  "uuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordUuid": {
                            "type": "string",
                            "description": "UUID of the created job activity."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/create-job-allocation": {
      "post": {
        "operationId": "serviceM8.create-job-allocation",
        "summary": "Create Job Allocation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/create-job-allocation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "allocationWindowUuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobUuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "staffUuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "allocationDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 12:00:00"
                  },
                  "allocationWindowUuid": {
                    "type": "string",
                    "description": "Required ServiceM8 allocation window UUID. Retrieve this from the Allocation Windows resource configured in the connected ServiceM8 tenant.",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "sortPriority": {
                    "type": "string",
                    "example": "10",
                    "x-mindcloud-advanced": true
                  },
                  "allocatedByStaffUuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "x-mindcloud-advanced": true
                  },
                  "allocatedTimestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 11:55:00",
                    "x-mindcloud-advanced": true
                  },
                  "expiryTimestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 18:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "readTimestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 12:05:00",
                    "x-mindcloud-advanced": true
                  },
                  "completionTimestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-01 15:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "uuid": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordUuid": {
                            "type": "string",
                            "description": "UUID of the created job allocation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/create-task": {
      "post": {
        "operationId": "serviceM8.create-task",
        "summary": "Create Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "relatedObject",
                  "relatedObjectUuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name or title of the task."
                  },
                  "taskDetails": {
                    "type": "string",
                    "description": "Detailed description of the task."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date by which the task should be completed."
                  },
                  "relatedObject": {
                    "type": "string",
                    "description": "The object class this task is related to."
                  },
                  "relatedObjectUuid": {
                    "type": "string",
                    "description": "UUID of the specific object instance this task is related to."
                  },
                  "assignedToStaffUuid": {
                    "type": "string",
                    "description": "UUID of the staff member assigned to complete this task."
                  },
                  "taskComplete": {
                    "type": "string",
                    "description": "Whether the task has been completed."
                  },
                  "completedTimestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time when the task was marked as complete."
                  },
                  "completedByStaffUuid": {
                    "type": "string",
                    "description": "UUID of the staff member who marked the task as complete."
                  },
                  "createdByStaffUuid": {
                    "type": "string",
                    "description": "UUID of the staff member who created the task."
                  },
                  "uuid": {
                    "type": "string",
                    "description": "Optional UUID for record creation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordUuid": {
                            "type": "string",
                            "description": "UUID of the created task."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/get-client": {
      "get": {
        "operationId": "serviceM8.get-client",
        "summary": "Get Client",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/get-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "Record UUID of the client to retrieve.",
            "schema": {
              "type": "string",
              "description": "Record UUID of the client to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abnNumber": {
                            "type": "string"
                          },
                          "active": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string"
                          },
                          "addressCity": {
                            "type": "string"
                          },
                          "addressCountry": {
                            "type": "string"
                          },
                          "addressPostcode": {
                            "type": "string"
                          },
                          "addressState": {
                            "type": "string"
                          },
                          "addressStreet": {
                            "type": "string"
                          },
                          "badges": {
                            "type": "string"
                          },
                          "billingAddress": {
                            "type": "string"
                          },
                          "billingAttention": {
                            "type": "string"
                          },
                          "editDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "faxNumber": {
                            "type": "string"
                          },
                          "isIndividual": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "string"
                          },
                          "taxRateUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/get-job": {
      "get": {
        "operationId": "serviceM8.get-job",
        "summary": "Get Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/get-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "Record UUID of the job to retrieve.",
            "schema": {
              "type": "string",
              "description": "Record UUID of the job to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "badges": {
                            "type": "string"
                          },
                          "billingAddress": {
                            "type": "string"
                          },
                          "categoryUuid": {
                            "type": "string"
                          },
                          "companyUuid": {
                            "type": "string"
                          },
                          "completionActionedByUuid": {
                            "type": "string"
                          },
                          "completionDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdByStaffUuid": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "editDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "generatedJobId": {
                            "type": "string"
                          },
                          "geoCity": {
                            "type": "string"
                          },
                          "geoCountry": {
                            "type": "string"
                          },
                          "geoIsValid": {
                            "type": "number"
                          },
                          "geoNumber": {
                            "type": "string"
                          },
                          "geoPostcode": {
                            "type": "string"
                          },
                          "geoState": {
                            "type": "string"
                          },
                          "geoStreet": {
                            "type": "string"
                          },
                          "invoiceSent": {
                            "type": "boolean"
                          },
                          "invoiceSentStamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "jobAddress": {
                            "type": "string"
                          },
                          "jobDescription": {
                            "type": "string"
                          },
                          "jobIsScheduledUntilStamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lat": {
                            "type": "number"
                          },
                          "lng": {
                            "type": "number"
                          },
                          "paymentActionedByUuid": {
                            "type": "string"
                          },
                          "paymentAmount": {
                            "type": "number"
                          },
                          "paymentDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "paymentNote": {
                            "type": "string"
                          },
                          "paymentProcessed": {
                            "type": "number"
                          },
                          "paymentProcessedStamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentReceived": {
                            "type": "number"
                          },
                          "paymentReceivedStamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purchaseOrderNumber": {
                            "type": "string"
                          },
                          "queueAssignedStaffUuid": {
                            "type": "string"
                          },
                          "queueExpiryDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "queueUuid": {
                            "type": "string"
                          },
                          "quoteDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "quoteSent": {
                            "type": "boolean"
                          },
                          "quoteSentStamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "readyToInvoice": {
                            "type": "string"
                          },
                          "readyToInvoiceStamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalInvoiceAmount": {
                            "type": "string"
                          },
                          "unsuccessfulDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "workDoneDescription": {
                            "type": "string"
                          },
                          "workOrderDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/get-staff-member": {
      "get": {
        "operationId": "serviceM8.get-staff-member",
        "summary": "Get Staff Member",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/get-staff-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "UUID of the Staff Member",
            "schema": {
              "type": "string",
              "description": "UUID of the Staff Member"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "canReceivePushNotification": {
                            "type": "number"
                          },
                          "color": {
                            "type": "string"
                          },
                          "customIconUrl": {
                            "type": "string"
                          },
                          "editDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first": {
                            "type": "string"
                          },
                          "geoTimestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hideFromSchedule": {
                            "type": "number"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "labourMaterialUuid": {
                            "type": "string"
                          },
                          "last": {
                            "type": "string"
                          },
                          "lat": {
                            "type": "number"
                          },
                          "lng": {
                            "type": "number"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "navigatingExpiryTimestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "navigatingTimestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "navigatingToJobUuid": {
                            "type": "string"
                          },
                          "securityRoleUuid": {
                            "type": "string"
                          },
                          "statusMessage": {
                            "type": "string"
                          },
                          "statusMessageTimestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/list-clients": {
      "get": {
        "operationId": "serviceM8.list-clients",
        "summary": "List Clients",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/list-clients"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abnNumber": {
                            "type": "string"
                          },
                          "active": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string"
                          },
                          "addressCity": {
                            "type": "string"
                          },
                          "addressCountry": {
                            "type": "string"
                          },
                          "addressPostcode": {
                            "type": "string"
                          },
                          "addressState": {
                            "type": "string"
                          },
                          "addressStreet": {
                            "type": "string"
                          },
                          "badges": {
                            "type": "string"
                          },
                          "billingAddress": {
                            "type": "string"
                          },
                          "billingAttention": {
                            "type": "string"
                          },
                          "editDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "faxNumber": {
                            "type": "string"
                          },
                          "isIndividual": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "string"
                          },
                          "taxRateUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/list-company-contacts": {
      "get": {
        "operationId": "serviceM8.list-company-contacts",
        "summary": "List Company Contacts",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/list-company-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "active eq 1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "companyUuid": {
                            "type": "string"
                          },
                          "editDate": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first": {
                            "type": "string"
                          },
                          "isPrimaryContact": {
                            "type": "string"
                          },
                          "last": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/serviceM8/latest/actions/list-job-activities": {
      "get": {
        "operationId": "serviceM8.list-job-activities",
        "summary": "List Job Activities",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/serviceM8/latest/actions/list-job-activities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number",
                            "description": "Record active or deleted flag."
                          },
                          "activityWasAutomated": {
                            "type": "number",
                            "description": "Flag indicating whether the activity was automated."
                          },
                          "activityWasRecorded": {
                            "type": "number",
                            "description": "Flag indicating whether the activity was recorded after completion."
                          },
                          "activityWasScheduled": {
                            "type": "number",
                            "description": "Flag indicating whether the activity was scheduled in advance."
                          },
                          "allocatedByStaffUuid": {
                            "type": "string",
                            "description": "UUID of the staff member who allocated the activity."
                          },
                          "allocatedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the activity was allocated."
                          },
                          "editByStaffUuid": {
                            "type": "string",
                            "description": "Staff UUID of the last editor."
                          },
                          "editDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the record was last modified."
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled end date and time for the activity."
                          },
                          "hasBeenOpened": {
                            "type": "number",
                            "description": "Flag indicating whether the assigned staff member opened the activity."
                          },
                          "hasBeenOpenedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the assigned staff member first opened the activity."
                          },
                          "jobUuid": {
                            "type": "string",
                            "description": "UUID of the job this activity belongs to."
                          },
                          "materialUuid": {
                            "type": "string",
                            "description": "UUID of the associated material."
                          },
                          "staffUuid": {
                            "type": "string",
                            "description": "UUID of the assigned staff member."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled start date and time for the activity."
                          },
                          "travelDistanceInMeters": {
                            "type": "number",
                            "description": "Estimated travel distance in meters."
                          },
                          "travelTimeInSeconds": {
                            "type": "number",
                            "description": "Estimated travel time in seconds."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Unique identifier for this job activity."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
[...]
