{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BILL Payables & Receivables Universal API",
    "version": "0.0.30",
    "description": "The intelligent way to create and pay bills, send invoices, manage expenses, control budgets, and access the credit your business needs to grow—all on one platform."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/billcom/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/billcom/latest/actions/approve-bill": {
      "post": {
        "operationId": "billcom.approve-bill",
        "summary": "Approve Bill",
        "description": "Approves a bill in Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/approve-bill"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "objectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "objectId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/authenticate": {
      "post": {
        "operationId": "billcom.authenticate",
        "summary": "Authenticate",
        "description": "Signs in to Bill.com and creates an API session.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/authenticate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/create-record": {
      "post": {
        "operationId": "billcom.create-record",
        "summary": "Create Record",
        "description": "Creates a record in Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/create-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "recordType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "recordType": {
                    "type": "string",
                    "example": "PurchaseOrder.json"
                  },
                  "data": {
                    "type": "string",
                    "example": "{\"obj\": {\"entity\": \"Vendor\", \"name\": \"MindCloud Test\"}}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "acctBalance": {
                            "type": "number"
                          },
                          "acknowledgedEbillBanner": {
                            "type": "boolean"
                          },
                          "acknowledgedEbillError": {
                            "type": "boolean"
                          },
                          "address1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address4": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressCity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressCountry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressZip": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allowConnectedVendorEditAddress": {
                            "type": "boolean"
                          },
                          "amexMerchantCategory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoPayConflict": {
                            "type": "boolean"
                          },
                          "autoSave": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoSaveStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "availCredit": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "bankCountry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billCurrency": {
                            "type": "string"
                          },
                          "billSyncPref": {
                            "type": "string"
                          },
                          "cardFundingPurpose": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "combinePymtUpdateSource": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectionSource": {
                            "type": "string"
                          },
                          "contactFirstName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactLastName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "creationSource": {
                            "type": "string"
                          },
                          "default1099Categories": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "disableLineItemPredictions": {
                            "type": "boolean"
                          },
                          "eBillEligible": {
                            "type": "boolean"
                          },
                          "eBillEnabledStatus": {
                            "type": "string"
                          },
                          "eBillEnablementFailed": {
                            "type": "boolean"
                          },
                          "eligibleForEbills": {
                            "type": "boolean"
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "enabledCombinePayments": {
                            "type": "boolean"
                          },
                          "enableFundedInvite": {
                            "type": "boolean"
                          },
                          "entity": {
                            "type": "string"
                          },
                          "externalBillPayIn12m": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hasBankAccountAutoPay": {
                            "type": "boolean"
                          },
                          "hasRecurringPayments": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "informConnectedVendorAddressSyncModified": {
                            "type": "boolean"
                          },
                          "intlPaymentType": {
                            "type": "string"
                          },
                          "invalidCountryCurrencyAtNewVendorSync": {
                            "type": "boolean"
                          },
                          "isAccountNumberRequired": {
                            "type": "boolean"
                          },
                          "isActive": {
                            "type": "string"
                          },
                          "isAddressValidated": {
                            "type": "boolean"
                          },
                          "isLargeSupplierChild": {
                            "type": "boolean"
                          },
                          "isSyncVendorCountryMapped": {
                            "type": "boolean"
                          },
                          "largeBillerId": {
                            "type": "string"
                          },
                          "lastAcctBalanceUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastBalanceUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastIsLargeSupplierUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastPaymentDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mergedIntoId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameOnCheck": {
                            "type": "string"
                          },
                          "nameOnCheckRemediation": {
                            "type": "boolean"
                          },
                          "networkStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "numberOfInvitesSent": {
                            "type": "number"
                          },
                          "optedOutOfVCardByOrg": {
                            "type": "boolean"
                          },
                          "orgVCardOptOutCustOther": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgVCardOptOutCustReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgVCardStatus": {
                            "type": "string"
                          },
                          "payBy": {
                            "type": "string"
                          },
                          "payDaysBefore": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentCurrency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentNetworkId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentPhone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentPurpose": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentTermId": {
                            "type": "string"
                          },
                          "paymentusAcctToken": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusAcctToken2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusAcctToken3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusMerchantId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusPmtType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "preferIVADueDateOverDefaultPT": {
                            "type": "boolean"
                          },
                          "preferSDEOverIVAExtractedLineItems": {
                            "type": "boolean"
                          },
                          "prefPmtMethod": {
                            "type": "string"
                          },
                          "prefRemitEmail": {
                            "type": "string"
                          },
                          "processorVCardStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remitEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sendInviteForPrivateVendor": {
                            "type": "boolean"
                          },
                          "sendNotifications": {
                            "type": "boolean"
                          },
                          "setupAutoPayPrompt": {
                            "type": "boolean"
                          },
                          "shortName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "since": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stpProcessor": {
                            "type": "string"
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxIdType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "track1099": {
                            "type": "boolean"
                          },
                          "unmodifiedBillsCount": {
                            "type": "number"
                          },
                          "updatedTime": {
                            "type": "string"
                          },
                          "vcardBillerVendorId": {
                            "type": "string"
                          },
                          "vcardDeclineDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vcardEnrollDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vcardProcessor": {
                            "type": "string"
                          },
                          "vccExistingVendorSegment1": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment2": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment3": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment4": {
                            "type": "boolean"
                          },
                          "vendorBankAccountStatus": {
                            "type": "number"
                          },
                          "vendorVCardRemitEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorVCardStatus": {
                            "type": "string"
                          },
                          "vStatusUpdateSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "w9Status": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/create-record-copy": {
      "put": {
        "operationId": "billcom.create-record-copy",
        "summary": "Update Record",
        "description": "Updates a record in Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/create-record-copy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "recordType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "recordType": {
                    "type": "string",
                    "example": "Vendor.json"
                  },
                  "data": {
                    "type": "string",
                    "example": "{\"obj\": {\"entity\": \"Vendor\", \"name\": \"MindCloud Test\"}}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "acctBalance": {
                            "type": "number"
                          },
                          "acknowledgedEbillBanner": {
                            "type": "boolean"
                          },
                          "acknowledgedEbillError": {
                            "type": "boolean"
                          },
                          "address1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address4": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressCity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressCountry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressZip": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allowConnectedVendorEditAddress": {
                            "type": "boolean"
                          },
                          "amexMerchantCategory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoPayConflict": {
                            "type": "boolean"
                          },
                          "autoSave": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoSaveStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "availCredit": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "bankCountry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billCurrency": {
                            "type": "string"
                          },
                          "billSyncPref": {
                            "type": "string"
                          },
                          "cardFundingPurpose": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "combinePymtUpdateSource": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectionSource": {
                            "type": "string"
                          },
                          "contactFirstName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactLastName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "creationSource": {
                            "type": "string"
                          },
                          "default1099Categories": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "disableLineItemPredictions": {
                            "type": "boolean"
                          },
                          "eBillEligible": {
                            "type": "boolean"
                          },
                          "eBillEnabledStatus": {
                            "type": "string"
                          },
                          "eBillEnablementFailed": {
                            "type": "boolean"
                          },
                          "eligibleForEbills": {
                            "type": "boolean"
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "enabledCombinePayments": {
                            "type": "boolean"
                          },
                          "enableFundedInvite": {
                            "type": "boolean"
                          },
                          "entity": {
                            "type": "string"
                          },
                          "externalBillPayIn12m": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hasBankAccountAutoPay": {
                            "type": "boolean"
                          },
                          "hasRecurringPayments": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "informConnectedVendorAddressSyncModified": {
                            "type": "boolean"
                          },
                          "intlPaymentType": {
                            "type": "string"
                          },
                          "invalidCountryCurrencyAtNewVendorSync": {
                            "type": "boolean"
                          },
                          "isAccountNumberRequired": {
                            "type": "boolean"
                          },
                          "isActive": {
                            "type": "string"
                          },
                          "isAddressValidated": {
                            "type": "boolean"
                          },
                          "isLargeSupplierChild": {
                            "type": "boolean"
                          },
                          "isSyncVendorCountryMapped": {
                            "type": "boolean"
                          },
                          "largeBillerId": {
                            "type": "string"
                          },
                          "lastAcctBalanceUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastBalanceUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastIsLargeSupplierUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastPaymentDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mergedIntoId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameOnCheck": {
                            "type": "string"
                          },
                          "nameOnCheckRemediation": {
                            "type": "boolean"
                          },
                          "networkStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "numberOfInvitesSent": {
                            "type": "number"
                          },
                          "optedOutOfVCardByOrg": {
                            "type": "boolean"
                          },
                          "orgVCardOptOutCustOther": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgVCardOptOutCustReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgVCardStatus": {
                            "type": "string"
                          },
                          "payBy": {
                            "type": "string"
                          },
                          "payDaysBefore": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentCurrency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentNetworkId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentPhone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentPurpose": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentTermId": {
                            "type": "string"
                          },
                          "paymentusAcctToken": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusAcctToken2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusAcctToken3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusMerchantId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusPmtType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "preferIVADueDateOverDefaultPT": {
                            "type": "boolean"
                          },
                          "preferSDEOverIVAExtractedLineItems": {
                            "type": "boolean"
                          },
                          "prefPmtMethod": {
                            "type": "string"
                          },
                          "prefRemitEmail": {
                            "type": "string"
                          },
                          "processorVCardStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remitEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sendInviteForPrivateVendor": {
                            "type": "boolean"
                          },
                          "sendNotifications": {
                            "type": "boolean"
                          },
                          "setupAutoPayPrompt": {
                            "type": "boolean"
                          },
                          "shortName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "since": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stpProcessor": {
                            "type": "string"
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxIdType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "track1099": {
                            "type": "boolean"
                          },
                          "unmodifiedBillsCount": {
                            "type": "number"
                          },
                          "updatedTime": {
                            "type": "string"
                          },
                          "vcardBillerVendorId": {
                            "type": "string"
                          },
                          "vcardDeclineDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vcardEnrollDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vcardProcessor": {
                            "type": "string"
                          },
                          "vccExistingVendorSegment1": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment2": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment3": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment4": {
                            "type": "boolean"
                          },
                          "vendorBankAccountStatus": {
                            "type": "number"
                          },
                          "vendorVCardRemitEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorVCardStatus": {
                            "type": "string"
                          },
                          "vStatusUpdateSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "w9Status": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/create-vendor": {
      "post": {
        "operationId": "billcom.create-vendor",
        "summary": "Create Vendor",
        "description": "Creates a vendor in Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/create-vendor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "string",
                    "example": "{\"obj\": {\"entity\": \"Vendor\", \"name\": \"MindCloud Test\"}}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "acctBalance": {
                            "type": "number"
                          },
                          "acknowledgedEbillBanner": {
                            "type": "boolean"
                          },
                          "acknowledgedEbillError": {
                            "type": "boolean"
                          },
                          "address1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address4": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressCity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressCountry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressZip": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allowConnectedVendorEditAddress": {
                            "type": "boolean"
                          },
                          "amexMerchantCategory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoPayConflict": {
                            "type": "boolean"
                          },
                          "autoSave": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoSaveStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "availCredit": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "bankCountry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billCurrency": {
                            "type": "string"
                          },
                          "billSyncPref": {
                            "type": "string"
                          },
                          "cardFundingPurpose": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "combinePymtUpdateSource": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectionSource": {
                            "type": "string"
                          },
                          "contactFirstName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactLastName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "creationSource": {
                            "type": "string"
                          },
                          "default1099Categories": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "disableLineItemPredictions": {
                            "type": "boolean"
                          },
                          "eBillEligible": {
                            "type": "boolean"
                          },
                          "eBillEnabledStatus": {
                            "type": "string"
                          },
                          "eBillEnablementFailed": {
                            "type": "boolean"
                          },
                          "eligibleForEbills": {
                            "type": "boolean"
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "enabledCombinePayments": {
                            "type": "boolean"
                          },
                          "enableFundedInvite": {
                            "type": "boolean"
                          },
                          "entity": {
                            "type": "string"
                          },
                          "externalBillPayIn12m": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hasBankAccountAutoPay": {
                            "type": "boolean"
                          },
                          "hasRecurringPayments": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "informConnectedVendorAddressSyncModified": {
                            "type": "boolean"
                          },
                          "intlPaymentType": {
                            "type": "string"
                          },
                          "invalidCountryCurrencyAtNewVendorSync": {
                            "type": "boolean"
                          },
                          "isAccountNumberRequired": {
                            "type": "boolean"
                          },
                          "isActive": {
                            "type": "string"
                          },
                          "isAddressValidated": {
                            "type": "boolean"
                          },
                          "isLargeSupplierChild": {
                            "type": "boolean"
                          },
                          "isSyncVendorCountryMapped": {
                            "type": "boolean"
                          },
                          "largeBillerId": {
                            "type": "string"
                          },
                          "lastAcctBalanceUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastBalanceUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastIsLargeSupplierUpdate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastPaymentDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mergedIntoId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameOnCheck": {
                            "type": "string"
                          },
                          "nameOnCheckRemediation": {
                            "type": "boolean"
                          },
                          "networkStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "numberOfInvitesSent": {
                            "type": "number"
                          },
                          "optedOutOfVCardByOrg": {
                            "type": "boolean"
                          },
                          "orgVCardOptOutCustOther": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgVCardOptOutCustReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgVCardStatus": {
                            "type": "string"
                          },
                          "payBy": {
                            "type": "string"
                          },
                          "payDaysBefore": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentCurrency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentNetworkId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentPhone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentPurpose": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentTermId": {
                            "type": "string"
                          },
                          "paymentusAcctToken": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusAcctToken2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusAcctToken3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusMerchantId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentusPmtType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "preferIVADueDateOverDefaultPT": {
                            "type": "boolean"
                          },
                          "preferSDEOverIVAExtractedLineItems": {
                            "type": "boolean"
                          },
                          "prefPmtMethod": {
                            "type": "string"
                          },
                          "prefRemitEmail": {
                            "type": "string"
                          },
                          "processorVCardStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remitEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sendInviteForPrivateVendor": {
                            "type": "boolean"
                          },
                          "sendNotifications": {
                            "type": "boolean"
                          },
                          "setupAutoPayPrompt": {
                            "type": "boolean"
                          },
                          "shortName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "since": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stpProcessor": {
                            "type": "string"
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxIdType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "track1099": {
                            "type": "boolean"
                          },
                          "unmodifiedBillsCount": {
                            "type": "number"
                          },
                          "updatedTime": {
                            "type": "string"
                          },
                          "vcardBillerVendorId": {
                            "type": "string"
                          },
                          "vcardDeclineDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vcardEnrollDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vcardProcessor": {
                            "type": "string"
                          },
                          "vccExistingVendorSegment1": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment2": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment3": {
                            "type": "boolean"
                          },
                          "vccExistingVendorSegment4": {
                            "type": "boolean"
                          },
                          "vendorBankAccountStatus": {
                            "type": "number"
                          },
                          "vendorVCardRemitEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorVCardStatus": {
                            "type": "string"
                          },
                          "vStatusUpdateSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "w9Status": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/get-bill": {
      "get": {
        "operationId": "billcom.get-bill",
        "summary": "Get Bill",
        "description": "Retrieves a bill from Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/get-bill"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/list-bill-approvers": {
      "get": {
        "operationId": "billcom.list-bill-approvers",
        "summary": "List Approvers Assigned to a Bill",
        "description": "Retrieves approvers assigned to a bill in Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/list-bill-approvers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/list-bill-credits": {
      "get": {
        "operationId": "billcom.list-bill-credits",
        "summary": "List Bill Credits",
        "description": "Retrieves bill credits from Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/list-bill-credits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters[].field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[].comparison",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[].value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billcom/latest/actions/list-bills": {
      "get": {
        "operationId": "billcom.list-bills",
        "summary": "List Bills",
        "description": "Retrieves bills from Bill.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billcom/latest/actions/list-bills"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters[].field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[].comparison",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[].value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
[...]
