{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Urlbox Universal API",
    "version": "0.0.4",
    "description": "Capture website screenshots, PDFs, videos, metadata, and HTML"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/urlbox/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/urlbox/latest/actions/check-render-status": {
      "get": {
        "operationId": "urlbox.check-render-status",
        "summary": "Check Render Status",
        "description": "Retrieves the status of a render from Urlbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/urlbox/latest/actions/check-render-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "renderId",
            "in": "query",
            "required": true,
            "description": "The render ID returned by the async render action",
            "schema": {
              "type": "string",
              "description": "The render ID returned by the async render action",
              "example": "250ea007-552c-4555-ba2b-ef1c73e18be2"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bandwidth": {
                            "type": "number",
                            "description": "Bandwidth used for the generated render in bytes when available."
                          },
                          "queueTime": {
                            "type": "number",
                            "description": "Time spent waiting in queue in milliseconds when available."
                          },
                          "reason": {
                            "type": "string",
                            "description": "Human-readable failure reason when the render fails."
                          },
                          "renderId": {
                            "type": "string",
                            "description": "Identifier for the render request."
                          },
                          "renderTime": {
                            "type": "number",
                            "description": "Render generation time in milliseconds when available."
                          },
                          "renderUrl": {
                            "type": "string",
                            "description": "Generated render URL when the render succeeds."
                          },
                          "size": {
                            "type": "number",
                            "description": "Size of the generated render in bytes when available."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current render status value."
                          },
                          "statusUrl": {
                            "type": "string",
                            "description": "Polling URL for the current render status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/urlbox/latest/actions/create-asynchronous-render": {
      "post": {
        "operationId": "urlbox.create-asynchronous-render",
        "summary": "Create Asynchronous Render",
        "description": "Creates an asynchronous render in Urlbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/urlbox/latest/actions/create-asynchronous-render"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL to render",
                    "example": "https://example.com"
                  },
                  "html": {
                    "type": "string",
                    "description": "The HTML to render",
                    "example": "<html><body>Hello</body></html>"
                  },
                  "format": {
                    "type": "string",
                    "description": "The output format of the render",
                    "example": "png"
                  },
                  "width": {
                    "type": "number",
                    "description": "The viewport width in pixels",
                    "example": 1280
                  },
                  "height": {
                    "type": "number",
                    "description": "The viewport height in pixels",
                    "example": 720
                  },
                  "fullPage": {
                    "type": "boolean",
                    "description": "Capture the full scrollable page"
                  },
                  "selector": {
                    "type": "string",
                    "description": "Capture only the matching element selector",
                    "example": "#main"
                  },
                  "hideCookieBanners": {
                    "type": "boolean",
                    "description": "Automatically hide cookie banners"
                  },
                  "clickAccept": {
                    "type": "boolean",
                    "description": "Try to click the cookie accept button"
                  },
                  "blockAds": {
                    "type": "boolean",
                    "description": "Block popular advertising networks"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "renderId": {
                            "type": "string",
                            "description": "Identifier for the accepted async render request."
                          },
                          "status": {
                            "type": "string",
                            "description": "Accepted render status, typically created."
                          },
                          "statusUrl": {
                            "type": "string",
                            "description": "Polling URL for checking the current render status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/urlbox/latest/actions/create-synchronous-render": {
      "post": {
        "operationId": "urlbox.create-synchronous-render",
        "summary": "Create Synchronous Render",
        "description": "Creates a synchronous render in Urlbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/urlbox/latest/actions/create-synchronous-render"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "example": "https://example.com"
                  },
                  "html": {
                    "type": "string",
                    "example": "<html><body>Hello</body></html>"
                  },
                  "format": {
                    "type": "string",
                    "example": "png"
                  },
                  "width": {
                    "type": "number",
                    "example": 1280
                  },
                  "height": {
                    "type": "number",
                    "example": 720
                  },
                  "fullPage": {
                    "type": "boolean"
                  },
                  "selector": {
                    "type": "string",
                    "example": "#main"
                  },
                  "hideCookieBanners": {
                    "type": "boolean"
                  },
                  "clickAccept": {
                    "type": "boolean"
                  },
                  "blockAds": {
                    "type": "boolean"
                  },
                  "redirectAfter": {
                    "type": "string",
                    "example": "95"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bandwidth": {
                            "type": "number",
                            "description": "Bandwidth used for the generated render in bytes."
                          },
                          "queueTime": {
                            "type": "number",
                            "description": "Time spent waiting in queue in milliseconds."
                          },
                          "renderTime": {
                            "type": "number",
                            "description": "Render generation time in milliseconds."
                          },
                          "renderUrl": {
                            "type": "string",
                            "description": "Temporary URL pointing to the generated render."
                          },
                          "size": {
                            "type": "number",
                            "description": "Size of the generated render in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
